Repository RMC-14/RMC-14, pull requests merged in 2023-11, with the labels that each got.

#215 Removed Stairs Decals (Depreceated) Portet CM Medical Decals
  Resources/Prototypes/.CM14/Decals/medical_decals.yml
  Resources/Textures/.CM14/Decals/medical_decals.rsi/cryo_cell_1.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/cryo_cell_2.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/cryo_cell_3.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/cryo_cell_4.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/cryo_mid.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/cryo_top.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/doc_1.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/doc_2.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/doc_3.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/doc_4.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/doc_striping.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/doc_striping_dir.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/meta.json
  Resources/Textures/.CM14/Decals/medical_decals.rsi/triage.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/triage_bottom.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/triage_bottom_left.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/triage_bottom_right.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/triage_dir.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/triage_left.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/triage_left_down.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/triage_left_up.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/triage_right_down.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/triage_right_up.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/triage_top.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/triage_top_left.png
  Resources/Textures/.CM14/Decals/medical_decals.rsi/triage_top_right.png
Labels: No C#, Status: Needs Review

#214 Ported SS13 CM Posters and replaced old ones
  Resources/Prototypes/.CM14/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/.CM14/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/arious.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/art_1.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/art_2.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/art_3.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/beth.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/eat.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/f_100.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/falling_falcons.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/groves.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/jimmy.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/joan.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/koorlander.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/miss_april.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/miss_february.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/miss_january.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/miss_july.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/mr_universe_1.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/mr_universe_2.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/mr_universe_3.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/mtv.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/pepsi.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/poster_ripped.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/president.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/proper_lifting.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/pulse_rifle.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/random_anything.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/remember_io.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/rocker_1.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/rocker_2.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/rolled_poster.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/safety_goggles_1.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/safety_goggles_2.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/safety_guidance.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/seegson.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/souto.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/suspicious.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/tab.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/the_future.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/theo.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/unicorn.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/vote_no.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/walkman.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/working_joe.png
  Resources/Textures/.CM14/Structures/Wallmounts/posters.rsi/wy.png
Labels: No C#, Status: Needs Review

#12 marine equipment 101: m41a pulse rifle, jumpsuit, armor
  Resources/Prototypes/.CM14/Entities/Objects/Clothing/OuterClothing/uscm_armor.yml
  Resources/Prototypes/.CM14/Entities/Objects/Clothing/Uniforms/uscm_uniforms.yml
  Resources/Prototypes/.CM14/Entities/Objects/Weapons/Guns/Rifles/uscm_rifles.yml
  Resources/Textures/.CM14/Objects/Clothing/OuterClothing/Armor/m3_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/.CM14/Objects/Clothing/OuterClothing/Armor/m3_armor.rsi/icon.png
  Resources/Textures/.CM14/Objects/Clothing/OuterClothing/Armor/m3_armor.rsi/inhand-left.png
  Resources/Textures/.CM14/Objects/Clothing/OuterClothing/Armor/m3_armor.rsi/inhand-right.png
  Resources/Textures/.CM14/Objects/Clothing/OuterClothing/Armor/m3_armor.rsi/meta.json
  Resources/Textures/.CM14/Objects/Clothing/Uniforms/Jumpsuit/marine.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/.CM14/Objects/Clothing/Uniforms/Jumpsuit/marine.rsi/icon.png
  Resources/Textures/.CM14/Objects/Clothing/Uniforms/Jumpsuit/marine.rsi/inhand-left.png
  Resources/Textures/.CM14/Objects/Clothing/Uniforms/Jumpsuit/marine.rsi/inhand-right.png
  Resources/Textures/.CM14/Objects/Clothing/Uniforms/Jumpsuit/marine.rsi/meta.json
  Resources/Textures/.CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/base.png
  Resources/Textures/.CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/bolt-open.png
  Resources/Textures/.CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/equipped-BACKPACK.png
  Resources/Textures/.CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/.CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/icon.png
  Resources/Textures/.CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/inhand-left.png
  Resources/Textures/.CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/inhand-right.png
  Resources/Textures/.CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/mag-0.png
  Resources/Textures/.CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/meta.json
  Resources/Textures/.CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/wielded-inhand-left.png
  Resources/Textures/.CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/wielded-inhand-right.png
Labels: No C#

#362 Add xeno evolution, larva to drone evolution, base xeno prototypes
  Content.Client/_CM14/FORK_CONTENT_GOES_HERE
  Content.Client/_CM14/Marines/MarineOverlay.cs
  Content.Client/_CM14/Marines/MarineSystem.cs
  Content.Client/_CM14/Xenos/Evolution/XenoEvolutionBoundUserInterface.cs
  Content.Client/_CM14/Xenos/Evolution/XenoEvolutionChoiceControl.xaml
  Content.Client/_CM14/Xenos/Evolution/XenoEvolutionChoiceControl.xaml.cs
  Content.Client/_CM14/Xenos/Evolution/XenoEvolutionWindow.xaml
  Content.Client/_CM14/Xenos/Evolution/XenoEvolutionWindow.xaml.cs
  Content.Server/.CM14/Xenos/EvolutionCooldownCommand.cs
  Content.Shared/.CM14/Xenos/Evolution/XenoEvolutionUI.cs
  Content.Shared/.CM14/Xenos/Evolution/XenoOpenEvolutionsEvent.cs
  Content.Shared/.CM14/Xenos/XenoComponent.cs
  Content.Shared/.CM14/Xenos/XenoSystem.cs
  Resources/Locale/en-US/.CM14/cm-commands-base.ftl
  Resources/Locale/en-US/.CM14/decal-spawner.ftl
  Resources/Locale/en-US/.CM14/xeno/xeno-commands.ftl
  Resources/Locale/en-US/.CM14/xeno/xeno-evolve.ftl
  Resources/Prototypes/.CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/.CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/.CM14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/.CM14/Entities/Mobs/Xeno/tier_4_xenos.yml
  Resources/Prototypes/.CM14/Entities/Mobs/Xeno/xeno_actions.yml
  Resources/Textures/.CM14/Actions/xeno_actions.rsi/evolve.png
  Resources/Textures/.CM14/Actions/xeno_actions.rsi/meta.json
Labels: Status: Needs Review, Changes: UI

#469 Add watch xenomorph action, hive entities, cm actions admin panel
  Content.Client/_CM14/Admin/CMAdminEui.cs
  Content.Client/_CM14/Admin/CMAdminWindow.xaml
  Content.Client/_CM14/Admin/CMAdminWindow.xaml.cs
  Content.Client/_CM14/Admin/CMCreateHiveWindow.xaml
  Content.Client/_CM14/Admin/CMCreateHiveWindow.xaml.cs
  Content.Client/_CM14/Admin/CMXenoTab.xaml
  Content.Client/_CM14/Admin/CMXenoTab.xaml.cs
  Content.Client/_CM14/Xenos/Evolution/XenoEvolutionBui.cs
  Content.Client/_CM14/Xenos/UI/XenoChoiceControl.xaml
  Content.Client/_CM14/Xenos/UI/XenoChoiceControl.xaml.cs
  Content.Client/_CM14/Xenos/Watch/XenoWatchBui.cs
  Content.Client/_CM14/Xenos/Watch/XenoWatchSystem.cs
  Content.Client/_CM14/Xenos/Watch/XenoWatchWindow.xaml
  Content.Client/_CM14/Xenos/Watch/XenoWatchWindow.xaml.cs
  Content.Server/_CM14/Admin/CMAdminEui.cs
  Content.Server/_CM14/Admin/CMAdminSystem.cs
  Content.Server/_CM14/Rules/CMRuleComponent.cs
  Content.Server/_CM14/Rules/CMRuleSystem.cs
  Content.Server/_CM14/Xenos/Watch/XenoWatchSystem.cs
  Content.Shared/_CM14/Admin/CMAdminEui.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionSystem.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionUI.cs
  Content.Shared/_CM14/Xenos/Hive/HiveComponent.cs
  Content.Shared/_CM14/Xenos/Hive/XenoHiveSystem.cs
  Content.Shared/_CM14/Xenos/Watch/SharedWatchXenoSystem.cs
  Content.Shared/_CM14/Xenos/Watch/XenoWatchEvent.cs
  Content.Shared/_CM14/Xenos/Watch/XenoWatchUI.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Locale/en-US/_CM14/xeno/xeno-abilities.ftl
  Resources/Locale/en-US/_CM14/xeno/xeno-evolve.ftl
  Resources/Locale/en-US/_CM14/xeno/xeno-ui.ftl
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hive.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
Labels: Status: Needs Review, Changes: UI

#488 Add xeno tail stabs
  Content.Client/_CM14/Xenos/Melee/XenoMeleeSystem.cs
  Content.Server/_CM14/Xenos/Melee/XenoMeleeSystem.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/_CM14/Xenos/Melee/SharedXenoMeleeSystem.cs
  Content.Shared/_CM14/Xenos/Melee/XenoTailStabEvent.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Resources/Audio/_CM14/Xeno/alien_tail_swipe1.ogg
  Resources/Audio/_CM14/Xeno/alien_tail_swipe2.ogg
  Resources/Audio/_CM14/Xeno/alien_tail_swipe3.ogg
  Resources/Audio/_CM14/Xeno/attributions.yml
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_CM14/Audio/xeno_sound_collections.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
Labels: Status: Needs Review

#489 M10 Marine Helmet
  Resources/Prototypes/_CM14/Entities/Objects/Clothing/Head/Helmets/uscm_helmets.yml
  Resources/Textures/_CM14/Objects/Clothing/Head/Helmets/m10.rsi/equipped-HELMET.png
  Resources/Textures/_CM14/Objects/Clothing/Head/Helmets/m10.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Head/Helmets/m10.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Clothing/Head/Helmets/m10.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Clothing/Head/Helmets/m10.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#491 Id sprite fix
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/_CM14/Objects/CMIDs/dogtags.rsi/equipped-IDCARD.png
  Resources/Textures/_CM14/Objects/CMIDs/dogtags.rsi/meta.json
  Resources/Textures/_CM14/Objects/CMIDs/gold_id.rsi/equipped-IDCARD.png
  Resources/Textures/_CM14/Objects/CMIDs/gold_id.rsi/meta.json
  Resources/Textures/_CM14/Objects/CMIDs/id.rsi/equipped-IDCARD.png
  Resources/Textures/_CM14/Objects/CMIDs/id.rsi/meta.json
  Resources/Textures/_CM14/Objects/CMIDs/silver_id.rsi/equipped-IDCARD.png
  Resources/Textures/_CM14/Objects/CMIDs/silver_id.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#585 Add xeno recovery, warding and frenzy pheromones, aura strengths, aura icons and action
  Content.Client/_CM14/Marines/MarineOverlay.cs
  Content.Client/_CM14/Xenos/Pheromones/XenoPheromonesBui.cs
  Content.Client/_CM14/Xenos/Pheromones/XenoPheromonesOverlay.cs
  Content.Client/_CM14/Xenos/Pheromones/XenoPheromonesSystem.cs
  Content.Client/_CM14/Xenos/Pheromones/XenoPheromonesWindow.xaml
  Content.Client/_CM14/Xenos/Pheromones/XenoPheromonesWindow.xaml.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/_CM14/Xenos/Pheromones/XenoPheromonesSystem.cs
  Content.Shared/_CM14/Xenos/Acid/XenoCorrosiveAcidDoAfterEvent.cs
  Content.Shared/_CM14/Xenos/Acid/XenoCorrosiveAcidEvent.cs
  Content.Shared/_CM14/Xenos/Construction/Events/XenoPlantWeedsActionEvent.cs
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Melee/SharedXenoMeleeSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/SharedXenoPheromonesSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoFrenzyPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoPheromones.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoPheromonesActionEvent.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoPheromonesUI.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoRecoveryPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoWardingPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Locale/en-US/_CM14/xeno/xeno-abilities.ftl
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Textures/_CM14/Interface/xeno_pheromones.rsi/frenzy.png
  Resources/Textures/_CM14/Interface/xeno_pheromones.rsi/meta.json
  Resources/Textures/_CM14/Interface/xeno_pheromones.rsi/recovery.png
  Resources/Textures/_CM14/Interface/xeno_pheromones.rsi/warding.png
  Resources/Textures/_CM14/Interface/xeno_pheromones_hud.rsi/aura_frenzy.png
  Resources/Textures/_CM14/Interface/xeno_pheromones_hud.rsi/aura_recovery.png
  Resources/Textures/_CM14/Interface/xeno_pheromones_hud.rsi/aura_warding.png
  Resources/Textures/_CM14/Interface/xeno_pheromones_hud.rsi/frenzy.png
  Resources/Textures/_CM14/Interface/xeno_pheromones_hud.rsi/meta.json
  Resources/Textures/_CM14/Interface/xeno_pheromones_hud.rsi/recovery.png
  Resources/Textures/_CM14/Interface/xeno_pheromones_hud.rsi/warding.png
Labels: Changes: Sprites, Status: Needs Review, Changes: UI

#586 Add xeno hide ability, make larva have SmallMob collision
  Content.Client/_CM14/Xenos/GetDrawDepthEvent.cs
  Content.Client/_CM14/Xenos/Hide/XenoHideVisualizerSystem.cs
  Content.Client/_CM14/Xenos/XenoVisualizerSystem.cs
  Content.Shared/_CM14/Xenos/Hide/XenoHideActionEvent.cs
  Content.Shared/_CM14/Xenos/Hide/XenoHideComponent.cs
  Content.Shared/_CM14/Xenos/Hide/XenoHideSystem.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Content.Shared/_CM14/Xenos/XenoVisualLayers.cs
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/larva.yml
Labels: Status: Needs Review

#587 Standart walls
  Resources/Locale/en-US/_CM14/construction/construction-categories.ftl
  Resources/Prototypes/_CM14/Entities/Structures/Walls/girder.yml
  Resources/Prototypes/_CM14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/_CM14/Recipes/Construction/structures.yml
  Resources/Textures/_CM14/Structures/Walls/girder.rsi/girder.png
  Resources/Textures/_CM14/Structures/Walls/girder.rsi/meta.json
  Resources/Textures/_CM14/Structures/Walls/girder.rsi/reinforced.png
  Resources/Textures/_CM14/Structures/Walls/metal.rsi/full.png
  Resources/Textures/_CM14/Structures/Walls/metal.rsi/meta.json
  Resources/Textures/_CM14/Structures/Walls/metal.rsi/metal0.png
  Resources/Textures/_CM14/Structures/Walls/metal.rsi/metal1.png
  Resources/Textures/_CM14/Structures/Walls/metal.rsi/metal2.png
  Resources/Textures/_CM14/Structures/Walls/metal.rsi/metal3.png
  Resources/Textures/_CM14/Structures/Walls/metal.rsi/metal4.png
  Resources/Textures/_CM14/Structures/Walls/metal.rsi/metal5.png
  Resources/Textures/_CM14/Structures/Walls/metal.rsi/metal6.png
  Resources/Textures/_CM14/Structures/Walls/metal.rsi/metal7.png
  Resources/Textures/_CM14/Structures/Walls/rwall.rsi/full.png
  Resources/Textures/_CM14/Structures/Walls/rwall.rsi/meta.json
  Resources/Textures/_CM14/Structures/Walls/rwall.rsi/rwall0.png
  Resources/Textures/_CM14/Structures/Walls/rwall.rsi/rwall1.png
  Resources/Textures/_CM14/Structures/Walls/rwall.rsi/rwall2.png
  Resources/Textures/_CM14/Structures/Walls/rwall.rsi/rwall3.png
  Resources/Textures/_CM14/Structures/Walls/rwall.rsi/rwall4.png
  Resources/Textures/_CM14/Structures/Walls/rwall.rsi/rwall5.png
  Resources/Textures/_CM14/Structures/Walls/rwall.rsi/rwall6.png
  Resources/Textures/_CM14/Structures/Walls/rwall.rsi/rwall7.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#598 Audio Fix
  Resources/Audio/_CM14/Weapons/Guns/Gunshots/m39.ogg
  Resources/Audio/_CM14/Weapons/Guns/Gunshots/m4a3.ogg
Labels: No C#, Status: Needs Review

#597 Almayer`s walls
  Resources/Prototypes/_CM14/Entities/Structures/Walls/walls.yml
  Resources/Textures/_CM14/Structures/Walls/almayer_black.rsi/hull.png
  Resources/Textures/_CM14/Structures/Walls/almayer_black.rsi/meta.json
  Resources/Textures/_CM14/Structures/Walls/almayer_black.rsi/reinforced.png
  Resources/Textures/_CM14/Structures/Walls/almayer_black.rsi/wall.png
  Resources/Textures/_CM14/Structures/Walls/almayer_black.rsi/wall0.png
  Resources/Textures/_CM14/Structures/Walls/almayer_black.rsi/wall1.png
  Resources/Textures/_CM14/Structures/Walls/almayer_black.rsi/wall2.png
  Resources/Textures/_CM14/Structures/Walls/almayer_black.rsi/wall3.png
  Resources/Textures/_CM14/Structures/Walls/almayer_black.rsi/wall4.png
  Resources/Textures/_CM14/Structures/Walls/almayer_black.rsi/wall5.png
  Resources/Textures/_CM14/Structures/Walls/almayer_black.rsi/wall6.png
  Resources/Textures/_CM14/Structures/Walls/almayer_black.rsi/wall7.png
  Resources/Textures/_CM14/Structures/Walls/almayer_white.rsi/hull.png
  Resources/Textures/_CM14/Structures/Walls/almayer_white.rsi/meta.json
  Resources/Textures/_CM14/Structures/Walls/almayer_white.rsi/reinforced.png
  Resources/Textures/_CM14/Structures/Walls/almayer_white.rsi/wall.png
  Resources/Textures/_CM14/Structures/Walls/almayer_white.rsi/wall0.png
  Resources/Textures/_CM14/Structures/Walls/almayer_white.rsi/wall1.png
  Resources/Textures/_CM14/Structures/Walls/almayer_white.rsi/wall2.png
  Resources/Textures/_CM14/Structures/Walls/almayer_white.rsi/wall3.png
  Resources/Textures/_CM14/Structures/Walls/almayer_white.rsi/wall4.png
  Resources/Textures/_CM14/Structures/Walls/almayer_white.rsi/wall5.png
  Resources/Textures/_CM14/Structures/Walls/almayer_white.rsi/wall6.png
  Resources/Textures/_CM14/Structures/Walls/almayer_white.rsi/wall7.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#601 Add infecting marines, full hugger > chestburster > larva lifecycle and hugger leap/impregnation
  Content.Client/_CM14/Xenos/Hide/XenoHideVisualizerSystem.cs
  Content.Client/_CM14/Xenos/Hugger/XenoHuggerSystem.cs
  Content.Client/_CM14/Xenos/XenoVisualizerSystem.cs
  Content.Server/_CM14/Xenos/Leap/XenoHuggerSystem.cs
  Content.Server/_CM14/Xenos/Watch/XenoWatchSystem.cs
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
  Content.Shared/Procedural/Loot/RandomSpawnsLoot.cs
  Content.Shared/_CM14/Xenos/Construction/Events/XenoSecreteStructureDoAfterEvent.cs
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Devour/XenoDevourSystem.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionSystem.cs
  Content.Shared/_CM14/Xenos/Hide/XenoHideSystem.cs
  Content.Shared/_CM14/Xenos/Hugger/HuggerSpentComponent.cs
  Content.Shared/_CM14/Xenos/Hugger/SharedXenoHuggerSystem.cs
  Content.Shared/_CM14/Xenos/Hugger/VictimBurstComponent.cs
  Content.Shared/_CM14/Xenos/Hugger/VictimHuggedComponent.cs
  Content.Shared/_CM14/Xenos/Hugger/VictimHuggedLayer.cs
  Content.Shared/_CM14/Xenos/Hugger/XenoHuggerComponent.cs
  Content.Shared/_CM14/Xenos/Hugger/XenoLeapActionEvent.cs
  Content.Shared/_CM14/Xenos/Hugger/XenoLeapComponent.cs
  Content.Shared/_CM14/Xenos/Hugger/XenoLeapDoAfterEvent.cs
  Content.Shared/_CM14/Xenos/Hugger/XenoLeapHitEvent.cs
  Content.Shared/_CM14/Xenos/Melee/SharedXenoMeleeSystem.cs
  Content.Shared/_CM14/Xenos/Movement/XenoAnimateMovementComponent.cs
  Content.Shared/_CM14/Xenos/Rest/XenoRestSystem.cs
  Content.Shared/_CM14/Xenos/Watch/SharedWatchXenoSystem.cs
  Resources/Audio/_CM14/Xeno/alien_chestburst.ogg
  Resources/Audio/_CM14/Xeno/alien_chestburst2.ogg
  Resources/Audio/_CM14/Xeno/attributions.yml
  Resources/Locale/en-US/_CM14/xeno/xeno-abilities.ftl
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_CM14/Audio/xeno_sound_collections.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Textures/_CM14/Effects/chest_burst.rsi/burst_lie.png
  Resources/Textures/_CM14/Effects/chest_burst.rsi/burst_stand.png
  Resources/Textures/_CM14/Effects/chest_burst.rsi/bursted_lie.png
  Resources/Textures/_CM14/Effects/chest_burst.rsi/bursted_stand.png
  Resources/Textures/_CM14/Effects/chest_burst.rsi/meta.json
  Resources/Textures/_CM14/Mobs/Xenos/Hugger/hugger_impregnated.rsi/facehugger_impregnated.png
  Resources/Textures/_CM14/Mobs/Xenos/Hugger/hugger_impregnated.rsi/meta.json
  Resources/Textures/_CM14/Mobs/Xenos/Hugger/hugger_mask.rsi/corgi.png
  Resources/Textures/_CM14/Mobs/Xenos/Hugger/hugger_mask.rsi/corgi_puppy.png
  Resources/Textures/_CM14/Mobs/Xenos/Hugger/hugger_mask.rsi/human.png
  Resources/Textures/_CM14/Mobs/Xenos/Hugger/hugger_mask.rsi/meta.json
  SpaceStation14.sln.DotSettings
Labels: Changes: Sprites, Status: Needs Review

#603 Add xeno transfer plasma ability
  Content.Shared/_CM14/Xenos/Acid/XenoAcidSystem.cs
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Hugger/SharedXenoHuggerSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/SharedXenoPheromonesSystem.cs
  Content.Shared/_CM14/Xenos/Plasma/XenoPlasmaSystem.cs
  Content.Shared/_CM14/Xenos/Plasma/XenoTransferPlasmaActionEvent.cs
  Content.Shared/_CM14/Xenos/Plasma/XenoTransferPlasmaDoAfterEvent.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Audio/_CM14/Xeno/alien_drool1.ogg
  Resources/Audio/_CM14/Xeno/attributions.yml
  Resources/Locale/en-US/_CM14/xeno/xeno-abilities.ftl
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_utility_actions.yml
  Resources/Prototypes/_CM14/Audio/xeno_sound_collections.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
Labels: Status: Needs Review

#608 Add order construction xeno ability, hive core and stronger hive weeds
  Content.Client/_CM14/Xenos/Construction/XenoOrderConstructionBui.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/_CM14/Xenos/Construction/XenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Construction/Events/XenoConstructionAddPlasmaDoAfterEvent.cs
  Content.Shared/_CM14/Xenos/Construction/Events/XenoOrderConstructionActionEvent.cs
  Content.Shared/_CM14/Xenos/Construction/Events/XenoOrderConstructionDoAfterEvent.cs
  Content.Shared/_CM14/Xenos/Construction/Events/XenoPlantWeedsActionEvent.cs
  Content.Shared/_CM14/Xenos/Construction/Events/XenoSecreteStructureActionEvent.cs
  Content.Shared/_CM14/Xenos/Construction/HiveConstructionNodeComponent.cs
  Content.Shared/_CM14/Xenos/Construction/HiveCoreComponent.cs
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Construction/XenoOrderConstructionUI.cs
  Content.Shared/_CM14/Xenos/Construction/XenoWeedsComponent.cs
  Content.Shared/_CM14/Xenos/Hugger/SharedXenoHuggerSystem.cs
  Content.Shared/_CM14/Xenos/Plasma/XenoPlasmaSystem.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Resources/Locale/en-US/_CM14/xeno/xeno-abilities.ftl
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_construction_actions.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_doors.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_hive.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_walls.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_weeds.yml
  Resources/Textures/_CM14/Structures/Xenos/hive_core.rsi/core.png
  Resources/Textures/_CM14/Structures/Xenos/hive_core.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#609 adds the m5 bayonet to combat boots
  Resources/Prototypes/_CM14/Entities/Objects/Clothing/Shoes/boots.yml
Labels: No C#, Status: Needs Review

#611 Add xeno armor, defender toggle crest defense ability
  Content.Client/_CM14/Xenos/XenoVisualizerSystem.cs
  Content.Shared/_CM14/Xenos/Armor/XenoArmorComponent.cs
  Content.Shared/_CM14/Xenos/Armor/XenoArmorSystem.cs
  Content.Shared/_CM14/Xenos/Armor/XenoGetArmorEvent.cs
  Content.Shared/_CM14/Xenos/Crest/XenoCrestActionComponent.cs
  Content.Shared/_CM14/Xenos/Crest/XenoCrestComponent.cs
  Content.Shared/_CM14/Xenos/Crest/XenoCrestSystem.cs
  Content.Shared/_CM14/Xenos/Crest/XenoCrestToggledEvent.cs
  Content.Shared/_CM14/Xenos/Crest/XenoToggleCrestActionEvent.cs
  Content.Shared/_CM14/Xenos/XenoVisualLayers.cs
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
Labels: Status: Needs Review

#614 Add defender headbutt ability, knockback, sound and effect
  Content.Client/_CM14/Xenos/Headbutt/XenoHeadbuttSystem.cs
  Content.Client/_CM14/Xenos/Hugger/XenoHuggerSystem.cs
  Content.Server/_CM14/Headbutt/HeadbuttSystem.cs
  Content.Shared/_CM14/Xenos/Acid/XenoAcidSystem.cs
  Content.Shared/_CM14/Xenos/Armor/XenoArmorSystem.cs
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Crest/XenoCrestSystem.cs
  Content.Shared/_CM14/Xenos/Headbutt/SharedXenoHeadbuttSystem.cs
  Content.Shared/_CM14/Xenos/Headbutt/XenoHeadbuttActionEvent.cs
  Content.Shared/_CM14/Xenos/Headbutt/XenoHeadbuttComponent.cs
  Content.Shared/_CM14/Xenos/Hugger/SharedXenoHuggerSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/SharedXenoPheromonesSystem.cs
  Content.Shared/_CM14/Xenos/Plasma/XenoPlasmaSystem.cs
  Resources/Audio/_CM14/Xeno/alien_claw_block.ogg
  Resources/Audio/_CM14/Xeno/attributions.yml
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_CM14/Effects/attack.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/defender.yml
  Resources/Textures/_CM14/Effects/attacks.rsi/animalbite.png
  Resources/Textures/_CM14/Effects/attacks.rsi/bite.png
  Resources/Textures/_CM14/Effects/attacks.rsi/boxing_down.png
  Resources/Textures/_CM14/Effects/attacks.rsi/boxing_left.png
  Resources/Textures/_CM14/Effects/attacks.rsi/boxing_right.png
  Resources/Textures/_CM14/Effects/attacks.rsi/boxing_up.png
  Resources/Textures/_CM14/Effects/attacks.rsi/cleaning_sparkles.png
  Resources/Textures/_CM14/Effects/attacks.rsi/disarm.png
  Resources/Textures/_CM14/Effects/attacks.rsi/grab.png
  Resources/Textures/_CM14/Effects/attacks.rsi/headbite.png
  Resources/Textures/_CM14/Effects/attacks.rsi/meta.json
  Resources/Textures/_CM14/Effects/attacks.rsi/punch.png
  Resources/Textures/_CM14/Effects/attacks.rsi/slam.png
  Resources/Textures/_CM14/Effects/attacks.rsi/slash.png
  Resources/Textures/_CM14/Effects/attacks.rsi/tail.png
  Resources/Textures/_CM14/Effects/attacks.rsi/vampbite.png
  Resources/Textures/_CM14/Mobs/Xenos/Defender/defender.rsi/meta.json
  Resources/Textures/_CM14/Mobs/Xenos/Defender/defender.rsi/thrown.png
  Resources/Textures/_CM14/Mobs/Xenos/Defender/steelcrest_defender.rsi/meta.json
  Resources/Textures/_CM14/Mobs/Xenos/Defender/steelcrest_defender.rsi/thrown.png
Labels: Changes: Sprites, Status: Needs Review

#615 Update Dev map
  Resources/Maps/_CM14/dev_map.yml
Labels: No C#, Status: Needs Review

#617 Add defender tail sweep ability, knockback, stun and effects
  Content.Shared/_CM14/Xenos/Crest/XenoCrestSystem.cs
  Content.Shared/_CM14/Xenos/Melee/SharedXenoMeleeSystem.cs
  Content.Shared/_CM14/Xenos/Sweep/XenoSweepingComponent.cs
  Content.Shared/_CM14/Xenos/Sweep/XenoTailSweepActionEvent.cs
  Content.Shared/_CM14/Xenos/Sweep/XenoTailSweepAttemptEvent.cs
  Content.Shared/_CM14/Xenos/Sweep/XenoTailSweepComponent.cs
  Content.Shared/_CM14/Xenos/Sweep/XenoTailSweepSystem.cs
  Resources/Locale/en-US/_CM14/xeno/xeno-abilities.ftl
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/defender.yml
Labels: Status: Needs Review

#619 Add defender fortify ability, frontal/bullet/explosive resistance, block movement and other xeno actions while fortified
  Content.Client/_CM14/Xenos/XenoVisualizerSystem.cs
  Content.Shared/_CM14/Marines/SharedMarineSystem.cs
  Content.Shared/_CM14/Marines/Squads/SquadSystem.cs
  Content.Shared/_CM14/Xenos/Armor/XenoArmorSystem.cs
  Content.Shared/_CM14/Xenos/Armor/XenoGetArmorEvent.cs
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Crest/XenoCrestSystem.cs
  Content.Shared/_CM14/Xenos/Crest/XenoToggleCrestAttemptEvent.cs
  Content.Shared/_CM14/Xenos/Devour/XenoDevourSystem.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionSystem.cs
  Content.Shared/_CM14/Xenos/Fortify/XenoFortifyActionComponent.cs
  Content.Shared/_CM14/Xenos/Fortify/XenoFortifyActionEvent.cs
  Content.Shared/_CM14/Xenos/Fortify/XenoFortifyAttemptEvent.cs
  Content.Shared/_CM14/Xenos/Fortify/XenoFortifyComponent.cs
  Content.Shared/_CM14/Xenos/Fortify/XenoFortifySystem.cs
  Content.Shared/_CM14/Xenos/Fortify/XenoFortifyToggledEvent.cs
  Content.Shared/_CM14/Xenos/Headbutt/SharedXenoHeadbuttSystem.cs
  Content.Shared/_CM14/Xenos/Headbutt/XenoHeadbuttAttemptEvent.cs
  Content.Shared/_CM14/Xenos/Plasma/XenoPlasmaSystem.cs
  Content.Shared/_CM14/Xenos/Rest/XenoRestAttemptEvent.cs
  Content.Shared/_CM14/Xenos/Rest/XenoRestSystem.cs
  Content.Shared/_CM14/Xenos/Watch/SharedWatchXenoSystem.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Content.Shared/_CM14/Xenos/XenoVisualLayers.cs
  Resources/Locale/en-US/_CM14/xeno/xeno-abilities.ftl
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/defender.yml
Labels: Status: Needs Review

#639 Add hivelord resin walker ability
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/SharedXenoPheromonesSystem.cs
  Content.Shared/_CM14/Xenos/Walker/XenoResinWalkerActionEvent.cs
  Content.Shared/_CM14/Xenos/Walker/XenoResinWalkerComponent.cs
  Content.Shared/_CM14/Xenos/Walker/XenoResinWalkerSystem.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Content.Shared/_CM14/Xenos/XenoOnWeedsChangedEvent.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: Status: Needs Review

#612 CM14 access levels
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Resources/Locale/en-US/_CM14/access/civilian-access.ftl
  Resources/Locale/en-US/_CM14/access/colony-access.ftl
  Resources/Locale/en-US/_CM14/access/dropship-access.ftl
  Resources/Prototypes/_CM14/Access/Groups/auxiliary_support_access_groups.yml
  Resources/Prototypes/_CM14/Access/Groups/colony_access_groups.yml
  Resources/Prototypes/_CM14/Access/Groups/command_access_group.yml
  Resources/Prototypes/_CM14/Access/Groups/engineering_access_groups.yml
  Resources/Prototypes/_CM14/Access/Groups/marine_access_groups.yml
  Resources/Prototypes/_CM14/Access/Groups/medical_access_groups.yml
  Resources/Prototypes/_CM14/Access/Groups/mp_access_groups.yml
  Resources/Prototypes/_CM14/Access/Groups/requisition_access_groups.yml
  Resources/Prototypes/_CM14/Access/almayer_access.yml
  Resources/Prototypes/_CM14/Access/colony_access.yml
  Resources/Prototypes/_CM14/Access/command_access.yml
  Resources/Prototypes/_CM14/Access/dropship_access.yml
  Resources/Prototypes/_CM14/Access/marine_access.yml
  Resources/Prototypes/_CM14/Access/mp_access.yml
  Resources/Prototypes/_CM14/Access/xeno_access.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_doors.yml
Labels: Status: Needs Review

#616 Give radios and access groups, take duffelsbags
  Resources/Prototypes/_CM14/Entities/Objects/Clothing/headsets.yml
  Resources/Prototypes/_CM14/Entities/Objects/IdCards/cm_id_other.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/pilot_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Civilians/correspondent.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Civilians/survivor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/senior_enlisted_advisor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/maint_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/ordnance_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/smartgunner.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/nurse.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/researcher.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/ChiefMilitaryPolice.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/MilitaryPolice.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/MilitaryWarden.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/CargoTech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/MessTech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/Quartermaster.yml
Labels: No C#, Status: Needs Review

#661 Make the hivelord able to build thick resin structures
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_doors.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_walls.yml
Labels: No C#, Status: Needs Review

#662 Add prototypes for all xenomorph castes, health/plasma/armor/damage values and descriptions
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/warrior.yml
Labels: No C#, Status: Needs Review

#663 Added cm backpacks and satchels to the loadouts
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/pilot_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Civilians/correspondent.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Civilians/survivor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/senior_enlisted_advisor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/maint_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/ordnance_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/smartgunner.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/nurse.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/researcher.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/ChiefMilitaryPolice.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/MilitaryPolice.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/MilitaryWarden.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/CargoTech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/MessTech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/Quartermaster.yml
Labels: No C#, Status: Needs Review

#668 Loadout shoes
  Resources/Prototypes/_CM14/Entities/Objects/Clothing/Shoes/boots.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/pilot_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Civilians/correspondent.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Civilians/survivor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/senior_enlisted_advisor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/maint_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/ordnance_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/smartgunner.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/nurse.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/researcher.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/ChiefMilitaryPolice.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/MilitaryPolice.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/MilitaryWarden.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/CargoTech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/MessTech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/Quartermaster.yml
  Resources/Textures/_CM14/Objects/Clothing/Shoes/Marines/black.rsi/equipped-FEET.png
  Resources/Textures/_CM14/Objects/Clothing/Shoes/Marines/black.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Shoes/Marines/black.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Shoes/Marines/brown.rsi/equipped-FEET.png
  Resources/Textures/_CM14/Objects/Clothing/Shoes/Marines/brown.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Shoes/Marines/brown.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Shoes/Marines/jungle.rsi/equipped-FEET.png
  Resources/Textures/_CM14/Objects/Clothing/Shoes/Marines/jungle.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Shoes/Marines/jungle.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Shoes/laceup.rsi/equipped-FEET.png
  Resources/Textures/_CM14/Objects/Clothing/Shoes/laceup.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Shoes/laceup.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#677 Chairs
  Resources/Prototypes/_CM14/Entities/Structures/Furniture/chairs.yml
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/chair.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/chair_alt.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/comfychair.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/comfychair_alpha.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/comfychair_ares.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/comfychair_beige.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/comfychair_black.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/comfychair_blue.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/comfychair_bravo.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/comfychair_charlie.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/comfychair_delta.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/comfychair_lime.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/comfychair_orange.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/comfychair_teal.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/officechair_dark.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/officechair_white.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/wooden_chair.png
  Resources/Textures/_CM14/Structures/Furniture/chairs.rsi/wooden_chair_wings.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#679 Add slowing spit and scattered spit xeno abilities
  Content.Client/_CM14/Xenos/Spit/XenoSpitSystem.cs
  Content.Server/_CM14/Xenos/Spit/XenoSpitSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/_CM14/Xenos/Spit/Scattered/XenoScatteredSpitActionEvent.cs
  Content.Shared/_CM14/Xenos/Spit/Scattered/XenoScatteredSpitComponent.cs
  Content.Shared/_CM14/Xenos/Spit/SharedXenoSpitSystem.cs
  Content.Shared/_CM14/Xenos/Spit/Slowing/HitBySlowingSpitEvent.cs
  Content.Shared/_CM14/Xenos/Spit/Slowing/SlowedBySpitComponent.cs
  Content.Shared/_CM14/Xenos/Spit/Slowing/XenoSlowingSpitActionEvent.cs
  Content.Shared/_CM14/Xenos/Spit/Slowing/XenoSlowingSpitComponent.cs
  Content.Shared/_CM14/Xenos/Spit/Slowing/XenoSlowingSpitProjectileComponent.cs
  Resources/Audio/_CM14/Xeno/alien_spitacid.ogg
  Resources/Audio/_CM14/Xeno/alien_spitacid2.ogg
  Resources/Audio/_CM14/Xeno/attributions.yml
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_CM14/Audio/xeno_sound_collections.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_CM14/Entities/Objects/Xeno/xeno_impacts.yml
  Resources/Prototypes/_CM14/Entities/Objects/Xeno/xeno_projectiles.yml
  Resources/Textures/_CM14/Objects/Xeno/xeno_projectiles.rsi/boiler_railgun.png
  Resources/Textures/_CM14/Objects/Xeno/xeno_projectiles.rsi/meta.json
  Resources/Textures/_CM14/Objects/Xeno/xeno_projectiles.rsi/neurotoxin.png
  Resources/Textures/_CM14/Objects/Xeno/xeno_projectiles.rsi/ping_x.png
  Resources/Textures/_CM14/Objects/Xeno/xeno_projectiles.rsi/ping_x_railgun.png
  Resources/Textures/_CM14/Objects/Xeno/xeno_projectiles.rsi/toxin.png
  Resources/Textures/_CM14/Objects/Xeno/xeno_projectiles.rsi/xeno_acid.png
Labels: Changes: Sprites, Status: Needs Review

#678 Tips... but this time in the CM14 Folder
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/_CM14/Datasets/tips.yml
Labels: Status: Needs Review

#684 Carry over current plasma and rotation after evolving, add popups and delay
  Content.Client/_CM14/Xenos/Evolution/XenoEvolutionBui.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionDoAfterEvent.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionSystem.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionUI.cs
  Content.Shared/_CM14/Xenos/Plasma/XenoPlasmaSystem.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Resources/Locale/en-US/_CM14/xeno/xeno-abilities.ftl
Labels: Status: Needs Review

#686 Split up xeno component into multiple components
  Content.Client/_CM14/Xenos/Construction/XenoChooseStructureBui.cs
  Content.Client/_CM14/Xenos/Construction/XenoOrderConstructionBui.cs
  Content.Client/_CM14/Xenos/Evolution/XenoEvolutionBui.cs
  Content.Client/_CM14/Xenos/Pheromones/XenoPheromonesOverlay.cs
  Content.Client/_CM14/Xenos/Stab/XenoTailStabSystem.cs
  Content.Server/_CM14/Admin/CMAdminEui.cs
  Content.Server/_CM14/Rules/CMRuleSystem.cs
  Content.Server/_CM14/Xenos/Melee/XenoMeleeSystem.cs
  Content.Server/_CM14/Xenos/Stab/XenoTailStabSystem.cs
  Content.Shared/_CM14/Xenos/Acid/XenoAcidComponent.cs
  Content.Shared/_CM14/Xenos/Acid/XenoAcidSystem.cs
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Construction/XenoConstructionComponent.cs
  Content.Shared/_CM14/Xenos/Devour/XenoDevourComponent.cs
  Content.Shared/_CM14/Xenos/Devour/XenoDevourSystem.cs
  Content.Shared/_CM14/Xenos/Evolution/NewXenoEvolvedComponent.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionComponent.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionSystem.cs
  Content.Shared/_CM14/Xenos/Hive/XenoHiveSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/ActiveXenoPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Pheromones/SharedXenoPheromonesSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Plasma/XenoPlasmaComponent.cs
  Content.Shared/_CM14/Xenos/Plasma/XenoPlasmaSystem.cs
  Content.Shared/_CM14/Xenos/Stab/SharedXenoTailStabSystem.cs
  Content.Shared/_CM14/Xenos/Stab/XenoTailStabComponent.cs
  Content.Shared/_CM14/Xenos/Stab/XenoTailStabEvent.cs
  Content.Shared/_CM14/Xenos/Walker/XenoResinWalkerSystem.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Content.Shared/_CM14/Xenos/XenoRegenEvent.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/warrior.yml
Labels: Status: Needs Review

#689 Add missing non-Queen evolutions for the drone
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/warrior.yml
Labels: No C#, Status: Needs Review

#693 Add paralyzing slash xeno ability
  Content.Client/_CM14/Xenos/Pheromones/XenoPheromonesOverlay.cs
  Content.Shared/_CM14/Xenos/Paralyzing/VictimBeingParalyzedComponent.cs
  Content.Shared/_CM14/Xenos/Paralyzing/XenoActiveParalyzingSlashComponent.cs
  Content.Shared/_CM14/Xenos/Paralyzing/XenoParalyzingSlashActionEvent.cs
  Content.Shared/_CM14/Xenos/Paralyzing/XenoParalyzingSlashComponent.cs
  Content.Shared/_CM14/Xenos/Paralyzing/XenoParalyzingSlashSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/SharedXenoPheromonesSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoActivePheromonesComponent.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Locale/en-US/_CM14/xeno/xeno-abilities.ftl
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/sentinel.yml
Labels: Status: Needs Review

#697 Set pheromone strength for carrier, drone, hivelord, lesser drone and Queen
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
Labels: No C#, Status: Needs Review

#698 Add Runner pounce, bone spurs and long range sight abilities
  Content.Client/_CM14/Xenos/Hugger/XenoHuggerSystem.cs
  Content.Client/_CM14/Xenos/Projectile/XenoProjectileSystem.cs
  Content.Client/_CM14/Xenos/Spit/XenoSpitSystem.cs
  Content.Server/_CM14/Xenos/Projectile/XenoProjectileSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/_CM14/Xenos/Hugger/SharedXenoHuggerSystem.cs
  Content.Shared/_CM14/Xenos/Leap/LeapIncapacitatedComponent.cs
  Content.Shared/_CM14/Xenos/Leap/SharedXenoLeapSystem.cs
  Content.Shared/_CM14/Xenos/Leap/XenoLeapActionEvent.cs
  Content.Shared/_CM14/Xenos/Leap/XenoLeapComponent.cs
  Content.Shared/_CM14/Xenos/Leap/XenoLeapDoAfterEvent.cs
  Content.Shared/_CM14/Xenos/Leap/XenoLeapHitEvent.cs
  Content.Shared/_CM14/Xenos/Projectile/Bone/SlowedByBoneChipsComponent.cs
  Content.Shared/_CM14/Xenos/Projectile/Bone/XenoBoneChipsActionEvent.cs
  Content.Shared/_CM14/Xenos/Projectile/Bone/XenoBoneChipsComponent.cs
  Content.Shared/_CM14/Xenos/Projectile/Bone/XenoBoneChipsSystem.cs
  Content.Shared/_CM14/Xenos/Projectile/SharedXenoProjectileSystem.cs
  Content.Shared/_CM14/Xenos/Projectile/Spit/Scattered/XenoScatteredSpitActionEvent.cs
  Content.Shared/_CM14/Xenos/Projectile/Spit/Scattered/XenoScatteredSpitComponent.cs
  Content.Shared/_CM14/Xenos/Projectile/Spit/Slowing/HitBySlowingSpitEvent.cs
  Content.Shared/_CM14/Xenos/Projectile/Spit/Slowing/SlowedBySpitComponent.cs
  Content.Shared/_CM14/Xenos/Projectile/Spit/Slowing/XenoSlowingSpitActionEvent.cs
  Content.Shared/_CM14/Xenos/Projectile/Spit/Slowing/XenoSlowingSpitComponent.cs
  Content.Shared/_CM14/Xenos/Projectile/Spit/Slowing/XenoSlowingSpitProjectileComponent.cs
  Content.Shared/_CM14/Xenos/Projectile/Spit/XenoSpitSystem.cs
  Content.Shared/_CM14/Xenos/Zoom/XenoGetZoomEvent.cs
  Content.Shared/_CM14/Xenos/Zoom/XenoZoomActionEvent.cs
  Content.Shared/_CM14/Xenos/Zoom/XenoZoomComponent.cs
  Content.Shared/_CM14/Xenos/Zoom/XenoZoomSystem.cs
  Resources/Audio/_CM14/Xeno/alien_pounce.ogg
  Resources/Audio/_CM14/Xeno/attributions.yml
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_CM14/Entities/Objects/Xeno/xeno_projectiles.yml
  Resources/Textures/_CM14/Objects/shards.rsi/alienbonechips.png
  Resources/Textures/_CM14/Objects/shards.rsi/bonechips.png
  Resources/Textures/_CM14/Objects/shards.rsi/humanbonechips.png
  Resources/Textures/_CM14/Objects/shards.rsi/large.png
  Resources/Textures/_CM14/Objects/shards.rsi/medium.png
  Resources/Textures/_CM14/Objects/shards.rsi/meta.json
  Resources/Textures/_CM14/Objects/shards.rsi/phoron.png
  Resources/Textures/_CM14/Objects/shards.rsi/phoronlarge.png
  Resources/Textures/_CM14/Objects/shards.rsi/phoronmedium.png
  Resources/Textures/_CM14/Objects/shards.rsi/phoronsmall.png
  Resources/Textures/_CM14/Objects/shards.rsi/shrapnel.png
  Resources/Textures/_CM14/Objects/shards.rsi/shrapnellarge.png
  Resources/Textures/_CM14/Objects/shards.rsi/shrapnelmedium.png
  Resources/Textures/_CM14/Objects/shards.rsi/shrapnelsmall.png
  Resources/Textures/_CM14/Objects/shards.rsi/small.png
  Resources/Textures/_CM14/Objects/shards.rsi/tiny.png
Labels: Changes: Sprites, Status: Needs Review

#707 Add admin humanoid/xeno transform tab
  Content.Client/_CM14/Admin/CMAdminEui.cs
  Content.Client/_CM14/Admin/CMAdminWindow.xaml
  Content.Client/_CM14/Admin/CMAdminWindow.xaml.cs
  Content.Client/_CM14/Admin/CMTransformButton.xaml
  Content.Client/_CM14/Admin/CMTransformButton.xaml.cs
  Content.Client/_CM14/Admin/CMTransformRow.xaml
  Content.Client/_CM14/Admin/CMTransformRow.xaml.cs
  Content.Client/_CM14/Admin/CMTransformTab.xaml
  Content.Client/_CM14/Admin/CMTransformTab.xaml.cs
  Content.Server/_CM14/Admin/CMAdminEui.cs
  Content.Shared/_CM14/Admin/CMAdminEui.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Resources/Locale/en-US/_CM14/xeno/xeno-ui.ftl
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/warrior.yml
Labels: Status: Needs Review, Changes: UI

#708 Adds CM accesses to the aghost.
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: No C#, Status: Needs Review

#709 Almayer and planet tiles
  Resources/Locale/en-US/_CM14/tiles/tiles.ftl
  Resources/Prototypes/_CM14/Decals/almayer.yml
  Resources/Prototypes/_CM14/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_CM14/Tiles/almayer.yml
  Resources/Prototypes/_CM14/Tiles/planet.yml
  Resources/Textures/_CM14/Decals/almayer.rsi/almayer0.png
  Resources/Textures/_CM14/Decals/almayer.rsi/almayer1.png
  Resources/Textures/_CM14/Decals/almayer.rsi/almayer2.png
  Resources/Textures/_CM14/Decals/almayer.rsi/almayer3.png
  Resources/Textures/_CM14/Decals/almayer.rsi/almayer4.png
  Resources/Textures/_CM14/Decals/almayer.rsi/almayer5.png
  Resources/Textures/_CM14/Decals/almayer.rsi/almayer6.png
  Resources/Textures/_CM14/Decals/almayer.rsi/meta.json
  Resources/Textures/_CM14/Objects/Tiles/tiles.rsi/carpet.png
  Resources/Textures/_CM14/Objects/Tiles/tiles.rsi/grass.png
  Resources/Textures/_CM14/Objects/Tiles/tiles.rsi/inhand_left.png
  Resources/Textures/_CM14/Objects/Tiles/tiles.rsi/inhand_right.png
  Resources/Textures/_CM14/Objects/Tiles/tiles.rsi/meta.json
  Resources/Textures/_CM14/Objects/Tiles/tiles.rsi/steel.png
  Resources/Textures/_CM14/Objects/Tiles/tiles.rsi/tile_e.png
  Resources/Textures/_CM14/Objects/Tiles/tiles.rsi/wood.png
  Resources/Textures/_CM14/Tiles/almayer/ai.png
  Resources/Textures/_CM14/Tiles/almayer/black.png
  Resources/Textures/_CM14/Tiles/almayer/catwalk.png
  Resources/Textures/_CM14/Tiles/almayer/default.png
  Resources/Textures/_CM14/Tiles/almayer/meta.json
  Resources/Textures/_CM14/Tiles/almayer/office.png
  Resources/Textures/_CM14/Tiles/almayer/plate.png
  Resources/Textures/_CM14/Tiles/almayer/sterile.png
  Resources/Textures/_CM14/Tiles/almayer/tcomms.png
  Resources/Textures/_CM14/Tiles/almayer/white.png
  Resources/Textures/_CM14/Tiles/almayer/white_sterile.png
  Resources/Textures/_CM14/Tiles/almayer/wood.png
  Resources/Textures/_CM14/Tiles/planet/desert.png
  Resources/Textures/_CM14/Tiles/planet/dirt.png
  Resources/Textures/_CM14/Tiles/planet/grass1.png
  Resources/Textures/_CM14/Tiles/planet/grass2.png
  Resources/Textures/_CM14/Tiles/planet/grass3.png
  Resources/Textures/_CM14/Tiles/planet/meta.json
  Resources/Textures/_CM14/Tiles/planet/sand.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#706 ColMarTech
  Resources/Prototypes/_CM14/Catalog/VendingMachines/Inventories/colmartechequipment.yml
  Resources/Prototypes/_CM14/Catalog/VendingMachines/Inventories/colmartechweapons.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/SMGs/uscm_smgs.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_CM14/Structures/Machines/VendingMachines/colmartechequipment.rsi/broken.png
  Resources/Textures/_CM14/Structures/Machines/VendingMachines/colmartechequipment.rsi/meta.json
  Resources/Textures/_CM14/Structures/Machines/VendingMachines/colmartechequipment.rsi/off.png
  Resources/Textures/_CM14/Structures/Machines/VendingMachines/colmartechweapons.rsi/broken.png
  Resources/Textures/_CM14/Structures/Machines/VendingMachines/colmartechweapons.rsi/meta.json
  Resources/Textures/_CM14/Structures/Machines/VendingMachines/colmartechweapons.rsi/off.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#715 Fix CMP playtime.
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/ChiefMilitaryPolice.yml
Labels: No C#, Status: Needs Review

#716 CM13 ahelps!
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Resources/Audio/_CM14/Effects/Admin/adminhelp.ogg
  Resources/Audio/_CM14/Effects/Admin/attributions.yml
Labels: Status: Needs Review

#719 shows metadata in lobby
  Resources/Audio/_CM14/Lobby/Super_Nova_In_The_Catacombs.ogg
Labels: No C#, Status: Needs Review
