Repository RMC-14/RMC-14, pull requests merged in 2023-12, with the labels that each got.

#722 Removes catwalk ftl line
  Resources/Locale/en-US/_CM14/tiles/tiles.ftl
Labels: No C#, Status: Needs Review

#720 Port cm13 airlock sounds
  Resources/Audio/_CM14/Machines/airlock.ogg
  Resources/Audio/_CM14/Machines/attributions.yml
  Resources/Audio/_CM14/Machines/buzz_two.ogg
  Resources/Prototypes/_CM14/Entities/Structures/Doors/Airlocks/airlocks.yml
Labels: No C#, Status: Needs Review

#734 Fix Burrower and Runner sprites clipping inside walls
  Resources/Textures/_CM14/Mobs/Xenos/Burrower/burrower.rsi/alive.png
  Resources/Textures/_CM14/Mobs/Xenos/Burrower/burrower.rsi/burrowed.png
  Resources/Textures/_CM14/Mobs/Xenos/Burrower/tremor_burrower.rsi/alive.png
  Resources/Textures/_CM14/Mobs/Xenos/Burrower/tremor_burrower.rsi/burrowed.png
  Resources/Textures/_CM14/Mobs/Xenos/Runner/acider_runner.rsi/alive.png
  Resources/Textures/_CM14/Mobs/Xenos/Runner/runner.rsi/alive.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#739 Fix medical belt whitelist
  Resources/Prototypes/_CM14/Entities/Objects/Clothing/Belt/belts.yml
Labels: No C#, Status: Needs Review

#740 Sprite fixes
  Resources/Prototypes/_CM14/Entities/Objects/Clothing/Shoes/boots.yml
  Resources/Textures/_CM14/Markers/cm_jobs.rsi/intel_officer.png
  Resources/Textures/_CM14/Structures/Machines/telecomms.rsi/comm_server.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#741 More decals
  Resources/Prototypes/_CM14/Decals/logo.yml
  Resources/Prototypes/_CM14/Decals/markings.yml
  Resources/Prototypes/_CM14/Decals/weyland_yutani.yml
  Resources/Textures/_CM14/Decals/logo.rsi/logo_0.png
  Resources/Textures/_CM14/Decals/logo.rsi/logo_1.png
  Resources/Textures/_CM14/Decals/logo.rsi/logo_2.png
  Resources/Textures/_CM14/Decals/logo.rsi/logo_3.png
  Resources/Textures/_CM14/Decals/logo.rsi/logo_4.png
  Resources/Textures/_CM14/Decals/logo.rsi/logo_5.png
  Resources/Textures/_CM14/Decals/logo.rsi/logo_6.png
  Resources/Textures/_CM14/Decals/logo.rsi/logo_7.png
  Resources/Textures/_CM14/Decals/logo.rsi/logo_8.png
  Resources/Textures/_CM14/Decals/logo.rsi/meta.json
  Resources/Textures/_CM14/Decals/markings.rsi/arrow.png
  Resources/Textures/_CM14/Decals/markings.rsi/cargo.png
  Resources/Textures/_CM14/Decals/markings.rsi/meta.json
  Resources/Textures/_CM14/Decals/markings.rsi/striped_0.png
  Resources/Textures/_CM14/Decals/markings.rsi/striped_1.png
  Resources/Textures/_CM14/Decals/markings.rsi/striped_2.png
  Resources/Textures/_CM14/Decals/markings.rsi/striped_3.png
  Resources/Textures/_CM14/Decals/markings.rsi/striped_corner_0.png
  Resources/Textures/_CM14/Decals/markings.rsi/striped_corner_1.png
  Resources/Textures/_CM14/Decals/markings.rsi/striped_corner_2.png
  Resources/Textures/_CM14/Decals/markings.rsi/striped_corner_3.png
  Resources/Textures/_CM14/Decals/weyland_yutani.rsi/meta.json
  Resources/Textures/_CM14/Decals/weyland_yutani.rsi/wy0.png
  Resources/Textures/_CM14/Decals/weyland_yutani.rsi/wy1.png
  Resources/Textures/_CM14/Decals/weyland_yutani.rsi/wy2.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#742 Radio channels colors, MarineCommon as Common
  Content.Shared/Chat/SharedChatSystem.cs
  Resources/Prototypes/_CM14/radio_channels.yml
Labels: Status: Needs Review

#743 Add CPR
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/_CM14/Marines/CPR/CPRDoAfterEvent.cs
  Content.Shared/_CM14/Marines/CPR/CPRReceivedComponent.cs
  Content.Shared/_CM14/Marines/CPR/CPRSystem.cs
  Content.Shared/_CM14/Marines/CPR/PerformCPRAttemptEvent.cs
  Content.Shared/_CM14/Marines/CPR/ReceiveCPRAttemptEvent.cs
  Content.Shared/_CM14/Marines/CPR/ReceivingCPRComponent.cs
  Resources/Locale/en-US/_CM14/cpr.ftl
  SpaceStation14.sln.DotSettings
Labels: Status: Needs Review

#756 Added squad acceses to the prep doors
  Resources/Prototypes/_CM14/Entities/Structures/Doors/Airlocks/accesses-marine.yml
Labels: No C#, Status: Needs Review

#757 Add mapping editor
  Content.Client/Commands/MappingClientSideSetupCommand.cs
  Content.Client/ContextMenu/UI/ContextMenuUIController.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/_CM14/Mapping/MappingActionsButton.xaml
  Content.Client/_CM14/Mapping/MappingActionsButton.xaml.cs
  Content.Client/_CM14/Mapping/MappingDoNotMeasure.xaml
  Content.Client/_CM14/Mapping/MappingDoNotMeasure.xaml.cs
  Content.Client/_CM14/Mapping/MappingManager.cs
  Content.Client/_CM14/Mapping/MappingOverlay.cs
  Content.Client/_CM14/Mapping/MappingPrototype.cs
  Content.Client/_CM14/Mapping/MappingPrototypeList.xaml
  Content.Client/_CM14/Mapping/MappingPrototypeList.xaml.cs
  Content.Client/_CM14/Mapping/MappingScreen.xaml
  Content.Client/_CM14/Mapping/MappingScreen.xaml.cs
  Content.Client/_CM14/Mapping/MappingSpawnButton.xaml
  Content.Client/_CM14/Mapping/MappingSpawnButton.xaml.cs
  Content.Client/_CM14/Mapping/MappingState.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_CM14/Mapping/MappingManager.cs
  Content.Shared/_CM14/Input/CMKeyFunctions.cs
  Content.Shared/_CM14/Mapping/MappingMapDataMessage.cs
  Content.Shared/_CM14/Mapping/MappingSaveMapErrorMessage.cs
  Content.Shared/_CM14/Mapping/MappingSaveMapMessage.cs
  Resources/Textures/_CM14/Interface/eraser.svg
  Resources/Textures/_CM14/Interface/eraser.svg.png
  Resources/Textures/_CM14/Interface/eyedropper.svg
  Resources/Textures/_CM14/Interface/eyedropper.svg.png
  Resources/keybinds.yml
Labels: Status: Needs Review, Changes: UI

#760 Add platforms
  Resources/Prototypes/_CM14/Entities/Structures/platform.yml
  Resources/Textures/_CM14/Structures/platforms.rsi/kutjevo_platform.png
  Resources/Textures/_CM14/Structures/platforms.rsi/kutjevo_platform_deco.png
  Resources/Textures/_CM14/Structures/platforms.rsi/kutjevo_platform_overlay.png
  Resources/Textures/_CM14/Structures/platforms.rsi/kutjevo_platform_sm.png
  Resources/Textures/_CM14/Structures/platforms.rsi/kutjevo_platform_sm_deco.png
  Resources/Textures/_CM14/Structures/platforms.rsi/kutjevo_platform_sm_stair.png
  Resources/Textures/_CM14/Structures/platforms.rsi/kutjevo_platform_sm_stair_alt.png
  Resources/Textures/_CM14/Structures/platforms.rsi/kutjevo_rock.png
  Resources/Textures/_CM14/Structures/platforms.rsi/kutjevo_rock_deco.png
  Resources/Textures/_CM14/Structures/platforms.rsi/kutjevo_rock_overlay.png
  Resources/Textures/_CM14/Structures/platforms.rsi/kutjevo_stair_plate.png
  Resources/Textures/_CM14/Structures/platforms.rsi/meta.json
  Resources/Textures/_CM14/Structures/platforms.rsi/platform.png
  Resources/Textures/_CM14/Structures/platforms.rsi/platform_deco-alt.png
  Resources/Textures/_CM14/Structures/platforms.rsi/platform_deco.png
  Resources/Textures/_CM14/Structures/platforms.rsi/platform_overlay.png
  Resources/Textures/_CM14/Structures/platforms.rsi/platform_stair.png
  Resources/Textures/_CM14/Structures/platforms.rsi/platform_stair_alt.png
  Resources/Textures/_CM14/Structures/platforms.rsi/sandstone.png
  Resources/Textures/_CM14/Structures/platforms.rsi/sandstone_deco.png
  Resources/Textures/_CM14/Structures/platforms.rsi/shiva.png
  Resources/Textures/_CM14/Structures/platforms.rsi/shiva_deco.png
  Resources/Textures/_CM14/Structures/platforms.rsi/stone.png
  Resources/Textures/_CM14/Structures/platforms.rsi/stone_deco.png
  Resources/Textures/_CM14/Structures/platforms.rsi/strata_metalplatform.png
  Resources/Textures/_CM14/Structures/platforms.rsi/strata_metalplatform_deco.png
  Resources/Textures/_CM14/Structures/platforms.rsi/strata_metalplatform_overlay.png
  Resources/Textures/_CM14/Structures/platforms.rsi/strata_platform.png
  Resources/Textures/_CM14/Structures/platforms.rsi/strata_platform_deco.png
  Resources/Textures/_CM14/Structures/platforms.rsi/strata_platform_overlay.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#761 Ported human screams
  Resources/Audio/_CM14/Voice/Human/ack_scream.ogg
  Resources/Audio/_CM14/Voice/Human/attributions.yml
  Resources/Audio/_CM14/Voice/Human/female_scream_1.ogg
  Resources/Audio/_CM14/Voice/Human/female_scream_2.ogg
  Resources/Audio/_CM14/Voice/Human/female_scream_3.ogg
  Resources/Audio/_CM14/Voice/Human/female_scream_4.ogg
  Resources/Audio/_CM14/Voice/Human/female_scream_5.ogg
  Resources/Audio/_CM14/Voice/Human/jackson_scream.ogg
  Resources/Audio/_CM14/Voice/Human/male_scream_1.ogg
  Resources/Audio/_CM14/Voice/Human/male_scream_2.ogg
  Resources/Audio/_CM14/Voice/Human/male_scream_3.ogg
  Resources/Audio/_CM14/Voice/Human/male_scream_4.ogg
  Resources/Audio/_CM14/Voice/Human/male_scream_5.ogg
  Resources/Audio/_CM14/Voice/Human/tantrum_scream.ogg
  Resources/Audio/_CM14/Voice/Human/tomscream.ogg
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Player/human.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/human.yml
  Resources/Prototypes/_CM14/SoundCollections/screams.yml
  Resources/Prototypes/_CM14/Voice/speech_emote_sounds.yml
Labels: No C#, Status: Needs Review

#763 Pheromones cleanup
  Content.Shared/_CM14/Xenos/Pheromones/SharedXenoPheromonesSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoActivePheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoFrenzyPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoRecoveryPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoWardingPheromonesComponent.cs
Labels: Status: Needs Review

#764 Add hypersleep chamber prototype and sprites
  Resources/Prototypes/_CM14/Entities/Structures/Machines/hypersleep.yml
  Resources/Textures/_CM14/Structures/Machines/hypersleep.rsi/closed.png
  Resources/Textures/_CM14/Structures/Machines/hypersleep.rsi/meta.json
  Resources/Textures/_CM14/Structures/Machines/hypersleep.rsi/open.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#768 Add M37A2 shotgun
  Content.DoorSplitter/Program.cs
  Content.Scripts/Content.Scripts.csproj
  Content.Scripts/DirectoryFinder.cs
  Content.Scripts/DoorSplitter.cs
  Content.Scripts/MetaFixer.cs
  Content.Scripts/Program.cs
  Resources/Audio/_CM14/Weapons/Guns/Gunshots/m37a2.ogg
  Resources/Audio/_CM14/Weapons/Guns/Reload/m37a2.ogg
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Shotguns/uscm_shotguns.yml
  Resources/Textures/_CM14/Objects/Weapons/Guns/Shotguns/m37a2.rsi/base.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Shotguns/m37a2.rsi/equipped-BACKPACK.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Shotguns/m37a2.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Shotguns/m37a2.rsi/icon.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Shotguns/m37a2.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Shotguns/m37a2.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Shotguns/m37a2.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Guns/Shotguns/m37a2.rsi/wielded-inhand-left.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Shotguns/m37a2.rsi/wielded-inhand-right.png
  SpaceStation14.sln
  SpaceStation14.sln.DotSettings
Labels: Changes: Sprites, Status: Needs Review
