Repository RMC-14/RMC-14, pull requests merged in 2024-04, with the labels that each got.

#999 Fixed pill size
  Resources/Prototypes/_CM14/Entities/Objects/Medical/pills.yml
Labels: No C#, Status: Needs Review, High Priority, URGENT

#1002 Automatically expand the space of any storages that are too small on spawn, adjust item sizes
  Content.IntegrationTests/Tests/StorageTest.cs
  Content.Server/Storage/EntitySystems/StorageSystem.Fill.cs
  Content.Shared/_CM14/Storage/CMStorageItemFillEvent.cs
  Content.Shared/_CM14/Storage/CMStorageSystem.cs
  Resources/Prototypes/_CM14/Entities/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/auto_injectors.yml
  Resources/Prototypes/_CM14/tags.yml
  Resources/Prototypes/item_size.yml
Labels: Status: Needs Review, URGENT

#1003 Fill medical belts
  Resources/Prototypes/_CM14/Catalog/Fills/Clothing/belt.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Belt/belts.yml
Labels: No C#, Medium Priority

#998 Ported role: Corporate Liaison
  Resources/Locale/en-US/_CM14/job/civilians.ftl
  Resources/Prototypes/_CM14/Entities/Clothing/Uniforms/liaison_uniforms.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Uniforms/uscm_uniforms.yml
  Resources/Prototypes/_CM14/Entities/Objects/IdCards/cm_id_other.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Civilians/liaison.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Departments/civilians_department.yml
  Resources/Prototypes/_CM14/Roles/Jobs/JobIcons/other_job_icons.yml
  Resources/Prototypes/_CM14/Roles/play_time_trackers.yml
  Resources/Textures/_CM14/Markers/cm_jobs.rsi/corp_liaison.png
  Resources/Textures/_CM14/Markers/cm_jobs.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_black.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_black.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_black.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_blue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_blue.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_blue.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_brown.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_brown.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_brown.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_field.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_field.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_field.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_formal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_formal.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_formal.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_ivy.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_ivy.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/corporate_ivy.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_blue_blazer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_blue_blazer.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_blue_blazer.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_charcoal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_charcoal.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_charcoal.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_formal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_formal.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_formal.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_outing.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_outing.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_outing.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_outing_red.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_outing_red.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_outing_red.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_regular.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_regular.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_regular.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_suspenders.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_suspenders.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Uniforms/Liaison/liaison_suspenders.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review, Low Priority

#1005 Updated Savannah
  Resources/Maps/_CM14/savannah.yml
Labels: No C#, Status: Needs Review

#1017 machine frame sprites
  Resources/Prototypes/_CM14/Entities/Structures/Machines/machine_frame.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/utilities/machine_frame.yml
  Resources/Prototypes/_CM14/Recipes/Construction/utilities.yml
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/0.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/1.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/2.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/3.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/4.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/box_0.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/box_1.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/box_2.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/hdd1.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/hdd2.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/meta.json
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/rom1.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/rom2.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/romos1.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/romos2.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/vbox_0.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/vbox_1.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/vbox_2.png
  Resources/Textures/_CM14/Structures/Machines/parts.rsi/vbox_3.png
  Resources/Textures/_CM14/Structures/Machines/stock_parts/0.png
  Resources/Textures/_CM14/Structures/Machines/stock_parts/1.png
  Resources/Textures/_CM14/Structures/Machines/stock_parts/2.png
  Resources/Textures/_CM14/Structures/Machines/stock_parts/3.png
  Resources/Textures/_CM14/Structures/Machines/stock_parts/4.png
  Resources/Textures/_CM14/Structures/Machines/stock_parts/box_0.png
  Resources/Textures/_CM14/Structures/Machines/stock_parts/box_1.png
  Resources/Textures/_CM14/Structures/Machines/stock_parts/box_2.png
  Resources/Textures/_CM14/Structures/Machines/stock_parts/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#1018 Morgue and crematorium
  Resources/Prototypes/_CM14/Entities/Structures/Storage/morgue.yml
  Resources/Textures/_CM14/Structures/Storage/morgue.rsi/crema_active.png
  Resources/Textures/_CM14/Structures/Storage/morgue.rsi/crema_closed.png
  Resources/Textures/_CM14/Structures/Storage/morgue.rsi/crema_contents.png
  Resources/Textures/_CM14/Structures/Storage/morgue.rsi/crema_open.png
  Resources/Textures/_CM14/Structures/Storage/morgue.rsi/crema_tray.png
  Resources/Textures/_CM14/Structures/Storage/morgue.rsi/crema_tray_bloody.png
  Resources/Textures/_CM14/Structures/Storage/morgue.rsi/meta.json
  Resources/Textures/_CM14/Structures/Storage/morgue.rsi/morgue_closed.png
  Resources/Textures/_CM14/Structures/Storage/morgue.rsi/morgue_contents.png
  Resources/Textures/_CM14/Structures/Storage/morgue.rsi/morgue_open.png
  Resources/Textures/_CM14/Structures/Storage/morgue.rsi/morgue_tray.png
  Resources/Textures/_CM14/Structures/Storage/morgue.rsi/morgue_tray_bloody.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#1140 Adds supply crates
  Resources/Prototypes/_CM14/Catalog/Cargo/CMCargoCatalog.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Crates/supplies.yml
Labels: No C#, Status: Needs Review

#1141 M41AE2 Crate
  Resources/Prototypes/_CM14/Catalog/Cargo/CMCargoCatalog.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Crates/weapons.yml
Labels: No C#, Status: Needs Review

#1148 Add Surplus Uniform Vendor
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
Labels: No C#, Status: Needs Review

#1157 PistolsFix
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Pistols/uscm_pistols.yml
Labels: No C#, Status: Needs Review

#1144 Tweak Storages
  Resources/Prototypes/_CM14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Head/Helmets/uscm_helmets.yml
  Resources/Prototypes/_CM14/Entities/Clothing/webbing.yml
Labels: No C#, Status: Needs Review

#1142 cargo can buy engi supply
  Resources/Prototypes/_CM14/Catalog/Cargo/CMCargoCatalog.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/_CM14/Catalog/VendingMachines/Inventories/circuits.yml
  Resources/Prototypes/_CM14/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_CM14/Stacks/Materials/Sheets/metal.yml
Labels: No C#, Status: Needs Review

#1161 add a missing tile name
  Resources/Locale/en-US/_CM14/tiles/tiles.ftl
Labels: No C#, Status: Needs Review

#1162 SavannahTweaks
  Resources/Maps/_CM14/savannah.yml
Labels: No C#, Status: Needs Review

#1180 TraitsCleanupRound4
  Resources/IgnoredPrototypes/cm_ignoredPrototypes.yml
  Resources/Prototypes/_CM14/Traits/cm_inconveniences.yml
Labels: No C#, Status: Needs Review

#1182 LockerFills1
  Resources/Prototypes/_CM14/Catalog/Fills/Lockers/biohazard.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Lockers/security.yml
Labels: No C#, Status: Needs Review

#1183 Makes sandbags climable, barbed sandbags unclimbable
  Content.Shared/_CM14/Barricade/BarbedSystem.cs
  Resources/Locale/en-US/_CM14/barbedwire/barbedwire.ftl
  Resources/Prototypes/_CM14/Entities/Structures/Walls/sandbags.yml
Labels: Status: Needs Review

#1184 Add queen ovipositor and eggs, finish xeno lifecycle
  Content.Client/_CM14/Marines/MarineOverlay.cs
  Content.Client/_CM14/Xenos/Egg/XenoEggVisualizerSystem.cs
  Content.Client/_CM14/Xenos/Evolution/XenoEvolutionBui.cs
  Content.Client/_CM14/Xenos/XenoVisualizerSystem.cs
  Content.Server/_CM14/Rules/CMRuleSystem.cs
  Content.Server/_CM14/Xenos/EvolutionCooldownCommand.cs
  Content.Shared/_CM14/Barricade/BarbedSystem.cs
  Content.Shared/_CM14/Hands/CMHandsSystem.cs
  Content.Shared/_CM14/Hands/DropHeldOnIncapacitateComponent.cs
  Content.Shared/_CM14/Hands/GiveHandsComponent.cs
  Content.Shared/_CM14/Hands/WhitelistPickupByComponent.cs
  Content.Shared/_CM14/Hands/WhitelistPickupComponent.cs
  Content.Shared/_CM14/Xenos/Egg/XenoAttachedOvipositorComponent.cs
  Content.Shared/_CM14/Xenos/Egg/XenoEggComponent.cs
  Content.Shared/_CM14/Xenos/Egg/XenoEggStateChangedEvent.cs
  Content.Shared/_CM14/Xenos/Egg/XenoEggSystem.cs
  Content.Shared/_CM14/Xenos/Egg/XenoGrowOvipositorActionComponent.cs
  Content.Shared/_CM14/Xenos/Egg/XenoGrowOvipositorActionEvent.cs
  Content.Shared/_CM14/Xenos/Egg/XenoGrowOvipositorDoAfterEvent.cs
  Content.Shared/_CM14/Xenos/Egg/XenoOvipositorCapableComponent.cs
  Content.Shared/_CM14/Xenos/XenoVisualLayers.cs
  Resources/Locale/en-US/_CM14/item_size.ftl
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_egg.yml
  Resources/Prototypes/_CM14/item_size.yml
  Resources/Textures/_CM14/Structures/Xenos/xeno_egg.rsi/egg.png
  Resources/Textures/_CM14/Structures/Xenos/xeno_egg.rsi/egg_exploded.png
  Resources/Textures/_CM14/Structures/Xenos/xeno_egg.rsi/egg_exploding.png
  Resources/Textures/_CM14/Structures/Xenos/xeno_egg.rsi/egg_growing.png
  Resources/Textures/_CM14/Structures/Xenos/xeno_egg.rsi/egg_item.png
  Resources/Textures/_CM14/Structures/Xenos/xeno_egg.rsi/egg_opened.png
  Resources/Textures/_CM14/Structures/Xenos/xeno_egg.rsi/egg_opening.png
  Resources/Textures/_CM14/Structures/Xenos/xeno_egg.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#1185 Gun yml fixes
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Pistols/uscm_pistols.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Rifles/uscm_rifles.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/SMGs/uscm_smgs.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Snipers/uscm_snipers.yml
Labels: No C#, Status: Needs Review

#1187 Fix multiplier issues with marine orders
  Content.Shared/_CM14/Marines/Orders/FocusOrderComponent.cs
  Content.Shared/_CM14/Marines/Orders/HoldOrderComponent.cs
  Content.Shared/_CM14/Marines/Orders/MarineOrdersComponent.cs
  Content.Shared/_CM14/Marines/Orders/MoveOrderComponent.cs
  Content.Shared/_CM14/Marines/Orders/SharedMarineOrdersSystem.cs
Labels: Status: Needs Review

#1206 Add all skills to all job prototypes
  Content.Shared/_CM14/Marines/Skills/SkillsComponent.cs
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/pilot_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Civilians/correspondent.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Civilians/liaison.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Civilians/survivor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/senior_enlisted_advisor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/maint_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/ordnance_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/smartgunner.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/nurse.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/researcher.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/ChiefMilitaryPolice.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/MilitaryPolice.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/MilitaryWarden.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/CargoTech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/MessTech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/Quartermaster.yml
Labels: Status: Needs Review

#1208 Prevent runners from pulling while leaping
  Content.Shared/_CM14/Xenos/Leap/SharedXenoLeapSystem.cs
Labels: Status: Needs Review

#1209 Fix moving entities leaving the corrosive acid effect behind
  Content.Shared/_CM14/Xenos/Acid/XenoAcidSystem.cs
  Resources/Prototypes/_CM14/Effects/xeno_acid.yml
Labels: Status: Needs Review

#1211 Fixed xenos not being able to add plasma to hive cores
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
Labels: Status: Needs Review

#1221 fix shotgun cycling
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Shotguns/uscm_shotguns.yml
Labels: No C#, Status: Needs Review

#1219 Fix larva and huggers bumping open doors and having hands
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
Labels: No C#, Status: Needs Review

#1223 Fix not being able to use the hf2 health analyzer on others
  Content.Server/_CM14/Medical/Scanner/HealthScannerSystem.cs
Labels: Status: Needs Review

#1220 remove all starting mags and bullets
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Pistols/uscm_pistols.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Rifles/uscm_rifles.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/SMGs/uscm_smgs.yml
Labels: No C#, Status: Needs Review

#1224 make grenades not explode eachother
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#, Status: Needs Review

#1232 Make developed xenos knock you down if you try to pull them
  Content.Shared/_CM14/Pulling/KnockdownOnPullAttemptComponent.cs
  Content.Shared/_CM14/Pulling/KnockdownOnPullAttemptImmuneComponent.cs
  Content.Shared/_CM14/Pulling/KnockdownOnPullAttemptSystem.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
Labels: Status: Needs Review

#1225 fix catwalks not rotating
  Resources/Prototypes/_CM14/Entities/Structures/catwalk.yml
Labels: No C#, Status: Needs Review

#1233 Add xeno explosion armor
  Content.Shared/_CM14/Xenos/Armor/XenoArmorComponent.cs
  Content.Shared/_CM14/Xenos/Armor/XenoArmorSystem.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/warrior.yml
Labels: Status: Needs Review

#1236 Remove Pistol Mags from pistols on spawn
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Pistols/uscm_pistols.yml
Labels: No C#, Status: Needs Review

#1238 World Accents
  Resources/Locale/en-US/_CM14/cmtraits.ftl
  Resources/Prototypes/_CM14/Traits/cm_neutral.yml
Labels: No C#, Status: Needs Review

#1239 recoil try #2 please checks work with me
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Pistols/uscm_pistols.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Rifles/uscm_rifles.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/SMGs/uscm_smgs.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Snipers/uscm_snipers.yml
Labels: No C#, Status: Needs Review

#1243 Glass shards don't hurt xenos and humans
  Resources/Prototypes/_CM14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
Labels: No C#, Status: Needs Review

#1235 Make radio more readable on new chat
  Resources/Prototypes/_CM14/radio_channels.yml
Labels: No C#, Status: Needs Review

#1245 Radio clarity 2...
  Resources/Prototypes/_CM14/radio_channels.yml
Labels: No C#, Status: Needs Review

#1246 Fix incorrect sizes in night vision overlay
  Content.Client/_CM14/NightVision/NightVisionOverlay.cs
Labels: Status: Needs Review

#1248 Make admin ghosts able to pull xenos again
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: No C#, Status: Needs Review

#1249 Add xeno AI and ghost takeover
  Resources/Locale/en-US/_CM14/xeno/xeno-ghost-role.ftl
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
Labels: No C#, Status: Needs Review

#1250 Fix evolution cooldowns for defender, drone, lurker, runner, sentinel, spitter and warrior
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_evolve_actions.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/warrior.yml
Labels: No C#, Status: Needs Review

#1247 Make pump shotguns delay after shooting instead of pumping, examine text, popups when not able to shoot
  Content.Client/_CM14/Weapons/Ranged/PumpActionSystem.cs
  Content.Server/_CM14/Weapons/Ranged/PumpActionSystem.cs
  Content.Shared/_CM14/Weapons/Ranged/CMPumpActionSystem.cs
  Content.Shared/_CM14/Weapons/Ranged/PumpActionComponent.cs
  Content.Shared/_CM14/Weapons/Ranged/SharedPumpActionSystem.cs
  Content.Shared/_CM14/Weapons/Ranged/ShootUseDelayComponent.cs
  Content.Shared/_CM14/Weapons/Ranged/ShootUseDelaySystem.cs
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Shotguns/uscm_shotguns.yml
Labels: Status: Needs Review

#1244 Change all item and storage sizes to be consistent with CM13
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/_CM14/Storage/CMStorageSystem.cs
  Content.Shared/_CM14/Storage/IgnoreContentsSizeComponent.cs
  Resources/Prototypes/_CM14/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_CM14/Entities/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Clothing/webbing.yml
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Drinks/cans.yml
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Food/MRE/mre.yml
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Food/bar.yml
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Food/prepared.yml
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Smokeables/cigarettes.yml
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Smokeables/matchbooks.yml
  Resources/Prototypes/_CM14/Entities/Objects/Devices/Electronics/radio.yml
  Resources/Prototypes/_CM14/Entities/Objects/IdCards/cm_base_id.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/barbedwire.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/beaker.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/firstaidkits.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/health_analyzer.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/hypospray.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/pill_canisters.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/surgery.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/syringes.yml
  Resources/Prototypes/_CM14/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/_CM14/Entities/Objects/Specific/Chemistry/chemistry-bottles.yml
  Resources/Prototypes/_CM14/Entities/Objects/Tools/etool.yml
  Resources/Prototypes/_CM14/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/_CM14/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_CM14/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/smg.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/sniper.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/revolver.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Pistols/uscm_pistols.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Rifles/uscm_rifles.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/SMGs/uscm_smgs.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Snipers/uscm_snipers.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_CM14/Entities/Objects/encryption_keys.yml
  Resources/Prototypes/_CM14/Entities/Objects/lamp.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Medical/iv.yml
  Resources/Prototypes/_CM14/tags.yml
Labels: Status: Needs Review

#1240 remove redundant "caseless" references
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/smg.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/sniper.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/SMGs/uscm_smgs.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
Labels: No C#, Status: Needs Review

#1241 Add space to wideswing on xenos
  Content.Client/Input/ContentContexts.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Client/_CM14/Weapons/Melee/CMMeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/_CM14/Input/CMKeyFunctions.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/keybinds.yml
Labels: Status: Needs Review

#1252 Add marine orders to the corresponding leadership roles, make values consistent with CM13
  Content.Client/_CM14/Marines/Orders/MarineOrdersSystem.cs
  Content.Client/_CM14/Marines/Orders/OrdersOverlay.cs
  Content.Server/_CM14/Marines/Orders/MarineOrdersSystem.cs
  Content.Shared/_CM14/Marines/Orders/FocusOrderComponent.cs
  Content.Shared/_CM14/Marines/Orders/HoldOrderComponent.cs
  Content.Shared/_CM14/Marines/Orders/IOrderComponent.cs
  Content.Shared/_CM14/Marines/Orders/MarineOrdersComponent.cs
  Content.Shared/_CM14/Marines/Orders/MoveOrderComponent.cs
  Content.Shared/_CM14/Marines/Orders/Orders.cs
  Content.Shared/_CM14/Marines/Orders/SharedMarineOrdersSystem.cs
  Resources/Prototypes/_CM14/Actions/Marines/marine_order_actions.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/pilot_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/senior_enlisted_advisor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/chief_military_police.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/military_police.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/military_warden.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/cargo_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/mess_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/quartermaster.yml
Labels: Status: Needs Review

#1253 Add a delay to opening big backpacks and close them on move
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/Storage/Systems/StorageSystem.cs
  Content.Server/Inventory/ServerInventorySystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/_CM14/Storage/CMStorageSystem.cs
  Content.Shared/_CM14/Storage/OpenStorageDoAfterEvent.cs
  Content.Shared/_CM14/Storage/StorageCloseOnMoveComponent.cs
  Content.Shared/_CM14/Storage/StorageOpenComponent.cs
  Content.Shared/_CM14/Storage/StorageOpenDoAfterComponent.cs
  Resources/Prototypes/_CM14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Back/satchels.yml
Labels: Status: Needs Review

#1257 Fix inconsistent range for runner and hugger leaps
  Content.Client/_CM14/Xenos/XenoVisualizerSystem.cs
  Content.Shared/_CM14/Xenos/Leap/SharedXenoLeapSystem.cs
  Content.Shared/_CM14/Xenos/Leap/XenoLeapComponent.cs
  Content.Shared/_CM14/Xenos/Leap/XenoLeapingComponent.cs
Labels: Status: Needs Review

#1254 Add attaching facehuggers by clicking, huggable component
  Content.Client/_CM14/Xenos/Hugger/XenoHuggerSystem.cs
  Content.Shared/_CM14/Xenos/Hugger/AttachHuggerDoAfterEvent.cs
  Content.Shared/_CM14/Xenos/Hugger/HuggableComponent.cs
  Content.Shared/_CM14/Xenos/Hugger/SharedXenoHuggerSystem.cs
  Content.Shared/_CM14/Xenos/Hugger/XenoHuggerComponent.cs
  Content.Shared/_CM14/Xenos/Leap/SharedXenoLeapSystem.cs
  Content.Shared/_CM14/Xenos/Leap/XenoLeapHitEvent.cs
  Content.Shared/_CM14/Xenos/Leap/XenoLeapingComponent.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
  Resources/Prototypes/_CM14/Entities/Mobs/debug_mobs.yml
  SpaceStation14.sln.DotSettings
Labels: Status: Needs Review

#1256 fix xenos melting own structures
  Content.Shared/_CM14/Xenos/Acid/CorrodableComponent.cs
  Content.Shared/_CM14/Xenos/Acid/CorrodibleComponent.cs
  Content.Shared/_CM14/Xenos/Acid/XenoAcidSystem.cs
  Resources/Locale/en-US/_CM14/xeno/xeno-abilities.ftl
  Resources/Prototypes/Entities/Structures/base_structure.yml
  Resources/Prototypes/_CM14/Entities/Structures/Base/base_structure.yml
  Resources/Prototypes/_CM14/Entities/Structures/Doors/Windoors/assembly.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Medical/iv.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/hypersleep.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/requisitions.yml
  Resources/Prototypes/_CM14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_CM14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_CM14/Entities/Structures/Windows/windows.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_doors.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_walls.yml
  Resources/Prototypes/_CM14/Entities/cm_entity.yml
  SpaceStation14.sln.DotSettings
Labels: Status: Needs Review

#1281 Make xeno armor only reduce Brute damage
  Content.Shared/_CM14/Xenos/Armor/XenoArmorSystem.cs
Labels: Status: Needs Review

#1283 Fix being able to see within containers with the night vision overlay
  Content.Client/_CM14/NightVision/NightVisionOverlay.cs
Labels: Status: Needs Review

#1285 Make xeno eggs burn!
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_egg.yml
Labels: No C#, Status: Needs Review

#1287 Add tackling
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/_CM14/Pulling/ParalyzeOnPullAttemptComponent.cs
  Content.Shared/_CM14/Pulling/ParalyzeOnPullAttemptImmuneComponent.cs
  Content.Shared/_CM14/Pulling/ParalyzeOnPullAttemptSystem.cs
  Content.Shared/_CM14/Tackle/CMDisarmEvent.cs
  Content.Shared/_CM14/Tackle/TackleComponent.cs
  Content.Shared/_CM14/Tackle/TackleSystem.cs
  Content.Shared/_CM14/Tackle/TackleableComponent.cs
  Content.Shared/_CM14/Tackle/TackledRecentlyComponent.cs
  Content.Shared/_CM14/Xenos/Hugger/SharedXenoHuggerSystem.cs
  Content.Shared/_CM14/Xenos/Hugger/XenoHuggerComponent.cs
  Content.Shared/_CM14/Xenos/Leap/SharedXenoLeapSystem.cs
  Content.Shared/_CM14/Xenos/Leap/XenoLeapingComponent.cs
  Content.Shared/_CM14/Xenos/Paralyzing/XenoActiveParalyzingSlashComponent.cs
  Content.Shared/_CM14/Xenos/Paralyzing/XenoParalyzingSlashSystem.cs
  Content.Shared/_CM14/Xenos/Projectile/Spit/Slowing/XenoSlowingSpitProjectileComponent.cs
  Content.Shared/_CM14/Xenos/Projectile/Spit/XenoSpitSystem.cs
  Content.Shared/_CM14/Xenos/Sweep/XenoTailSweepComponent.cs
  Content.Shared/_CM14/Xenos/Sweep/XenoTailSweepSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/warrior.yml
  Resources/Prototypes/_CM14/Entities/Objects/Xeno/xeno_projectiles.yml
  SpaceStation14.sln.DotSettings
Labels: Status: Needs Review

#1291 Make the ravager and queen immune to catching fire, add resisting fire to xenos
  Content.Client/_CM14/Xenos/XenoVisualizerSystem.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/warrior.yml
Labels: Status: Needs Review

#1293 Increase range of xeno secrete resin to from 1 to 1.9 and require weeds to build
  Content.Client/Popups/PopupSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Server/Actions/ActionOnInteractSystem.cs
  Content.Server/Popups/PopupSystem.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Popups/SharedPopupSystem.cs
  Content.Shared/_CM14/Actions/ValidateActionEntityTargetEvent.cs
  Content.Shared/_CM14/Actions/ValidateActionWorldTargetEvent.cs
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Construction/XenoConstructionActionComponent.cs
  Content.Shared/_CM14/Xenos/Construction/XenoConstructionComponent.cs
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_construction_actions.yml
Labels: Status: Needs Review

#1294 Make medically-unskilled marines have a 3 second do after when using auto-injectors
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Shared/_CM14/Marines/Skills/AttemptHyposprayUseEvent.cs
  Content.Shared/_CM14/Marines/Skills/HyposprayDoAfterEvent.cs
  Content.Shared/_CM14/Marines/Skills/MedicallyUnskilledDoAfterComponent.cs
  Content.Shared/_CM14/Marines/Skills/SkillsSystem.cs
  Resources/Prototypes/_CM14/Entities/Objects/Medical/auto_injectors.yml
Labels: Status: Needs Review, Needs Upstreaming

#1295 xenos do not take bloodloss
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
Labels: No C#, Status: Needs Review

#1298 Add material composition stuff
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Drinks/cans.yml
  Resources/Prototypes/_CM14/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_CM14/Entities/Objects/Devices/Electronics/power_electronics.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/cm_materials.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/parts.yml
Labels: No C#, Status: Needs Review

#1301 fix disposals
  Resources/Textures/_CM14/Structures/Piping/disposal.rsi/disposal-charging.png
  Resources/Textures/_CM14/Structures/Piping/disposal.rsi/dispover-ready.png
  Resources/Textures/_CM14/Structures/Piping/disposal.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#1302 Add xeno nesting, wall weeds
  Content.Client/_CM14/NightVision/NightVisionOverlay.cs
  Content.Server/_CM14/Xenos/Construction/XenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Construction/Nest/XenoNestComponent.cs
  Content.Shared/_CM14/Xenos/Construction/Nest/XenoNestDoAfterEvent.cs
  Content.Shared/_CM14/Xenos/Construction/Nest/XenoNestSurfaceComponent.cs
  Content.Shared/_CM14/Xenos/Construction/Nest/XenoNestSystem.cs
  Content.Shared/_CM14/Xenos/Construction/Nest/XenoNestableComponent.cs
  Content.Shared/_CM14/Xenos/Construction/Nest/XenoNestedComponent.cs
  Content.Shared/_CM14/Xenos/Construction/Nest/XenoWeedableComponent.cs
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Structures/Base/base_structure.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_nest.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_walls.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_weeds.yml
  Resources/Textures/_CM14/Structures/Xenos/xeno_weeds.rsi/meta.json
  Resources/Textures/_CM14/Structures/Xenos/xeno_weeds.rsi/nest_overlay.png
Labels: Changes: Sprites, Status: Needs Review

#1306 update cm dev_map
  Resources/Maps/_CM14/dev_map.yml
Labels: No C#, Status: Needs Review

#1309 add requisitions to cm dev_map
  Resources/Maps/_CM14/dev_map.yml
Labels: No C#, Status: Needs Review

#1310 fix syringe fill sprites
  Resources/Textures/_CM14/Objects/Medical/syringe.rsi/inhand-left-fill-1.png
  Resources/Textures/_CM14/Objects/Medical/syringe.rsi/inhand-left-fill-2.png
  Resources/Textures/_CM14/Objects/Medical/syringe.rsi/inhand-left-fill-3.png
  Resources/Textures/_CM14/Objects/Medical/syringe.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Medical/syringe.rsi/inhand-right-fill-1.png
  Resources/Textures/_CM14/Objects/Medical/syringe.rsi/inhand-right-fill-2.png
  Resources/Textures/_CM14/Objects/Medical/syringe.rsi/inhand-right-fill-3.png
  Resources/Textures/_CM14/Objects/Medical/syringe.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Medical/syringe.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#1313 fix cans error sprite
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Drinks/cans.yml
Labels: No C#, Status: Needs Review

#1916 Add distress signal gamemode, squad spawning
  Content.Client/_CM14/Marines/MarineOverlay.cs
  Content.IntegrationTests/Tests/GameRules/SecretStartsTest.cs
  Content.IntegrationTests/Tests/GameRules/StartEndGameRulesTest.cs
  Content.Server/_CM14/Rules/CMRuleComponent.cs
  Content.Server/_CM14/Rules/CMRuleSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/_CM14/Marines/AlmayerComponent.cs
  Content.Shared/_CM14/Marines/HyperSleep/HyperSleepChamberComponent.cs
  Content.Shared/_CM14/Marines/Roles/JobPrototype.cs
  Content.Shared/_CM14/Marines/SharedMarineSystem.cs
  Content.Shared/_CM14/Marines/Squads/SquadSpawnerComponent.cs
  Content.Shared/_CM14/Marines/Squads/SquadSystem.cs
  Resources/IgnoredPrototypes/cm_ignoredPrototypes.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/hypersleep.yml
  Resources/Prototypes/_CM14/GameRules/cm_gamerule.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Civilians/correspondent.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Civilians/survivor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/smartgunner.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_CM14/Roles/Jobs/cm_jobs_base.yml
  Resources/Prototypes/_CM14/Roles/Jobs/squads.yml
  Resources/Prototypes/_CM14/cm_game_presets.yml
  Resources/Textures/_CM14/Interface/cm_job_icons.rsi/hudsquad.png
  Resources/Textures/_CM14/Interface/cm_job_icons.rsi/hudsquad_original.png
  Resources/Textures/_CM14/Interface/cm_job_icons.rsi/meta.json
  Resources/migration.yml
  SpaceStation14.sln.DotSettings
Labels: Changes: Sprites, Status: Needs Review

#2014 misc m42a sniper fixes
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Rifles/uscm_rifles.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Snipers/uscm_snipers.yml
  Resources/Textures/_CM14/Objects/Weapons/Guns/Snipers/m42a.rsi/equipped-SUITSTORAGE.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2017 shotgun ammo tweaks
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
Labels: No C#, Status: Needs Review

#2019 fix pistol firerates
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Pistols/uscm_pistols.yml
Labels: No C#, Status: Needs Review

#2020 fires no longer spread between mobs
  Resources/Prototypes/_CM14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
Labels: No C#, Status: Needs Review

#2021 remove unused temperature components, fix impossible to heal from fires
  Resources/Prototypes/_CM14/Entities/Mobs/Species/base.yml
Labels: No C#, Status: Needs Review

#2022 Fix larva getting stuck when evolving under tables and doors
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionSystem.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoNewlyEvolvedComponent.cs
Labels: Status: Needs Review

#2025 Add all Encryption Keys into Vendors
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
Labels: No C#, Status: Needs Review

#2023 Fix xenos not being able to pry open doors by left clicking on them
  Content.Shared/Prying/Systems/PryingSystem.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
Labels: Status: Needs Review

#2028 Xeno tail stab fixes and tweaks
  Content.Client/_CM14/Xenos/Stab/XenoTailStabSystem.cs
  Content.Shared/_CM14/Xenos/Stab/SharedXenoTailStabSystem.cs
  Content.Shared/_CM14/Xenos/Stab/XenoTailStabActionComponent.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
Labels: Status: Needs Review

#2032 Fix fixture sizes of automated vendors
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
Labels: No C#, Status: Needs Review

#2033 Make xenos unscannable with the hf2 health analyzer
  Content.Server/_CM14/Medical/Scanner/HealthScannerSystem.cs
  Content.Shared/_CM14/Medical/Scanner/HealthScannerAttemptTargetEvent.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
Labels: Status: Needs Review

#2034 Make huggers unable to melee or tackle
  Content.Shared/_CM14/Xenos/Hugger/SharedXenoHuggerSystem.cs
  Content.Shared/_CM14/Xenos/Leap/SharedXenoLeapSystem.cs
  Content.Shared/_CM14/Xenos/Leap/XenoLeapingComponent.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
Labels: Status: Needs Review

#2035 Fix iv drip popups
  Content.Server/_CM14/Medical/IV/IVDripSystem.cs
  Content.Shared/_CM14/Medical/IV/SharedIVDripSystem.cs
Labels: Status: Needs Review

#2036 Remove chestbursters from dead marines when they try to burst
  Content.Shared/_CM14/Xenos/Hugger/SharedXenoHuggerSystem.cs
Labels: Status: Needs Review

#2037 Make marines spawn in starving in distress signal preset
  Content.Server/_CM14/Rules/CMRuleSystem.cs
Labels: Status: Needs Review

#2024 add rod crafting, fix naming of metal and plasteel to be consistant
  Resources/Locale/en-US/_CM14/tiles/tiles.ftl
  Resources/Maps/_CM14/dev_map.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/_CM14/Datasets/tips.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/cm_materials.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/barbedwire.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/_CM14/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_CM14/Entities/Structures/Doors/Windoors/assembly.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/machine_frame.yml
  Resources/Prototypes/_CM14/Entities/Structures/Power/apc.yml
  Resources/Prototypes/_CM14/Entities/Structures/Storage/crates.yml
  Resources/Prototypes/_CM14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_CM14/Entities/Structures/Walls/girder.yml
  Resources/Prototypes/_CM14/Entities/Structures/catwalk.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/materials/glass.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/materials/metal_graph.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/airlock.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_metal.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_metal_door.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_turnstile.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_turnstile_med.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/catwalk.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/windoor.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/utilities/apc.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/utilities/machine_frame.yml
  Resources/Prototypes/_CM14/Recipes/Construction/materials.yml
  Resources/Prototypes/_CM14/Stacks/Materials/Sheets/metal.yml
  Resources/Prototypes/_CM14/Stacks/Materials/parts.yml
Labels: No C#, Status: Needs Review

#2041 Add auto equip to cm vendors
  Content.Shared/_CM14/Vendors/CMAutomatedVendorComponent.cs
  Content.Shared/_CM14/Vendors/SharedCMAutomatedVendorSystem.cs
Labels: Status: Needs Review

#2042 Fix xeno healing and drone health
  Content.Shared/_CM14/Xenos/Armor/XenoArmorSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/SharedXenoPheromonesSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoRecoveryPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
Labels: Status: Needs Review

#2030 Fix duplicate access denied popup when trying to open an UI
  Content.Shared/Access/Systems/ActivatableUIRequiresAccessSystem.cs
Labels: Status: Needs Review

#2043 jtac radio key and weyland-yutani radio key
  Resources/Locale/en-US/_CM14/radio-channels.ftl
  Resources/Prototypes/_CM14/Entities/Objects/encryption_keys.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
  Resources/Prototypes/_CM14/radio_channels.yml
Labels: No C#, Status: Needs Review

#2044 add existing items to general equipment marine vendor
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
Labels: No C#, Status: Needs Review
