Repository RMC-14/RMC-14, pull requests merged in 2024-11, with the labels that each got.

#4611 Add the MK80 pistol magazine to the Dropship Crew Weapons vendor
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/auxiliary.yml
Labels: No C#, Status: Needs Review

#4649 Fix description of bio-hazard cades
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
Labels: No C#, Status: Needs Review

#4647 Fixes missing stair sprites
  Resources/Prototypes/_RMC14/Entities/Structures/stairs.yml
  Resources/Textures/_RMC14/Structures/stairs.rsi/meta.json
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_ice_left_cap.png
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_ice_left_cap_half.png
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_ice_right_cap.png
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_ice_right_cap_half.png
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_ice_solo_cap.png
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_kutjevo_left_cap.png
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_kutjevo_left_cap_half.png
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_kutjevo_right_cap.png
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_kutjevo_right_cap_half.png
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_kutjevo_solo_cap.png
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_left_cap.png
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_left_cap_half.png
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_right_cap.png
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_right_cap_half.png
  Resources/Textures/_RMC14/Structures/stairs.rsi/p_stair_solo_cap.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4646 Fully complete medical HUDs
  Content.Client/Overlays/EquipmentHudSystem.cs
  Content.Shared/_RMC14/Item/ItemToggle/RMCItemToggleClothingVisualsComponent.cs
  Content.Shared/_RMC14/Item/ItemToggle/RMCItemToggleSystem.cs
  Content.Shared/_RMC14/Marines/Skills/ItemToggleDeactivateUnskilledComponent.cs
  Content.Shared/_RMC14/Marines/Skills/ItemToggleRequiresSkillComponent.cs
  Content.Shared/_RMC14/Marines/Skills/SkillsSystem.cs
  Resources/Locale/en-US/_RMC14/skills/rmc-skills.ftl
  Resources/Prototypes/_RMC14/Actions/Marines/marine_action_items.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/medicalhud.rsi/equipped-EYES.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/medicalhud.rsi/icon-on.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/medicalhud.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/medicalhud.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/medicalhud.rsi/on-equipped-EYES.png
Labels: Changes: Sprites, Status: Needs Review

#4595 Finish larva surgery, fix larvas and parasites in dying FTL
  Content.Server/_RMC14/Medical/Surgery/CMSurgerySystem.cs
  Content.Shared/_RMC14/Medical/Surgery/Effects/Complete/CMSurgeryRemoveLarvaComponent.cs
  Content.Shared/_RMC14/Medical/Surgery/Effects/Step/RMCSurgeryStepLarvaEffectComponent.cs
  Content.Shared/_RMC14/Medical/Surgery/SharedCMSurgerySystem.Steps.cs
  Content.Shared/_RMC14/Medical/Surgery/SharedCMSurgerySystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Resources/Prototypes/_RMC14/Entities/Surgery/cm_surgery_steps.yml
Labels: Status: Needs Review

#4511 Nailgun
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/nailgun_fire.ogg
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_box_crafting.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/mk80_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/nailgun.yml
  Resources/Prototypes/_RMC14/tags.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/nailgun.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/nailgun.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/nailgun.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4655 Fixed bug that allowed laser designation on the warship
  Content.Shared/_RMC14/Rangefinder/RangefinderComponent.cs
  Content.Shared/_RMC14/Rangefinder/RangefinderSystem.cs
Labels: Status: Needs Review

#4661 HPR Barrel Offset
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_heavy_rifle.yml
Labels: No C#, Status: Needs Review

#4652 add figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/flynn_wendigo_suziko.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/gives-the-fish.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/jester-who-helps.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/julie_sniper_walker.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#4657 Silencer Lowers Range Gunshot can be heard
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/barrel_attachments.yml
Labels: No C#, Status: Needs Review

#4663 Add Information Tags
  Content.Shared/_RMC14/Marines/Dogtags/DogtagsSystem.cs
  Content.Shared/_RMC14/Marines/Dogtags/InformationTagsComponent.cs
  Content.Shared/_RMC14/Marines/Dogtags/RMCMemorialComponent.cs
  Content.Shared/_RMC14/Marines/Dogtags/TakeableTagsComponent.cs
  Resources/Locale/en-US/_RMC14/rmc-clothing.ftl
  Resources/Locale/en-US/_RMC14/rmc-memorial.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_base_id.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/memorial.yml
  Resources/Textures/_RMC14/Interface/VerbIcons/dogtag.png
  Resources/Textures/_RMC14/Interface/VerbIcons/meta.json
Labels: Status: Needs Review

#4664 Sentinel buff parity
  Content.Shared/_RMC14/Xenonids/Paralyzing/XenoParalyzingSlashComponent.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/Scattered/XenoScatteredSpitComponent.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/Slowing/XenoSlowingSpitProjectileComponent.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: Status: Needs Review

#4669 Added Storage for Holdout Items to color shoes
  Resources/Prototypes/_RMC14/Entities/Clothing/Shoes/color.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/spacecash.yml
Labels: No C#, Status: Needs Review

#4675 Comms update fixes
  Content.Client/_RMC14/Telephone/TelephoneBui.cs
  Content.Client/_RMC14/Telephone/TelephoneOverlay.cs
  Content.Shared/_RMC14/Marines/Announce/SharedMarineAnnounceSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Structures/communications_tower.yml
  Resources/Prototypes/_RMC14/Entities/Structures/rotary_phone.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: Status: Needs Review

#4676 Hotfix: Defib draining
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/defib.yml
Labels: No C#, Status: Needs Review

#4542 New M54c and Heavy sprites
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_heavy_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_rifle.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m54ce2.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m54ce2.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m54ce2.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rmc_stock.rsi/m54c-col-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rmc_stock.rsi/m54c-col.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rmc_stock.rsi/m54c-col_a-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rmc_stock.rsi/m54c-col_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rmc_stock.rsi/m54c-solid.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rmc_stock.rsi/m54c-solid_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/sling.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/sling.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4677 Fix typo in Avali Urist prototype name
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/avali.yml
Labels: No C#, Status: Needs Review

#4678 Fix hive core not showing on the map
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_hive.yml
Labels: No C#, Status: Needs Review

#4681 Minor MT Vendor Bag Fix
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/engineer.yml
Labels: No C#, Status: Needs Review

#4687 Fix hive core map (for real)
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_hive.yml
Labels: No C#, Status: Needs Review

#4696 Fix entries showing in the wrong order on info tags
  Content.Shared/_RMC14/Marines/Dogtags/DogtagsSystem.cs
Labels: Status: Needs Review

#4693 Xeno Projectiles now correctly aim at your cursor
  Content.Shared/_RMC14/Xenonids/Projectile/Bone/XenoBoneChipsSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/XenoSpitSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/XenoProjectileSystem.cs
Labels: Status: Needs Review

#4666 Add verb to remove webbing from dead marines
  Content.Shared/_RMC14/Webbing/SharedWebbingSystem.cs
  Resources/Locale/en-US/_RMC14/storage/storage.ftl
Labels: Status: Needs Review

#4690 remove orange scrubs from medical vendor
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/medical.yml
Labels: No C#, Status: Needs Review

#4665 Add some missing entities
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/bible.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/toolbox.yml
  Resources/Textures/_RMC14/Objects/Misc/bible.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Misc/bible.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Misc/bible.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Misc/bible.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tools/Lighters/goldzippo.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/goldzippo.rsi/lighter_flame.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/goldzippo.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tools/Lighters/goldzippo.rsi/open.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_green.rsi/icon-open.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_green.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_green.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_green.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_green.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_syndi.rsi/icon-open.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_syndi.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_syndi.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_syndi.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_syndi.rsi/meta.json
  Resources/migration.yml
Labels: No C#, Changes: Sprites, Status: Needs Review

#4706 Fix corrosive acid taking too long to apply on items.
  Content.Shared/_RMC14/Xenonids/Acid/CorrodibleComponent.cs
  Content.Shared/_RMC14/Xenonids/Acid/SharedXenoAcidSystem.cs
  Content.Shared/_RMC14/Xenonids/Acid/XenoAcidComponent.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Base/base_structure.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/tables.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/toilet.yml
Labels: Status: Needs Review

#4711 Add whitelist to smartgun battery cellslot
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SmartGuns/smart_gun.yml
Labels: No C#, Status: Needs Review

#4710 Fix helmets being small
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/basic_helmets.yml
Labels: No C#, Status: Needs Review

#4713 Fix not showing counts for any votes, fix surplus uniform vendor not having a radio telephone pack
  Content.Server/Voting/Managers/VoteManager.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
Labels: Status: Needs Review

#4740 Fix sentries continuing to fire on a target out of range
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/almayer_sentries.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/lz_sentries.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/sentries.yml
Labels: No C#, Status: Needs Review

#4731 Make defibs use an internal battery
  Content.Server/_RMC14/Power/RMCPowerSystem.cs
  Content.Shared/_RMC14/Power/RMCPowerUsageDisplayComponent.cs
  Resources/Locale/en-US/_RMC14/power/rmc-power-usage.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/defib.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Power/cells.yml
  Resources/Textures/_RMC14/Objects/Medical/defib.rsi/empty.png
  Resources/Textures/_RMC14/Objects/Medical/defib.rsi/full.png
  Resources/Textures/_RMC14/Objects/Medical/defib.rsi/half.png
  Resources/Textures/_RMC14/Objects/Medical/defib.rsi/low.png
  Resources/Textures/_RMC14/Objects/Medical/defib.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#4703 Un-predict Shove, Tail Stab, Paralyzing Slash, and Crippling Strike popups
  Content.Shared/_RMC14/Tackle/TackleSystem.cs
  Content.Shared/_RMC14/Xenonids/Crippling/XenoCripplingStrikeSystem.cs
  Content.Shared/_RMC14/Xenonids/Paralyzing/XenoParalyzingSlashSystem.cs
  Content.Shared/_RMC14/Xenonids/Stab/SharedXenoTailStabSystem.cs
Labels: Status: Needs Review

#4730 Fix shield fruit not applying the first time it's used
  Content.Shared/_RMC14/Shields/XenoShieldSystem.cs
Labels: Status: Needs Review

#4734 Fix attempting to unholster gun while stunned breaking the holster
  Content.Shared/_RMC14/Inventory/SharedCMInventorySystem.cs
Labels: Status: Needs Review

#4744 Give EZ and medic autoinjectors the injector tag
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/auto_injectors.yml
Labels: No C#, Status: Needs Review

#4754 Pen fix + cig improvements
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/cigar.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/cigarettes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/matchbooks.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/matches.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigarettes/unfiltered_roll.rsi/burnt-icon.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigarettes/unfiltered_roll.rsi/lit-icon.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigarettes/unfiltered_roll.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigarettes/unfiltered_roll.rsi/unlit-icon.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/tarback_tube.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/tarback_tube.rsi/tarbacktube.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/tarback_tube.rsi/tarbacktube_empty.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matchboxes/matchbox.rsi/matchbox-0.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matchboxes/matchbox.rsi/matchbox-1.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matchboxes/matchbox.rsi/matchbox-2.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matchboxes/matchbox.rsi/matchbox-3.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matchboxes/matchbox.rsi/matchbox-4.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matchboxes/matchbox.rsi/matchbox-5.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matchboxes/matchbox.rsi/matchbox-6.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matchboxes/matchbox.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matches/match.rsi/match_burnt.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matches/match.rsi/match_lit.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matches/match.rsi/match_unlit.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matches/match.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matches/paper.rsi/match_burnt.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matches/paper.rsi/match_lit.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matches/paper.rsi/match_unlit.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Matches/paper.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/lighter_c.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/lighter_c_on.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/lighter_flame.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/lighter_g.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/lighter_g_on.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/lighter_r.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/lighter_r_on.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/lighter_y.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/lighter_y_on.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/meta.json
  Resources/migration.yml
Labels: No C#, Changes: Sprites, Status: Needs Review

#3778 Added XM51 shotgun
  Content.Shared/_RMC14/Damage/DamageMultiplierFlagsComponent.cs
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_shotgun_xm51.ogg
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/ammo_boxes.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/weapons.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/gun_cases.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_box_crafting.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/base_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/shotgun_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/shotgun_handfuls.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/shotgun_pellets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/xm51_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Base/base_structure.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Textures/_RMC14/Objects/Clothing/Belt/xm51.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/xm51.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/xm51.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/xm51.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/xm51.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Belt/xm51.rsi/xm51.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/xm51.rsi/xm51_holster_g.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/shotgun_boxes.rsi/breaching.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/shotgun_boxes.rsi/breaching_e.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/shotgun_boxes.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Handfuls/shotgun_handfuls.rsi/breaching_shell_1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Handfuls/shotgun_handfuls.rsi/breaching_shell_2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Handfuls/shotgun_handfuls.rsi/breaching_shell_3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Handfuls/shotgun_handfuls.rsi/breaching_shell_4.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Handfuls/shotgun_handfuls.rsi/breaching_shell_5.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Handfuls/shotgun_handfuls.rsi/breaching_shell_6.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Handfuls/shotgun_handfuls.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/xm51.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/xm51.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/xm51.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun_projectiles.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun_projectiles.rsi/shrapnelshot.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/c_xm51_stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/d_xm51_stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/s_xm51_stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/u_xm51_stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/xm51_stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/xm51.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/xm51.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/xm51.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/xm51.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/xm51.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/xm51.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/xm51.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/xm51.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/xm51.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/xm51.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/xm51.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4705 Add "General's formal cloak"
  Resources/Prototypes/_RMC14/Entities/Clothing/Neck/cloak.yml
  Resources/Textures/_RMC14/Objects/Clothing/Neck/generalformal.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Neck/generalformal.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Neck/generalformal.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Neck/generalformal.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Neck/generalformal.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#4750 Battered Lobby Art
  Resources/Prototypes/_RMC14/Lobby/lobbyscreens.yml
  Resources/Textures/_RMC14/Lobby/Battered.png
  Resources/Textures/_RMC14/Lobby/attributions.yml
Labels: No C#, Status: Needs Review

#4736 Fixed entire door being unlit when emergency access
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/almayer_glass.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/almayer_glass.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/almayer_solid.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/almayer_solid.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/command_glass.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/command_glass.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/command_solid.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/command_solid.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/engineer_glass.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/engineer_glass.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/engineer_solid.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/engineer_solid.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/generic_glass.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/generic_glass.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/generic_solid.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/generic_solid.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_solid.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_solid.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/personal_glass.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/personal_glass.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/personal_solid.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/personal_solid.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/preparations.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/preparations.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/preparations_alpha.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/preparations_alpha.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/preparations_bravo.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/preparations_bravo.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/preparations_charlie.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/preparations_charlie.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/preparations_delta.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/preparations_delta.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/security_glass.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/security_glass.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/security_solid.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/security_solid.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/maint_door.rsi/spark.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/cargo_door_deny.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/double_door_deny.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/pilot_door_deny.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/pilot_door_spark.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/cargo_door_deny.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/double_door_deny.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/pilot_door_deny.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/pilot_door_spark.png
  Resources/Textures/_RMC14/Structures/EscapePod/escape_pod_door.rsi/deny.png
  Resources/Textures/_RMC14/Structures/EscapePod/escape_pod_door.rsi/locked.png
  Resources/Textures/_RMC14/Structures/EscapePod/escape_pod_door.rsi/spark.png
Labels: No C#, Changes: Sprites

#4733 Fixed MedKit inhand sprite inconsistencies
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/advfirstaid-inhand-left.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/advfirstaid-inhand-right.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/antitoxin-inhand-left.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/antitoxin-inhand-right.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/firefirstaid-inhand-left.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/firefirstaid-inhand-right.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/firstaid-inhand-left.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/firstaid-inhand-right.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/o2-inhand-left.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/o2-inhand-right.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/ointment-inhand-left.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/ointment-inhand-right.png
Labels: No C#, Changes: Sprites

#4634 SEA Vendor Update
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/senior_enlisted_advisor.yml
Labels: No C#, Status: Needs Review

#3623 Added shoulder holster
  Content.Shared/_RMC14/Inventory/SharedCMInventorySystem.cs
  Resources/Locale/en-US/_RMC14/storage/storage.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/webbing.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/auxiliary.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_holster.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_holster.rsi/holster.png
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_holster.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#4645 Add custom labels and colors to pill bottles
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Client/UserInterface/Controls/SlotControl.cs
  Content.Client/_RMC14/Chemistry/PillBottle/RMCChangePillBottleColorBui.cs
  Content.Client/_RMC14/Chemistry/PillBottle/RMCChangePillBottleColorWindow.xaml
  Content.Client/_RMC14/Chemistry/PillBottle/RMCChangePillBottleColorWindow.xaml.cs
  Content.Client/_RMC14/Chemistry/RMCChemicalDispenserWindow.xaml.cs
  Content.Client/_RMC14/Storage/RMCIconLabelsSystem.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/_RMC14/Chemistry/ChemMaster/RMCChemMasterSystem.cs
  Content.Server/_RMC14/IconLabel/RMCIconLabelSystem.cs
  Content.Shared/_RMC14/Chemistry/ChemMaster/SharedRMCChemMasterSystem.cs
  Content.Shared/_RMC14/IconLabel/IconLabelComponent.cs
  Content.Shared/_RMC14/IconLabel/SharedRMCIconLabelSystem.cs
  Resources/Locale/en-US/_RMC14/medical/medicine.ftl
  Resources/Locale/en-US/_RMC14/medical/ui.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/pill_canisters.yml
Labels: Status: Needs Review, Changes: UI

#4758 Evac pod gravity
  Resources/Maps/_RMC14/escape_pod_east.yml
  Resources/Maps/_RMC14/escape_pod_east_liaison.yml
  Resources/Maps/_RMC14/escape_pod_north.yml
  Resources/Maps/_RMC14/escape_pod_south.yml
  Resources/Maps/_RMC14/escape_pod_west.yml
  Resources/Maps/_RMC14/lifeboat.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/lifeboat_walls.yml
Labels: No C#, Status: Needs Review, Changes: Map

#4747 Add IMP Ammo Rack
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/ammo_rack.rsi/ammo_pack-0.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/ammo_rack.rsi/ammo_pack-1.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/ammo_rack.rsi/ammo_pack-2.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/ammo_rack.rsi/ammo_pack-3.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/ammo_rack.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/ammo_rack.rsi/equipped-BACKPACK_0.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/ammo_rack.rsi/equipped-BACKPACK_1.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/ammo_rack.rsi/equipped-BACKPACK_2.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/ammo_rack.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#4694 Fix no melee damage sound not working
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Status: Needs Review

#4755 Lurker attack reset
  Content.Shared/_RMC14/Weapons/Melee/MeleeResetComponent.cs
  Content.Shared/_RMC14/Weapons/Melee/SharedRMCMeleeWeaponSystem.cs
  Content.Shared/_RMC14/Xenonids/Crippling/XenoCripplingStrikeSystem.cs
Labels: Status: Needs Review

#2990 Port the XM88
  Content.Shared/_RMC14/Weapons/Ranged/GunGetFireRateEvent.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCSelectiveFireSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/Stacks/GunStacksComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Stacks/GunStacksProjectileComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Stacks/GunStacksSystem.cs
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_boomslang_fire.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Pump/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Pump/gun_boomslang_lever.ogg
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/ammo_boxes.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/weapons.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/gun_cases.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_box_crafting.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/rail_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/rifle_handfuls.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/xm88_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Textures/_RMC14/Objects/Clothing/Belt/SOCOM.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/SOCOM.rsi/full.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/SOCOM.rsi/half.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/SOCOM.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/SOCOM.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/SOCOM.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/SOCOM.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/SOCOM_box.rsi/SOCOMFULL32subdiv.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/SOCOM_box.rsi/Socom32e.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/SOCOM_box.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/rounds_458.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/rounds_458_1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/rounds_458_2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/rounds_458_3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/shotgun_boxes.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/xm88.rsi/SOCOM1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/xm88.rsi/SOCOM2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/xm88.rsi/SOCOM3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/xm88.rsi/SOCOM4.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/xm88.rsi/SOCOM5.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/xm88.rsi/SOCOM6.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/xm88.rsi/SOCOM7.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/xm88.rsi/SOCOM8.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/xm88.rsi/SOCOM9.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/xm88.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/xm88.rsi/meta.json
  SpaceStation14.sln.DotSettings
Labels: Changes: Sprites, Status: Needs Review

#4771 Fix pill canisters, hive leaders, XM51 sound
  Content.Shared.Database/LogType.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Xenonids/Hive/SharedXenoHiveSystem.cs
  Content.Shared/_RMC14/Xenonids/HiveLeader/HiveLeaderSystem.cs
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_shotgun_xm51.ogg
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/pill_canisters.yml
Labels: Status: Needs Review

#4772 Actually fix no damage sound not working
  Content.Shared/Weapons/Melee/MeleeSoundSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Status: Needs Review

#4769 Fix doors, turrents, vending machines from fast acid
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/sentries.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/cm_door.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
Labels: No C#, Status: Needs Review

#4774 Fix hive leader stars, command tablet tacmap, reagent grinder power, queen heal
  Content.Client/_RMC14/Xenonids/HiveLeader/HiveLeaderOverlay.cs
  Content.Shared/_RMC14/Xenonids/Heal/XenoHealSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/command_tablet.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/reagent_grinder.yml
Labels: Status: Needs Review

#4777 Removes the MOU and M42A2 having burst fire
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m357_sawn_off_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/mou53_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/pump_shotgun.yml
Labels: No C#, Status: Needs Review

#4775 Fix xm88 stats
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/xm88_rifle.yml
Labels: No C#, Status: Needs Review

#4776 Fixes UGL unloading
  Content.Shared/_RMC14/Attachable/Systems/AttachableToggleableSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/BreechLoadedSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/CMGunSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCTryAmmoEjectEvent.cs
  Resources/Locale/en-US/_RMC14/weapons/guns.ftl
Labels: Status: Needs Review

#4778 Bugfix: Pill Bottle Color Change UI
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/pill_canisters.yml
Labels: No C#

#4793 More random spawners
  Resources/Prototypes/_RMC14/Entities/Markers/Spawners/Random/tools.yml
Labels: No C#, Status: Needs Review

#4728 Turret Vision Range Parity
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/almayer_sentries.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/lz_sentries.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/sentries.yml
Labels: No C#, Status: Needs Review

#4794 Couch + Water cooler
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/couch.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/water_cooler.yml
  Resources/Textures/_RMC14/Structures/Furniture/couch.rsi/couch_end.png
  Resources/Textures/_RMC14/Structures/Furniture/couch.rsi/couch_mid.png
  Resources/Textures/_RMC14/Structures/Furniture/couch.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Furniture/water_cooler.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Furniture/water_cooler.rsi/water_cooler.png
  Resources/Textures/_RMC14/Structures/Furniture/water_cooler.rsi/water_cooler_2.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4631 Stumps
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/bushes.yml
  Resources/Prototypes/_RMC14/Entities/Structures/trees.yml
  Resources/Textures/_RMC14/Objects/Flora/flora_stump.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Flora/flora_stump.rsi/stump1.png
  Resources/Textures/_RMC14/Objects/Flora/flora_stump.rsi/stump2.png
  Resources/Textures/_RMC14/Objects/Flora/flora_treealien.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Flora/flora_treealien.rsi/treestumpalien.png
Labels: No C#, Changes: Sprites

#4829 Resprite squad leader engi kit case-
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Textures/_RMC14/Objects/Storage/procase_mini.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Storage/procase_mini.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Storage/procase_mini.rsi/open.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4819 Fix breaching shells
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/shotgun_pellets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/xm51_shotgun.yml
Labels: No C#, Status: Needs Review

#4824 Fix tech helmet sprites
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/tech.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/tech.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/tech.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/tech.rsi/inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4822 Boiler gas explosion on death
  Content.Shared/_RMC14/Xenonids/Deathcloud/XenoDeathcloudComponent.cs
  Content.Shared/_RMC14/Xenonids/Deathcloud/XenoDeathcloudSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_smoke.yml
Labels: Status: Needs Review, Parity

#4830 Add xeno leader crown to tac map
  Content.Client/_RMC14/TacticalMap/TacticalMapControl.xaml.cs
  Content.Server/_RMC14/TacticalMap/TacticalMapSystem.cs
  Content.Shared/_RMC14/TacticalMap/ActiveTacticalMapTrackedComponent.cs
  Content.Shared/_RMC14/TacticalMap/TacticalMapBlip.cs
  Content.Shared/_RMC14/Xenonids/HiveLeader/HiveLeaderStatusChangedEvent.cs
  Content.Shared/_RMC14/Xenonids/HiveLeader/HiveLeaderSystem.cs
Labels: Status: Needs Review, Changes: UI

#4798 Fixes Xm51 ammo changing into buckshot ammo under certain circumstances.
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/shotgun_handfuls.yml
Labels: No C#, Status: Needs Review

#4811 Boot storage - Mask storage
  Resources/Prototypes/_RMC14/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/surgery.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/holdout_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_RMC14/tags.yml
Labels: No C#, Status: Needs Review

#4314 Fix Several Construction, Deconstruction, and Destruction Issues
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/base_structuremachines.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Piping/Disposal/disposal_unit.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/filing_cabinets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Windows/directional_windows.yml
  Resources/Prototypes/_RMC14/Entities/Structures/hydro_tray.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/furniture/bed.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_directional.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/furniture.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/structures.yml
Labels: No C#, Status: Needs Review

#4826 Change some suit storage sprites to be on the hip instead of the back
  Resources/Textures/_RMC14/Objects/Weapons/Guns/GrenadeLaunchers/m83.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ar10.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr_custom.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Snipers/m96s.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Snipers/m96s.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#4756 Flares and Flare Boxes
  Content.Shared/_RMC14/Dropship/Weapon/SharedDropshipWeaponSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/MRE/mre.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/flares.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_box_crafting.yml
Labels: Status: Needs Review, Parity

#4656 Make lizard-specific sprites for masks and the CT helmet
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/tech.rsi/equipped-HELMET-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/tech.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/rebreather.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/rebreather.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/sterile.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/sterile.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#4671 Filtration props
  Resources/Prototypes/_RMC14/Entities/Structures/catwalk.yml
  Resources/Prototypes/_RMC14/Entities/Structures/rmc_filtration_props.yml
  Resources/Prototypes/_RMC14/Tiles/Kutjevo/floor_tiles.yml
  Resources/Textures/_RMC14/Structures/Filtration/96x96.rsi/coagulation_arm.png
  Resources/Textures/_RMC14/Structures/Filtration/96x96.rsi/disinfection.png
  Resources/Textures/_RMC14/Structures/Filtration/96x96.rsi/distribution-damaged.png
  Resources/Textures/_RMC14/Structures/Filtration/96x96.rsi/distribution.png
  Resources/Textures/_RMC14/Structures/Filtration/96x96.rsi/filtration.png
  Resources/Textures/_RMC14/Structures/Filtration/96x96.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Filtration/96x96.rsi/sedimentation.png
  Resources/Textures/_RMC14/Structures/Filtration/96x96.rsi/sedimentation_A_1.png
  Resources/Textures/_RMC14/Structures/catwalk.rsi/kutjevo_catwalk.png
  Resources/Textures/_RMC14/Structures/catwalk.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#4831 Stop bodybags from preventing rot
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bodybags.yml
Labels: No C#, Status: Needs Review

#4804 Fix HM vendor
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
Labels: No C#, Status: Needs Review

#4797 add figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/darfman_forgemog.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/stella_lake_poley.png
Labels: No C#, Changes: Sprites

#4795 Fix chemistry chem metabolisms + parity hunger
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/MRE/mre_dessert.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/MRE/mre_main.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/MRE/mre_side.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/MRE/mre_snack.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/prepared.yml
  Resources/Prototypes/_RMC14/Reagents/elements.yml
Labels: No C#, Status: Needs Review

#4832 Fix Bipods "randomly" dismounting (Deletes unused Lock Comps when untoggling)
  Content.Shared/_RMC14/Attachable/Systems/AttachableToggleableSystem.cs
Labels: Status: Needs Review

#4781 Improve Warrior Lunge Hit Reg, unpredict Fling + Lunge CC, Fling CD
  Content.Shared/_RMC14/Xenonids/Fling/XenoFlingSystem.cs
  Content.Shared/_RMC14/Xenonids/Lunge/XenoLungeSystem.cs
Labels: Status: Needs Review

#4193 M890 Tactical Shotgun
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m890_shotgun.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/tactical_stock_221.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/M890.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/M890.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890.rsi/meta.json
Labels: No C#, Changes: Sprites, Merge Conflict

#4780 Fix arm brace breaking the holster
  Content.Shared/_RMC14/Inventory/SharedCMInventorySystem.cs
Labels: Status: Needs Review

#4784 Various Mateba fixes
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/barrel_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/base_revolver.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/m44_revolver.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/mateba.yml
Labels: No C#

#4833 Fix Client Crash on attachment forced-untoggle + Code Cleanup
  Content.Shared/_RMC14/Attachable/Systems/AttachableToggleableSystem.cs
Labels: Status: Needs Review

#4843 Make marines in lockers count as dead, remove xenos seeing through lockers
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
Labels: Status: Needs Review

#4845 Add avali fitting mask sprites
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/avali.yml
  Resources/Textures/_RMC14/Objects/Clothing/Mask/coif.rsi/equipped-MASK-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/coif.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/coif.rsi/up-equipped-MASK-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/equipped-MASK-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/sterile.rsi/equipped-MASK-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/sterile.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#4853 Defender crest/fortify are no longer immune to stuns
  Content.Shared/_RMC14/Xenonids/Crest/XenoCrestComponent.cs
  Content.Shared/_RMC14/Xenonids/Crest/XenoCrestSystem.cs
  Content.Shared/_RMC14/Xenonids/Fortify/XenoFortifyComponent.cs
  Content.Shared/_RMC14/Xenonids/Fortify/XenoFortifySystem.cs
Labels: Status: Needs Review

#4854 Fix xm51 breaching shells not having 4 bullets
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/shotgun_pellets.yml
Labels: No C#, Status: Needs Review

#4855 Fix toxins
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_RMC14/Reagents/elements.yml
  Resources/Prototypes/_RMC14/Reagents/toxins.yml
Labels: No C#, Status: Needs Review

#4852 Fix fireaxe and pickaxe
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/pickaxe.yml
Labels: No C#, Status: Needs Review

#4862 Fix SOCOM bullet proto name
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/rifle_handfuls.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/xm88_rifle.yml
Labels: No C#, Status: Needs Review

#4856 RTO/breaching shell vendor fixes, underbarrel shotgun fixes, command tablet fixes, other fixes
  Content.Client/_RMC14/Marines/Announce/MarineCommunicationsComputerBui.cs
  Content.Shared/_RMC14/Marines/Announce/SharedMarineAnnounceSystem.cs
  Content.Shared/_RMC14/NightVision/NightVisionItemComponent.cs
  Content.Shared/_RMC14/NightVision/SharedNightVisionSystem.cs
  Content.Shared/_RMC14/Power/SharedRMCPowerSystem.cs
  Content.Shared/_RMC14/Pulling/BeingPulledComponent.cs
  Content.Shared/_RMC14/Pulling/RMCPullingSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Hive/SharedXenoHiveSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/command_tablet.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/base_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/xm51_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/vines.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/medical.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/reagent_tank.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_walls.yml
Labels: No C#, Status: Needs Review

#4860 Screwdriver Fix
  Resources/Prototypes/_RMC14/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_RMC14/tags.yml
Labels: No C#, Status: Needs Review

#4836 Adjusted tail stab damage to parity.
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/warrior.yml
Labels: No C#, Status: Needs Review, Merge Conflict

#4847 Make colorblind mode change Almayer radio message color
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Shared/_RMC14/Radio/RadioChannelPrototype.cs
  Resources/Prototypes/_RMC14/radio_channels.yml
Labels: Status: Needs Review

#4841 Add stun when leaving an entity storage
  Content.Shared/_RMC14/Storage/RMCStorageSystem.cs
Labels: Status: Needs Review

#4848 Add MREs to vend + fix being able to food back in MRES
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/MRE/mre.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/food.yml
Labels: No C#, Status: Needs Review

#4839 add figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/james_rockler.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/nesart_onan.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/ronan_rick_oshea.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4759 Bug fixes for Find Parasite Action
  Content.Server/_RMC14/Roles/FindParasiteSystem.cs
  Content.Server/_RMC14/Xenonids/Egg/EggRetriever/XenoEggRetrieverSystem.cs
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteThrowerSystem.cs
Labels: Status: Needs Review

#4835 Make stasis bags run out of stasis time
  Content.Shared/_RMC14/Medical/Stasis/CMStasisBagComponent.cs
  Content.Shared/_RMC14/Medical/Stasis/CMStasisBagSystem.cs
  Resources/Locale/en-US/_RMC14/medical/stasisbag.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bodybags.yml
Labels: Status: Needs Review

#4867 Fix sec vest not having light armor slowdown + suit storage whitelist
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/security_armor.yml
Labels: No C#, Parity

#4899 Fix Shove going on cooldown on a "miss" + other shove fix
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_RMC14/Tackle/TackleSystem.cs
Labels: Status: Needs Review

#4879 Bodybags down you on enter
  Content.Shared/_RMC14/Standing/DownOnEnterComponent.cs
  Content.Shared/_RMC14/Standing/RMCStandingSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bodybags.yml
Labels: Status: Needs Review

#4881 Makes xenos more tech illiterate
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Science/Dispensers/booze.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/reagent_grinder.yml
Labels: No C#, Status: Needs Review

#4891 Devour nongrounded victims
  Content.Shared/_RMC14/Xenonids/Devour/XenoDevourSystem.cs
Labels: Status: Needs Review

#4861 Port new insulated glove sprites from CM13
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/insulated.rsi/equipped-HAND.png
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/insulated.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/insulated.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review, Parity

#4877 Various Thermal cloak / ghillie suit fixes
  Content.Server/_RMC14/Marines/Armor/RMCSuitLightSystem.cs
  Content.Shared/_RMC14/Armor/Ghillie/SharedGhillieSuitSystem.cs
  Content.Shared/_RMC14/Armor/ThermalCloak/ThermalCloakSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Resources/Prototypes/_RMC14/Effects/cloak.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
Labels: Status: Needs Review

#4898 SADAR Assisted Reload
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/_RMC14/Weapons/Ranged/AssistedReloadAmmoComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/AssistedReloadReceiverComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/AssistedReloadWeaponComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/CMGunSystem.cs
  Resources/Locale/en-US/_RMC14/weapons/guns.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m5_atl_rocket_launcher.yml
Labels: Status: Needs Review

#4893 Make parasite only die after it falls off from the host
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/InfectableComponent.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimInfectedComponent.cs
  Content.Shared/_RMC14/Xenonids/Parasite/XenoParasiteComponent.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
Labels: Status: Needs Review

#4876 Food trays no longer leave behind an empty tray
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/prepared.yml
Labels: No C#, Status: Needs Review

#4768 Adjust Avali Sprites
  Resources/Textures/_RMC14/Mobs/Avali/avali_parts.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Avali/avali_parts.rsi/tail_avalibase.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_stripes_one.rsi/lhand_primary.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_stripes_one.rsi/lhand_secondary.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_stripes_one.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Avali/avali_stripes_one.rsi/rhand_primary.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_stripes_one.rsi/rhand_secondary.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_stripes_one.rsi/tail_avali_secondary.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_trim_one.rsi/lhand_primary.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_trim_one.rsi/lhand_secondary.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_trim_one.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Avali/avali_trim_one.rsi/rhand_primary.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_trim_one.rsi/rhand_secondary.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_trim_one.rsi/tail_avali_secondary.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_trim_two.rsi/lhand_primary.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_trim_two.rsi/lhand_secondary.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_trim_two.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Avali/avali_trim_two.rsi/rhand_primary.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_trim_two.rsi/rhand_secondary.png
  Resources/Textures/_RMC14/Mobs/Avali/avali_trim_two.rsi/tail_avali_secondary.png
  Resources/Textures/_RMC14/Mobs/Avali/parts.rsi/full.png
  Resources/Textures/_RMC14/Mobs/Avali/parts.rsi/l_hand.png
  Resources/Textures/_RMC14/Mobs/Avali/parts.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Avali/parts.rsi/r_hand.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4782 Suit storage fixes for the XM51 rig and Mateba holster belt
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/gun_cases.yml
  Resources/Prototypes/_RMC14/tags.yml
  Resources/Textures/_RMC14/Objects/Clothing/Belt/xm51.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/xm51.rsi/equipped-SUITSTORAGE_g.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/xm51.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review, Merge Conflict

#4857 Custom Built Shotgun
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/custombuilt.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/custombuilt.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/custombuilt.rsi/busted.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/custombuilt.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/custombuilt.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/custombuilt.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/custombuilt.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/custombuilt.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/custombuilt.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/custombuilt.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/custombuilt.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/custombuilt.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4897 Make pulls rotate the puller
  Content.Shared/_RMC14/Fireman/FiremanCarrySystem.cs
  Content.Shared/_RMC14/Pulling/RMCPullingSystem.cs
  Resources/Prototypes/_RMC14/Effects/attack.yml
Labels: Status: Needs Review

#4882 Add mutiny system and commands
  Content.Server/_RMC14/Antag/MutinyCommand.cs
  Content.Server/_RMC14/Antag/MutinySystem.cs
  Content.Shared/_RMC14/Antag/Components/MutineerComponent.cs
Labels: Status: Needs Review

#4903 Acid Runner Speed Fix
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
Labels: No C#, Status: Needs Review

#4911 OB update fixes
  Content.Client/_RMC14/Xenonids/Egg/XenoEggVisualizerSystem.cs
  Content.Server/_RMC14/Xenonids/XenoDisconnectedComponent.cs
  Content.Server/_RMC14/Xenonids/XenoRoleSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_RMC14/Pulling/RMCPullingSystem.cs
  Resources/Textures/_RMC14/Objects/Clothing/Belt/mateba_belt.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/mateba_belt.rsi/meta.json
Labels: Status: Needs Review

#4927 Fix hypersleep pods stunning
  Content.Shared/_RMC14/Storage/NoStunOnExitComponent.cs
  Content.Shared/_RMC14/Storage/RMCStorageSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/hypersleep.yml
Labels: Status: Needs Review

#4956 Fix some walls being acider runner corrodible
  Resources/Prototypes/_RMC14/Entities/Structures/Base/base_structure.yml
Labels: No C#, Status: Needs Review

#4954 Fix req restricted firearms being named 'restricted sidearms'
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
Labels: No C#, Status: Needs Review

#4951 Prevent infected marines from triggering eggs and resin parasite traps
  Content.Server/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
Labels: Status: Needs Review

#4948 Make Mutinysystem follow Squadsystem for mutineer icon
  Content.Client/_RMC14/Marines/Mutiny/MutinySystem.cs
  Content.Server/_RMC14/Marines/Mutiny/MutinyCommand.cs
  Content.Server/_RMC14/Marines/Mutiny/MutinySystem.cs
  Content.Shared/_RMC14/Antag/Components/MutineerComponent.cs
  Content.Shared/_RMC14/Marines/Mutiny/MutineerComponent.cs
  Content.Shared/_RMC14/Marines/Mutiny/SharedMutinySystem.cs
  Resources/Locale/en-US/_RMC14/mutiny/mutiny.ftl
Labels: Status: Needs Review

#4946 Fix Magazine Bullet Transfer
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Labels: Status: Needs Review

#4938 Fix boiler death cloud spawning clientside
  Content.Shared/_RMC14/Xenonids/Deathcloud/XenoDeathcloudSystem.cs
Labels: Status: Needs Review

#4909 Parasite masks muffle and blind you
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
Labels: No C#, Status: Needs Review

#4914 figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/kazi_priestess.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/merlin_leander.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/stella_lake_poley.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4935 Fix barricade description lying to you
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_plasteel.yml
Labels: No C#, Status: Needs Review

#4917 Full shove input parity
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Status: Needs Review

#4952 Armor variant fixes
  Content.Server/_RMC14/Armor/RMCArmorSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
Labels: Status: Needs Review

#4919 Fix stasis bags
  Content.Shared/_RMC14/Medical/Stasis/CMStasisBagSystem.cs
Labels: Status: Needs Review

#4928 Change boiler burn damage to pure heat
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_smoke.yml
Labels: No C#, Status: Needs Review

#4934 Plating Friction Fix (Real)
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/_RMC14/Tiles/Prison/prison.yml
Labels: No C#, Status: Needs Review

#4932 Predict armor light verb!
  Content.Client/Light/HandheldLightSystem.cs
  Content.Server/Light/EntitySystems/HandheldLightSystem.cs
  Content.Shared/Light/SharedHandheldLightSystem.cs
Labels: Status: Needs Review

#4878 Window knocking
  Resources/Prototypes/_RMC14/Entities/Structures/Windows/windows.yml
Labels: No C#, Status: Needs Review

#4912 Fix xenos not rotating when pulling an object
  Content.Shared/_RMC14/Pulling/RMCPullingSystem.cs
Labels: Status: Needs Review

#4905 Fuel Pump Animation
  Content.Shared/_RMC14/Evacuation/SharedEvacuationSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/rmc_fuel_pump.yml
Labels: Status: Needs Review

#4940 Map checker
  .github/map_checker/.gitignore
  .github/map_checker/Cargo.lock
  .github/map_checker/Cargo.toml
  .github/map_checker/matchers.yml
  .github/map_checker/src/loadmatchers.rs
  .github/map_checker/src/main.rs
  .github/map_checker/src/scanfile.rs
  .github/map_checker/src/structs.rs
  .github/workflows/rmc-mapchecker.yml
  Resources/Maps/_RMC14/shiva.yml
Labels: No C#, Status: Needs Review, Changes: Map

#4924 Add an option to toggle auto punctuation
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Resources/Locale/en-US/_RMC14/ui.ftl
Labels: Changes: UI

#4766 Fix larva bursting animation looping
  Content.Client/_RMC14/Xenonids/Infected/XenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/BurstVisuals.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimBurstComponent.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimBurstStateChangedEvent.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimInfectedComponent.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Corpses/civilians.yml
Labels: Status: Needs Review, Merge Conflict

#4965 figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/marrik.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/xalos-of-europa.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4967 Fix endless amounts of clientside larva spawning
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
Labels: Status: Needs Review

#4968 Fix resin traps draw depth
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_resin_hole.yml
Labels: No C#, Status: Needs Review

#4945 minor spelling error
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
Labels: No C#, Status: Needs Review

#4961 Add sound for picking up and hanging up a telephone
  Content.Shared/_RMC14/Telephone/RotaryPhoneComponent.cs
  Content.Shared/_RMC14/Telephone/SharedTelephoneSystem.cs
  Resources/Audio/_RMC14/Machines/Phone/attributions.yml
  Resources/Audio/_RMC14/Machines/Phone/handset_1.ogg
  Resources/Audio/_RMC14/Machines/Phone/handset_2.ogg
  Resources/Audio/_RMC14/Machines/Phone/handset_3.ogg
  Resources/Audio/_RMC14/Machines/Phone/handset_4.ogg
  Resources/Audio/_RMC14/Machines/Phone/handset_5.ogg
  Resources/Prototypes/_RMC14/SoundCollections/radio_telephone.yml
Labels: Status: Needs Review

#4970 Xeno Stun reduction fix
  Content.Shared/_RMC14/StatusEffect/RMCStatusEffectSystem.cs
Labels: Status: Needs Review

#4977 Fixes XO accidently using the wrong loadout
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/executive_officer.yml
Labels: No C#, Status: Needs Review

#4976 Fixes M16 bullet damage
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m16_rifle.yml
Labels: No C#

#4975 Fix Legal closet being movable and closet misc
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/closets.yml
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#4921 Xeno Ghost Names
  Content.Server/_RMC14/Name/XenoNameSystem.cs
  Content.Shared/_RMC14/Xenonids/Name/SharedXenoNameSystem.cs
Labels: Status: Needs Review

#4971 Downed Drag Speed Fix + Sound on Successful Tackle
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/_RMC14/Tackle/TackleSystem.cs
Labels: Status: Needs Review

#4983 Fix kutjevo name
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
Labels: Status: Needs Review
