Repository RMC-14/RMC-14, pull requests merged in 2024-08, with the labels that each got.

#3101 Add the overwatch console
  Content.Client/_RMC14/Overwatch/OverwatchConsoleBui.cs
  Content.Client/_RMC14/Overwatch/OverwatchConsoleSystem.cs
  Content.Client/_RMC14/Overwatch/OverwatchConsoleWindow.xaml
  Content.Client/_RMC14/Overwatch/OverwatchConsoleWindow.xaml.cs
  Content.Client/_RMC14/Overwatch/OverwatchSquadView.xaml
  Content.Client/_RMC14/Overwatch/OverwatchSquadView.xaml.cs
  Content.Client/_RMC14/UserInterface/BlueHorizontalSeparator.xaml
  Content.Client/_RMC14/UserInterface/BlueHorizontalSeparator.xaml.cs
  Content.Server/_RMC14/Marines/Squads/SquadCommand.cs
  Content.Server/_RMC14/Overwatch/OverwatchConsoleSystem.cs
  Content.Server/_RMC14/Roles/RMCRoleSystem.cs
  Content.Server/_RMC14/Xenonids/Watch/XenoWatchSystem.cs
  Content.Shared/_RMC14/Marines/Roles/JobPrototype.cs
  Content.Shared/_RMC14/Marines/Squads/SquadMemberUpdatedEvent.cs
  Content.Shared/_RMC14/Marines/Squads/SquadSystem.cs
  Content.Shared/_RMC14/Marines/Squads/SquadTeamComponent.cs
  Content.Shared/_RMC14/Overwatch/OverwatchCameraComponent.cs
  Content.Shared/_RMC14/Overwatch/OverwatchConsoleComponent.cs
  Content.Shared/_RMC14/Overwatch/OverwatchConsoleUI.cs
  Content.Shared/_RMC14/Overwatch/OverwatchWatchingComponent.cs
  Content.Shared/_RMC14/Overwatch/SharedOverwatchConsoleSystem.cs
  Content.Shared/_RMC14/Roles/OriginalRoleComponent.cs
  Resources/Maps/_RMC14/savannah.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/marine_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/rmc_communications_console.yml
  Resources/Prototypes/_RMC14/Maps/almayer.yml
  Resources/Prototypes/_RMC14/Maps/savannah.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/migration.yml
  SpaceStation14.sln.DotSettings
Labels: Status: Needs Review, Changes: UI, Changes: Map

#3434 Vendor cleanup, add missing items, mark recommended, update point costs
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/barbedwire.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/base_cases.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/base_kits.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/revolver.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
Labels: No C#, Status: Needs Review

#3435 Add ActiveInputMover
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Input/ActiveInputMoverComponent.cs
  Content.Shared/_RMC14/Input/RMCInputSystem.cs
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: Status: Needs Review

#3431 add figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/alex_gregory.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3334 Parasite is now an item that fits on the mask slot rather than being an overlay sprite
  Content.Client/_RMC14/Xenonids/Infected/XenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimInfectedComponent.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimInfectedLayer.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite_mask.rsi/equipped-MASK-dog.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite_mask.rsi/equipped-MASK-puppy.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite_mask.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite_mask.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#3360 Show planet in chat
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Resources/Locale/en-US/job/job.ftl
Labels: Status: Needs Review

#3423 Portable extinguishers/Breaching Charge whitelisted into toolbelt rig
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Explosives/breaching_charge.yml
Labels: No C#, Status: Needs Review

#3365 Add defensive shield + shield logic
  Content.Client/_RMC14/Xenonids/Hud/XenoHudOverlay.cs
  Content.Shared/_RMC14/Shields/CrusherShieldComponent.cs
  Content.Shared/_RMC14/Shields/CrusherShieldSystem.cs
  Content.Shared/_RMC14/Shields/RemovedShieldEvent.cs
  Content.Shared/_RMC14/Shields/XenoDefensiveShieldActionEvent.cs
  Content.Shared/_RMC14/Shields/XenoShieldComponent.cs
  Content.Shared/_RMC14/Shields/XenoShieldSystem.cs
  Resources/Audio/_RMC14/Bullets/attributions.yml
  Resources/Audio/_RMC14/Bullets/shield_break_c1.ogg
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_RMC14/Effects/empower.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/crusher.yml
  Resources/Textures/_RMC14/Effects/xeno_empower.rsi/empower.png
  Resources/Textures/_RMC14/Effects/xeno_empower.rsi/meta.json
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/meta.json
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/xenoshield0.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/xenoshield10.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/xenoshield100.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/xenoshield20.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/xenoshield30.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/xenoshield40.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/xenoshield50.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/xenoshield60.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/xenoshield70.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/xenoshield80.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/xenoshield90.png
Labels: Changes: Sprites, Status: Needs Review

#3419 Parasites use impregnanted sprite when dying from infecting + infect announcement
  Content.Client/_RMC14/Xenonids/XenoVisualizerSystem.cs
  Content.Shared/_RMC14/Xenonids/Announce/SharedXenoAnnounceSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-parasite.ftl
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/impregnated.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/sleeping.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite_impregnated.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite_impregnated.rsi/parasite_impregnated.png
Labels: Changes: Sprites, Status: Needs Review

#3357 make saline unobtainable
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: No C#, Status: Needs Review

#3244 add squad colored armor
  Content.Shared/_RMC14/Marines/Squads/SquadArmorComponent.cs
  Content.Shared/_RMC14/Marines/Squads/SquadArmorWearerComponent.cs
  Content.Shared/_RMC14/Marines/Squads/SquadSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/marine_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/helmet_overlays.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/helmet_overlays.rsi/sql-helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/helmet_overlays.rsi/std-helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/armor_overlays.rsi/lamp-off.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/armor_overlays.rsi/lamp-on.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/armor_overlays.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/armor_overlays.rsi/sql-armor.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/armor_overlays.rsi/std-armor.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3203 add admin fax area
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Resources/Maps/_RMC14/admin_fax.yml
  Resources/Prototypes/_RMC14/Maps/admin_fax.yml
Labels: No C#, Status: Needs Review, Changes: Map

#3441 Clarify what blocks Screech in the ability's description
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: No C#, Status: Needs Review

#3442 Fix upstream toolboxes on shivas and shotgun size
  Resources/Maps/_RMC14/shiva.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/marine_shotguns.yml
Labels: No C#, Changes: Map

#3453 Adds speedloaders to armor storage whitelist
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
Labels: No C#, Status: Needs Review

#3456 Savannah Rework: new Preparation, bigger Requi and Med
  Resources/Maps/_RMC14/savannah.yml
Labels: No C#, Status: Needs Review, Changes: Map

#3467 Fix parasite spent text
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-parasite.ftl
Labels: Status: Needs Review

#3471 Tweaked RMC Clipboard
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/clipboard.yml
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/clipboard_paper.png
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3488 Fire Extinguisher fix
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/fire_extinguisher.yml
Labels: No C#, Status: Needs Review

#3491 Fixes the spec GL firing through doors.
  Content.Shared/_RMC14/Weapons/Ranged/CMGunSystem.cs
Labels: Status: Needs Review

#3475 M77 & MK80 visual fix
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/marine_pistols.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m77.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m77.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m77.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/mk80.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/mk80.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/mk80.rsi/meta.json
Labels: No C#, Changes: Sprites

#3489 M54C Ext magazine box visual fix
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
Labels: No C#, Status: Needs Review

#3468 Charge fix 2
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
Labels: Status: Needs Review

#3464 Fix CPR mask popup appearing from alive (still)
  Content.Shared/_RMC14/Medical/CPR/CPRSystem.cs
Labels: Status: Needs Review

#3479 New parasite crit & sleeping sprites
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/crit.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/sleeping.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3432 ColMarTech Corpsman backpack update
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
Labels: No C#, Status: Needs Review

#3494 Add Overwatch filters for dead/hidden/shipside/planetside, manually hiding marines, fix showing logged out marines in cryo
  Content.Client/_RMC14/Overwatch/OverwatchConsoleBui.cs
  Content.Client/_RMC14/Overwatch/OverwatchSquadView.xaml
  Content.Client/_RMC14/Overwatch/OverwatchSquadView.xaml.cs
  Content.Server/_RMC14/Dropship/DropshipSystem.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/Overwatch/OverwatchConsoleComponent.cs
  Content.Shared/_RMC14/Overwatch/OverwatchConsoleUI.cs
  Content.Shared/_RMC14/Overwatch/SharedOverwatchConsoleSystem.cs
  Content.Shared/_RMC14/Rules/RMCPlanetComponent.cs
Labels: Status: Needs Review, Changes: UI

#3497 Remixed sprites to show the mouse entering the fax machine
  Resources/Textures/_RMC14/Structures/Machines/fax_machine.rsi/inserting_mouse.png
  Resources/Textures/_RMC14/Structures/Machines/fax_machine.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3482 Admin Fax update: RMC walls and RMC paper bins
  Resources/Maps/_RMC14/admin_fax.yml
Labels: No C#, Status: Needs Review, Changes: Map

#3483 Added pickup, drop and use sounds
  Resources/Audio/_RMC14/Handling/armorequip_1.ogg
  Resources/Audio/_RMC14/Handling/armorequip_2.ogg
  Resources/Audio/_RMC14/Handling/attributions.yml
  Resources/Audio/_RMC14/Handling/clothing_off.ogg
  Resources/Audio/_RMC14/Handling/clothing_on.ogg
  Resources/Audio/_RMC14/Handling/crowbar_pickup.ogg
  Resources/Audio/_RMC14/Handling/gunequip1.ogg
  Resources/Audio/_RMC14/Handling/gunequip2.ogg
  Resources/Audio/_RMC14/Handling/gunequip3.ogg
  Resources/Audio/_RMC14/Handling/gunrustle1.ogg
  Resources/Audio/_RMC14/Handling/gunrustle2.ogg
  Resources/Audio/_RMC14/Handling/gunrustle3.ogg
  Resources/Audio/_RMC14/Handling/multitool_pickup.ogg
  Resources/Audio/_RMC14/Handling/paper_drop.ogg
  Resources/Audio/_RMC14/Handling/paper_pickup.ogg
  Resources/Audio/_RMC14/Handling/screwdriver_pickup.ogg
  Resources/Audio/_RMC14/Handling/toolbox_pickup.ogg
  Resources/Audio/_RMC14/Handling/weldingtool_pickup.ogg
  Resources/Audio/_RMC14/Handling/wirecutter_pickup.ogg
  Resources/Audio/_RMC14/Handling/wrench_pickup.ogg
  Resources/Audio/_RMC14/Weapons/Guns/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/gun_rifle_draw.ogg
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/weapons.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/base.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/marine_rifles.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/cm_base_gun.yml
  Resources/Prototypes/_RMC14/SoundCollections/handling.yml
Labels: No C#, Status: Needs Review

#3433 Civilian Medical Backpack matching sprite
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Civilians/medical.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Civilians/medical.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3474 Access lock Booze-Mat
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/food.yml
Labels: No C#

#3366 Skill Pamphlet Functionality
  Content.Shared/_RMC14/Marines/Skills/Pamphlets/SkillPamphletComponent.cs
  Content.Shared/_RMC14/Marines/Skills/Pamphlets/SkillPamphletSystem.cs
  Content.Shared/_RMC14/Marines/Skills/Pamphlets/UsedSkillPamphletComponent.cs
  Resources/Locale/en-US/_RMC14/pamphlet/rmc-pamphlets.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/pamphlets.yml
Labels: Status: Needs Review

#3490 Adds squad encryption to CMP key
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/EncryptionKeys/ship.yml
Labels: No C#, Status: Needs Review

#3506 Fix RUNLinter error
  Content.Shared/_RMC14/Areas/AreaComponent.cs
Labels: Status: Needs Review

#3498 Flare sprite centered
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/flare-on.png
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/flare.png
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/flare_flame.png
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/flare_spent.png
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/flare_unlit.png
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/icon.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3516 Fix spaceborne gauss turrets not shooting crit xenos
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/static_sentries.yml
Labels: No C#, Status: Needs Review

#3517 Add vendor points and weapons spec skills to admin ui
  Content.Client/_RMC14/Admin/RMCAdminEui.cs
  Content.Client/_RMC14/Admin/RMCAdminWindow.xaml
  Content.Client/_RMC14/Admin/RMCAdminWindow.xaml.cs
  Content.Client/_RMC14/Admin/RMCMarineTab.xaml
  Content.Client/_RMC14/Admin/RMCMarineTab.xaml.cs
  Content.Client/_RMC14/Admin/RMCSquadsTab.xaml
  Content.Server/_RMC14/Admin/RMCAdminEui.cs
  Content.Shared/_RMC14/Admin/RMCAdminEui.cs
  Content.Shared/_RMC14/Weapons/Ranged/Whitelist/DemoSpecWhitelistComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Whitelist/GrenadeSpecWhitelistComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Whitelist/SniperWhitelistComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Whitelist/SpecialistSkillComponentAttribute.cs
  Resources/Locale/en-US/_RMC14/rmc-admin-ui.ftl
Labels: Changes: UI

#3518 Don't show toggle internals verb if no breath tools are found while off
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: Status: Needs Review

#3503 Fix wrong locale extension
  Resources/Locale/en-US/_RMC14/ghost-roles/marshal.ftl
  Resources/Locale/en-US/_RMC14/ghost-roles/pizza.ftl
  Resources/Locale/en-US/_RMC14/ghost-roles/pmc.ftl
Labels: No C#, Status: Needs Review

#3523 Correspondant camera is no longer acidable
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/camera.yml
Labels: No C#, Status: Needs Review

#3529 Fix overwatch console bugging out with some squads until reconnect
  Content.Client/_RMC14/Overwatch/OverwatchConsoleBui.cs
  Content.Client/_RMC14/Overwatch/OverwatchConsoleSystem.cs
  Content.Shared/_RMC14/Overwatch/SharedOverwatchConsoleSystem.cs
Labels: Status: Needs Review

#3470 add figurines
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/madelynn_buzz_lewis.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/shawn_fox.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3504 Add cable
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Power/coil.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Windoors/assembly.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/engineering.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/airlock.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/floodlightbig.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/windoor.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/utilities/apc.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/utilities/machine_frame.yml
  Resources/Textures/_RMC14/Objects/Power/coil.rsi/coil1.png
  Resources/Textures/_RMC14/Objects/Power/coil.rsi/coil2.png
  Resources/Textures/_RMC14/Objects/Power/coil.rsi/coil3.png
  Resources/Textures/_RMC14/Objects/Power/coil.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Power/coil.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Power/coil.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3533 FIX CPR POPUP FOR THE LAST TIME
  Content.Shared/_RMC14/Medical/CPR/CPRSystem.cs
  Resources/Locale/en-US/_RMC14/medical/cpr.ftl
  Resources/Locale/en-US/_RMC14/medical/crp.ftl
Labels: Status: Needs Review

#3534 Fix parasite quick equip
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
Labels: No C#, Status: Needs Review

#3530 Adds warp point to hive core
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_hive.yml
Labels: No C#, Status: Needs Review

#3541 Add area entities for lv, solaris, fiorina, shivas and sulaco
  Content.Scripts/AreaImporter.cs
  Resources/Prototypes/_RMC14/Entities/Areas/areas_almayer.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_base.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_fiorina.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_lv.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_shiva.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_solaris.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_space.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_sulaco.yml
Labels: Status: Needs Review

#3540 Fix xenos being able to attack nested infected, fix not being able to see while nested, fix fake attack effects
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/Nest/XenoNestSystem.cs
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
Labels: Status: Needs Review

#3537 Fix breaching charge not fitting in toolbelts
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Explosives/breaching_charge.yml
Labels: No C#, Status: Needs Review

#3542 Fix the combat toolbelt rig being able to hold more than 1 pistol
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/_RMC14/Storage/LimitedStorageComponent.cs
  Content.Shared/_RMC14/Storage/RMCStorageSystem.cs
  Content.Shared/_RMC14/Storage/RemoveOnlyStorageComponent.cs
  Content.Shared/_RMC14/Storage/StorageSkillRequiredComponent.cs
  Resources/Locale/en-US/_RMC14/storage/storage.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
Labels: Status: Needs Review

#3553 Remove nesting the dead
  Content.Shared/_RMC14/Xenonids/Construction/Nest/XenoNestSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-nest.ftl
Labels: Status: Needs Review

#3552 Make wall resin visible to xenos outside fov
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: No C#, Status: Needs Review

#3556 Surgical Line/Synth Graft notifies the target
  Content.Shared/_RMC14/Medical/Wounds/SharedWoundsSystem.cs
  Content.Shared/_RMC14/Medical/Wounds/WoundTreaterComponent.cs
  Resources/Locale/en-US/_RMC14/medical/wounds.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/healing.yml
Labels: Status: Needs Review

#3555 Hive Core is now visible to Xenos through night-vision
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_hive.yml
Labels: No C#, Status: Needs Review

#3551 Fixes weapons spontaneously shrinking. Hopefully.
  Content.Shared/_RMC14/Item/ItemSizeChangeSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Attachables/rmc_base_attachable_holder.yml
Labels: Status: Needs Review

#3544 Add instant open on backpacks
  Content.Shared/_RMC14/Storage/RMCStorageSystem.cs
  Content.Shared/_RMC14/Storage/StorageCloseOnMoveComponent.cs
  Content.Shared/_RMC14/Storage/StorageOpenDoAfterComponent.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/backpacks.yml
Labels: Status: Needs Review

#3501 Fix pulling mobs that just died from rubberbanding
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
Labels: Status: Needs Review

#3558 MRE blacklist Xeno
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/MRE/mre.yml
Labels: No C#, Status: Needs Review

#3557 Add unique medic helmet overlays
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/marine_helmets.yml
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/helmet_overlays.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/helmet_overlays.rsi/sql-helmet-medic.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/helmet_overlays.rsi/std-helmet-medic.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3565 Fix .44 marksman colors
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/marksman-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/marksman-2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/marksman-3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/marksman-4.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/marksman-5.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3546 Add lidding(?) bottles
  Resources/Locale/en-US/_RMC14/medical/refillable.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bottles.yml
Labels: No C#, Status: Needs Review

#3502 Fix pointing animation
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
Labels: Status: Needs Review

#3568 Corpsman back visual update
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/medic.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/medic.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/medic.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/medic.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/medic.rsi/open.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Marines/medic.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Marines/medic.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Marines/medic.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Marines/medic.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Marines/medic.rsi/open.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3572 Sandbox construction kit typo fix
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/engineering.yml
Labels: No C#, Status: Needs Review

#3569 You can now vault while taking damage
  Content.Shared/Climbing/Systems/ClimbSystem.cs
Labels: Status: Needs Review, Needs Upstreaming

#3520 Large crate visual fix.
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/crates.yml
  Resources/Textures/_RMC14/Structures/Storage/Crates/densecrate.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/densecrate.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/densecrate.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/Crates/lisacrate.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/lisacrate.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/lisacrate.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/Crates/minicrate.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/minicrate.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/minicrate.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3571 Update pill sprites
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill1.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill10.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill11.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill12.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill13.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill14.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill15.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill16.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill17.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill18.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill19.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill2.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill20.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill21.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill22.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill3.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill4.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill5.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill6.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill7.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill8.png
  Resources/Textures/_RMC14/Objects/Chemistry/pills.rsi/pill9.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3522 Cigarette Packs + Lighter
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/cig_packs.yml
Labels: No C#, Status: Needs Review

#3395 xeno figurines
  Resources/Prototypes/_RMC14/Entities/Objects/xeno_figurines.yml
  Resources/Textures/_RMC14/Objects/xeno_figurines.rsi/drone.png
  Resources/Textures/_RMC14/Objects/xeno_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/xeno_figurines.rsi/warrior.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3455 Armor light visuals + armor YML cleanup
  Resources/Audio/_RMC14/Machines/armor_equip.ogg
  Resources/Audio/_RMC14/Machines/attributions.yml
  Resources/Audio/_RMC14/Machines/suitlight_off.ogg
  Resources/Audio/_RMC14/Machines/suitlight_on.ogg
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/basic_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/armor_overlays.rsi/lamp-on.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3535 Prevent marines from pulling parasites, localize pull whitelists
  Content.Shared/_RMC14/Pulling/CMPullingSystem.cs
  Content.Shared/_RMC14/Pulling/InfectOnPullAttemptComponent.cs
  Content.Shared/_RMC14/Pulling/InfectOnPullAttemptImmuneComponent.cs
  Resources/Locale/en-US/_RMC14/pulling/pulling.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
Labels: Status: Needs Review

#3538 Added RMCFlashlightPen into Med Essential Bundle
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
Labels: No C#, Status: Needs Review

#3381 Matching parasite sprites
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite_mask.rsi/equipped-MASK-dog.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite_mask.rsi/equipped-MASK-puppy.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite_mask.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite_mask.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3579 Make Patrons spawn with their figurine in-hand or backpack, add CMO Pandi Fackler and Jermaine 'Bait' McClune figurines
  Content.Server/_RMC14/Figurines/FigurineSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/beret_green.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/beret_green.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/beret_green.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/jermaine_bait_mcclune.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/pandi_fackler.png
Labels: Changes: Sprites, Status: Needs Review

#3566 Make machete and throwing knife devour usable
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/weapons.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/knife.yml
Labels: No C#, Status: Needs Review

#3573 Corpsmen Helmets now allow medically trained personnel to change holocards via examination
  Content.Shared/_RMC14/Medical/HUD/Systems/HolocardSystem.cs
Labels: Status: Needs Review

#3561 Adds a Scottish Trait for non-dwarves.
  Resources/Locale/en-US/_RMC14/traits/traits.ftl
  Resources/Prototypes/_RMC14/Traits/cm_neutral.yml
Labels: No C#, Status: Needs Review

#3547 M42A2 shotgun reload sound change
  Resources/Audio/_RMC14/Weapons/Guns/Reload/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Reload/shell_load1.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Reload/shell_load2.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Reload/shell_load3.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Reload/shell_load4.ogg
  Resources/Prototypes/_RMC14/Audio/gun_sound_collections.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/marine_shotguns.yml
Labels: No C#, Status: Needs Review

#3390 Scout Weapon Specialist
  Content.Client/_RMC14/Stealth/EntityInvisibilityVisualsSystem.cs
  Content.Shared/_RMC14/Armor/ThermalCloak/ThermalCloakComponent.cs
  Content.Shared/_RMC14/Armor/ThermalCloak/ThermalCloakSystem.cs
  Content.Shared/_RMC14/Armor/ThermalCloak/ThermalCloakTurnInvisibleActionEvent.cs
  Content.Shared/_RMC14/Clothing/ClothingRequireEquippedComponent.cs
  Content.Shared/_RMC14/Clothing/RMCClothingSystem.cs
  Content.Shared/_RMC14/OnCollide/SharedOnCollideSystem.cs
  Content.Shared/_RMC14/Stealth/EntityActiveInvisibleComponent.cs
  Content.Shared/_RMC14/Stealth/EntityTurnInvisibleComponent.cs
  Content.Shared/_RMC14/Stealth/RMCPassiveStealthComponent.cs
  Content.Shared/_RMC14/Stealth/RMCPassiveStealthSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/IFF/EntityIFFComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/IFF/GunIFFSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/Whitelist/ScoutWhitelistComponent.cs
  Content.Shared/_RMC14/Xenonids/Projectile/UncloakOnHitComponent.cs
  Resources/Audio/_RMC14/Effects/Cloak/attributions.yml
  Resources/Audio/_RMC14/Effects/Cloak/cloak_scout_off.ogg
  Resources/Audio/_RMC14/Effects/Cloak/cloak_scout_on.ogg
  Resources/Locale/en-US/_RMC14/armor/rmc-requires-armor.ftl
  Resources/Locale/en-US/_RMC14/armor/rmc-tactical-cloak.ftl
  Resources/Prototypes/_RMC14/Actions/Marines/marine_thermalcloak_actions.yml
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/weapon_specialist_ammo.yml
  Resources/Prototypes/_RMC14/Effects/xeno_acid.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/marine_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bodybags.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/specialist_loadouts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/marine_rifles.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/scout_cloak.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/scout_cloak.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/scout_cloak.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/scout_cloak.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/scout_cloak.rsi/open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr_custom.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr_custom.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr_custom.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr_custom.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr_custom.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr_custom.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr_custom.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr_custom.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr_custom.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr_custom.rsi/sling.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr_custom.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr_custom.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Status: Needs Review

#3581 Fix Spitter charged spit expire popup spam
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/Charge/XenoActiveChargingSpitComponent.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/XenoSpitSystem.cs
Labels: Status: Needs Review

#3331 Correctely update planet selection
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
Labels: Status: Needs Review

#3560 ColMarTech medical equipment rack update
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/medical.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/medical.yml
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Scrubs/orange.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Scrubs/orange.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Scrubs/orange.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/medical_equipment.rsi/base.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/medical_equipment.rsi/broken.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/medical_equipment.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/medical_equipment.rsi/off.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/medical_equipment.rsi/panel.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3582 Fix the chemical dispenser, chemmaster and overwatch console having no skill check
  Content.Shared/_RMC14/Marines/Skills/SkillsSystem.cs
  Resources/Locale/en-US/_RMC14/skills/rmc-skills.ftl
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Science/Dispensers/chem.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Science/chem_master.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/rmc_communications_console.yml
Labels: Status: Needs Review

#3584 Fix being able to shoot or attack while lying down, drop items when lying down
  Content.Shared/_RMC14/Buckle/ActiveBuckleClimbingComponent.cs
  Content.Shared/_RMC14/Buckle/BuckleClimbableComponent.cs
  Content.Shared/_RMC14/Buckle/RMCBuckleSystem.cs
  Content.Shared/_RMC14/Standing/DropItemsOnRestComponent.cs
  Content.Shared/_RMC14/Standing/RMCStandingSystem.cs
  Resources/Locale/en-US/_RMC14/buckle/rmc-buckle.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#3559 Speedloader Box (M44 x 16)
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_box_crafting.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
Labels: No C#, Status: Needs Review

#3586 Add toolboxes and buckets to migration.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/supplies.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe_recipes.yml
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#3585 Fix xenonids being able to secrete resin structures on top of nested marines
  Content.Shared/_RMC14/Map/RMCMapSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/Nest/XenoNestSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
Labels: Status: Needs Review

#3511 Better Announce
  Content.Server/_RMC14/Dropship/DropshipSystem.cs
  Content.Server/_RMC14/Marines/MarineAnnounceCommand.cs
  Content.Server/_RMC14/Marines/MarineAnnounceSystem.cs
  Content.Shared/_RMC14/Dropship/SharedDropshipSystem.cs
  Content.Shared/_RMC14/Marines/Announce/MarineCommunicationsComputerComponent.cs
  Content.Shared/_RMC14/Marines/Announce/SharedMarineAnnounceSystem.cs
  Resources/Locale/en-US/_RMC14/chat/announcement.ftl
  Resources/Locale/en-US/_RMC14/commands/rmc-announce.ftl
Labels: Status: Needs Review

#3591 Fix incorrect thermal cloak whitelist
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
Labels: No C#, Status: Needs Review

#3588 Make tan undershirt the default marking
  Resources/Locale/en-US/_RMC14/markings/undershirt.ftl
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Textures/_RMC14/Mobs/Customization/undershirt.rsi/blank.png
  Resources/Textures/_RMC14/Mobs/Customization/undershirt.rsi/meta.json
Labels: No C#, Changes: Sprites

#3410 Larva burst now spawns the larva 20 seconds before burst, allowing the ghostrole to be taken
  Content.Shared/_RMC14/Medical/Surgery/SharedCMSurgerySystem.Steps.cs
  Content.Shared/_RMC14/Medical/Surgery/SharedCMSurgerySystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimInfectedComponent.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-infection.ftl
Labels: Status: Needs Review

#3589 Update storage.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
Labels: No C#, Status: Needs Review

#3595 entrenching tool doafter bug fix - requires hands now
  Content.Shared/_RMC14/Entrenching/BarricadeSystem.cs
Labels: Status: Needs Review

#3594 Toolbox visual fix
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/toolbox.yml
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_blue.rsi/icon-open.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_blue.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_blue.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_blue.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_blue.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_red.rsi/icon-open.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_red.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_red.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_red.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_red.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_yellow.rsi/icon-open.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_yellow.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_yellow.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_yellow.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tools/Toolboxes/toolbox_yellow.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3417 fixes moths/arachnids/dionae/slimes not having burn visuals
  Content.Shared/_RMC14/Medical/IV/BloodPackComponent.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/basic_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/slime.yml
Labels: No C#, Status: Needs Review

#3602 add figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/astor_debb.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: No C#, Changes: Sprites

#3598 Update Chiki Sugimoto figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/chiki_sugimoto.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3605 Fix Spray Acid not costing Plasma to use
  Content.Shared/_RMC14/Xenonids/Spray/XenoSprayAcidComponent.cs
  Content.Shared/_RMC14/Xenonids/Spray/XenoSprayAcidSystem.cs
Labels: Status: Needs Review

#3613 Add Mazy 'The Fortress' Tusji figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/mazy_the_fortress_tusji.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3627 Prefabricated structure wall desc fix
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/shiva_walls.yml
Labels: No C#

#3618 M4SPR & M63 visual fix
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m4spr.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/mag-0.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3638 Various xeno fixes
  Content.Shared/_RMC14/Xenonids/Construction/Nest/XenoNestSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
Labels: Status: Needs Review

#3635 Sidearm pouch audio fix
  Resources/Audio/_RMC14/Weapons/Guns/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/gun_pistol_draw.ogg
  Resources/Audio/_RMC14/Weapons/Guns/gun_pistol_sheathe.ogg
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/weapons.yml
Labels: No C#

#3633 Make base chair abstract
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/chairs.yml
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#3630 Replace upstream belt with RMC one
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/engineering.yml
Labels: No C#, Status: Needs Review

#3632 Areas, Observer spawner, bigger CIC table
  Resources/Maps/_RMC14/savannah.yml
Labels: No C#, Status: Needs Review, Changes: Map

#3340 Spectating Marine and Xeno huds
  Content.Client/_RMC14/Marines/MarineOverlay.cs
  Content.Client/_RMC14/Mobs/Ghosts/CMGhostSystem.cs
  Content.Client/_RMC14/Xenonids/Hud/XenoHudOverlay.cs
  Content.Server/_RMC14/Mobs/CMGhostSystem.cs
  Content.Shared/_RMC14/Mobs/CMGhostComponent.cs
  Content.Shared/_RMC14/Mobs/CMGhostMarineHudComponent.cs
  Content.Shared/_RMC14/Mobs/CMGhostXenoHud.cs
  Resources/Prototypes/_RMC14/Actions/Ghosts/cm_observer.yml
Labels: Status: Needs Review

#3615 add figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/nesart_onan.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/satoru_suzuki.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3612 Fix being able to use nightvision items from inside your pockets
  Content.Shared/_RMC14/NightVision/NightVisionItemComponent.cs
  Content.Shared/_RMC14/NightVision/SharedNightVisionSystem.cs
Labels: Status: Needs Review

#3619 fix welder chestrig offset
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Marines/welder_chestrig.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Marines/welder_chestrig.rsi/open.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3640 Add Dalton Harris figurine, update Iantha Atikson figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/Iantha_Atikson.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/dalton_harris.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3653 More pens and dropship crush fixes
  Resources/Maps/_RMC14/savannah.yml
Labels: No C#, Status: Needs Review, Changes: Map

#3654 Intercom visual fix
  Resources/Prototypes/_RMC14/Entities/Structures/Wallmounts/intercom.yml
  Resources/Textures/_RMC14/Structures/Wallmounts/intercom.rsi/broadcasting.png
  Resources/Textures/_RMC14/Structures/Wallmounts/intercom.rsi/intercom-p.png
  Resources/Textures/_RMC14/Structures/Wallmounts/intercom.rsi/intercom.png
  Resources/Textures/_RMC14/Structures/Wallmounts/intercom.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Wallmounts/intercom.rsi/speaker.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3664 Xenos can no longer place sandbags
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/sandbags.yml
Labels: No C#, Status: Needs Review

#3670 add figurines
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/chad_scott.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/worships-the-gods.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3679 Add xeno speech sounds
  Resources/Audio/_RMC14/Xeno/alien_talk1.ogg
  Resources/Audio/_RMC14/Xeno/alien_talk2.ogg
  Resources/Audio/_RMC14/Xeno/alien_talk3.ogg
  Resources/Audio/_RMC14/Xeno/attributions.yml
  Resources/Audio/_RMC14/Xeno/larva_talk1.ogg
  Resources/Audio/_RMC14/Xeno/larva_talk2.ogg
  Resources/Audio/_RMC14/Xeno/larva_talk3.ogg
  Resources/Audio/_RMC14/Xeno/larva_talk4.ogg
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/warrior.yml
  Resources/Prototypes/_RMC14/SoundCollections/xeno_speech.yml
  Resources/Prototypes/_RMC14/Voice/speech_sounds.yml
Labels: No C#, Status: Needs Review

#3680 Fix stun animations for xenos
  Content.Client/_RMC14/Xenonids/XenoVisualizerSystem.cs
  Content.Shared/_RMC14/Xenonids/Fortify/XenoFortifyComponent.cs
  Content.Shared/_RMC14/Xenonids/Fortify/XenoFortifySystem.cs
Labels: Status: Needs Review

#3681 Made autoinjectors not draw from containers
  Content.Client/Chemistry/UI/HyposprayStatusControl.cs
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Shared/Chemistry/Components/HyposprayComponent.cs
  Content.Shared/Chemistry/EntitySystems/SharedHypospraySystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/auto_injectors.yml
Labels: Status: Needs Review

#3606 Traits YML cleanup and rearranging
  Resources/Locale/en-US/_RMC14/cmtraits.ftl
  Resources/Locale/en-US/_RMC14/traits/traits.ftl
  Resources/Prototypes/_RMC14/Traits/accents.yml
  Resources/Prototypes/_RMC14/Traits/categories.yml
  Resources/Prototypes/_RMC14/Traits/cm_inconveniences.yml
  Resources/Prototypes/_RMC14/Traits/cm_neutral.yml
  Resources/Prototypes/_RMC14/Traits/inconveniences.yml
Labels: No C#, Status: Needs Review

#3683 Prevent the Queen from being pulled while alive, not stunned and not knocked down
  Content.Shared/_RMC14/Pulling/ActivePreventPulledWhileAliveComponent.cs
  Content.Shared/_RMC14/Pulling/CMPullingSystem.cs
  Content.Shared/_RMC14/Pulling/PreventPulledWhileAliveComponent.cs
  Content.Shared/_RMC14/ShakeStun/StunShakeableSystem.cs
  Resources/Locale/en-US/_RMC14/pulling/pulling.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
Labels: Status: Needs Review

#3662 Fix Double Door phantom blocking
  Content.Shared/_RMC14/Doors/CMDoorSystem.cs
Labels: Status: Needs Review

#3661 Add Plasteel barricades
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_plasteel.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/barricade_plasteel.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/structures.yml
  Resources/Textures/_RMC14/Structures/Walls/Barricades/barricade.rsi/folding_plasteel.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/barricade.rsi/folding_plasteel_closed.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/barricade.rsi/folding_plasteel_closed_wire.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/barricade.rsi/folding_plasteel_wire.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/barricade.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Walls/Barricades/barricade.rsi/plasteel.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/barricade.rsi/plasteel_wire.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/folding_plasteel_closed_cracks.rsi/DamageOverlay_12.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/folding_plasteel_closed_cracks.rsi/DamageOverlay_4.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/folding_plasteel_closed_cracks.rsi/DamageOverlay_8.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/folding_plasteel_closed_cracks.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Walls/Barricades/folding_plasteel_cracks.rsi/DamageOverlay_12.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/folding_plasteel_cracks.rsi/DamageOverlay_4.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/folding_plasteel_cracks.rsi/DamageOverlay_8.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/folding_plasteel_cracks.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Walls/Barricades/plasteel_barricade_cracks.rsi/DamageOverlay_12.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/plasteel_barricade_cracks.rsi/DamageOverlay_4.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/plasteel_barricade_cracks.rsi/DamageOverlay_8.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/plasteel_barricade_cracks.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3686 Add descriptions to SL kits
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
Labels: No C#, Status: Needs Review

#3685 Add Sukuna Kurze figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/sukuna_kurze.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3687 Fix admin ghosts not being able to see items in pouches or interact with them
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Strip/SharedStrippableSystem.cs
Labels: Status: Needs Review

#3688 Add a popup when someone else throws something
  Content.Shared/Throwing/ThrowingSystem.cs
  Resources/Locale/en-US/throwing.ftl
Labels: Status: Needs Review

#3684 Add invulnerability time system + apply it to barricades
  Content.Shared/_RMC14/Barricade/Components/InvulnerabilityTimeComponent.cs
  Content.Shared/_RMC14/Barricade/InvulnerabilityTimeSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Base/base_structure.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
Labels: Status: Needs Review

#3694 Briefcases and Portable Vendor
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/portable_vendor.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/liaison.yml
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/brown.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/brown.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/brown.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/brown.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/secure.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/secure.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/secure.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/secure.rsi/secure.png
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/secure.rsi/secure0.png
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/secure.rsi/secureb.png
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/secure.rsi/securespark.png
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/suit.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/suit.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/suit.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Storage/Briefcases/suit.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3649 Add boiler neurotoxin
  Content.Server/_RMC14/Xenonids/NeurotoxinSystem.cs
  Content.Shared/_RMC14/Xenonids/AcidShroud/XenoAcidShroudComponent.cs
  Content.Shared/_RMC14/Xenonids/AcidShroud/XenoAcidShroudSystem.cs
  Content.Shared/_RMC14/Xenonids/Bombard/XenoBombardSystem.cs
  Content.Shared/_RMC14/Xenonids/Bombard/XenoBombardToggleActionEvent.cs
  Content.Shared/_RMC14/Xenonids/GasToggle/XenoGasToggleActionEvent.cs
  Content.Shared/_RMC14/Xenonids/GasToggle/XenoGasToggleComponent.cs
  Content.Shared/_RMC14/Xenonids/GasToggle/XenoGasToggleSystem.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/CoughedBloodComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/NeurotoxinComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/NeurotoxinEmoteEvent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/NeurotoxinInjectorComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
  Resources/Locale/en-US/_RMC14/neurotoxin.ftl
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_smoke.yml
Labels: Status: Needs Review

#3702 Block shooting while inside containers
  Content.Shared/_RMC14/Weapons/Ranged/CMGunSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/UserBlockShootingInsideContainersComponent.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#3701 Queen Death Evolution Cooldown popup fix
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionSystem.cs
Labels: Status: Needs Review

#3669 Fix hypo not being inject only
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/hypospray.yml
Labels: No C#, Status: Needs Review

#3062 Feat/corrosive-acid-melting-overhaul
  Content.Client/_RMC14/Xenonids/Acid/XenoAcidSystem.cs
  Content.Server/_RMC14/Xenonids/Acid/XenoAcidSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Xenonids/Acid/CorrodibleComponent.cs
  Content.Shared/_RMC14/Xenonids/Acid/CorrodingEvent.cs
  Content.Shared/_RMC14/Xenonids/Acid/DamageableCorrodingComponent.cs
  Content.Shared/_RMC14/Xenonids/Acid/SharedXenoAcidSystem.cs
  Content.Shared/_RMC14/Xenonids/Acid/TimedCorrodingComponent.cs
  Content.Shared/_RMC14/Xenonids/Acid/XenoAcidComponent.cs
  Content.Shared/_RMC14/Xenonids/Acid/XenoCorrosiveAcidDoAfterEvent.cs
  Content.Shared/_RMC14/Xenonids/Acid/XenoCorrosiveAcidEvent.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: Status: Needs Review

#3700 Tweak bursting
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/BursterComponent.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimInfectedComponent.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
Labels: Status: Needs Review

#3583 CM->RMC Retagging of IDs
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Boxes/food.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/ammo_boxes.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/attachments.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/clothing.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/explosives.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/supplies.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/weapon_specialist_ammo.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/weapons.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/MRE/mre.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/flares.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_box_crafting.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/medical.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/crates.yml
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#3659 Add the ability to take off a jumpsuit's jacket
  Resources/Locale/en-US/_RMC14/foldable.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/base.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/liaison.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/medical.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/other.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/police.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/veteran.yml
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/MP/black.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/MP/black.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/MP/standard.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/MP/standard.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/engineer.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/engineer.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/medic.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/medic.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/rto.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/rto.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/standard.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/standard.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/PMC/standard.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/PMC/standard.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/crewchief.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/crewchief.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/pilot.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/pilot.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3629 Create CIC & Command & Flight Crew Vendors
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/auxiliary.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/gunship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/staff_officer.yml
Labels: No C#, Status: Needs Review

#3639 Add extra damage from cripple strike + visual effect
  Content.Shared/_RMC14/Xenonids/Crippling/VictimCripplingStrikeSlowedComponent.cs
  Content.Shared/_RMC14/Xenonids/Crippling/XenoActiveCripplingStrikeComponent.cs
  Content.Shared/_RMC14/Xenonids/Crippling/XenoCripplingStrikeComponent.cs
  Content.Shared/_RMC14/Xenonids/Crippling/XenoCripplingStrikeSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Effects/xeno_sloweffects.yml
Labels: Status: Needs Review

#3622 Add squad-colored goggles variant
  Content.Shared/_RMC14/Marines/Squads/SquadArmorComponent.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/squad_ballistic_goggles.rsi/equipped-EYES.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/squad_ballistic_goggles.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/squad_ballistic_goggles.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/squad_ballistic_goggles.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/squad_ballistic_goggles.rsi/lenses.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/squad_ballistic_goggles.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#3666 Add slow variations of building animations
  Content.Client/_RMC14/Xenonids/Construction/XenoConstructionAnimationVisualizerSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/Events/XenoConstructionAnimationStartEvent.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/XenoConstructionAnimationComponent.cs
  Content.Shared/_RMC14/Xenonids/Construction/XenoConstructionVisualLayers.cs
  Resources/Prototypes/_RMC14/Effects/xeno_structures.yml
  Resources/Textures/_RMC14/Effects/xeno_structure_animations.rsi/door.png
  Resources/Textures/_RMC14/Effects/xeno_structure_animations.rsi/membrane.png
  Resources/Textures/_RMC14/Effects/xeno_structure_animations.rsi/meta.json
  Resources/Textures/_RMC14/Effects/xeno_structure_animations.rsi/thick.png
  Resources/Textures/_RMC14/Effects/xeno_structure_animations.rsi/thickdoor.png
  Resources/Textures/_RMC14/Effects/xeno_structure_animations.rsi/thickmembrane.png
  Resources/Textures/_RMC14/Effects/xeno_structure_animations.rsi/wall.png
Labels: Changes: Sprites, Status: Needs Review

#3678 Drop pouch
  Resources/Prototypes/_RMC14/Entities/Clothing/webbing.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/drop_pouch.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/drop_pouch.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/drop_pouch.rsi/webbing.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3621 Deconstructing Barricades return an amount of scrap material proportional to health
  Content.Server/Construction/Conditions/MinHealth.cs
  Content.Server/_RMC14/Construction/Conditions/IsBarbed.cs
  Resources/Locale/en-US/_RMC14/construction/conditions/is-barbed.ftl
  Resources/Locale/en-US/construction/conditions/min-health.ftl
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/barricade_metal.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/barricade_metal_door.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/barricade_plasteel_door.yml
Labels: Status: Needs Review

#3600 Adds Tucking features in
  Resources/Locale/en-US/_RMC14/rmctuck.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/basic_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/marine_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/Felinid/felinid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/moth.yml
Labels: No C#, Status: Needs Review

#3626 Increase ExamineDetail Range from 3 to 8 tiles
  Content.Shared/Examine/ExamineSystemShared.cs
Labels: Status: Needs Review

#3476 Corpse Spawners
  Resources/Prototypes/_RMC14/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/_RMC14/Entities/Markers/Spawners/Corpses/base.yml
  Resources/Prototypes/_RMC14/Entities/Markers/Spawners/Corpses/civilians.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Corpses/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Corpses/civilians.yml
Labels: No C#, Status: Needs Review

#3628 Bug fix - the system now announces the death of the queen if it falls into a chasm
  Content.Shared/Chasm/ChasmSystem.cs
Labels: Status: Needs Review

#3532 Add custom admin deliveries
  Content.Server/_RMC14/Requisitions/RequisitionsSystem.cs
  Content.Shared/_RMC14/Requisitions/Components/RequisitionsCustomDeliveryComponent.cs
Labels: Status: Needs Review

#3704 Decrease tail sweep range from 1.5 to 1.25
  Content.Shared/_RMC14/Xenonids/Sweep/XenoTailSweepSystem.cs
Labels: Status: Needs Review

#3705 Fix eggs being buildable on top of normal doors
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
Labels: Status: Needs Review
