Repository RMC-14/RMC-14, pull requests merged in 2024-05, with the labels that each got.

#2049 Add xeno hivemind chat, prevent marine and xenos from talking with each other
  Content.Client/_CM14/Chat/CMChatSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_CM14/Chat/Chat/CMChatSystem.cs
  Content.Server/_CM14/Chat/Chat/ChatMessageAfterGetRecipients.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/_CM14/Chat/ChatGetPrefixEvent.cs
  Content.Shared/_CM14/Chat/SharedCMChatSystem.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Locale/en-US/_CM14/radio-channels.ftl
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/radio_channels.yml
Labels: Status: Needs Review

#2050 Make huggers rip off masks on hug
  Content.Shared/_CM14/Xenos/Hugger/SharedXenoHuggerSystem.cs
Labels: Status: Needs Review

#2051 Make hypersleep chambers spawn you inside them
  Content.Client/_CM14/Marines/HyperSleep/HyperSleepChamberSystem.cs
  Content.Server/_CM14/Marines/HyperSleep/HyperSleepChamberSystem.cs
  Content.Shared/_CM14/Marines/HyperSleep/HyperSleepChamberComponent.cs
  Content.Shared/_CM14/Marines/HyperSleep/InsideHyperSleepChamberComponent.cs
  Content.Shared/_CM14/Marines/HyperSleep/OutsideHyperSleepChamberComponent.cs
  Content.Shared/_CM14/Marines/HyperSleep/SharedHyperSleepChamberSystem.cs
  Resources/Prototypes/_CM14/Entities/Structures/Machines/hypersleep.yml
Labels: Status: Needs Review

#2055 Fill out standard marine apparel vendor bundle, fix not assigning a squad if no squad spawner is found, rename departments
  Content.Server/_CM14/Rules/CMRuleSystem.cs
  Content.Shared/_CM14/Vendors/CMVendorMapToSquadComponent.cs
  Content.Shared/_CM14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Changelog/Parts/cl.yml
  Resources/Locale/en-US/_CM14/department.ftl
  Resources/Prototypes/_CM14/Access/Groups/medical_access_groups.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Head/Helmets/uscm_helmets.yml
  Resources/Prototypes/_CM14/Entities/Structures/Doors/Airlocks/accesses-almayer.yml
  Resources/Prototypes/_CM14/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_CM14/Entities/Structures/Doors/Double/double_door.yml
  Resources/Prototypes/_CM14/Entities/Structures/Doors/cm_door.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_bundles.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_mappings.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Departments/human_job_groups.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Departments/marine_department.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Departments/medical_department.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/smartgunner.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/nurse.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/chief_military_police.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/military_police.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/military_warden.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Other/senior_enlisted_advisor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Survivor/survivor.yml
Labels: Status: Needs Review

#2058 Add Queen dropship hijacking
  Content.Client/_CM14/Dropship/DropshipHijackerBui.cs
  Content.Client/_CM14/Dropship/DropshipHijackerWindow.xaml
  Content.Client/_CM14/Dropship/DropshipHijackerWindow.xaml.cs
  Content.Client/_CM14/Dropship/DropshipNavigationBui.cs
  Content.Server/_CM14/Dropship/DropshipSystem.cs
  Content.Server/_CM14/Xenos/Word/XenoWordQueenSystem.cs
  Content.Shared/_CM14/Dropship/DropshipComponent.cs
  Content.Shared/_CM14/Dropship/DropshipHijackDestinationComponent.cs
  Content.Shared/_CM14/Dropship/DropshipHijackerComponent.cs
  Content.Shared/_CM14/Dropship/DropshipHijackerUI.cs
  Content.Shared/_CM14/Dropship/SharedDropshipSystem.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/shuttle_console.yml
Labels: Status: Needs Review, Changes: UI

#2061 Add plasma cost to xeno construction, missing cooldowns, plasma cost to action names, defender tweaks and xeno background on toggled actions
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
  Content.Client/_CM14/Xenos/Construction/XenoChooseStructureBui.cs
  Content.Server/Actions/ActionOnInteractSystem.cs
  Content.Shared/Actions/ActionEvents.cs
  Content.Shared/Actions/BaseActionComponent.cs
  Content.Shared/Actions/Events/ActionPerformedEvent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/_CM14/Cooldown/ActionSharedCooldownComponent.cs
  Content.Shared/_CM14/Cooldown/CooldownSystem.cs
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Construction/XenoConstructionComponent.cs
  Content.Shared/_CM14/Xenos/Construction/XenoConstructionPlasmaCostComponent.cs
  Content.Shared/_CM14/Xenos/Crest/XenoCrestActionComponent.cs
  Content.Shared/_CM14/Xenos/Crest/XenoCrestSystem.cs
  Content.Shared/_CM14/Xenos/Crest/XenoCrestToggledEvent.cs
  Content.Shared/_CM14/Xenos/Egg/XenoEggSystem.cs
  Content.Shared/_CM14/Xenos/Fortify/XenoFortifyActionComponent.cs
  Content.Shared/_CM14/Xenos/Fortify/XenoFortifySystem.cs
  Content.Shared/_CM14/Xenos/Fortify/XenoFortifyToggledEvent.cs
  Content.Shared/_CM14/Xenos/Hide/XenoHideSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/SharedXenoPheromonesSystem.cs
  Content.Shared/_CM14/Xenos/Rest/XenoRestSystem.cs
  Content.Shared/_CM14/Xenos/Sweep/XenoTailSweepComponent.cs
  Content.Shared/_CM14/Xenos/Walker/XenoResinWalkerSystem.cs
  Content.Shared/_CM14/Xenos/Zoom/XenoZoomSystem.cs
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_action_base.yml
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_construction_actions.yml
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_evolve_actions.yml
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_utility_actions.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_doors.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_walls.yml
  Resources/Textures/_CM14/Actions/xeno_actions.rsi/meta.json
  Resources/Textures/_CM14/Actions/xeno_actions.rsi/template_active_big.png
Labels: Changes: Sprites, Status: Needs Review

#2062 Add dead/victim hugged xeno hud icon, examine text and sound
  Content.Client/_CM14/Medical/HUD/CMHealthIconsSystem.cs
  Content.Client/_CM14/Xenos/Hud/XenoHudOverlay.cs
  Content.Shared/_CM14/Xenos/Hugger/HuggableComponent.cs
  Content.Shared/_CM14/Xenos/Hugger/SharedXenoHuggerSystem.cs
  Content.Shared/_CM14/Xenos/Hugger/VictimHuggedComponent.cs
  Resources/Audio/_CM14/Voice/Human/attributions.yml
  Resources/Audio/_CM14/Voice/Human/facehugged_female.ogg
  Resources/Audio/_CM14/Voice/Human/facehugged_male.ogg
Labels: Status: Needs Review

#2063 Set correct speed, collision, damage, attack speed and plasma regen values for all xeno castes
  Content.Shared/_CM14/Xenos/Pheromones/SharedXenoPheromonesSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoFrenzyPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoRecoveryPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoWardingPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Plasma/XenoPlasmaComponent.cs
  Content.Shared/_CM14/Xenos/Plasma/XenoPlasmaSystem.cs
  Content.Shared/_CM14/Xenos/XenoRegenEvent.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/spitter.yml
Labels: Status: Needs Review

#2066 Prevent touching lightbulbs with bare hands and make heat not cauterize bleeding
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Shared/_CM14/Light/CMPoweredLightSystem.cs
  Content.Shared/_CM14/Light/LightBurnHandAttemptEvent.cs
  Resources/Prototypes/_CM14/Damage/marine_modifer_sets.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#2067 Fix dead xenos blocking bullets
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
Labels: No C#, Status: Needs Review

#2072 Add popups, warning and 60 second auto-regurgitate to xeno devour
  Content.Shared/_CM14/Xenos/Devour/DevouredComponent.cs
  Content.Shared/_CM14/Xenos/Devour/XenoDevourComponent.cs
  Content.Shared/_CM14/Xenos/Devour/XenoDevourSystem.cs
  Resources/Locale/en-US/_CM14/xeno/xeno-abilities.ftl
Labels: Status: Needs Review

#2069 vending machines require access
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/vending_machines.yml
Labels: No C#, Status: Needs Review

#2076 Add vendor points to each job, job/owner checks to vendors
  Content.Server/_CM14/Rules/CMRuleSystem.cs
  Content.Shared/_CM14/Marines/Squads/IdCardOwnerComponent.cs
  Content.Shared/_CM14/Marines/Squads/SquadSystem.cs
  Content.Shared/_CM14/Vendors/CMAutomatedVendorComponent.cs
  Content.Shared/_CM14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Maps/_CM14/savannah.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_bundles.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_mappings.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/smartgunner.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/weapons_specialist.yml
Labels: Status: Needs Review

#2077 Add "take all" to automated vendors, dynamically update section names with choices left
  Content.Client/_CM14/Vendors/CMAutomatedVendorBui.cs
  Content.Client/_CM14/Vendors/CMAutomatedVendorEntry.xaml
  Content.Shared/_CM14/Vendors/CMVendorSection.cs
  Content.Shared/_CM14/Vendors/CMVendorUserComponent.cs
  Content.Shared/_CM14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_bundles.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
Labels: Status: Needs Review, Changes: UI

#2078 Adjust slowdown when pulling xenos
  Content.Shared/_CM14/Pulling/CMPullingSystem.cs
  Content.Shared/_CM14/Pulling/PullingSlowedComponent.cs
  Content.Shared/_CM14/Pulling/SlowOnPullComponent.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/runner.yml
Labels: Status: Needs Review

#2079 Make xenos only able to pull eggs and alive/crit xenos and huggables
  Content.Shared/_CM14/Pulling/BlockPullingDeadActiveComponent.cs
  Content.Shared/_CM14/Pulling/BlockPullingDeadComponent.cs
  Content.Shared/_CM14/Pulling/CMPullingSystem.cs
  Content.Shared/_CM14/Pulling/PullWhitelistComponent.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
Labels: Status: Needs Review

#2080 Set corrosive acid strength per xeno caste
  Content.Shared/_CM14/Xenos/Acid/XenoAcidSystem.cs
  Content.Shared/_CM14/Xenos/Acid/XenoCorrosiveAcidDoAfterEvent.cs
  Content.Shared/_CM14/Xenos/Acid/XenoCorrosiveAcidEvent.cs
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_CM14/Effects/xeno_acid.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/spitter.yml
Labels: Status: Needs Review

#2081 rename welder, change amount to points, add some missing fills
  Resources/Maps/_CM14/dev_map.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
  Resources/Prototypes/_CM14/Entities/Structures/Walls/sandbags.yml
Labels: No C#, Status: Needs Review

#2082 Add breathing, footstep and dying sounds to the xeno Queen
  Content.Shared/Movement/Components/MobMoverComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/_CM14/Sound/CMSoundSystem.cs
  Content.Shared/_CM14/Sound/RandomSoundComponent.cs
  Content.Shared/_CM14/Sound/SoundOnDeathComponent.cs
  Resources/Audio/_CM14/Xeno/alien_footstep_large1.ogg
  Resources/Audio/_CM14/Xeno/alien_footstep_large2.ogg
  Resources/Audio/_CM14/Xeno/alien_footstep_large3.ogg
  Resources/Audio/_CM14/Xeno/attributions.yml
  Resources/Prototypes/_CM14/Audio/xeno_sound_collections.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
Labels: Status: Needs Review

#2086 Make grown xeno eggs automatically try to hug any marines within melee range
  Content.Shared/_CM14/Xenos/Egg/XenoEggSystem.cs
  Content.Shared/_CM14/Xenos/Hugger/SharedXenoHuggerSystem.cs
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_egg.yml
Labels: Status: Needs Review

#2087 Make xenos unable to hit each other, their eggs, weeds, nests and dead things
  Content.Shared/_CM14/Xenos/Egg/XenoEggSystem.cs
  Content.Shared/_CM14/Xenos/XenoFriendlyComponent.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_egg.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_nest.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: Status: Needs Review

#2088 Fix IV and blood pack visuals not updating
  Content.Client/_CM14/Medical/IV/IVDripSystem.cs
  Content.Server/_CM14/Medical/IV/IVDripSystem.cs
  Content.Shared/_CM14/Medical/IV/BloodPackComponent.cs
  Content.Shared/_CM14/Medical/IV/SharedIVDripSystem.cs
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Medical/iv.yml
Labels: Status: Needs Review

#2085 Add CM autolathe
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
  Resources/Locale/en-US/_CM14/materials.ftl
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/cm_materials.yml
  Resources/Prototypes/_CM14/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Lathe/lathe.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Lathe/lathe_recipes.yml
  Resources/Textures/_CM14/Structures/Machines/autolathe.rsi/autolathe.png
  Resources/Textures/_CM14/Structures/Machines/autolathe.rsi/autolathe_n.png
  Resources/Textures/_CM14/Structures/Machines/autolathe.rsi/autolathe_o.png
  Resources/Textures/_CM14/Structures/Machines/autolathe.rsi/autolathe_r.png
  Resources/Textures/_CM14/Structures/Machines/autolathe.rsi/autolathe_t.png
  Resources/Textures/_CM14/Structures/Machines/autolathe.rsi/meta.json
Labels: No C#, Changes: Sprites

#2093 Merge health and id examine into regular examine
  Content.Server/Access/Components/IdExaminableComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Shared/Access/Components/IdExaminableComponent.cs
  Content.Shared/Access/Systems/IdExaminableSystem.cs
  Content.Shared/HealthExaminable/HealthExaminableComponent.cs
  Content.Shared/HealthExaminable/HealthExaminableSystem.cs
  Content.Shared/_CM14/Examine/CMExamineSystem.cs
  Resources/Locale/en-US/_CM14/job/cm-id.ftl
Labels: Status: Needs Review

#2094 Make bullets not hit crit mobs unless clicked on
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Components/TargetedProjectileComponent.cs
  Content.Shared/Weapons/Ranged/Events/RequestShootEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Status: Needs Review

#2096 Let Drones evolve to Queen, add cap of max 1 living Queen
  Content.Client/_CM14/Xenos/Evolution/XenoEvolutionBui.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionCappedComponent.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionSystem.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
Labels: Status: Needs Review

#2095 Add live templates for networked data field, networked component and auto state component
  SpaceStation14.sln.DotSettings
Labels: No C#, Status: Needs Review

#2097 adds the coif to all vendors
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
Labels: No C#, Status: Needs Review

#2098 add sterile mask to vendor
  Resources/Prototypes/_CM14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
Labels: No C#

#2100 add insulated gloves to vendors
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
Labels: No C#, Status: Needs Review

#2102 add gas mask to vendors
  Resources/Prototypes/_CM14/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
Labels: No C#

#2099 Make the hugger and lesser drone slowly die without weeds
  Content.Client/_CM14/Xenos/Construction/XenoChooseStructureBui.cs
  Content.Client/_CM14/Xenos/Construction/XenoConstructionSystem.cs
  Content.Client/_CM14/Xenos/Weeds/XenoWeedsSystem.cs
  Content.Server/_CM14/Xenos/Weeds/XenoWeedsSystem.cs
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Egg/XenoEggSystem.cs
  Content.Shared/_CM14/Xenos/Weeds/DamageOffWeedsComponent.cs
  Content.Shared/_CM14/Xenos/Weeds/SharedXenoWeedsSystem.cs
  Content.Shared/_CM14/Xenos/Weeds/XenoWeedableComponent.cs
  Content.Shared/_CM14/Xenos/Weeds/XenoWeedsComponent.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
Labels: Status: Needs Review

#2103 add whistle
  Resources/Prototypes/_CM14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_CM14/Entities/Objects/Devices/whistle.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
  Resources/Textures/_CM14/Objects/Devices/whistle.rsi/meta.json
  Resources/Textures/_CM14/Objects/Devices/whistle.rsi/whistle.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2106 Fix xeno actions sometimes starting out of order
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/_CM14/Xenos/Action/XenoActionSystem.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
Labels: Needs Upstreaming

#2134 Make huggers and lesser drones not be counted for round end conditions
  Content.Server/_CM14/Rules/CMRuleSystem.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
Labels: Status: Needs Review

#2136 Cap the max amount of damage a marine can have to 719
  Content.Shared/_CM14/Damage/CMDamageableSystem.cs
  Content.Shared/_CM14/Damage/MaxDamageComponent.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#2139 Make xeno hive values consistent
  Content.Server/_CM14/Admin/CMAdminEui.cs
  Content.Server/_CM14/Rules/CMRuleSystem.cs
  Content.Shared/_CM14/Xenos/Egg/XenoEggComponent.cs
  Content.Shared/_CM14/Xenos/Egg/XenoEggSystem.cs
  Content.Shared/_CM14/Xenos/Egg/XenoOvipositorCapableComponent.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionSystem.cs
  Content.Shared/_CM14/Xenos/Hugger/SharedXenoHuggerSystem.cs
  Content.Shared/_CM14/Xenos/Hugger/VictimHuggedComponent.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
Labels: Status: Needs Review

#2138 Make marine armor use the xeno armor formula
  Content.Shared/_CM14/Armor/CMArmorComponent.cs
  Content.Shared/_CM14/Armor/CMArmorPiercingComponent.cs
  Content.Shared/_CM14/Armor/CMArmorSystem.cs
  Content.Shared/_CM14/Armor/CMArmorUserComponent.cs
  Content.Shared/_CM14/Armor/CMGetArmorEvent.cs
  Content.Shared/_CM14/Damage/CMDamageableSystem.cs
  Content.Shared/_CM14/Xenos/Armor/XenoArmorComponent.cs
  Content.Shared/_CM14/Xenos/Armor/XenoArmorSystem.cs
  Content.Shared/_CM14/Xenos/Armor/XenoGetArmorEvent.cs
  Content.Shared/_CM14/Xenos/Crest/XenoCrestSystem.cs
  Content.Shared/_CM14/Xenos/Fortify/XenoFortifySystem.cs
  Resources/Prototypes/_CM14/Entities/Clothing/Head/Helmets/uscm_helmets.yml
  Resources/Prototypes/_CM14/Entities/Clothing/OuterClothing/uscm_armor.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Uniforms/uscm_uniforms.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/warrior.yml
Labels: Status: Needs Review

#2140 Make xenos able to click themselves to devour a pulled marine, regurgitate on death
  Content.Shared/_CM14/Inventory/CMVirtualItemComponent.cs
  Content.Shared/_CM14/Xenos/Devour/XenoDevourSystem.cs
  Resources/Prototypes/Entities/Virtual/virtual_item.yml
Labels: Status: Needs Review

#2141 Make xeno headbutt, leap and spits be blocked by friendly xenos
  Content.Client/_CM14/Xenos/Headbutt/XenoHeadbuttSystem.cs
  Content.Client/_CM14/Xenos/Projectile/XenoProjectileSystem.cs
  Content.Server/_CM14/Xenos/Projectile/XenoProjectileSystem.cs
  Content.Shared/Radio/Components/SharedRadioJammerComponent.cs
  Content.Shared/_CM14/Xenos/Headbutt/SharedXenoHeadbuttSystem.cs
  Content.Shared/_CM14/Xenos/Leap/LeapIncapacitatedComponent.cs
  Content.Shared/_CM14/Xenos/Leap/XenoLeapComponent.cs
  Content.Shared/_CM14/Xenos/Leap/XenoLeapHitEvent.cs
  Content.Shared/_CM14/Xenos/Leap/XenoLeapSystem.cs
  Content.Shared/_CM14/Xenos/Leap/XenoLeapingComponent.cs
  Content.Shared/_CM14/Xenos/Projectile/Bone/XenoBoneChipsSystem.cs
  Content.Shared/_CM14/Xenos/Projectile/SharedXenoProjectileSystem.cs
  Content.Shared/_CM14/Xenos/Projectile/Spit/Slowing/XenoSlowingSpitProjectileComponent.cs
  Content.Shared/_CM14/Xenos/Projectile/Spit/XenoSpitSystem.cs
  Content.Shared/_CM14/Xenos/Projectile/XenoProjectileComponent.cs
  Content.Shared/_CM14/Xenos/Projectile/XenoProjectileSystem.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Prototypes/_CM14/Entities/Objects/Xeno/xeno_projectiles.yml
Labels: Status: Needs Review

#2142 Dispensers and chem master
  Resources/Prototypes/_CM14/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Science/Dispensers/booze.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Science/Dispensers/chem.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Science/Dispensers/soda.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Science/chem_master.yml
  Resources/Textures/_CM14/Structures/Machines/Science/autodispenser.rsi/base.png
  Resources/Textures/_CM14/Structures/Machines/Science/autodispenser.rsi/beaker.png
  Resources/Textures/_CM14/Structures/Machines/Science/autodispenser.rsi/broken.png
  Resources/Textures/_CM14/Structures/Machines/Science/autodispenser.rsi/full.png
  Resources/Textures/_CM14/Structures/Machines/Science/autodispenser.rsi/meta.json
  Resources/Textures/_CM14/Structures/Machines/Science/autodispenser.rsi/nopower.png
  Resources/Textures/_CM14/Structures/Machines/Science/autodispenser.rsi/open.png
  Resources/Textures/_CM14/Structures/Machines/Science/autodispenser.rsi/running.png
  Resources/Textures/_CM14/Structures/Machines/Science/autodispenser.rsi/stuck.png
  Resources/Textures/_CM14/Structures/Machines/Science/centrifuge.rsi/empty_closed.png
  Resources/Textures/_CM14/Structures/Machines/Science/centrifuge.rsi/empty_open.png
  Resources/Textures/_CM14/Structures/Machines/Science/centrifuge.rsi/finish.png
  Resources/Textures/_CM14/Structures/Machines/Science/centrifuge.rsi/meta.json
  Resources/Textures/_CM14/Structures/Machines/Science/centrifuge.rsi/on_closed.png
  Resources/Textures/_CM14/Structures/Machines/Science/centrifuge.rsi/on_open.png
  Resources/Textures/_CM14/Structures/Machines/Science/centrifuge.rsi/spinning.png
  Resources/Textures/_CM14/Structures/Machines/Science/chem_master.rsi/meta.json
  Resources/Textures/_CM14/Structures/Machines/Science/chem_master.rsi/mixer_broken.png
  Resources/Textures/_CM14/Structures/Machines/Science/chem_master.rsi/mixer_empty.png
  Resources/Textures/_CM14/Structures/Machines/Science/chem_master.rsi/mixer_loaded.png
  Resources/Textures/_CM14/Structures/Machines/Science/chem_master.rsi/mixer_loaded_broken.png
  Resources/Textures/_CM14/Structures/Machines/Science/chem_master.rsi/mixer_loaded_screens.png
  Resources/Textures/_CM14/Structures/Machines/Science/chem_master.rsi/mixer_screen.png
  Resources/Textures/_CM14/Structures/Machines/Science/dispenser.rsi/base.png
  Resources/Textures/_CM14/Structures/Machines/Science/dispenser.rsi/beaker0.png
  Resources/Textures/_CM14/Structures/Machines/Science/dispenser.rsi/beaker1.png
  Resources/Textures/_CM14/Structures/Machines/Science/dispenser.rsi/beaker2.png
  Resources/Textures/_CM14/Structures/Machines/Science/dispenser.rsi/beaker3.png
  Resources/Textures/_CM14/Structures/Machines/Science/dispenser.rsi/beaker4.png
  Resources/Textures/_CM14/Structures/Machines/Science/dispenser.rsi/meta.json
  Resources/Textures/_CM14/Structures/Machines/Science/dispenser.rsi/onlight.png
  Resources/Textures/_CM14/Structures/Machines/Science/industry_dispenser.rsi/industry_mixer0.png
  Resources/Textures/_CM14/Structures/Machines/Science/industry_dispenser.rsi/industry_mixer0_nopower.png
  Resources/Textures/_CM14/Structures/Machines/Science/industry_dispenser.rsi/industry_mixer1.png
  Resources/Textures/_CM14/Structures/Machines/Science/industry_dispenser.rsi/industry_mixer1_nopower.png
  Resources/Textures/_CM14/Structures/Machines/Science/industry_dispenser.rsi/meta.json
  Resources/Textures/_CM14/Structures/Machines/Science/reagent_analyzer.rsi/base.png
  Resources/Textures/_CM14/Structures/Machines/Science/reagent_analyzer.rsi/error.png
  Resources/Textures/_CM14/Structures/Machines/Science/reagent_analyzer.rsi/failed.png
  Resources/Textures/_CM14/Structures/Machines/Science/reagent_analyzer.rsi/finished.png
  Resources/Textures/_CM14/Structures/Machines/Science/reagent_analyzer.rsi/meta.json
  Resources/Textures/_CM14/Structures/Machines/Science/reagent_analyzer.rsi/processing.png
  Resources/Textures/_CM14/Structures/Machines/Science/reagent_analyzer.rsi/sample.png
  Resources/Textures/_CM14/Structures/Machines/Science/small_dispensers.rsi/booze_dispenser.png
  Resources/Textures/_CM14/Structures/Machines/Science/small_dispensers.rsi/meta.json
  Resources/Textures/_CM14/Structures/Machines/Science/small_dispensers.rsi/soda_dispenser.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2143 Add sound, popup and give action when ready to evolve, add tier limits, timed unlocks and hive announcements
  Content.Client/_CM14/Xenos/Hive/XenoHiveSystem.cs
  Content.Server/_CM14/Admin/CMAdminEui.cs
  Content.Server/_CM14/Xenos/EvolutionCommand.cs
  Content.Server/_CM14/Xenos/EvolutionCooldownCommand.cs
  Content.Server/_CM14/Xenos/Hive/XenoHiveSystem.cs
  Content.Server/_CM14/Xenos/Word/XenoWordQueenSystem.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionComponent.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionSystem.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolveActionComponent.cs
  Content.Shared/_CM14/Xenos/Hive/HiveComponent.cs
  Content.Shared/_CM14/Xenos/Hive/SharedXenoHiveSystem.cs
  Content.Shared/_CM14/Xenos/Plasma/XenoPlasmaSystem.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Resources/Audio/_CM14/Xeno/alien_distantroar_3.ogg
  Resources/Audio/_CM14/Xeno/attributions.yml
  Resources/Audio/_CM14/Xeno/xeno_evolveready.ogg
  Resources/Locale/en-US/_CM14/xeno/xeno-commands.ftl
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_evolve_actions.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hive.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/warrior.yml
Labels: Status: Needs Review

#2153 Change dropship sounds, make dropships occupy destinations and auto recall to the planet
  Content.Client/_CM14/Dropship/DropshipNavigationBui.cs
  Content.Client/_CM14/Marines/MarineAnnounceSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_CM14/Dropship/DropshipSystem.cs
  Content.Server/_CM14/Marines/MarineAnnounceSystem.cs
  Content.Shared/_CM14/Dropship/DropshipComponent.cs
  Content.Shared/_CM14/Dropship/DropshipDestinationComponent.cs
  Content.Shared/_CM14/Dropship/DropshipNavigationUI.cs
  Content.Shared/_CM14/Dropship/SharedDropshipSystem.cs
  Content.Shared/_CM14/Marines/Announce/SharedMarineAnnounceSystem.cs
  Resources/Audio/_CM14/Machines/Shuttle/attributions.yml
  Resources/Audio/_CM14/Machines/Shuttle/engine_landing.ogg
  Resources/Audio/_CM14/Machines/Shuttle/engine_startup.ogg
  Resources/Prototypes/_CM14/Entities/Objects/Devices/encryption_keys.yml
Labels: Status: Needs Review

#2154 Prevent cm dog tags and id holo badges from having microwaved effects
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Resources/Prototypes/_CM14/Entities/Objects/IdCards/cm_base_id.yml
Labels: Status: Needs Review

#2155 Add Queen maturing
  Content.Shared/_CM14/Xenos/Health/XenoHealthSystem.cs
  Content.Shared/_CM14/Xenos/Health/XenoTimeHealthComponent.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
Labels: Status: Needs Review

#2157 Make health bars not show for marines with less than 5 damage
  Content.Client/Overlays/EntityHealthBarOverlay.cs
  Content.Shared/Damage/Components/DamageableComponent.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#2160 Add xeno death sounds and xeno pull knockdown sound
  Content.Shared/_CM14/Pulling/CMPullingSystem.cs
  Content.Shared/_CM14/Pulling/ParalyzeOnPullAttemptComponent.cs
  Resources/Audio/_CM14/Weapons/attributions.yml
  Resources/Audio/_CM14/Weapons/pierce.ogg
  Resources/Audio/_CM14/Xeno/alien_death.ogg
  Resources/Audio/_CM14/Xeno/alien_death2.ogg
  Resources/Audio/_CM14/Xeno/alien_facehugger_dies.ogg
  Resources/Audio/_CM14/Xeno/attributions.yml
  Resources/Prototypes/_CM14/Audio/xeno_sound_collections.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/hugger.yml
Labels: Status: Needs Review

#2163 Fill out wey-med plus, port effects for existing medicines
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/_CM14/Chemistry/Conditions/RecentlyDefibrillated.cs
  Content.Server/_CM14/Chemistry/Effects/EqualHealthChange.cs
  Content.Server/_CM14/Chemistry/Effects/RemoveDamage.cs
  Content.Server/_CM14/Chemistry/Effects/RemoveRecentDefibrillation.cs
  Content.Shared/Medical/DefibrillatorComponent.cs
  Content.Shared/Medical/TargetDefibrillatedEvent.cs
  Content.Shared/_CM14/Damage/CMDamageableSystem.cs
  Content.Shared/_CM14/Medical/Defibrillator/CMDefibrillatorSystem.cs
  Content.Shared/_CM14/Medical/Defibrillator/CMRecentlyDefibrillatedComponent.cs
  Content.Shared/_CM14/Medical/Injectors/CMRefillableSolutionSystem.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Locale/en-US/_CM14/medical/medicine.ftl
  Resources/Maps/_CM14/dev_map.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/auto_injectors.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/defib.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/firstaidkits.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/hypospray.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/pill_canisters.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/pills.yml
  Resources/Prototypes/_CM14/Entities/Objects/Specific/Chemistry/chemistry-bottles.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/vending_machines.yml
  Resources/Prototypes/_CM14/Reagents/medicine.yml
  Resources/migration.yml
Labels: Status: Needs Review

#2167 Fixed Tricordrazine name
  Resources/Locale/en-US/_CM14/medical/medicine.ftl
Labels: No C#, Status: Needs Review

#2170 Stanbaton, flash and handcuffs
  Resources/Prototypes/_CM14/Catalog/Fills/Clothing/belt.yml
  Resources/Prototypes/_CM14/Catalog/VendingMachines/Inventories/sectech.yml
  Resources/Prototypes/_CM14/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Melee/flash.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Melee/stun_baton.yml
  Resources/Textures/_CM14/Objects/Misc/handcuffs.rsi/body-overlay-2.png
  Resources/Textures/_CM14/Objects/Misc/handcuffs.rsi/equipped-BELT.png
  Resources/Textures/_CM14/Objects/Misc/handcuffs.rsi/handcuff.png
  Resources/Textures/_CM14/Objects/Misc/handcuffs.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Misc/handcuffs.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Misc/handcuffs.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Melee/flash.rsi/burnt.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/flash.rsi/flash.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/flash.rsi/flashing.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/flash.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/flash.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/flash.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Melee/stun_baton.rsi/equipped-BELT.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/stun_baton.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Melee/stun_baton.rsi/off-inhand-left.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/stun_baton.rsi/off-inhand-right.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/stun_baton.rsi/on-inhand-left.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/stun_baton.rsi/on-inhand-right.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/stun_baton.rsi/stunbaton_nocell.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/stun_baton.rsi/stunbaton_off.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/stun_baton.rsi/stunbaton_on.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2174 Medical system, wounds, medicine, treatment and passive healing
  Content.Client/_CM14/Medical/Scanner/HealthScannerBoundUserInterface.cs
  Content.Client/_CM14/Medical/Scanner/HealthScannerWindow.xaml
  Content.Client/_CM14/Medical/Wounds/WoundsSystem.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/_CM14/Medical/Scanner/HealthScannerSystem.cs
  Content.Server/_CM14/Medical/Surgery/CMSurgerySystem.cs
  Content.Server/_CM14/Medical/Wounds/WoundsSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/FixedPoint/FixedPoint2.cs
  Content.Shared/_CM14/Damage/CMDamageableSystem.cs
  Content.Shared/_CM14/Medical/Scanner/HealthScannerUI.cs
  Content.Shared/_CM14/Medical/Stasis/SharedCMStasisBagSystem.cs
  Content.Shared/_CM14/Medical/Surgery/Effects/Step/CMSurgeryClampBleedEffectComponent.cs
  Content.Shared/_CM14/Medical/Surgery/Effects/Step/CMSurgeryStepBleedEffectComponent.cs
  Content.Shared/_CM14/Medical/Wounds/CMBleedAttemptEvent.cs
  Content.Shared/_CM14/Medical/Wounds/CMBleedEvent.cs
  Content.Shared/_CM14/Medical/Wounds/SharedWoundsSystem.cs
  Content.Shared/_CM14/Medical/Wounds/TreatWoundDoAfterEvent.cs
  Content.Shared/_CM14/Medical/Wounds/WoundTreaterComponent.cs
  Content.Shared/_CM14/Medical/Wounds/WoundableComponent.cs
  Content.Shared/_CM14/Medical/Wounds/WoundedComponent.cs
  Content.Shared/_CM14/Storage/CMStorageSystem.cs
  Resources/Locale/en-US/_CM14/medical/wounds.ftl
  Resources/Maps/_CM14/dev_map.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Clothing/belt.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Damage/marine_modifer_sets.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/auto_injectors.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/healing.yml
  Resources/Prototypes/_CM14/Entities/Surgery/cm_surgery_steps.yml
  Resources/migration.yml
Labels: Status: Needs Review, Changes: UI

#2175 Intercoms
  Resources/Prototypes/_CM14/Entities/Structures/Wallmounts/intercom.yml
  Resources/Textures/_CM14/Structures/Wallmounts/intercom.rsi/intercom-p.png
  Resources/Textures/_CM14/Structures/Wallmounts/intercom.rsi/intercom.png
  Resources/Textures/_CM14/Structures/Wallmounts/intercom.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2171 Light bulbs, glass shards and small fixes
  Resources/Maps/_CM14/dev_map.yml
  Resources/Maps/_CM14/savannah.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/beaker.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/bottles.yml
  Resources/Prototypes/_CM14/Entities/Objects/Power/light_bulb.yml
  Resources/Prototypes/_CM14/Entities/Objects/Power/light_tube.yml
  Resources/Prototypes/_CM14/Entities/Objects/Xeno/xeno_projectiles.yml
  Resources/Prototypes/_CM14/Entities/Structures/Lighting/lighting.yml
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/alienbonechips.png
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/bonechips.png
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/humanbonechips.png
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/large.png
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/medium.png
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/meta.json
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/phoron.png
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/phoronlarge.png
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/phoronmedium.png
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/phoronsmall.png
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/shrapnel.png
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/shrapnellarge.png
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/shrapnelmedium.png
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/shrapnelsmall.png
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/small.png
  Resources/Textures/_CM14/Objects/Materials/shards.rsi/tiny.png
  Resources/Textures/_CM14/Objects/Power/large_light_tube.rsi/broken.png
  Resources/Textures/_CM14/Objects/Power/large_light_tube.rsi/burned.png
  Resources/Textures/_CM14/Objects/Power/large_light_tube.rsi/meta.json
  Resources/Textures/_CM14/Objects/Power/large_light_tube.rsi/normal.png
  Resources/Textures/_CM14/Objects/Power/light_bulb.rsi/broken.png
  Resources/Textures/_CM14/Objects/Power/light_bulb.rsi/burned.png
  Resources/Textures/_CM14/Objects/Power/light_bulb.rsi/meta.json
  Resources/Textures/_CM14/Objects/Power/light_bulb.rsi/normal.png
  Resources/Textures/_CM14/Objects/Power/light_tube.rsi/broken.png
  Resources/Textures/_CM14/Objects/Power/light_tube.rsi/burned.png
  Resources/Textures/_CM14/Objects/Power/light_tube.rsi/meta.json
  Resources/Textures/_CM14/Objects/Power/light_tube.rsi/normal.png
  Resources/Textures/_CM14/Structures/Wallmounts/Lighting/light_bulb.rsi/meta.json
  Resources/Textures/_CM14/Structures/Wallmounts/Lighting/light_tube.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review
