Repository RMC-14/RMC-14, pull requests merged in 2024-12, with the labels that each got.

#5035 Fix underground CAS on Kutjevo
  Resources/Prototypes/_RMC14/Entities/Areas/areas_kutjevo.yml
Labels: No C#, Status: Needs Review

#5020 Fix info tag collection range + QOL
  Content.Shared/_RMC14/Marines/Dogtags/DogtagsSystem.cs
Labels: Status: Needs Review

#5010 Add tunnels to the map
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_tunnel.yml
Labels: No C#, Status: Needs Review

#5021 Fix defender not taking any explosion stuns
  Content.Shared/_RMC14/Explosion/SharedRMCExplosionSystem.cs
  Content.Shared/_RMC14/Xenonids/Fortify/XenoFortifyComponent.cs
  Content.Shared/_RMC14/Xenonids/Fortify/XenoFortifySystem.cs
Labels: Status: Needs Review

#5004 Make xenos unable to see ID/dogtag examines
  Content.Shared/_RMC14/Examine/BlockIdExamineComponent.cs
  Content.Shared/_RMC14/Examine/CMExamineSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: Status: Needs Review

#4995 Missing LV522 Ports
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/strata_walls.yml
  Resources/Prototypes/_RMC14/Tiles/Corsat/marked_tiles.yml
  Resources/Prototypes/_RMC14/Tiles/planet.yml
  Resources/Prototypes/_RMC14/Tiles/planet_sand_tiles.yml
  Resources/Textures/_RMC14/Structures/Walls/strata_ice.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Walls/strata_ice.rsi/strata_ice.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice.rsi/strata_ice0.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice.rsi/strata_ice1.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice.rsi/strata_ice2.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice.rsi/strata_ice3.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice.rsi/strata_ice4.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice.rsi/strata_ice5.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice.rsi/strata_ice6.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice.rsi/strata_ice7.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice_dirty.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Walls/strata_ice_dirty.rsi/strata_ice_dirty.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice_dirty.rsi/strata_ice_dirty0.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice_dirty.rsi/strata_ice_dirty1.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice_dirty.rsi/strata_ice_dirty2.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice_dirty.rsi/strata_ice_dirty3.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice_dirty.rsi/strata_ice_dirty4.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice_dirty.rsi/strata_ice_dirty5.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice_dirty.rsi/strata_ice_dirty6.png
  Resources/Textures/_RMC14/Structures/Walls/strata_ice_dirty.rsi/strata_ice_dirty7.png
  Resources/Textures/_RMC14/Tiles/corsat/marked.png
  Resources/Textures/_RMC14/Tiles/corsat/meta.json
  Resources/Textures/_RMC14/Tiles/planet/auto_sand/varadero_0.png
  Resources/Textures/_RMC14/Tiles/planet/auto_shale/layer1_double_edge.png
  Resources/Textures/_RMC14/Tiles/planet/auto_shale/layer1_single_edge.png
  Resources/Textures/_RMC14/Tiles/planet/auto_shale/shale_1.png
  Resources/Textures/_RMC14/Tiles/planet/auto_shale/shale_2.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5002 Grenade yml cleanup and fix molotov fitting in GL
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#, Status: Needs Review

#5036 figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/ranuko.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5043 Fix humanoids speed actually
  Resources/Prototypes/Body/Parts/base.yml
Labels: No C#, Status: Needs Review

#5044 YAML Linter and RSI validator fix
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/closets.yml
  Resources/Textures/_RMC14/Structures/Xenos/xeno_tunnel.rsi/meta.json
Labels: No C#, Status: Needs Review

#5048 Fix evac shuttle landing offset
  Content.Server/_RMC14/Evacuation/EvacuationSystem.cs
Labels: Status: Needs Review

#5046 Fix xeno AOE abilities hitting devoured marines
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
Labels: Status: Needs Review

#5056 Chances Claim ports Final
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/tornado_walls.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Windows/strata_windows.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_strata_reinforced.yml
Labels: No C#, Status: Needs Review

#5058 Dodge no longer counts downed marines for it's double speed boost
  Content.Shared/_RMC14/Xenonids/Dodge/XenoDodgeSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_self_actions.yml
Labels: Status: Needs Review

#5057 Nerf Frenzy Pulling boost by ~50%
  Content.Shared/_RMC14/Xenonids/Pheromones/SharedXenoPheromonesSystem.cs
  Content.Shared/_RMC14/Xenonids/Pheromones/XenoFrenzyPheromonesComponent.cs
Labels: Status: Needs Review

#5008 Fix Resin Holes not triggering when Marines stand up in them
  Content.Server/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/ResinHole/InResinHoleRangeComponent.cs
Labels: Status: Needs Review

#5051 Add construction belt sprites
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Textures/_RMC14/Objects/Clothing/Belt/construction.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/construction.rsi/full.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/construction.rsi/half.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/construction.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/construction.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/construction.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/construction.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#5050 Xeno Build Buttons work when clicked instead of when you stop clicking
  Content.Client/_RMC14/Xenonids/Construction/XenoChooseStructureBui.cs
Labels: Status: Needs Review

#5045 Fix auto punctuation breaking with sanitization
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Status: Needs Review

#5052 Allow switching hands while using the Bipod
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
Labels: No C#, Status: Needs Review

#5029 Stange Plant light
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/bushes.yml
Labels: No C#, Status: Needs Review

#4994 Add flashlights box
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_box_crafting.yml
Labels: No C#, Status: Needs Review

#5026 colored fire lights!
  Resources/Prototypes/_RMC14/Entities/Tiles/tile_fire.yml
Labels: No C#, Status: Needs Review

#4783 Added Rule Regarding Communication for Higher Standard Roles
  Resources/ServerInfo/Guidebook/_RMC14/Rules/MilitaryCommand/CMHigherStandards.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Overview.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/CMGeneralRoleplayStandards.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/CMMarineRoleplayStandards.xml
Labels: No C#, Status: Needs Review

#5064 Fix Burrowed Larva not appearing on end card
  Content.Shared/_RMC14/Xenonids/Hive/SharedXenoHiveSystem.cs
Labels: Status: Needs Review

#5065 Make marines spawn in full gear in the character editor
  Content.Client/Lobby/LobbyUIController.cs
  Content.Server/_RMC14/Armor/RMCArmorSystem.cs
  Content.Shared/_RMC14/Armor/CMArmorSystem.cs
  Content.Shared/_RMC14/Marines/Roles/JobPrototype.cs
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/weapons_specialist.yml
Labels: Status: Needs Review, Needs Upstreaming

#5066 figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/consumes-the-petrol.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#5006 Burrower fixes
  Content.Client/_RMC14/Xenonids/Burrow/XenoBurrowSystem.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Server/_RMC14/Xenonids/Burrow/XenoBurrowSystem.cs
  Content.Server/_RMC14/Xenonids/Construction/Tunnel/XenoTunnelSystem.cs
  Content.Shared/_RMC14/Atmos/RMCIgniteAttemptEvent.cs
  Content.Shared/_RMC14/Xenonids/Burrow/SharedXenoBurrowSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/Tunnel/SharedXenoTunnelSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/Tunnel/TunnelRenamerComponent.cs
  Content.Shared/_RMC14/Xenonids/Devour/XenoDevourSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Content.Shared/_RMC14/Xenonids/Weeds/SharedXenoWeedsSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-construction.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-ui.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_tunnel.yml
Labels: Status: Needs Review

#5077 High capacity beaker inhand texture fix
  Resources/Textures/_RMC14/Objects/Medical/high_capacity_beaker.rsi/meta.json
Labels: No C#, Status: Needs Review

#5076 Vanguard blitz cooldown now depends on when the 2nd part ends
  Content.Shared/_RMC14/Xenonids/Blitz/XenoBlitzComponent.cs
  Content.Shared/_RMC14/Xenonids/Blitz/XenoBlitzSystem.cs
Labels: Status: Needs Review

#5078 Add fuel tank pouch
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
Labels: No C#, Status: Needs Review

#5083 figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/kael_shark_voss.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/lenny_dugs.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#5082 Fix dupe components in tunnels
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_tunnel.yml
Labels: No C#, Status: Needs Review

#5071 Add more helmet storables + cig fixes
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/basic_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/case.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/cigar.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/cigarettes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/matches.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/rifle_handfuls.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/shotgun_handfuls.yml
Labels: No C#, Status: Needs Review

#5062 LV522 / Chances Claim
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Resources/Maps/_RMC14/chances_claim.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_chances.yml
  Resources/Prototypes/_RMC14/Entities/rmc_planets.yml
Labels: No C#, Changes: Map

#5088 Fix auto regurigation stunning
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: No C#, Status: Needs Review

#5089 Increase Outer Crusher Stomp Size
  Content.Shared/_RMC14/Xenonids/Stomp/XenoStompComponent.cs
Labels: Status: Needs Review

#5085 Knife vest + webbing req
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/clothing.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/webbing.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_knife.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_knife.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_knife.rsi/webbing.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5090 Fix fire damage not piercing armor, fix fire not spreading through doors, fix being set on fire not dealing bonus damage
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Shared/_RMC14/Atmos/SharedRMCFlammableSystem.cs
  Content.Shared/_RMC14/OnCollide/DamageOnCollideComponent.cs
  Content.Shared/_RMC14/OnCollide/SharedOnCollideSystem.cs
  Resources/Prototypes/_RMC14/Entities/Tiles/tile_fire.yml
Labels: Status: Needs Review

#5080 Add more door with access
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Airlocks/accesses-almayer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Double/accesses-almayer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Double/accesses-command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Double/accesses-marine.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Double/airlocks.yml
Labels: No C#, Status: Needs Review

#5117 Fire scorch marks
  Content.Server/_RMC14/Dropship/Weapon/DropshipWeaponSystem.cs
  Content.Server/_RMC14/Dropship/Weapon/RMCScorchEffectOnSpawnComponent.cs
  Content.Server/_RMC14/Explosion/RMCExplosionSystem.cs
  Content.Server/_RMC14/Explosion/RMCScorchEffectComponent.cs
  Content.Server/_RMC14/Scorch/RMCScorchEffectComponent.cs
  Content.Server/_RMC14/Scorch/RMCScorchEffectOnSpawnComponent.cs
  Content.Server/_RMC14/Scorch/RMCScorchSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/PowerLoader/Dropship/rmc_dropship_ammo.yml
  Resources/Prototypes/_RMC14/Entities/Tiles/tile_fire.yml
Labels: Status: Needs Review

#5092 Fix Burrower being able to acid and perform other do-afters while burrowing, fix Burrower not being able to unburrow
  Content.Server/_RMC14/Xenonids/Burrow/XenoBurrowSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_self_actions.yml
Labels: Status: Needs Review

#5114 Add .5 range to buckshot, slug, mateba stuns
  Content.Shared/_RMC14/Stun/RMCStunOnHitComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/mateba.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/shotgun_pellets.yml
Labels: Status: Needs Review

#5095 Remove fence damage modifiers
  Resources/Prototypes/_RMC14/Entities/Structures/fence.yml
Labels: No C#, Status: Needs Review

#5102 Make Armor Wield Compensation actually work
  Content.Shared/_RMC14/Wieldable/RMCWieldableSystem.cs
Labels: Status: Needs Review

#5105 Fix broken area sprites on chances
  Resources/Prototypes/_RMC14/Entities/Areas/areas_chances.yml
Labels: No C#, Status: Needs Review

#5096 [Fix] Windoor, fence, handrail and palm fixes
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/fence.yml
  Resources/Prototypes/_RMC14/Entities/flora.yml
Labels: No C#, Status: Needs Review

#5067 Carryover Voting
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
Labels: Status: Needs Review

#5075 Add welding goggles
  Resources/Prototypes/_RMC14/Actions/Marines/marine_action_items.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/welding_goggles.rsi/equipped-EYES.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/welding_goggles.rsi/icon-on.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/welding_goggles.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/welding_goggles.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/welding_goggles.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/welding_goggles.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/welding_goggles.rsi/on-equipped-EYES.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5084 Add Mentor Help
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Client/_RMC14/Mentor/MentorHelpWindow.xaml
  Content.Client/_RMC14/Mentor/MentorHelpWindow.xaml.cs
  Content.Client/_RMC14/Mentor/MentorWindow.xaml
  Content.Client/_RMC14/Mentor/MentorWindow.xaml.cs
  Content.Client/_RMC14/Mentor/StaffHelpUIController.cs
  Content.Client/_RMC14/Mentor/StaffHelpWindow.xaml
  Content.Client/_RMC14/Mentor/StaffHelpWindow.xaml.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_RMC14/Mentor/MentorManager.cs
  Content.Shared/Administration/AdminFlags.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Mentor/DeMentorMsg.cs
  Content.Shared/_RMC14/Mentor/MentorHelpMsg.cs
  Content.Shared/_RMC14/Mentor/MentorMessage.cs
  Content.Shared/_RMC14/Mentor/MentorMessageReceivedMsg.cs
  Content.Shared/_RMC14/Mentor/MentorSendMessageMsg.cs
  Content.Shared/_RMC14/Mentor/MentorStatusMsg.cs
  Content.Shared/_RMC14/Mentor/ReMentorMsg.cs
  Content.Shared/_RMC14/Mentor/SendMentorHelpMessageEvent.cs
  Resources/Audio/_RMC14/Effects/Admin/attributions.yml
  Resources/Audio/_RMC14/Effects/Admin/mhelp.ogg
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Status: Needs Review, Changes: UI

#5106 Added senior officer vendor for ASO,CE,CMO,CMP,QM
  Content.Client/_RMC14/Vendors/CMAutomatedVendorBui.cs
  Content.Shared/_RMC14/Vendors/CMVendorSection.cs
  Content.Shared/_RMC14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
Labels: Status: Needs Review

#5118 Fix Queen screech not stunning parasites
  Content.Server/_RMC14/Atmos/RMCFlammableSystem.cs
  Content.Shared/_RMC14/Atmos/SharedRMCFlammableSystem.cs
  Content.Shared/_RMC14/Damage/ProjectileDamageReceivedComponent.cs
  Content.Shared/_RMC14/Damage/SharedRMCDamageableSystem.cs
  Content.Shared/_RMC14/Xenonids/Screech/SharedXenoScreechSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/lz_sentries.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/sentries.yml
  Resources/Prototypes/_RMC14/Factions/rmc_factions.yml
Labels: Status: Needs Review

#5119 Missing Shiva Props
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/lightstick.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/planter_box.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/barrels.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/containers.yml
  Resources/Prototypes/_RMC14/Entities/Structures/prefabs.yml
  Resources/Textures/_RMC14/Objects/Misc/Lights/lightstick.rsi/lightstick_blue_variant1.png
  Resources/Textures/_RMC14/Objects/Misc/Lights/lightstick.rsi/lightstick_red_variant1.png
  Resources/Textures/_RMC14/Objects/Misc/Lights/lightstick.rsi/lightstick_spoke1.png
  Resources/Textures/_RMC14/Objects/Misc/Lights/lightstick.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Furniture/planter_box.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Furniture/planter_box.rsi/planter_box.png
  Resources/Textures/_RMC14/Structures/Furniture/planter_box.rsi/soil_grid.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/barricade.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Walls/Barricades/barricade.rsi/small_wire.png
  Resources/Textures/_RMC14/Structures/barrel_yard.rsi/meta.json
  Resources/Textures/_RMC14/Structures/barrel_yard.rsi/pile_0.png
  Resources/Textures/_RMC14/Structures/barrels.rsi/barrel_blue.png
  Resources/Textures/_RMC14/Structures/barrels.rsi/barrel_green.png
  Resources/Textures/_RMC14/Structures/barrels.rsi/barrel_red.png
  Resources/Textures/_RMC14/Structures/barrels.rsi/barrel_white.png
  Resources/Textures/_RMC14/Structures/barrels.rsi/barrel_yellow.png
  Resources/Textures/_RMC14/Structures/barrels.rsi/meta.json
  Resources/Textures/_RMC14/Structures/containers_vertical.rsi/blue_b.png
  Resources/Textures/_RMC14/Structures/containers_vertical.rsi/blue_m.png
  Resources/Textures/_RMC14/Structures/containers_vertical.rsi/blue_t.png
  Resources/Textures/_RMC14/Structures/containers_vertical.rsi/meta.json
  Resources/Textures/_RMC14/Structures/prefabs.rsi/blu.png
  Resources/Textures/_RMC14/Structures/prefabs.rsi/blu_trim.png
  Resources/Textures/_RMC14/Structures/prefabs.rsi/meta.json
  Resources/Textures/_RMC14/Structures/prefabs.rsi/orange.png
  Resources/Textures/_RMC14/Structures/prefabs.rsi/orange_trim.png
  Resources/Textures/_RMC14/Structures/prefabs.rsi/pink.png
  Resources/Textures/_RMC14/Structures/prefabs.rsi/pink_trim.png
  Resources/Textures/_RMC14/Structures/prefabs.rsi/red.png
  Resources/Textures/_RMC14/Structures/prefabs.rsi/red_trim.png
  Resources/Textures/_RMC14/Structures/prefabs.rsi/white.png
  Resources/Textures/_RMC14/Structures/prefabs.rsi/white_trim.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5063 Add marine loadouts
  Content.Client/Lobby/UI/Loadouts/LoadoutGroupContainer.xaml.cs
  Content.Shared/Preferences/Loadouts/LoadoutPrototype.cs
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
  Resources/Locale/en-US/_RMC14/roles/loadouts.ftl
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/gunship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/maint_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/ordnance_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/nurse.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/researcher.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/chief_military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/military_warden.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/mess_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/cargo_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/quartermaster.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Backpack/backpacks.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/canned_drinks.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/eyewear.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/flasks.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/food.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/headwear.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/masks.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/paperwork.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/plushies.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/role_specific.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/weapons.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/role_loadouts.yml
Labels: Status: Needs Review, Changes: UI

#5007 Add visual effect during treatment
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Shared/DoAfter/DoAfter.cs
  Content.Shared/DoAfter/DoAfterArgs.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.Update.cs
  Content.Shared/_RMC14/Medical/CPR/CPRSystem.cs
  Content.Shared/_RMC14/Medical/IV/SharedIVDripSystem.cs
  Content.Shared/_RMC14/Medical/Surgery/SharedCMSurgerySystem.Steps.cs
  Content.Shared/_RMC14/Medical/Wounds/SharedWoundsSystem.cs
  Resources/Prototypes/_RMC14/Effects/heal.yml
  Resources/Textures/_RMC14/Effects/heal.rsi/busy_medical.png
  Resources/Textures/_RMC14/Effects/heal.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review, Needs Upstreaming

#4949 Make correspondent microphone be not an instrument
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/correspondent.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/correspondent.yml
Labels: No C#, Status: Needs Review

#5103 Add picked up dropped items hotkey
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/_RMC14/Input/CMKeyFunctions.cs
  Content.Shared/_RMC14/Inventory/RMCItemPickupComponent.cs
  Content.Shared/_RMC14/Inventory/RMCPickupDroppedItemsComponent.cs
  Content.Shared/_RMC14/Inventory/SharedCMInventorySystem.cs
  Resources/Locale/en-US/_RMC14/escape-menu/options-menu.ftl
  Resources/Prototypes/Entities/Objects/base_item.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/keybinds.yml
Labels: Changes: UI

#5123 Fix xenos not being able to turn off flashlights and other sources of light by clicking on them, update Rhett 'Rainman' McIndrick figurine
  Content.Shared/_RMC14/Interaction/RMCInteractionSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/rhett_rainman_mcindrick.png
Labels: Changes: Sprites, Status: Needs Review

#5121 Welding Goggles Tag
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
Labels: No C#, Status: Needs Review

#5124 Fix medals not always showing above backpacks and other clothing items
  Content.Client/_RMC14/Medal/PlaytimeMedalSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#5127 Shiva Parity Update
  Resources/Maps/_RMC14/shiva.yml
Labels: No C#, Status: Needs Review, Changes: Map

#5128 Fix camoflage breaking filled storages
  Content.Shared/_RMC14/Item/ItemCamouflageSystem.cs
Labels: Status: Needs Review

#5129 Chance's claim/medevac update fixes
  Content.Client/_RMC14/Dropship/Weapon/DropshipWeaponsBui.cs
  Content.Shared/_RMC14/Dropship/Utility/Systems/SharedMedevacSystem.cs
  Content.Shared/_RMC14/PowerLoader/PowerLoaderSystem.cs
  Content.Shared/_RMC14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Prototypes/_RMC14/Entities/Areas/areas_chances.yml
  Resources/Prototypes/_RMC14/Tiles/planet.yml
Labels: Status: Needs Review

#5150 Wield Speed Parity
  Content.Shared/_RMC14/Armor/CMArmorSystem.cs
  Content.Shared/_RMC14/Armor/RMCArmorSpeedTierComponent.cs
  Content.Shared/_RMC14/Armor/RMCArmorSpeedTierUserComponent.cs
  Content.Shared/_RMC14/Armor/RefreshArmorSpeedTierEvent.cs
  Content.Shared/_RMC14/Wieldable/Components/WieldSlowdownCompensationComponent.cs
  Content.Shared/_RMC14/Wieldable/Components/WieldSlowdownCompensationUserComponent.cs
  Content.Shared/_RMC14/Wieldable/Components/WieldableSpeedModifiersComponent.cs
  Content.Shared/_RMC14/Wieldable/Events/RefreshWieldSlowdownCompensationEvent.cs
  Content.Shared/_RMC14/Wieldable/RMCWieldableSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/armored_vest.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/basic_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/faction_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/pmc.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/provost.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/royal.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/security_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/spp.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/LMGs/base_lmg.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/base_grenade_launcher.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m5_atl_rocket_launcher.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/base_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_scout_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_heavy_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/xm88_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/base_smg.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/base_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SmartGuns/smart_gun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Snipers/base_sniper.yml
Labels: Status: Needs Review

#5157 Fixes Command tablet being corrodible
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/command_tablet.yml
Labels: No C#, Status: Needs Review

#5172 Port CM water and welding tanks
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/reagent_tank.yml
  Resources/Textures/_RMC14/Structures/Storage/reagent_tank.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/reagent_tank.rsi/t_active.png
  Resources/Textures/_RMC14/Structures/Storage/reagent_tank.rsi/t_boom.png
  Resources/Textures/_RMC14/Structures/Storage/reagent_tank.rsi/t_inactive.png
  Resources/Textures/_RMC14/Structures/Storage/reagent_tank.rsi/t_reinforced.png
  Resources/Textures/_RMC14/Structures/Storage/reagent_tank.rsi/t_signaller.png
  Resources/migration.yml
Labels: No C#, Changes: Sprites, Status: Needs Review

#5183 Pistols and revolvers in squad vends start empty
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m1984_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m77_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/m44_revolver.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
Labels: No C#, Status: Needs Review

#5182 Fix barricades + sentries repairing more than they should
  Content.Shared/_RMC14/Damage/SharedRMCDamageableSystem.cs
  Content.Shared/_RMC14/Repairable/RMCRepairableComponent.cs
  Content.Shared/_RMC14/Repairable/RMCRepairableSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/Barricades/barricade_wood.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_plasteel.yml
Labels: Status: Needs Review

#5185 Fix typo in XM88 description
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/xm88_rifle.yml
Labels: No C#, Status: Needs Review

#5180 FIXES YAML LINTER FAIL
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/police.yml
Labels: No C#, Status: Needs Review

#5178 Update Essential Maintenance Set
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/engineer.yml
Labels: No C#

#5184 D18, Additional Mag and Disabled Auto-Eject
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/hummingbird.yml
Labels: No C#, Status: Needs Review

#5130 various camouflage fixes
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/headwear.yml
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#5168 Fix xeno abilities that move a target not breaking all pulls
  Content.Shared/_RMC14/Pulling/RMCPullingSystem.cs
  Content.Shared/_RMC14/Stun/RMCSizeStunSystem.cs
  Content.Shared/_RMC14/Xenonids/Charge/XenoChargeSystem.cs
  Content.Shared/_RMC14/Xenonids/Cleave/XenoCleaveSystem.cs
  Content.Shared/_RMC14/Xenonids/Fling/XenoFlingSystem.cs
  Content.Shared/_RMC14/Xenonids/Headbutt/XenoHeadbuttSystem.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
  Content.Shared/_RMC14/Xenonids/Lunge/XenoLungeSystem.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
  Content.Shared/_RMC14/Xenonids/Punch/XenoPunchSystem.cs
  Content.Shared/_RMC14/Xenonids/Retrieve/XenoRetrieveSystem.cs
  Content.Shared/_RMC14/Xenonids/Sweep/XenoTailSweepSystem.cs
Labels: Status: Needs Review

#5162 Fix being able to switch between guns to melee faster
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/cm_base_gun.yml
Labels: Status: Needs Review

#5169 Fix mini sentry not being spit hittable + fix sentry deploy/undeploy times
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/sentries.yml
Labels: No C#, Status: Needs Review

#5167 Actually fix duplicate m5-atl for real
  Content.Shared/_RMC14/Item/ItemCamouflageComponent.cs
  Content.Shared/_RMC14/Item/ItemCamouflageEvent.cs
  Content.Shared/_RMC14/Item/ItemCamouflageSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/smartgunner_loadouts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/spec_camos.yml
Labels: Status: Needs Review

#5159 Stop scout from using all nades including mollies while cloaked
  Content.Shared/_RMC14/Armor/ThermalCloak/CancelUseWithCloakComponent.cs
  Content.Shared/_RMC14/Armor/ThermalCloak/ThermalCloakSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Status: Needs Review

#5151 Scarf Loadouts
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/masks.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
Labels: No C#, Status: Needs Review

#5147 Add nade inhands
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m07training.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m07training.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m07training.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m40hedp.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m40hedp.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m40hedp.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m40hefa.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m40hefa.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m40hefa.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m40hidp.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m40hidp.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m40hidp.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m40smoke.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m40smoke.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m40smoke.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#5138 Irregular Rotation on Shiva Railings
  Resources/Maps/_RMC14/shiva.yml
  Resources/Textures/_RMC14/Structures/Walls/Barricades/barricade.rsi/small_wire.png
Labels: No C#, Changes: Sprites, Status: Needs Review, Changes: Map

#5141 [Fix] Locker/Closet Modifier and HP reduction
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/closets.yml
Labels: No C#, Status: Needs Review

#5068 Fix acid projectile sprites + queen spit
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/Standard/XenoSpitComponent.cs
  Content.Shared/_RMC14/Xenonids/SpitToggle/XenoSpitToggleActionEvent.cs
  Content.Shared/_RMC14/Xenonids/SpitToggle/XenoToggleSpitComponent.cs
  Content.Shared/_RMC14/Xenonids/SpitToggle/XenoToggleSpitSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
  Resources/Textures/_RMC14/Objects/Xeno/xeno_projectiles.rsi/boiler_railgun.png
  Resources/Textures/_RMC14/Objects/Xeno/xeno_projectiles.rsi/xeno_acid.png
Labels: Changes: Sprites, Status: Needs Review

#4947 Add Healer drone strain
  Content.Client/_RMC14/Xenonids/Heal/XenoHealSystem.cs
  Content.Server/_RMC14/Xenonids/ForTheHive/XenoForTheHiveSystem.cs
  Content.Server/_RMC14/Xenonids/Heal/XenoHealSystem.cs
  Content.Server/_RMC14/Xenonids/Respawn/XenoRespawnSystem.cs
  Content.Shared/_RMC14/Xenonids/ForTheHive/SharedXenoForTheHiveSystem.cs
  Content.Shared/_RMC14/Xenonids/Heal/SharedXenoHealSystem.cs
  Content.Shared/_RMC14/Xenonids/Heal/XenoApplySalveActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Heal/XenoBeingHealedComponent.cs
  Content.Shared/_RMC14/Xenonids/Heal/XenoHealComponent.cs
  Content.Shared/_RMC14/Xenonids/Heal/XenoHealSystem.cs
  Content.Shared/_RMC14/Xenonids/Heal/XenoSacrificeHealActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Plasma/XenoActionPlasmaComponent.cs
  Content.Shared/_RMC14/Xenonids/Respawn/XenoRespawnComponent.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-strains.ftl
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_utility_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/meta.json
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/xenoenergy0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_dissection.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_downed_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_downed_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_downed_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_walk_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_walk_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_walk_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_walk_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#5186 Add Fire patting popups for the receiver, and others
  Content.Shared/_RMC14/Atmos/SharedRMCFlammableSystem.cs
Labels: Status: Needs Review

#5187 Fix warden praetorian heal popup
  Content.Shared/_RMC14/Xenonids/Aid/XenoAidSystem.cs
Labels: Status: Needs Review

#5188 [Fix] Extinguisher spray will no longer go into disposal
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/fire_extinguisher.yml
Labels: No C#, Status: Needs Review

#4926 Add Resin Whisperer (Hivelord Strain)
  Content.Shared/Prying/Systems/PryingSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/Events/XenoSecreteStructureAdjustFieldsEvent.cs
  Content.Shared/_RMC14/Xenonids/Construction/Events/XenoSecreteStructureAttemptEvent.cs
  Content.Shared/_RMC14/Xenonids/Construction/ResinWhisper/ResinWhisperComponent.cs
  Content.Shared/_RMC14/Xenonids/Construction/ResinWhisper/ResinWhispererSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/XenoConstructionComponent.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-construction.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-strains.ftl
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_construction_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: Status: Needs Review

#4992 Add engineer kit
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/Circuitboards/Machine/base_machineboard.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/engineerkit.yml
  Resources/Prototypes/_RMC14/tags.yml
  Resources/Textures/_RMC14/Objects/Misc/engineer_kit.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Misc/engineer_kit.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Misc/engineer_kit.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/engineer_kit.rsi/toolkit.png
  Resources/Textures/_RMC14/Objects/Misc/engineer_kit.rsi/toolkit_empty.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5191 Add resin whisperer sprites
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/alive.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/crit.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/dead.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_dissection.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_downed_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_downed_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_downed_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_walk_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_walk_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_walk_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_walk_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/sleeping.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5189 Couch description copyright fix
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/couch.yml
Labels: No C#

#5192 Fix all instances of scout's M4SPR name
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/specialist_loadouts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_scout_rifle.yml
Labels: No C#, Status: Needs Review

#3545 Add medical kit pouch to vendors
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/medical.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
Labels: No C#, Status: Needs Review

#5194 Extinguishers now remove xeno acid on Marines
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/XenoSpitSystem.cs
Labels: Status: Needs Review

#4880 Add the M59A prototype rifle (CO's protag gun)
  Content.Shared/_RMC14/Weapons/Ranged/GunIDLockComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/GunIDLockSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/IFF/GunIFFSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/IFF/IFFToggleComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/IFF/IFFToggleSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCSelectiveFireSystem.cs
  Resources/Locale/en-US/_RMC14/weapons/guns.ftl
  Resources/Prototypes/_RMC14/Actions/Marines/marine_action_items.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m59a_prototype_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SmartGuns/smart_gun.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Textures/_RMC14/Actions/id_lock_actions.rsi/id_lock_locked.png
  Resources/Textures/_RMC14/Actions/id_lock_actions.rsi/id_lock_unlocked.png
  Resources/Textures/_RMC14/Actions/id_lock_actions.rsi/meta.json
  Resources/Textures/_RMC14/Actions/iff_toggle_actions.rsi/iff_toggle_off.png
  Resources/Textures/_RMC14/Actions/iff_toggle_actions.rsi/iff_toggle_on.png
  Resources/Textures/_RMC14/Actions/iff_toggle_actions.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m46c.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m46c.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m46c.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m46c.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#5195 Fix max item size of a few med pouches + fix rig having ointment
  Resources/Prototypes/_RMC14/Catalog/Fills/Clothing/belt.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/medical.yml
Labels: No C#, Status: Needs Review

#5198 [Fix] Combat engineering description spelling
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/engineerkit.yml
Labels: No C#, Status: Needs Review

#5158 Add steelcrest + defender fixes
  Content.Shared/_RMC14/Xenonids/Fortify/XenoFortifyComponent.cs
  Content.Shared/_RMC14/Xenonids/Fortify/XenoFortifySystem.cs
  Content.Shared/_RMC14/Xenonids/Headbutt/XenoHeadbuttComponent.cs
  Content.Shared/_RMC14/Xenonids/Headbutt/XenoHeadbuttSystem.cs
  Content.Shared/_RMC14/Xenonids/Soak/XenoSoakActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Soak/XenoSoakComponent.cs
  Content.Shared/_RMC14/Xenonids/Soak/XenoSoakSystem.cs
  Content.Shared/_RMC14/Xenonids/Soak/XenoSoakingDamageComponent.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-strains.ftl
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_RMC14/Effects/heal.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/defender.yml
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/alive.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/crest.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/crit.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/dead.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_crest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_crest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_crest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_crest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_dissection.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_downed_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_downed_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_downed_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_fortify_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_fortify_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_fortify_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_fortify_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_walk_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_walk_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_walk_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_walk_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/fortify.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/sleeping.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/thrown.png
Labels: Changes: Sprites, Status: Needs Review

#5199 Fix healer salve and sacrifice doing damage
  Content.Shared/_RMC14/Xenonids/Heal/SharedXenoHealSystem.cs
Labels: Status: Needs Review

#5203 Fix FTL belt having the incorrect name
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
Labels: No C#, Status: Needs Review

#5202 Update pull request requirements for assets and code
  .github/PULL_REQUEST_TEMPLATE.md
Labels: No C#, Status: Needs Review

#5204 Add Dave 'Big Dave' Small and Mark Sholl figurines, rotate Emily figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/dave_big_dave_small.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/mark_sholl.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: No C#, Changes: Sprites

#5208 Remove ingestion blocker from scarfs
  Resources/Prototypes/_RMC14/Entities/Clothing/Masks/scarfs.yml
Labels: No C#, Status: Needs Review

#5206 Fix medical pouch having wrong name
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
Labels: No C#, Status: Needs Review

#5212 Fix rounds never ending
  Content.Server/_RMC14/Rules/CMDistressSignalRuleComponent.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Server/_RMC14/Rules/DistressSignalRuleResult.cs
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/cyril_cloves_culkins.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#5215 Fix Boiler glob going through xeno walls/membrane
  Content.Shared/_RMC14/Xenonids/Projectile/XenoProjectileSystem.cs
Labels: Status: Needs Review

#5214 Make Resin Whisperer Remote Build LoS A LOT more permissive
  Content.Shared/_RMC14/Xenonids/Construction/ResinWhisper/ResinWhispererSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-construction.ftl
Labels: Status: Needs Review

#5216 Fix rounds not ending automatically but actually, fix healer drone failure popups
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/Xenonids/Heal/SharedXenoHealSystem.cs
Labels: Status: Needs Review

#5217 Add missing import
  Content.Shared/_RMC14/Xenonids/Projectile/XenoProjectileSystem.cs
Labels: Status: Needs Review

#5218 Replace the tanks for real
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#5219 Fix healer pheromones being too weak
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
Labels: No C#, Status: Needs Review

#5222 Fix revival mix name + add med kit pouch to other vends
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/medical.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
Labels: No C#, Status: Needs Review

#5226 Fix arachnids not getting default emote sounds
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/_RMC14/Voice/Arachnid/arachnid_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/Diona/diona_emote_sounds.yml
Labels: No C#, Status: Needs Review

#5225 fix m96s sniper rifle spawning as classic on jungle maps
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Snipers/m96s_sniper.yml
Labels: No C#, Status: Needs Review

#5175 added Xeno Energy Alert
  Content.Shared/_RMC14/Alert/AlertPrototype.cs
  Content.Shared/_RMC14/Xenonids/Energy/XenoEnergyComponent.cs
  Content.Shared/_RMC14/Xenonids/Energy/XenoEnergySystem.cs
  Content.Shared/_RMC14/Xenonids/Plasma/XenoPlasmaSystem.cs
  Resources/Prototypes/_RMC14/Alerts/Xeno/xeno_energy_alerts.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/meta.json
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_0.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_1.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_10.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_11.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_12.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_13.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_14.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_15.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_16.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_2.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_3.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_4.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_5.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_6.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_7.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_8.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_9.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_empty.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_energy.rsi/power_display_full.png
Labels: Changes: Sprites, Status: Needs Review

#5228 Fix rementoring as an active mentor sending you duplicate messages
  Content.Server/_RMC14/Mentor/MentorManager.cs
  Content.Server/_RMC14/Mentor/MentorWhoCommand.cs
Labels: Status: Needs Review

#5229 Give healer their own custom alert text, fix warden's popup text
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Prototypes/_RMC14/Alerts/Xeno/xeno_energy_alerts.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
Labels: No C#, Status: Needs Review

#5233 Fix every Xeno Ghost Name bug
  Content.Server/_RMC14/Name/XenoNameSystem.cs
  Content.Server/_RMC14/Xenonids/XenoRoleSystem.cs
  Content.Shared/_RMC14/Xenonids/Name/SharedXenoNameSystem.cs
Labels: Status: Needs Review

#5230 Add a search bar to medal/jelly ui
  Content.Client/_RMC14/Dialog/DialogBui.cs
  Content.Client/_RMC14/Dialog/RMCDialogOptionsWindow.xaml
Labels: Status: Needs Review, Changes: UI

#5243 add reptilian sprites for the tactical wraps
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/alpha.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/alpha.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/black.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/black.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/bravo.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/bravo.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/charlie.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/charlie.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/delta.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/delta.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/echo.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/echo.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/foxtrot.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/foxtrot.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/gray.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/gray.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/green.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/green.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/tan.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/tan.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#5239 Add phone, e-tool, and colony radio inhands
  Resources/Textures/_RMC14/Objects/Devices/radio.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Devices/radio.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Devices/radio.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tools/etool.rsi/inhand-left-c.png
  Resources/Textures/_RMC14/Objects/Tools/etool.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tools/etool.rsi/inhand-right-c.png
  Resources/Textures/_RMC14/Objects/Tools/etool.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tools/etool.rsi/meta.json
  Resources/Textures/_RMC14/Objects/phone.rsi/inhand-left-ear.png
  Resources/Textures/_RMC14/Objects/phone.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/phone.rsi/inhand-right-ear.png
  Resources/Textures/_RMC14/Objects/phone.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/phone.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#5238 Xenonid inhands + some stuff missed in the sprite change
  Content.Client/_RMC14/Xenonids/Inhands/XenoInhandsVisualsSystem.cs
  Content.Shared/_RMC14/Xenonids/Inhands/XenoInhandSpriteComponent.cs
  Content.Shared/_RMC14/Xenonids/Inhands/XenoInhandsComponent.cs
  Content.Shared/_RMC14/Xenonids/Inhands/XenoInhandsSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_egg.yml
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_downed_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_downed_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_downed_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/drone.rsi/drone_egg_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/drone.rsi/drone_egg_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/drone.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/gardener_drone.rsi/drone_egg_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/gardener_drone.rsi/drone_egg_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/gardener_drone.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_egg_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_egg_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/hivelord.rsi/hivelord_egg_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/hivelord.rsi/hivelord_egg_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/hivelord.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_egg_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_egg_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/LesserDrone/lesser_drone.rsi/lesser_egg_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/LesserDrone/lesser_drone.rsi/lesser_egg_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/LesserDrone/lesser_drone.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Xenos/xeno_resin_trap.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Xenos/xeno_resin_trap.rsi/trapparasite.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_resin_trap.rsi/trapparasite_old.png
Labels: Changes: Sprites, Status: Needs Review

#5232 Fix healer heal time, add salve visuals system
  Content.Client/_RMC14/Xenonids/Heal/XenoSalveVisualsSystem.cs
  Content.Shared/_RMC14/Xenonids/Heal/SharedXenoHealSystem.cs
  Content.Shared/_RMC14/Xenonids/Heal/XenoApplySalveActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Salve/RecentlySalvedComponent.cs
  Content.Shared/_RMC14/Xenonids/Salve/XenoSalveSystem.cs
  Content.Shared/_RMC14/Xenonids/Salve/XenoSalveVisualsComponent.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_utility_actions.yml
  Resources/Prototypes/_RMC14/Alerts/Xeno/xeno_energy_alerts.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Textures/_RMC14/Mobs/OldXenonids/Drone/healer_drone.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/OldXenonids/Drone/healer_drone.rsi/salved.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Drone/healer_drone.rsi/salved_downed.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Drone/healer_drone.rsi/salved_rest.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/salved.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/salved_downed.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/salved_rest.png
Labels: Changes: Sprites, Status: Needs Review
