Repository RMC-14/RMC-14, pull requests merged in 2024-10, with the labels that each got.

#4204 Fix para AI inconsistencies + prae n acid fixes
  Content.Server/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleSystem.cs
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteThrowerSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/ResinHole/SharedXenoResinHoleSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Resources/Prototypes/_RMC14/Effects/xeno_acid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
Labels: Status: Needs Review

#4197 Fix xeno hud and medhud appearing while a scout is invisible
  Content.Client/StatusIcon/StatusIconSystem.cs
  Content.Client/_RMC14/Xenonids/Hud/XenoHudOverlay.cs
  Content.Shared/_RMC14/Armor/ThermalCloak/ThermalCloakSystem.cs
Labels: Status: Needs Review

#4207 Fix spray acid aciding too many cades, going through walls
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteThrowerSystem.cs
  Content.Shared/_RMC14/Line/LineSystem.cs
  Content.Shared/_RMC14/Line/LineTile.cs
  Content.Shared/_RMC14/Xenonids/Retrieve/XenoRetrieveSystem.cs
  Content.Shared/_RMC14/Xenonids/Spray/ActiveAcidSprayingComponent.cs
  Content.Shared/_RMC14/Xenonids/Spray/XenoSprayAcidSystem.cs
Labels: Status: Needs Review

#4229 Adds 30-stack of cable coil, adds them to M276 utility belt and M276 combat utility belt
  Resources/Prototypes/_RMC14/Catalog/Fills/Clothing/belt.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Power/coil.yml
Labels: No C#, Status: Needs Review

#4227 Added shower
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/shower.yml
  Resources/Textures/_RMC14/Structures/Furniture/shower.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Furniture/shower.rsi/shower.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4233 Update vending_machines.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
Labels: No C#

#4211 Fixed barbed sandbags not returning barbed wire when dismantled
  Content.Shared/_RMC14/Entrenching/BarricadeSystem.cs
Labels: Status: Needs Review

#4215 Port hypo fill sprites
  Resources/Textures/_RMC14/Objects/Medical/hypospray.rsi/hypospray1.png
  Resources/Textures/_RMC14/Objects/Medical/hypospray.rsi/hypospray2.png
  Resources/Textures/_RMC14/Objects/Medical/hypospray.rsi/hypospray3.png
  Resources/Textures/_RMC14/Objects/Medical/hypospray.rsi/hypospray4.png
  Resources/Textures/_RMC14/Objects/Medical/hypospray.rsi/hypospray5.png
  Resources/Textures/_RMC14/Objects/Medical/hypospray.rsi/hypospray6.png
  Resources/Textures/_RMC14/Objects/Medical/hypospray.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#4232 fix super reinforced suffix
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/walls.yml
Labels: No C#, Status: Needs Review

#4222 make hive caste support announcement work + loc
  Content.Server/_RMC14/Announce/XenoAnnounceSystem.cs
  Content.Server/_RMC14/Xenonids/Hive/XenoHiveSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-chat.ftl
Labels: Status: Needs Review

#4223 hive member unification and many fixes
  Content.Server/_RMC14/Admin/RMCAdminEui.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Server/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleSystem.cs
  Content.Server/_RMC14/Xenonids/Construction/XenoHiveCoreSystem.cs
  Content.Server/_RMC14/Xenonids/Egg/EggRetriever/XenoEggRetrieverSystem.cs
  Content.Server/_RMC14/Xenonids/Hive/HiveCommand.cs
  Content.Server/_RMC14/Xenonids/Hive/XenoHiveSystem.cs
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteThrowerSystem.cs
  Content.Server/_RMC14/Xenonids/Watch/XenoWatchSystem.cs
  Content.Shared/_RMC14/Tracker/Xeno/HiveTrackerSystem.cs
  Content.Shared/_RMC14/Xenonids/Aid/XenoAidSystem.cs
  Content.Shared/_RMC14/Xenonids/Announce/SharedXenoAnnounceSystem.cs
  Content.Shared/_RMC14/Xenonids/Bombard/XenoBombardSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/ResinHole/SharedXenoResinHoleSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleComponent.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggComponent.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionSystem.cs
  Content.Shared/_RMC14/Xenonids/Headbutt/XenoHeadbuttSystem.cs
  Content.Shared/_RMC14/Xenonids/Hive/HiveMemberComponent.cs
  Content.Shared/_RMC14/Xenonids/Hive/SharedXenoHiveSystem.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
  Content.Shared/_RMC14/Xenonids/Lunge/XenoLungeSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/XenoSpitSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/XenoProjectileComponent.cs
  Content.Shared/_RMC14/Xenonids/Projectile/XenoProjectileSystem.cs
  Content.Shared/_RMC14/Xenonids/Retrieve/XenoRetrieveSystem.cs
  Content.Shared/_RMC14/Xenonids/Screech/SharedXenoScreechSystem.cs
  Content.Shared/_RMC14/Xenonids/Stab/SharedXenoTailStabSystem.cs
  Content.Shared/_RMC14/Xenonids/Watch/SharedWatchXenoSystem.cs
  Content.Shared/_RMC14/Xenonids/Word/XenoWordQueenSystem.cs
  Content.Shared/_RMC14/Xenonids/XenoComponent.cs
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
Labels: Status: Needs Review

#4216 Fix para AI checks (again) + xeno death annouce tweak + trap name fix
  Content.Server/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleSystem.cs
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteThrowerSystem.cs
  Content.Shared/_RMC14/Xenonids/Announce/SharedXenoAnnounceSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/ResinHole/SharedXenoResinHoleSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleComponent.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-construction.ftl
Labels: Status: Needs Review

#4235 Fix M54C, M63, and Smartgun being wielded backwards
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/smart_gun.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/smart_gun.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4236 Add washing machine
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/washing_machine.yml
  Resources/Textures/_RMC14/Structures/Furniture/washing_machine.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Furniture/washing_machine.rsi/washing_machine_closed.png
  Resources/Textures/_RMC14/Structures/Furniture/washing_machine.rsi/washing_machine_double_closed.png
  Resources/Textures/_RMC14/Structures/Furniture/washing_machine.rsi/washing_machine_double_open.png
  Resources/Textures/_RMC14/Structures/Furniture/washing_machine.rsi/washing_machine_open.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4234 Knives and Machete's can Pry
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/knife.yml
Labels: No C#, Status: Needs Review

#3832 Add first-aid kit to G8-A belt blacklist
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
Labels: No C#, Status: Needs Review

#4156 Move tactical map to the alerts bar
  Content.Server/_RMC14/TacticalMap/TacticalMapSystem.cs
  Content.Shared/_RMC14/TacticalMap/GrantTacMapAlertComponent.cs
  Content.Shared/_RMC14/TacticalMap/OpenTacMapAlertEvent.cs
  Content.Shared/_RMC14/TacticalMap/TacMapMarineAlertComponent.cs
  Content.Shared/_RMC14/TacticalMap/TacMapMarineAlertSystem.cs
  Content.Shared/_RMC14/TacticalMap/TacMapXenoAlertComponent.cs
  Content.Shared/_RMC14/TacticalMap/TacMapXenoAlertSystem.cs
  Resources/Prototypes/_RMC14/Alerts/alerts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: Status: Needs Review

#4239 Add xenos seeing each others position live while the Queen is in ovi
  Content.Server/_RMC14/TacticalMap/TacticalMapSystem.cs
  Content.Shared/_RMC14/TacticalMap/TacticalMapLiveUpdateOnOviComponent.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoOvipositorChangedEvent.cs
  Content.Shared/_RMC14/Xenonids/Rest/XenoRestSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
Labels: Status: Needs Review

#4154 M276 Shotgun Shell Loading Rig
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/auxiliary.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
Labels: No C#, Status: Needs Review

#4243 Fix IFF text always displaying on examine regardless of it actually has IFF
  Content.Shared/_RMC14/Attachable/Systems/AttachableIFFSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/IFF/GunIFFSystem.cs
  Resources/Locale/en-US/_RMC14/weapons/guns.ftl
Labels: Status: Needs Review

#4241 Fix acid level 2 trap not stunning
  Resources/Prototypes/_RMC14/Effects/xeno_acid.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_resin_hole.yml
Labels: No C#, Status: Needs Review

#4248 fix lessers not having a hive
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Hive/SharedXenoHiveSystem.cs
Labels: Status: Needs Review

#4249 Fix parasite AI trying to rest immediately on spawn
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.AI.cs
Labels: Status: Needs Review

#4251 Fix carrier ghost role parasites being hiveless
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteThrowerSystem.cs
Labels: Status: Needs Review

#4252 update chatsan
  Resources/Locale/en-US/_RMC14/cm-chatsan.ftl
  Resources/Prototypes/_RMC14/Accents/cm_word_replacements.yml
Labels: No C#, Status: Needs Review

#4254 Fix bunker window frames sprite erroring in some cases
  Resources/Textures/_RMC14/Structures/Windows/Frames/bunker_frame.rsi/bnkr_frame13.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/bunker_frame.rsi/meta.json
Labels: Status: Needs Review

#4260 Fix linter error
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteThrowerSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-parasite.ftl
Labels: Status: Needs Review

#4263 add custom xeno tactical map alert icon
  Resources/Prototypes/_RMC14/Alerts/alerts.yml
  Resources/Textures/_RMC14/Interface/Alerts/xeno_map.rsi/meta.json
  Resources/Textures/_RMC14/Interface/Alerts/xeno_map.rsi/open_xeno_map.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4271 Fix picking up a para from a hole making it hiveless
  Content.Server/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleSystem.cs
Labels: Status: Needs Review

#4269 Fix armor and goggles not having squad coloring
  Content.Shared/_RMC14/Marines/Squads/SquadArmorComponent.cs
  Content.Shared/_RMC14/Marines/Squads/SquadSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/marine_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
Labels: Status: Needs Review

#4275 Fix parasites dying when used for more than 1 manual infect at a time
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.AI.cs
Labels: Status: Needs Review

#4292 hide wehny/rouny and burrower/ravager from caste unlock announcements
  Content.Shared/_RMC14/Xenonids/Hive/SharedXenoHiveSystem.cs
  Content.Shared/_RMC14/Xenonids/XenoComponent.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/fun.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
Labels: Status: Needs Review

#4291 Fix carriers not dropping as many eggs as they should
  Content.Server/_RMC14/Xenonids/Egg/EggRetriever/XenoEggRetrieverSystem.cs
Labels: Status: Needs Review

#4300 Fix filled traps being able to be destroyed by the same hive
  Content.Server/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/ResinHole/SharedXenoResinHoleSystem.cs
Labels: Status: Needs Review

#4306 Add missing slot flag to squad beret
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/hats.yml
Labels: No C#, Status: Needs Review

#4295 network hive entity to its members
  Content.Server/_RMC14/Xenonids/XenoRoleSystem.cs
Labels: Status: Needs Review

#4315 Fix the SEA not starting with 45 vendor points
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/senior_enlisted_advisor.yml
Labels: No C#

#4319 Make mop bucket use bucket inhands + lathe recipe
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe_recipes.yml
Labels: No C#, Status: Needs Review

#4301 Add linen bin
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/linenbin.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/washing_machine.yml
  Resources/Textures/_RMC14/Structures/Furniture/linen_bin.rsi/linenbin_empty.png
  Resources/Textures/_RMC14/Structures/Furniture/linen_bin.rsi/linenbin_full.png
  Resources/Textures/_RMC14/Structures/Furniture/linen_bin.rsi/linenbin_half.png
  Resources/Textures/_RMC14/Structures/Furniture/linen_bin.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#4316 Add shotgun handfuls
  Content.Client/_RMC14/Stack/RMCStackSystem.cs
  Content.Server/_RMC14/Stack/RMCStackSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Weapons/Ranged/Components/AmmoComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/_RMC14/Hands/CMHandsSystem.cs
  Content.Shared/_RMC14/Hands/RMCStorageEjectHandComponent.cs
  Content.Shared/_RMC14/Stack/SharedRMCStackSystem.cs
  Content.Shared/_RMC14/Storage/RMCStorageSystem.cs
  Resources/Locale/en-US/_RMC14/storage/storage.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/police.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/marine_shotguns.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/auxiliary.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
Labels: Status: Needs Review

#4322 Fix window error sprites on Trijent
  Resources/Prototypes/_RMC14/Entities/Structures/Windows/trijent.yml
Labels: No C#, Status: Needs Review

#4268 Make lesser drones from the hivecore raffles, fix role description
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_hive.yml
Labels: No C#

#4321 add figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/does-the-dishes.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: No C#, Changes: Sprites

#4323 Fix the underbarrel shotgun attachment doing too little damage to xeno resin structures
  Resources/Prototypes/_RMC14/Entities/Structures/Base/base_structure.yml
Labels: No C#, Status: Needs Review

#4324 Fix the half-second delay to taking out items from storage
  Content.Client/UserInterface/Systems/Storage/StorageUIController.cs
Labels: Status: Needs Review

#4325 Fix 300u jugs fitting into satchels
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: No C#

#4330 Update Tail Stab localization
  Resources/Locale/en-US/_RMC14/xeno/xeno-tail.ftl
Labels: No C#, Status: Needs Review

#4332 Fix pull speeds, again
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/warrior.yml
Labels: No C#, Status: Needs Review

#4347 add keyboard sounds
  Resources/Audio/_RMC14/Machines/attributions.yml
  Resources/Audio/_RMC14/Machines/keyboard1.ogg
  Resources/Audio/_RMC14/Machines/keyboard2.ogg
  Resources/Audio/_RMC14/Machines/keyboard3.ogg
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/rmc_communications_console.yml
  Resources/Prototypes/_RMC14/SoundCollections/keyboard.yml
Labels: No C#, Status: Needs Review

#4346 extra xeno effects
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Resources/Audio/_RMC14/Xeno/acid_impact1.ogg
  Resources/Audio/_RMC14/Xeno/attributions.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
Labels: Status: Needs Review

#4337 Add boiler tailstab toggle + neuro on hit
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
  Content.Shared/_RMC14/Xenonids/Stab/SharedXenoTailStabSystem.cs
  Content.Shared/_RMC14/Xenonids/Stab/XenoTailStabComponent.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
Labels: Status: Needs Review

#4298 let xenos melee rogue xenos + let xenos break weeds
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Server/_RMC14/Xenonids/Weeds/XenoWeedsSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/Nest/XenoNestSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
Labels: Status: Needs Review

#4345 Xeno Healing Parity (almost, still slightly underpowered)
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
Labels: Status: Needs Review

#4329 Require directly aiming at eggs to destroy them
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_egg.yml
Labels: No C#, Status: Needs Review

#4276 make more jumpsuits foldable
  Resources/Locale/en-US/_RMC14/foldable.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/police.yml
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Engineering/ec.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Engineering/mt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Engineering/mt.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Engineering/mt.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Engineering/ot.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Engineering/ot.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/MP/Warden/standard.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/MP/Warden/standard.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Supply/cargo_tech.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Supply/cargo_tech.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Supply/ro.rsi/equipped-INNERCLOTHING.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4279 Remove GL chatsan
  Resources/Locale/en-US/_RMC14/cm-chatsan.ftl
  Resources/Locale/en-US/speech/speech-chatsan.ftl
  Resources/Prototypes/_RMC14/Accents/cm_word_replacements.yml
Labels: No C#, Status: Needs Review

#4214 Added Direct Hit Effects to Boiler's Bombard
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
Labels: No C#, Status: Needs Review

#4355 Fix avali chat san
  Resources/Locale/en-US/_RMC14/cm-chatsan.ftl
Labels: No C#, Status: Needs Review

#4328 Add maint tech clothing
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/hard_hats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/crew_coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/faction_coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/engineering.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/misc/flashlight.yml
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/beret_engi.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/beret_engi.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/beret_engi.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/blue.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/blue.rsi/icon_on.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/blue.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/blue.rsi/off-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/blue.rsi/on-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/orange.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/orange.rsi/icon_on.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/orange.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/orange.rsi/off-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/orange.rsi/on-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/red.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/red.rsi/icon_on.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/red.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/red.rsi/off-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/red.rsi/on-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/white.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/white.rsi/icon_on.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/white.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/white.rsi/off-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/white.rsi/on-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/yellow.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/yellow.rsi/icon_on.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/yellow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/yellow.rsi/off-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/Hardhats/yellow.rsi/on-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/rebreather.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/rebreather.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/rebreather.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/rebreather.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/rebreather.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/HazardVests/black.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/HazardVests/black.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/HazardVests/black.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/HazardVests/blue.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/HazardVests/blue.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/HazardVests/blue.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/HazardVests/orange.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/HazardVests/orange.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/HazardVests/orange.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/HazardVests/yellow.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/HazardVests/yellow.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/HazardVests/yellow.rsi/meta.json
  Resources/migration.yml
Labels: No C#, Changes: Sprites, Status: Needs Review

#4333 Add soap
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/soap.yml
  Resources/Textures/_RMC14/Objects/Misc/Janitorial/soap.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/Janitorial/soap.rsi/soap.png
  Resources/Textures/_RMC14/Objects/Misc/Janitorial/soap.rsi/soap_deluxe.png
  Resources/Textures/_RMC14/Objects/Misc/Janitorial/soap.rsi/soap_nt.png
  Resources/Textures/_RMC14/Objects/Misc/Janitorial/soap.rsi/soap_syndie.png
Labels: No C#, Changes: Sprites

#4360 localize fusion reactor damage popups
  Content.Shared/_RMC14/Power/SharedRMCPowerSystem.cs
  Resources/Locale/en-US/_RMC14/power/rmc-fusion-reactor.ftl
Labels: Status: Needs Review

#4361 Boiler gas spreads 1 tile farther
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_smoke.yml
Labels: No C#, Status: Needs Review

#4065 Added shotgun shell boxes
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/ammo_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_box_crafting.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_bean.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_bean_1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_bean_2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_bean_3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_breach.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_breach_1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_breach_2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_breach_3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_buck.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_buck_1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_buck_2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_buck_3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_flech.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_flech_1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_flech_2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_flech_3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_incen.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_incen_1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_incen_2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_incen_3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_incenbuck.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_incenbuck_1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_incenbuck_2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_incenbuck_3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_slug.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_slug_1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_slug_2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/shells_slug_3.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4369 Update plasma cost to Carrier Resin Hole Ability Tooltip
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_construction_actions.yml
Labels: No C#, Status: Needs Review

#4388 Port CM13 flare activate sounds
  Resources/Audio/_RMC14/Machines/attributions.yml
  Resources/Audio/_RMC14/Machines/flare_activate_2.ogg
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/flares.yml
Labels: No C#, Status: Needs Review

#4367 AR10 implementation
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_ar10.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/colony_rifle.yml
  Resources/Prototypes/_RMC14/Audio/gun_sound_collections.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/colony_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/colony_rifles.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/marine_rifles.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/ar10.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/ar10.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/ar10.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ar10.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ar10.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ar10.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ar10.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ar10.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ar10.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ar10.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ar10.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ar10.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ar10.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4141 MOU53 & Spearhead
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/weapons.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/base_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m357_sawn_off_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m357_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/marine_shotguns.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/mou53_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/shotgun_handfuls.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/Weapons/SawnOff.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/dbsawnoff.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/dbsawnoff.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/dbsawnoff.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/dbsawnoff.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/dbsawnoff.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/dbsawnoff.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/dbsawnoff.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/dbsawnoff.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/doublebarrel.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/doublebarrel.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/doublebarrel.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/doublebarrel.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/doublebarrel.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/doublebarrel.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/doublebarrel.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/doublebarrel.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4389 Fix shield protecting more than normal for large damage amounts
  Content.Shared/_RMC14/Shields/XenoShieldSystem.cs
Labels: Status: Needs Review

#4390 Change xeno burn damage to be heat damage for examines
  Resources/Prototypes/_RMC14/Effects/xeno_acid.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
Labels: No C#, Status: Needs Review

#4392 fix many entities having arbitrary damage reductions copied from upstream
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/barbedwire.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/floodlights.yml
  Resources/Prototypes/_RMC14/Entities/Objects/PowerLoader/Dropship/rmc_dropship_attachment_base.yml
  Resources/Prototypes/_RMC14/Entities/Objects/PowerLoader/rmc_power_loader.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/mortars.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Windoors/assembly.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/cm_door.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/bookshelf.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/linenbin.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/shower.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/washing_machine.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Misc/janitor.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Power/apc.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/crates.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/rack.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/catwalk.yml
Labels: No C#, Status: Needs Review

#4395 Fix resin holes not using plasma on fill
  Content.Server/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleSystem.cs
Labels: Status: Needs Review

#4391 Fix light armor desc
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
Labels: No C#, Status: Needs Review

#4397 Adds the M92FS pistol
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/b92fs.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/b92fs.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/b92fs.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/b92fs.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/b92fs.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/b92fs.rsi/belt.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/b92fs.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/b92fs.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/b92fs.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/b92fs.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/b92fs.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/b92fs.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4364 Lurker Invisibility Rework
  Content.Shared/_RMC14/Xenonids/Invisibility/XenoActiveInvisibleComponent.cs
  Content.Shared/_RMC14/Xenonids/Invisibility/XenoInvisibilitySystem.cs
  Content.Shared/_RMC14/Xenonids/Invisibility/XenoTurnInvisibleComponent.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_self_actions.yml
Labels: Status: Needs Review

#4124 Fix several Speedloader Reload bugs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
Labels: Status: Needs Review

#4400 Fix M3-VL vest having medium speed
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
Labels: No C#, Status: Needs Review

#4402 Fix gardener drone being unable to evolve
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
Labels: No C#, Status: Needs Review

#4327 Ported and debranded CM containers. Only sprites added.
  Resources/Prototypes/_RMC14/Entities/Structures/containers.yml
  Resources/Textures/_RMC14/Structures/containers.rsi/bluecontainerleft.png
  Resources/Textures/_RMC14/Structures/containers.rsi/bluecontainermiddle.png
  Resources/Textures/_RMC14/Structures/containers.rsi/bluecontainerright.png
  Resources/Textures/_RMC14/Structures/containers.rsi/greencontainerleft.png
  Resources/Textures/_RMC14/Structures/containers.rsi/greencontainermiddle.png
  Resources/Textures/_RMC14/Structures/containers.rsi/greencontainerright.png
  Resources/Textures/_RMC14/Structures/containers.rsi/meta.json
  Resources/Textures/_RMC14/Structures/containers.rsi/redcontainercenter.png
  Resources/Textures/_RMC14/Structures/containers.rsi/redcontainerleft.png
  Resources/Textures/_RMC14/Structures/containers.rsi/redcontainerright.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4401 Fix RMC admin actions transforming into gardener instead of base drone
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
Labels: No C#, Status: Needs Review

#4407 Hardy weeds are now darker
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: No C#, Status: Needs Review

#4408 Fix Rest description lying about Plasma, Plasma Upkeep Descriptions
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_self_actions.yml
Labels: No C#, Status: Needs Review

#4398 Adds M07 Training Grenade
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m07training.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m07training.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m07training.rsi/primed.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4404 Fix Parasite Player not hearing the infect noise
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
Labels: Status: Needs Review

#4411 Give hardy weeds their increased health
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: No C#, Status: Needs Review

#4417 Fix hivemind chat, dropship door power, MOU53, radios on corpses
  Content.Client/Stack/StackSystem.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.Ballistic.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Ballistic.cs
  Content.Server/_RMC14/Power/RMCPowerSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/security_armor.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Corpses/civilians.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/alamo_doors.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
Labels: Status: Needs Review

#4418 Fix boiler corpses + projectiles giving neuro when nearby
  Content.Shared/_RMC14/Xenonids/Neurotoxin/NeurotoxinInjectorComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
Labels: Status: Needs Review

#4420 Actually fix hivemind chat not working
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Labels: Status: Needs Review

#4421 Fix resin surge mentioning unimplemented sticky resin
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_utility_actions.yml
  Resources/Textures/_RMC14/Structures/Windows/Frames/bunker_frame.rsi/bnkr_frame10.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/bunker_frame.rsi/bnkr_frame11.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/bunker_frame.rsi/bnkr_frame14.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/bunker_frame.rsi/bnkr_frame15.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/bunker_frame.rsi/bnkr_frame5.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/bunker_frame.rsi/bnkr_frame6.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/bunker_frame.rsi/bnkr_frame7.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/bunker_frame.rsi/bnkr_frame9.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/bunker_frame.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Windows/Frames/chigusa_frame.rsi/chig_frame10.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/chigusa_frame.rsi/chig_frame11.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/chigusa_frame.rsi/chig_frame13.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/chigusa_frame.rsi/chig_frame14.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/chigusa_frame.rsi/chig_frame15.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/chigusa_frame.rsi/chig_frame5.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/chigusa_frame.rsi/chig_frame6.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/chigusa_frame.rsi/chig_frame7.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/chigusa_frame.rsi/chig_frame9.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/chigusa_frame.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Windows/Frames/hangar_frame.rsi/hngr_frame10.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/hangar_frame.rsi/hngr_frame11.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/hangar_frame.rsi/hngr_frame13.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/hangar_frame.rsi/hngr_frame14.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/hangar_frame.rsi/hngr_frame15.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/hangar_frame.rsi/hngr_frame5.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/hangar_frame.rsi/hngr_frame6.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/hangar_frame.rsi/hngr_frame7.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/hangar_frame.rsi/hngr_frame9.png
  Resources/Textures/_RMC14/Structures/Windows/Frames/hangar_frame.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#4422 Fix fruits having a multiplicative instead of additive modifier
  Content.Shared/_RMC14/Xenonids/Fruit/SharedXenoFruitSystem.cs
Labels: Status: Needs Review

#4423 Fix not adding role to survivor mind
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
Labels: Status: Needs Review

#4449 Make neurotoxin gas add only every second
  Content.Shared/_RMC14/Xenonids/Neurotoxin/NeurotoxinComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/NeurotoxinInjectorComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
Labels: Status: Needs Review

#4429 Add hive checks to fruits
  Content.Shared/_RMC14/Xenonids/Fruit/SharedXenoFruitSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-fruit.ftl
Labels: Status: Needs Review

#4451 Fix weeds spreading 3 times faster than intenced
  Content.Server/_RMC14/Xenonids/Weeds/XenoWeedsSystem.cs
  Content.Shared/_RMC14/Map/SharedRMCMapSystem.cs
  Content.Shared/_RMC14/Xenonids/Weeds/SharedXenoWeedsSystem.cs
  Content.Shared/_RMC14/Xenonids/Weeds/XenoWeedsSpreadingComponent.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
  Resources/Prototypes/_RMC14/Entities/Tiles/water.yml
Labels: Status: Needs Review

#4437 Fixed hardy weeds slowing down fruit growth instead of speeding it up
  Content.Shared/_RMC14/Xenonids/Fruit/SharedXenoFruitSystem.cs
Labels: Status: Needs Review

#4466 Hide strains from unlock text
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
Labels: No C#, Status: Needs Review

#4465 Make all pistols come preloaded with a mag
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m1984_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m77_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/mk80_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/su6_pistol.yml
Labels: No C#, Status: Needs Review

#4464 Fix hive support time limit not working
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionSystem.cs
Labels: Status: Needs Review

#4458 Make bullets pass over xeno fruits
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_fruit.yml
Labels: No C#, Status: Needs Review

#4463 fix surgery tools playing for only the user
  Content.Shared/_RMC14/Medical/Surgery/SharedCMSurgerySystem.Steps.cs
Labels: Status: Needs Review

#4456 CPR Minor changes + CPR no longer requires mask
  Content.Shared/_RMC14/Medical/CPR/CPRSystem.cs
  Resources/Locale/en-US/_RMC14/medical/cpr.ftl
Labels: Status: Needs Review

#4454 Change suicide delay to 2 seconds
  Content.Shared/_RMC14/Suicide/RMCSuicideComponent.cs
Labels: Status: Needs Review

#4447 Fix gardener's weeds not being able to spread onto semiweedable tiles
  Content.Shared/_RMC14/Xenonids/Weeds/SharedXenoWeedsSystem.cs
Labels: Status: Needs Review

#4426 Improve some descriptions
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_construction_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_evolve_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_utility_actions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: No C#, Status: Needs Review

#4477 Add spitter empower effect to charge spit
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/Charge/XenoChargeSpitComponent.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/XenoSpitSystem.cs
  Resources/Prototypes/_RMC14/Effects/empower.yml
  Resources/Textures/_RMC14/Effects/xeno_empower.rsi/empower_custom.png
  Resources/Textures/_RMC14/Effects/xeno_empower.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#4471 Stop aid being usuable on non-xenos
  Content.Shared/_RMC14/Xenonids/Aid/XenoAidSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
Labels: Status: Needs Review

#4474 Fix fruit being solid
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_fruit.yml
Labels: No C#, Status: Needs Review

#4472 Fix action typos
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_construction_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_evolve_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_self_actions.yml
Labels: No C#, Status: Needs Review

#4468 Fix mk80 falloff
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/mk80_pistol.yml
Labels: No C#

#4469 Fix Scout Gear being Acidable
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_scout_rifle.yml
Labels: No C#, Status: Needs Review

#4455 Add avali speech sounds
  Content.Client/Credits/CreditsWindow.xaml
  Content.Client/Credits/CreditsWindow.xaml.cs
  Resources/Audio/_RMC14/Voice/Avali/attributions.yml
  Resources/Audio/_RMC14/Voice/Avali/avali_1.ogg
  Resources/Audio/_RMC14/Voice/Avali/avali_1_ask.ogg
  Resources/Audio/_RMC14/Voice/Avali/avali_1_exclaim.ogg
  Resources/Audio/_RMC14/Voice/Avali/avali_2.ogg
  Resources/Audio/_RMC14/Voice/Avali/avali_2_ask.ogg
  Resources/Audio/_RMC14/Voice/Avali/avali_2_exclaim.ogg
  Resources/Credits/_RMC14/Other.txt
  Resources/Locale/en-US/_RMC14/ui.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/avali.yml
  Resources/Prototypes/_RMC14/Voice/Avali/avali_speech_sounds.yml
Labels: No C#, Status: Needs Review, Changes: UI

#4488 Show Parasite Ghost Cooldown Timer
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteRoleSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-eggs.ftl
Labels: Status: Needs Review

#4487 Make parasite traps more consistent
  Content.Server/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleComponent.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapComponent.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.AI.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/TrapParasiteComponent.cs
Labels: Status: Needs Review

#4478 Fix last parasite never showing on carrier
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteThrowerSystem.cs
Labels: Status: Needs Review

#4490 Codified Monkey Poaching as Powergaming
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Overview.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/CMSurvivorRoleplay.xml
Labels: No C#, Status: Needs Review

#4496 Codified Monkey Poaching as Powergaming Part 2
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Overview.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/CMSurvivorRoleplay.xml
Labels: No C#, Status: Needs Review

#4506 You can no longer akimbo with the mou53
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/base_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/mou53_shotgun.yml
Labels: No C#

#4505 Barricade welding parity
  Content.Shared/_RMC14/Repairable/RMCRepairableComponent.cs
  Content.Shared/_RMC14/Repairable/RMCRepairableSystem.cs
  Resources/Prototypes/Entities/skills.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_plasteel.yml
Labels: Status: Needs Review

#4499 Fixes xeno free slots + fix devolve identifiers
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionSystem.cs
Labels: Status: Needs Review

#4495 Add xeno egg animation + hug delay + sound
  Content.Client/_RMC14/Xenonids/Egg/XenoEggVisualizerSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/DestroyedXenoEggComponent.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggComponent.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Resources/Audio/_RMC14/Xeno/alien_egg_burst.ogg
  Resources/Audio/_RMC14/Xeno/alien_egg_move.ogg
  Resources/Audio/_RMC14/Xeno/attributions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_egg.yml
Labels: Status: Needs Review

#4482 make cargo containers occulded
  Resources/Prototypes/_RMC14/Entities/Structures/containers.yml
Labels: No C#, Status: Needs Review

#4491 Successfully infecting as a Parasite lets you become a Parasite again instantly
  Content.Server/_RMC14/Xenonids/Leap/XenoParasiteSystem.cs
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteRoleSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/InfectionSuccessComponent.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-eggs.ftl
Labels: Status: Needs Review

#4494 Fix Shotgun + Grenade Launcher ammo counters not updating when loaded
  Content.Client/Weapons/Ranged/Systems/GunSystem.AmmoCounter.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.Ballistic.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Status: Needs Review

#4453 Comprehensive Pull Speed Rework (Large Runner Nerf included)
  Content.Shared/_RMC14/Pulling/RMCPullingSystem.cs
  Content.Shared/_RMC14/Pulling/SlowOnPullComponent.cs
  Content.Shared/_RMC14/Xenonids/XenoHeavyComponent.cs
  Content.Shared/_RMC14/Xenonids/XenoLightComponent.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/warrior.yml
Labels: Status: Needs Review

#4480 Add marineIcon toolshed command
  Content.Server/_RMC14/Marines/Icons/IconCommand.cs
  Content.Shared/_RMC14/Marines/SharedMarineSystem.cs
Labels: Status: Needs Review

#4428 Add M60, amend M92FS description
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_m60.ogg
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/LMGs/base_lmg.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/LMGs/m60_lmg.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/b92fs.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/ar10_rifle.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m60.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m60.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m60.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/m60_stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/m60.rsi/barrel.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/m60.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/m60.rsi/cover-closed.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/m60.rsi/cover-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/m60.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/m60.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/m60.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/m60.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/m60.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/m60.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/m60.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/m60.rsi/stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/m60.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/m60.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4489 Makes xenos jitter on evolve
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionComponent.cs
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
Labels: Status: Needs Review

#4481 Update Rifleman guide, MK45/MP5/M16 corrections
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/mk45_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/mp5_smg.yml
  Resources/ServerInfo/Guidebook/_RMC14/NewPlayerGuide/CMGuideRoleRifleman.xml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m16.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m16.rsi/mag-1.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4508 Requisitions guidebook page
  Resources/Prototypes/_RMC14/Guidebook/RMC14Guidebook.yml
  Resources/ServerInfo/Guidebook/_RMC14/RMC14.xml
  Resources/ServerInfo/Guidebook/_RMC14/RMCGuideNewPlayer.xml
  Resources/ServerInfo/Guidebook/_RMC14/RMCRequisitions.xml
Labels: No C#, Status: Needs Review

#4514 allow gun melee weapons to be used while devoured
  Content.Shared/_RMC14/Xenonids/Devour/GunUsableWhileDevouredComponent.cs
  Content.Shared/_RMC14/Xenonids/Devour/UsableWhileDevouredComponent.cs
  Content.Shared/_RMC14/Xenonids/Devour/XenoDevourSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/cm_base_gun.yml
Labels: Status: Needs Review

#4513 Fix ovi allowing plasma transfer
  Content.Shared/_RMC14/Xenonids/Plasma/XenoPlasmaSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
Labels: Status: Needs Review

#4510 Increase comtechs engineering skill by 1 + Fireman carry skill parity
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/gunship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/maint_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/ordnance_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/military_warden.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/mess_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/cargo_tech.yml
Labels: No C#, Status: Needs Review

#4509 Fix bipod, adjust m60 stats (again)
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/LMGs/m60_lmg.yml
Labels: No C#, Status: Needs Review

#3903 Add screaming sounds for a larva bursting out of a marine + bursting animations
  Content.Client/_RMC14/Xenonids/Infected/XenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/InfectableComponent.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimInfectedComponent.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimInfectedLayer.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-infection.ftl
  Resources/Prototypes/_RMC14/SoundCollections/screams.yml
  Resources/Textures/_RMC14/Effects/burst.rsi/burst_stand.png
  Resources/Textures/_RMC14/Effects/burst.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#4529 Improve Runner/Parasite/Lurker Leap Hit Registration at Close Range
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
Labels: Status: Needs Review

#4518 make fence have 50 HP
  Resources/Prototypes/_RMC14/Entities/Structures/fence.yml
Labels: No C#, Status: Needs Review

#4525 Fix devolve identifiers for real
  Content.Server/_RMC14/NameIdentifier/RMCNameIdentifierSystem.cs
Labels: Status: Needs Review

#4519 Make motion detector belt and suit storage wearable
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/motion_detector.yml
Labels: No C#, Status: Needs Review

#4532 Fireman carry fixes, overwatch console fixes
  Content.Client/_RMC14/Overwatch/OverwatchConsoleBui.cs
  Content.Client/_RMC14/SupplyDrop/SupplyDropSystem.cs
  Content.Shared/_RMC14/Chemistry/RMCChemistrySystem.cs
  Content.Shared/_RMC14/Fireman/FiremanCarrySystem.cs
  Content.Shared/_RMC14/Marines/Squads/SquadSystem.cs
  Content.Shared/_RMC14/MotionDetector/MotionDetectorSystem.cs
  Content.Shared/_RMC14/SupplyDrop/SharedSupplyDropSystem.cs
  Content.Shared/_RMC14/SupplyDrop/SupplyDropComputerComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Prototypes/_RMC14/Entities/Structures/platform.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/beatrice_bea_bootes.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#4535 Fix Patron Perks UI not refreshing in real time
  Content.Server/_RMC14/LinkAccount/LinkAccountManager.cs
Labels: Status: Needs Review

#4543 update figurine
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/chad_scott.png
Labels: No C#, Changes: Sprites

#4544 New lobby art by wendyribstonofpippin
  Resources/Prototypes/_RMC14/Lobby/lobbyscreens.yml
  Resources/Textures/_RMC14/Lobby/attributions.yml
  Resources/Textures/_RMC14/Lobby/from_fobbiton_with_love.png
  Resources/Textures/_RMC14/Lobby/only_you_shnee.png
  Resources/Textures/_RMC14/Lobby/sisters.png
  Resources/Textures/_RMC14/Lobby/smart_gun.png
Labels: No C#, Status: Needs Review

#4545 update m63 sprites
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/sling.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4574 Add Corporate Executive Specialist and Supervisor, ICB Liaison, Liaison corporate jackets
  Resources/Locale/en-US/_RMC14/ghost-roles/bureau.ftl
  Resources/Locale/en-US/_RMC14/ghost-roles/icb.ftl
  Resources/Locale/en-US/_RMC14/ghost-roles/lawyer.ftl
  Resources/Locale/en-US/_RMC14/radio-channels.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ert_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/corporate_jackets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/EncryptionKeys/ship.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_id_command.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_id_other.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/spacecash.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/corporate_liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/bureau_observer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/corporate_executive_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/corporate_executive_supervisor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/interstellar_commerce_bureau_liaison.yml
  Resources/Prototypes/_RMC14/radio_channels.yml
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_black_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_black_jacket.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_black_jacket.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_blue_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_blue_jacket.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_blue_jacket.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_brown_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_brown_jacket.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_brown_jacket.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_formal_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_formal_jacket.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_formal_jacket.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_ivy_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_ivy_jacket.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_ivy_jacket.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/asrs_console.rsi/on.png
Labels: No C#, Changes: Sprites

#4554 Fix promoting someone to aSL removing command comms for all other aSLs
  Content.Shared/_RMC14/Marines/Squads/SquadSystem.cs
Labels: Status: Needs Review

#4539 surgery audio fixes part 2
  Content.Shared/_RMC14/Medical/Surgery/SharedCMSurgerySystem.Steps.cs
Labels: Status: Needs Review

#4537 MD fixes
  Content.Client/_RMC14/MotionDetector/MotionDetectorOverlay.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/faction_armor.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/motion_detector.yml
  Resources/Textures/_RMC14/Objects/Tools/motion_detector.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tools/motion_detector.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tools/motion_detector.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#4580 RMCDev Map Update & Fixes
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/ConfigPresets/Build/development.toml
  Resources/Maps/_RMC14/dev_map.yml
  Resources/Prototypes/_RMC14/Maps/cm_dev.yml
Labels: Status: Needs Review, Changes: Map

#4575 Leap now self-roots instead of self-stuns, Lurker Rework Part 2/3
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapComponent.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lurker.yml
Labels: Status: Needs Review

#4562 Add tooltips to the fruit selection UI
  Content.Client/_RMC14/Xenonids/Fruit/XenoFruitChooseBui.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_fruit.yml
Labels: Status: Needs Review

#4548 update figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/kate_engie_fleming.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review
