Repository RMC-14/RMC-14, pull requests merged in 2024-03, with the labels that each got.

#991 Add Word of the Queen ability and Queen sound files
  Content.Client/_CM14/Xenos/Word/XenoWordQueenBui.cs
  Content.Client/_CM14/Xenos/Word/XenoWordQueenSystem.cs
  Content.Client/_CM14/Xenos/Word/XenoWordQueenWindow.xaml
  Content.Client/_CM14/Xenos/Word/XenoWordQueenWindow.xaml.cs
  Content.Server/_CM14/Xenos/Word/XenoWordQueenSystem.cs
  Content.Shared/_CM14/Xenos/Word/SharedXenoWordQueenSystem.cs
  Content.Shared/_CM14/Xenos/Word/XenoWordQueenActionComponent.cs
  Content.Shared/_CM14/Xenos/Word/XenoWordQueenActionEvent.cs
  Content.Shared/_CM14/Xenos/Word/XenoWordQueenComponent.cs
  Content.Shared/_CM14/Xenos/Word/XenoWordQueenUI.cs
  Resources/Audio/_CM14/Xeno/alien_queen_breath1.ogg
  Resources/Audio/_CM14/Xeno/alien_queen_breath2.ogg
  Resources/Audio/_CM14/Xeno/alien_queen_command.ogg
  Resources/Audio/_CM14/Xeno/alien_queen_command2.ogg
  Resources/Audio/_CM14/Xeno/alien_queen_command3.ogg
  Resources/Audio/_CM14/Xeno/alien_queen_died.ogg
  Resources/Audio/_CM14/Xeno/alien_queen_screech.ogg
  Resources/Audio/_CM14/Xeno/attributions.yml
  Resources/Audio/_CM14/Xeno/queen_alarm.ogg
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_CM14/Audio/xeno_sound_collections.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/queen.yml
Labels: Status: Needs Review, Changes: UI

#980 Radios & Flares
  Resources/Prototypes/_CM14/Catalog/Fills/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Objects/Devices/Electronics/radio.yml
  Resources/Prototypes/_CM14/Entities/Objects/Tools/flares.yml
  Resources/Textures/_CM14/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/_CM14/Objects/Devices/communication.rsi/walkietalkie-inhand-left.png
  Resources/Textures/_CM14/Objects/Devices/communication.rsi/walkietalkie-inhand-right.png
  Resources/Textures/_CM14/Objects/Devices/communication.rsi/walkietalkie-off.png
  Resources/Textures/_CM14/Objects/Devices/communication.rsi/walkietalkie-on.png
  Resources/Textures/_CM14/Objects/Devices/communication.rsi/walkietalkie.png
  Resources/Textures/_CM14/Objects/Misc/flares.rsi/flare_base.png
  Resources/Textures/_CM14/Objects/Misc/flares.rsi/flare_burn.png
  Resources/Textures/_CM14/Objects/Misc/flares.rsi/flare_spent.png
  Resources/Textures/_CM14/Objects/Misc/flares.rsi/flare_unlit.png
  Resources/Textures/_CM14/Objects/Misc/flares.rsi/icon.png
  Resources/Textures/_CM14/Objects/Misc/flares.rsi/meta.json
  Resources/Textures/_CM14/Objects/Misc/flares.rsi/storage.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#959 CM14 rules draft
  Resources/Locale/en-US/info/rules.ftl
  Resources/ServerInfo/CMRules.txt
Labels: No C#

#933 Grenades & Grenadier spec grenade launcher
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Launchers/uscm_launchers.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_CM14/tags.yml
  Resources/Textures/_CM14/Objects/Weapons/Grenades/m40hedp.rsi/icon.png
  Resources/Textures/_CM14/Objects/Weapons/Grenades/m40hedp.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Grenades/m40hedp.rsi/primed.png
  Resources/Textures/_CM14/Objects/Weapons/Grenades/m40hefa.rsi/icon.png
  Resources/Textures/_CM14/Objects/Weapons/Grenades/m40hefa.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Grenades/m40hefa.rsi/primed.png
  Resources/Textures/_CM14/Objects/Weapons/Grenades/m40smoke.rsi/icon.png
  Resources/Textures/_CM14/Objects/Weapons/Grenades/m40smoke.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Grenades/m40smoke.rsi/primed.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/GrenadeLaunchers/m92.rsi/base.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/GrenadeLaunchers/m92.rsi/bolt-open.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/GrenadeLaunchers/m92.rsi/equipped-BACKPACK.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/GrenadeLaunchers/m92.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/GrenadeLaunchers/m92.rsi/icon.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/GrenadeLaunchers/m92.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/GrenadeLaunchers/m92.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/GrenadeLaunchers/m92.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Guns/GrenadeLaunchers/m92.rsi/sling.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/GrenadeLaunchers/m92.rsi/wielded-inhand-left.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/GrenadeLaunchers/m92.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#978 Update pouch fills
  Resources/Prototypes/_CM14/Catalog/Fills/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Objects/IdCards/cm_base_id.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/auto_injectors.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/firstaidkits.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/health_analyzer.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/pill_canisters.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/pills.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/syringes.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
  Resources/Prototypes/_CM14/tags.yml
Labels: No C#, Status: Needs Review

#995 Beakers updated sprites and fixes
  Resources/Prototypes/_CM14/Entities/Objects/Medical/beaker.yml
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/beaker.png
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/beaker1.png
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/beaker2.png
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/beaker3.png
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/beaker4.png
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/beaker5.png
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/lid_beaker.png
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/beakerlarge.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/beakerlarge1.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/beakerlarge2.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/beakerlarge3.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/beakerlarge4.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/beakerlarge5.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/lid_beakerlarge.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#997 Surgery tools
  Resources/Prototypes/_CM14/Entities/Objects/Medical/surgery.yml
  Resources/Textures/_CM14/Objects/Medical/Surgery/bone_gel.rsi/bone-gel.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/bone_gel.rsi/bone-gel_0.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/bone_gel.rsi/bone-gel_25.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/bone_gel.rsi/bone-gel_50.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/bone_gel.rsi/bone-gel_75.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/bone_gel.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/Surgery/bone_gel.rsi/predator_bone-gel.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/bonesetter.rsi/bonesetter.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/bonesetter.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/Surgery/bonesetter.rsi/predator_bonesetter.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/cautery.rsi/cautery.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/cautery.rsi/cautery_on.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/cautery.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/Surgery/cautery.rsi/predator_cautery.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/drill.rsi/drill.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/drill.rsi/drill_on.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/drill.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/Surgery/drill.rsi/predator_drill.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/drill.rsi/predator_drill_on.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/healing.rsi/drapes.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/healing.rsi/fixovein.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/healing.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/Surgery/healing.rsi/predator_fixovein.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/healing.rsi/stabilizer_gel.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/healing_gun.rsi/healing_gel.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/healing_gun.rsi/healing_gun.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/healing_gun.rsi/healing_gun_empty.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/healing_gun.rsi/healing_gun_on.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/healing_gun.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/Surgery/hemostat.rsi/hemostat.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/hemostat.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/Surgery/hemostat.rsi/predator_hemostat.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/pump.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/Surgery/pump.rsi/pump.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/retractor.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/Surgery/retractor.rsi/predator_retractor.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/retractor.rsi/retractor.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/saw.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/Surgery/saw.rsi/predator_bonesaw.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/saw.rsi/saw.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/saw.rsi/saw_on.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/scalpel.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/Surgery/scalpel.rsi/pict_system.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/scalpel.rsi/predator_scalpel.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/scalpel.rsi/scalpel.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/scalpel.rsi/scalpel_laser.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/scalpel.rsi/scalpel_laser_2.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/scalpel.rsi/scalpel_laser_2_on.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/scalpel.rsi/scalpel_laser_3.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/scalpel.rsi/scalpel_laser_3_on.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/scalpel.rsi/scalpel_laser_on.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/scalpel.rsi/scalpel_manager.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/scalpel.rsi/scalpel_manager_on.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/wound_clamp.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/Surgery/wound_clamp.rsi/wound_clamp.png
  Resources/Textures/_CM14/Objects/Medical/Surgery/wound_clamp.rsi/wound_clamp_on.png
Labels: No C#, Changes: Sprites, Status: Needs Review
