Repository RMC-14/RMC-14, pull requests merged in 2024-06, with the labels that each got.

#2201 Passive speed modifiers while walking on weeds
  Content.Shared/_CM14/Xenos/Walker/XenoResinWalkerSystem.cs
  Content.Shared/_CM14/Xenos/Weeds/AffectableByWeedsComponent.cs
  Content.Shared/_CM14/Xenos/Weeds/SharedXenoWeedsSystem.cs
  Content.Shared/_CM14/Xenos/Weeds/XenoWeedsComponent.cs
  Content.Shared/_CM14/Xenos/XenoComponent.cs
  Content.Shared/_CM14/Xenos/XenoOnWeedsChangedEvent.cs
  Content.Shared/_CM14/Xenos/XenoSystem.cs
  Resources/Prototypes/_CM14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
Labels: Status: Needs Review

#2199 Make the hive core slowly make lesser drones available
  Content.Client/_CM14/Xenos/Construction/XenoHiveCoreSystem.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/_CM14/Xenos/Construction/XenoHiveCoreRoleComponent.cs
  Content.Server/_CM14/Xenos/Construction/XenoHiveCoreSystem.cs
  Content.Shared/_CM14/Xenos/Construction/HiveCoreComponent.cs
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Construction/SharedXenoHiveCoreSystem.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionSystem.cs
  Content.Shared/_CM14/Xenos/Hive/HiveMemberComponent.cs
  Content.Shared/_CM14/Xenos/Hive/SharedXenoHiveSystem.cs
  Content.Shared/_CM14/Xenos/Plasma/XenoPlasmaSystem.cs
  Resources/Locale/en-US/_CM14/roles/lesser-drone.ftl
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_hive.yml
Labels: Status: Needs Review

#2215 Microwave
  Resources/Prototypes/_CM14/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/microwave.yml
  Resources/Textures/_CM14/Structures/Machines/microwave.rsi/meta.json
  Resources/Textures/_CM14/Structures/Machines/microwave.rsi/mw.png
  Resources/Textures/_CM14/Structures/Machines/microwave.rsi/mw0.png
  Resources/Textures/_CM14/Structures/Machines/microwave.rsi/mw1.png
  Resources/Textures/_CM14/Structures/Machines/microwave.rsi/mw_running_unlit.png
  Resources/Textures/_CM14/Structures/Machines/microwave.rsi/mw_unlit.png
  Resources/Textures/_CM14/Structures/Machines/microwave.rsi/mwb.png
  Resources/Textures/_CM14/Structures/Machines/microwave.rsi/mwbloody.png
  Resources/Textures/_CM14/Structures/Machines/microwave.rsi/mwbloody0.png
  Resources/Textures/_CM14/Structures/Machines/microwave.rsi/mwbloody1.png
  Resources/Textures/_CM14/Structures/Machines/microwave.rsi/mwbloodyo.png
  Resources/Textures/_CM14/Structures/Machines/microwave.rsi/mwo.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2214 Memorial
  Resources/Prototypes/_CM14/Entities/Structures/Furniture/memorial.yml
  Resources/Textures/_CM14/Structures/Furniture/memorial.rsi/meta.json
  Resources/Textures/_CM14/Structures/Furniture/memorial.rsi/ship_memorial.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2213 Added common preparation doors
  Resources/Prototypes/_CM14/Entities/Structures/Doors/Airlocks/accesses-marine.yml
Labels: No C#, Status: Needs Review

#2212 Add flare pouch to vendors and implement new item slots storage to them
  Resources/Prototypes/_CM14/Catalog/Fills/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_CM14/Entities/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Objects/Tools/flares.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
Labels: No C#, Status: Needs Review

#2219 add portable fire extinguisher
  Resources/Prototypes/_CM14/Entities/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Objects/Tools/fire_extinguisher.yml
  Resources/Prototypes/_CM14/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
  Resources/Textures/_CM14/Objects/fire_extinguisher_mini.rsi/meta.json
  Resources/Textures/_CM14/Objects/fire_extinguisher_mini.rsi/minife0.png
  Resources/Textures/_CM14/Objects/fire_extinguisher_mini.rsi/minife1.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2220 remove all mentions of tactics key
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
Labels: No C#, Status: Needs Review

#2222 Fix therapy plush
  Resources/Prototypes/_CM14/Entities/Objects/Fun/toys.yml
Labels: No C#, Status: Needs Review

#2225 M3 Sniper Smock
  Resources/Prototypes/_CM14/Entities/Clothing/Back/satchels.yml
  Resources/Textures/_CM14/Objects/Clothing/Back/Backpacks/Marines/smock.rsi/closed.png
  Resources/Textures/_CM14/Objects/Clothing/Back/Backpacks/Marines/smock.rsi/equipped-BACKPACK.png
  Resources/Textures/_CM14/Objects/Clothing/Back/Backpacks/Marines/smock.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Back/Backpacks/Marines/smock.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Back/Backpacks/Marines/smock.rsi/open.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2226 Remove suffix from welderpack
  Resources/Prototypes/_CM14/Entities/Clothing/Back/backpacks.yml
Labels: No C#, Status: Needs Review

#2224 VP 78 pistol and magazine
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Pistols/uscm_pistols.yml
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/vp78.rsi/base.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/vp78.rsi/extended-1.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/vp78.rsi/extended.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/vp78.rsi/mag-1.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/vp78.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/vp78.rsi/overlay-1.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/vp78.rsi/overlay.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2223 pistol magazine insertion sound fix
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Pistols/uscm_pistols.yml
Labels: No C#, Status: Needs Review

#2238 Faxes or Liaison gaming
  Resources/Prototypes/_CM14/Entities/Structures/Machines/fax_machine.yml
  Resources/Textures/_CM14/Structures/Machines/fax_machine.rsi/icon.png
  Resources/Textures/_CM14/Structures/Machines/fax_machine.rsi/inserting.png
  Resources/Textures/_CM14/Structures/Machines/fax_machine.rsi/meta.json
  Resources/Textures/_CM14/Structures/Machines/fax_machine.rsi/printing.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2236 Primary Weapon AP ammo and vendor fills
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_CM14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Crates/ammunition.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Crates/weapon_specialist_ammo.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/smg.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/smg.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/smg.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Rifles/uscm_rifles.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m39.rsi/ammo_band.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m39.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m41a.rsi/ammo_band.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m41a.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m4ra.rsi/ammo_band.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m4ra.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m4rae.rsi/ammo_band.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m4rae.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2251 Nicknames are now allowed by the naming convention
  Resources/ServerInfo/CMRules.txt
Labels: No C#

#2244 add large webbing
  Content.Shared/_CM14/Webbing/WebbingComponent.cs
  Resources/Prototypes/_CM14/Entities/Clothing/webbing.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
  Resources/Textures/_CM14/Objects/Clothing/Webbing/webbing.rsi/equipped.png
  Resources/Textures/_CM14/Objects/Clothing/Webbing/webbing.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Webbing/webbing.rsi/webbing.png
  Resources/Textures/_CM14/Objects/Clothing/Webbing/webbing_black.rsi/equipped.png
  Resources/Textures/_CM14/Objects/Clothing/Webbing/webbing_black.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Webbing/webbing_black.rsi/webbing.png
  Resources/Textures/_CM14/Objects/Clothing/Webbing/webbing_brown.rsi/equipped.png
  Resources/Textures/_CM14/Objects/Clothing/Webbing/webbing_brown.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Webbing/webbing_brown.rsi/webbing.png
Labels: Changes: Sprites, Status: Needs Review

#2309 allow ' in names
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Status: Needs Review

#2306 Fix webbings crashing the game and not being displayed correctly
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Status: Needs Review

#2305 Fix magazine sprites after Auto Eject
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Magazine.cs
Labels: Status: Needs Review

#2254 chat sanitization and shortcuts
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_CM14/Chat/Chat/CMChatSystem.cs
  Resources/Locale/en-US/_CM14/cm-chatsan.ftl
  Resources/Prototypes/_CM14/Accents/cm_word_replacements.yml
Labels: No C#, Status: Needs Review

#2320 Put shells back in ammobox
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
Labels: No C#, Status: Needs Review

#2319 Fix Linter Error
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
Labels: No C#, Status: Needs Review

#2316 Potted plant fix
  Resources/Prototypes/_CM14/Entities/Structures/Furniture/potted_plants.yml
Labels: No C#, Status: Needs Review

#2317 M94 Flare packs/boxes vendorfill
  Resources/Prototypes/_CM14/Entities/Objects/Tools/flares.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
  Resources/Prototypes/_CM14/tags.yml
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/m94.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/m94_e.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2311 fix Metal sheets sprite always looks full.
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Pistols/uscm_pistols.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Rifles/uscm_rifles.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/SMGs/uscm_smgs.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Snipers/uscm_snipers.yml
Labels: No C#, Status: Needs Review

#2321 Folded stasis bag into medical vendor
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/vending_machines.yml
Labels: No C#, Status: Needs Review

#2323 Fix shotgun box empty sprite state
  Content.Client/_CM14/Weapons/Ranged/CMAmmoBoxSystem.cs
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
Labels: Status: Needs Review

#2326 Add pill packets
  Resources/Prototypes/_CM14/Catalog/Fills/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/auto_injectors.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/pill_packets.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Throwable/packets.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
  Resources/Textures/_CM14/Objects/Medical/auto_injectors.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/auto_injectors.rsi/tricord.png
  Resources/Textures/_CM14/Objects/Medical/auto_injectors.rsi/tricord0.png
  Resources/Textures/_CM14/Objects/Medical/auto_injectors.rsi/tricord1.png
  Resources/Textures/_CM14/Objects/Medical/pill_packets.rsi/bicaridine_packet.png
  Resources/Textures/_CM14/Objects/Medical/pill_packets.rsi/kelotane_packet.png
  Resources/Textures/_CM14/Objects/Medical/pill_packets.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/pill_packets.rsi/oxycodone_packet.png
  Resources/Textures/_CM14/Objects/Medical/pill_packets.rsi/pill_packet.png
  Resources/Textures/_CM14/Objects/Medical/pill_packets.rsi/tramadol_packet.png
  Resources/Textures/_CM14/Objects/Medical/pill_packets.rsi/tricordrazine_packet.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2312 Implement HEDP/HEFA grenade effects, sounds, voicelines and shrapnel
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/_CM14/Explosion/CMExplosionSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.OnUse.cs
  Content.Server/_CM14/Explosion/CMExplosionSystem.cs
  Content.Shared/Explosion/Components/OnUseTimerTriggerComponent.cs
  Content.Shared/_CM14/CCVar/CMCVars.cs
  Content.Shared/_CM14/Explosion/CMExplosionEffectComponent.cs
  Content.Shared/_CM14/Explosion/CMExplosiveTriggeredEvent.cs
  Content.Shared/_CM14/Explosion/CMVocalizeTriggerComponent.cs
  Content.Shared/_CM14/Explosion/SharedCMExplosionSystem.cs
  Content.Shared/_CM14/Projectiles/CMProjectileSystem.cs
  Content.Shared/_CM14/Projectiles/DeleteOnCollideComponent.cs
  Resources/Audio/_CM14/Explosion/armbomb.ogg
  Resources/Audio/_CM14/Explosion/attributions.yml
  Resources/Audio/_CM14/Explosion/explosion1.ogg
  Resources/Audio/_CM14/Explosion/explosion2.ogg
  Resources/Audio/_CM14/Explosion/explosion3.ogg
  Resources/Audio/_CM14/Explosion/explosion4.ogg
  Resources/Audio/_CM14/Explosion/explosion5.ogg
  Resources/Audio/_CM14/Voice/Human/attributions.yml
  Resources/Audio/_CM14/Voice/Human/human_female_grenadethrow_1.ogg
  Resources/Audio/_CM14/Voice/Human/human_female_grenadethrow_2.ogg
  Resources/Audio/_CM14/Voice/Human/human_female_grenadethrow_3.ogg
  Resources/Audio/_CM14/Voice/Human/human_male_grenadethrow_1.ogg
  Resources/Audio/_CM14/Voice/Human/human_male_grenadethrow_2.ogg
  Resources/Audio/_CM14/Voice/Human/human_male_grenadethrow_3.ogg
  Resources/Locale/en-US/_CM14/grenade.ftl
  Resources/Locale/en-US/_CM14/ui.ftl
  Resources/Prototypes/_CM14/Audio/explosion_sound_collections.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_CM14/explosion.yml
  Resources/Textures/_CM14/Effects/grenade_explosion.rsi/grenade.png
  Resources/Textures/_CM14/Effects/grenade_explosion.rsi/meta.json
  Resources/Textures/_CM14/Effects/grenade_smoke.rsi/meta.json
  Resources/Textures/_CM14/Effects/grenade_smoke.rsi/smoke.png
  Resources/Textures/_CM14/Objects/Weapons/shrapnel.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/shrapnel.rsi/shrapnel_bright1.png
  Resources/Textures/_CM14/Objects/Weapons/shrapnel.rsi/shrapnel_bright2.png
  Resources/Textures/_CM14/Objects/Weapons/shrapnel.rsi/shrapnel_glass.png
  Resources/Textures/_CM14/Objects/Weapons/shrapnel.rsi/shrapnel_human.png
  Resources/Textures/_CM14/Objects/Weapons/shrapnel.rsi/shrapnel_human1.png
  Resources/Textures/_CM14/Objects/Weapons/shrapnel.rsi/shrapnel_human2.png
  Resources/Textures/_CM14/Objects/Weapons/shrapnel.rsi/shrapnel_light.png
  Resources/Textures/_CM14/Objects/Weapons/shrapnel.rsi/shrapnel_xeno.png
  Resources/Textures/_CM14/Objects/Weapons/shrapnel.rsi/shrapnelshot.png
  Resources/Textures/_CM14/Objects/Weapons/shrapnel.rsi/shrapnelshot_bit.png
Labels: No C#, Changes: Sprites, Status: Needs Review, Changes: UI

#2331 Added M42a mag-0 layer sprite
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Snipers/uscm_snipers.yml
  Resources/Textures/_CM14/Objects/Weapons/Guns/Snipers/m42a.rsi/base.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Snipers/m42a.rsi/mag-0.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Snipers/m42a.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2327 move rules to guidebook
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/_CM14/guidebook/guides.ftl
  Resources/Prototypes/_CM14/Guidebook/CMRules.yml
  Resources/Prototypes/_CM14/Guidebook/chemicals.yml
  Resources/Prototypes/_CM14/Guidebook/cm14.yml
  Resources/ServerInfo/CMRules.txt
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/Guidebook/_CM14/CM14.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/CMBanDurations.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/CMBanTypes.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Core/CMCommandRoles.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Core/CMKindness.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Core/CMLanguage.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Core/CMMetagrudging.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Core/CMMetaknowledge.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Core/CMMultikey.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Core/CMRoleRolling.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Core/CMRulesEscalation.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/MilitaryCommand/CMHigherStandards.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/MilitaryCommand/CMLethalForce.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/MilitaryCommand/CMLethalForceConsequences.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/MilitaryCommand/CMMarineLaw.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/MilitaryCommand/CMProtectDetainees.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Mutiny/CMMutinies.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Overview.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Roleplay/CMCommandRoleplay.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Roleplay/CMGeneralRoleplayStandards.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Roleplay/CMHostileFactionRoleplay.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Roleplay/CMSurvivorRoleplay.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Roleplay/CMUSCMDeployment.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Roleplay/CMUSCMRoleplayStandards.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Roleplay/CMXenoRoleplay.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/ZeroTolerance.xml
Labels: No C#, Status: Needs Review

#2385 Fix Ordnance Technician description
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/ordnance_tech.yml
Labels: No C#, Status: Needs Review

#2338 Pouch visualisation fixed, vial and bayonet pouches fixed.
  Resources/Prototypes/_CM14/Entities/Clothing/pouches.yml
Labels: No C#, Status: Needs Review

#2341 Makes the shotgun-pumping hotkey rebindable
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_CM14/Weapons/Ranged/PumpActionSystem.cs
  Content.Shared/_CM14/Input/CMKeyFunctions.cs
  Content.Shared/_CM14/Weapons/Ranged/SharedPumpActionSystem.cs
  Resources/Locale/en-US/_CM14/escape-menu/options-menu.ftl
  Resources/keybinds.yml
Labels: Status: Needs Review, Changes: UI

#2325 Adding a missing localization
  Content.Shared/_CM14/Entrenching/EntrenchingToolSystem.cs
  Content.Shared/_CM14/Inventory/SharedCMInventorySystem.cs
  Content.Shared/_CM14/Light/CMPoweredLightSystem.cs
  Content.Shared/_CM14/Medical/CPR/CPRSystem.cs
  Content.Shared/_CM14/Medical/Refill/CMRefillableSolutionSystem.cs
  Content.Shared/_CM14/Medical/Wounds/SharedWoundsSystem.cs
  Content.Shared/_CM14/Pulling/CMPullingSystem.cs
  Content.Shared/_CM14/Storage/CMStorageSystem.cs
  Content.Shared/_CM14/Tackle/TackleSystem.cs
  Content.Shared/_CM14/Vendors/SharedCMAutomatedVendorSystem.cs
  Content.Shared/_CM14/Weapons/Ranged/CMGunSystem.cs
  Content.Shared/_CM14/Weapons/Ranged/SharedPumpActionSystem.cs
  Content.Shared/_CM14/Weapons/Ranged/ShootUseDelaySystem.cs
  Content.Shared/_CM14/Xenos/Construction/Nest/XenoNestSystem.cs
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_CM14/Xenos/Devour/XenoDevourSystem.cs
  Content.Shared/_CM14/Xenos/Egg/XenoEggSystem.cs
  Content.Shared/_CM14/Xenos/Evolution/XenoEvolutionSystem.cs
  Content.Shared/_CM14/Xenos/Hugger/SharedXenoHuggerSystem.cs
  Content.Shared/_CM14/Xenos/Word/XenoWordQueenSystem.cs
  Resources/Locale/en-US/_CM14/entrenching/entrenching.ftl
  Resources/Locale/en-US/_CM14/inventory/inventory.ftl
  Resources/Locale/en-US/_CM14/light/light.ftl
  Resources/Locale/en-US/_CM14/medical/crp.ftl
  Resources/Locale/en-US/_CM14/medical/refillable.ftl
  Resources/Locale/en-US/_CM14/medical/wounds.ftl
  Resources/Locale/en-US/_CM14/pulling/pulling.ftl
  Resources/Locale/en-US/_CM14/storage/storage.ftl
  Resources/Locale/en-US/_CM14/tackle/tackle.ftl
  Resources/Locale/en-US/_CM14/vendor/vendor.ftl
  Resources/Locale/en-US/_CM14/weapons/guns.ftl
  Resources/Locale/en-US/_CM14/xeno/xeno-abilities.ftl
  Resources/Locale/en-US/_CM14/xeno/xeno-construction.ftl
  Resources/Locale/en-US/_CM14/xeno/xeno-devour.ftl
  Resources/Locale/en-US/_CM14/xeno/xeno-eggs.ftl
  Resources/Locale/en-US/_CM14/xeno/xeno-hugger.ftl
  Resources/Locale/en-US/_CM14/xeno/xeno-nest.ftl
  Resources/Locale/en-US/_CM14/xeno/xeno-ui.ftl
  Resources/Locale/en-US/_CM14/xeno/xeno-word.ftl
Labels: Status: Needs Review

#2399 Fix FTL prep airlock accesses
  Resources/Prototypes/_CM14/Entities/Structures/Doors/Airlocks/accesses-marine.yml
Labels: No C#, Status: Needs Review

#2332 Canisters
  Resources/Prototypes/_CM14/Entities/Objects/Medical/beaker.yml
  Resources/Prototypes/_CM14/Entities/Objects/Tools/gas_tanks.yml
  Resources/Textures/_CM14/Objects/Tanks/ammonia.rsi/icon.png
  Resources/Textures/_CM14/Objects/Tanks/ammonia.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Tanks/ammonia.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Tanks/ammonia.rsi/meta.json
  Resources/Textures/_CM14/Objects/Tanks/hydrogen.rsi/icon.png
  Resources/Textures/_CM14/Objects/Tanks/hydrogen.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Tanks/hydrogen.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Tanks/hydrogen.rsi/meta.json
  Resources/Textures/_CM14/Objects/Tanks/methane.rsi/icon.png
  Resources/Textures/_CM14/Objects/Tanks/methane.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Tanks/methane.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Tanks/methane.rsi/meta.json
  Resources/Textures/_CM14/Objects/Tanks/minitank.rsi/icon.png
  Resources/Textures/_CM14/Objects/Tanks/minitank.rsi/meta.json
  Resources/Textures/_CM14/Objects/Tanks/minitank.rsi/minitank1.png
  Resources/Textures/_CM14/Objects/Tanks/minitank.rsi/minitank2.png
  Resources/Textures/_CM14/Objects/Tanks/minitank.rsi/minitank3.png
  Resources/Textures/_CM14/Objects/Tanks/minitank.rsi/minitank4.png
  Resources/Textures/_CM14/Objects/Tanks/minitank.rsi/minitank5.png
  Resources/Textures/_CM14/Objects/Tanks/oxygen.rsi/icon.png
  Resources/Textures/_CM14/Objects/Tanks/oxygen.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Tanks/oxygen.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Tanks/oxygen.rsi/meta.json
  Resources/Textures/_CM14/Objects/Tanks/pacid.rsi/icon.png
  Resources/Textures/_CM14/Objects/Tanks/pacid.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Tanks/pacid.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Tanks/pacid.rsi/meta.json
  Resources/Textures/_CM14/Objects/Tanks/pressurized_reagent_container.rsi/can1.png
  Resources/Textures/_CM14/Objects/Tanks/pressurized_reagent_container.rsi/icon.png
  Resources/Textures/_CM14/Objects/Tanks/pressurized_reagent_container.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Tanks/pressurized_reagent_container.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Tanks/pressurized_reagent_container.rsi/meta.json
Labels: No C#, Changes: Sprites

#2395 Lets pistols fit in the Combat Belt
  Resources/Prototypes/_CM14/Entities/Clothing/Belt/belts.yml
Labels: No C#, Status: Needs Review

#2407 Pamphlets
  Resources/Prototypes/_CM14/Entities/Objects/Misc/pamphlets.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
  Resources/Textures/_CM14/Objects/Misc/pamphlets.rsi/meta.json
  Resources/Textures/_CM14/Objects/Misc/pamphlets.rsi/pamphlet.png
  Resources/Textures/_CM14/Objects/Misc/pamphlets.rsi/pamphlet_construction.png
  Resources/Textures/_CM14/Objects/Misc/pamphlets.rsi/pamphlet_engineering.png
  Resources/Textures/_CM14/Objects/Misc/pamphlets.rsi/pamphlet_jtac.png
  Resources/Textures/_CM14/Objects/Misc/pamphlets.rsi/pamphlet_machinegunner.png
  Resources/Textures/_CM14/Objects/Misc/pamphlets.rsi/pamphlet_medical.png
  Resources/Textures/_CM14/Objects/Misc/pamphlets.rsi/pamphlet_powerloader.png
  Resources/Textures/_CM14/Objects/Misc/pamphlets.rsi/pamphlet_reading.png
  Resources/Textures/_CM14/Objects/Misc/pamphlets.rsi/pamphlet_spotter.png
  Resources/Textures/_CM14/Objects/Misc/pamphlets.rsi/pamphlet_vehicle.png
  Resources/Textures/_CM14/Objects/Misc/pamphlets.rsi/pamphlet_vulture.png
  Resources/Textures/_CM14/Objects/Misc/pamphlets.rsi/pamphlet_written.png
Labels: No C#, Changes: Sprites

#2391 Fix error-state windows on certain placements
  Resources/Textures/_CM14/Structures/Windows/colony_window.rsi/col_rwindow7.png
  Resources/Textures/_CM14/Structures/Windows/colony_window.rsi/col_window7.png
  Resources/Textures/_CM14/Structures/Windows/colony_window.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2394 Add raffles to xenos
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
Labels: No C#, Status: Needs Review

#2401 Remove Medical Satchel from Doctors Nurses and CMO
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/nurse.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/researcher.yml
Labels: No C#, Status: Needs Review

#2405 Fixes hypersleep pods
  Content.Client/_CM14/Marines/HyperSleep/HyperSleepChamberSystem.cs
  Content.Shared/_CM14/Marines/HyperSleep/HyperSleepChamberComponent.cs
  Content.Shared/_CM14/Marines/HyperSleep/SharedHyperSleepChamberSystem.cs
  Resources/Prototypes/_CM14/Entities/Structures/Machines/hypersleep.yml
Labels: Status: Needs Review

#2406 Maint Tech's Janitorial stuff
  Resources/Prototypes/_CM14/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/_CM14/Entities/Objects/Tools/janitor.yml
  Resources/Prototypes/_CM14/Entities/Structures/Misc/janitor.yml
  Resources/Textures/_CM14/Objects/Misc/Janitorial/bucket.rsi/bucket-1.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/bucket.rsi/bucket-2.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/bucket.rsi/bucket-3.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/bucket.rsi/bucket.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/bucket.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/bucket.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/bucket.rsi/lid_bucket.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/bucket.rsi/meta.json
  Resources/Textures/_CM14/Objects/Misc/Janitorial/cart.rsi/cart.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/cart.rsi/cart_bucket.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/cart.rsi/cart_garbage.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/cart.rsi/cart_mop.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/cart.rsi/cart_replacer.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/cart.rsi/cart_sign1.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/cart.rsi/cart_sign2.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/cart.rsi/cart_sign3.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/cart.rsi/cart_sign4.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/cart.rsi/cart_spray.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/cart.rsi/meta.json
  Resources/Textures/_CM14/Objects/Misc/Janitorial/caution.rsi/caution.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/caution.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/caution.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/caution.rsi/meta.json
  Resources/Textures/_CM14/Objects/Misc/Janitorial/cone.rsi/cone.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/cone.rsi/meta.json
  Resources/Textures/_CM14/Objects/Misc/Janitorial/janibucket.rsi/janibucket-1.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/janibucket.rsi/janibucket-2.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/janibucket.rsi/janibucket-3.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/janibucket.rsi/janibucket.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/janibucket.rsi/lid_janibucket.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/janibucket.rsi/meta.json
  Resources/Textures/_CM14/Objects/Misc/Janitorial/light_replacer.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/light_replacer.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/light_replacer.rsi/lightreplacer0.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/light_replacer.rsi/lightreplacer1.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/light_replacer.rsi/meta.json
  Resources/Textures/_CM14/Objects/Misc/Janitorial/mop.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/mop.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/mop.rsi/meta.json
  Resources/Textures/_CM14/Objects/Misc/Janitorial/mop.rsi/mop.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/mop.rsi/mop_fill-1.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/mopbucket.rsi/lid_mopbucket.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/mopbucket.rsi/meta.json
  Resources/Textures/_CM14/Objects/Misc/Janitorial/mopbucket.rsi/mopbucket-1.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/mopbucket.rsi/mopbucket-2.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/mopbucket.rsi/mopbucket-3.png
  Resources/Textures/_CM14/Objects/Misc/Janitorial/mopbucket.rsi/mopbucket.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2402 Combat Tech Gloves
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_bundles.yml
Labels: No C#, Status: Needs Review

#2398 Barrier
  Resources/Prototypes/_CM14/Entities/Structures/Walls/barrier.yml
  Resources/Textures/_CM14/Structures/Walls/barrier.rsi/idle.png
  Resources/Textures/_CM14/Structures/Walls/barrier.rsi/locked.png
  Resources/Textures/_CM14/Structures/Walls/barrier.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2340 basic guidebook pages
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_construction_actions.yml
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_evolve_actions.yml
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_CM14/Guidebook/CM14Guidebook.yml
  Resources/Prototypes/_CM14/Guidebook/cm14.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Other/senior_enlisted_advisor.yml
  Resources/Prototypes/_CM14/Roles/job_spawner_base.yml
  Resources/ServerInfo/Guidebook/_CM14/CM14.xml
  Resources/ServerInfo/Guidebook/_CM14/CMGuideNewPlayer.xml
  Resources/ServerInfo/Guidebook/_CM14/NewPlayerGuide/CMGuideRoleDrone.xml
  Resources/ServerInfo/Guidebook/_CM14/NewPlayerGuide/CMGuideRoleRifleman.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Roleplay/CMUSCMRoleplayStandards.xml
Labels: No C#, Status: Needs Review

#2410 Fixed xeno self cluttering
  Content.Shared/_CM14/Xenos/Construction/SharedXenoConstructionSystem.cs
  Resources/Locale/en-US/_CM14/xeno/xeno-abilities.ftl
Labels: Status: Needs Review

#2408 88 mod damage modifier
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Pistols/uscm_pistols.yml
Labels: No C#, Status: Needs Review

#2424 Asteroid floor
  Resources/Prototypes/_CM14/Tiles/asteroid.yml
  Resources/Textures/_CM14/Tiles/planet/asteroid/floor.png
  Resources/Textures/_CM14/Tiles/planet/asteroid/meta.json
  Resources/Textures/_CM14/Tiles/planet/asteroid/plating.png
  Resources/Textures/_CM14/Tiles/planet/asteroid/warning.png
  Resources/Textures/_CM14/Tiles/planet/asteroid/warning_0.png
  Resources/Textures/_CM14/Tiles/planet/asteroid/warning_1.png
  Resources/Textures/_CM14/Tiles/planet/asteroid/warning_2.png
  Resources/Textures/_CM14/Tiles/planet/asteroid/warning_3.png
  Resources/Textures/_CM14/Tiles/planet/asteroid/warning_4.png
  Resources/Textures/_CM14/Tiles/planet/asteroid/warning_5.png
  Resources/Textures/_CM14/Tiles/planet/asteroid/warning_6.png
  Resources/Textures/_CM14/Tiles/planet/asteroid/warning_7.png
Labels: No C#, Status: Needs Review

#2396 Removes ammonia from rotting corpses and perishables
  Content.Shared/Atmos/Rotting/PerishableComponent.cs
Labels: Status: Needs Review

#2425 Ported m41amk2 sprites
  Resources/Textures/_CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/base.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/bolt-open.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/icon.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/wielded-inhand-left.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Rifles/m41a.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2428 Mars planet tiles
  Resources/Locale/en-US/_CM14/tiles/tiles.ftl
  Resources/Prototypes/_CM14/Tiles/bigred.yml
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_1.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_10.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_11.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_12.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_13.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_14.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_15.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_16.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_17.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_18.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_19.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_2.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_20.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_21.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_22.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_23.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_3.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_4.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_5.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_6.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_7.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_8.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_cave_9.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_dirt_1.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_dirt_10.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_dirt_11.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_dirt_12.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_dirt_13.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_dirt_14.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_dirt_2.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_dirt_3.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_dirt_4.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_dirt_5.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_dirt_6.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_dirt_7.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_dirt_8.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_dirt_9.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_sand_1.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_sand_10.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_sand_11.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_sand_12.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_sand_13.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_sand_2.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_sand_3.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_sand_4.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_sand_5.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_sand_6.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_sand_7.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_sand_8.png
  Resources/Textures/_CM14/Tiles/planet/bigred/mars_sand_9.png
  Resources/Textures/_CM14/Tiles/planet/bigred/meta.json
Labels: No C#, Status: Needs Review

#2413 Medics can examine pills to see their chemical composition
  Content.Shared/_CM14/Marines/Skills/ReagentExaminationRequiresSkillComponent.cs
  Content.Shared/_CM14/Marines/Skills/SkillsSystem.cs
  Resources/Locale/en-US/_CM14/reagents/examine-action.ftl
  Resources/Prototypes/_CM14/Entities/Objects/Medical/pills.yml
Labels: Status: Needs Review

#2427 Optimise pheromones
  Content.Shared/_CM14/Xenos/Pheromones/SharedXenoPheromonesSystem.cs
Labels: Status: Needs Review

#2469 add desc to xeno doors
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_doors.yml
Labels: No C#, Status: Needs Review

#2472 Fix marines getting stuck on hypersleep chambers at roundstart and having their inventory visually disappear in certain spots
  Content.Shared/_CM14/Marines/HyperSleep/SharedHyperSleepChamberSystem.cs
  Resources/Prototypes/_CM14/Entities/Structures/Machines/hypersleep.yml
Labels: Status: Needs Review

#2400 Fixes material drops from destroyed constructible objects, makes the construction steps identical to those in CM13
  Resources/Prototypes/_CM14/Entities/Structures/Doors/Airlocks/assembly.yml
  Resources/Prototypes/_CM14/Entities/Structures/Doors/Windoors/assembly.yml
  Resources/Prototypes/_CM14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_CM14/Entities/Structures/Walls/girder.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/materials/glass.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/airlock.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_metal.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_metal_door.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_plasteel_door.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_turnstile.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/catwalk.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/windoor.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/utilities/apc.yml
  Resources/Prototypes/_CM14/Recipes/Construction/structures.yml
Labels: No C#, Status: Needs Review

#2412 Internals and Janitor supply crates
  Resources/Prototypes/_CM14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Crates/supplies.yml
Labels: No C#, Status: Needs Review

#2474 adds death text to xenomorphs
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
Labels: No C#, Status: Needs Review

#2475 make jungle walls invincible
  Resources/Prototypes/_CM14/Entities/Structures/Walls/walls.yml
Labels: No C#

#2477 thirst reduces at the same rate as hunger
  Resources/Prototypes/_CM14/Entities/Mobs/Species/base.yml
Labels: No C#, Status: Needs Review

#2476 Fix missing changelog entries
  Resources/Changelog/Parts/changes.yml
Labels: No C#, Status: Needs Review

#2473 Remove surgery steps from spawn menu
  Content.Shared/_CM14/Medical/Surgery/CMSurgeryComponent.cs
  Content.Shared/_CM14/Medical/Surgery/Steps/CMSurgeryStepComponent.cs
  Resources/Locale/en-US/_CM14/entity-categories.ftl
  Resources/Prototypes/_CM14/Entities/cm_entity_categories.yml
Labels: No C#, Status: Needs Review

#2470 Added M79 prototype, and sound effect.
  Resources/Audio/_CM14/Weapons/Guns/Cock/attributions.yml
  Resources/Audio/_CM14/Weapons/Guns/Cock/m79_break_open.ogg
  Resources/Audio/_CM14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_CM14/Weapons/Guns/Gunshots/m79_shoot.ogg
  Resources/Audio/_CM14/Weapons/Guns/Reload/attributions.yml
  Resources/Audio/_CM14/Weapons/Guns/Reload/m79_reload.ogg
  Resources/Audio/_CM14/Weapons/Guns/Reload/m79_unload.ogg
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Launchers/uscm_launchers.yml
  Resources/Textures/_CM14/Objects/Weapons/Guns/GrenadeLaunchers/m79.rsi/equipped-BACKPACK.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/GrenadeLaunchers/m79.rsi/sling.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2480 adds two missing implemented bags from the corpsmen gear
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
Labels: No C#, Status: Needs Review

#2482 rules updates
  Resources/Prototypes/_CM14/Guidebook/CMRules.yml
  Resources/ServerInfo/Guidebook/_CM14/CM14.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/MilitaryCommand/CMMarineLaw.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Overview.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Roleplay/CMCommandChain.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Roleplay/CMCommandRoleplay.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Roleplay/CMUSCMDeployment.xml
  Resources/ServerInfo/Guidebook/_CM14/Rules/Roleplay/CMXenoRoleplay.xml
Labels: No C#, Status: Needs Review

#2484 make puddles less prevalent
  Content.Shared/Fluids/Components/PuddleComponent.cs
Labels: Status: Needs Review

#2483 Make blood packs able to be used manually
  Content.Server/_CM14/Medical/IV/IVDripSystem.cs
  Content.Shared/_CM14/Medical/IV/AttachBloodPackDoAfterEvent.cs
  Content.Shared/_CM14/Medical/IV/BloodPackComponent.cs
  Content.Shared/_CM14/Medical/IV/IVDripComponent.cs
  Content.Shared/_CM14/Medical/IV/SharedIVDripSystem.cs
  Resources/Locale/en-US/_CM14/medical/iv.ftl
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Medical/iv.yml
Labels: Status: Needs Review

#2487 Fix bleeding, stasis bag metabolization and max reagent types metabolization cap
  Content.Client/_CM14/Medical/Stasis/CMStasisBagSystem.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/_CM14/Medical/Stasis/CMStasisBagSystem.cs
  Content.Shared/_CM14/CCVar/CMCVars.cs
  Content.Shared/_CM14/Medical/Stasis/CMInStasisComponent.cs
  Content.Shared/_CM14/Medical/Stasis/CMMetabolizeAttemptEvent.cs
  Content.Shared/_CM14/Medical/Stasis/CMStasisBagComponent.cs
  Content.Shared/_CM14/Medical/Stasis/CMStasisBagSystem.cs
  Content.Shared/_CM14/Medical/Wounds/SharedWoundsSystem.cs
  Resources/Prototypes/Body/Organs/human.yml
Labels: Status: Needs Review

#2478 Run pheromones receivers every tick
  Content.Shared/Mobs/Systems/MobStateSystem.StateMachine.cs
  Content.Shared/Mobs/Systems/MobStateSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/SharedXenoPheromonesSystem.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoActivePheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoFrenzyPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoRecoveryPheromonesComponent.cs
  Content.Shared/_CM14/Xenos/Pheromones/XenoWardingPheromonesComponent.cs
  Resources/Prototypes/_CM14/Actions/Xeno/xeno_self_actions.yml
Labels: Status: Needs Review

#2493 add planetside dropship navigation computer
  Content.Client/_CM14/Roadmap/RoadmapWindow.xaml
  Content.Shared/_CM14/Dropship/DropshipComponent.cs
  Content.Shared/_CM14/Dropship/DropshipTerminalComponent.cs
  Content.Shared/_CM14/Dropship/SharedDropshipSystem.cs
  Resources/Locale/en-US/_CM14/xeno/xeno-access.ftl
  Resources/Prototypes/_CM14/Access/marine_access.yml
  Resources/Prototypes/_CM14/Access/xeno_access.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/shuttle_console.yml
  Resources/Prototypes/_CM14/Roles/Xeno/queen.yml
  Resources/Textures/_CM14/Structures/Machines/dropship_nav_computer.rsi/broken.png
  Resources/Textures/_CM14/Structures/Machines/dropship_nav_computer.rsi/meta.json
  Resources/Textures/_CM14/Structures/Machines/dropship_nav_computer.rsi/off.png
  Resources/Textures/_CM14/Structures/Machines/dropship_nav_computer.rsi/on.png
Labels: No C#, Changes: Sprites, Changes: UI

#2495 adds xeno death emote
  Resources/Locale/en-US/_CM14/xeno/xeno-death.ftl
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
Labels: No C#, Status: Needs Review

#2507 lower xeno raffle time
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
Labels: No C#, Status: Needs Review

#2492 Proper plating and tile variants for Fiorina
  Resources/Prototypes/_CM14/Tiles/Prison/prison.yml
  Resources/Textures/_CM14/Tiles/prison/damaged.png
  Resources/Textures/_CM14/Tiles/prison/floorscorched.png
  Resources/Textures/_CM14/Tiles/prison/platingdmg.png
Labels: No C#, Status: Needs Review

#2523 Added Dexalin bottle description
  Resources/Prototypes/_CM14/Entities/Objects/Medical/bottles.yml
Labels: No C#, Status: Needs Review

#2525 Fixes rollerbed size
  Resources/Prototypes/_CM14/Entities/Structures/Furniture/rollerbeds.yml
Labels: No C#, Status: Needs Review

#2528 Fix facehug success locale
  Resources/Locale/en-US/_CM14/xeno/xeno-hugger.ftl
Labels: No C#, Status: Needs Review

#2527 Carpet for Fiorina
  Resources/Prototypes/_CM14/Entities/Structures/Furniture/carpets.yml
  Resources/Textures/_CM14/Structures/Furniture/Carpets/prison_carpet.rsi/carpet_0.png
  Resources/Textures/_CM14/Structures/Furniture/Carpets/prison_carpet.rsi/carpet_1.png
  Resources/Textures/_CM14/Structures/Furniture/Carpets/prison_carpet.rsi/carpet_2.png
  Resources/Textures/_CM14/Structures/Furniture/Carpets/prison_carpet.rsi/carpet_3.png
  Resources/Textures/_CM14/Structures/Furniture/Carpets/prison_carpet.rsi/carpet_4.png
  Resources/Textures/_CM14/Structures/Furniture/Carpets/prison_carpet.rsi/carpet_5.png
  Resources/Textures/_CM14/Structures/Furniture/Carpets/prison_carpet.rsi/carpet_6.png
  Resources/Textures/_CM14/Structures/Furniture/Carpets/prison_carpet.rsi/carpet_7.png
  Resources/Textures/_CM14/Structures/Furniture/Carpets/prison_carpet.rsi/full.png
  Resources/Textures/_CM14/Structures/Furniture/Carpets/prison_carpet.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2526 Update MedKit sprites
  Resources/Prototypes/_CM14/Entities/Objects/Medical/firstaidkits.yml
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/advfirstaid.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/antitox.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/antitox2.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/antitox3.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/antitoxin-inhand-right.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/antitoxin.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/bezerk.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/burn.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/firefirstaid.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/firstaid.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/kit_empty.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/o2.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/ointment.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/purplefirstaid.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/rad.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/rad2.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/rad3.png
  Resources/Textures/_CM14/Objects/Medical/first_aid_kits.rsi/radfirstaid.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2524 Adds more tags to armor storage
  Resources/Prototypes/_CM14/Entities/Clothing/OuterClothing/uscm_armor.yml
Labels: No C#

#2485 Riot armor and old riot armor
  Resources/Prototypes/_CM14/Entities/Clothing/Head/Helmets/basic_helmets.yml
  Resources/Prototypes/_CM14/Entities/Clothing/OuterClothing/basic_armor.yml
  Resources/Textures/_CM14/Objects/Clothing/Head/Helmets/old_riot.rsi/equipped-HELMET.png
  Resources/Textures/_CM14/Objects/Clothing/Head/Helmets/old_riot.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Head/Helmets/old_riot.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Head/Helmets/riot.rsi/equipped-HELMET.png
  Resources/Textures/_CM14/Objects/Clothing/Head/Helmets/riot.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Head/Helmets/riot.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/old_riot.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/old_riot.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/old_riot.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/riot.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/riot.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/riot.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2533 Prison catwalk
  Resources/Prototypes/_CM14/Entities/Structures/catwalk.yml
Labels: No C#, Status: Needs Review

#2426 Add scoping action
  Content.Client/_CM14/Scoping/ScopeSystem.cs
  Content.Server/_CM14/Scoping/ScopeSystem.cs
  Content.Shared/Camera/GetEyeOffsetEvent.cs
  Content.Shared/Camera/SharedCameraRecoilSystem.cs
  Content.Shared/_CM14/Scoping/ScopeComponent.cs
  Content.Shared/_CM14/Scoping/ScopeDoAfterEvent.cs
  Content.Shared/_CM14/Scoping/ScopingComponent.cs
  Content.Shared/_CM14/Scoping/SharedScopeSystem.User.cs
  Content.Shared/_CM14/Scoping/SharedScopeSystem.cs
  Resources/Locale/en-US/_CM14/actions/scoping.ftl
  Resources/Prototypes/_CM14/Actions/Marines/marine_action_items.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Snipers/uscm_snipers.yml
  Resources/Prototypes/_CM14/Entities/Virtual/scope_loader.yml
  Resources/Textures/_CM14/Actions/scope_actions.rsi/meta.json
  Resources/Textures/_CM14/Actions/scope_actions.rsi/sniperscope.png
Labels: Changes: Sprites

#2536 fix incorrect cm13 licenses
  Resources/Audio/_CM14/Announcements/RoundEnd/attributions.yml
  Resources/Audio/_CM14/Explosion/attributions.yml
  Resources/Audio/_CM14/Voice/Human/attributions.yml
Labels: No C#, Status: Needs Review

#2537 Colony airlocks
  Resources/Prototypes/_CM14/Entities/Structures/Doors/Airlocks/accesses-colony.yml
Labels: No C#, Status: Needs Review

#2539 Fix squad headsets
  Resources/Prototypes/_CM14/Entities/Clothing/headsets.yml
  Resources/Prototypes/_CM14/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_bundles.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/Vending/colmartech_mappings.yml
Labels: No C#, Status: Needs Review

#2540 Change hf2 % healthy text to permanently deceased on burst
  Content.Client/_CM14/Medical/Scanner/HealthScannerBoundUserInterface.cs
Labels: Status: Needs Review

#2531 Construction | Some Additions and Parity
  Resources/Locale/en-US/_CM14/construction/construction-categories.ftl
  Resources/Prototypes/_CM14/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/_CM14/Entities/Structures/Lighting/lighting.yml
  Resources/Prototypes/_CM14/Entities/Structures/Storage/crates.yml
  Resources/Prototypes/_CM14/Entities/Structures/Storage/rack.yml
  Resources/Prototypes/_CM14/Entities/Structures/fence.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/furniture/seats.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/fence.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/lighting.yml
  Resources/Prototypes/_CM14/Recipes/Construction/furniture.yml
  Resources/Prototypes/_CM14/Recipes/Construction/structures.yml
Labels: No C#

#2542 Vent pump and scrubber
  Resources/Prototypes/_CM14/Entities/Structures/Piping/atmospherics.yml
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_pump.rsi/hin.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_pump.rsi/hoff.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_pump.rsi/hon.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_pump.rsi/hwelded.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_pump.rsi/in.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_pump.rsi/map_vent.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_pump.rsi/meta.json
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_pump.rsi/off.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_pump.rsi/on.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_pump.rsi/welded.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_scrubber.rsi/hin.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_scrubber.rsi/hoff.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_scrubber.rsi/hon.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_scrubber.rsi/hwelded.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_scrubber.rsi/in.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_scrubber.rsi/map_vent.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_scrubber.rsi/meta.json
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_scrubber.rsi/off.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_scrubber.rsi/on.png
  Resources/Textures/_CM14/Structures/Piping/Atmospherics/vent_scrubber.rsi/welded.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2227 M42 Scout Sight
  Content.Client/_CM14/NightVision/NightVisionSystem.cs
  Content.Shared/_CM14/NightVision/NightVisionComponent.cs
  Content.Shared/_CM14/NightVision/NightVisionItemComponent.cs
  Content.Shared/_CM14/NightVision/NightVisionItemVisuals.cs
  Content.Shared/_CM14/NightVision/SharedNightVisionSystem.cs
  Resources/Prototypes/_CM14/Actions/Marines/marine_action_items.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/specialist_loadouts.yml
  Resources/Textures/_CM14/Objects/Clothing/Eyes/Glasses/m42_scoutsight.rsi/equipped-EYES.png
  Resources/Textures/_CM14/Objects/Clothing/Eyes/Glasses/m42_scoutsight.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Eyes/Glasses/m42_scoutsight.rsi/icon_on.png
  Resources/Textures/_CM14/Objects/Clothing/Eyes/Glasses/m42_scoutsight.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Clothing/Eyes/Glasses/m42_scoutsight.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Clothing/Eyes/Glasses/m42_scoutsight.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2546 Pills are no longer destructible
  Resources/Prototypes/_CM14/Entities/Objects/Medical/pills.yml
Labels: No C#, Status: Needs Review

#2543 Fix rifle and smg magazines
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/smg.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Rifles/uscm_rifles.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/SMGs/uscm_smgs.yml
Labels: No C#, Status: Needs Review

#2551 Tileset cleanup and remaining tiles for map port
  Resources/Prototypes/_CM14/Tiles/Prison/dark_brown_tiles.yml
  Resources/Prototypes/_CM14/Tiles/Prison/prison.yml
  Resources/Prototypes/_CM14/Tiles/almayer.yml
  Resources/Prototypes/_CM14/Tiles/planet.yml
  Resources/Prototypes/_CM14/Tiles/planetfloor.yml
  Resources/Textures/_CM14/Tiles/floors/grass1.png
  Resources/Textures/_CM14/Tiles/floors/grass2.png
  Resources/Textures/_CM14/Tiles/floors/grass3.png
  Resources/Textures/_CM14/Tiles/floors/grass4.png
  Resources/Textures/_CM14/Tiles/floors/meta.json
  Resources/Textures/_CM14/Tiles/planet/corsat/meta.json
  Resources/Textures/_CM14/Tiles/planet/corsat/plate.png
  Resources/Textures/_CM14/Tiles/planet/interior/meta.json
  Resources/Textures/_CM14/Tiles/planet/interior/plasticfloor1.png
Labels: No C#, Status: Needs Review

#2548 Remove wrong headset equipped sprite
  Resources/Prototypes/_CM14/Entities/Clothing/headsets.yml
  Resources/Textures/_CM14/Objects/Clothing/headsets.rsi/equipped-EARS.png
  Resources/Textures/_CM14/Objects/Clothing/headsets.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2549 Coffins
  Resources/Prototypes/_CM14/Entities/Structures/Storage/coffin.yml
  Resources/Textures/_CM14/Structures/Storage/Coffins/pred.rsi/closed.png
  Resources/Textures/_CM14/Structures/Storage/Coffins/pred.rsi/meta.json
  Resources/Textures/_CM14/Structures/Storage/Coffins/pred.rsi/open.png
  Resources/Textures/_CM14/Structures/Storage/Coffins/standard.rsi/closed.png
  Resources/Textures/_CM14/Structures/Storage/Coffins/standard.rsi/meta.json
  Resources/Textures/_CM14/Structures/Storage/Coffins/standard.rsi/open.png
  Resources/Textures/_CM14/Structures/Storage/Coffins/uscm.rsi/closed.png
  Resources/Textures/_CM14/Structures/Storage/Coffins/uscm.rsi/meta.json
  Resources/Textures/_CM14/Structures/Storage/Coffins/uscm.rsi/open.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2552 give qm cm flash
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/quartermaster.yml
Labels: No C#, Status: Needs Review

#2541 ASRS UI search bar
  Content.Client/_CM14/Requisitions/RequisitionsBui.cs
  Content.Client/_CM14/Requisitions/RequisitionsOrderCategoriesView.xaml
  Content.Client/_CM14/Requisitions/RequisitionsOrderSearchGroup.xaml
  Content.Client/_CM14/Requisitions/RequisitionsOrderSearchGroup.xaml.cs
  Content.Client/_CM14/Requisitions/RequisitionsOrderSearchView.xaml
  Content.Client/_CM14/Requisitions/RequisitionsOrderSearchView.xaml.cs
  Content.Client/_CM14/Requisitions/RequisitionsWindow.xaml
Labels: Status: Needs Review, Changes: UI

#2544 Holocards and related functionality
  Content.Client/_CM14/Medical/HUD/Holocard/HolocardChangeBoundUserInterface.cs
  Content.Client/_CM14/Medical/HUD/Holocard/HolocardChangeWindow.xaml
  Content.Client/_CM14/Medical/HUD/Holocard/HolocardChangeWindow.xaml.cs
  Content.Client/_CM14/Medical/HUD/ShowHolocardIconsSystem.cs
  Content.Client/_CM14/Medical/Scanner/HealthScannerBoundUserInterface.cs
  Content.Client/_CM14/Medical/Scanner/HealthScannerWindow.xaml
  Content.Shared/_CM14/Medical/HUD/Components/HolocardScannerComponent.cs
  Content.Shared/_CM14/Medical/HUD/Components/HolocardStateComponent.cs
  Content.Shared/_CM14/Medical/HUD/Events/HolocardScanEvent.cs
  Content.Shared/_CM14/Medical/HUD/HolocardData.cs
  Content.Shared/_CM14/Medical/HUD/HolocardStatus.cs
  Content.Shared/_CM14/Medical/HUD/HolocardUI.cs
  Content.Shared/_CM14/Medical/HUD/Systems/HolocardScannerSystem.cs
  Content.Shared/_CM14/Medical/HUD/Systems/HolocardSystem.cs
  Resources/Locale/en-US/_CM14/medical/holocard.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_CM14/StatusEffects/holocard.yml
  Resources/Textures/_CM14/Interface/VerbIcons/ambulance.png
  Resources/Textures/_CM14/Interface/VerbIcons/ambulance.svg
  Resources/Textures/_CM14/Interface/VerbIcons/meta.json
  Resources/Textures/_CM14/Interface/health_hud_holocard.rsi/hudhcblack.png
  Resources/Textures/_CM14/Interface/health_hud_holocard.rsi/hudhcorange.png
  Resources/Textures/_CM14/Interface/health_hud_holocard.rsi/hudhcpurple.png
  Resources/Textures/_CM14/Interface/health_hud_holocard.rsi/hudhcred.png
  Resources/Textures/_CM14/Interface/health_hud_holocard.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review, Changes: UI

#2557 Fix runner leaping while resting
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapAttemptEvent.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
  Content.Shared/_RMC14/Xenonids/Rest/XenoRestSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
Labels: Status: Needs Review

#2550 Health scanner works through stasis bags
  Content.Server/_RMC14/Medical/Scanner/HealthScannerSystem.cs
Labels: Status: Needs Review

#2555 Fix bone gel and bone setter descriptions and names
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/surgery.yml
Labels: No C#, Status: Needs Review

#2562 Use new icon on the readme
  README.md
Labels: No C#, Status: Needs Review

#2564 fix yml fail
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
Labels: No C#, Status: Needs Review

#2563 use new game icons
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/sleeping.ico
  Resources/Textures/Logo/sleeping/icon-256x256.png
Labels: No C#, Status: Needs Review

#2565 Temporary add headsets to med personnel
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/nurse.yml
Labels: No C#

#2567 add medical guidebook
  Resources/Prototypes/Guidebook/chemicals.yml
  Resources/Prototypes/_RMC14/Guidebook/RMC14Guidebook.yml
  Resources/Prototypes/_RMC14/Guidebook/chemicals.yml
  Resources/ServerInfo/Guidebook/_RMC14/Medical/RMCMedical.xml
  Resources/ServerInfo/Guidebook/_RMC14/RMC14.xml
  Resources/ServerInfo/Guidebook/_RMC14/RMCChemicals.xml
  Resources/ServerInfo/Guidebook/_RMC14/RMCGuideNewPlayer.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Overview.xml
Labels: No C#

#2559 Add move delay after pounce
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapingComponent.cs
Labels: Status: Needs Review

#2558 Fix defenders pulling and headbutting at the same time
  Content.Shared/_RMC14/Xenonids/Headbutt/XenoHeadbuttSystem.cs
Labels: Status: Needs Review

#2569 Fix Marine Common being too hard to see
  Resources/Prototypes/_RMC14/radio_channels.yml
Labels: No C#, Status: Needs Review

#2572 New M54C Sprites
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m54c.rsi/ammo_band.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m54c.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m54c.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m54c.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m54ce.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m54ce.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m54ce.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/sling.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2570 add attachments to the requisition console
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/attachments.yml
Labels: No C#, Status: Needs Review

#2589 Fix warrior punch action description
  Content.Shared/_RMC14/Tackle/TackleSystem.cs
  Content.Shared/_RMC14/Tackle/TackleableComponent.cs
  Content.Shared/_RMC14/Tackle/TackledRecentlyComponent.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: Status: Needs Review

#2590 Change raffle duration 30 > 10, no extending, 0 delay to clicking button
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRoleRulesWindow.xaml.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/GhostRoleRaffles/settings.yml
Labels: Status: Needs Review

#2591 change rotting text to unrevivable status
  Resources/Locale/en-US/disease/miasma.ftl
Labels: No C#, Status: Needs Review

#2602 Fixed lifesaver bag whitelist
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Hands/gloves.yml
Labels: No C#, Status: Needs Review

#2605 Remove power requirement from venders
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
Labels: No C#, Status: Needs Review

#2600 Fixed wrong localization strings
  Content.Shared/_RMC14/Anchor/DeployableItemSystem.cs
  Resources/Locale/en-US/_RMC14/changelog.ftl
Labels: Status: Needs Review

#2610 Removed reagents from Chem Dispensers
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Science/Dispensers/chem.yml
Labels: No C#, Status: Needs Review

#2608 Fix 5-slot webbings also being able to fit larger mags
  Resources/Prototypes/_RMC14/Entities/Clothing/webbing.yml
Labels: No C#, Status: Needs Review

#2612 Make xenonids accumulate evolution points past the max for the first 15 minutes of the round
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/_RMC14/Xenonids/Hive/XenoHiveSystem.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionComponent.cs
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionSystem.cs
Labels: Status: Needs Review

#2613 Lower marines per xeno from 4 to 3, move it to a CVar
  Content.Server/_RMC14/Rules/CMDistressSignalRuleComponent.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/CCVar/CMCVars.cs
Labels: Status: Needs Review

#2595 fix(SharedIvDripSystem): Fix blood bags from spamming when out of range.
  Content.Shared/_RMC14/Medical/IV/SharedIVDripSystem.cs
Labels: Status: Needs Review

#2601 Added missing magazine tags
  Resources/Prototypes/_RMC14/Entities/Clothing/webbing.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/smg.yml
Labels: No C#, Status: Needs Review

#2596 Lower the default stuttering amount
  Content.Server/Speech/Components/StutteringAccentComponent.cs
Labels: Status: Needs Review

#2616 feat(CMArmorHelmetM10Medic): Add medhud components to corpsman helmet.
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/marine_helmets.yml
Labels: No C#, Status: Needs Review

#2611 Move faster in lighter armors and slower in heavier armors
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
Labels: No C#, Status: Needs Review

#2607 Modifies the flare animation
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/flare_flame.png
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2560 Tweaks weed node damage threshold
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: No C#, Status: Needs Review

#2617 Fix prepared meal tofu description
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/prepared.yml
Labels: No C#, Status: Needs Review

#2556 Fix barricades being non-rotatable
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
Labels: No C#, Status: Needs Review

#2620 M4A3M1984 -> M1984
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#2621 Fix marines not being able to move after being unnested and having incorrect standing states
  Content.Shared/_RMC14/Xenonids/Construction/Nest/XenoNestSystem.cs
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/nurse.yml
Labels: Status: Needs Review

#2622 Fix the Queen not detaching from the ovipositor on crit or death, add popups
  Content.Client/_RMC14/Xenonids/XenoVisualizerSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
Labels: Status: Needs Review

#2623 Fix duplicate lurker invis expire popup and hive core not enough plasma popups
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Invisibility/XenoActiveInvisibleComponent.cs
  Content.Shared/_RMC14/Xenonids/Invisibility/XenoInvisibilitySystem.cs
Labels: Status: Needs Review

#2627 Curtains
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/curtains.yml
  Resources/Textures/_RMC14/Structures/Furniture/Curtains/green.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Furniture/Curtains/green.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Furniture/Curtains/green.rsi/open.png
  Resources/Textures/_RMC14/Structures/Furniture/Curtains/red.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Furniture/Curtains/red.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Furniture/Curtains/red.rsi/open.png
  Resources/Textures/_RMC14/Structures/Furniture/Curtains/shower.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Furniture/Curtains/shower.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Furniture/Curtains/shower.rsi/open.png
Labels: No C#, Changes: Sprites

#2615 fix(SharedIVDripSystem): Overall clean up and updates to Blood Bag.
  Content.Shared/_RMC14/Medical/IV/SharedIVDripSystem.cs
Labels: Status: Needs Review

#2634 add a new valid license
  .github/rsi-schema.json
Labels: No C#

#2635 Revert "add a new valid license"
  .github/rsi-schema.json
Labels: No C#

#2561 Felinids
  Resources/Audio/_RMC14/Voice/Felinid/attributions.yml
  Resources/Audio/_RMC14/Voice/Felinid/cat_growl1.ogg
  Resources/Audio/_RMC14/Voice/Felinid/cat_hiss1.ogg
  Resources/Audio/_RMC14/Voice/Felinid/cat_hiss2.ogg
  Resources/Audio/_RMC14/Voice/Felinid/cat_meow1.ogg
  Resources/Audio/_RMC14/Voice/Felinid/cat_meow2.ogg
  Resources/Audio/_RMC14/Voice/Felinid/cat_meow3.ogg
  Resources/Audio/_RMC14/Voice/Felinid/cat_mew1.ogg
  Resources/Audio/_RMC14/Voice/Felinid/cat_mew2.ogg
  Resources/Audio/_RMC14/Voice/Felinid/cat_purr1.ogg
  Resources/Audio/_RMC14/Voice/Felinid/cat_scream1.ogg
  Resources/Audio/_RMC14/Voice/Felinid/cat_scream2.ogg
  Resources/Locale/en-US/_RMC14/cm-chatsan.ftl
  Resources/Locale/en-US/_RMC14/felinid/felinid.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/_RMC14/Accents/cm_word_replacements.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Markings/felinid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/Felinid/felinid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/SoundCollections/felinid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_RMC14/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/speech_emotes.yml
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/basic_inner.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/basic_outer.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/curled_inner.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/curled_outer.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/droopy_inner.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/droopy_outer.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/fuzzy_inner.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/stubby_inner.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/stubby_outer.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/tall_fuzz.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/tall_inner.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/tall_outer.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/torn_inner.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/torn_outer.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/wide_inner.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_ears.rsi/wide_outer.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_bell.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_bow.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_tail_stripes_even.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_tail_stripes_odd.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_tail_tip.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2636 Add Toolshed commands for skills, vendor points, squads and evolution points
  Content.Server/_RMC14/Admin/CMAdminEui.cs
  Content.Server/_RMC14/Marines/Squads/SquadCommand.cs
  Content.Server/_RMC14/Marines/Squads/SquadTypeParser.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Server/_RMC14/SkillsCommand/SkillTypeParser.cs
  Content.Server/_RMC14/SkillsCommand/SkillsCommand.cs
  Content.Server/_RMC14/Vendors/VendorPointsCommand.cs
  Content.Server/_RMC14/Xenonids/Evolution/EvolutionPointsCommand.cs
  Content.Server/_RMC14/Xenonids/Hive/HiveCommand.cs
  Content.Server/_RMC14/Xenonids/Weeds/RemoveInvalidWeedsCommand.cs
  Content.Shared/_RMC14/Marines/Squads/SquadSystem.cs
  Content.Shared/_RMC14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Locale/en-US/_RMC14/commands/cm-skills-command.ftl
  Resources/Locale/en-US/_RMC14/commands/cm-toolshed-commands.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-commands.ftl
Labels: Status: Needs Review

#2630 Disable collision check for folding barricades
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
Labels: No C#, Status: Needs Review

#2628 Bookcase
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/bookshelf.yml
  Resources/Textures/_RMC14/Structures/Furniture/bookshelf.rsi/book-0.png
  Resources/Textures/_RMC14/Structures/Furniture/bookshelf.rsi/book-1.png
  Resources/Textures/_RMC14/Structures/Furniture/bookshelf.rsi/book-2.png
  Resources/Textures/_RMC14/Structures/Furniture/bookshelf.rsi/book-3.png
  Resources/Textures/_RMC14/Structures/Furniture/bookshelf.rsi/book-4.png
  Resources/Textures/_RMC14/Structures/Furniture/bookshelf.rsi/book-5.png
  Resources/Textures/_RMC14/Structures/Furniture/bookshelf.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2571 Adds integrated attachments, fixes a few bugs with attachments.
  Content.Client/_RMC14/Attachable/Components/AttachableVisualsComponent.cs
  Content.Client/_RMC14/Attachable/Ui/AttachableHolderStripMenu.xaml.cs
  Content.Shared/_RMC14/Attachable/AttachableData.cs
  Content.Shared/_RMC14/Attachable/AttachableHolderSystem.cs
  Content.Shared/_RMC14/Attachable/AttachableToggleableSystem.cs
  Content.Shared/_RMC14/Attachable/AttachableUI.cs
  Content.Shared/_RMC14/Attachable/Components/AttachableHolderComponent.cs
  Content.Shared/_RMC14/Attachable/Components/AttachableToggleableComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/barrel_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/rail_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/marine_rifles.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/marine_smgs.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/smgstockcol-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/smgstockcol.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/smgstockcol_a-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/smgstockcol_a.png
Labels: Changes: Sprites, Status: Needs Review, Changes: UI

#2641 Separate humanoid voicelines setting per species
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Server/_RMC14/Explosion/CMExplosionSystem.cs
  Content.Shared/_RMC14/CCVar/CMCVars.cs
  Content.Shared/_RMC14/Voicelines/HumanoidVoicelinesSystem.cs
  Resources/Locale/en-US/_RMC14/ui.ftl
Labels: Status: Needs Review, Changes: UI

#2644 Replace succumb, last words and fake death with ghost action and a warning
  Content.Client/_RMC14/Mobs/CMGhostActionBui.cs
  Content.Client/_RMC14/Mobs/CMGhostActionWindow.xaml
  Content.Client/_RMC14/Mobs/CMGhostActionWindow.xaml.cs
  Content.Shared/_RMC14/Mobs/CMGhostActionEvent.cs
  Content.Shared/_RMC14/Mobs/CMMobStateActionsUI.cs
  Content.Shared/_RMC14/Mobs/CMMobStateSystem.cs
  Resources/Locale/en-US/_RMC14/mobs/cm-ghost.ftl
  Resources/Prototypes/_RMC14/Actions/cm_mob_state_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: Status: Needs Review, Changes: UI

#2640 Fix webbing storage bugging out, refactor webbing to add and remove components
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/Storage/Systems/StorageSystem.cs
  Content.Client/UserInterface/Systems/Inventory/InventoryUIController.cs
  Content.Client/_RMC14/Webbing/WebbingSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/_RMC14/Webbing/SharedWebbingSystem.cs
  Content.Shared/_RMC14/Webbing/WebbingComponent.cs
  Content.Shared/_RMC14/Webbing/WebbingTransferComponent.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/webbing.yml
Labels: Status: Needs Review

#2553 Add xeno infection stages & popups
  Content.Client/_RMC14/Xenonids/Hud/XenoHudOverlay.cs
  Content.Server/_RMC14/Xenonids/VictimInfectedEmoteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimInfectedComponent.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimInfectedEmoteEvent.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-infection.ftl
Labels: Status: Needs Review

#2649 Fix species emotes
  Resources/Locale/en-US/_RMC14/chat/species-emotes.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_RMC14/Voice/speech_emotes.yml
Labels: No C#, Status: Needs Review
