Repository RMC-14/RMC-14, pull requests merged in 2024-01, with the labels that each got.

#772 CPR fix probably
  Content.Shared/_CM14/Marines/CPR/CPRSystem.cs
Labels: Status: Needs Review

#767 Marine Orders
  Content.Client/_CM14/Marines/Orders/MarineOrdersSystem.cs
  Content.Client/_CM14/Marines/Orders/OrdersOverlay.cs
  Content.Server/_CM14/Marines/Orders/MarineOrdersSystem.cs
  Content.Shared/_CM14/Marines/Orders/FocusOrderComponent.cs
  Content.Shared/_CM14/Marines/Orders/HoldOrderComponent.cs
  Content.Shared/_CM14/Marines/Orders/IOrderComponent.cs
  Content.Shared/_CM14/Marines/Orders/MarineOrdersComponent.cs
  Content.Shared/_CM14/Marines/Orders/MoveOrderComponent.cs
  Content.Shared/_CM14/Marines/Orders/OrderEvents.cs
  Content.Shared/_CM14/Marines/Orders/Orders.cs
  Content.Shared/_CM14/Marines/Orders/SharedMarineOrdersSystem.cs
  Resources/Locale/en-US/_CM14/marine-orders.ftl
  Resources/Prototypes/_CM14/Actions/Marines/marine_action_base.yml
  Resources/Prototypes/_CM14/Actions/Marines/marine_order_actions.yml
  Resources/Textures/_CM14/Actions/marine_actions.rsi/focus.png
  Resources/Textures/_CM14/Actions/marine_actions.rsi/hold.png
  Resources/Textures/_CM14/Actions/marine_actions.rsi/meta.json
  Resources/Textures/_CM14/Actions/marine_actions.rsi/move.png
  Resources/Textures/_CM14/Interface/marine_orders.rsi/focus.png
  Resources/Textures/_CM14/Interface/marine_orders.rsi/hold.png
  Resources/Textures/_CM14/Interface/marine_orders.rsi/meta.json
  Resources/Textures/_CM14/Interface/marine_orders.rsi/move.png
Labels: Changes: Sprites, Status: Needs Review

#798 New lobby art by JirroZ
  Resources/Prototypes/_CM14/Lobby/lobbyscreens.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/_CM14/Lobby/PutLobbyScreensHere.txt
  Resources/Textures/_CM14/Lobby/PyrotechnicianXeno.png
  Resources/Textures/_CM14/Lobby/PyrotechnicianXeno.png.yml
  Resources/Textures/_CM14/Lobby/attributions.yml
Labels: No C#, Status: Needs Review

#802 Add placeholders for all ColMarTech vendor inventories
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendor_inventories.yml
  Resources/Textures/_CM14/Structures/Machines/VendingMachines/ColMarTech/attachments.rsi/off.png
  Resources/Textures/_CM14/Structures/Machines/VendingMachines/ColMarTech/food.rsi/off.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#803 Add 88 Mod 4 Combat Pistol and 88M4 AP Magazine
  Resources/Prototypes/_CM14/Entities/Objects/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Pistols/uscm_pistols.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendor_inventories.yml
  Resources/Prototypes/_CM14/tags.yml
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/88m4.rsi/base.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/88m4.rsi/base_ap-1.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/88m4.rsi/base_ap.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/88m4.rsi/mag-1.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/88m4.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Guns/Pistols/88m4.rsi/base.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Pistols/88m4.rsi/bolt-open.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Pistols/88m4.rsi/icon.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Pistols/88m4.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Pistols/88m4.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Pistols/88m4.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Guns/Pistols/88m4.rsi/wielded-inhand-left.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Pistols/88m4.rsi/wielded-inhand-right.png
  Resources/migration.yml
Labels: No C#, Changes: Sprites, Status: Needs Review

#804 Add 6 prepared meals, protein bar, canteen/flasks, food vendor inventory
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Drinks/canteen.yml
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Food/bar.yml
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Food/food.yml
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Food/prepared.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendor_inventories.yml
  Resources/Textures/_CM14/Objects/Consumable/Drinks/canteen.rsi/canteen.png
  Resources/Textures/_CM14/Objects/Consumable/Drinks/canteen.rsi/flask.png
  Resources/Textures/_CM14/Objects/Consumable/Drinks/canteen.rsi/flask_uscm.png
  Resources/Textures/_CM14/Objects/Consumable/Drinks/canteen.rsi/flask_wy.png
  Resources/Textures/_CM14/Objects/Consumable/Drinks/canteen.rsi/meta.json
  Resources/Textures/_CM14/Objects/Consumable/Food/bar.rsi/meta.json
  Resources/Textures/_CM14/Objects/Consumable/Food/bar.rsi/protein_bar.png
  Resources/Textures/_CM14/Objects/Consumable/Food/prepared.rsi/chicken.png
  Resources/Textures/_CM14/Objects/Consumable/Food/prepared.rsi/cookies.png
  Resources/Textures/_CM14/Objects/Consumable/Food/prepared.rsi/cornbread.png
  Resources/Textures/_CM14/Objects/Consumable/Food/prepared.rsi/empty.png
  Resources/Textures/_CM14/Objects/Consumable/Food/prepared.rsi/fruit_cake.png
  Resources/Textures/_CM14/Objects/Consumable/Food/prepared.rsi/gingerbread.png
  Resources/Textures/_CM14/Objects/Consumable/Food/prepared.rsi/meta.json
  Resources/Textures/_CM14/Objects/Consumable/Food/prepared.rsi/pasta.png
  Resources/Textures/_CM14/Objects/Consumable/Food/prepared.rsi/pizza.png
  Resources/Textures/_CM14/Objects/Consumable/Food/prepared.rsi/pork.png
  Resources/Textures/_CM14/Objects/Consumable/Food/prepared.rsi/tofu.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#809 Steel
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/airlock.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_metal.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_metal_door.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_sandbag.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_turnstile.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_turnstile_med.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/windoor.yml
  Resources/Prototypes/_CM14/Stacks/Materials/Sheets/metal.yml
  Resources/Textures/_CM14/Objects/Materials/Sheets/metal.rsi/meta.json
  Resources/Textures/_CM14/Objects/Materials/Sheets/metal.rsi/steel.png
  Resources/Textures/_CM14/Objects/Materials/Sheets/metal.rsi/steel_2.png
  Resources/Textures/_CM14/Objects/Materials/Sheets/metal.rsi/steel_3.png
  Resources/Textures/_CM14/Objects/Materials/Sheets/metal.rsi/steel_4.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#814 Add M3-VL pattern ballistics and flak vest, M56 combat harness
  Resources/Prototypes/_CM14/Entities/Objects/Clothing/OuterClothing/uscm_armor.yml
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m3/vl.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m3/vl.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m3/vl.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m3/vl.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m3/vl.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m3/vl_flak.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m3/vl_flak.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m3/vl_flak.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m3/vl_flak.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m3/vl_flak.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m56.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m56.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m56.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m56.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m56.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#815 Add pumping to the M37A2 pump shotgun
  Content.Client/Input/ContentContexts.cs
  Content.Client/UserInterface/Systems/Hands/HandsUIController.cs
  Content.Shared/_CM14/Input/CMKeyFunctions.cs
  Content.Shared/_CM14/Weapons/Ranged/CMPumpActionComponent.cs
  Content.Shared/_CM14/Weapons/Ranged/CMPumpActionSystem.cs
  Resources/Audio/_CM14/Weapons/Guns/Pump/attributions.yml
  Resources/Audio/_CM14/Weapons/Guns/Pump/shotgunpump1.ogg
  Resources/Audio/_CM14/Weapons/Guns/Pump/shotgunpump2.ogg
  Resources/Prototypes/_CM14/Audio/gun_sound_collections.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Shotguns/uscm_shotguns.yml
  Resources/keybinds.yml
Labels: Status: Needs Review

#818 Add test to check that all CM14 entities inherit from CMEntityBase
  Content.IntegrationTests/_CM14/CMEntityBaseTest.cs
  Resources/Prototypes/_CM14/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Player/human.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/human.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Drinks/canteen.yml
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Drinks/wy_water_bottle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_CM14/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Attachments/base_attachment.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Pistols/uscm_pistols.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Rifles/uscm_rifles.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/SMGs/uscm_smgs.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Shotguns/uscm_shotguns.yml
  Resources/Prototypes/_CM14/Entities/Objects/Xeno/xeno_impacts.yml
  Resources/Prototypes/_CM14/Entities/Objects/Xeno/xeno_projectiles.yml
  Resources/Prototypes/_CM14/Entities/Structures/Doors/cm_door.yml
  Resources/Prototypes/_CM14/Entities/Structures/Lighting/lighting.yml
  Resources/Prototypes/_CM14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_CM14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: Status: Needs Review

#819 Add new UI for ColMarTech automated vendors
  Content.Client/Administration/UI/CustomControls/HSeparator.cs
  Content.Client/_CM14/Admin/CMTransformButton.xaml.cs
  Content.Client/_CM14/Vendors/CMAutomatedVendorBui.cs
  Content.Client/_CM14/Vendors/CMAutomatedVendorButton.xaml
  Content.Client/_CM14/Vendors/CMAutomatedVendorButton.xaml.cs
  Content.Client/_CM14/Vendors/CMAutomatedVendorEntry.xaml
  Content.Client/_CM14/Vendors/CMAutomatedVendorEntry.xaml.cs
  Content.Client/_CM14/Vendors/CMAutomatedVendorPanel.xaml
  Content.Client/_CM14/Vendors/CMAutomatedVendorPanel.xaml.cs
  Content.Client/_CM14/Vendors/CMAutomatedVendorSection.xaml
  Content.Client/_CM14/Vendors/CMAutomatedVendorSection.xaml.cs
  Content.Client/_CM14/Vendors/CMAutomatedVendorSystem.cs
  Content.Client/_CM14/Vendors/CMAutomatedVendorWindow.xaml
  Content.Client/_CM14/Vendors/CMAutomatedVendorWindow.xaml.cs
  Content.Server/_CM14/Vendors/CMAutomatedVendorSystem.cs
  Content.Shared/_CM14/Vendors/CMAutomatedVendorComponent.cs
  Content.Shared/_CM14/Vendors/CMAutomatedVendorUI.cs
  Content.Shared/_CM14/Vendors/CMMarinePointsComponent.cs
  Content.Shared/_CM14/Vendors/CMVendorBundleComponent.cs
  Content.Shared/_CM14/Vendors/CMVendorSection.cs
  Content.Shared/_CM14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendor_inventories.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
Labels: Status: Needs Review, Changes: UI

#840 adds wrench and welder
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
Labels: No C#, Status: Needs Review

#729 Barbed wire
  Content.Shared/_CM14/Barricade/BarbedSystem.cs
  Content.Shared/_CM14/Barricade/Components/BarbedComponent.cs
  Content.Shared/_CM14/Barricade/Components/BarbedWireComponent.cs
  Resources/Locale/en-US/_CM14/barbedwire/barbedwire.ftl
  Resources/Prototypes/_CM14/Entities/Objects/Materials/barbedwire.yml
  Resources/Prototypes/_CM14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/materials/barbed_wire.yml
  Resources/Prototypes/_CM14/Recipes/Construction/materials.yml
  Resources/Prototypes/_CM14/Stacks/comtech_stacks.yml
  Resources/Textures/_CM14/Objects/barbed_wire.rsi/barbed_wire.png
  Resources/Textures/_CM14/Objects/barbed_wire.rsi/barbed_wire_2.png
  Resources/Textures/_CM14/Objects/barbed_wire.rsi/barbed_wire_3.png
  Resources/Textures/_CM14/Objects/barbed_wire.rsi/meta.json
  Resources/Textures/_CM14/Structures/Walls/Barricades/barricade.rsi/folding_metal_closed_wire.png
  Resources/Textures/_CM14/Structures/Walls/Barricades/barricade.rsi/folding_metal_wire.png
  Resources/Textures/_CM14/Structures/Walls/Barricades/barricade.rsi/meta.json
  Resources/Textures/_CM14/Structures/Walls/Barricades/barricade.rsi/metal_wire.png
  Resources/Textures/_CM14/Structures/Walls/Barricades/barricade.rsi/plasteel_closed_wire.png
  Resources/Textures/_CM14/Structures/Walls/Barricades/barricade.rsi/plasteel_wire.png
  Resources/Textures/_CM14/Structures/Walls/Barricades/barricade.rsi/sandbag_wire.png
Labels: Changes: Sprites, Status: Needs Review, Issue: Feature Request, Medium Priority

#851 Fixed improper barbed wire to door sprites for barricade
  Resources/Prototypes/_CM14/Entities/Structures/Walls/barricade_metal.yml
Labels: No C#, Status: Needs Review

#862 add CMTestDummy to CMDEV
  Resources/Maps/_CM14/dev_map.yml
Labels: No C#, Status: Needs Review

#863 Player CMMobs
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/skeleton.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Player/human.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/human.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_CM14/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_CM14/Entities/Mobs/debug_mobs.yml
Labels: No C#, Status: Needs Review

#864 Toilets
  Resources/Prototypes/_CM14/Entities/Structures/Furniture/toilet.yml
  Resources/Textures/_CM14/Structures/Furniture/toilet.rsi/closed_toilet_seat_down.png
  Resources/Textures/_CM14/Structures/Furniture/toilet.rsi/closed_toilet_seat_up.png
  Resources/Textures/_CM14/Structures/Furniture/toilet.rsi/meta.json
  Resources/Textures/_CM14/Structures/Furniture/toilet.rsi/open_toilet_seat_down.png
  Resources/Textures/_CM14/Structures/Furniture/toilet.rsi/open_toilet_seat_up.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#865 Plasteel
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_plasteel_door.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/windoor.yml
  Resources/Prototypes/_CM14/Stacks/Materials/Sheets/metal.yml
  Resources/Textures/_CM14/Objects/Materials/Sheets/plasteel.rsi/meta.json
  Resources/Textures/_CM14/Objects/Materials/Sheets/plasteel.rsi/plasteel.png
  Resources/Textures/_CM14/Objects/Materials/Sheets/plasteel.rsi/plasteel_2.png
  Resources/Textures/_CM14/Objects/Materials/Sheets/plasteel.rsi/plasteel_3.png
  Resources/Textures/_CM14/Objects/Materials/Sheets/plasteel.rsi/plasteel_4.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#870 Run RSI Validator on pushes to master
  .github/workflows/validate-rsis.yml
Labels: No C#, Status: Needs Review

#869 Rods
  Resources/Prototypes/_CM14/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/catwalk.yml
  Resources/Prototypes/_CM14/Stacks/Materials/parts.yml
  Resources/Textures/_CM14/Objects/Materials/parts.rsi/meta.json
  Resources/Textures/_CM14/Objects/Materials/parts.rsi/rods.png
  Resources/Textures/_CM14/Objects/Materials/parts.rsi/rods_5.png
  Resources/Textures/_CM14/Objects/Materials/parts.rsi/rods_plasteel.png
  Resources/Textures/_CM14/Objects/Materials/parts.rsi/rods_plasteel_5.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#872 Changed Steel to CMSteel in barbed wire construction.
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/materials/barbed_wire.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_metal_door.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_plasteel_door.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/_CM14/Recipes/Construction/structures.yml
  Resources/Prototypes/_CM14/Stacks/Materials/Sheets/metal.yml
Labels: No C#, Status: Needs Review

#871 Some circuit boards
  Resources/Prototypes/_CM14/Catalog/VendingMachines/Inventories/circuits.yml
  Resources/Prototypes/_CM14/Catalog/VendingMachines/Inventories/electronics.yml
  Resources/Prototypes/_CM14/Entities/Objects/Devices/Circuitboards/Machine/base_machineboard.yml
  Resources/Prototypes/_CM14/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_CM14/Entities/Objects/Devices/Electronics/base_electronics.yml
  Resources/Prototypes/_CM14/Entities/Objects/Devices/Electronics/power_electronics.yml
  Resources/Textures/_CM14/Objects/Misc/module.rsi/blank_mod.png
  Resources/Textures/_CM14/Objects/Misc/module.rsi/card_mod.png
  Resources/Textures/_CM14/Objects/Misc/module.rsi/cyborg_upgrade.png
  Resources/Textures/_CM14/Objects/Misc/module.rsi/cyborg_upgrade1.png
  Resources/Textures/_CM14/Objects/Misc/module.rsi/cyborg_upgrade2.png
  Resources/Textures/_CM14/Objects/Misc/module.rsi/cyborg_upgrade3.png
  Resources/Textures/_CM14/Objects/Misc/module.rsi/cyborg_upgrade4.png
  Resources/Textures/_CM14/Objects/Misc/module.rsi/door_electronics.png
  Resources/Textures/_CM14/Objects/Misc/module.rsi/door_electronics_smoked.png
  Resources/Textures/_CM14/Objects/Misc/module.rsi/id_mod.png
  Resources/Textures/_CM14/Objects/Misc/module.rsi/mainboard.png
  Resources/Textures/_CM14/Objects/Misc/module.rsi/mcontroller.png
  Resources/Textures/_CM14/Objects/Misc/module.rsi/meta.json
  Resources/Textures/_CM14/Objects/Misc/module.rsi/power_mod.png
  Resources/Textures/_CM14/Objects/Misc/module.rsi/std_mod.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#736 Introducing: USS LCS-14 Savannah
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_CM14/savannah.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_CM14/Maps/savannah.yml
Labels: Status: Needs Review

#929 Role fixes
  Resources/Locale/en-US/_CM14/job/job-supervisors.ftl
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/AuxiliarySupport/pilot_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Civilians/correspondent.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Civilians/survivor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/senior_enlisted_advisor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/maint_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Engineering/ordnance_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/smartgunner.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/nurse.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Medical/researcher.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/ChiefMilitaryPolice.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/MilitaryPolice.yml
  Resources/Prototypes/_CM14/Roles/Jobs/MilitaryPolice/MilitaryWarden.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/CargoTech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/MessTech.yml
  Resources/Prototypes/_CM14/Roles/Jobs/Requisitions/Quartermaster.yml
Labels: No C#, Status: Needs Review

#930 update Window title and Icons
  Resources/Textures/Logo/sleeping.ico
  Resources/Textures/Logo/sleeping/icon-256x256.png
  Resources/manifest.yml
Labels: No C#, Status: Needs Review

#931 Fixes command being a primary department
  Resources/Prototypes/_CM14/Roles/Jobs/Departments/command_department.yml
Labels: No C#, Status: Needs Review

#925 Add entrenching tool, filling sandbags and building sandbag barricades
  Content.Client/_CM14/Entrenching/EntrenchingToolVisualsSystem.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.Update.cs
  Content.Shared/Item/ItemToggle/SharedItemToggleSystem.cs
  Content.Shared/_CM14/Entrenching/BarricadeComponent.cs
  Content.Shared/_CM14/Entrenching/ContentTileDefinition.cs
  Content.Shared/_CM14/Entrenching/EmptySandbagComponent.cs
  Content.Shared/_CM14/Entrenching/EntrenchingToolComponent.cs
  Content.Shared/_CM14/Entrenching/EntrenchingToolDoAfterEvent.cs
  Content.Shared/_CM14/Entrenching/EntrenchingToolSystem.cs
  Content.Shared/_CM14/Entrenching/FullSandbagComponent.cs
  Content.Shared/_CM14/Entrenching/SandbagBuildDoAfterEvent.cs
  Content.Shared/_CM14/Entrenching/SandbagFillDoAfterEvent.cs
  Resources/Prototypes/_CM14/Entities/Objects/Tools/etool.yml
  Resources/Prototypes/_CM14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_CM14/Entities/Structures/Walls/sandbags.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/barricade_sandbag.yml
  Resources/Prototypes/_CM14/Recipes/Construction/structures.yml
  Resources/Prototypes/_CM14/Tiles/planet.yml
  Resources/Textures/_CM14/Objects/Materials/sandbag.rsi/meta.json
  Resources/Textures/_CM14/Objects/Materials/sandbag.rsi/sandbag_pile.png
  Resources/Textures/_CM14/Objects/Materials/sandbag.rsi/sandbag_stack.png
  Resources/Textures/_CM14/Objects/Misc/sandbags.rsi/meta.json
  Resources/Textures/_CM14/Objects/Misc/sandbags.rsi/sandbag_pile.png
  Resources/Textures/_CM14/Objects/Misc/sandbags.rsi/sandbag_stack.png
  Resources/Textures/_CM14/Objects/Tools/etool.rsi/etool.png
  Resources/Textures/_CM14/Objects/Tools/etool.rsi/etool_c.png
  Resources/Textures/_CM14/Objects/Tools/etool.rsi/etool_overlay.png
  Resources/Textures/_CM14/Objects/Tools/etool.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#934 Make slug sfire only one projectile
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
Labels: No C#, Status: Needs Review

#937 Moves the clothing folder under Entities (matches upstream)
  Resources/Prototypes/_CM14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Head/Helmets/uscm_helmets.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Head/headband.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_CM14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_CM14/Entities/Clothing/OuterClothing/uscm_armor.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Uniforms/uscm_uniforms.yml
  Resources/Prototypes/_CM14/Entities/Clothing/headsets.yml
  Resources/Prototypes/_CM14/Entities/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Clothing/webbing.yml
Labels: No C#, Status: Needs Review, Low Priority

#940 disables upstream lobby art once again
  Resources/Prototypes/lobbyscreens.yml
Labels: No C#, Status: Needs Review

#941 Updated Savannah
  Resources/Maps/_CM14/savannah.yml
  Resources/Prototypes/_CM14/Maps/savannah.yml
Labels: No C#, Status: Needs Review

#935 Leader gear rack ammunitions
  Resources/Prototypes/_CM14/Entities/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/revolver.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Pistols/uscm_pistols.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Rifles/uscm_rifles.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/SMGs/uscm_smgs.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
  Resources/Prototypes/_CM14/tags.yml
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m39e.rsi/base.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m39e.rsi/mag-1.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m39e.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m41a.rsi/base.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m41a.rsi/mag-1.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m41a.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m41ae.rsi/base.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m41ae.rsi/mag-1.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m41ae.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m4ra.rsi/base.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m4ra.rsi/mag-1.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m4ra.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m4rae.rsi/base.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m4rae.rsi/mag-1.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/Magazines/m4rae.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/base-1.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/base.png
  Resources/Textures/_CM14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#943 Leader gear rack ammunitions
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
Labels: No C#, Status: Needs Review

#944 Attachment crates
  Resources/Prototypes/_CM14/Catalog/Cargo/cargo_attachments.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Crates/attachments.yml
Labels: No C#, Status: Needs Review

#946 APC and SMES
  Resources/Locale/en-US/_CM14/construction/construction-categories.ftl
  Resources/Prototypes/_CM14/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/machine_frame.yml
  Resources/Prototypes/_CM14/Entities/Structures/Power/apc.yml
  Resources/Prototypes/_CM14/Entities/Structures/Power/smes.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/utilities/apc.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/utilities/machine_frame.yml
  Resources/Prototypes/_CM14/Recipes/Construction/utilities.yml
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apc-b.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apc-spark.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apc1-b-nocover.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apc1-nocover.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apc1.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apc2-b-nocover.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apc2-nocover.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apc2.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apcemag.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apcewires.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apco0-0.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apco0-1.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apco0-2.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apco0-3.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apco1-0.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apco1-1.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apco1-2.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apco1-3.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apco2-0.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apco2-1.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apco2-2.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apco2-3.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apcox-0.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/apcox-1.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/base.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/display-charging.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/display-full.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/display-lack.png
  Resources/Textures/_CM14/Structures/Power/apc.rsi/meta.json
  Resources/Textures/_CM14/Structures/Power/apc.rsi/panel.png
  Resources/Textures/_CM14/Structures/Power/smes.rsi/meta.json
  Resources/Textures/_CM14/Structures/Power/smes.rsi/smes-crit.png
  Resources/Textures/_CM14/Structures/Power/smes.rsi/smes-oc0.png
  Resources/Textures/_CM14/Structures/Power/smes.rsi/smes-oc1.png
  Resources/Textures/_CM14/Structures/Power/smes.rsi/smes-oc2.png
  Resources/Textures/_CM14/Structures/Power/smes.rsi/smes-og1.png
  Resources/Textures/_CM14/Structures/Power/smes.rsi/smes-og2.png
  Resources/Textures/_CM14/Structures/Power/smes.rsi/smes-og3.png
  Resources/Textures/_CM14/Structures/Power/smes.rsi/smes-og4.png
  Resources/Textures/_CM14/Structures/Power/smes.rsi/smes-og5.png
  Resources/Textures/_CM14/Structures/Power/smes.rsi/smes-op0.png
  Resources/Textures/_CM14/Structures/Power/smes.rsi/smes-op1.png
  Resources/Textures/_CM14/Structures/Power/smes.rsi/smes.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#956 Plushies!!!
  Resources/Prototypes/_CM14/Entities/Objects/Fun/toys.yml
  Resources/Textures/_CM14/Objects/Fun/plushies.rsi/barricade.png
  Resources/Textures/_CM14/Objects/Fun/plushies.rsi/bee.png
  Resources/Textures/_CM14/Objects/Fun/plushies.rsi/debug.png
  Resources/Textures/_CM14/Objects/Fun/plushies.rsi/farwa.png
  Resources/Textures/_CM14/Objects/Fun/plushies.rsi/meta.json
  Resources/Textures/_CM14/Objects/Fun/plushies.rsi/rock.png
  Resources/Textures/_CM14/Objects/Fun/plushies.rsi/runner_beret.png
  Resources/Textures/_CM14/Objects/Fun/plushies.rsi/therapy.png
  Resources/Textures/_CM14/Objects/Fun/plushies.rsi/yautja.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#957 Bedsheets
  Resources/Prototypes/_CM14/Entities/Markers/Spawners/Random/bedsheet.yml
  Resources/Prototypes/_CM14/Entities/Objects/Misc/bedsheets.yml
  Resources/Textures/_CM14/Objects/Misc/bedsheets.rsi/meta.json
  Resources/Textures/_CM14/Objects/Misc/bedsheets.rsi/sheetblue.png
  Resources/Textures/_CM14/Objects/Misc/bedsheets.rsi/sheetbrown.png
  Resources/Textures/_CM14/Objects/Misc/bedsheets.rsi/sheetgray.png
  Resources/Textures/_CM14/Objects/Misc/bedsheets.rsi/sheetgrayorange.png
  Resources/Textures/_CM14/Objects/Misc/bedsheets.rsi/sheetgreen.png
  Resources/Textures/_CM14/Objects/Misc/bedsheets.rsi/sheetmedical.png
  Resources/Textures/_CM14/Objects/Misc/bedsheets.rsi/sheetorange.png
  Resources/Textures/_CM14/Objects/Misc/bedsheets.rsi/sheetorangefull.png
  Resources/Textures/_CM14/Objects/Misc/bedsheets.rsi/sheetpurple.png
  Resources/Textures/_CM14/Objects/Misc/bedsheets.rsi/sheetred.png
  Resources/Textures/_CM14/Objects/Misc/bedsheets.rsi/sheetwhite.png
  Resources/Textures/_CM14/Objects/Misc/bedsheets.rsi/sheetyellow.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#960 Add requisitions
  Content.Client/_CM14/Requisitions/RequisitionsBui.cs
  Content.Client/_CM14/Requisitions/RequisitionsCategoryView.xaml
  Content.Client/_CM14/Requisitions/RequisitionsCategoryView.xaml.cs
  Content.Client/_CM14/Requisitions/RequisitionsMainView.xaml
  Content.Client/_CM14/Requisitions/RequisitionsMainView.xaml.cs
  Content.Client/_CM14/Requisitions/RequisitionsOrderButton.xaml
  Content.Client/_CM14/Requisitions/RequisitionsOrderButton.xaml.cs
  Content.Client/_CM14/Requisitions/RequisitionsOrderCategoriesView.xaml
  Content.Client/_CM14/Requisitions/RequisitionsOrderCategoriesView.xaml.cs
  Content.Client/_CM14/Requisitions/RequisitionsSystem.cs
  Content.Client/_CM14/Requisitions/RequisitionsWindow.xaml
  Content.Client/_CM14/Requisitions/RequisitionsWindow.xaml.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/_CM14/Requisitions/RequisitionsSystem.cs
  Content.Shared/_CM14/Requisitions/Components/RequisitionsAccountComponent.cs
  Content.Shared/_CM14/Requisitions/Components/RequisitionsComputerComponent.cs
  Content.Shared/_CM14/Requisitions/Components/RequisitionsCrateComponent.cs
  Content.Shared/_CM14/Requisitions/Components/RequisitionsElevatorComponent.cs
  Content.Shared/_CM14/Requisitions/Components/RequisitionsGearComponent.cs
  Content.Shared/_CM14/Requisitions/Components/RequisitionsRailingComponent.cs
  Content.Shared/_CM14/Requisitions/RequisitionsCategory.cs
  Content.Shared/_CM14/Requisitions/RequisitionsEntry.cs
  Content.Shared/_CM14/Requisitions/RequisitionsUI.cs
  Content.Shared/_CM14/Requisitions/SharedRequisitionsSystem.cs
  Resources/Audio/_CM14/Machines/asrs_lowering.ogg
  Resources/Audio/_CM14/Machines/asrs_raising.ogg
  Resources/Audio/_CM14/Machines/attributions.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/requisitions.yml
  Resources/Prototypes/_CM14/Entities/Structures/Storage/crates.yml
  Resources/Textures/_CM14/Effects/elevator.rsi/meta.json
  Resources/Textures/_CM14/Effects/elevator.rsi/supply_elevator_lowered.png
  Resources/Textures/_CM14/Effects/elevator.rsi/supply_elevator_lowering.png
  Resources/Textures/_CM14/Effects/elevator.rsi/supply_elevator_raised.png
  Resources/Textures/_CM14/Effects/elevator.rsi/supply_elevator_raising.png
  Resources/Textures/_CM14/Structures/gear.rsi/base.png
  Resources/Textures/_CM14/Structures/gear.rsi/meta.json
  Resources/Textures/_CM14/Structures/gear.rsi/moving.png
  Resources/Textures/_CM14/Structures/railing.rsi/icon.png
  Resources/Textures/_CM14/Structures/railing.rsi/lowered.png
  Resources/Textures/_CM14/Structures/railing.rsi/lowering.png
  Resources/Textures/_CM14/Structures/railing.rsi/meta.json
  Resources/Textures/_CM14/Structures/railing.rsi/raised.png
  Resources/Textures/_CM14/Structures/railing.rsi/raising.png
  SpaceStation14.sln.DotSettings
Labels: Changes: Sprites, Status: Needs Review, Changes: UI

#961 Add falling down the requisitions elevator
  Content.Server/_CM14/Requisitions/RequisitionsSystem.cs
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Content.Shared/_CM14/Requisitions/Components/RequisitionsRailingComponent.cs
  Content.Shared/_CM14/Requisitions/SharedRequisitionsSystem.cs
  Resources/Prototypes/_CM14/Entities/Structures/Machines/requisitions.yml
Labels: Status: Needs Review

#963 Pouch fix
  Resources/Prototypes/_CM14/Entities/Clothing/pouches.yml
Labels: No C#, Status: Needs Review
