Repository RMC-14/RMC-14, pull requests merged in 2024-09, with the labels that each got.

#3931 Fix shield break not being mono
  Resources/Audio/_RMC14/Bullets/shield_break_c1.ogg
Labels: No C#, Status: Needs Review

#3929 Change USCM to UNMC for Scout's las-des.
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/binoculars.yml
Labels: No C#, Status: Needs Review

#3937 Sentry Additions
  Content.Shared/_RMC14/Sentry/SentryComponent.cs
  Content.Shared/_RMC14/Sentry/SentrySystem.cs
  Resources/Locale/en-US/_RMC14/rmc-sentry.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/sentries.yml
Labels: Status: Needs Review

#3904 Medilathe + Vial Storage Box
  Resources/Audio/_RMC14/Machines/attributions.yml
  Resources/Audio/_RMC14/Machines/print.ogg
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/Sheets/plastic.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/surgical_tray.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/vial_box.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe_recipes.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/medilathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/medilathe_recipes.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/medical.yml
  Resources/Prototypes/_RMC14/tags.yml
  Resources/Textures/_RMC14/Objects/Storage/surgical_tray.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Storage/surgical_tray.rsi/surgical_tray.png
  Resources/Textures/_RMC14/Objects/Storage/surgical_tray.rsi/surgical_tray_base.png
  Resources/Textures/_RMC14/Objects/Storage/surgical_tray.rsi/surgical_tray_cover.png
  Resources/Textures/_RMC14/Objects/Storage/surgical_tray.rsi/surgical_tray_empty.png
  Resources/Textures/_RMC14/Objects/Storage/vial_box.rsi/cover.png
  Resources/Textures/_RMC14/Objects/Storage/vial_box.rsi/led0.png
  Resources/Textures/_RMC14/Objects/Storage/vial_box.rsi/led1.png
  Resources/Textures/_RMC14/Objects/Storage/vial_box.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Storage/vial_box.rsi/vialbox.png
  Resources/Textures/_RMC14/Objects/Storage/vial_box.rsi/vialbox1.png
  Resources/Textures/_RMC14/Objects/Storage/vial_box.rsi/vialbox2.png
  Resources/Textures/_RMC14/Objects/Storage/vial_box.rsi/vialbox3.png
  Resources/Textures/_RMC14/Objects/Storage/vial_box.rsi/vialbox4.png
  Resources/Textures/_RMC14/Objects/Storage/vial_box.rsi/vialbox5.png
  Resources/Textures/_RMC14/Objects/Storage/vial_box.rsi/vialbox6.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/medilathe.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/medilathe_f.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/medilathe_n.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/medilathe_n_f.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/medilathe_n_u.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/medilathe_n_u_f.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/medilathe_o.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/medilathe_o_f.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/medilathe_r.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/medilathe_r_f.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/medilathe_t.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/medilathe_t_f.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/medilathe_u.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/medilathe_u_f.png
  Resources/Textures/_RMC14/Structures/Machines/medilathe.rsi/meta.json
Labels: No C#, Changes: Sprites

#3910 Marines get slowed without shoes
  Content.Shared/_RMC14/Clothing/NoClothingSlowdownComponent.cs
  Content.Shared/_RMC14/Clothing/RMCClothingSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#3951 Fix mortar placement and fire inconsistencies between areas
  Content.Scripts/AreaImporter.cs
  Content.Server/_RMC14/Areas/AreasCommand.cs
  Content.Server/_RMC14/Mortar/MortarSystem.cs
  Content.Shared/_RMC14/Areas/AreaComponent.cs
  Content.Shared/_RMC14/Areas/AreaHijackEvacuationType.cs
  Content.Shared/_RMC14/Mortar/SharedMortarSystem.cs
  Resources/Prototypes/_RMC14/Entities/Areas/areas_almayer.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_base.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_fiorina.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_lv.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_shiva.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_solaris.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_space.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_sulaco.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_supply.yml
  Resources/Prototypes/_RMC14/Entities/Areas/savannah.yml
Labels: Status: Needs Review

#3932 add figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/walks-the-graves.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#3933 Add sniper and omni sentrys
  Content.Shared/_RMC14/Sentry/SentryComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/sentries.yml
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/omni_uad_sentry.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/omni_uad_sentry_destroyed.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/omni_uad_sentry_handheld.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/omni_uad_sentry_noammo.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/omni_uad_sentry_on.png
Labels: Changes: Sprites, Status: Needs Review

#3953 Make players able to see what's on the other side of the stairs, allow pulling through stairs
  Content.Client/_RMC14/NightVision/NightVisionOverlay.cs
  Content.Client/_RMC14/Teleporter/RMCTeleporterSystem.cs
  Content.Client/_RMC14/Teleporter/RMCTeleporterViewerOverlay.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/_RMC14/Teleporter/SharedRMCTeleporterSystem.cs
  Resources/Prototypes/_RMC14/Entities/Markers/rmc_teleport_marker.yml
Labels: Status: Needs Review

#3954 Make SL/Queen trackers account for camera rotation
  Content.Shared/_RMC14/Tracker/TrackerSystem.cs
Labels: Status: Needs Review

#3955 Add missing mortar operator belt to the comtech equipment rack
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
Labels: Status: Needs Review

#3957 Save area data on Savannah, fix camera names
  Resources/Maps/_RMC14/savannah.yml
Labels: No C#, Status: Needs Review, Changes: Map

#3958 Fix xenonid eggs being able to be placed under vendors, lockers, crates, chairs, etc
  Content.Shared/_RMC14/Xenonids/Construction/Nest/XenoNestSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
Labels: Status: Needs Review

#3947 Resize Felinids to normal size
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/felinid.yml
Labels: No C#, Status: Needs Review

#3959 Fix shotgun slugs not firing any projectiles
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
Labels: No C#, Status: Needs Review

#3960 Fix melee xeno slows being permanent
  Content.Shared/_RMC14/Xenonids/MeleeSlow/XenoMeleeSlowSystem.cs
Labels: Status: Needs Review

#3979 Fix rouny speed
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
Labels: No C#, Status: Needs Review

#3969 Backpacks instant open on floor
  Content.Shared/_RMC14/Storage/RMCStorageSystem.cs
  Content.Shared/_RMC14/Storage/StorageOpenDoAfterComponent.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/backpacks.yml
Labels: Status: Needs Review

#3928 Add Parasite AI
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/_RMC14/NPC/Components/NPCLeapComponent.cs
  Content.Server/_RMC14/NPC/HTN/LeapOperator.cs
  Content.Server/_RMC14/NPC/Systems/NPCLeapSystem.cs
  Content.Server/_RMC14/NPC/TargetInfectableCon.cs
  Content.Server/_RMC14/NPC/TargetIsDownCon.cs
  Content.Server/_RMC14/NPC/TargetIsStandingCon.cs
  Content.Server/_RMC14/NPC/TargetOpenEggCon.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
  Resources/Prototypes/_RMC14/NPC/parasite.yml
Labels: Status: Needs Review

#3838 Add action for using the whistle on the action bar
  Content.Shared/Sound/SharedEmitSoundSystem.cs
  Content.Shared/_RMC14/Sound/CMSoundSystem.cs
  Content.Shared/_RMC14/Sound/EmitSoundOnActionComponent.cs
  Content.Shared/_RMC14/Sound/SoundActionEvent.cs
  Content.Shared/_RMC14/Whistle/RMCWhistleComponent.cs
  Content.Shared/_RMC14/Whistle/RMCWhistleSystem.cs
  Resources/Prototypes/_RMC14/Actions/Marines/marine_action_items.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/whistle.yml
Labels: Status: Needs Review

#3965 Add size-based stuns + small fixes
  Content.Shared/_RMC14/Stun/AmmoSlowedComponent.cs
  Content.Shared/_RMC14/Stun/RMCSizeComponent.cs
  Content.Shared/_RMC14/Stun/RMCSizeStunSystem.cs
  Content.Shared/_RMC14/Stun/RMCStunOnHitComponent.cs
  Content.Shared/_RMC14/Xenonids/Devour/XenoDevourComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/NeurotoxinComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
  Content.Shared/_RMC14/Xenonids/Stomp/XenoStompComponent.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-stun.ftl
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/weapon_specialist_ammo.yml
  Resources/Prototypes/_RMC14/Effects/freeze.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/specialist_loadouts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/revolver.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/marine_rifles.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/base-unshaded-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/base-unshaded-2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/base-unshaded-3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/base-unshaded-4.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/base-unshaded-5.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/marksman-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/marksman-2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/marksman-3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/marksman-4.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/marksman-5.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/SpeedLoaders/m44.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#3543 Implements removing ammo from shotguns and grenade launchers
  Content.Shared/_RMC14/Attachable/Systems/AttachableHolderSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/CMGunSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCAmmoEjectComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/marine_launchers.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/marine_pistols.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/marine_rifles.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/marine_shotguns.yml
Labels: Status: Needs Review

#3879 Clipboard Upgrades
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/clipboard.yml
  Resources/Textures/_RMC14/Objects/Misc/clipboard.rsi/clipboard.png
  Resources/Textures/_RMC14/Objects/Misc/clipboard.rsi/clipboard_over.png
  Resources/Textures/_RMC14/Objects/Misc/clipboard.rsi/clipboard_paper.png
  Resources/Textures/_RMC14/Objects/Misc/clipboard.rsi/clipboard_pen.png
  Resources/Textures/_RMC14/Objects/Misc/clipboard.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Misc/clipboard.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Misc/clipboard.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Misc/clipboard.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/clipboard_pen.png
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3422 Variable-zoom scopes, damage falloff, masterkey damage modifiers
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/_RMC14/Armor/Magnetic/RMCMagneticArmorComponent.cs
  Content.Shared/_RMC14/Armor/Magnetic/RMCMagneticItemComponent.cs
  Content.Shared/_RMC14/Armor/Magnetic/RMCMagneticSystem.cs
  Content.Shared/_RMC14/Armor/Magnetic/RMCMagnetizeItemEvent.cs
  Content.Shared/_RMC14/Attachable/AttachableData.cs
  Content.Shared/_RMC14/Attachable/Components/AttachableMagneticComponent.cs
  Content.Shared/_RMC14/Attachable/Components/AttachableToggleableComponent.cs
  Content.Shared/_RMC14/Attachable/Events/AttachableToggleableInterruptEvent.cs
  Content.Shared/_RMC14/Attachable/Systems/AttachableHolderSystem.cs
  Content.Shared/_RMC14/Attachable/Systems/AttachableMagneticSystem.cs
  Content.Shared/_RMC14/Attachable/Systems/AttachableModifiersSystem.Ranged.cs
  Content.Shared/_RMC14/Attachable/Systems/AttachablePreventDropSystem.cs
  Content.Shared/_RMC14/Attachable/Systems/AttachableToggleableSystem.cs
  Content.Shared/_RMC14/Projectiles/RMCProjectileDamageFalloffComponent.cs
  Content.Shared/_RMC14/Projectiles/RMCProjectileSystem.cs
  Content.Shared/_RMC14/Scoping/ScopeComponent.cs
  Content.Shared/_RMC14/Scoping/ScopeCycleZoomLevelEvent.cs
  Content.Shared/_RMC14/Scoping/SharedScopeSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/CMGunSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/GetDamageFalloffEvent.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCExtraProjectilesDamageModsComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCWeaponDamageFalloffComponent.cs
  Resources/Locale/en-US/_RMC14/actions/scoping.ftl
  Resources/Locale/en-US/_RMC14/attachable/attachable.ftl
  Resources/Prototypes/_RMC14/Actions/Marines/marine_action_items.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/binoculars.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/smg.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/sniper.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/barrel_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/rail_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/marine_rifles.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/cm_base_gun.yml
Labels: Status: Needs Review, Merge Conflict

#3919 fix(healthscanner): Add a basic component to allow for scanning.
  Content.Server/_RMC14/Medical/Scanner/HealthScannerSystem.cs
  Content.Shared/_RMC14/Medical/Scanner/HealthScannableContainerComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bodybags.yml
Labels: Status: Needs Review

#3982 Fix sentries fitting non-sentry mags
  Content.Shared/_RMC14/Sentry/SentryComponent.cs
  Content.Shared/_RMC14/Sentry/SentrySystem.cs
  Resources/Locale/en-US/_RMC14/rmc-sentry.ftl
Labels: Status: Needs Review

#3984 Add Upstream to RMC migrations
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#3985 Fix scout impact ammo mixed crate containing impact crates...
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/weapon_specialist_ammo.yml
Labels: No C#, Status: Needs Review

#3988 Fix pressing shift undeploying your bipod, stopping overwatch, stopping xenonid watch, etc
  Content.Shared/_RMC14/Attachable/Systems/AttachableToggleableSystem.cs
  Content.Shared/_RMC14/Ladder/SharedLadderSystem.cs
  Content.Shared/_RMC14/Marines/HyperSleep/SharedHyperSleepChamberSystem.cs
  Content.Shared/_RMC14/Overwatch/SharedOverwatchConsoleSystem.cs
  Content.Shared/_RMC14/Scoping/SharedScopeSystem.User.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Watch/SharedWatchXenoSystem.cs
Labels: Status: Needs Review

#3991 Fix Queen screech not unbuckling power loader operators
  Content.Shared/_RMC14/PowerLoader/PowerLoaderSystem.cs
  Content.Shared/_RMC14/Xenonids/Screech/SharedXenoScreechSystem.cs
Labels: Status: Needs Review

#3994 Add a 1 second cooldown between Boiler Bombard attempts
  Content.Shared/_RMC14/Xenonids/Bombard/XenoBombardSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: Status: Needs Review

#3993 Fix elevators not pitting players after a climb
  Content.Server/_RMC14/Requisitions/RequisitionsSystem.cs
  Content.Shared/_RMC14/Requisitions/Components/RequisitionsElevatorComponent.cs
Labels: Status: Needs Review

#3983 Fix m54c mag box label
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.rsi/text_m54.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4001 Round end soundtracks, planet map vote, actually fix area ceilings
  Content.Client/Voting/UI/VotePopup.xaml
  Content.Scripts/AreaImporter.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleComponent.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Resources/Audio/_RMC14/Announcements/RoundEnd/attributions.yml
  Resources/Audio/_RMC14/Announcements/RoundEnd/marine_major.ogg
  Resources/Audio/_RMC14/Announcements/RoundEnd/marine_minor.ogg
  Resources/Audio/_RMC14/Announcements/RoundEnd/xeno_major.ogg
  Resources/Audio/_RMC14/Announcements/RoundEnd/xeno_minor.ogg
  Resources/ConfigPresets/Build/development.toml
  Resources/Locale/en-US/_RMC14/game-presets/distress-signal-preset.ftl
  Resources/Prototypes/_RMC14/Audio/round_end_sound_collections.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_lv.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_shiva.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_solaris.yml
Labels: Status: Needs Review, Changes: UI

#4002 Add hive cores blocking CAS and mortar fire within a 10 tile range
  Content.Server/_RMC14/Mortar/MortarSystem.cs
  Content.Shared/_RMC14/Areas/AreaSystem.cs
  Content.Shared/_RMC14/Areas/RoofingEntityComponent.cs
  Content.Shared/_RMC14/Mortar/SharedMortarSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_hive.yml
Labels: Status: Needs Review

#4000 Add empty state to CMStorageVisualizerComponent
  Content.Client/_RMC14/Storage/CMStorageVisualizerSystem.cs
  Content.Shared/_RMC14/Storage/CMStorageVisualizerComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/packets.yml
Labels: Status: Needs Review

#4003 Update figurines
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/honkzee_beezs.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/seth_sleeper.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4005 Fix sniper sentry doing x2 as much damage as it should be
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/sentries.yml
Labels: No C#, Status: Needs Review

#4016 Fix a rare case that made an invisible scout spec visible
  Content.Shared/_RMC14/Armor/ThermalCloak/ThermalCloakSystem.cs
Labels: Status: Needs Review

#4012 Fix sentry health typos
  Resources/Locale/en-US/_RMC14/rmc-sentry.ftl
Labels: No C#, Status: Needs Review

#4019 Fix being unable to put impact cartridges back into their magazine
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
Labels: No C#, Status: Needs Review

#4022 Add landing zone gas until first drop
  Content.Server/_RMC14/Rules/CMDistressSignalRuleComponent.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Server/_RMC14/Spawners/DeleteOnLandingComponent.cs
  Content.Server/_RMC14/Spawners/RMCSpawnerSystem.cs
  Content.Shared/_RMC14/Damage/DamageOverTimeComponent.cs
  Content.Shared/_RMC14/Damage/SharedRMCDamageableSystem.cs
  Content.Shared/_RMC14/Damage/UserDamageOverTimeComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_smoke.yml
  Resources/Prototypes/_RMC14/Entities/Objects/poison_gas.yml
Labels: Status: Needs Review

#4021 Fix mortars making the firing sound when reloading
  Content.Shared/_RMC14/Mortar/SharedMortarSystem.cs
Labels: Status: Needs Review

#4024 Rotting now shows permently deceased on health scanner
  Content.Client/_RMC14/Medical/HUD/ShowHolocardIconsSystem.cs
  Content.Client/_RMC14/Medical/Scanner/HealthScannerBoundUserInterface.cs
  Content.Client/_RMC14/Medical/Scanner/HealthScannerWindow.xaml
  Resources/Locale/en-US/_RMC14/medical/holocard.ftl
Labels: Status: Needs Review, Changes: UI

#4041 Make NPCLeapSystem use movercoordinates
  Content.Server/_RMC14/NPC/Components/NPCLeapComponent.cs
  Content.Server/_RMC14/NPC/Systems/NPCLeapSystem.cs
Labels: Status: Needs Review

#4034 Fix larva being attached to bags/xenos
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
Labels: Status: Needs Review

#4033 Add size changes to fortify and crest
  Content.Shared/_RMC14/Xenonids/Crest/XenoCrestComponent.cs
  Content.Shared/_RMC14/Xenonids/Crest/XenoCrestSystem.cs
  Content.Shared/_RMC14/Xenonids/Fortify/XenoFortifyComponent.cs
  Content.Shared/_RMC14/Xenonids/Fortify/XenoFortifySystem.cs
Labels: Status: Needs Review

#4004 Prevent Animals From Suffocating
  Resources/Prototypes/_RMC14/Entities/Mobs/NPCs/animals.yml
Labels: No C#, Status: Needs Review

#4035 Fix crusher stomp visuals
  Content.Shared/_RMC14/Xenonids/Stomp/SharedXenoStompSystem.cs
Labels: Status: Needs Review

#4028 Make the fire first aid kit orange
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/firstaidkits.yml
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/firefirstaid-inhand-left.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/firefirstaid-inhand-right.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#4032 Add Health bars and icons to ghost HUD
  Content.Client/_RMC14/Xenonids/Hud/XenoHudOverlay.cs
  Content.Client/_RMC14/Xenonids/Pheromones/XenoPheromonesOverlay.cs
  Content.Server/_RMC14/Mobs/CMGhostSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: Status: Needs Review

#4023 Fix force moving keeping your momentum
  Content.Shared/_RMC14/Stun/RMCSizeStunSystem.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
Labels: Status: Needs Review

#4047 Make bonus Req starting money scale with player count instead of being flat, ow console damage kicks you out
  Content.Server/_RMC14/Requisitions/RequisitionsSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Overwatch/SharedOverwatchConsoleSystem.cs
  Content.Shared/_RMC14/Requisitions/Components/RequisitionsAccountComponent.cs
  Content.Shared/_RMC14/Stealth/RMCPassiveStealthSystem.cs
Labels: Status: Needs Review

#4048 Add signal flare packs to FTL vendor
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
Labels: No C#

#4027 Fix DNR medical icon
  Content.Client/_RMC14/Medical/HUD/CMHealthIconsSystem.cs
  Content.Server/_RMC14/Connection/MindCheckSystem.cs
  Content.Shared/_RMC14/Connection/MindCheckComponent.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#4049 Temporarily double sniper spec bullet damage
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/sniper.yml
Labels: No C#

#4018 Make the humanoid bullet hitbox slightly smaller
  Content.Shared/Physics/CollisionGroup.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
Labels: No C#, Status: Needs Review

#4054 Update the in-game Roadmap
  Content.Client/_RMC14/Roadmap/RoadmapWindow.xaml
Labels: No C#, Status: Needs Review, Changes: UI

#4030 Buffs Lurker shove
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lurker.yml
Labels: No C#, Status: Needs Review

#4057 Fix explosions not deleting smoke and boiler gas
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Shared/_RMC14/Explosion/DeleteOnExplosionComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_smoke.yml
Labels: Status: Needs Review

#4061 Fix sentry no damage text
  Resources/Locale/en-US/_RMC14/rmc-sentry.ftl
Labels: No C#, Status: Needs Review

#4062 Port donuts and Donut boxes
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/donuts.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
  Resources/Textures/_RMC14/Objects/Consumable/Food/donuts.rsi/donut1.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/donuts.rsi/donut2.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/donuts.rsi/jellyDonut1.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/donuts.rsi/jellyDonut2.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/donuts.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/box.png
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/boxopen.png
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/do1.png
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/do2.png
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/do3.png
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/do4.png
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/do5.png
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/do6.png
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/fdo1.png
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/fdo2.png
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/fdo3.png
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/fdo4.png
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/fdo5.png
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/fdo6.png
  Resources/Textures/_RMC14/Objects/Storage/donutbox.rsi/meta.json
  Resources/migration.yml
Labels: No C#, Changes: Sprites, Status: Needs Review

#4052 Make landing signs a dynamic structure
  Resources/Prototypes/_RMC14/Entities/Structures/Misc/landing_signs.yml
Labels: No C#, Status: Needs Review

#4068 Fix examine flickering until you examine something around you
  Content.Client/Examine/ExamineSystem.cs
Labels: Status: Needs Review

#4077 add sound when a marine shakes another marine
  Content.Shared/_RMC14/ShakeStun/StunShakeableComponent.cs
  Content.Shared/_RMC14/ShakeStun/StunShakeableSystem.cs
Labels: Status: Needs Review

#4050 Revise most Xeno action descriptions
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_utility_actions.yml
Labels: No C#, Status: Needs Review

#4073 Binocular Armor Whitelist
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
Labels: No C#, Status: Needs Review

#4066 give weeds the resin break sound
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: No C#, Status: Needs Review

#4074 Squad icons can only be seen if you're wearing a headset, shade marine icons
  Content.Client/_RMC14/Marines/MarineOverlay.cs
  Content.Server/_RMC14/Mobs/CMGhostSystem.cs
  Content.Shared/_RMC14/Marines/GrantMarineIconsComponent.cs
  Content.Shared/_RMC14/Marines/SharedMarineSystem.cs
  Content.Shared/_RMC14/Marines/ShowMarineIconsComponent.cs
  Content.Shared/_RMC14/Mobs/CMGhostMarineHudComponent.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
Labels: Status: Needs Review

#4075 XO items
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
Labels: No C#, Status: Needs Review

#4051 Fix almost dead icon + fix dnr not appearing after taking a ghost role
  Content.Client/_RMC14/Medical/HUD/CMHealthIconsSystem.cs
  Content.Server/_RMC14/Connection/MindCheckSystem.cs
  Content.Shared/_RMC14/Connection/MindCheckComponent.cs
Labels: Status: Needs Review

#4076 Add shield impact sounds
  Content.Shared/_RMC14/Shields/XenoShieldComponent.cs
  Content.Shared/_RMC14/Shields/XenoShieldSystem.cs
  Resources/Audio/_RMC14/Bullets/attributions.yml
  Resources/Audio/_RMC14/Bullets/shield_impact_c1.ogg
  Resources/Audio/_RMC14/Bullets/shield_impact_c2.ogg
  Resources/Audio/_RMC14/Bullets/shield_impact_c3.ogg
  Resources/Audio/_RMC14/Bullets/shield_impact_c4.ogg
  Resources/Prototypes/_RMC14/SoundCollections/shield_impact.yml
Labels: Status: Needs Review

#4083 Make dropship fab printing take 3 seconds
  Content.Shared/_RMC14/Dropship/Fabricator/DropshipFabricatorPrintableComponent.cs
Labels: Status: Needs Review

#4086 Changes the CO lifesaver bag to the filled version
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
Labels: No C#, Status: Needs Review

#4087 Fix not being able to immediately melee with a gun after shooting it
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/cm_base_gun.yml
Labels: Status: Needs Review

#4071 make window frames deconstructable with a wrench
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_ai.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_almayer.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_colony.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_colony_reinforced.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_corsat_reinforced.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_kutjevo.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_kutjevo_reinforced.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_prison.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_shiva.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_solaris.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_solaris_reinforced.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_strata.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_white.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/window_wood.yml
Labels: No C#, Status: Needs Review

#4092 Handcuff Box and rename
  Resources/Prototypes/_RMC14/Catalog/Fills/Boxes/handcuff_box.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/police.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#4090 Fix sniper sight name + scout medhud
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
Labels: No C#, Status: Needs Review

#4010 Add Shotgun sentry
  Content.Client/_RMC14/Sentry/SentryAnimationVisualizer.cs
  Content.Shared/_RMC14/Sentry/SentryComponent.cs
  Content.Shared/_RMC14/Sentry/SentrySpikesComponent.cs
  Content.Shared/_RMC14/Sentry/SentrySystem.cs
  Resources/Locale/en-US/_RMC14/rmc-sentry.ftl
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/sentry.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/sentries.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/un12g.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/un12g.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/un12g.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#4040 Added a RMC Target
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/target.yml
  Resources/Textures/_RMC14/Objects/Misc/target.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/target.rsi/target_a.png
  Resources/Textures/_RMC14/Objects/Misc/target.rsi/target_q.png
  Resources/migration.yml
Labels: No C#, Changes: Sprites, Status: Needs Review

#3674 Scabbards
  Content.Shared/_RMC14/Armor/CMArmorSystem.cs
  Content.Shared/_RMC14/Armor/ClothingIgnoreBlockBackpackComponent.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/scabbards.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
  Resources/Prototypes/_RMC14/tags.yml
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_h5.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_h5.rsi/full-equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_h5.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_h5.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_h5.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_h5.rsi/sheath-machete.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_h5.rsi/sheath.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_sg.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_sg.rsi/full-equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_sg.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_sg.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_sg.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_sg.rsi/sheath-machete.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_sg.rsi/sheath.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/shotgun.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/shotgun.rsi/full-equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/shotgun.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/shotgun.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/shotgun.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/shotgun.rsi/sheath-shotgun.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/shotgun.rsi/sheath.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4097 Fix breaking a Warrior Lunge not cancelling the stun and knockdown on the target, fix punch and fling not breaking self pulls on the target entity
  Content.Shared/_RMC14/Pulling/ActivePreventPulledWhileAliveComponent.cs
  Content.Shared/_RMC14/Pulling/BlockPullingDeadActiveComponent.cs
  Content.Shared/_RMC14/Pulling/BlockPullingDeadComponent.cs
  Content.Shared/_RMC14/Pulling/PreventPulledWhileAliveComponent.cs
  Content.Shared/_RMC14/Pulling/PullWhitelistComponent.cs
  Content.Shared/_RMC14/Pulling/PullingSlowedComponent.cs
  Content.Shared/_RMC14/Pulling/RMCPullingSystem.cs
  Content.Shared/_RMC14/Pulling/SlowOnPullComponent.cs
  Content.Shared/_RMC14/Xenonids/Fling/XenoFlingSystem.cs
  Content.Shared/_RMC14/Xenonids/Lunge/XenoLungeStunnedComponent.cs
  Content.Shared/_RMC14/Xenonids/Lunge/XenoLungeSystem.cs
  Content.Shared/_RMC14/Xenonids/Punch/XenoPunchSystem.cs
Labels: Status: Needs Review

#4096 Gun prediction/lag compensation, fix melee attack lag compensation
  Content.Client/Projectiles/ProjectileSystem.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Client/_RMC14/Weapons/Ranged/Prediction/GunPredictionSystem.cs
  Content.Server/Movement/Systems/LagCompensationSystem.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/_RMC14/Weapons/Ranged/Prediction/GunPredictionSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Weapons/Ranged/Components/RangedDamageSoundComponent.cs
  Content.Shared/Weapons/Ranged/Events/RequestShootEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedFlyBySoundSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Random/SplitMix64.cs
  Content.Shared/_RMC14/Random/Xoroshiro64S.cs
  Content.Shared/_RMC14/Weapons/Ranged/CMGunSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/MaxLinearVelocityMsg.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileClientComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileHitComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileHitEvent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileServerComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/SharedGunPredictionSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Status: Needs Review

#4031 Add M15 fragmentation grenade
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/explosives.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/packets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m15frag.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m15frag.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m15frag.rsi/primed.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4013 You can now take over parasite eggs with a right click verb.
  Content.Client/_RMC14/Xenonids/Egg/XenoEggGhostBui.cs
  Content.Client/_RMC14/Xenonids/Egg/XenoEggGhostWindow.xaml
  Content.Client/_RMC14/Xenonids/Egg/XenoEggGhostWindow.xaml.cs
  Content.Server/_RMC14/Xenonids/Egg/XenoEggRoleSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-eggs.ftl
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_egg.yml
Labels: Status: Needs Review, Changes: UI

#4072 Add xeno emoting
  Content.Server/_RMC14/Xenonids/XenoEmoteSystem.cs
  Content.Shared/_RMC14/Xenonids/XenoComponent.cs
  Resources/Audio/_RMC14/Xeno/alien_growl1.ogg
  Resources/Audio/_RMC14/Xeno/alien_growl2.ogg
  Resources/Audio/_RMC14/Xeno/alien_growl3.ogg
  Resources/Audio/_RMC14/Xeno/alien_help1.ogg
  Resources/Audio/_RMC14/Xeno/alien_help2.ogg
  Resources/Audio/_RMC14/Xeno/alien_help3.ogg
  Resources/Audio/_RMC14/Xeno/alien_hiss1.ogg
  Resources/Audio/_RMC14/Xeno/alien_hiss2.ogg
  Resources/Audio/_RMC14/Xeno/alien_hiss3.ogg
  Resources/Audio/_RMC14/Xeno/alien_roar1.ogg
  Resources/Audio/_RMC14/Xeno/alien_roar2.ogg
  Resources/Audio/_RMC14/Xeno/alien_roar3.ogg
  Resources/Audio/_RMC14/Xeno/alien_roar4.ogg
  Resources/Audio/_RMC14/Xeno/alien_roar5.ogg
  Resources/Audio/_RMC14/Xeno/alien_roar6.ogg
  Resources/Audio/_RMC14/Xeno/alien_roar_larva1.ogg
  Resources/Audio/_RMC14/Xeno/alien_roar_larva2.ogg
  Resources/Audio/_RMC14/Xeno/attributions.yml
  Resources/Locale/en-US/_RMC14/chat/species-emotes.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
  Resources/Prototypes/_RMC14/Voice/speech_emotes.yml
  Resources/Prototypes/_RMC14/Voice/xeno_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/xeno_emotes.yml
  Resources/Textures/_RMC14/Actions/xeno_emotes.rsi/growl.png
  Resources/Textures/_RMC14/Actions/xeno_emotes.rsi/help.png
  Resources/Textures/_RMC14/Actions/xeno_emotes.rsi/hiss.png
  Resources/Textures/_RMC14/Actions/xeno_emotes.rsi/meta.json
  Resources/Textures/_RMC14/Actions/xeno_emotes.rsi/roar.png
  Resources/Textures/_RMC14/Actions/xeno_emotes.rsi/tailswipe.png
Labels: Changes: Sprites, Status: Needs Review

#4098 Automatically destroy hive core on hijack if not on dropship, hive core passive healing, hive core cooldown
  Content.Server/_RMC14/Xenonids/Construction/XenoHiveCoreSystem.cs
  Content.Shared/_RMC14/Damage/SharedRMCDamageableSystem.cs
  Content.Shared/_RMC14/Dropship/DropshipHijackStartEvent.cs
  Content.Shared/_RMC14/Dropship/SharedDropshipSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/HiveCoreComponent.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Hive/HiveComponent.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
Labels: Status: Needs Review

#4091 Buyable smoke grenades
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/explosives.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/packets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
Labels: No C#, Status: Needs Review

#4101 M15 description fix
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#

#4099 Buyable wood
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/engineering.yml
Labels: No C#, Status: Needs Review

#4102 Remove Pacifist trait
  Resources/Prototypes/Traits/quirks.yml
Labels: No C#, Status: Needs Review

#4104 Add map tables to the Savannah
  Resources/Maps/_RMC14/savannah.yml
Labels: No C#, Status: Needs Review, Changes: Map

#4105 Fix being able to place and fire mortars on the warship
  Resources/Prototypes/_RMC14/Entities/Areas/areas_almayer.yml
  Resources/Prototypes/_RMC14/Entities/Areas/savannah.yml
Labels: No C#

#4113 Fix the M44 revolver not shooting anything and the grenade launcher's grenades being invisible for the shooter
  Content.Client/_RMC14/Weapons/Ranged/Prediction/GunPredictionSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/IgnorePredictionHideComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Status: Needs Review

#4114 fix landing signs being pullable
  Resources/Prototypes/_RMC14/Entities/Structures/Misc/landing_signs.yml
Labels: No C#, Status: Needs Review

#4115 Fix tactical map drawing and blips positions being incorrect with UI scales that aren't 100%
  Content.Client/_RMC14/TacticalMap/TacticalMapControl.xaml.cs
Labels: Status: Needs Review

#4116 Fix the req elevator and boiler gas making it look like they block bullets for the shooter, fix being able to throw parasites
  Content.Client/_RMC14/Weapons/Ranged/Prediction/GunPredictionSystem.cs
  Content.Server/_RMC14/Weapons/Ranged/Prediction/GunPredictionSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-parasite.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_smoke.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/requisitions.yml
Labels: Status: Needs Review

#4120 fix super reinforced wall
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/walls.yml
Labels: No C#, Status: Needs Review

#4125 Armor/Jacket storage parity
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/scabbards.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/faction_coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/cigarettes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/Electronics/radio.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/binoculars.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/health_analyzer.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/fire_extinguisher.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/smart_gun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/stun_baton.yml
  Resources/Prototypes/_RMC14/tags.yml
  Resources/Textures/_RMC14/Objects/Clothing/Belt/smart_pistol.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/smart_pistol.rsi/full-equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/smart_pistol.rsi/full-equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/smart_pistol.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Belt/sparepouch.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/sparepouch.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/sparepouch.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/handcuffs.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Misc/handcuffs.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/pen-equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/stun_baton.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/stun_baton.rsi/meta.json
  Resources/Textures/_RMC14/Objects/fire_extinguisher.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/fire_extinguisher.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/fire_extinguisher.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/fire_extinguisher.rsi/meta.json
  Resources/Textures/_RMC14/Objects/fire_extinguisher_mini.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/fire_extinguisher_mini.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/fire_extinguisher_mini.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/fire_extinguisher_mini.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#4133 fix shake sound only playing for the target
  Content.Shared/_RMC14/ShakeStun/StunShakeableSystem.cs
Labels: Status: Needs Review

#4128 Epi works on the dead now
  Resources/Prototypes/_RMC14/Reagents/medicine.yml
Labels: No C#

#4118 Fix machete scabbard not going on suit slot + more sprites
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/scabbards.yml
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_h5.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_h5.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_h5.rsi/full-equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_h5.rsi/full-equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_h5.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#4121 Fixed Trees Dropping Logs
  Resources/Prototypes/_RMC14/Entities/Structures/trees.yml
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#4135 Fix semiauto making it look like you are shooting more bullets than you are actually shooting
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Status: Needs Review

#4139 Remove emote sounds copypaste, YML cleanup, add missing sounds to emote sounds
  Content.Shared/Chat/Prototypes/EmoteSoundsPrototype.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/_RMC14/SoundCollections/felinid.yml
  Resources/Prototypes/_RMC14/Species/felinid.yml
  Resources/Prototypes/_RMC14/Voice/Diona/diona_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/Dwarf/dwarf_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/Felinid/felinid_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/Human/human_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/Moth/moth_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/Reptilian/reptilian_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/Slime/slime_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/Xenonid/xeno_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/Xenonid/xeno_emotes.yml
  Resources/Prototypes/_RMC14/Voice/Xenonid/xeno_speech_sounds.yml
  Resources/Prototypes/_RMC14/Voice/base_speech_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/speech_emote_sounds.yml
Labels: Status: Needs Review

#4136 Makes throwing knives use throwing weapon mechanics
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/knife.yml
Labels: No C#, Status: Needs Review

#4126 Fixes defenders description
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/defender.yml
Labels: No C#, Status: Needs Review

#4129 Remove fire delay from guns when you switch hands
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/cm_base_gun.yml
Labels: No C#, Status: Needs Review

#4144 Fix the gauze and ointment pouch having a bicaridine injector instead of tricordrazine
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/medical.yml
Labels: No C#, Status: Needs Review

#4145 Fix stun ammo appearing to stun when it didn't
  Content.Shared/_RMC14/Stun/RMCSizeStunSystem.cs
Labels: Status: Needs Review

#4149 add figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/vella_mortician_sakeao.png
Labels: No C#, Changes: Sprites

#4151 Fix some doafters being stackable
  Content.Shared/_RMC14/Chemistry/RMCSharedHypospraySystem.cs
  Content.Shared/_RMC14/Medical/CPR/CPRSystem.cs
  Content.Shared/_RMC14/Medical/IV/SharedIVDripSystem.cs
  Content.Shared/_RMC14/Medical/Wounds/SharedWoundsSystem.cs
  Content.Shared/_RMC14/Repairable/RMCRepairableSystem.cs
Labels: Status: Needs Review

#4157 Fix the Warden Praetorian showing an error sprite when wounded
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/warden_praetorian.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/warden_praetorian.rsi/praetorian_dissection.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/warden_praetorian.rsi/praetorian_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/warden_praetorian.rsi/praetorian_downed_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/warden_praetorian.rsi/praetorian_downed_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/warden_praetorian.rsi/praetorian_downed_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/warden_praetorian.rsi/praetorian_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/warden_praetorian.rsi/praetorian_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/warden_praetorian.rsi/praetorian_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/warden_praetorian.rsi/praetorian_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/warden_praetorian.rsi/praetorian_walk_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/warden_praetorian.rsi/praetorian_walk_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/warden_praetorian.rsi/praetorian_walk_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/warden_praetorian.rsi/praetorian_walk_3.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4159 Fix the armored shooting target being called xenonid target, medilathe and briefing podium windoor to Savannah
  Resources/Maps/_RMC14/savannah.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/target.yml
Labels: No C#, Status: Needs Review, Changes: Map

#4168 Fix shooting some guns lagging you to death
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Status: Needs Review

#4042 Add Xeno carrier
  Content.Client/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleSystem.cs
  Content.Client/_RMC14/Xenonids/Projectiles/Parasite/ReserveParasitesBoundUserInterface.cs
  Content.Client/_RMC14/Xenonids/Projectiles/Parasite/ReserveParasitesWindow.xaml
  Content.Client/_RMC14/Xenonids/Projectiles/Parasite/ReserveParasitesWindow.xaml.cs
  Content.Client/_RMC14/Xenonids/Projectiles/Parasite/XenoParasiteThrowerSystem.cs
  Content.Server/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleSystem.cs
  Content.Server/_RMC14/Xenonids/Egg/EggRetriever/XenoEggRetrieverSystem.cs
  Content.Server/_RMC14/Xenonids/Leap/XenoParasiteSystem.cs
  Content.Server/_RMC14/Xenonids/Projectile/Parasite/XenoParasiteThrowerSystem.cs
  Content.Shared/_RMC14/Xenonids/Announce/SharedXenoAnnounceSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/Events/XenoConstructResinHoleAction.cs
  Content.Shared/_RMC14/Xenonids/Construction/ResinHole/SharedXenoResinHoleSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/ResinHole/XenoPlaceResinHoleActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleComponent.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/EggRetriever/XenoEggRetrieverComponent.cs
  Content.Shared/_RMC14/Xenonids/Egg/EggRetriever/XenoRetrieveEggActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggUseInHandEvent.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Parasite/SharedXenoParasiteThrowerSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Parasite/XenoChangeParasiteReserveEvent.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Parasite/XenoParasiteThrowerComponent.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Parasite/XenoReserveParasiteActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Parasite/XenoThrowParasiteActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Weeds/SharedXenoWeedsSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-construction.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-ui.ftl
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_construction_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_resin_hole.yml
  Resources/Textures/_RMC14/Actions/xeno_actions.rsi/meta.json
  Resources/Textures/_RMC14/Actions/xeno_actions.rsi/reserve_parasite.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_resin_trap.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Xenos/xeno_resin_trap.rsi/trap0.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_resin_trap.rsi/trap1.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_resin_trap.rsi/trapacid1.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_resin_trap.rsi/trapacid2.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_resin_trap.rsi/trapacid3.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_resin_trap.rsi/trapgas.png
Labels: Changes: Sprites, Status: Needs Review, Changes: UI

#4175 Fix suit slot and storage for new jackets/armors
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/dressblues.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/faction_coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/pmc.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/provost.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/royal.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/spp.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Textures/_RMC14/Objects/Weapons/Melee/machete.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/machete.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#3821 Flashlights can be turned into Rail Light Attachment
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/rail_attachments.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/misc/flashlight.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/flashlight.yml
Labels: No C#, Status: Needs Review

#4179 port CM13 fireaxe and pickaxe
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Textures/_RMC14/Objects/Weapons/Melee/fireaxe.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/fireaxe.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/fireaxe.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/fireaxe.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Melee/fireaxe.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/fireaxe.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/pickaxe.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/pickaxe.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/pickaxe.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/pickaxe.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/pickaxe.rsi/meta.json
  Resources/migration.yml
Labels: No C#, Changes: Sprites, Status: Needs Review

#4107 Scout invisibility fixes
  Content.Client/_RMC14/Marines/MarineOverlay.cs
  Content.Shared/_RMC14/Armor/ThermalCloak/ThermalCloakComponent.cs
  Content.Shared/_RMC14/Armor/ThermalCloak/ThermalCloakSystem.cs
  Resources/Prototypes/_RMC14/Effects/cloak.yml
  Resources/Textures/_RMC14/Effects/cloak.rsi/cloak.png
  Resources/Textures/_RMC14/Effects/cloak.rsi/meta.json
  Resources/Textures/_RMC14/Effects/cloak.rsi/uncloak.png
Labels: Changes: Sprites, Status: Needs Review

#4082 Smartgun falloff update
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/smart_gun.yml
Labels: No C#, Status: Needs Review

#4187 Praetorian fixes, HE mortar shell structure damage fix, job slot scaling fix, emote sound cooldown
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Server/_RMC14/Emote/RMCEmoteSystem.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Emote/EmoteCooldownComponent.cs
  Content.Shared/_RMC14/Emote/SharedRMCEmoteSystem.cs
  Content.Shared/_RMC14/Rules/RMCPlanetMapPrototypeComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/CMGunSystem.cs
  Content.Shared/_RMC14/Xenonids/Aid/XenoAidSystem.cs
  Content.Shared/_RMC14/Xenonids/Energy/XenoEnergySystem.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/XenoSpitSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/XenoProjectileHitUserEvent.cs
  Content.Shared/_RMC14/Xenonids/Projectile/XenoProjectileSystem.cs
  Content.Shared/_RMC14/Xenonids/Rest/ActionBlockIfRestingComponent.cs
  Content.Shared/_RMC14/Xenonids/Rest/XenoRestSystem.cs
  Content.Shared/_RMC14/Xenonids/Retrieve/XenoRetrieveSystem.cs
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_utility_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/marine_shotguns.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
  Resources/Prototypes/_RMC14/explosion.yml
Labels: Status: Needs Review

#4194 fix sniper stored sprite missing directionals
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Snipers/m96s.rsi/meta.json
Labels: No C#, Status: Needs Review

#4191 Add fire groups (anti-double shotgun)
  Content.Shared/_RMC14/Weapons/Ranged/RMCFireGroupComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/SharedFireGroupSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/marine_shotguns.yml
Labels: Status: Needs Review

#4150 Xenos can see the exact numbers of their health/plasma/armor by hovering its alert
  Content.Client/Actions/UI/ActionAlertTooltip.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Systems/Alerts/Controls/AlertControl.cs
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml.cs
  Content.Shared/Alert/AlertState.cs
  Content.Shared/Alert/AlertsSystem.cs
  Content.Shared/Mobs/Components/MobThresholdsComponent.cs
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
  Content.Shared/_RMC14/Armor/CMArmorSystem.cs
  Content.Shared/_RMC14/Xenonids/Plasma/XenoPlasmaSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: Status: Needs Review, Changes: UI, Needs Upstreaming

#4189 Add pull animations
  Content.Shared/_RMC14/Pulling/RMCPullingSystem.cs
Labels: Status: Needs Review

#4188 High Command headset
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/EncryptionKeys/ship.yml
Labels: No C#, Status: Needs Review

#4195 Mortar damage fixes, shotgun wield fire delay fix, M5-ATL fix, shutter acid fix, egg delays, remove a lot of lz turrets
  Content.Client/_RMC14/Weapons/Melee/CMMeleeWeaponSystem.cs
  Content.Client/_RMC14/Weapons/Melee/RMCMeleeWeaponSystem.cs
  Content.Client/_RMC14/Xenonids/Evolution/XenoEvolutionBui.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Speech/EmotesMenuSystem.cs
  Content.Server/_RMC14/Emote/RMCEmoteSystem.cs
  Content.Server/_RMC14/Weapons/Melee/CMMeleeWeaponSystem.cs
  Content.Server/_RMC14/Weapons/Melee/RMCMeleeWeaponSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_RMC14/Emote/SharedRMCEmoteSystem.cs
  Content.Shared/_RMC14/Weapons/Melee/ImmuneToMeleeComponent.cs
  Content.Shared/_RMC14/Weapons/Melee/ImmuneToUnarmedComponent.cs
  Content.Shared/_RMC14/Weapons/Melee/MeleeDamageMultiplierComponent.cs
  Content.Shared/_RMC14/Weapons/Melee/MeleeReceivedMultiplierComponent.cs
  Content.Shared/_RMC14/Weapons/Melee/SharedCMMeleeWeaponSystem.cs
  Content.Shared/_RMC14/Weapons/Melee/SharedRMCMeleeWeaponSystem.cs
  Content.Shared/_RMC14/Weapons/Melee/StunOnHitComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/CMGunSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/GunIgnorePredictionComponent.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggComponent.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggPlaceDoAfterEvent.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggReturnParasiteDoAfterEvent.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Resources/Locale/en-US/_RMC14/radio-channels.ftl
  Resources/Maps/_RMC14/shiva.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/m5spec.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/marine_launchers.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/marine_shotguns.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/mortars.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Shutters/shutters.yml
Labels: Status: Needs Review, Changes: Map

#4200 Evo point on hijack/hive core, epi healing fix, fix evo points, tab mortar window, shotgun EB fix, req plastic crate, update roadmap
  Content.Client/_RMC14/Mortar/MortarBui.cs
  Content.Client/_RMC14/Mortar/MortarWindow.xaml.cs
  Content.Client/_RMC14/Roadmap/RoadmapWindow.xaml
  Content.Client/_RMC14/Xenonids/Evolution/XenoEvolutionBui.cs
  Content.Shared/_RMC14/Inventory/SharedCMInventorySystem.cs
  Content.Shared/_RMC14/Marines/Squads/SquadSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Content.Shared/_RMC14/Xenonids/Evolution/EvolutionBonusComponent.cs
  Content.Shared/_RMC14/Xenonids/Evolution/EvolutionOverrideComponent.cs
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionComponent.cs
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionSystem.cs
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/research.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/fun.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/warrior.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/marine_shotguns.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_hive.yml
  Resources/Prototypes/_RMC14/Reagents/medicine.yml
Labels: Status: Needs Review, Changes: UI

#4198 Add Seeks-to-Fight figurine
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/_RMC14/LinkAccount/LinkAccountManager.cs
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/seeks-to-fight.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/stares-at-stars.png
Labels: Changes: Sprites
