Repository RMC-14/RMC-14, pull requests merged in 2024-02, with the labels that each got.

#964 Moved cans yml
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Drinks/cans.yml
Labels: No C#, Status: Needs Review

#962 Savannah: Requi, APCs, SMESes, small fixes
  Resources/Maps/_CM14/savannah.yml
Labels: No C#, Status: Needs Review

#966 Fixed matchbox id
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Smokeables/matchbooks.yml
Labels: No C#, Status: Needs Review

#965 fixed chicken prepared meal description
  Resources/Prototypes/_CM14/Entities/Objects/Consumables/Food/prepared.yml
Labels: No C#, Status: Needs Review

#968 Glass, Reinforced Glass, Phoron and Phoron and Phoron
  Resources/Locale/en-US/_CM14/construction/construction-categories.ftl
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/_CM14/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/materials/glass.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/airlock.yml
  Resources/Prototypes/_CM14/Recipes/Construction/Graphs/structures/windoor.yml
  Resources/Prototypes/_CM14/Recipes/Construction/materials.yml
  Resources/Prototypes/_CM14/Stacks/Materials/Sheets/glass.yml
  Resources/Prototypes/_CM14/Stacks/Materials/Sheets/other.yml
  Resources/Textures/_CM14/Objects/Materials/Sheets/glass.rsi/glass.png
  Resources/Textures/_CM14/Objects/Materials/Sheets/glass.rsi/meta.json
  Resources/Textures/_CM14/Objects/Materials/Sheets/phoron.rsi/meta.json
  Resources/Textures/_CM14/Objects/Materials/Sheets/phoron.rsi/phoron.png
  Resources/Textures/_CM14/Objects/Materials/Sheets/phoron_glass.rsi/meta.json
  Resources/Textures/_CM14/Objects/Materials/Sheets/phoron_glass.rsi/phoronglass.png
  Resources/Textures/_CM14/Objects/Materials/Sheets/phoron_reinf_glass.rsi/meta.json
  Resources/Textures/_CM14/Objects/Materials/Sheets/phoron_reinf_glass.rsi/phoronrglass.png
  Resources/Textures/_CM14/Objects/Materials/Sheets/reinf_glass.rsi/meta.json
  Resources/Textures/_CM14/Objects/Materials/Sheets/reinf_glass.rsi/rglass.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#969 Beakers!
  Resources/Prototypes/_CM14/Entities/Objects/Medical/beaker.yml
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/beaker.png
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/beaker1.png
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/beaker2.png
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/beaker3.png
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/beaker4.png
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Medical/beaker.rsi/meta.json
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/beakerlarge.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/beakerlarge1.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/beakerlarge2.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/beakerlarge3.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/beakerlarge4.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/beakerlarge5.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Medical/large_beaker.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#967 Add Machete & Throwing Knife
  Resources/Prototypes/_CM14/Catalog/Fills/Clothing/belt.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_CM14/Entities/Clothing/pouches.yml
  Resources/Prototypes/_CM14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
  Resources/Textures/_CM14/Objects/Clothing/Pouches/machete.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Pouches/machete.rsi/sheath-machete.png
  Resources/Textures/_CM14/Objects/Clothing/Pouches/machete.rsi/sheath.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/m11_knife.rsi/icon.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/m11_knife.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/m11_knife.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/m11_knife.rsi/meta.json
  Resources/Textures/_CM14/Objects/Weapons/Melee/machete.rsi/icon.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/machete.rsi/inhand-left.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/machete.rsi/inhand-right.png
  Resources/Textures/_CM14/Objects/Weapons/Melee/machete.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#975 Stock parts and vendors inventory update
  Resources/Prototypes/_CM14/Catalog/VendingMachines/Inventories/circuits.yml
  Resources/Prototypes/_CM14/Catalog/VendingMachines/Inventories/component.yml
  Resources/Prototypes/_CM14/Catalog/VendingMachines/Inventories/electronics.yml
  Resources/Prototypes/_CM14/Catalog/VendingMachines/Inventories/robotics.yml
  Resources/Prototypes/_CM14/Catalog/VendingMachines/Inventories/tool.yml
  Resources/Prototypes/_CM14/Catalog/VendingMachines/Inventories/walkman.yml
  Resources/Prototypes/_CM14/Entities/Objects/Misc/stock_parts.yml
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/advanced_matter_bin.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/ansible_crystal.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/capacitor.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/high_micro_laser.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/hyperwave_filter.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/matter_bin.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/meta.json
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/micro_laser.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/micro_mani.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/nano_mani.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/pico_mani.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/scan_module.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/screen.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/smes_coil.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/subspace_amplifier.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/subspace_ansible.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/subspace_transmitter.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/super_matter_bin.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/treatment_disk.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/ultra_high_micro_laser.png
  Resources/Textures/_CM14/Objects/Misc/stock_parts.rsi/wavelength_analyzer.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#976 M3-T Armor
  Resources/Prototypes/_CM14/Entities/Clothing/OuterClothing/uscm_armor.yml
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m3/t.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m3/t.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/OuterClothing/Armor/m3/t.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#977 Clothing Crates
  Resources/Prototypes/_CM14/Catalog/Cargo/cargo_clothing.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Crates/clothing.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/requisitions.yml
Labels: No C#, Status: Needs Review

#983 Add Medical Requisitions
  Resources/Prototypes/_CM14/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/_CM14/Catalog/Fills/Items/gas_tanks.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_CM14/Entities/Clothing/Uniforms/scrubs.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/bodybags.yml
  Resources/Prototypes/_CM14/Entities/Objects/Medical/firstaidkits.yml
  Resources/Prototypes/_CM14/Entities/Objects/Specific/Chemistry/chemestry-bottles.yml
  Resources/Prototypes/_CM14/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/colmartech_vendors.yml
  Resources/Prototypes/_CM14/Entities/Structures/Machines/requisitions.yml
  Resources/Prototypes/_CM14/Entities/Structures/Storage/crates.yml
  Resources/Textures/_CM14/Objects/Clothing/Mask/medical.rsi/equipped-MASK.png
  Resources/Textures/_CM14/Objects/Clothing/Mask/medical.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Mask/medical.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Mask/medical.rsi/up-equipped-MASK.png
  Resources/Textures/_CM14/Objects/Clothing/Mask/sterile.rsi/equipped-MASK.png
  Resources/Textures/_CM14/Objects/Clothing/Mask/sterile.rsi/icon.png
  Resources/Textures/_CM14/Objects/Clothing/Mask/sterile.rsi/meta.json
  Resources/Textures/_CM14/Objects/Clothing/Mask/sterile.rsi/up-equipped-MASK.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/beaker.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/bodybags.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/box.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/circuit.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/disk_kit.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/donk_kit.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/glasses.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/handcuff.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/id.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/implant.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/latex.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/light.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/lightmixed.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/lightstick.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/lightstick2.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/lighttube.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/mousetraps.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/mre1.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/mre2.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/pda.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/pillbox.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/solution_trays.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/spray.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/sterile.png
  Resources/Textures/_CM14/Objects/Storage/boxes.rsi/syringe.png
  Resources/Textures/_CM14/Objects/Tanks/anesthetic.rsi/icon.png
  Resources/Textures/_CM14/Objects/Tanks/anesthetic.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#989 Smes Texture Fix
  Resources/Textures/_CM14/Structures/Power/smes.rsi/meta.json
  Resources/Textures/_CM14/Structures/Power/smes.rsi/smes-op2.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#990 Disable Suicide
  Content.Server/Chat/SuicideSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review
