Repository RMC-14/RMC-14, pull requests merged in 2024-07, with the labels that each got.

#2678 Add admin-only surgical case with all base tools, add surgery tools and more med vendors to Savannah
  Content.Shared/_RMC14/Medical/Surgery/Tools/CMBoneSetterComponent.cs
  Resources/Maps/_RMC14/savannah.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/surgery.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/surgical_case.yml
Labels: Status: Needs Review

#2680 Fixes shockwave graphic compatibility error
  Content.Shared/_RMC14/Explosion/RMCExplosionShockWaveComponent.cs
  Resources/Textures/_RMC14/Shaders/shock_wave.swsl
Labels: Status: Needs Review

#2681 Set default marines per xeno to 4, decrease both dropship travel and cooldown time by 30 seconds, fix checking wrong patreon perk for shoutouts
  Content.Server/Database/ServerDbBase.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/_RMC14/CCVar/CMCVars.cs
Labels: Status: Needs Review

#2689 Make requisitions gain a CVar, increase gain from 300 to 750
  Content.Server/_RMC14/Requisitions/RequisitionsSystem.cs
  Content.Shared/_RMC14/CCVar/CMCVars.cs
  Content.Shared/_RMC14/Requisitions/Components/RequisitionsAccountComponent.cs
Labels: Status: Needs Review

#2688 Fix power cell rechargers on the Almayer not being able to recharge anything
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: No C#, Status: Needs Review

#2687 Fix surgery lying down check not working
  Content.Client/_RMC14/Medical/Surgery/CMSurgeryBui.cs
  Content.Shared/_RMC14/Medical/Surgery/SharedCMSurgerySystem.cs
Labels: Status: Needs Review

#2686 Add 2 Patron figurines
  Content.Client/_RMC14/Sprite/ContentSpriteSystem.cs
  Resources/Maps/_RMC14/savannah.yml
  Resources/Prototypes/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/Fox_Bridgeton.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/Kills-The-Mice.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#2691 Fix hijack condition, only count marines and xenos aboard main ship after hijack
  Content.Server/_RMC14/Rules/CMDistressSignalRuleComponent.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
Labels: Status: Needs Review

#2692 Decrease min spread and angle increase of M54C, massively decrease angle increase of M4SPR and increase angle decay on both
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/marine_rifles.yml
Labels: No C#

#2693 Add one more patron figurine
  Resources/Prototypes/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/Fritz_Vohlkson.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2700 Update Savannah
  Resources/Maps/_RMC14/almayer.yml
  Resources/Maps/_RMC14/savannah.yml
Labels: No C#, Status: Needs Review

#2707 clarify end of round grief
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Overview.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/ZeroTolerance.xml
Labels: No C#, Status: Needs Review

#2727 fix crusher devolving to crusher
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/crusher.yml
Labels: No C#, Status: Needs Review

#2729 blood bags are no longer destructible
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Medical/iv.yml
Labels: No C#, Status: Needs Review

#2731 temporarily fix lathes requiring power
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe.yml
Labels: No C#, Status: Needs Review

#2732 temporarily disable power requirement for some machines
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/microwave.yml
Labels: No C#

#2733 fix grenade launcher capacity being one short
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/marine_launchers.yml
Labels: No C#

#2734 adds screech shockwave
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_RMC14/Xenonids/Screech/RMCXenoScreechShockWaveOverlay.cs
  Content.Shared/_RMC14/Xenonids/Screech/RMCXenoScreechShockWaveComponent.cs
  Resources/Prototypes/_RMC14/Effects/screech.yml
  Resources/Prototypes/_RMC14/Shaders/shaders.yml
  Resources/Textures/_RMC14/Shaders/screech_shock_wave.swsl
Labels: Status: Needs Review

#2736 add an approved stamp to cargo tech pocket
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/cargo_tech.yml
Labels: No C#, Status: Needs Review

#2739 "M4RA" box fix, now says M4SPR
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
Labels: No C#, Status: Needs Review

#2738 Change pistol pouch inheritance to remove unnecessary components
  Resources/Prototypes/_RMC14/Entities/Clothing/pouches.yml
Labels: No C#, Status: Needs Review

#2723 Allow LesserDrone playtime to count towards Xeno Drone caste playtime
  Resources/Prototypes/_RMC14/Roles/Xeno/Departments/xeno_job_groups.yml
Labels: No C#, Status: Needs Review

#2690 Remove all red crosses
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_cmo.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_doctor.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/pmc_md.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/pmc_td.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_med.png
  Resources/Textures/_RMC14/Markers/cm_jobs.rsi/hospital_corpsman.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/medic.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/medic.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/medic.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/medic.rsi/open.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Marines/medic.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Marines/medic.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Marines/medic.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Marines/medic.rsi/open.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/full.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/half.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medicbag.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medicbag.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medicbag.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medicbag.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/med.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/med.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/autoinjector.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/firstaid.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/firstaid.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/firstaid.rsi/open.png
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/medical.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/medkit.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/firstaid-inhand-left.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/firstaid-inhand-right.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/firstaid.png
  Resources/Textures/_RMC14/Objects/Misc/pamphlets.rsi/pamphlet_medical.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/door_closed.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/door_closing.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/door_locked.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/door_opening.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/o_door_closing.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/o_door_opening.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/medi_door.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/medi_door.rsi/closing.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/medi_door.rsi/opening.png
  Resources/Textures/_RMC14/Structures/Wallmounts/semiotics.rsi/hazard.png
  Resources/Textures/_RMC14/Structures/Wallmounts/semiotics.rsi/medcryo.png
  Resources/Textures/_RMC14/Structures/Wallmounts/semiotics.rsi/medical.png
  Resources/Textures/_RMC14/Structures/Wallmounts/semiotics.rsi/medlifesupport.png
Labels: No C#, Changes: Sprites

#2747 Add empty visuals to flare pack
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/flares.yml
Labels: No C#, Status: Needs Review

#2737 Add fill visuals to flare pouch
  Resources/Prototypes/_RMC14/Entities/Clothing/pouches.yml
Labels: No C#, Status: Needs Review

#2752 Fix Mars Sand
  Resources/Prototypes/_RMC14/Tiles/bigred.yml
Labels: No C#, Status: Needs Review

#2753 add some figurines
  Resources/Prototypes/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/Iantha_Atikson.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/Scott_Hoover.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/Silvano_d'Andrea.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/Tempestas_'Frostbite'_Glacies.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/minerva_hostel.png
Labels: No C#, Changes: Sprites

#2755 Make grass tiles not weed spreadable
  Resources/Prototypes/_RMC14/Tiles/planet.yml
Labels: No C#, Status: Needs Review

#2756 Increase delay between pointings from 0.5 to 2
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
Labels: Status: Needs Review

#2757 seperate xenonid ghost roles by caste
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/warrior.yml
Labels: No C#

#2758 Fix larvas and parasites being able to open xenonid eggs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
Labels: Status: Needs Review

#2761 Deactivate xeno pheromones on crit or death
  Content.Shared/_RMC14/Xenonids/Pheromones/SharedXenoPheromonesSystem.cs
Labels: Status: Needs Review

#2789 Disable showing guidebook button when changing species
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review, Changes: UI

#2777 Make camera recoil system only refresh offset when its values change
  Content.Shared/Camera/CameraRecoilComponent.cs
  Content.Shared/Camera/SharedCameraRecoilSystem.cs
Labels: Status: Needs Review

#2790 Fix the cigar case, cig pack and matchbox not having a storage whitelist
  Resources/Prototypes/_RMC14/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/case.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/cig_packs.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/matches.yml
Labels: No C#, Status: Needs Review

#2694 Optimize server-side comps for invincible walls
  Resources/Prototypes/_RMC14/Entities/Structures/Base/base_structure.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/walls.yml
Labels: No C#, Status: Needs Review

#2786 Xeno nest drag drop
  Content.Shared/_RMC14/Xenonids/Construction/Nest/XenoNestSystem.cs
Labels: Status: Needs Review

#2766 Fix sentinel acid
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/sentinel.yml
Labels: No C#, Status: Needs Review

#2771 edit the tutorial tab in rules to fit rmc
  Content.Client/Info/RulesAndInfoWindow.cs
  Resources/ServerInfo/Gameplay.txt
Labels: Status: Needs Review

#2750 Empty storage visualizer
  Content.Client/_RMC14/Storage/CMStorageVisualizerSystem.cs
  Content.Shared/_RMC14/Storage/CMStorageVisualizerComponent.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/pouches.yml
Labels: Status: Needs Review

#2770 Fix burst grammar
  Resources/Locale/en-US/_RMC14/xeno/xeno-infection.ftl
Labels: No C#

#2664 Unbloat vendors
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/police.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/smartgunoper.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/base.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/colmartech_vendors.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/engineering.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/food.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/general.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/mappings.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/medical.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
Labels: No C#, Status: Needs Review

#2778 hydroponics trays no longer drop steel
  Resources/Prototypes/_RMC14/Entities/Structures/hydro_tray.yml
Labels: No C#, Status: Needs Review

#2773 give medical belts a better ui shape
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
Labels: No C#, Status: Needs Review

#2782 New lesser drone sprites
  Resources/Textures/_RMC14/Mobs/Xenonids/LesserDrone/lesser_drone.rsi/alive.png
  Resources/Textures/_RMC14/Mobs/Xenonids/LesserDrone/lesser_drone.rsi/crit.png
  Resources/Textures/_RMC14/Mobs/Xenonids/LesserDrone/lesser_drone.rsi/dead.png
  Resources/Textures/_RMC14/Mobs/Xenonids/LesserDrone/lesser_drone.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/LesserDrone/lesser_drone.rsi/sleeping.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2763 Adjust hud icons to show properly on felinds and dwarves marines
  Resources/Prototypes/_RMC14/StatusEffects/health_hud.yml
  Resources/Prototypes/_RMC14/StatusEffects/holocard.yml
  Resources/Textures/_RMC14/Interface/health_hud.rsi/huddead.png
  Resources/Textures/_RMC14/Interface/health_hud.rsi/huddeadalmost.png
  Resources/Textures/_RMC14/Interface/health_hud.rsi/huddeadclose.png
  Resources/Textures/_RMC14/Interface/health_hud.rsi/huddeaddefib.png
  Resources/Textures/_RMC14/Interface/health_hud.rsi/huddeaddnr.png
  Resources/Textures/_RMC14/Interface/health_hud.rsi/huddeadheart.png
  Resources/Textures/_RMC14/Interface/health_hud.rsi/hudhcdead.png
  Resources/Textures/_RMC14/Interface/health_hud.rsi/hudhealthy.png
  Resources/Textures/_RMC14/Interface/health_hud.rsi/meta.json
  Resources/Textures/_RMC14/Interface/health_hud_holocard.rsi/hudhcblack.png
  Resources/Textures/_RMC14/Interface/health_hud_holocard.rsi/hudhcorange.png
  Resources/Textures/_RMC14/Interface/health_hud_holocard.rsi/hudhcpurple.png
  Resources/Textures/_RMC14/Interface/health_hud_holocard.rsi/hudhcred.png
  Resources/Textures/_RMC14/Interface/health_hud_holocard.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2787 fix crafted magazine boxes not being able to hold magazines
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
Labels: No C#, Status: Needs Review

#2792 Remove fill from CMBoxMagazineRifleM54CAPEmpty
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
Labels: No C#, Status: Needs Review

#2793 Fix visuals for spawned entities with CMItemSlots
  Content.Shared/_RMC14/Inventory/SharedCMInventorySystem.cs
Labels: Status: Needs Review

#2802 Parasite infection vectors
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
Labels: Status: Needs Review

#2801 Make VirtualItem not block attacking
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Status: Needs Review, Needs Upstreaming

#2800 add more figurines
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/dagobert_dogburglar.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: No C#, Changes: Sprites

#2797 Entrenching tool fits on COMTECH belts
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
Labels: No C#, Status: Needs Review

#2806 Fix Immature Queens being able to use Screech
  Content.Server/_RMC14/Xenonids/Maturing/XenoMatureCommand.cs
  Content.Shared/_RMC14/Xenonids/Health/XenoHealthSystem.cs
  Content.Shared/_RMC14/Xenonids/Maturing/XenoMaturingComponent.cs
  Content.Shared/_RMC14/Xenonids/Maturing/XenoMaturingSystem.cs
  Resources/Locale/en-US/_RMC14/commands/cm-toolshed-commands.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-maturing.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
Labels: Status: Needs Review

#2805 Make xenonids unable to devolve if damaged
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
Labels: Status: Needs Review

#2807 Fix explosion and screech shockwave effect temporarily resetting your camera to the default rotation
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_RMC14/Explosion/RMCExplosionShockWaveOverlay.cs
  Content.Client/_RMC14/Xenonids/Screech/RMCXenoScreechShockWaveOverlay.cs
Labels: Status: Needs Review

#2808 Fix intercoms having no power
  Resources/Prototypes/_RMC14/Entities/Structures/Wallmounts/intercom.yml
Labels: No C#, Status: Needs Review

#2804 Make the MM blood dispenser an automated vendor
  Resources/Locale/en-US/_RMC14/medical/refillable.ftl
  Resources/Prototypes/_RMC14/Access/Groups/marine_access_groups.yml
  Resources/Prototypes/_RMC14/Catalog/VendingMachines/Inventories/blood.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/medical.yml
Labels: No C#, Status: Needs Review

#2803 Update the roadmap
  Content.Client/_RMC14/Roadmap/RoadmapUIController.cs
  Content.Client/_RMC14/Roadmap/RoadmapWindow.xaml
Labels: No C#, Status: Needs Review, Changes: UI

#2668 Adds Wehny
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/wehny.yml
  Resources/Textures/_RMC14/Mobs/Xenonids/Wehny/wehny.rsi/alive.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Wehny/wehny.rsi/crit.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Wehny/wehny.rsi/dead.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Wehny/wehny.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Wehny/wehny.rsi/sleeping.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2673 alternative rouny plushie
  Resources/Prototypes/_RMC14/Entities/Objects/Fun/toys.yml
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/rouny_plushie.png
Labels: No C#, Changes: Sprites

#2764 De-red-ify more crosses
  Resources/Textures/_RMC14/Interface/health_hud.rsi/hudhealthy.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_clamped.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_clamping.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_green_clamped.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_green_clamping.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_green_unclamped.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_green_unclamping.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_unclamped.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_unclamping.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/medical.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/medical.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/medical.rsi/icon.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/medical.rsi/open.png
Labels: No C#, Changes: Sprites

#2724 Various emote fixes
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/human.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_RMC14/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/speech_emotes.yml
Labels: No C#

#2749 Fix Bodybags always having a tag
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bodybags.yml
  Resources/Textures/_RMC14/Objects/Medical/bodybags.rsi/invoice.png
  Resources/Textures/_RMC14/Objects/Medical/bodybags.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medical/bodybags.rsi/paper.png
Labels: No C#, Changes: Sprites

#2810 Link in-game and Discord admin chat
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Content.Server.csproj
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_RMC14/Discord/RMCDiscordManager.cs
  Content.Server/_RMC14/Discord/RMCDiscordMessage.cs
  Content.Server/_RMC14/Discord/RMCDiscordMessageType.cs
  Content.Server/_RMC14/Discord/RMCDiscordSystem.cs
  Content.Server/_RMC14/Figurines/FigurineSystem.cs
  Content.Shared/_RMC14/CCVar/CMCVars.cs
  Content.Shared/_RMC14/Inventory/SharedCMInventorySystem.cs
  Content.Shared/_RMC14/Weapons/Common/UniqueActionSystem.cs
  Directory.Packages.props
Labels: Status: Needs Review

#2625 Tweak chemical dispenser fill and nuke non-cm13 chemicals
  Resources/Locale/en-US/_RMC14/reagents/meta/elements.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/chemical-containers.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Science/Dispensers/chem.yml
  Resources/Prototypes/_RMC14/Reagents/elements.yml
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#2809 Fixed xenonids being able to attack and secrete resin while resting.
  Content.Shared/_RMC14/Xenonids/Construction/Events/XenoSecreteStructureAttemptEvent.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Rest/XenoRestSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
Labels: Status: Needs Review

#2814 Fix scoping not changing your eye offset
  Content.Shared/_RMC14/Scoping/SharedScopeSystem.User.cs
  Content.Shared/_RMC14/Scoping/SharedScopeSystem.cs
Labels: Status: Needs Review

#2791 Requsitions vendors
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitons.yml
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/ammo.rsi/base.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/ammo.rsi/broken.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/ammo.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/ammo.rsi/off.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/ammo.rsi/panel.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/attachments.rsi/base.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/attachments.rsi/broken.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/attachments.rsi/deny.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/attachments.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/attachments.rsi/off.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/attachments.rsi/panel.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/attachments.rsi/vend.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/guns.rsi/base.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/guns.rsi/broken.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/guns.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/guns.rsi/off.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/requisitions_wall/guns.rsi/panel.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2815 Lower default req gain to 300 per 30 seconds again
  Content.Shared/_RMC14/CCVar/CMCVars.cs
Labels: Status: Needs Review

#2816 Temporarily give the sniper more ammo
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/weapon_specialist_ammo.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/specialist_loadouts.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
Labels: No C#, Status: Needs Review

#2826 Fix Punch and Fling working on dead bodies
  Content.Shared/_RMC14/Xenonids/Fling/XenoFlingSystem.cs
  Content.Shared/_RMC14/Xenonids/Punch/XenoPunchSystem.cs
Labels: Status: Needs Review

#2839 Doors
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/cell_door.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/cell_door.rsi/closing.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/cell_door.rsi/deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/cell_door.rsi/locked.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/cell_door.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/cell_door.rsi/open.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/cell_door.rsi/opening.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/cell_door.rsi/panel_open.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/cell_door.rsi/spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/cell_door.rsi/unlit.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/cell_door.rsi/welded.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/prison_door.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/prison_door.rsi/closing.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/prison_door.rsi/deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/prison_door.rsi/locked.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/prison_door.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/prison_door.rsi/open.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/prison_door.rsi/opening.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/prison_door.rsi/panel_open.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/prison_door.rsi/spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/prison_door.rsi/unlit.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/prison_door.rsi/welded.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2827 Fix xenonid weeds behind walls getting destroyed by explosions
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: No C#, Status: Needs Review

#2828 Fix showing the inventory button to xenos
  Content.Client/UserInterface/Systems/Inventory/InventoryUIController.cs
Labels: Status: Needs Review

#2818 Update Savannah: Requi venders
  Resources/Maps/_RMC14/savannah.yml
Labels: No C#, Status: Needs Review

#2813 Welder Satchel
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
Labels: No C#, Status: Needs Review

#2820 Added cash
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/spacecash.yml
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash1.png
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash10.png
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash100.png
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash1000.png
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash20.png
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash200.png
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash50.png
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash500.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2848 add a figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/rainy_cloudly.png
Labels: No C#, Changes: Sprites

#2849 rules and clarifications update
  Resources/ServerInfo/Guidebook/_RMC14/Rules/MilitaryCommand/CMHigherStandards.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Overview.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/CMCommandChain.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/CMMarineDeployment.xml
Labels: No C#, Status: Needs Review

#2831 Fix Warden's vender
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/police.yml
Labels: No C#, Status: Needs Review

#2835 Add Jones
  Resources/Prototypes/_RMC14/Entities/Mobs/NPCs/animals.yml
Labels: No C#, Status: Needs Review

#2858 Add MREs to webbing & armor whitelist
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/webbing.yml
Labels: No C#, Status: Needs Review

#2854 Parasite ghosting
  Content.Server/_RMC14/Xenonids/Leap/XenoParasiteSystem.cs
Labels: Status: Needs Review

#2862 Fix not being able to normal attack breakable walls
  Resources/Prototypes/_RMC14/Entities/Structures/Base/base_structure.yml
Labels: No C#, Status: Needs Review

#2843 Sandbag barricades no longer have invisible bolts and can now be deconstructed
  Content.Shared/_RMC14/Entrenching/BarricadeSandbagComponent.cs
  Content.Shared/_RMC14/Entrenching/EntrenchingToolSystem.cs
  Content.Shared/_RMC14/Entrenching/SandbagDismantleDoAfterEvent.cs
  Resources/Locale/en-US/_RMC14/entrenching/entrenching.ftl
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/sandbags.yml
Labels: Status: Needs Review

#2852 Early-merge log enrichment: Explosion damage to players
  Content.Server/Administration/Commands/ExplosionCommand.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Lightning/LightningTargetSystem.cs
  Content.Server/Storage/EntitySystems/BluespaceLockerSystem.cs
Labels: Status: Needs Review

#2863 make the queen footsteps louder
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
Labels: No C#, Status: Needs Review

#2847 Adds command tablet
  Content.Client/_RMC14/Marines/Announce/MarineCommunicationsComputerWindow.xaml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/command_tablet.yml
  Resources/Textures/_RMC14/Objects/Devices/command_tablet.rsi/cotablet.png
  Resources/Textures/_RMC14/Objects/Devices/command_tablet.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review, Changes: UI

#2859 Embryo Sprite + Embryo Spawns after surgery
  Content.Server/_RMC14/Medical/Surgery/CMSurgerySystem.cs
  Content.Shared/_RMC14/Medical/Surgery/Effects/Step/RMCSurgeryStepSpawnEffect.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_RMC14/Entities/Surgery/cm_surgery_steps.yml
  Resources/Textures/_RMC14/Mobs/Xenonids/Larva/larva.rsi/embryo.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Larva/larva.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#2869 Fix the patron perks window sometimes showing the wrong tab initially
  Content.Client/_RMC14/LinkAccount/LinkAccountUIController.cs
  Content.Client/_RMC14/LinkAccount/PatronPerksWindow.xaml
Labels: Status: Needs Review, Changes: UI

#2868 Make stored items not be destroyed by explosions, fix helmets fitting too many items, make helmets 2-slot storages
  Content.Shared/_RMC14/Drink/RMCFlaskComponent.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/marine_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/pouches.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/webbing.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Drinks/canteen.yml
Labels: Status: Needs Review

#2872 Make barbed wire damage pierce all armor and increase damage from 6 to 10
  Content.Shared/_RMC14/Barricade/BarbedSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/sandbags.yml
Labels: Status: Needs Review

#2873 Fix thick resin structure plasma costs being too low
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_doors.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_walls.yml
Labels: No C#

#2884 Fix being able to eat req invoices and being able to put them into in fax machines
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/paper.yml
Labels: No C#, Status: Needs Review

#2885 Make the req account entity a prototype with a name
  Content.Server/_RMC14/Requisitions/RequisitionsSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/requisitions.yml
Labels: Status: Needs Review

#2879 Gives parasites rotational sprites
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/alive.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#2888 Fix microwaves being invincible
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
Labels: No C#, Status: Needs Review

#2889 Fix crushers, defenders, runners and lurkers sometimes being able to charge/leap through barricades
  Resources/ConfigPresets/RMC14/rmc.toml
Labels: No C#, Status: Needs Review

#2887 Fix the grenadier armor not fitting items, increase slots from 2 to 3
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
Labels: No C#, Status: Needs Review

#2890 Fix being able to drop items on the ground from inventory while nested
  Content.Shared/_RMC14/Xenonids/Construction/Nest/XenoNestSystem.cs
Labels: Status: Needs Review

#2891 Fix marines not being able to take out their boot knife to attack xenonids while devoured
  Content.Shared/_RMC14/Xenonids/Devour/XenoDevourSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Shoes/boots.yml
Labels: Status: Needs Review

#2881 fix: damage divisors for metal barricades and sandbags
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/sandbags.yml
Labels: No C#, Status: Needs Review

#2855 Add unfolding magazine boxes to cardboard
  Content.Shared/_RMC14/Construction/RMCUnfoldCardboardComponent.cs
  Content.Shared/_RMC14/Construction/RMCUnfoldCardboardSystem.cs
  Resources/Locale/en-US/_RMC14/construction/rmc-unfold-cardboard.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
Labels: Status: Needs Review

#2865 feat: allow climbing metal barricades
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
Labels: No C#, Status: Needs Review

#2877 Fix snouts not being hidden when a mask is equipped
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/reptilian.yml
Labels: No C#, Status: Needs Review

#2880 ColMarTech venders fixes
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/smartgunoper.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
Labels: No C#, Status: Needs Review

#2893 replace cardboard boxes with a stack of cardboard sheets
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/supplies.yml
Labels: No C#, Status: Needs Review

#2892 Add autobalancing for marines_per_xeno CVar
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/CCVar/CMCVars.cs
Labels: Status: Needs Review

#2894 Add dropship door locking, door fixes, fix being able to build barricades on dropships, initial cooldown
  Content.Client/Construction/ConstructionSystem.cs
  Content.Client/_RMC14/Dropship/DropshipNavigationBui.cs
  Content.Client/_RMC14/Dropship/DropshipNavigationWindow.xaml
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/Shuttles/Systems/DockingSystem.cs
  Content.Server/_RMC14/Dropship/DropshipSystem.cs
  Content.Shared/Physics/CollisionGroup.cs
  Content.Shared/_RMC14/Construction/CMConstructionSystem.cs
  Content.Shared/_RMC14/Construction/DisableConstructionComponent.cs
  Content.Shared/_RMC14/Construction/RMCConstructionAttemptEvent.cs
  Content.Shared/_RMC14/Construction/RMCConstructionSystem.cs
  Content.Shared/_RMC14/Construction/RMCDropshipBlockedComponent.cs
  Content.Shared/_RMC14/Dropship/DropshipComponent.cs
  Content.Shared/_RMC14/Dropship/DropshipNavigationUI.cs
  Content.Shared/_RMC14/Dropship/SharedDropshipSystem.cs
  Content.Shared/_RMC14/Xenonids/Acid/XenoAcidSystem.cs
  Resources/Locale/en-US/_RMC14/construction/rmc-construction.ftl
  Resources/Locale/en-US/_RMC14/dropship/rmc-dropship.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Prototypes/_RMC14/Entities/Structures/Base/base_structure.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/cm_door.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/alamo_doors.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/dropship_entities.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/machine_frame.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/girder.yml
  Resources/Prototypes/_RMC14/Entities/Structures/fence.yml
Labels: Status: Needs Review, Changes: UI

#2829 Crew medical vendor
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/medical.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
Labels: No C#, Status: Needs Review

#2897 Add the warrior's missing lifesteal passive, fix warrior abilities being able to target weeds, items and dead marines
  Content.Shared/_RMC14/Xenonids/Actions/XenoActionsSystem.cs
  Content.Shared/_RMC14/Xenonids/Actions/XenoOffensiveActionComponent.cs
  Content.Shared/_RMC14/Xenonids/Fling/XenoFlingSystem.cs
  Content.Shared/_RMC14/Xenonids/Lifesteal/XenoLifestealComponent.cs
  Content.Shared/_RMC14/Xenonids/Lifesteal/XenoLifestealSystem.cs
  Content.Shared/_RMC14/Xenonids/Lunge/XenoLungeSystem.cs
  Content.Shared/_RMC14/Xenonids/Punch/XenoPunchSystem.cs
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
  Resources/Locale/en-US/_RMC14/lifesteal/rmc-lifesteal.ftl
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/warrior.yml
Labels: Status: Needs Review

#2896 Remove camera recoil from xenos
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: No C#, Status: Needs Review

#2899 Fixed sandbag barricades being repairable
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/sandbags.yml
Labels: No C#, Status: Needs Review

#2851 Machete responds to holster keys
  Resources/Prototypes/_RMC14/Entities/Clothing/pouches.yml
Labels: No C#, Status: Needs Review

#2866 Make Queen's screech unable to penetrate walls
  Content.Shared/_RMC14/Xenonids/Screech/SharedXenoScreechSystem.cs
Labels: Status: Needs Review

#2853 Large dump of various things on my mapping wishlist
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/inflatable_wall.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/tables.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Misc/inflatable_wall.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/Barricades/barricade_wood.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/grille.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/sandbags.yml
  Resources/Prototypes/_RMC14/Entities/Structures/catwalk.yml
  Resources/Prototypes/_RMC14/Entities/Structures/platform.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/barricade_wood.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/grille.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/structures.yml
  Resources/Textures/_RMC14/Objects/Materials/Sheets/wood.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Materials/Sheets/wood.rsi/wood.png
  Resources/Textures/_RMC14/Objects/Materials/Sheets/wood.rsi/wood_2.png
  Resources/Textures/_RMC14/Objects/Materials/Sheets/wood.rsi/wood_3.png
  Resources/Textures/_RMC14/Objects/Materials/Sheets/wood.rsi/wood_4.png
  Resources/Textures/_RMC14/Objects/Misc/inflatable_door.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Misc/inflatable_door.rsi/closing.png
  Resources/Textures/_RMC14/Objects/Misc/inflatable_door.rsi/door_popped.png
  Resources/Textures/_RMC14/Objects/Misc/inflatable_door.rsi/folded_door.png
  Resources/Textures/_RMC14/Objects/Misc/inflatable_door.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/inflatable_door.rsi/open.png
  Resources/Textures/_RMC14/Objects/Misc/inflatable_door.rsi/opening.png
  Resources/Textures/_RMC14/Objects/Misc/inflatable_wall.rsi/folded_wall.png
  Resources/Textures/_RMC14/Objects/Misc/inflatable_wall.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/inflatable_wall.rsi/wall.png
  Resources/Textures/_RMC14/Objects/Misc/inflatable_wall.rsi/wall_popped.png
  Resources/Textures/_RMC14/Structures/Furniture/Tables/prison.rsi/full.png
  Resources/Textures/_RMC14/Structures/Furniture/Tables/prison.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Furniture/Tables/prison.rsi/state_0.png
  Resources/Textures/_RMC14/Structures/Furniture/Tables/prison.rsi/state_1.png
  Resources/Textures/_RMC14/Structures/Furniture/Tables/prison.rsi/state_2.png
  Resources/Textures/_RMC14/Structures/Furniture/Tables/prison.rsi/state_3.png
  Resources/Textures/_RMC14/Structures/Furniture/Tables/prison.rsi/state_4.png
  Resources/Textures/_RMC14/Structures/Furniture/Tables/prison.rsi/state_5.png
  Resources/Textures/_RMC14/Structures/Furniture/Tables/prison.rsi/state_6.png
  Resources/Textures/_RMC14/Structures/Furniture/Tables/prison.rsi/state_7.png
  Resources/Textures/_RMC14/Structures/Walls/Barricades/barricade.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Walls/Barricades/barricade.rsi/wooden.png
  Resources/Textures/_RMC14/Structures/Walls/grille.rsi/brokengrille.png
  Resources/Textures/_RMC14/Structures/Walls/grille.rsi/grille.png
  Resources/Textures/_RMC14/Structures/Walls/grille.rsi/meta.json
  Resources/Textures/_RMC14/Structures/catwalk.rsi/meta.json
  Resources/Textures/_RMC14/Structures/catwalk.rsi/monorailBend.png
  Resources/Textures/_RMC14/Structures/catwalk.rsi/monorailStraight.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/meta.json
  Resources/Textures/_RMC14/Structures/platforms.rsi/platform_round.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2874 Make binary operators postfix instead of prefix
  .editorconfig
Labels: No C#, Status: Needs Review

#2895 BLU medicons: endgame
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_cmo.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_doctor.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/pmc_md.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/pmc_td.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_med.png
  Resources/Textures/_RMC14/Interface/health_hud.rsi/hudhealthy.png
  Resources/Textures/_RMC14/Markers/cm_jobs.rsi/chief_medical_officer.png
  Resources/Textures/_RMC14/Markers/cm_jobs.rsi/doctor.png
  Resources/Textures/_RMC14/Markers/cm_jobs.rsi/hospital_corpsman.png
  Resources/Textures/_RMC14/Markers/cm_jobs.rsi/nurse.png
  Resources/Textures/_RMC14/Markers/cm_jobs.rsi/researcher.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/full.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/half.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medicbag.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medicbag.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medicbag.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medicbag.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/medicalhud.rsi/equipped-EYES.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/medicalhud.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/med.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/med.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/autoinjector.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/firstaid.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/firstaid.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/firstaid.rsi/open.png
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/medical.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/medkit.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/firstaid-inhand-left.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/firstaid-inhand-right.png
  Resources/Textures/_RMC14/Objects/Medical/first_aid_kits.rsi/firstaid.png
  Resources/Textures/_RMC14/Objects/Misc/pamphlets.rsi/pamphlet_medical.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/door_closed.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/door_closing.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/door_locked.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/door_opening.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/door_spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/o_door_closing.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/Double/medical_glass.rsi/o_door_opening.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/medi_door.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/medi_door.rsi/closing.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/medi_door.rsi/opening.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_clamped.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_clamping.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_green_clamped.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_green_clamping.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_green_unclamped.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_green_unclamping.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_unclamped.png
  Resources/Textures/_RMC14/Structures/Machines/Medical/medilink.rsi/medlink_unclamping.png
  Resources/Textures/_RMC14/Structures/Wallmounts/semiotics.rsi/hazard.png
  Resources/Textures/_RMC14/Structures/Wallmounts/semiotics.rsi/medcryo.png
  Resources/Textures/_RMC14/Structures/Wallmounts/semiotics.rsi/medical.png
  Resources/Textures/_RMC14/Structures/Wallmounts/semiotics.rsi/medlifesupport.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2901 Fix the defender being able to push nested marines deeper into the walls
  Content.Shared/_RMC14/Xenonids/Charge/XenoChargeSystem.cs
  Content.Shared/_RMC14/Xenonids/Headbutt/XenoHeadbuttSystem.cs
  Content.Shared/_RMC14/Xenonids/Sweep/XenoTailSweepSystem.cs
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
Labels: Status: Needs Review

#2908 feat: allow developers to customize vscode settings, closes #29285 (#29294)
  .vscode/settings.json
Labels: No C#, Status: Needs Review

#2905 Savannah Update: CO tablet, med venders, semiotics
  Resources/Maps/_RMC14/savannah.yml
Labels: No C#, Status: Needs Review

#2904 Fix ship staff spawning hungry
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
Labels: Status: Needs Review

#2906 Localize Distress Signal title and desc
  Resources/Locale/en-US/_RMC14/game-presets/distress-signal-preset.ftl
  Resources/Prototypes/_RMC14/cm_game_presets.yml
Labels: No C#, Status: Needs Review

#2910 feat: draw pheromones overlay above fov
  Content.Client/_RMC14/Xenonids/Pheromones/XenoPheromonesOverlay.cs
Labels: Status: Needs Review

#2915 Fix health analyzer display
  Content.Client/_RMC14/Medical/Scanner/HealthScannerBoundUserInterface.cs
Labels: Status: Needs Review

#2914 Make planet map be randomly chosen from a cvar
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/CCVar/CMCVars.cs
Labels: Status: Needs Review

#2913 Fix xenos not being able to corrode folding barricades
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: No C#, Status: Needs Review

#2911 Fix xeno health bars sometimes disappearing
  Content.Client/_RMC14/Xenonids/Hud/XenoHudOverlay.cs
Labels: Status: Needs Review

#2912 Make the lifesaver bag a 3-row storage
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
Labels: No C#

#2918 Make marine announcements have the standard chat character limit
  Content.Server/_RMC14/Marines/MarineAnnounceSystem.cs
  Content.Shared/_RMC14/Xenonids/Announce/SharedXenoAnnounceSystem.cs
Labels: Status: Needs Review

#2917 Add operation names, make Discord round start and end messages include the operation name and planet map chosen
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Server/_RMC14/Rules/RMCDistressSignalNamesComponent.cs
  Content.Server/_RMC14/Rules/RMCDistressSignalPrefixesComponent.cs
  Content.Server/_RMC14/Rules/RMCDistressSignalSuffixesComponent.cs
  Resources/Locale/en-US/_RMC14/distress/rmc-distress-end.ftl
  Resources/Prototypes/Entities/operation_names.yml
Labels: Status: Needs Review

#2920 Make xenos able to see non-xenos hidden in lockers after a hijack
  Content.Client/_RMC14/NightVision/NightVisionOverlay.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/NightVision/NightVisionComponent.cs
  Content.Shared/_RMC14/NightVision/SharedNightVisionSystem.cs
  Content.Shared/_RMC14/Xenonids/Hive/HiveComponent.cs
  Content.Shared/_RMC14/Xenonids/Hive/SharedXenoHiveSystem.cs
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
Labels: Status: Needs Review

#2919 Fix being able to deconstruct the ASRS console
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/requisitions.yml
Labels: No C#, Status: Needs Review

#2916 Add Disabler gun
  Resources/Audio/_RMC14/Bullets/attributions.yml
  Resources/Audio/_RMC14/Bullets/energy_impact1.ogg
  Resources/Audio/_RMC14/Bullets/energy_miss1.ogg
  Resources/Prototypes/_RMC14/Catalog/Fills/Clothing/belt.yml
  Resources/Prototypes/_RMC14/Catalog/VendingMachines/Inventories/sectech.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/battery.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Energy/taser.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Projectiles/stun_projectiles.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Projectiles/stun_projectiles.rsi/stun.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Energy/taser.rsi/+taser_free.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Energy/taser.rsi/+taser_precision.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Energy/taser.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Energy/taser.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Energy/taser.rsi/mag-unshaded-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Energy/taser.rsi/mag-unshaded-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Energy/taser.rsi/mag-unshaded-2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Energy/taser.rsi/mag-unshaded-3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Energy/taser.rsi/mag-unshaded-4.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Energy/taser.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Energy/taser.rsi/taser.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Energy/taser.rsi/taser_e.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Energy/taser.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Energy/taser.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2922 Add pod door buttons
  Content.Client/_RMC14/Doors/RMCDoorVisualsSystem.cs
  Content.Shared/_RMC14/Doors/CMDoorSystem.cs
  Content.Shared/_RMC14/Doors/RMCDoorButtonComponent.cs
  Content.Shared/_RMC14/Doors/RMCPodDoorButtonLayers.cs
  Content.Shared/_RMC14/Doors/RMCPodDoorButtonPressedEvent.cs
  Content.Shared/_RMC14/Doors/RMCPodDoorComponent.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Shutters/poddoor.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Shutters/poddoor_buttons.yml
  Resources/Textures/_RMC14/Objects/door_button.rsi/doorctrl-denied.png
  Resources/Textures/_RMC14/Objects/door_button.rsi/doorctrl-open.png
  Resources/Textures/_RMC14/Objects/door_button.rsi/doorctrl-p.png
  Resources/Textures/_RMC14/Objects/door_button.rsi/doorctrl.png
  Resources/Textures/_RMC14/Objects/door_button.rsi/doorctrl0.png
  Resources/Textures/_RMC14/Objects/door_button.rsi/doorctrl1.png
  Resources/Textures/_RMC14/Objects/door_button.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#2837 Gives barricades a use delay
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
Labels: No C#, Status: Needs Review

#2479 New Distress Signal Map: Solaris Ridge aka Big Red
  Resources/Maps/_RMC14/solaris.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Shutters/shutters.yml
Labels: No C#, Status: Needs Review

#2925 Being infected mutes you for as long as you are paralyzed
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
Labels: Status: Needs Review

#2929 Fix damaged xenos being able to evolve
  Content.Server/_RMC14/Xenonids/Evolution/EvolutionPointsCommand.cs
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
Labels: Status: Needs Review

#2928 Fix defenders staying fortified after going into crit
  Content.Shared/_RMC14/Xenonids/Fortify/XenoFortifySystem.cs
Labels: Status: Needs Review

#2927 Fix being able to put eggs inside resin structures and building on top of eggs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-eggs.ftl
Labels: Status: Needs Review

#2871 Re-enable Discord game admin chat bridge and fix startup error
  Content.Packaging/ServerPackaging.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Content.Server.csproj
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_RMC14/Discord/RMCDiscordManager.cs
  Content.Server/_RMC14/Discord/RMCDiscordSystem.cs
  Directory.Packages.props
Labels: Status: Needs Review

#2934 feat: sort xenos alphabetically in xenos watch feature ui
  Content.Server/_RMC14/Xenonids/Watch/XenoWatchSystem.cs
Labels: Status: Needs Review

#2935 Add recharger
  Resources/Prototypes/_RMC14/Entities/Structures/Power/recharger.yml
  Resources/Textures/_RMC14/Structures/Power/recharger.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Power/recharger.rsi/recharger-0.png
  Resources/Textures/_RMC14/Structures/Power/recharger.rsi/recharger-1.png
  Resources/Textures/_RMC14/Structures/Power/recharger.rsi/recharger-2.png
  Resources/Textures/_RMC14/Structures/Power/recharger.rsi/recharger-3.png
  Resources/Textures/_RMC14/Structures/Power/recharger.rsi/recharger-4.png
  Resources/Textures/_RMC14/Structures/Power/recharger.rsi/recharger-5.png
  Resources/Textures/_RMC14/Structures/Power/recharger.rsi/recharger-baton.png
  Resources/Textures/_RMC14/Structures/Power/recharger.rsi/recharger-taser.png
  Resources/Textures/_RMC14/Structures/Power/recharger.rsi/recharger.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2930 Add cells
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/_RMC14/Catalog/VendingMachines/Inventories/electronics.yml
  Resources/Prototypes/_RMC14/Catalog/VendingMachines/Inventories/robotics.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Power/cells.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
  Resources/Textures/_RMC14/Objects/Power/cells.rsi/cell.png
  Resources/Textures/_RMC14/Objects/Power/cells.rsi/hcell.png
  Resources/Textures/_RMC14/Objects/Power/cells.rsi/hpcell.png
  Resources/Textures/_RMC14/Objects/Power/cells.rsi/icell.png
  Resources/Textures/_RMC14/Objects/Power/cells.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Power/cells.rsi/mini-cell.png
  Resources/Textures/_RMC14/Objects/Power/cells.rsi/o1.png
  Resources/Textures/_RMC14/Objects/Power/cells.rsi/o2.png
  Resources/Textures/_RMC14/Objects/Power/cells.rsi/potato_cell.png
  Resources/Textures/_RMC14/Objects/Power/cells.rsi/scell.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2735 Add recipes for medicine, reenable the chem dispenser.
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/chemical-containers.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Science/Dispensers/chem.yml
  Resources/Prototypes/_RMC14/Recipes/Reactions/medicine.yml
Labels: No C#, Status: Needs Review

#2921 More mapping stuff
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Lighting/lighting.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/closets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/lockers.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/furniture/seats.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/furniture.yml
  Resources/Textures/_RMC14/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Furniture/chairs.rsi/stool.png
  Resources/Textures/_RMC14/Structures/Storage/Lockers/hydro.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Lockers/hydro.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Storage/Lockers/hydro.rsi/locked.png
  Resources/Textures/_RMC14/Structures/Storage/Lockers/hydro.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/Lockers/hydro.rsi/open.png
  Resources/Textures/_RMC14/Structures/Storage/Lockers/hydro.rsi/unlocked.png
  Resources/Textures/_RMC14/Structures/Storage/Lockers/hydro.rsi/welded.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/full.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall0.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall1.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall2.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall3.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall4.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall5.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall6.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall7.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall_arrivals.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall_broke.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall_button_arrivals.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall_button_dorm.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall_button_freight.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall_button_research.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall_dorm.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall_freight.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall_gear.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall_gear_animated.png
  Resources/Textures/_RMC14/Structures/Walls/elevator.rsi/wall_research.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#2937 Fix dropship blockers blocking its doors from closing, doors opening during FTL if locked down, not being able to lockdown outside FTL travel
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/_RMC14/Dropship/DropshipSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: Status: Needs Review

#2939 Fix Queen screech's range not being used in its in range unobstructed check
  Content.Shared/_RMC14/Xenonids/Screech/SharedXenoScreechSystem.cs
Labels: Status: Needs Review
