Repository RMC-14/RMC-14, pull requests merged in 2025-08, with the labels that each got.

#6844 Breakwater Strand
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_RMC14/Breakwater_Strand.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_breakwater.yml
  Resources/Prototypes/_RMC14/Maps/Breakwater_Strand.yml
  Resources/Textures/_RMC14/Areas/areas_breakwater.rsi/breakwater_exterior.png
  Resources/Textures/_RMC14/Areas/areas_breakwater.rsi/breakwater_interior.png
  Resources/Textures/_RMC14/Areas/areas_breakwater.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: Map, S: Untriaged, size/XL

#7081 extinguisher ON sprite
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/fire_extinguisher.yml
  Resources/Textures/_RMC14/Objects/fire_extinguisher.rsi/fire_extinguisher.png
  Resources/Textures/_RMC14/Objects/fire_extinguisher.rsi/fire_extinguisher0.png
  Resources/Textures/_RMC14/Objects/fire_extinguisher.rsi/fire_extinguisher1.png
  Resources/Textures/_RMC14/Objects/fire_extinguisher.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, S: Awaiting Changes, Changes: No C#, size/S

#7087 clicking on people now pats them on the back instead of hugging
  Content.Shared/_RMC14/Emote/RMCHandEmotesComponent.cs
  Content.Shared/_RMC14/Emote/SharedRMCEmoteSystem.cs
  Resources/Locale/en-US/_RMC14/chat/emotes.ftl
  Resources/Prototypes/_RMC14/Effects/emotes.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Textures/_RMC14/Effects/emotes.rsi/emote_hug.png
  Resources/Textures/_RMC14/Effects/emotes.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#7172 Make unrevivable not use perishable + medical actions
  Content.Client/_RMC14/Medical/HUD/CMHealthIconsSystem.cs
  Content.Server/Atmos/Rotting/RottingSystem.cs
  Content.Shared/Atmos/Rotting/PerishableComponent.cs
  Content.Shared/Body/Systems/SharedBloodstreamSystem.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Content.Shared/_RMC14/Medical/CPR/CPRSystem.cs
  Content.Shared/_RMC14/Medical/Defibrillator/CMDefibrillatorBlockedComponent.cs
  Content.Shared/_RMC14/Medical/Examine/RMCBlockMedicalExamineComponent.cs
  Content.Shared/_RMC14/Medical/Examine/RMCMedicalExamineComponent.cs
  Content.Shared/_RMC14/Medical/Examine/RMCMedicalExamineSystem.cs
  Content.Shared/_RMC14/Medical/Unrevivable/RMCRevivableComponent.cs
  Content.Shared/_RMC14/Medical/Unrevivable/RMCUnrevivableSystem.cs
  Content.Shared/_RMC14/Stun/RMCSizeStunSystem.cs
  Content.Shared/_RMC14/Suicide/RMCSuicideSystem.cs
  Content.Shared/_RMC14/Synth/SharedSynthSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Resources/Locale/en-US/_RMC14/medical/defib.ftl
  Resources/Locale/en-US/_RMC14/medical/examine.ftl
  Resources/Locale/en-US/disease/miasma.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: S: Needs Review, Parity, size/M

#7209 Fix Tumble, Lunge, Charge, and Headbutt not always hitting
  Content.Shared/_RMC14/Xenonids/Charge/XenoChargeSystem.cs
  Content.Shared/_RMC14/Xenonids/Headbutt/XenoHeadbuttSystem.cs
  Content.Shared/_RMC14/Xenonids/Lunge/XenoLungeSystem.cs
  Content.Shared/_RMC14/Xenonids/Tumble/XenoTumbleComponent.cs
  Content.Shared/_RMC14/Xenonids/Tumble/XenoTumbleSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7210 Fixes jobs missing their Endurance and Firearms skills.
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/gunship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/maint_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/ordnance_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/nurse.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/researcher.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CMB/bureau_observer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/clf_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/cmb_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/free_press_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/provost_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/spp_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/tse_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/unmc_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/we-ya_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/High_Command/high_command_adjutant.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/medic.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/sapper.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/correspondent.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/mess_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/pizza.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/synth.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/cargo_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/quartermaster.yml
Labels: S: Needs Review, Changes: No C#, size/S

#7211 map template
  Resources/Maps/_RMC14/map_template.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#, size/S

#7220 Loader Pamphlet skill changes
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/pamphlets.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7222 examine text for shooting into the air
  Content.Shared/_RMC14/Weapons/Ranged/RMCAirShotSystem.cs
  Resources/Locale/en-US/_RMC14/weapons/guns.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#7226 Adds mangos
  Resources/Locale/en-US/_RMC14/kitchen/seeds.ftl
  Resources/Locale/en-US/_RMC14/reagents/flavors.ftl
  Resources/Locale/en-US/nutrition/components/food-sequence.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/juice.ftl
  Resources/Prototypes/Reagents/Consumable/Drink/juice.yml
  Resources/Prototypes/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
  Resources/Prototypes/_RMC14/Flavors/flavors.yml
  Resources/Prototypes/_RMC14/Kitchen/Plants/produce.yml
  Resources/Prototypes/_RMC14/Kitchen/Plants/seeds.yml
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/dead.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/harvest.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/produce-inhand-left.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/produce-inhand-right.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/produce.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/seed.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/stage-1.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/stage-2.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/stage-3.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/stage-4.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/stage-5.png
  Resources/Textures/_RMC14/Objects/Kitchen/Plants/mango.rsi/stage-6.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M, Changes: Audio

#7234 Fix certain entities blocking resin structure construction while they shouldn't
  Content.Shared/Foldable/FoldableComponent.cs
  Content.Shared/_RMC14/Folded/RMCFoldableComponent.cs
  Content.Shared/_RMC14/Folded/RMCFoldableSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/base.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Platforms/platform.yml
Labels: S: Needs Review, S: Untriaged, size/S

#7238 Use Upstream underwear layer.
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Resources/Locale/en-US/_RMC14/markings/categories.ftl
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/beachbum.yml
  Resources/Prototypes/_RMC14/Species/avali.yml
  Resources/Prototypes/_RMC14/Species/felinid.yml
  Resources/Prototypes/_RMC14/Species/feroxi.yml
  Resources/Prototypes/_RMC14/Species/rodentia.yml
  Resources/Prototypes/_RMC14/Species/skrell.yml
  Resources/Prototypes/_RMC14/Species/vulpkanin.yml
Labels: S: Needs Review, S: Untriaged, size/M

#7240 Add Disable Deadchat Command called `setdchat`
  Content.Client/Administration/UI/Tabs/ServerTab.xaml
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_RMC14/Chat/Commands/SetDChatCommand.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Resources/Locale/en-US/_RMC14/administration/commands/set-dchat-command.ftl
Labels: S: Needs Review, Changes: UI, Medium Priority, size/S

#7249 New M13 sprites
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m13_auto_pistol.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13drum.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13drum.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13ext.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13ext.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/camo.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/equipped-SUITSTORAGE-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/inhand-right-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/wielded-inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/wielded-inhand-right-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/gun_underlays.rsi/m13.png
Labels: Changes: Sprites, S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#, size/S

#7252 Add announcements for queen death cooldown and hive core cooldown
  Content.Server/_RMC14/Xenonids/Construction/XenoPylonSystem.cs
  Content.Server/_RMC14/Xenonids/Hive/XenoHiveSystem.cs
  Content.Shared/_RMC14/Xenonids/Hive/HiveComponent.cs
  Content.Shared/_RMC14/Xenonids/Hive/SharedXenoHiveSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-chat.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#7254 Prae acid trap fixes
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#7255 Fix flaregun flare ignites lasting too long
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/flares.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m74_airburst_grenades.yml
Labels: S: Untriaged, size/XS, Changes: No C#

#7257 Fix big backpacks not having their delay-to-open when using the click-to-open Storage Drawing Method.
  Content.Shared/_RMC14/Hands/RMCHandsSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#7258 Fix barricades sometimes blocking attacks that shouldn't be blocked
  Content.Shared/_RMC14/Barricade/DirectionalAttackBlockerComponent.cs
  Content.Shared/_RMC14/Barricade/SharedDirectionalAttackBlockSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#7265 Signal flares shot from a flare gun can no longer be pulled around.
  Content.Shared/_RMC14/Dropship/Weapon/SharedDropshipWeaponSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#7269 Added pickup and drop sounds for various items, and ported a new sound for turning off armor lights
  Resources/Audio/_RMC14/Handling/attributions.yml
  Resources/Audio/_RMC14/Handling/click_2.ogg
  Resources/Audio/_RMC14/Handling/suitlight_crank.ogg
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/basic_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/binoculars.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S, Changes: Audio

#7270 Fix brutalize not reducing cooldowns
  Content.Shared/_RMC14/Xenonids/Brutalize/XenoBrutalizeSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7273 New SOF Radio Colours
  Resources/Prototypes/_RMC14/radio_channels.yml
Labels: Medium Priority

#7274 Free 200 MB VRAM unlocker (bdrip) (working) (2025) (honkteam)
  Resources/Textures/_RMC14/Lobby/Battered.png.yml
  Resources/Textures/_RMC14/Lobby/Cornered.png.yml
  Resources/Textures/_RMC14/Lobby/Evac.png.yml
  Resources/Textures/_RMC14/Lobby/Eyes_Up.png.yml
  Resources/Textures/_RMC14/Lobby/Fly_the_Friendly_Skies.png.yml
  Resources/Textures/_RMC14/Lobby/Focus_Fire.png.yml
  Resources/Textures/_RMC14/Lobby/Lone_Medevac.png.yml
  Resources/Textures/_RMC14/Lobby/MarineMajor.png.yml
  Resources/Textures/_RMC14/Lobby/Move_Out.png.yml
  Resources/Textures/_RMC14/Lobby/PyrotechnicianXeno.png.yml
  Resources/Textures/_RMC14/Lobby/from_fobbiton_with_love.png.yml
  Resources/Textures/_RMC14/Lobby/only_you_shnee.png.yml
  Resources/Textures/_RMC14/Lobby/sisters.png.yml
  Resources/Textures/_RMC14/Lobby/smart_gun.png.yml
Labels: S: Needs Review, High Priority, Changes: No C#, size/S

#7276 fix sorokyne burrowable room
  Resources/Prototypes/_RMC14/Entities/Areas/areas_strata.yml
Labels: S: Needs Review, High Priority, S: Untriaged, Changes: No C#, size/S

#7288 Added [check] tag and also fixed some paperwork stuff to do with my previous addition
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Client/UserInterface/RichText/CheckTagHandler.cs
  Content.Client/UserInterface/RichText/FormTagHandler.cs
  Content.Client/UserInterface/RichText/SignatureTagHandler.cs
  Content.Shared/Paper/PaperSystem.cs
Labels: S: Needs Review, Changes: UI, S: Untriaged, size/M

#7293 Make X17 riot charge no longer require police skill.
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Explosives/breaching_charge.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#7294 Don't clobber cursors every frame
  Content.Client/_RMC14/CombatMode/RMCCombatModeUISystem.cs
Labels: S: Needs Review, High Priority, S: Untriaged, size/S

#7295 Vending machine fixes
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/engineering.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
Labels: S: Needs Review, Changes: No C#, size/S

#7305 Soulful Selleck
  Resources/Locale/en-US/_RMC14/facial-hair.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Customization/Markings/human_facial_hair.yml
  Resources/Textures/_RMC14/Mobs/Customization/human_facial_hair.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Customization/human_facial_hair.rsi/soulful_selleck.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#7306 Shotgun choke increases range
  Content.Shared/_RMC14/Attachable/AttachableData.cs
  Content.Shared/_RMC14/Attachable/Systems/AttachableModifiersSystem.Ranged.cs
  Content.Shared/_RMC14/Attachable/Systems/ProjectileStunAdjustSystem.cs
  Content.Shared/_RMC14/Projectiles/RMCProjectileSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/CMGunSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/GetDamageFalloffEvent.cs
  Content.Shared/_RMC14/Weapons/Ranged/GetWeaponAccuracyEvent.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCWeaponAccuracyComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCWeaponDamageFalloffComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/ShootUseDelaySystem.cs
  Resources/Locale/en-US/_RMC14/attachable/attachable.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/barrel_attachments.yml
Labels: S: Needs Review, S: Untriaged, size/S

#7308 Fix RMC tips
  Content.Shared/CCVar/CCVars.Misc.cs
  Content.Shared/CCVar/CCVars.Tips.cs
  Resources/ConfigPresets/RMC14/rmc.toml
  Resources/Locale/en-US/_RMC14/rmc-tips.ftl
  Resources/Prototypes/_RMC14/Datasets/tips.yml
Labels: S: Needs Review, S: Untriaged, size/M

#7312 MP/Intel/Corpsman armor vest resprite
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/armored_vest.yml
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/corpsman.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/corpsman.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/corpsman.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/corpsman.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/corpsman.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/intel.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/intel.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/intel.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/intel.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/intel.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/mp.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/mp.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/mp.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/mp.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/m3/extra-light/mp.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/mp_armored_vest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/mp_armored_vest.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/mp_armored_vest.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, size/M

#7314 Add multitool to Aghost loadout
  Resources/Prototypes/_RMC14/Roles/Jobs/Fun/rmc_admin_ghost.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7315 Better Fax/ERT map spawning
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Rules/CMDistressSignalRuleComponent.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7316 Center M3717 sprite
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m3717/m3717_icon.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m3717/m3717_icon.rsi/icon.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7320 Added 1984 AP magazine visuals
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m1984_pistol.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m1984.rsi/base_ap-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m1984.rsi/base_ap.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m1984.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m1984.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#7322 Aegis fixes
  Content.Client/_RMC14/AegisEvent/AegisCrateSystem.cs
  Content.Client/_RMC14/SpecialBox/AegisCrateSystem.cs
  Content.Server/Administration/Commands/AegisEventCommand.cs
  Content.Server/_RMC14/AegisEvent/AegisCrateSystem.cs
  Content.Server/_RMC14/Spawners/AegisLobbyEventSystem.cs
  Content.Server/_RMC14/Spawners/RMCSpawnerSystem.cs
  Content.Server/_RMC14/SpecialBox/AegisCrateSystem.cs
  Content.Shared/_RMC14/AegisEvent/AegisCrateComponent.cs
  Content.Shared/_RMC14/AegisEvent/AegisCrateStateChangedEvent.cs
  Content.Shared/_RMC14/AegisEvent/SharedAegisCrateSystem.cs
  Content.Shared/_RMC14/Intel/Tech/TechSystem.cs
  Content.Shared/_RMC14/Requisitions/SharedRequisitionsSystem.cs
  Resources/Prototypes/_RMC14/Entities/Markers/Spawners/aegis_corpse_spawner.yml
  Resources/Prototypes/_RMC14/Entities/Markers/Spawners/aegis_spawner.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/aegis_crate.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/paper.yml
Labels: S: Needs Review, S: Untriaged, size/M

#7323 Make paradropping a seperate field on areas
  Content.Shared/_RMC14/Areas/AreaComponent.cs
  Content.Shared/_RMC14/Areas/AreaSystem.cs
  Content.Shared/_RMC14/CrashLand/SharedCrashLandSystem.cs
  Content.Shared/_RMC14/TacticalMap/AreaInfoSystem.cs
  Resources/Prototypes/_RMC14/Entities/Areas/areas_almayer.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_base.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_chances.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_fiorina.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_goldenarrow.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_hybrisa.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_kutjevo.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_lv.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_shiva.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_solaris.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_space.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_strata.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_sulaco.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_trijent.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_varadero.yml
  Resources/Prototypes/_RMC14/Entities/Areas/savannah.yml
Labels: S: Needs Review, S: Untriaged, size/M

#7326 Acid Spray extinguishes tile fires.
  Content.Shared/_RMC14/Atmos/ExtinguishTileFireComponent.cs
  Content.Shared/_RMC14/Atmos/SharedRMCFlammableSystem.cs
  Content.Shared/_RMC14/Atmos/TileFireComponent.cs
  Resources/Prototypes/_RMC14/Effects/xeno_acid.yml
  Resources/Prototypes/_RMC14/Entities/Tiles/tile_fire.yml
Labels: S: Needs Review, S: Untriaged, size/S

#7330 Adds beaker box + migration of upstream boxes
  Resources/Prototypes/_RMC14/Catalog/Fills/Boxes/medical.yml
  Resources/migration.yml
Labels: S: Untriaged, Changes: No C#, size/S

#7334 Xeno sacrifice extinguishes and undebuffs
  Content.Shared/_RMC14/Xenonids/Heal/SharedXenoHealSystem.cs
  Content.Shared/_RMC14/Xenonids/Heal/XenoSacraficeHealActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Heal/XenoSacrificeHealActionEvent.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7342 Fix the PMC tracker
  Resources/Prototypes/_RMC14/Alerts/alerts.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7344 Fix we-ya secguard survivor not having WeYa IFF
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/LV624/corporate_security_survivor.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7349 Fixed disabled playtime benefits not working
  Content.Server/_RMC14/Xenonids/XenoRoleSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
Labels: S: Needs Review, S: Untriaged, size/XS

#7352 AK4047 stat fixes
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/ak4047_rifle.yml
Labels: Changes: No C#

#7355 tweak: dogtags can now be worn around the neck
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_base_id.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7358 rmc-job-name-survivor-pizza-galaxy
  Resources/Locale/en-US/_RMC14/job/survivor.ftl
Labels: High Priority, Parity, size/XS, Changes: No C#

#7360 tweak: the headsets in surplus vendors now come with the public channel
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
Labels: S: Untriaged, size/XS, Changes: No C#

#7362 increase default tacmap size
  Content.Client/_RMC14/TacticalMap/TacticalMapWindow.xaml
Labels: S: Needs Review, Changes: UI, Changes: No C#

#7366 Gases of different types now stack
  Content.Server/_RMC14/Smoke/RMCSmokeSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7370 High visibility marking for rubber ammunition
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/riotammo.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m1984riot.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m1984riot.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m1984riot.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m4sprriot.rsi/ammo_band.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m4sprriot.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m4sprriot.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m4sprriot.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m54ceriot.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m54ceriot.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m54ceriot.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m63eriot.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m63eriot.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m63eriot.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m77riot.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m77riot.rsi/base_ap-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m77riot.rsi/base_ap.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m77riot.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m77riot.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, S: Awaiting Changes, Changes: No C#, size/M

#7372 Disable Civilian Access to the CLF Patch in Loadouts
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
Labels: S: Untriaged, Changes: No C#

#7378 Missing Loc.GetString for rmc-medevac-stretcher-failure
  Content.Shared/_RMC14/Dropship/Utility/Systems/SharedMedevacSystem.cs
Labels: S: Untriaged, size/XS

#7394 One-line fix
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CMB/bureau_liaison.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#7397 Fix alec plushie typo in desc
  Resources/Prototypes/_RMC14/Entities/Objects/Fun/toys.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7421 Fix survivor rolling
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7417 Fixed all Normandy walls being named "alamo wall"
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/normandy_walls.yml
Labels: Changes: No C#, size/M

#7401 Update areas_strata.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_strata.yml
Labels: S: Needs Review, High Priority, size/XS, Changes: No C#

#7402 Fix the TSS Mk I bio suit equipped sprite
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Misc/biosuit_weya.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Misc/biosuit_weya.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#

#7404 Various Colonial Marshal -> Colony Marshal Fixes
  Resources/Locale/en-US/_RMC14/job/bureau.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/distress_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/cmb.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/mp5alt_smg.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#7407 Added orders to PVE PMC team leaders
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/PMC/team_lead.yml
Labels: S: Needs Review, S: Untriaged, Parity, size/XS, Changes: No C#

#7408 Add stasisbag holocard visuals
  Content.Client/_RMC14/Medical/HUD/Holocard/HolocardContainerVisualizerSystem.cs
  Content.Shared/_RMC14/Medical/HUD/Components/HolocardContainerComponent.cs
  Content.Shared/_RMC14/Medical/HUD/Events/HolocardContainerStatusUpdateEvent.cs
  Content.Shared/_RMC14/Medical/HUD/Systems/HolocardSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bodybags.yml
  Resources/Textures/_RMC14/Objects/Medical/stasisbag.rsi/bodybag_holoblack.png
  Resources/Textures/_RMC14/Objects/Medical/stasisbag.rsi/bodybag_holoorange.png
  Resources/Textures/_RMC14/Objects/Medical/stasisbag.rsi/bodybag_holopurple.png
  Resources/Textures/_RMC14/Objects/Medical/stasisbag.rsi/bodybag_holored.png
  Resources/Textures/_RMC14/Objects/Medical/stasisbag.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Parity

#7416 M42A2 Collapsible stock, fix vendors
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/pve_cases.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m42a2_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/pilot.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/classic.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/classic.rsi/stock-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/classic.rsi/stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/desert.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/desert.rsi/stock-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/desert.rsi/stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/jungle.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/jungle.rsi/stock-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/jungle.rsi/stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/snow.rsi/stock-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/snow.rsi/stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/urban.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/urban.rsi/stock-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m42a2_stocks/urban.rsi/stock.png
  Resources/migration.yml
Labels: Changes: Sprites, S: Needs Review, High Priority, Parity, Changes: No C#, size/S

#7418 Fix double and cargo door bolt and deny visuals
  Resources/Textures/_RMC14/Structures/Dropships/Airlocks/alamo_cargo.rsi/door_closed.png
  Resources/Textures/_RMC14/Structures/Dropships/Airlocks/alamo_cargo.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Dropships/Airlocks/alamo_cargo.rsi/door_locked.png
  Resources/Textures/_RMC14/Structures/Dropships/Airlocks/alamo_doubledoor.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Dropships/Airlocks/alamo_doubledoor.rsi/door_locked.png
  Resources/Textures/_RMC14/Structures/Dropships/Airlocks/alamo_doubledoor.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Dropships/Airlocks/normandy_cargo.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Dropships/Airlocks/normandy_cargo.rsi/door_locked.png
  Resources/Textures/_RMC14/Structures/Dropships/Airlocks/normandy_doubledoor.rsi/door_deny.png
  Resources/Textures/_RMC14/Structures/Dropships/Airlocks/normandy_doubledoor.rsi/door_locked.png
  Resources/Textures/_RMC14/Structures/Dropships/Airlocks/normandy_doubledoor.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#7487 Fix health analyzers not showing permadead marines as permadead
  Content.Client/_RMC14/Medical/Scanner/HealthScannerBui.cs
  Resources/Locale/en-US/_RMC14/medical/examine.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: S: Needs Review, S: Untriaged, size/S

#7527 PVE Dropships
  Resources/Maps/_RMC14/Shuttles/dropship_alamo_pve.yml
  Resources/Maps/_RMC14/Shuttles/dropship_normandy_pve.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/alamo_walls.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/normandy_walls.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/prop_computers.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/shuttle_console.yml
  Resources/Prototypes/_RMC14/Entities/Structures/stairs.yml
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/101a.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/103.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/104.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/46a.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/49a.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/86a.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/86b.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/89a.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/89b.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/95a.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/97a.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/99a.png
  Resources/Textures/_RMC14/Structures/Dropships/alamo.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/101a.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/103.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/104.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/46a.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/49a.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/86a.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/86b.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/89a.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/89b.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/95a.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/97a.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/99a.png
  Resources/Textures/_RMC14/Structures/Dropships/normandy.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: Map, Changes: No C#, size/L

#7520 Fixes RTO inhands
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/rto.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/rto.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/rto.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, size/XS, Changes: No C#

#7523 M3 MOPP Suit
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/cbrnsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/cbrnsuit.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/cbrnsuit.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#7528 Fix buggy movement speed when wielding some guns
  Content.Shared/_RMC14/Wieldable/RMCWieldableSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
Labels: S: Needs Review, size/S

#7530 Fix not being able to CPR crit marines on PvE
  Content.Shared/_RMC14/Medical/CPR/CPRSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#7542 [Fix] Typo Almyer's -> Almayer's
  Resources/ServerInfo/Guidebook/_RMC14/NewPlayerGuide/RMCSurvivor.xml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6666 Medals for peak players
  Content.Server/_RMC14/Medal/PlaytimeMedalSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Medal/RMCPlaytimeMedalType.cs
  Resources/Prototypes/_RMC14/Entities/Objects/medals.yml
  Resources/Prototypes/_RMC14/Roles/cm_jobs_base.yml
  Resources/Textures/_RMC14/Objects/Medals/amethyst.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Medals/amethyst.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medals/amethyst.rsi/icon_co.png
  Resources/Textures/_RMC14/Objects/Medals/amethyst.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medals/amethyst_ribbon.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Medals/amethyst_ribbon.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medals/amethyst_ribbon.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medals/bronze_ribbon.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Medals/bronze_ribbon.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medals/bronze_ribbon.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medals/emerald.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Medals/emerald.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medals/emerald.rsi/icon_co.png
  Resources/Textures/_RMC14/Objects/Medals/emerald.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medals/emerald_ribbon.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Medals/emerald_ribbon.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medals/emerald_ribbon.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medals/prismatic.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Medals/prismatic.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medals/prismatic.rsi/icon_co.png
  Resources/Textures/_RMC14/Objects/Medals/prismatic.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medals/prismatic_ribbon.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Medals/prismatic_ribbon.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medals/prismatic_ribbon.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medals/ruby.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Medals/ruby.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medals/ruby.rsi/icon_co.png
  Resources/Textures/_RMC14/Objects/Medals/ruby.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#7480 Fixed the Commanding Officer's smartgun making the owners hitbox much wider.
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/equipped-BACK-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/equipped-SUITSTORAGE-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/inhand-right-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/wielded-inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/wielded-inhand-right-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/equipped-BACK-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/equipped-SUITSTORAGE-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/inhand-right-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/wielded-inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/wielded-inhand-right-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/equipped-BACK-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/equipped-SUITSTORAGE-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/inhand-right-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/wielded-inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/wielded-inhand-right-color.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6860 Add MP vests to the MW and CMP vendors, remove CMP access to MP vendor.
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/police.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#7488 Corrected RMC tips
  Resources/Locale/en-US/_RMC14/rmc-tips.ftl
Labels: S: Untriaged, Changes: No C#, size/M

#7439 Makes smartgun harness unacidable
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6547 Adds Banners
  Resources/Prototypes/_RMC14/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Textures/_RMC14/Structures/Wallmounts/banners.rsi/blankflag.png
  Resources/Textures/_RMC14/Structures/Wallmounts/banners.rsi/blankflag_worn.png
  Resources/Textures/_RMC14/Structures/Wallmounts/banners.rsi/clfflag.png
  Resources/Textures/_RMC14/Structures/Wallmounts/banners.rsi/clfflag_worn.png
  Resources/Textures/_RMC14/Structures/Wallmounts/banners.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Wallmounts/banners.rsi/sppflag.png
  Resources/Textures/_RMC14/Structures/Wallmounts/banners.rsi/sppflag_worn.png
  Resources/Textures/_RMC14/Structures/Wallmounts/banners.rsi/tseflag.png
  Resources/Textures/_RMC14/Structures/Wallmounts/banners.rsi/tseflag_worn.png
  Resources/Textures/_RMC14/Structures/Wallmounts/banners.rsi/unflag.png
  Resources/Textures/_RMC14/Structures/Wallmounts/banners.rsi/unflag_worn.png
  Resources/Textures/_RMC14/Structures/Wallmounts/banners.rsi/unmcflag.png
  Resources/Textures/_RMC14/Structures/Wallmounts/banners.rsi/unmcflag_worn.png
Labels: Changes: Sprites, Changes: No C#, size/M

#7620 added PMC ID
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_id_other.yml
  Resources/Textures/_RMC14/Objects/CMIDs/silver_id.rsi/meta.json
  Resources/Textures/_RMC14/Objects/CMIDs/silver_id.rsi/pmc.png
Labels: Changes: Sprites, S: Needs Review, Low Priority, Changes: No C#, size/S

#7085 More tails for Vulpkanins and Felinids
  Resources/Locale/en-US/_RMC14/felinid/felinid.ftl
  Resources/Locale/en-US/_RMC14/vulpkanin/vulpkanin.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Markings/felinid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Markings/vulpkanin.yml
  Resources/Textures/_RMC14/Mobs/Felinids/catbig_tail.rsi/m_tail_catbig_primary.png
  Resources/Textures/_RMC14/Mobs/Felinids/catbig_tail.rsi/m_tail_catbig_primary_wag.png
  Resources/Textures/_RMC14/Mobs/Felinids/catbig_tail.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Felinids/leopard_tail.rsi/m_tail_leopard_primary.png
  Resources/Textures/_RMC14/Mobs/Felinids/leopard_tail.rsi/m_tail_leopard_primary_wag.png
  Resources/Textures/_RMC14/Mobs/Felinids/leopard_tail.rsi/m_tail_leopard_tertiary.png
  Resources/Textures/_RMC14/Mobs/Felinids/leopard_tail.rsi/m_tail_leopard_tertiary_wag.png
  Resources/Textures/_RMC14/Mobs/Felinids/leopard_tail.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Vulpkanin/australianshepherd_tail.rsi/m_tail_australianshepherd_primary.png
  Resources/Textures/_RMC14/Mobs/Vulpkanin/australianshepherd_tail.rsi/m_tail_australianshepherd_primary_wag.png
  Resources/Textures/_RMC14/Mobs/Vulpkanin/australianshepherd_tail.rsi/m_tail_australianshepherd_secondary.png
  Resources/Textures/_RMC14/Mobs/Vulpkanin/australianshepherd_tail.rsi/m_tail_australianshepherd_secondary_wag.png
  Resources/Textures/_RMC14/Mobs/Vulpkanin/australianshepherd_tail.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Vulpkanin/straight_tail.rsi/m_tail_straighttail_primary.png
  Resources/Textures/_RMC14/Mobs/Vulpkanin/straight_tail.rsi/m_tail_straighttail_primary_wag.png
  Resources/Textures/_RMC14/Mobs/Vulpkanin/straight_tail.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#7610 Mhelp message added to first time joining
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
Labels: S: Needs Review, S: Approved, size/XS, Changes: No C#

#7608 Fixed Typo in Description
  Resources/Prototypes/_RMC14/Entities/Structures/containers.yml
Labels: S: Needs Review, S: Approved, size/XS, Changes: No C#

#7506 Add lethal injection syringes
  Resources/Locale/en-US/_RMC14/medical/toxins.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/syringes.yml
  Resources/Prototypes/_RMC14/Reagents/toxins.yml
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/draw.png
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/inhand-left-fill-1.png
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/inhand-left-fill-2.png
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/inhand-left-fill-3.png
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/inhand-right-fill-1.png
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/inhand-right-fill-2.png
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/inhand-right-fill-3.png
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/inject.png
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/syringe.png
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/syringe1.png
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/syringe2.png
  Resources/Textures/_RMC14/Objects/Medical/lethal_syringe.rsi/syringe3.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#7479 Parity channels for cargotechs
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/EncryptionKeys/ship.yml
Labels: S: Approved, Changes: No C#, size/S

#7484 Parasite plasma removed
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
Labels: S: Untriaged, size/XS, Changes: No C#

#7609 Fixed the rank of TSEPA support synth from Master Sergeant to Constable
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/TSE/TSEPA/tsepa_synthetic.yml
Labels: S: Needs Review, S: Approved, size/XS, Changes: No C#

#7428 Seven-line fix
  Resources/Prototypes/_RMC14/Entities/rmc_planets.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Base_Survs/icb_liaison_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/icb_liaison_survivor.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#7624 Removed Marine Orders Component from RMCJobSynthetic in synth.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/synth.yml
Labels: S: Needs Review, Issue: Bug, Low Priority, size/XS, Changes: No C#

#7163 Adds the black drop pouch
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/clothing.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/webbing.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/medical.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/pilot.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/synthetic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/drop_pouch_black.rsi/drop_pouch_black.png
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/drop_pouch_black.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/drop_pouch_black.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Parity, Changes: No C#, size/M

#7644 fix yaml of quartermaster.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/quartermaster.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7661 Non-rotatable chairs
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/chairs.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#7662 Add missing colours to MLaw Appeal Processor clause
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawAppeals.xml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7657 Fix M42A2 Description
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m42a2_shotgun.yml
Labels: S: Needs Review, Low Priority, size/XS, Changes: No C#

#7076 Add Pyrotechnician spec's firewalker ability and flame-resistant armor
  Content.Shared/_RMC14/Armor/Firewalk/ActiveFirewalkerComponent.cs
  Content.Shared/_RMC14/Armor/Firewalk/FirewalkActivateActionEvent.cs
  Content.Shared/_RMC14/Armor/Firewalk/FirewalkArmorComponent.cs
  Content.Shared/_RMC14/Armor/Firewalk/FirewalkSystem.cs
  Content.Shared/_RMC14/Atmos/RMCImmuneToIgnitionComponent.cs
  Content.Shared/_RMC14/Atmos/SharedRMCFlammableSystem.cs
  Content.Shared/_RMC14/Atmos/SteppingOnFireComponent.cs
  Resources/Locale/en-US/_RMC14/armor/rmc-firewalk.ftl
  Resources/Prototypes/_RMC14/Actions/Marines/marine_ghillie_actions.yml
  Resources/Prototypes/_RMC14/Actions/Marines/marine_specialist_actions.yml
  Resources/Prototypes/_RMC14/Actions/Marines/marine_thermalcloak_actions.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/marine_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Textures/_RMC14/Actions/marine_firewalk_actions.rsi/firewalk.png
  Resources/Textures/_RMC14/Actions/marine_firewalk_actions.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Parity, size/M

#7396 fix: overfull pods now bolt open after exploding
  Content.Shared/_RMC14/Evacuation/SharedEvacuationSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7442 BE
  Content.Shared.Database/LogType.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCBattleExecuteComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCBattleExecuteEvent.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCBattleExecuteSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCBattleExecutedComponent.cs
  Resources/Locale/en-US/_RMC14/rmc-execution.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/peregrine_handcannon.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/mateba.yml
Labels: S: Needs Review, Low Priority, size/M

#7400 Dropships can now independently lock or unlock doors on the Aft, Port, or Starboard sides.
  Content.Client/_RMC14/Dropship/DropshipNavigationBui.cs
  Content.Client/_RMC14/Dropship/DropshipNavigationWindow.xaml
  Content.Server/_RMC14/Dropship/DropshipSystem.cs
  Content.Shared/_RMC14/Dropship/DropshipComponent.cs
  Content.Shared/_RMC14/Dropship/DropshipNavigationUI.cs
Labels: S: Needs Review, Changes: UI, S: Untriaged, Parity, size/M

#7412 Scenario Survivors
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/Rules/CMDistressSignalRuleComponent.cs
  Content.Shared/_RMC14/Rules/RMCPlanetMapPrototypeComponent.cs
  Resources/Locale/en-US/_RMC14/job/survivor.ftl
  Resources/Maps/_RMC14/Inserts/LV624/corporate_dome.yml
  Resources/Prototypes/_RMC14/Entities/rmc_planets.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/LV624/corporate_dome_cl.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/LV624/corporate_dome_goon.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/LV624/corporate_dome_goon_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/LV624/corporate_dome_goon_lead.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/LV624/corporate_dome_goon_medic.yml
Labels: S: Needs Review, Changes: Map, High Priority, Parity, size/L

#7567 Fix a client/server desync when re-assigning the owner of a locked weapon (such as the CO's primary) that resulted in pretty severe misprediction.
  Content.Shared/_RMC14/Weapons/Ranged/GunIDLockSystem.cs
Labels: S: Needs Review, Issue: Bug, Low Priority, size/XS

#7599 SPP Type 71 Buff for PVE!
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/type71PVE.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/GunRacks/rifles.yml
Labels: S: Needs Review, Low Priority, Changes: No C#, size/M, PVE

#7625 [FIX] the green EMT coat being red/maroon
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
Labels: S: Needs Review, Issue: Bug, Low Priority, size/XS, Changes: No C#

#7660 Make `setlooc` permission require +ADMIN not +SERVER
  Content.Server/Chat/Commands/SetLOOCCommand.cs
Labels: S: Needs Review, Issue: Feature Request, Low Priority, size/XS

#7647 Synth Key resize, Belt whitelists, Synth Vendor Changes
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/defib.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/engineerkit.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/synthetic.yml
  Resources/Prototypes/_RMC14/rmc_tags.yml
Labels: S: Needs Review, Low Priority, Parity, Changes: No C#, size/S

#7486 Roundstart Xeno Survivor Corpses Radio Off
  Content.Shared/_RMC14/Rules/CMDistressSignalRuleComponent.cs
  Resources/Prototypes/_RMC14/Catalog/Fills/Clothing/pouch.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Base_Survs/host_survivor.yml
Labels: S: Needs Review, Low Priority, size/S

#7483 Fix scattered spit projectile spread
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/Scattered/XenoScatteredSpitComponent.cs
  Content.Shared/_RMC14/Xenonids/Projectile/XenoProjectileSystem.cs
Labels: S: Needs Review, Low Priority, Issue: Balance, Parity, size/S

#7648 Now the plasma is not transferred if the target has full plasma
  Content.Shared/_RMC14/Xenonids/Plasma/XenoPlasmaSystem.cs
Labels: S: Needs Review, Low Priority, size/XS

#7474 Additional Admin Logging
  Content.Server/_RMC14/Admin/RMCAdminSystem.cs
  Content.Shared.Database/LogType.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7464 Fixed scoping facing incorrect direction while buckled
  Content.Shared/_RMC14/Scoping/SharedScopeSystem.cs
Labels: S: Needs Review, Issue: Bug, Low Priority, size/XS

#7482 Fixes accuracy modifiers for M82F Flare Gun and Hunting Rifle
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/BoltAction/hunting_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m82f.yml
Labels: S: Needs Review, Issue: Bug, Low Priority, Parity, Changes: No C#

#7463 Add Hive Pylon map blip
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_core.yml
  Resources/Prototypes/_RMC14/Entities/guide_book_entities.yml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideXenonidMapIcons.xml
  Resources/Textures/_RMC14/Interface/map_blips.rsi/meta.json
  Resources/Textures/_RMC14/Interface/map_blips.rsi/pylon.png
Labels: Changes: Sprites, S: Needs Review, Low Priority, Changes: No C#

#7341 Add rocket pods and mini rockets
  Content.Shared/_RMC14/Dropship/Weapon/AmmoInFlightComponent.cs
  Content.Shared/_RMC14/Dropship/Weapon/DropshipAmmoComponent.cs
  Content.Shared/_RMC14/Dropship/Weapon/DropshipWeaponComponent.cs
  Content.Shared/_RMC14/Dropship/Weapon/SharedDropshipWeaponSystem.cs
  Content.Shared/_RMC14/PowerLoader/PowerLoaderSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/PowerLoader/Dropship/rmc_dropship_ammo.yml
  Resources/Prototypes/_RMC14/Entities/Objects/PowerLoader/Dropship/rmc_dropship_weapons.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_RMC14/Entities/Tiles/tile_fire.yml
  Resources/Textures/_RMC14/Objects/dropship_attachments.rsi/meta.json
  Resources/Textures/_RMC14/Objects/dropship_attachments.rsi/minirocket_pod_loaded_1.png
  Resources/Textures/_RMC14/Objects/dropship_attachments.rsi/minirocket_pod_loaded_2.png
  Resources/Textures/_RMC14/Objects/dropship_attachments.rsi/minirocket_pod_loaded_3.png
  Resources/Textures/_RMC14/Objects/dropship_attachments.rsi/minirocket_pod_loaded_4.png
  Resources/Textures/_RMC14/Objects/dropship_attachments.rsi/minirocket_pod_loaded_5.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Parity, size/M

#7721 Fixing Testfails All Over The Place
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Locale/en-US/_RMC14/commands/rmc-toolshed-commands.ftl
  Resources/Maps/_RMC14/Breakwater_Strand.yml
  Resources/Maps/_RMC14/map_template.yml
  Resources/Maps/_RMC14/weya_haurchefant.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/GunRacks/rifles.yml
  Resources/Prototypes/_RMC14/Maps/chances_repaired.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#, size/M

#7465 Fix for dead things rendering behind rollerbeds
  Content.Client/_RMC14/Buckle/RMCBuckleVisualsSystem.cs
Labels: S: Needs Review, Low Priority, size/S

#7593 Mateba / WW can fire in the air while moving
  Content.Shared/_RMC14/Weapons/Ranged/RMCAirShotComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCAirShotSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/peregrine_handcannon.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/mateba.yml
Labels: S: Needs Review, Low Priority, size/S

#7499 spec and job pamphlets now update your role in tracker and OW
  Content.Client/_RMC14/Overwatch/OverwatchConsoleBui.cs
  Content.Client/_RMC14/Tracker/SquadLeader/SquadInfoBui.cs
  Content.Server/_RMC14/Ghost/GhostRoleApplySpecialSystem.cs
  Content.Shared/_RMC14/Overwatch/OverwatchConsoleUI.cs
  Content.Shared/_RMC14/Overwatch/SharedOverwatchConsoleSystem.cs
  Content.Shared/_RMC14/Tracker/SquadLeader/SquadLeaderTrackerMarine.cs
  Content.Shared/_RMC14/Tracker/SquadLeader/SquadLeaderTrackerSystem.cs
Labels: S: Needs Review, Issue: Bug, Low Priority, size/S

#7042 Part two of the soulful renewal of UI's
  Content.Client/Lobby/UI/CharacterSetupGui.xaml.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Client/_RMC14/Dropship/Fabricator/DropshipFabricatorBui.cs
  Content.Client/_RMC14/Dropship/Fabricator/DropshipFabricatorWindow.xaml
  Content.Client/_RMC14/Intel/TechControlConsoleBui.cs
  Content.Client/_RMC14/Intel/TechControlConsoleOptionWindow.xaml
  Content.Client/_RMC14/Intel/ViewIntelObjectivesBui.cs
  Content.Client/_RMC14/Intel/ViewIntelObjectivesWindow.xaml
  Content.Client/_RMC14/Mortar/MortarWindow.xaml
  Content.Client/_RMC14/OrbitalCannon/OrbitalCannonComputerBui.cs
  Content.Client/_RMC14/OrbitalCannon/OrbitalCannonWindow.xaml
  Content.Client/_RMC14/RMCPlaytimeStats/RMCPlaytimeStatsEntry.cs
  Content.Client/_RMC14/RMCPlaytimeStats/RMCPlaytimeStatsEntry.xaml
  Content.Client/_RMC14/RMCPlaytimeStats/RMCPlaytimeStatsHeader.cs
  Content.Client/_RMC14/RMCPlaytimeStats/RMCPlaytimeStatsHeader.xaml
  Content.Client/_RMC14/RMCPlaytimeStats/RMCPlaytimeStatsWindow.cs
  Content.Client/_RMC14/RMCPlaytimeStats/RMCPlaytimeStatsWindow.xaml
  Content.Client/_RMC14/Xenonids/Evolution/XenoEvolutionBui.cs
  Content.Client/_RMC14/Xenonids/Evolution/XenoEvolutionWindow.xaml
  Content.Client/_RMC14/Xenonids/Evolution/XenoStrainConfirmWindow.xaml
  Content.Client/_RMC14/Xenonids/Evolution/XenoStrainConfirmWindow.xaml.cs
  Resources/Locale/en-US/_RMC14/intel.ftl
  Resources/Locale/en-US/_RMC14/mortar.ftl
  Resources/Locale/en-US/_RMC14/ob.ftl
  Resources/Locale/en-US/_RMC14/rmc-playtimestats-ui.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-ui.ftl
Labels: S: Needs Review, Changes: UI, S: Untriaged, size/L

#7546 Partially fixes flare guns going through walls
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m82f.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#7444 Added unique incons for prop calling
  Resources/Prototypes/_RMC14/Actions/Ghosts/prop_calling_actions.yml
  Resources/Textures/_RMC14/Interface/prop_calling.rsi/RMC_observeraction_call_props.png
  Resources/Textures/_RMC14/Interface/prop_calling.rsi/RMC_observeraction_joining.png
  Resources/Textures/_RMC14/Interface/prop_calling.rsi/RMC_observeraction_not_joining.png
  Resources/Textures/_RMC14/Interface/prop_calling.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#7485 Add Vent crawling
  Content.Client/SubFloor/TrayScannerSystem.cs
  Content.Client/_RMC14/VentCrawl/VentCrawlIconOverlay.cs
  Content.Client/_RMC14/VentCrawl/VentCrawlingSystem.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Server/_RMC14/VentCrawling/VentCrawlingSystem.cs
  Content.Shared/_RMC14/Vents/RMCTrayCrawlerComponent.cs
  Content.Shared/_RMC14/Vents/SharedVentCrawlingSystem.cs
  Content.Shared/_RMC14/Vents/VentCrawlableComponent.cs
  Content.Shared/_RMC14/Vents/VentCrawlerComponent.cs
  Content.Shared/_RMC14/Vents/VentCrawlingComponent.cs
  Content.Shared/_RMC14/Vents/VentEntranceComponent.cs
  Content.Shared/_RMC14/Vents/VentEvents.cs
  Content.Shared/_RMC14/Vents/VentExitComponent.cs
  Content.Shared/_RMC14/Vents/VentSightComponent.cs
  Content.Shared/_RMC14/Xenonids/Devour/XenoDevourSystem.cs
  Content.Shared/_RMC14/Xenonids/ForTheHive/SharedXenoForTheHiveSystem.cs
  Resources/Audio/_RMC14/Xeno/alien_ventcrawl1.ogg
  Resources/Audio/_RMC14/Xeno/alien_ventcrawl2.ogg
  Resources/Audio/_RMC14/Xeno/alien_ventpass1.ogg
  Resources/Audio/_RMC14/Xeno/alien_ventpass2.ogg
  Resources/Audio/_RMC14/Xeno/attributions.yml
  Resources/Locale/en-US/_RMC14/vent-crawl.ftl
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/_RMC14/Audio/xeno_sound_collections.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Piping/atmospherics.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Piping/pipes.yml
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/acider.png
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/burrower.png
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/drone.png
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/gardener.png
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/healer.png
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/larva.png
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/lesser.png
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/lurker.png
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/meta.json
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/parasite.png
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/runner.png
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/sentinel.png
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/spitter.png
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/unknown.png
  Resources/Textures/_RMC14/Interface/vent_crawl.rsi/vampire.png
  Resources/migration.yml
Labels: Changes: Sprites, S: Needs Review, S: Merge Conflict, S: Untriaged, size/M, Changes: Audio

#7705 misc. PVE fixes
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/PMC/corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/PMC/force_lead.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/PMC/operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/PMC/overwatch.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/PMC/support_gunner.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/PMC/team_lead.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/SPPoverwatch.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/heavy_gunner.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/section_lead.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/squad_lead.yml
Labels: S: Needs Review, Low Priority, Changes: No C#, size/S, PVE

#7717 Intel Support crate, Enabled a couple of other crates
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/restricted_equipment.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#7492 Make paras spawning from carriers collision immune
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteThrowerSystem.cs
Labels: S: Needs Review, Low Priority, size/XS

#7549 Make RMCJumpsuitEMTGreen parent from RMCJumpsuitEMT
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/other.yml
Labels: S: Needs Review, Low Priority, size/XS, Changes: No C#

#7583 link to the new communications guide
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/EncryptionKeys/ship.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/rmc_communications_console.yml
  Resources/Prototypes/_RMC14/Entities/Structures/rotary_phone.yml
Labels: S: Needs Review, Low Priority, Changes: No C#, size/S

#7134 Fixed scouts not actually needing their armor to use their cloak
  Content.Shared/_RMC14/Clothing/ClothingRequireEquippedComponent.cs
  Content.Shared/_RMC14/Clothing/RMCClothingSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
Labels: S: Needs Review, S: Untriaged, Parity, size/S

#7581 fix tunnel ui
  Content.Client/_RMC14/Xenonids/Construction/Tunnel/SelectDestinationTunnelBui.cs
  Content.Shared/_RMC14/Xenonids/Construction/Tunnel/XenoTunnelSystem.cs
Labels: S: Needs Review, Issue: Bug, Medium Priority, size/S

#6554 Make shutters and bolted doors block larvae and parasites
  Content.Shared/_RMC14/Doors/CMDoorSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Shutters/shutters.yml
Labels: S: Needs Review, S: Merge Conflict, S: Untriaged, Parity, S: Awaiting Changes, Changes: No C#, size/S

#7553 Adds more reptile emotes.
  Resources/Audio/_RMC14/Voice/Reptilian/attritbutions.yml
  Resources/Audio/_RMC14/Voice/Reptilian/lizard_hiss_1.ogg
  Resources/Audio/_RMC14/Voice/Reptilian/lizard_hiss_2.ogg
  Resources/Audio/_RMC14/Voice/Reptilian/lizard_hiss_3.ogg
  Resources/Audio/_RMC14/Voice/Reptilian/lizard_purr.ogg
  Resources/Audio/_RMC14/Voice/Reptilian/lizard_rattle.ogg
  Resources/Audio/_RMC14/Voice/Reptilian/lizard_scream_1.ogg
  Resources/Audio/_RMC14/Voice/Reptilian/lizard_scream_2.ogg
  Resources/Audio/_RMC14/Voice/Reptilian/lizard_scream_3.ogg
  Resources/Locale/en-US/_RMC14/chat/species-emotes.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/_RMC14/SoundCollections/reptile.yml
  Resources/Prototypes/_RMC14/Voice/Reptilian/reptilian_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/speech_emotes.yml
Labels: S: Needs Review, Low Priority, Changes: Sound, Changes: No C#, size/M, Changes: Audio

#7607 Adds HVHI-Piercing ammo and magazine for the M5SPR. (PVE)
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_rifle.yml
Labels: S: Needs Review, Low Priority, Changes: No C#, PVE

#7395 Magics Of Fork Development
  Content.IntegrationTests/AssemblyInfo.cs
  Content.IntegrationTests/Tests/EntityTest.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#7075 Give XO a Five Hour MP Department Requirement
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/executive_officer.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7585 Add a Purple new player tag for players with under 1 hour as a job.
  Content.Client/_RMC14/NewPlayer/NewPlayerVisualizerSystem.cs
  Content.Server/_RMC14/NewPlayer/NewPlayerSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/NewPlayer/NewPlayerLayers.cs
  Content.Shared/_RMC14/NewPlayer/SeeNewPlayersComponent.cs
  Resources/Textures/_RMC14/Interface/new_player.rsi/meta.json
  Resources/Textures/_RMC14/Interface/new_player.rsi/new_player_marker_4.png
Labels: Changes: Sprites, S: Needs Review, Medium Priority, size/S

#7595 SEA Patch
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/patches.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/senior_enlisted_advisor.yml
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/UN/sea_patch.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/UN/sea_patch.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/UN/sea_patch.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/UN/sea_patch.rsi/patch.png
Labels: Changes: Sprites, S: Needs Review, Low Priority, Changes: No C#, size/S

#7363 Disabler rework (rmc)
  Content.Shared/_RMC14/Stamina/RMCStaminaSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Energy/taser.yml
Labels: S: Needs Review, S: Untriaged, size/S

#7716 Fix corporate dome goon survivor playtime trackers and skills
  Resources/Locale/en-US/_RMC14/job/pmc.ftl
  Resources/Locale/en-US/_RMC14/job/survivor.ftl
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/LV624/corporate_dome_cl.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/LV624/corporate_dome_goon.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/LV624/corporate_dome_goon_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/LV624/corporate_dome_goon_lead.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/LV624/corporate_dome_goon_medic.yml
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/meta.json
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/weya_goon_engi.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/weya_goon_lead.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/weya_goon_medic.png
Labels: Changes: Sprites, S: Needs Review, Medium Priority, Parity, Changes: No C#, size/M

#7017 dropshop live tacmap
  Content.Client/_RMC14/Dropship/Weapon/DropshipWeaponSystem.cs
  Content.Client/_RMC14/Dropship/Weapon/DropshipWeaponsBui.cs
  Content.Client/_RMC14/TacticalMap/TacticalMapSystem.cs
  Content.Server/_RMC14/TacticalMap/TacticalMapSystem.cs
  Content.Shared/_RMC14/Dropship/Weapon/DropshipTerminalWeaponsUi.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/shuttle_console.yml
Labels: S: Needs Review, S: Untriaged, Parity, size/M

#6847 UNS Berkley: Dev ship/Ultra Lowpop
  Resources/Maps/_RMC14/berkley.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_berkley.yml
  Resources/Prototypes/_RMC14/Maps/berkley.yml
  Resources/Textures/_RMC14/Areas/berkley.rsi/alpha.png
  Resources/Textures/_RMC14/Areas/berkley.rsi/alpha_bravo.png
  Resources/Textures/_RMC14/Areas/berkley.rsi/berkley.png
  Resources/Textures/_RMC14/Areas/berkley.rsi/bravo.png
  Resources/Textures/_RMC14/Areas/berkley.rsi/charlie.png
  Resources/Textures/_RMC14/Areas/berkley.rsi/charlie_delta.png
  Resources/Textures/_RMC14/Areas/berkley.rsi/command.png
  Resources/Textures/_RMC14/Areas/berkley.rsi/delta.png
  Resources/Textures/_RMC14/Areas/berkley.rsi/engineering.png
  Resources/Textures/_RMC14/Areas/berkley.rsi/medical.png
  Resources/Textures/_RMC14/Areas/berkley.rsi/meta.json
  Resources/Textures/_RMC14/Areas/berkley.rsi/pump.png
  Resources/Textures/_RMC14/Areas/berkley.rsi/requi.png
  Resources/Textures/_RMC14/Areas/berkley.rsi/security.png
Labels: Changes: Sprites, S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#, size/XL

#6741 Minor cleanups to XO vendor
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S
