Repository RMC-14/RMC-14, pull requests merged in 2025-05, with the labels that each got.

#4536 Add storage drawing toggle to some storages
  Content.Shared/_RMC14/Hands/RMCHandsSystem.cs
  Content.Shared/_RMC14/Hands/RMCStorageEjectHandComponent.cs
  Content.Shared/_RMC14/Storage/RMCStorageSystem.cs
  Resources/Locale/en-US/_RMC14/storage/storage.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/base.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/base.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/rmc_reagent_canister.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/webbing.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/shotgun_boxes.yml
Labels: S: Needs Review, size/M

#6344 Fix error when dying as a boiler
  Content.Server/_RMC14/Xenonids/XenoRoleSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6338 Fix grenade launchers lauching past screen range
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/base_grenade_launcher.yml
Labels: S: Needs Review, Changes: No C#

#6263 Powered Floodlights
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/floodlights.yml
Labels: size/XS, Changes: No C#

#5715 Sensor tower no longer shows xeno structures for marines
  Content.Client/_RMC14/TacticalMap/TacticalMapControl.xaml.cs
  Content.Client/_RMC14/TacticalMap/TacticalMapUserBui.cs
  Content.Server/_RMC14/TacticalMap/TacticalMapSystem.cs
  Content.Shared/_RMC14/TacticalMap/TacticalMapComponent.cs
  Content.Shared/_RMC14/TacticalMap/TacticalMapUserComponent.cs
  Content.Shared/_RMC14/TacticalMap/XenoStructureMapTrackedComponent.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_cluster.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_core.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_tunnel.yml
Labels: S: Needs Review, S: Merge Conflict, Changes: UI, S: Untriaged, size/S

#6309 M13 Attachment offsets
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m10_auto_pistol.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6316 Add missing attachment options to certain guns
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m16_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_scout_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_mk1_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/mar40_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/xm88_rifle.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6335 624 Gambling
  Resources/Maps/_RMC14/Inserts/LV624/hydro_destroyed.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#, size/M

#5698 increase required playtime for pilots
  Resources/Locale/en-US/_RMC14/job/cm-role-timers.ftl
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/gunship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/human_job_groups.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6246 Prisoner clothes, shoes, headset for brig
  Resources/Prototypes/Entities/Clothing/Shoes/color.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/police.yml
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/MP/prisoner/maxsec.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/MP/prisoner/maxsec.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/MP/prisoner/maxsec.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/MP/prisoner/medsec.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/MP/prisoner/medsec.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/MP/prisoner/medsec.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5901 Restores pulled up tactical wraps.
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/alpha.rsi/equipped-NECK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/alpha.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/black.rsi/equipped-NECK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/black.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/bravo.rsi/equipped-NECK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/bravo.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/charlie.rsi/equipped-NECK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/charlie.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/delta.rsi/equipped-NECK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/delta.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/echo.rsi/equipped-NECK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/echo.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/foxtrot.rsi/equipped-NECK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/foxtrot.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/gray.rsi/equipped-NECK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/gray.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/green.rsi/equipped-NECK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/green.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/equipped-NECK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/tan.rsi/equipped-NECK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/tan.rsi/equipped-NECK.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6121 Adds Cat Maid Queen Strain
  Resources/Locale/en-US/_RMC14/xeno/xeno-strains.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_ovipositor.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_ovipositor.rsi/normal.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/alive.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/crit.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/dead.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_downed_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_downed_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_downed_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_egg_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_egg_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_parasite_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_parasite_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_walk_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_walk_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_walk_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/queen_walk_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/Maid_queen/maid_queen.rsi/sleeping.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#6267 Fix baton slugs losing their acid after being shot again
  Content.Server/Explosion/EntitySystems/ScatteringGrenadeSystem.cs
  Content.Shared/Explosion/EntitySystems/SharedRMCScatteringGrenadeSystem.cs
  Content.Shared/_RMC14/Xenonids/Acid/InheritAcidComponent.cs
  Content.Shared/_RMC14/Xenonids/Acid/SharedXenoAcidSystem.cs
  Content.Shared/_RMC14/Xenonids/Acid/TimedCorrodingComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m74_airburst_grenades.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6222 corporate lawyer and bodyguard
  Content.Shared/_RMC14/Vendors/RMCVendorUserRechargeComponent.cs
  Content.Shared/_RMC14/Vendors/RMCVendorUserRechargeSystem.cs
  Content.Shared/_RMC14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Locale/en-US/_RMC14/ghost-roles/pmc.ftl
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/goon.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/goon_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/lawyer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/lawyer_supervisor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/corporate_executive_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/corporate_executive_supervisor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/liaison.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/We-Ya/corporate.yml
Labels: S: Needs Review, S: Untriaged, size/M

#6318 Provost weh plushie
  Resources/Prototypes/_RMC14/Entities/Objects/Fun/toys.yml
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/provost.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6332 New Hairs
  Resources/Locale/en-US/_RMC14/accessories/human-hair.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/_RMC14/Mobs/Customization/human_hair.rsi/hair_longmessy.png
  Resources/Textures/_RMC14/Mobs/Customization/human_hair.rsi/hair_ponytail9.png
  Resources/Textures/_RMC14/Mobs/Customization/human_hair.rsi/hair_pulatolong.png
  Resources/Textures/_RMC14/Mobs/Customization/human_hair.rsi/hair_pulatolong2.png
  Resources/Textures/_RMC14/Mobs/Customization/human_hair.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#

#6328 Fix airburst grenades hitting marines or xenos before reaching their destination, when shot from an underbarrel grenade launcher
  Content.Shared/_RMC14/Weapons/Ranged/IFF/GunIFFSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
Labels: S: Needs Review, S: Untriaged, size/XS

#6345 Egg morpher and recovery node map icons
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_egg_morpher.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_recovery.yml
  Resources/Textures/_RMC14/Interface/map_blips.rsi/meta.json
  Resources/Textures/_RMC14/Interface/map_blips.rsi/morpher.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/recovery_node.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#6319 Standardize Xeno Visual State Enums
  Content.Client/_RMC14/Xenonids/Acider/XenoAciderGenerationVisualsSystem.cs
  Content.Client/_RMC14/Xenonids/Damage/RMCXenoDamageVisualsSystem.cs
  Content.Client/_RMC14/Xenonids/Egg/XenoEggStorageVisualizerSystem.cs
  Content.Client/_RMC14/Xenonids/Heal/XenoSalveVisualsSystem.cs
  Content.Client/_RMC14/Xenonids/Inhands/XenoInhandsVisualsSystem.cs
  Content.Client/_RMC14/Xenonids/Parasite/XenoParasitesVisualSystem.cs
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteThrowerSystem.cs
  Content.Shared/_RMC14/Xenonids/AciderGeneration/XenoAciderGenerationComponent.cs
  Content.Shared/_RMC14/Xenonids/AciderGeneration/XenoAciderGenerationSystem.cs
  Content.Shared/_RMC14/Xenonids/Damage/RMCXenoDamageVisualsComponent.cs
  Content.Shared/_RMC14/Xenonids/Damage/RMCXenoDamageVisualsSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/EggRetriever/SharedXenoEggRetrieverSystem.cs
  Content.Shared/_RMC14/Xenonids/Egg/EggRetriever/XenoEggStorageVisualsComponent.cs
  Content.Shared/_RMC14/Xenonids/Inhands/XenoInhandSpriteComponent.cs
  Content.Shared/_RMC14/Xenonids/Inhands/XenoInhandsSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Parasite/SharedXenoParasiteThrowerSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Parasite/XenoParasiteThrowerComponent.cs
  Content.Shared/_RMC14/Xenonids/Salve/RecentlySalvedComponent.cs
  Content.Shared/_RMC14/Xenonids/Salve/XenoSalveSystem.cs
  Content.Shared/_RMC14/Xenonids/XenoStateVisualsComponent.cs
  Content.Shared/_RMC14/Xenonids/XenoSystem.Visuals.cs
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: S: Needs Review, S: Untriaged, size/M

#6311 Fix bleedout happening on fire/on weeds/as larva
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6346 fix desync for the NpcFactionMemberComponent
  Content.Shared/NPC/Components/NpcFactionMemberComponent.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6352 Fix large amount of xenonid eggs on one spot lagging the client
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggComponent.cs
  Content.Shared/_RMC14/Xenonids/Egg/XenoEggSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_egg.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6371 Fix Shiva Load Error
  Resources/Maps/_RMC14/shiva.yml
Labels: Changes: Map, size/XS, Changes: No C#

#6385 Adds HE OB explosion effect
  Resources/Prototypes/_RMC14/Entities/Structures/orbital_cannon.yml
Labels: S: Untriaged, size/XS, Changes: No C#

#6354 Health analyzer lying about Arithrazine's OD
  Resources/Prototypes/_RMC14/Reagents/medicine.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6339 Lesser Carrier
  Resources/Locale/en-US/_RMC14/roles/lesser-drone.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/fun.yml
  Resources/Textures/_RMC14/Interface/map_blips.rsi/lesser_carrier.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/alive.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/crit.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/dead.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_downed_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_downed_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_downed_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_egg_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_egg_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_parasite_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_parasite_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_walk_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_walk_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_walk_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/lesser_walk_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/para_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/para_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/para_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/para_downed_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/para_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/para_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Extras/lesser_carrier.rsi/sleeping.png
Labels: Changes: Sprites, S: Needs Review, S: Merge Conflict, S: Untriaged, Changes: No C#, size/M

#6325 Fixed Clothing sprites for CamoTech:tm:
  Content.Client/_RMC14/Item/ItemCamouflageVisualizerSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6310 More fax responder/admin stamps!
  Resources/Locale/en-US/_RMC14/paper/stamp-component.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/stamps.yml
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/paper_stamp-clf.png
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/paper_stamp-free-press.png
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/paper_stamp-spp.png
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/paper_stamp-tse.png
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/stamp-clf.png
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/stamp-free-press.png
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/stamp-spp.png
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/stamp-tse.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6360 Fix custom spr's melee damage
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_scout_rifle.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6361 armor value examining
  Content.Shared/_RMC14/Armor/CMArmorSystem.cs
  Resources/Locale/en-US/_RMC14/armor/rmc-examine-armor.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#6364 New winter wyvern in hand sprites!
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvern.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvern.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvern.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvern.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvern.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvernvintage.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvernvintage.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvernvintage.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvernvintage.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvernvintage.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Needs Review, size/XS, Changes: No C#

#6373 Update weather meta.json
  Resources/Textures/_RMC14/Effects/weather.rsi/meta.json
Labels: size/XS, Changes: No C#

#6366 Add more visors
  Content.Shared/_RMC14/NightVision/SharedNightVisionSystem.cs
  Content.Shared/_RMC14/Visor/ActivateVisorAttemptEvent.cs
  Content.Shared/_RMC14/Visor/ActivateVisorEvent.cs
  Content.Shared/_RMC14/Visor/CycleableVisorComponent.cs
  Content.Shared/_RMC14/Visor/IntegratedVisorsComponent.cs
  Content.Shared/_RMC14/Visor/ToggleVisorComponent.cs
  Content.Shared/_RMC14/Visor/UnremovableVisorComponent.cs
  Content.Shared/_RMC14/Visor/VisorComponent.cs
  Content.Shared/_RMC14/Visor/VisorSystem.cs
  Resources/Audio/_RMC14/Handling/attributions.yml
  Resources/Audio/_RMC14/Handling/hud_off.ogg
  Resources/Audio/_RMC14/Handling/hud_on.ogg
  Resources/Locale/en-US/_RMC14/rmc-clothing.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/basic_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/marine_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/visors.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/med_sight_left.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/med_sight_right.png
  Resources/Textures/_RMC14/Objects/Clothing/helmet_visors.rsi/med_adv_sight.png
  Resources/Textures/_RMC14/Objects/Clothing/helmet_visors.rsi/med_adv_sight_down.png
  Resources/Textures/_RMC14/Objects/Clothing/helmet_visors.rsi/med_sight.png
  Resources/Textures/_RMC14/Objects/Clothing/helmet_visors.rsi/med_sight_down.png
  Resources/Textures/_RMC14/Objects/Clothing/helmet_visors.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, S: Untriaged, size/M, Changes: Audio

#6374 Increase the duration of the slow and daze effects applied by tesla turrets
  Content.Shared/_RMC14/Sentry/TeslaCoil/TeslaCoilComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/tesla.yml
Labels: S: Needs Review, S: Untriaged, size/XS

#6301 CO weapon fixes + Prototype rifle parity
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/co_d50_winter_wyvern.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/mateba.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m59a_prototype_rifle.yml
Labels: S: Needs Review, S: Untriaged, S: Awaiting Changes, Changes: No C#, size/S

#6276 Fix pistol pouch sprites
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/weapons.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/gun_underlays.rsi/m13.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, S: Awaiting Changes, Changes: No C#, size/S

#6363 CO Vendor additions!
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6359 Add CQC skill features
  Content.Client/_RMC14/Hands/ClientRMCHandsSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/_RMC14/Hands/ServerRMCHandsSystem.cs
  Content.Shared/_RMC14/Fireman/CanFiremanCarryComponent.cs
  Content.Shared/_RMC14/Fireman/FiremanCarrySystem.cs
  Content.Shared/_RMC14/Hands/RMCHandsSystem.cs
  Content.Shared/_RMC14/Inventory/RMCStripTimeSkillComponent.cs
  Content.Shared/_RMC14/Inventory/SharedCMInventorySystem.cs
  Content.Shared/_RMC14/Tackle/RMCDisarmComponent.cs
  Content.Shared/_RMC14/Tackle/RMCDisarmableComponent.cs
  Content.Shared/_RMC14/Tackle/TackleSystem.cs
  Content.Shared/_RMC14/Weapons/Melee/RMCMeleeDamageSkillComponent.cs
  Content.Shared/_RMC14/Weapons/Melee/SharedRMCMeleeWeaponSystem.cs
  Resources/Locale/en-US/_RMC14/tackle/tackle.ftl
  Resources/Prototypes/Entities/skills.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
Labels: S: Needs Review, S: Untriaged, size/M

#6279 Add ear deafness & ear protection trait
  Content.Client/_RMC14/Deafness/DeafnessSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_RMC14/Chat/Chat/ChatMessageOverrideInVoiceRangeEvent.cs
  Content.Server/_RMC14/Deafness/DeafnessSystem.cs
  Content.Shared/_RMC14/Deafness/ActiveDeafenWhileCritComponent.cs
  Content.Shared/_RMC14/Deafness/DeafComponent.cs
  Content.Shared/_RMC14/Deafness/DeafenWhileCritComponent.cs
  Content.Shared/_RMC14/Deafness/RMCEarProtectionComponent.cs
  Content.Shared/_RMC14/Deafness/SharedDeafnessSystem.cs
  Content.Shared/_RMC14/Explosion/SharedRMCExplosionSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Screech/SharedXenoScreechSystem.cs
  Content.Shared/_RMC14/Xenonids/Screech/XenoScreechComponent.cs
  Resources/Locale/en-US/_RMC14/deaf/deafness.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/marine_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/cmb.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/pmc.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/StatusEffects/deaf.yml
Labels: S: Needs Review, S: Untriaged, size/M

#6388 Add Parity Stamina System
  Content.Shared/_RMC14/Projectiles/StoppingPower/RMCStoppingPowerSystem.cs
  Content.Shared/_RMC14/ShakeStun/StunShakeableSystem.cs
  Content.Shared/_RMC14/Stamina/RMCStaminaComponent.cs
  Content.Shared/_RMC14/Stamina/RMCStaminaDamageOnCollideComponent.cs
  Content.Shared/_RMC14/Stamina/RMCStaminaDamageOnHitComponent.cs
  Content.Shared/_RMC14/Stamina/RMCStaminaSystem.cs
  Content.Shared/_RMC14/Stun/RMCSizeStunSystem.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/NeurotoxinInjectorComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
  Resources/Locale/en-US/_RMC14/shake/rmc-shake.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_RMC14/Alerts/alerts.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/battery.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/stun_baton.yml
Labels: S: Needs Review, S: Untriaged, size/M

#6381 Add blur to neurotoxin
  Content.Shared/_RMC14/Xenonids/Neurotoxin/NeurotoxinComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6392 Stop morgues from preventing rot
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/morgue.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6368 Fix airburst grenades not bouncing at the proper angle, and their projectiles always having the over penetration penalty
  Content.Server/Explosion/Components/ProjectileGrenadeComponent.cs
  Content.Server/Explosion/Components/RMCProjectileGrenadeComponent.cs
  Content.Server/Explosion/EntitySystems/ProjectileGrenadeSystem.cs
  Content.Server/Explosion/EntitySystems/RMCProjectileGrenadeSystem.cs
  Content.Shared/_RMC14/Atmos/SharedRMCFlammableSystem.cs
  Content.Shared/_RMC14/Explosion/CMClusterGrenadeSystem.cs
  Content.Shared/_RMC14/Explosion/CMClusterSpawnedEvent.cs
  Content.Shared/_RMC14/Explosion/ProjectileLimitHitsComponent.cs
  Content.Shared/_RMC14/Explosion/UserLimitHitsComponent.cs
  Content.Shared/_RMC14/Projectiles/RMCProjectileReboundEvent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m74_airburst_grenades.yml
Labels: S: Needs Review, S: Untriaged, size/M

#6378 Analyzer Clone damage + Medical Advice
  Content.Client/_RMC14/Medical/Scanner/HealthScannerBui.cs
  Content.Client/_RMC14/Medical/Scanner/HealthScannerWindow.xaml
  Resources/Locale/en-US/_RMC14/medical/healthanalyzer.ftl
Labels: Changes: UI, S: Untriaged, size/M

#6367 new holocard sprites
  Resources/Textures/_RMC14/Interface/health_hud_holocard.rsi/hudhcblack.png
  Resources/Textures/_RMC14/Interface/health_hud_holocard.rsi/hudhcorange.png
  Resources/Textures/_RMC14/Interface/health_hud_holocard.rsi/hudhcpurple.png
  Resources/Textures/_RMC14/Interface/health_hud_holocard.rsi/hudhcred.png
  Resources/Textures/_RMC14/Interface/health_hud_holocard.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6365 [Fix] input "human" being able to use xenonid thrust attack
  Content.Client/Input/ContentContexts.cs
  Resources/Locale/en-US/_RMC14/escape-menu/options-menu.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6395 Test fail fixes
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6230 4 New Puffer Vests
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/corporate_jackets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/corporate_liaison.yml
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/weya_blue_vest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/weya_blue_vest.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/weya_blue_vest.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/weya_brown_vest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/weya_brown_vest.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/weya_brown_vest.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/weya_red_vest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/weya_red_vest.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/weya_red_vest.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/weya_white_vest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/weya_white_vest.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/weya_white_vest.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6372 Add burst fire delay modifier and add M4SPR custom burst mode
  Content.Shared/_RMC14/Weapons/Ranged/RMCSelectiveFireComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCSelectiveFireSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_scout_rifle.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6409 Fix getting rooted crashing your client
  Content.Shared/_RMC14/Movement/TemporarySpeedModifiersSystem.cs
  Content.Shared/_RMC14/Slow/RMCSlowSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6411 Fix neuro blur lasting forever
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6404 Stamp-maxing
  Resources/Maps/_RMC14/admin_fax.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#, size/S

#6403 Snow and ice edges
  Resources/Prototypes/_RMC14/Tiles/planet.yml
  Resources/Textures/_RMC14/Tiles/planet/auto_ice/ice_double_edge_e.png
  Resources/Textures/_RMC14/Tiles/planet/auto_ice/ice_double_edge_n.png
  Resources/Textures/_RMC14/Tiles/planet/auto_ice/ice_double_edge_s.png
  Resources/Textures/_RMC14/Tiles/planet/auto_ice/ice_double_edge_w.png
  Resources/Textures/_RMC14/Tiles/planet/auto_ice/ice_single_edge_ne.png
  Resources/Textures/_RMC14/Tiles/planet/auto_ice/ice_single_edge_nw.png
  Resources/Textures/_RMC14/Tiles/planet/auto_ice/ice_single_edge_se.png
  Resources/Textures/_RMC14/Tiles/planet/auto_ice/ice_single_edge_sw.png
  Resources/Textures/_RMC14/Tiles/planet/snow2/snow_double_edge_e.png
  Resources/Textures/_RMC14/Tiles/planet/snow2/snow_double_edge_n.png
  Resources/Textures/_RMC14/Tiles/planet/snow2/snow_double_edge_s.png
  Resources/Textures/_RMC14/Tiles/planet/snow2/snow_double_edge_w.png
  Resources/Textures/_RMC14/Tiles/planet/snow2/snow_single_edge_ne.png
  Resources/Textures/_RMC14/Tiles/planet/snow2/snow_single_edge_nw.png
  Resources/Textures/_RMC14/Tiles/planet/snow2/snow_single_edge_se.png
  Resources/Textures/_RMC14/Tiles/planet/snow2/snow_single_edge_sw.png
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6396 Ghost marine HUD toggle now hides health bars
  Content.Server/_RMC14/Mobs/CMGhostSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: S: Needs Review, S: Untriaged, size/XS

#6387 add figurines
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/angler_angus_seawing.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/jazzy_june.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/shei-teegla.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6369 Add faction-based headset icons
  Content.Client/_RMC14/Marines/MarineOverlay.cs
  Content.Server/_RMC14/Mobs/CMGhostSystem.cs
  Content.Shared/_RMC14/Marines/GrantMarineIconsComponent.cs
  Content.Shared/_RMC14/Marines/MarineComponent.cs
  Content.Shared/_RMC14/Marines/SharedMarineSystem.cs
  Content.Shared/_RMC14/Marines/ShowMarineIconsComponent.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/distress_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/headset_icons.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/royal_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/spp_headsets.yml
  Resources/Prototypes/_RMC14/Factions/rmc_factions.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/corporate_survivor.yml
  Resources/Textures/_RMC14/Interface/faction_icons.rsi/clf.png
  Resources/Textures/_RMC14/Interface/faction_icons.rsi/meta.json
  Resources/Textures/_RMC14/Interface/faction_icons.rsi/spp.png
  Resources/Textures/_RMC14/Interface/faction_icons.rsi/tse.png
  Resources/Textures/_RMC14/Interface/faction_icons.rsi/unmc.png
  Resources/Textures/_RMC14/Interface/faction_icons.rsi/weya.png
Labels: Changes: Sprites, S: Needs Review, size/M

#6410 Fix clothing speed modifers not being calculated properly after a slow ends
  Content.Shared/_RMC14/Slow/RMCSlowSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6407 Fix crate misprediction
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
Labels: S: Untriaged, size/XS, Changes: No C#

#6390 Visual feedback when an entity receives area damage from the sniper's flak ammo.
  Content.Shared/_RMC14/Projectiles/RMCAreaDamageSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6406 Fix deafness popups
  Content.Shared/_RMC14/Deafness/SharedDeafnessSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6393 Stam Crit + Neurotoxin can now deafen
  Content.Shared/_RMC14/Stamina/RMCStaminaSystem.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/NeurotoxinComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6415 Add CLF uniform and armband
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/clf.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/medical.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/other.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CLF/clf_cell_commander.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CLF/clf_soldier.yml
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/clf_armband.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/clf_armband.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/clf_armband.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Survivor/clf.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Survivor/clf.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Survivor/clf.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Survivor/colonist.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Survivor/colonist.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6417 Add a right click verb for patrons to reapply their custom weapon and armor name
  Content.Client/_RMC14/NamedItems/RMCNamedItemSystem.cs
  Content.Server/_RMC14/NamedItems/RMCNameItemOnVendComponent.cs
  Content.Server/_RMC14/NamedItems/RMCNamedItemComponent.cs
  Content.Server/_RMC14/NamedItems/RMCNamedItemSystem.cs
  Content.Server/_RMC14/NamedItems/RMCUserNamedItemsComponent.cs
  Content.Shared/_RMC14/NamedItems/RMCNameItemOnVendComponent.cs
  Content.Shared/_RMC14/NamedItems/RMCNamedItemComponent.cs
  Content.Shared/_RMC14/NamedItems/RMCUserNamedItemsComponent.cs
  Content.Shared/_RMC14/NamedItems/SharedRMCNamedItemSystem.cs
Labels: S: Needs Review, S: Untriaged, size/M

#6418 Hijack hibernation + burrowed surge
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Server/_RMC14/Xenonids/Hive/XenoHiveSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Xenonids/Hive/HijackBurrowedSurgeComponent.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-death.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-surge.ftl
Labels: S: Needs Review, S: Untriaged, size/M

#6420 Fix revolver bullets being invisible for the user
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6424 Fix Praetorian being able to gain shield by shooting spit at walls, constructing resin through walls
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/XenoSpitSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6425 fix goon leader (and skills)
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/goon.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/goon_leader.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6426 Fix ravager eviscerate not stunning if more than 3 rage
  Content.Shared/_RMC14/Xenonids/Eviscerate/XenoEviscerateComponent.cs
  Content.Shared/_RMC14/Xenonids/Eviscerate/XenoEviscerateSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
Labels: S: Needs Review, S: Untriaged, size/XS

#5985 adds ceremonial sabre to CO weapon vendor
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6432 Fix rav front sprite
  Resources/Textures/_RMC14/Mobs/Xenonids/Ravager/berserker_ravager.rsi/alive.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6431 Fix throwing knives killing the user
  Content.Server/Hands/Systems/HandsSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6429 Fix storage drawing misprediction
  Content.Client/_RMC14/Hands/ClientRMCHandsSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6428 Deafness fix 2
  Content.Shared/_RMC14/Deafness/ActiveDeafenWhileCritComponent.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6467 Fix Smartguns
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SmartGuns/smart_gun.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/equipped-BACK-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/equipped-SUITSTORAGE-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/inhand-right-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/wielded-inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/wielded-inhand-right-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a_royal.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#, size/S

#6458 Fix rav tac map icon + make charger hidden evo announcements
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
Labels: S: Needs Review, Issue: Bug, size/XS, Changes: No C#

#6485 gives valkyrie acid
  Resources/Locale/en-US/_RMC14/xeno/xeno-strains.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
Labels: S: Needs Review, Parity, size/XS, Changes: No C#

#6454 Fix deafness for real
  Content.Client/_RMC14/Deafness/DeafnessSystem.cs
  Content.Server/_RMC14/Deafness/DeafnessSystem.cs
  Content.Shared/_RMC14/Deafness/ActiveDeafenWhileCritComponent.cs
  Content.Shared/_RMC14/Deafness/DeafComponent.cs
  Content.Shared/_RMC14/Deafness/SharedDeafnessSystem.cs
Labels: S: Needs Review, Issue: Bug, size/S

#6457 Fix weather not clearing
  Content.Shared/_RMC14/Weather/RMCWeatherCycleComponent.cs
  Content.Shared/_RMC14/Weather/RMCWeatherSystem.cs
Labels: S: Needs Review, Issue: Bug, size/S

#6484 [IMPORTANT FIX] re add Xeno component to the berserker entity
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
Labels: No C#, S: Needs Review, Issue: Bug, URGENT, size/XS, Changes: No C#

#6445 Fix tasers & beanbags & rubbers not doing stamina damage
  Content.Shared/_RMC14/Stamina/RMCStaminaSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/riotammo.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/shotgun_heavy_pellets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/shotgun_pellets.yml
Labels: S: Needs Review, Issue: Bug, Parity, size/S

#6464 Fix punch ability dmg, not being the average of parity dmg
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/warrior.yml
Labels: S: Needs Review, Parity, size/XS, Changes: No C#

#6434 Figurine update
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/dry_wetbrush.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/nells-the-jobs.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/nesart_onan.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#6435 Fix burrowed larva dying on spawn on dropship
  Content.Shared/_RMC14/Xenonids/Hive/SharedXenoHiveSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6472 SSG-45 damage update
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/ssg45.yml
Labels: S: Needs Review, Parity, size/XS, Changes: No C#

#6423 Adds more Shark plushie colors
  Resources/Prototypes/_RMC14/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/plushies.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6479 Corporate survivor description fix
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/corporate_survivor.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6470 Small soul update
  Resources/Prototypes/_RMC14/Entities/Markers/Spawners/Corpses/civilians.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Corpses/civilians.yml
Labels: S: Needs Review, Parity, Changes: No C#, size/S

#6456 Felinid changes + more emote icons
  Resources/Locale/en-US/_RMC14/felinid/felinid.ftl
  Resources/Prototypes/_RMC14/Actions/types.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Markings/felinid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Markings/rodentia.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/ghosts.yml
  Resources/Prototypes/_RMC14/Species/felinid.yml
  Resources/Prototypes/_RMC14/Voice/speech_emotes.yml
  Resources/Textures/_RMC14/Actions/species_emotes.rsi/bark.png
  Resources/Textures/_RMC14/Actions/species_emotes.rsi/gnash.png
  Resources/Textures/_RMC14/Actions/species_emotes.rsi/meow.png
  Resources/Textures/_RMC14/Actions/species_emotes.rsi/meta.json
  Resources/Textures/_RMC14/Actions/species_emotes.rsi/mew.png
  Resources/Textures/_RMC14/Actions/species_emotes.rsi/peep.png
  Resources/Textures/_RMC14/Actions/species_emotes.rsi/purr.png
  Resources/Textures/_RMC14/Actions/species_emotes.rsi/skrellanger.png
  Resources/Textures/_RMC14/Actions/species_emotes.rsi/snarl.png
  Resources/Textures/_RMC14/Actions/species_emotes.rsi/trill.png
  Resources/Textures/_RMC14/Actions/species_emotes.rsi/warble.png
  Resources/Textures/_RMC14/Actions/species_emotes.rsi/whine.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_snouts.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_snouts.rsi/snout_cat.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_snouts.rsi/snout_cat_nose.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_bell.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_bell_wag.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_bow.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_bow_wag.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_tail_stripes_even.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_tail_stripes_even_wag.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_tail_stripes_odd.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_tail_stripes_odd_wag.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_tail_tip.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/basic_tail_tip_wag.png
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Felinids/felinid_tails.rsi/tail_wag_icon.png
  Resources/Textures/_RMC14/Mobs/Felinids/parts.rsi/full.png
  Resources/Textures/_RMC14/Mobs/Felinids/parts.rsi/head_f.png
  Resources/Textures/_RMC14/Mobs/Felinids/parts.rsi/head_m.png
  Resources/Textures/_RMC14/Mobs/Felinids/parts.rsi/l_arm.png
  Resources/Textures/_RMC14/Mobs/Felinids/parts.rsi/l_foot.png
  Resources/Textures/_RMC14/Mobs/Felinids/parts.rsi/l_hand.png
  Resources/Textures/_RMC14/Mobs/Felinids/parts.rsi/l_leg.png
  Resources/Textures/_RMC14/Mobs/Felinids/parts.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Felinids/parts.rsi/r_arm.png
  Resources/Textures/_RMC14/Mobs/Felinids/parts.rsi/r_foot.png
  Resources/Textures/_RMC14/Mobs/Felinids/parts.rsi/r_hand.png
  Resources/Textures/_RMC14/Mobs/Felinids/parts.rsi/r_leg.png
  Resources/Textures/_RMC14/Mobs/Felinids/parts.rsi/torso_f.png
  Resources/Textures/_RMC14/Mobs/Felinids/parts.rsi/torso_m.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#6271 Add Responder Jobs and basic CLF ranks
  Resources/Locale/en-US/_RMC14/job/command.ftl
  Resources/Locale/en-US/_RMC14/job/job-supervisors.ftl
  Resources/Locale/en-US/_RMC14/job/responder.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CLF/clf_cell_commander.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CLF/clf_soldier.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/clf_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/cmb_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/free_press_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/provost_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/spp_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/tse_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/unmc_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/we-ya_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/High_Command/high_command_adjutant.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/High_Command/high_command_brigadier_general.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/Colony/clf.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/Colony/cmb.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/UNMC/provost.yml
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/meta.json
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/rmc_adjutant.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#6327 Make a separate playtime ribbons component, add ribbons to correspondent and CL
  Content.Server/_RMC14/Medal/PlaytimeMedalSystem.cs
  Content.Shared/_RMC14/Ribbon/RibbonComponent.cs
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/correspondent.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/civilian_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/colony_synth.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/corporate_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/doctor_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/engineer_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/security_survivor.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6441 Fix being able to attach underbarrel flamethrowers to shotguns
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/hg3712.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/pump_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/type23.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6370 Rollerbed Misc/fixes
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/Furniture/rollerbeds.yml
Labels: S: Needs Review, S: Awaiting Changes, Changes: No C#, size/S

#6503 Fix visors not deactivating when worn correctly
  Content.Shared/_RMC14/Visor/VisorSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6502 Fix arachnids not having a sound on infect
  Content.Shared/_RMC14/Xenonids/Parasite/InfectableComponent.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6405 Civilian survivor outfits
  Content.Shared/_RMC14/Survivor/SurvivorPresetComponent.cs
  Content.Shared/_RMC14/Survivor/SurvivorSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Hands/color.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/crew_coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/liaison.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/other.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/corporate_liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/civilian_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/doctor_survivor.yml
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/purple.rsi/equipped-HAND.png
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/purple.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/purple.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Shoes/Misc/stompers.rsi/equipped-FEET.png
  Resources/Textures/_RMC14/Objects/Clothing/Shoes/Misc/stompers.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Shoes/Misc/stompers.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/green_workwear.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/green_workwear.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/green_workwear.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/green_workwear.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/green_workwear.rsi/sleeves-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Survivor/janitor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Survivor/janitor.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Survivor/janitor.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Survivor/janitor.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Survivor/janitor.rsi/sleeves-equipped-INNERCLOTHING.png
Labels: Changes: Sprites, S: Needs Review, Parity

#6497 Fix praetorian's acid ball ignoring the hit limit
  Content.Shared/_RMC14/Explosion/CMClusterGrenadeSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6498 Cutting a cheese wheel now gives you 6 wedges instead of 4
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6422 berserker apprehend speed buff fix
  Content.Shared/_RMC14/Xenonids/Crippling/XenoActiveCripplingStrikeComponent.cs
  Content.Shared/_RMC14/Xenonids/Crippling/XenoCripplingStrikeComponent.cs
  Content.Shared/_RMC14/Xenonids/Crippling/XenoCripplingStrikeSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
Labels: S: Needs Review, S: Untriaged, Parity, size/S

#6499 gives rav the tail spikes when asleep
  Resources/Textures/_RMC14/Mobs/Xenonids/Ravager/ravager.rsi/sleeping.png
Labels: Changes: Sprites, S: Untriaged, size/XS, Changes: No C#

#6461 Change filing cabinet hitboxes
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/filing_cabinets.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#6471 Fix weeds spreading onto fire tiles
  Resources/Prototypes/_RMC14/Entities/Tiles/tile_fire.yml
Labels: S: Needs Review, Issue: Bug, Parity, size/XS, Changes: No C#

#6349 Synth loadouts, misc fixes for synth content
  Resources/Locale/en-US/_RMC14/roles/loadouts.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/synth.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/RoleSpecific/commanding_officer.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/RoleSpecific/synthetic.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/role_loadouts.yml
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Auxiliary/crewchief.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Auxiliary/crewchief.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Auxiliary/crewchief.rsi/sleeveless-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Auxiliary/crewchief.rsi/sleeves-equipped-INNERCLOTHING.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#6501 ERT shuttle props
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/vehicle_seats.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/shuttle_console.yml
  Resources/Textures/_RMC14/Structures/Furniture/hotseat.rsi/bars.png
  Resources/Textures/_RMC14/Structures/Furniture/hotseat.rsi/base.png
  Resources/Textures/_RMC14/Structures/Furniture/hotseat.rsi/buckled.png
  Resources/Textures/_RMC14/Structures/Furniture/hotseat.rsi/destroyed.png
  Resources/Textures/_RMC14/Structures/Furniture/hotseat.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Furniture/hotseat.rsi/new_folded.png
  Resources/Textures/_RMC14/Structures/Furniture/hotseat.rsi/new_folding.png
  Resources/Textures/_RMC14/Structures/Furniture/hotseat.rsi/new_unfolding.png
  Resources/Textures/_RMC14/Structures/Machines/shuttle_console.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/shuttle_console.rsi/syndishuttle.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6476 Dwarf accent changes
  Resources/Prototypes/Accents/word_replacements.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6494 Give dropship crew and pilots access to We-ya Med and blood dispenser
  Resources/Prototypes/_RMC14/Access/Groups/auxiliary_support_access_groups.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#6482 Custom icons and role names for weapons specialists, custom prefixes for weapons specialists, mortar operators, loaders and spotters
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/_RMC14/Marines/JobPrefixComponent.cs
  Content.Shared/_RMC14/Marines/Skills/Pamphlets/SkillPamphletComponent.cs
  Content.Shared/_RMC14/Marines/Skills/Pamphlets/SkillPamphletSystem.cs
  Content.Shared/_RMC14/Vendors/CMVendorSection.cs
  Content.Shared/_RMC14/Vendors/RMCVendorRoleOverrideComponent.cs
  Content.Shared/_RMC14/Vendors/RMCVendorRoleOverrideSystem.cs
  Content.Shared/_RMC14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Locale/en-US/_RMC14/job/marines.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/pamphlets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_spec_anti_materiel_sniper.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_spec_demo.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_spec_grenadier.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_spec_sniper.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/meta.json
  Resources/Textures/_RMC14/Interface/map_blips.rsi/meta.json
  Resources/Textures/_RMC14/Interface/map_blips.rsi/spec_anti_materiel_sniper.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/spec_demo.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/spec_grenadier.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/spec_sniper.png
Labels: Changes: Sprites, S: Needs Review, size/M

#6510 Survivor fixes
  Content.Shared/_RMC14/Survivor/SurvivorSystem.cs
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/squad_leader.yml
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/meta.json
Labels: S: Needs Review, Parity, size/S

#6511 Yet another survivor fix
  Content.Shared/_RMC14/Survivor/SurvivorSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6273 Add synth race
  Content.Client/Damage/DamageVisualsSystem.cs
  Content.Client/_RMC14/Synth/SynthSystem.cs
  Content.Client/_RMC14/Xenonids/Hud/XenoHudOverlay.cs
  Content.Server/_RMC14/Synth/SynthSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/_RMC14/Humanoid/RMCHumanoidRepresentationOverrideComponent.cs
  Content.Shared/_RMC14/Medical/IV/IVDripTargetComponent.cs
  Content.Shared/_RMC14/Medical/IV/SharedIVDripSystem.cs
  Content.Shared/_RMC14/Medical/Wounds/SharedWoundsSystem.cs
  Content.Shared/_RMC14/Medical/Wounds/WoundableUntreatableComponent.cs
  Content.Shared/_RMC14/Repairable/RMCCableCoilComponent.cs
  Content.Shared/_RMC14/StatusEffect/RMCStatusEffectSystem.cs
  Content.Shared/_RMC14/StatusEffect/RMCStunResistanceComponent.cs
  Content.Shared/_RMC14/Synth/SharedSynthSystem.cs
  Content.Shared/_RMC14/Synth/SynthComponent.cs
  Content.Shared/_RMC14/Synth/UseOnSynthBlockedComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
  Resources/Audio/_RMC14/Medical/attributions.yml
  Resources/Audio/_RMC14/Medical/reset_key_boot_on.ogg
  Resources/Audio/_RMC14/Medical/reset_key_powerup.ogg
  Resources/Audio/_RMC14/Medical/reset_key_release.ogg
  Resources/Audio/_RMC14/Medical/reset_key_shortbeep.ogg
  Resources/Audio/_RMC14/Weapons/attributions.yml
  Resources/Audio/_RMC14/Weapons/synthpunch1.ogg
  Resources/Locale/en-US/_RMC14/medical/synth.ftl
  Resources/Locale/en-US/_RMC14/species/synth.ftl
  Resources/Prototypes/_RMC14/Body/Organs/synth.yml
  Resources/Prototypes/_RMC14/Damage/synth_modifier_sets.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_id_other.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/defib.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Power/coil.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Reagents/synth_blood.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/synth.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/colony_synth.yml
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/fake_tall.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Devices/reset_key.rsi/defib.png
  Resources/Textures/_RMC14/Objects/Devices/reset_key.rsi/defib_on.png
  Resources/Textures/_RMC14/Objects/Devices/reset_key.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/prosthetic_brain.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Misc/prosthetic_brain.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Parity, size/M, Changes: Audio

#6512 Fix civilian survivor appearing naked on the character editor
  Content.Shared/_RMC14/Survivor/SurvivorSystem.cs
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/civilian_survivor.yml
Labels: S: Needs Review, Issue: Bug, Changes: No C#, size/S

#6513 Fire stack and fire intensity fixes.
  Content.Shared/_RMC14/Atmos/IgniteOnProjectileHitComponent.cs
  Content.Shared/_RMC14/Atmos/SharedRMCFlammableSystem.cs
  Content.Shared/_RMC14/Projectiles/Aimed/AimedProjectileSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/PowerLoader/Dropship/rmc_dropship_ammo.yml
  Resources/Prototypes/_RMC14/Entities/Objects/PowerLoader/Dropship/rmc_dropship_laser_cannon.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m74_airburst_grenades.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Snipers/m96s_sniper.yml
  Resources/Prototypes/_RMC14/Entities/Tiles/tile_fire.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6303 xeno guidebooks
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_construction_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_evolve_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_utility_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/carrier.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/sentinel.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/warrior.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_base_hive.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_resin_hole.yml
  Resources/Prototypes/_RMC14/Guidebook/rmc_guidebook.yml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideHiveStructures.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideResinHoles.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleBoiler.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleBurrower.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleCarrier.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleCrusher.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleDefender.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleEggsac.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleHivelord.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleLurker.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleOppressor.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleParasite.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRolePraetorian.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleQueen.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleRavager.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleRunner.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleSentinel.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleSpitter.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleValkyrie.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleVampire.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleVanguard.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleWarrior.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideXenonidRoles.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCIntel.xml
  Resources/ServerInfo/Guidebook/_RMC14/NewPlayerGuide/RMCGuideRoleDrone.xml
  Resources/ServerInfo/Guidebook/_RMC14/RMC14.xml
Labels: Changes: No C#, size/L

#6516 Fix build test errors, make cassette player popups better, add alt click verb to eject tape
  Content.Shared/_RMC14/Cassette/SharedCassetteSystem.cs
  Resources/Changelog/RMC14.yml
  Resources/Locale/en-US/_RMC14/commands/rmc-toolshed-commands.ftl
  Resources/Locale/en-US/_RMC14/rmc-cassette.ftl
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleCrusher.xml
Labels: S: Needs Review, S: Untriaged, size/M

#6518 Forecon co fix
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/Rules/CMDistressSignalRuleComponent.cs
  Resources/Prototypes/_RMC14/Entities/rmc_planets.yml
Labels: S: Needs Review, Parity, size/S

#6289 Synth ports part 1
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/breaching.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/synth.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/RoleSpecific/synthetic.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/classic.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/classic.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/classic.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/desert.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/desert.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/desert.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/jungle.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/jungle.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/jungle.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/snow.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/snow.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/urban.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/urban.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/flapcap/urban.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Synthetic/synth_utility.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Synthetic/synth_utility.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Synthetic/synth_utility.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/joe.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/joe.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/joe.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/outdated_synth.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/outdated_synth.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/outdated_synth.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/pristine.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/pristine.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/pristine.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/pristine.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/synthetic_support.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/synthetic_support.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/synthetic_support.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tools/maintenance_jack.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Tools/maintenance_jack.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Tools/maintenance_jack.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Tools/maintenance_jack.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tools/maintenance_jack.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tools/maintenance_jack.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Melee/breaching.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/breaching.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/breaching.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/breaching.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/breaching.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Melee/breaching.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/breaching.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/telebaton.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Melee/telebaton.rsi/off-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/telebaton.rsi/off-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/telebaton.rsi/on-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/telebaton.rsi/on-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/telebaton.rsi/telebaton_off.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/telebaton.rsi/telebaton_on.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6519 FORECON, cassette, dropship fixes
  Content.Client/_RMC14/Cassette/CassetteSystem.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/Marines/Skills/SkillsSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/Ball/XenoAcidBallComponent.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/XenoSpitSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/normandy_walls.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/general.yml
Labels: S: Needs Review, S: Untriaged, size/M
