Repository RMC-14/RMC-14, pull requests merged in 2025-04, with the labels that each got.

#6068 Add alternate sprites accessibility option
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml.cs
  Content.Client/_RMC14/Sprite/RMCAltSpriteVisualizerSystem.cs
  Content.Client/_RMC14/Xenonids/Construction/XenoChooseStructureBui.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Sprite/RMCAlternateSpriteComponent.cs
  Resources/Locale/en-US/_RMC14/ui.ftl
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_egg_morpher.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_cluster.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_core.yml
  Resources/Textures/_RMC14/Structures/Xenos/hive_cluster_old.rsi/hive_cluster_idle.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_cluster_old.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures_old.rsi/core.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures_old.rsi/eggmorph.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures_old.rsi/eggmorph_0.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures_old.rsi/eggmorph_1.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures_old.rsi/eggmorph_2.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures_old.rsi/eggmorph_3.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures_old.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures_old.rsi/pylon.png
Labels: Changes: Sprites, S: Needs Review, Changes: UI

#6067 NSG23 Assault Rifle
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_ssg45_1.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_ssg45_2.ogg
  Resources/Prototypes/_RMC14/Audio/gun_sound_collections.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/ssg45.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/ssg45.rsi/ammo_band.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/ssg45.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/ssg45.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/ssg45.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/ssg45e.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/ssg45e.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/ssg45e.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rmc_stock.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rmc_stock.rsi/ssg45_stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ssg45/ssg45_icon.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ssg45/ssg45_icon.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ssg45/ssg45_icon.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ssg45/ssg45_icon.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ssg45/ssg45_inhands.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ssg45/ssg45_inhands.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ssg45/ssg45_inhands.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ssg45/ssg45_inhands.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ssg45/ssg45_inhands.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ssg45/ssg45_inhands.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/ssg45/ssg45_inhands.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M, Changes: Audio

#6066 fix(yaml): yaml linter crash and other errors
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/rmc_flag.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/mineral_walls.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6056 feat(evacuation): Add fuel pump ambience
  Content.Shared/_RMC14/Evacuation/EvacuationPumpComponent.cs
  Content.Shared/_RMC14/Evacuation/SharedEvacuationSystem.cs
  Resources/Audio/_RMC14/Machines/attributions.yml
  Resources/Audio/_RMC14/Machines/fuel_pump_active.ogg
  Resources/Audio/_RMC14/Machines/fuel_pump_idle.ogg
  Resources/Prototypes/_RMC14/Entities/Structures/rmc_fuel_pump.yml
Labels: S: Needs Review, size/S, Changes: Audio

#5986 adds spp paygrades and makes the rest prettier
  Resources/Prototypes/_RMC14/Roles/Ranks/SPP/socialist.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6062 AMR Magazine & Potted Plant Fixes
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Snipers/xm43e1_anti_materiel_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/potted_plants.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6060 Give hive weeds their increased health
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6044 Fix map inserts not spawning
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6051 Ledge Breaking
  Resources/Prototypes/_RMC14/Entities/Structures/platform.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_hybrisa.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_hybrisa_2.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_hybrisa_3.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_hybrisa_4.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_hybrisa_rock.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_hybrisa_stone.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_kutjevo.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_kutjevo_rock.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_shiva.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_strata.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_strata2.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_strata3.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_strata_rock.yml
  Resources/Textures/_RMC14/Structures/platforms.rsi/hunter_platform_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/hybrisametal_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/hybrisaplatform2_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/hybrisaplatform3_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/hybrisaplatform_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/kutjevo_platform_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/kutjevo_rock_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/kutjevo_rockdark_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/meta.json
  Resources/Textures/_RMC14/Structures/platforms.rsi/platform_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/sandstone_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/shiva_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/stone_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/strata_metalplatform2_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/strata_metalplatform3_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/strata_metalplatform_broken.png
  Resources/Textures/_RMC14/Structures/platforms.rsi/strata_platform_broken.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6064 fix(attributions): clean up wrong licenses
  Resources/Audio/_RMC14/Hijack/attributions.yml
  Resources/Audio/_RMC14/Lobby/attributions.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6050 Sniper's Ghillie, Helmet and Smock resprite
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/marine_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/sniper_smock/jungle-classic.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/sniper_smock/jungle-classic.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/sniper_smock/jungle-classic.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/sniper_smock/jungle-classic.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/sniper_smock/jungle-classic.rsi/open.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/sniper_smock/snow-urban-desert.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/sniper_smock/snow-urban-desert.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/sniper_smock/snow-urban-desert.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/sniper_smock/snow-urban-desert.rsi/open.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Chestrigs/tech/snow-urban.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/helmet_overlays.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/helmet_overlays.rsi/snpr-helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/classic.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/classic.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/classic.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/desert.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/desert.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/desert.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/jungle.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/jungle.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/jungle.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/snow.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/snow.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/urban.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/urban.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m45/urban.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/armor_overlays.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/armor_overlays.rsi/snpr-armor.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghille.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghille.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghille.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghillie/classic.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghillie/classic.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghillie/classic.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghillie/desert.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghillie/desert.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghillie/desert.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghillie/jungle.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghillie/jungle.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghillie/jungle.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghillie/snow.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghillie/snow.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghillie/urban.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/ghillie/urban.rsi/icon.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#5475 Fix armor modifiers + boiler gas again
  Content.Shared/_RMC14/Armor/CMArmorSystem.cs
  Content.Shared/_RMC14/Armor/RMCArmorModifierComponent.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_smoke.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6033 impact sounds and collection
  Resources/Audio/_RMC14/Bullets/attributions.yml
  Resources/Audio/_RMC14/Bullets/bullet_impact1.ogg
  Resources/Audio/_RMC14/Bullets/bullet_impact2.ogg
  Resources/Audio/_RMC14/Bullets/impact_flesh_1.ogg
  Resources/Audio/_RMC14/Bullets/impact_flesh_2.ogg
  Resources/Audio/_RMC14/Bullets/impact_flesh_3.ogg
  Resources/Audio/_RMC14/Bullets/impact_flesh_4.ogg
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/cm_base_gun.yml
  Resources/Prototypes/_RMC14/SoundCollections/projectile.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S, Changes: Audio

#6010 Parasite fix
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6076 Spray acid range clamping
  Content.Shared/_RMC14/Xenonids/Spray/XenoSprayAcidComponent.cs
  Content.Shared/_RMC14/Xenonids/Spray/XenoSprayAcidSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6071 fix(yaml): ledge breaking test fixes
  Resources/Prototypes/_RMC14/Entities/Structures/platform.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_hybrisa_stone.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_kutjevo.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/platform_kutjevo_rock.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6075 Fix Nesart Onan Figurine not behaving like a container.
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6073 Larva 1 second burst godmode
  Content.Shared/_RMC14/Damage/RMCTemporaryInvincibilityComponent.cs
  Content.Shared/_RMC14/Damage/RMCTemporaryInvincibilitySystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimInfectedComponent.cs
Labels: S: Needs Review, S: Merge Conflict, S: Untriaged, size/S

#6079 fix(yaml): malformed yaml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_solaris.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6084 Adds wield slowdown to the flamer
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Flamethrowers/m34_flamer.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6083 Add security survivor helmet and uniform
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/basic_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/security.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/other.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/security_survivor.yml
Labels: S: Needs Review, Changes: No C#, size/M

#5913 Fix intelligence officer ID card label
  Content.Shared/_RMC14/Marines/Squads/SquadNameOverrideComponent.cs
  Content.Shared/_RMC14/Marines/Squads/SquadSystem.cs
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
Labels: S: Needs Review, S: Merge Conflict, S: Untriaged, size/S

#6102 reset foxtrot state on round start
  Content.Server/_RMC14/Intel/Tech/TechSystem.cs
  Resources/Prototypes/_RMC14/Roles/Jobs/squads.yml
Labels: S: Needs Review, S: Untriaged, size/XS

#6100 fix the sound of the SSG-45
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_ssg45_1.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_ssg45_2.ogg
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#, Changes: Audio

#6098 Remove the last fleshy sound from bullet impacts
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/cm_base_gun.yml
  Resources/Prototypes/_RMC14/SoundCollections/projectile.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6094 RMC Weather
  Resources/Prototypes/_RMC14/weather.yml
  Resources/Textures/_RMC14/Effects/weather.rsi/bigred_dust.png
  Resources/Textures/_RMC14/Effects/weather.rsi/bigred_rocks.png
  Resources/Textures/_RMC14/Effects/weather.rsi/bigred_sand.png
  Resources/Textures/_RMC14/Effects/weather.rsi/hybrisa_rain.png
  Resources/Textures/_RMC14/Effects/weather.rsi/hybrisa_rain_light.png
  Resources/Textures/_RMC14/Effects/weather.rsi/meta.json
  Resources/Textures/_RMC14/Effects/weather.rsi/strata_blizzard.png
  Resources/Textures/_RMC14/Effects/weather.rsi/strata_clearsky.png
  Resources/Textures/_RMC14/Effects/weather.rsi/strata_snowing.png
  Resources/Textures/_RMC14/Effects/weather.rsi/strata_storm.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6096 Fix floor resins replacing nodes
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_floor_resin.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6081 Maybe fixes Map Checker error?
  .github/workflows/rmc-mapchecker.yml
Labels: S: Needs Review, Changes: No C#

#5337 New Pump Shotgun + Stock Sprites
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/pump_shotgun.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/c_stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/d_stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/s_stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/u_stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m42a2.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m42a2.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m42a2.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m42a2/classic.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m42a2/desert.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m42a2/jungle.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m42a2/snow.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m42a2/urban.rsi/icon.png
Labels: No C#, Changes: Sprites, S: Needs Review, Changes: Map, size/XS, Changes: No C#, Changes: Audio

#6114 Fix beam bugs
  Content.Shared/_RMC14/Line/LineSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6134 Parity survivor count (someday)
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6122 Make flamer have ammo eject
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Flamethrowers/m34_flamer.yml
Labels: S: Untriaged, Changes: No C#

#6123 Fax-maxing
  .github/map_checker/matchers.yml
  Resources/Maps/_RMC14/admin_fax.yml
  Resources/Maps/_RMC14/admin_fax_old.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_ert.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Windows/corsat_windows.yml
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/paddedresearch_rwindow0.png
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/paddedresearch_rwindow1.png
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/paddedresearch_rwindow10.png
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/paddedresearch_rwindow12.png
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/paddedresearch_rwindow13.png
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/paddedresearch_rwindow14.png
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/paddedresearch_rwindow15.png
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/paddedresearch_rwindow2.png
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/paddedresearch_rwindow3.png
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/paddedresearch_rwindow4.png
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/paddedresearch_rwindow5.png
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/paddedresearch_rwindow6.png
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/paddedresearch_rwindow8.png
  Resources/Textures/_RMC14/Structures/Windows/corsat_rwindow_r.rsi/paddedresearch_rwindow9.png
Labels: Changes: Sprites, S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#, size/XL

#6124 Stock melee modifier
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6101 allow IO to use the autopilot
  Resources/Prototypes/_RMC14/Access/Groups/auxiliary_support_access_groups.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6117 Add helmet accessory toggling
  Content.Shared/_RMC14/Clothing/HelmetAccessoriesSystem.cs
  Resources/Locale/en-US/_RMC14/rmc-helmetgarbs.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/helmet_garbs.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6115 Healer drones and Acider Runners delete on ability
  Content.Shared/_RMC14/Xenonids/ForTheHive/SharedXenoForTheHiveSystem.cs
  Content.Shared/_RMC14/Xenonids/Heal/SharedXenoHealSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6077 Resprite flare animation and adds unique animation for the CAS flare
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/flares.yml
  Resources/Textures/_RMC14/Objects/Misc/cas_flares.rsi/flare_flame.png
  Resources/Textures/_RMC14/Objects/Misc/cas_flares.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/cas_flares.rsi/overlay.png
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/flare-on.png
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/flare.png
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/flare_flame.png
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/flare_spent.png
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/flare_unlit.png
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Misc/flares.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6112 assign rank when using the admin menu to spawn someone
  Content.Server/_RMC14/Admin/RMCAdminSystem.cs
  Content.Shared/_RMC14/Admin/SpawnAsJobDialogEvent.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6146 Fix surge not working on doors
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_doors.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_walls.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6130 Fix devouring not killing while crit
  Content.Shared/_RMC14/Damage/SharedRMCDamageableSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6145 Amr norf
  Content.Shared/_RMC14/Projectiles/StoppingPower/RMCStoppingPowerComponent.cs
  Content.Shared/_RMC14/Projectiles/StoppingPower/RMCStoppingPowerSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/AimedShot/FocusedShooting/RMCFocusedShootingSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/AimedShot/SharedRMCAimedShotSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6085 Roundstart larva now spawns from a survivor corpse
  Content.Server/_RMC14/Rules/CMDistressSignalRuleComponent.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6111 PMC Whiteout Commando Resprite
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/gauntlets.rsi/equipped-HAND.png
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/gauntlets.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/gauntlets.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/PMC/commando.rsi/equipped-HELMET-Layer.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/PMC/commando.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/PMC/commando.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/PMC/commando.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/PMC/commando.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/PMC/commando.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/PMC/commando.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/PMC/commando.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/PMC/commando.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/PMC/commando.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/PMC/commando.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6136 Add different rank names for some xenos
  Content.Server/_RMC14/Xenonids/XenoRoleSystem.cs
  Content.Shared/_RMC14/Xenonids/Name/XenoRankNamesComponent.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-name.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6143 Resprite Mac-15 by Lynchantiure
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Needs Review, size/XS, Changes: No C#

#6144 Flare packs can directly transfer their content to a flare pouch
  Content.Shared/_RMC14/Inventory/SharedCMInventorySystem.cs
Labels: S: Needs Review, S: Untriaged, S: Awaiting Changes, size/S

#6156 Fix gun melee attack damage being too low
  Content.Shared/_RMC14/Marines/Skills/SkillsSystem.cs
  Content.Shared/_RMC14/Weapons/Melee/SharedRMCMeleeWeaponSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6157 Weed Wall fixes
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
  Resources/Textures/_RMC14/Structures/Xenos/xeno_weeds.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Xenos/xeno_weeds.rsi/weedwall.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_weeds.rsi/weedwall0.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_weeds.rsi/weedwall1.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_weeds.rsi/weedwall2.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_weeds.rsi/weedwall4.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_weeds.rsi/weedwall7.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6097 Gun attachment prediction and masterkey PBs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_RMC14/Attachable/Systems/AttachableHolderSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/CMGunSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6175 Fix sandbags being buildable on dropships
  Content.Shared/_RMC14/Entrenching/BarricadeSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6171 IO vendor M54C magazine fix
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6167 Make plasma transfer overlay different
  Content.Shared/_RMC14/Xenonids/Plasma/XenoPlasmaSystem.cs
  Resources/Prototypes/_RMC14/Effects/heal.yml
  Resources/Textures/_RMC14/Effects/heal.rsi/meta.json
  Resources/Textures/_RMC14/Effects/heal.rsi/plasma_overlay.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/S

#6181 Lower tremor cooldown + burrow changes
  Content.Shared/_RMC14/Xenonids/Burrow/SharedXenoBurrowSystem.cs
  Content.Shared/_RMC14/Xenonids/Burrow/XenoBurrowComponent.cs
  Content.Shared/_RMC14/Xenonids/Lunge/XenoLungeComponent.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6178 Big red error when attaching paper to closets, lockers, and fridges.
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/closets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/lockers.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6148 [Fix] Shale/blue rock not being semi weedable
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_construction_actions.yml
  Resources/Prototypes/_RMC14/Tiles/planet.yml
Labels: S: Untriaged, S: Awaiting Changes, size/XS, Changes: No C#

#6164 Shiva's Balling
  Resources/Maps/_RMC14/shiva.yml
Labels: Changes: Map, Changes: No C#

#6180 Valkyrie foam now appears in xeno nightvision
  Resources/Prototypes/_RMC14/Effects/xeno_acid.yml
Labels: size/XS, Changes: No C#

#6128 SPP Icons Improvement
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/meta.json
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_co.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_com.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_commed.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_comsl.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_doc.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_lt.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_med.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_mp.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_pvt.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_sapper.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_sl.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_sl_a.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_slt.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_spec.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_synth.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_vc.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/upp_xo.png
Labels: Changes: Sprites, S: Awaiting Changes, size/XS, Changes: No C#

#6160 Sentry projectiles now home in on their target
  Content.Shared/_RMC14/Sentry/SentryComponent.cs
  Content.Shared/_RMC14/Sentry/SentrySystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6153 Mark the RTO Backpack as recommended for SLs and FTLs
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6183 guidebook update
  Resources/ServerInfo/Guidebook/_RMC14/RMC14.xml
  Resources/ServerInfo/Guidebook/_RMC14/RMCGuideNewPlayer.xml
Labels: S: Untriaged, Changes: No C#

#6182 add figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/hailey_morgan.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6141 misc fixes/changes, add armor vests
  Content.Shared/Armor/AllowSuitStorageComponent.cs
  Content.Shared/_RMC14/Armor/CMArmorSystem.cs
  Content.Shared/_RMC14/Armor/RMCAllowSuitStorageUserWhitelistComponent.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/armored_vest.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/crew_coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/security_armor.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/police.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/RMCOverview.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPEquipment.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPNONModDepartment.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPNONModDeployment.xml
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/mp_armored_vest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/mp_armored_vest.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Armor/mp_armored_vest.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6052 New Species: Skrells
  Resources/Audio/_RMC14/Voice/Skrell/anger2.ogg
  Resources/Audio/_RMC14/Voice/Skrell/attributions.yml
  Resources/Audio/_RMC14/Voice/Skrell/peep1.ogg
  Resources/Audio/_RMC14/Voice/Skrell/trill1.ogg
  Resources/Audio/_RMC14/Voice/Skrell/trill2.ogg
  Resources/Audio/_RMC14/Voice/Skrell/warble1.ogg
  Resources/Audio/_RMC14/Voice/Skrell/warble2.ogg
  Resources/Audio/_RMC14/Voice/Skrell/warble3.ogg
  Resources/Locale/en-US/_RMC14/chat/species-emotes.ftl
  Resources/Locale/en-US/_RMC14/cm-chatsan.ftl
  Resources/Locale/en-US/_RMC14/species/skrells/names_first.ftl
  Resources/Locale/en-US/_RMC14/species/skrells/names_last.ftl
  Resources/Locale/en-US/_RMC14/species/skrells/skrell.ftl
  Resources/Prototypes/_RMC14/Datasets/skrell_names.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Markings/skrell.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/skrell.yml
  Resources/Prototypes/_RMC14/SoundCollections/skrell.yml
  Resources/Prototypes/_RMC14/Species/skrell.yml
  Resources/Prototypes/_RMC14/Voice/Skrell/skrell_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/speech_emotes.yml
  Resources/Textures/_RMC14/Mobs/Skrells/hair.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Skrells/hair.rsi/skrell_hair_f_s.png
  Resources/Textures/_RMC14/Mobs/Skrells/hair.rsi/skrell_hair_m_s.png
  Resources/Textures/_RMC14/Mobs/Skrells/markings.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Skrells/markings.rsi/spots-hair-left.png
  Resources/Textures/_RMC14/Mobs/Skrells/markings.rsi/spots-hair-right.png
  Resources/Textures/_RMC14/Mobs/Skrells/markings.rsi/spots-left.png
  Resources/Textures/_RMC14/Mobs/Skrells/markings.rsi/spots-right.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/eyes.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/groin_f.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/groin_m.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/head_f.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/head_m.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/l_arm.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/l_foot.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/l_hand.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/l_leg.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/preview_longhair.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/preview_shorthair.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/r_arm.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/r_foot.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/r_hand.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/r_leg.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/torso_f.png
  Resources/Textures/_RMC14/Mobs/Skrells/parts.rsi/torso_m.png
Labels: Changes: Sprites, S: Needs Review, S: Awaiting Changes, Changes: No C#, size/L, Changes: Audio

#6185 Daze changes + FoF cures daze
  Content.Shared/_RMC14/Projectiles/Aimed/AimedProjectileSystem.cs
  Content.Shared/_RMC14/Stun/RMCDazedComponent.cs
  Content.Shared/_RMC14/Stun/RMCDazedSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_action_base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6152 Various MP Armory Gun Locker Tweaks/Fixes
  Content.Shared/_RMC14/AlertLevel/RMCAlertLevelSystem.cs
  Content.Shared/_RMC14/Interaction/RMCInteractionSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/lockers.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5496 Evacuation can now be authorized while on red or delta alert.
  Content.Shared/_RMC14/AlertLevel/RMCAlertLevelSystem.cs
  Content.Shared/_RMC14/Evacuation/EvacuationProgressComponent.cs
  Content.Shared/_RMC14/Evacuation/SharedEvacuationSystem.cs
  Content.Shared/_RMC14/Marines/ControlComputer/SharedMarineControlComputerSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5972 SPP Ghostrole Spawners
  Resources/Locale/en-US/_RMC14/job/spp.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/spp_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/spp.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/explosive_pouch.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/medical.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_base_id.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/rmc_id_spp.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/type71.yml
  Resources/Prototypes/_RMC14/Factions/rmc_factions.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/medic.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/sapper.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/specialist.yml
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/SPP/standard.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/SPP/standard.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/SPP/standard.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/SPP/standard.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/SPP/standard.rsi/open.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/SPP/welder.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/SPP/welder.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/SPP/welder.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/SPP/welder.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/SPP/welder.rsi/open.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#6188 Fix sometimes getting a second crit grace period
  Content.Shared/_RMC14/Xenonids/CriticalGrace/CriticalGraceSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6170 Fix of node placment range for lesser drones
  Content.Shared/_RMC14/Xenonids/Weeds/SharedXenoWeedsSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6191 fixed all yaml errors
  Resources/Locale/en-US/_RMC14/ghost-roles/hefa-names.ftl
  Resources/Locale/en-US/_RMC14/paper/fortunes.ftl
  Resources/Prototypes/_RMC14/Datasets/hefa_names.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/crew_coats.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/fortune_cookie.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Misc/inflatable_wall.yml
  Resources/Prototypes/_RMC14/Voice/Feroxi/feroxi_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/speech_emotes.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6173 Don't show popups to nearby players while invisible
  Content.Server/Popups/PopupSystem.cs
  Content.Server/_RMC14/Popups/RMCPopupSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6108 Vampire lurker
  Content.Shared/_RMC14/Xenonids/Flurry/XenoFlurryActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Flurry/XenoFlurryComponent.cs
  Content.Shared/_RMC14/Xenonids/Flurry/XenoFlurrySystem.cs
  Content.Shared/_RMC14/Xenonids/Headbite/XenoHeadbiteActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Headbite/XenoHeadbiteComponent.cs
  Content.Shared/_RMC14/Xenonids/Headbite/XenoHeadbiteDoAfterEvent.cs
  Content.Shared/_RMC14/Xenonids/Headbite/XenoHeadbiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Heal/SharedXenoHealSystem.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapComponent.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapingComponent.cs
  Content.Shared/_RMC14/Xenonids/Rotate/XenoRotateComponent.cs
  Content.Shared/_RMC14/Xenonids/Rotate/XenoRotateSystem.cs
  Content.Shared/_RMC14/Xenonids/TailJab/XenoTailJabActionEvent.cs
  Content.Shared/_RMC14/Xenonids/TailJab/XenoTailJabComponent.cs
  Content.Shared/_RMC14/Xenonids/TailJab/XenoTailJabSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-strains.ftl
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Effects/attack.yml
  Resources/Prototypes/_RMC14/Effects/heal.yml
  Resources/Prototypes/_RMC14/Effects/tail.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lurker.yml
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/alive.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/crit.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/dead.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/lurker_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/lurker_downed_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/lurker_downed_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/lurker_downed_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/lurker_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/lurker_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/lurker_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/lurker_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/lurker_walk_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/lurker_walk_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/lurker_walk_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/lurker_walk_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Lurker/vampire_lurker.rsi/sleeping.png
Labels: Changes: Sprites, S: Untriaged, size/M

#6139 Make crates undestroyable by xeno claws, crate drag speed change
  Content.Shared/_RMC14/Xenonids/ClawSharpness/XenoClawsComponent.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/crates.yml
Labels: S: Needs Review, S: Awaiting Changes, Changes: No C#, size/S

#5965 Use the new layer hiding to fix the gas mask snout bug
  Resources/Prototypes/_RMC14/Entities/Clothing/Masks/masks.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6192 Fix popup check
  Content.Server/Popups/PopupSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6169 Slightly modifies the the base sprite of the m44 revolver
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m44.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m44.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m44.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m44.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6177 Add 25 minute end round timer once hijack begins
  Content.Server/_RMC14/Rules/CMDistressSignalRuleComponent.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Server/_RMC14/Rules/DistressSignalRuleResult.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Resources/Locale/en-US/_RMC14/game-presets/distress-signal-preset.ftl
Labels: S: Needs Review, S: Untriaged, S: Awaiting Changes, size/S

#6163 M13 Auto Pistol
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m10_auto_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/magazine_box_crafting.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/modular_boxes.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/modular_boxes.rsi/pistol_box_11.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13drum.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13drum.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13drum.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13ext.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13ext.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13ext.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/camo.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/inhand-right-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/wielded-inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/wielded-inhand-right-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/gun_underlays.rsi/m13.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/gun_underlays.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6014 Rework marine latejoin and earlyleave announcement
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/_RMC14/Announce/MarinePresenceAnnounceSystem.cs
  Content.Shared/_RMC14/Marines/Roles/DepartmentPrototype.cs
  Content.Shared/_RMC14/Marines/Roles/JobPrototype.cs
  Resources/Audio/_RMC14/Announcements/ARES/attention_jingle.ogg
  Resources/Audio/_RMC14/Announcements/ARES/attributions.yml
  Resources/Audio/_RMC14/Announcements/ARES/sound_misc_boatswain.ogg
  Resources/Locale/en-US/_RMC14/marine-presence-announce.ftl
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/command_department.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/engineering_department.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/marine_department.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/medical_department.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/military_department.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/other_department.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/requisitions_department.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/support_department.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/survivor_department.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/chief_military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/quartermaster.yml
  Resources/Prototypes/_RMC14/Roles/Xeno/Departments/xeno_department.yml
Labels: S: Needs Review, S: Untriaged, size/M, Changes: Audio

#6194 add figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/osborn_cheeseball_curry.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#6168 add idle and walking animation for parasite
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/carrier_parasite_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/carrier_parasite_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_downed_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_downed_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_downed_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/drone.rsi/drone_parasite_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/drone.rsi/drone_parasite_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/drone.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/gardener_drone.rsi/drone_parasite_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/gardener_drone.rsi/drone_parasite_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/gardener_drone.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_parasite_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/drone_parasite_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/hivelord.rsi/hivelord_parasite_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/hivelord.rsi/hivelord_parasite_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/hivelord.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_parasite_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/hivelord_parasite_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Hivelord/resin_whisperer_hivelord.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/LesserDrone/lesser_drone.rsi/lesser_parasite_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/LesserDrone/lesser_drone.rsi/lesser_parasite_right.png
  Resources/Textures/_RMC14/Mobs/Xenonids/LesserDrone/lesser_drone.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/alive.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/crit.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/impregnated.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/running.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/sleeping.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite.rsi/thrown.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Parasite/parasite_mask.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Queen/queen.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Queen/queen.rsi/queen_parasite_left.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Queen/queen.rsi/queen_parasite_right.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#6198 Fix LV Insert Weapons
  Resources/Maps/_RMC14/Inserts/LV624/hydro_destroyed.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#

#6200 Mob collision tweaks, jelly playtime requirement
  Content.Shared/CCVar/CCVars.Movement.cs
  Content.Shared/Movement/Systems/SharedMobCollisionSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Movement/RMCMobCollisionComponent.cs
  Content.Shared/_RMC14/Movement/RMCMobCollisionMassComponent.cs
  Content.Shared/_RMC14/Xenonids/ManageHive/ManageHiveComponent.cs
  Content.Shared/_RMC14/Xenonids/ManageHive/ManageHiveSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6197 Fix m13 box label
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/modular_boxes.rsi/pistol_box_11.png
Labels: Changes: Sprites, S: Untriaged, size/XS, Changes: No C#

#6186 update guidebook with new guides
  Content.Client/Guidebook/Controls/GuideReagentGroupEmbed.xaml.cs
  Resources/Prototypes/Guidebook/chemicals.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_RMC14/Guidebook/rmc_chemicals.yml
  Resources/Prototypes/_RMC14/Guidebook/rmc_guidebook.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/chief_military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/quartermaster.yml
  Resources/ServerInfo/Guidebook/_RMC14/Chemicals/Medicine.xml
  Resources/ServerInfo/Guidebook/_RMC14/Chemicals/RMCChemicals.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideCommandRoles.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideCommunicationsTowers.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideDrinks.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideFood.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleCombatTechnician.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleMaintenanceTechnician.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleSGO.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCIntel.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCMedical.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCRequisitions.xml
  Resources/ServerInfo/Guidebook/_RMC14/NewPlayerGuide/RMCGuideRoleDrone.xml
  Resources/ServerInfo/Guidebook/_RMC14/RMC14.xml
  Resources/ServerInfo/Guidebook/_RMC14/RMCGuideNewPlayer.xml
Labels: S: Needs Review, Changes: UI, Changes: No C#, size/M

#6202 Add XO and CL stamps, rangefinder on almayer fix
  Content.Shared/_RMC14/Rangefinder/RangefinderSystem.cs
  Resources/Locale/en-US/_RMC14/paper/stamp-component.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/stamps.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6204 Fix parasites trying to jump out of your hand
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.AI.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6203 Fix most xenos not showing ranks
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6205 Queen eye update fixes
  Content.Client/_RMC14/Sprite/RMCSpriteSystem.cs
  Content.Shared/_RMC14/Atmos/FirePatterComponent.cs
  Content.Shared/_RMC14/Chemistry/SharedRMCChemistrySystem.cs
  Content.Shared/_RMC14/Fireman/FiremanCarrySystem.cs
  Content.Shared/_RMC14/Xenonids/Eye/QueenEyeSystem.cs
  Resources/Maps/_RMC14/admin_fax.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/auto_injectors.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/magazine_box_crafting.yml
Labels: S: Needs Review, Changes: Map, size/M

#6208 Fix not being able to authorize evac
  Content.Shared/_RMC14/AlertLevel/RMCAlertLevelChangedEvent.cs
  Content.Shared/_RMC14/AlertLevel/RMCAlertLevelSystem.cs
  Content.Shared/_RMC14/Marines/ControlComputer/SharedMarineControlComputerSystem.cs
  Content.Shared/_RMC14/Overwatch/SharedOverwatchConsoleSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6206 m13 vends empty
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m10_auto_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
Labels: S: Untriaged, Changes: No C#, size/S

#6209 Fix default names for some airlocks
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Airlocks/accesses-almayer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Double/accesses-almayer.yml
Labels: Changes: No C#

#6210 Fix sitting next to someone pushing you away
  Content.Shared/_RMC14/Buckle/RMCBuckleSystem.cs
Labels: size/S

#6213 Fix entities with ItemSlots ignoring whitelists when transfering contents.
  Content.Shared/_RMC14/Inventory/SharedCMInventorySystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6240 Remove upstream circuitboards
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/engineering.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6231 Fix tunnels filling with dead paras, + other fixes
  Content.Client/_RMC14/Xenonids/Construction/Tunnel/NameTunnelWindow.xaml.cs
  Content.Server/_RMC14/Xenonids/Construction/Tunnel/XenoTunnelSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/Tunnel/SharedXenoTunnelSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-construction.ftl
Labels: S: Needs Review, Changes: UI, S: Untriaged, size/S

#6241 Fix XM51 case bluespace storage
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/gun_cases.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6238 Use the right CanInsert for ItemSlot transfers
  Content.Shared/_RMC14/Inventory/SharedCMInventorySystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6236 Disable mob collision while invisible using the ghillie suit
  Content.Shared/_RMC14/Armor/Ghillie/SharedGhillieSuitSystem.cs
  Content.Shared/_RMC14/Stealth/ActiveInvisibleSystem.cs
  Content.Shared/_RMC14/Stealth/EntityActiveInvisibleComponent.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6242 Increase rav empower range to match parity area
  Content.Shared/_RMC14/Xenonids/Empower/XenoEmpowerComponent.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6235 Fix M13 auto pistol's scatter
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m10_auto_pistol.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6232 add: M13 has a specific holster sprite
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_autopistol.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_autopistol.rsi/full.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_autopistol.rsi/half.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_autopistol.rsi/icon-front.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_autopistol.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_autopistol.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_autopistol.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_autopistol.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_smg_pouch.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#6243 Corpses and ghostroles now get random markings
  Content.Server/_RMC14/Humanoid/Markings/RMCRandomMarkingsSystem.cs
  Content.Shared/_RMC14/Humanoid/Markings/RMCRandomMarkingsComponent.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Corpses/base.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Freelancers/leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Freelancers/medic.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Freelancers/standard.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/medic.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/sapper.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/gunner.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/medic.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/site_director.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/sniper.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/standard.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/bureau.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/bureau_observer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/corporate_executive_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/corporate_executive_supervisor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/interstellar_commerce_bureau_liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/pizza.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/ghosts.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/rmc_base_humanoid.yml
Labels: S: Needs Review, S: Untriaged, size/M

#6225 Vamp lurker fixes, add wall slam stun from vamp lurker tail jab
  Content.Shared/_RMC14/Damage/ObstacleSlamming/RMCObstacleSlamBonusEffectsComponent.cs
  Content.Shared/_RMC14/Damage/ObstacleSlamming/RMCObstacleSlammingSystem.cs
  Content.Shared/_RMC14/Xenonids/TailJab/XenoTailJabComponent.cs
  Content.Shared/_RMC14/Xenonids/TailJab/XenoTailJabSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lurker.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6215 Weed/Node damage modifier
  Resources/Prototypes/_RMC14/Damage/xeno_modifier_sets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6212 Hybrisa Rain Fix
  Resources/Textures/_RMC14/Effects/weather.rsi/hybrisa_rain_light.png
Labels: Changes: Sprites, size/XS, Changes: No C#

#6184 Add Unidentified lifesigns announcement onboard the dropship
  Content.Server/_RMC14/Dropship/DropshipSystem.cs
  Content.Shared/_RMC14/Dropship/DropshipComponent.cs
  Resources/Audio/_RMC14/Announcements/ARES/attributions.yml
  Resources/Audio/_RMC14/Announcements/ARES/unidentified_lifesigns.ogg
  Resources/Locale/en-US/_RMC14/chat/announcement.ftl
Labels: S: Needs Review, S: Untriaged, size/S, Changes: Audio

#5617 Fix evacuation doors being pryable while locked and kill anyone left outside the docking area after a lifeboat departs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_RMC14/Shuttles/RMCShuttleSystem.cs
  Content.Server/_RMC14/Shuttles/RMCSpawnEntityOnFTLStartComponent.cs
  Content.Shared/_RMC14/Evacuation/SharedEvacuationSystem.cs
  Resources/Maps/_RMC14/lifeboat.yml
  Resources/Prototypes/Entities/Tiles/death.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, size/M

#6237 Dogtags + Memorial Tweaks
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Server/_RMC14/Rules/RMCGameRuleExtrasSystem.cs
  Content.Shared/Strip/SharedStrippableSystem.cs
  Content.Shared/_RMC14/Clothing/RMCClothingSystem.cs
  Content.Shared/_RMC14/Clothing/RMCUnstrippableComponent.cs
  Content.Shared/_RMC14/Marines/Dogtags/DogtagsSystem.cs
  Content.Shared/_RMC14/Marines/Dogtags/InformationTagsComponent.cs
  Content.Shared/_RMC14/Marines/Dogtags/TakeableTagsComponent.cs
  Resources/Locale/en-US/_RMC14/game-presets/distress-signal-preset.ftl
  Resources/Locale/en-US/_RMC14/rmc-clothing.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_base_id.yml
  Resources/Textures/_RMC14/Objects/CMIDs/dogtags.rsi/dogtag_ground.png
  Resources/Textures/_RMC14/Objects/CMIDs/dogtags.rsi/meta.json
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_0.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_1.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_10.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_11.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_12.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_13.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_14.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_15.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_16.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_17.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_18.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_19.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_2.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_20.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_21.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_22.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_23.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_24.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_3.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_4.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_5.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_6.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_7.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_8.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/dogtag_9.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/CMIDs/infotags.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, size/M

#6247 Parasite error fix
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.AI.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lurker.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/warrior.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/gunner.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/medic.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/site_director.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/sniper.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/standard.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6262 Fix UnreachableException in Corpse Spawner
  Content.Server/_RMC14/Humanoid/Markings/RMCRandomMarkingsSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6282 Increase the cooldown of the Boiler's Bombard ability.
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6280 Fix xenonid actions with a DoAfter being useable while resting
  Content.Shared/DoAfter/DoAfterArgs.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.Update.cs
  Content.Shared/_RMC14/DoAfter/RMCDoafterSystem.cs
  Content.Shared/_RMC14/PowerLoader/PowerLoaderComponent.cs
  Content.Shared/_RMC14/Rangefinder/RangefinderComponent.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6281 Heal gib fixes
  Content.Server/_RMC14/Xenonids/Heal/XenoHealSystem.cs
  Content.Shared/_RMC14/Xenonids/Heal/SharedXenoHealSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#6252 Fixing the Marines inability to pull anything
  Content.Shared/_RMC14/Standing/RMCStandingSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6224 stop sentries from shooting walls
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/_RMC14/NPC/TargetIsNotConstructCon.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/sentries.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6199 Marines now get stunned and thrown by explosions, new cluster OB shockwave effects
  Content.Shared/_RMC14/Armor/CMArmorSystem.cs
  Content.Shared/_RMC14/Armor/CMGetArmorEvent.cs
  Content.Shared/_RMC14/Explosion/SharedRMCExplosionSystem.cs
  Content.Shared/_RMC14/Explosion/StunOnExplosionReceivedComponent.cs
  Content.Shared/_RMC14/OrbitalCannon/OrbitalCannonExplosion.cs
  Content.Shared/_RMC14/OrbitalCannon/OrbitalCannonSystem.cs
  Content.Shared/_RMC14/Stun/RMCDazedSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Structures/orbital_cannon.yml
Labels: S: Needs Review, Changes: No C#, size/M

#6195 Tesla Coil Sentry
  Content.Client/_RMC14/Stun/DazedOverlay.cs
  Content.Client/_RMC14/Stun/DazedUiController.cs
  Content.Shared/_RMC14/Sentry/SentrySystem.cs
  Content.Shared/_RMC14/Sentry/TeslaCoil/TeslaCoilComponent.cs
  Content.Shared/_RMC14/Sentry/TeslaCoil/TeslaCoilSystem.cs
  Content.Shared/_RMC14/Stun/RMCDazedComponent.cs
  Content.Shared/_RMC14/Stun/RMCDazedSystem.cs
  Resources/Prototypes/_RMC14/Effects/tesla.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/tesla.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/defense_base.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/defense_base_off.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/micro_tesla_coil.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/micro_tesla_coil_destroyed.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/micro_tesla_coil_handheld.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/micro_tesla_coil_on.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/normal_tesla_coil.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/normal_tesla_coil_destroyed.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/normal_tesla_coil_handheld.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/normal_tesla_coil_on.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/stun_tesla_coil.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/stun_tesla_coil_destroyed.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/stun_tesla_coil_handheld.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/tesla.rsi/stun_tesla_coil_on.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#6172 Fix engine cooler and fuel enhancer sprites being flipped.
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/dropship_entities.yml
Labels: Changes: Sprites, S: Needs Review, size/XS, Changes: No C#

#6249 Weed/Node resistance part 2
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6295 Fixing bluespace tunnels
  Content.Server/_RMC14/Xenonids/Construction/Tunnel/XenoTunnelSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6296 Correcting the inability of the larva to crawl out of the body
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6297 M13 Sprites
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13drum.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13drum.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13drum.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13ext.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13ext.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/m13ext.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/camo.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/wielded-inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/wielded-inhand-right-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m13.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#

#6292 Fixing StunFriendlyXenoOnStep
  Content.Shared/_RMC14/Xenonids/Collision/XenoCollisionSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6293 Fixed inability to take admin roles and foxtrot roles
  Resources/Prototypes/_RMC14/Roles/Jobs/ghosts.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6218 fix: all integration test fails except the workflow OOM
  Content.IntegrationTests/Tests/StorageTest.cs
  Content.Server/_RMC14/Announce/MarinePresenceAnnounceSystem.cs
  Content.Server/_RMC14/TacticalMap/TacticalMapSystem.cs
  Content.Shared/Clothing/Components/HideLayerClothingComponent.cs
  Content.Shared/_RMC14/Components/RMCComponentsSystem.cs
  Content.Shared/_RMC14/Components/RemoveComponentsComponent.cs
  Content.Shared/_RMC14/Evacuation/SharedEvacuationSystem.cs
  Content.Shared/_RMC14/Radio/RMCHeadsetComponent.cs
  Content.Shared/_RMC14/Radio/RMCRadioSystem.cs
  Content.Shared/_RMC14/Storage/RMCStorageSystem.cs
  Resources/ConfigPresets/RMC14/rmc.toml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/beaker.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m10_auto_pistol.yml
  Resources/Prototypes/_RMC14/Maps/almayer.yml
  Resources/Prototypes/_RMC14/Maps/warship_prototypes.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/magazine_box_crafting.yml
Labels: S: Needs Review, S: Untriaged, size/M

#6251 Synthetic Job YAML
  Resources/Locale/en-US/_RMC14/job/civilians.ftl
  Resources/Locale/en-US/_RMC14/job/job-supervisors.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_id_other.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/other_department.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/survivor_department.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/JobIcons/other_job_icons.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/synth.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/colony_synth.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/role_loadouts.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/Other/misc.yml
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/synthetic.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/synthetic.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/synthetic.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6298 Fix xenos not being able to evolve while resting
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6291 Add selected planet map name to status response
  Content.Server/GameTicking/GameTicker.StatusShell.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6287 Misc fixes/changes [Morgue, Crematorium, Hospital Divider]
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/hospital_divider.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/morgue.yml
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/sunscreen_stick.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#6253 Remove the time limit on the death area outside the docking bay
  Resources/Prototypes/Entities/Tiles/death.yml
Labels: S: Untriaged, size/XS, Changes: No C#

#6304 General fixes for last update
  Content.Shared/Throwing/ThrownItemSystem.cs
  Content.Shared/_RMC14/Armor/CMArmorSystem.cs
  Content.Shared/_RMC14/Components/RMCComponentsSystem.cs
  Content.Shared/_RMC14/Components/RemoveComponentsComponent.cs
  Content.Shared/_RMC14/Survivor/SurvivorSystem.cs
  Resources/ConfigPresets/RMC14/rmc.toml
  Resources/Locale/en-US/_RMC14/job/clf.ftl
  Resources/Maps/_RMC14/Test/dev_map.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/scabbards.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/distress_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/armored_vest.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Drinks/alcohol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SmartGuns/smart_gun.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Base/base_structure.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/bookshelf.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Science/Dispensers/chem.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Science/Dispensers/soda.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_doors.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
  Resources/Prototypes/_RMC14/Entities/Structures/orbital_cannon.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Fun/rmc_admin_ghost.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/nurse.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CLF/clf_cell_commander.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CLF/clf_soldier.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Royal/royal_smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/civilian_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/corporate_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/doctor_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/engineer_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/security_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/rmc_base_humanoid.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, size/XL

#6305 Melee weapon fix
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/knife.yml
Labels: Changes: No C#
