Repository RMC-14/RMC-14, pull requests merged in 2025-09, with the labels that each got.

#7754 Gives C4 a beeping noise.
  Content.Server/_RMC14/Explosion/RMCExplosionSystem.cs
  Content.Shared/_RMC14/Explosion/RMCExplosiveDeleteComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Explosives/breaching_charge.yml
Labels: S: Needs Review, Issue: Feature Request, Low Priority, size/S

#7737 Minor warrior tackle fix.
  Content.Shared/_RMC14/Xenonids/Lunge/XenoLungeSystem.cs
Labels: S: Needs Review, Issue: Bug, Low Priority, size/XS

#7738 Minor Magazine and Beer fixes, edits, additions.
  Resources/Locale/en-US/_RMC14/lore-examine/lore-examinable.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Drinks/cans.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/magazine.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/general.yml
Labels: S: Needs Review, Low Priority, Changes: No C#, size/S

#7513 new command to hopefully fix power for development/pve/events
  Content.Server/_RMC14/Admin/RMCFixPower.cs
  Resources/Locale/en-US/_RMC14/commands/rmc-entity-commands.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#7739 Downstream-maxing atomization
  Content.Shared/CCVar/CCVars.Game.cs
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_RMC14/Maps/Pools/default.yml
  Resources/migration.yml
Labels: Changes: Map, Low Priority, size/S

#6391 Mortar Guide Final
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/mortars.yml
  Resources/Prototypes/_RMC14/Guidebook/rmc_guidebook.yml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleMortar.xml
Labels: S: Needs Review, Changes: No C#, size/M

#7780 Change crosshair if underbarrel weapons are toggled
  Content.Shared/_RMC14/CombatMode/RMCCombatModeSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
Labels: S: Needs Review, S: Untriaged, size/S

#7800 fix label mode switch
  Content.Client/_RMC14/TacticalMap/TacticalMapWrapper.xaml.cs
Labels: S: Needs Review, Changes: UI, Low Priority, size/XS

#7792 Fixes warriors being able to heal while on fire from lifesteal.
  Content.Shared/_RMC14/Xenonids/XenoHealAttemptEvent.cs
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7760 Defenders can tailslam while fortified again.
  Content.Shared/_RMC14/Actions/RMCActionsSystem.cs
Labels: S: Needs Review, Issue: Bug, Medium Priority, size/XS

#6939 Add wheelchair + admin spawned wheelchair with bell
  Content.Shared/_RMC14/Wheelchair/ActiveWheelchairPilotComponent.cs
  Content.Shared/_RMC14/Wheelchair/RingBellActionEvent.cs
  Content.Shared/_RMC14/Wheelchair/WheelchairComponent.cs
  Content.Shared/_RMC14/Wheelchair/WheelchairSystem.cs
  Resources/Prototypes/_RMC14/Actions/wheelchair_actions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/wheelchair.yml
  Resources/Textures/_RMC14/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Furniture/chairs.rsi/wheelchair.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Parity, size/M

#7802 Mou53 breech toggling delay parity
  Content.Shared/_RMC14/Weapons/Ranged/BreechLoadedComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/BreechLoadedSystem.cs
  Resources/Locale/en-US/_RMC14/weapons/guns.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/mou53_shotgun.yml
Labels: S: Needs Review, Low Priority, Issue: Balance, Parity, size/S

#6998 Lore Blurbs on Stuff
  Resources/Locale/en-US/_RMC14/lore-examine/lore-examinable.ftl
  Resources/Prototypes/_RMC14/Catalog/Fills/Lockers/marine.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/rmc_flag.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/smartgunner_loadouts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/ssg45.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SmartGuns/smart_gun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_RMC14/Entities/Structures/orbital_cannon.yml
  Resources/migration.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, Parity, S: Awaiting Changes, Changes: No C#, size/S

#7702 Xeno sided parasite to child conversion
  Resources/Locale/en-US/_RMC14/chat/highlights.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-construction.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-parasite.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-ui.ftl
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleParasite.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideXenonidMapIcons.xml
Labels: Low Priority, Changes: No C#, size/S

#7664 Leaping parasites no longer collide with the resin door they start under
  Content.Client/_RMC14/Xenonids/Infected/XenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Resources/Prototypes/_RMC14/rmc_tags.yml
Labels: S: Needs Review, Low Priority, Parity, size/S

#7741 makes tunnel sprite visible through walls
  Resources/Textures/_RMC14/Structures/Xenos/xeno_tunnel.rsi/hole.png
Labels: Changes: Sprites, S: Needs Review, Low Priority, Changes: No C#

#7756 Giving PMC+SPP PVE roles smartgun, powerloader, and special weapons skills.
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/PMC/corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/PMC/force_lead.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/PMC/operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/PMC/overwatch.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/PMC/support_gunner.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/PMC/team_lead.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/SPPoverwatch.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/heavy_gunner.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/section_lead.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/squad_lead.yml
Labels: Low Priority, Changes: No C#, size/S, PVE

#6321 Movement based devour breakouts
  Content.Shared/_RMC14/Xenonids/Devour/DevouredComponent.cs
  Content.Shared/_RMC14/Xenonids/Devour/UsableWhileDevouredComponent.cs
  Content.Shared/_RMC14/Xenonids/Devour/XenoDevourSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/kitchen.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/knife.yml
Labels: S: Needs Review, S: Merge Conflict, S: Untriaged, Parity, size/M

#7328 Add the dropship weapon targeting system, spotlight and LZ detector
  Content.Client/Eye/EyeLerpingSystem.cs
  Content.Client/_RMC14/Camera/RMCCameraWindow.xaml.cs
  Content.Client/_RMC14/Dropship/ElectronicSystem/DropshipElectronicSystemSystem.cs
  Content.Client/_RMC14/Dropship/Weapon/DropshipWeaponsBui.cs
  Content.Server/_RMC14/Dropship/ElectronicSystem/DropshipElectronicSystemSystem.cs
  Content.Shared/_RMC14/Camera/CameraSignalGranterComponent.cs
  Content.Shared/_RMC14/Camera/RMCCameraComputerComponent.cs
  Content.Shared/_RMC14/Camera/RMCStaticZoomLevelComponent.cs
  Content.Shared/_RMC14/Camera/SharedRMCCameraSystem.cs
  Content.Shared/_RMC14/Dropship/AttachmentPoint/DropshipElectronicSystemPointComponent.cs
  Content.Shared/_RMC14/Dropship/ElectronicSystem/DropshipElectronicSystemComponent.cs
  Content.Shared/_RMC14/Dropship/ElectronicSystem/DropshipSpotlightComponent.cs
  Content.Shared/_RMC14/Dropship/ElectronicSystem/DropshipTargetingSystemComponent.cs
  Content.Shared/_RMC14/Dropship/ElectronicSystem/SharedDropshipElectronicSystemSystem.cs
  Content.Shared/_RMC14/Dropship/SharedDropshipSystem.cs
  Content.Shared/_RMC14/Dropship/Weapon/DropshipTerminalWeaponsComponent.cs
  Content.Shared/_RMC14/Dropship/Weapon/DropshipTerminalWeaponsUi.cs
  Content.Shared/_RMC14/Dropship/Weapon/SharedDropshipWeaponSystem.cs
  Content.Shared/_RMC14/PowerLoader/PowerLoaderSystem.cs
  Resources/Locale/en-US/_RMC14/dropship/rmc-dropship.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/camera.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/floodlights.yml
  Resources/Prototypes/_RMC14/Entities/Objects/PowerLoader/Dropship/rmc_dropship_electronic_systems.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/mortars.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/alamo_walls.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/dropship_entities.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/normandy_walls.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/shuttle_console.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/television.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Textures/_RMC14/Objects/dropship_electronic_system_attachments.rsi/lz_detector.png
  Resources/Textures/_RMC14/Objects/dropship_electronic_system_attachments.rsi/lz_detector_installed.png
  Resources/Textures/_RMC14/Objects/dropship_electronic_system_attachments.rsi/meta.json
  Resources/Textures/_RMC14/Objects/dropship_electronic_system_attachments.rsi/spotlights.png
  Resources/Textures/_RMC14/Objects/dropship_electronic_system_attachments.rsi/spotlights_off.png
  Resources/Textures/_RMC14/Objects/dropship_electronic_system_attachments.rsi/spotlights_on.png
  Resources/Textures/_RMC14/Objects/dropship_electronic_system_attachments.rsi/targeting_system.png
  Resources/Textures/_RMC14/Objects/dropship_electronic_system_attachments.rsi/targeting_system_installed.png
Labels: Changes: Sprites, S: Needs Review, Changes: UI, S: Untriaged, size/M

#7571 Add new sprites for muzzle flash effects
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Projectiles/projectiles.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Projectiles/projectiles.rsi/muzzle_bullet_RMC.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Projectiles/projectiles.rsi/muzzle_bullet_high_RMC.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Projectiles/projectiles.rsi/muzzle_bullet_low_RMC.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Projectiles/projectiles.rsi/muzzle_bullet_shell_RMC.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#

#6856 custom burst removal
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_scout_rifle.yml
Labels: S: Merge Conflict, S: Untriaged, Parity, size/XS, Changes: No C#

#7413 Acid blood splash
  Content.Server/_RMC14/Decals/RMCDecalSystem.cs
  Content.Server/_RMC14/Scorch/RMCScorchSystem.cs
  Content.Server/_RMC14/Xenonids/AcidBloodSplash/AcidBloodSplashComponent.cs
  Content.Server/_RMC14/Xenonids/AcidBloodSplash/AcidBloodSplashSystem.cs
  Content.Shared/_RMC14/Maths/RMCMathExtensions.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-acid-blood.ftl
  Resources/Prototypes/_RMC14/Entities/Markers/Spawners/Random/Decals/splatters.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
Labels: S: Needs Review, S: Untriaged, Parity, size/M

#7710 CLF PVE roles and clothing+utility racks.
  Resources/Locale/en-US/_RMC14/job/clf.ftl
  Resources/Prototypes/_RMC14/Catalog/Fills/Lockers/clf.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/rmc_id_clf.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/pve.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/lockers.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/CLF/commander.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/CLF/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/CLF/heavy_gunner.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/CLF/standard.yml
  Resources/Textures/_RMC14/Markers/landmarks.rsi/clf_spawn.png
  Resources/Textures/_RMC14/Markers/landmarks.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/clf_surplus.rsi/base.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/clf_surplus.rsi/broken.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/clf_surplus.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/clf_surplus.rsi/off.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/ColMarTech/clf_surplus.rsi/panel.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#7793 RMCAIConsoleHERMES fix
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/aicore.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7437 Fiorina Science Annex s̶i̶l̶l̶i̶e̶s̶ Survivors
  Resources/Locale/en-US/_RMC14/job/survivor.ftl
  Resources/Prototypes/_RMC14/Access/Groups/colony_access_groups.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/rmc_planets.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Base_Survs/isr_observer_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Fiorina/fiorina_corporate.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Fiorina/fiorina_doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Fiorina/fiorina_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Fiorina/fiorina_prison_guard.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Fiorina/fiorina_researcher.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Fiorina/fiorina_riot_officer_.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Misc/gang_leader_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Misc/prisoner_survivor.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/M

#7808 Remove SPP guns from marine loadout options.
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7812 Minor minor ammunition box sprite stuff
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/bullet_boxes.yml
Labels: S: Needs Review, Changes: No C#, size/S

#7816 Vent fixes
  Content.Shared/_RMC14/Storage/Containers/RMCContainerDestructionEmptyEvent.cs
  Content.Shared/_RMC14/Storage/Containers/RMCContainerEmptyOnDestructionComponent.cs
  Content.Shared/_RMC14/Storage/RMCStorageSystem.cs
  Content.Shared/_RMC14/Vents/SharedVentCrawlingSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bodybags.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Piping/atmospherics.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Piping/pipes.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/closets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/crates.yml
Labels: S: Needs Review, S: Untriaged, size/S

#7817 Update fixes 2
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/_RMC14/Areas/AreaSystem.cs
  Content.Shared/_RMC14/PowerLoader/PowerLoaderSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/Chamber/RMCGunChamberSystem.cs
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/dropship_entities.yml
Labels: S: Needs Review, S: Untriaged, size/S

#7820 Fix messtechs having command/engi comms
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7840 Fix small hosts
  Resources/Prototypes/_RMC14/Entities/Mobs/NPCs/animals.yml
Labels: S: Needs Review, Changes: No C#, size/S

#7866 Fix M54C Solid Urban Stock
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m54_stocks/urban.rsi/m54c-solid_a.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#

#7870 PVE SGO Locker Fill Fix
  Resources/Prototypes/_RMC14/Catalog/Fills/Lockers/marine.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#, PVE

#7859 Admeme dropship and mortar explosions
  Content.Shared/_RMC14/Dropship/Weapon/ActivateDropshipWeaponOnSpawnComponent.cs
  Content.Shared/_RMC14/Dropship/Weapon/SharedDropshipWeaponSystem.cs
  Content.Shared/_RMC14/Mortar/ActivateMortarShellOnSpawnComponent.cs
  Content.Shared/_RMC14/Mortar/SharedMortarSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/explosions.yml
Labels: S: Needs Review, S: Untriaged, size/M

#7867 fix pyon file path
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_core.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7854 1984 Hollow Point Fix
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m1984_pistol.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7852 Minor fixes
  Resources/Locale/en-US/_RMC14/job/survivor.ftl
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/lockers.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Fiorina/fiorina_engineer.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7795 RMC PlaytimeStats fixes and medal icons
  Content.Client/_RMC14/RMCPlaytimeStats/RMCPlaytimeStatsEntry.cs
  Content.Client/_RMC14/RMCPlaytimeStats/RMCPlaytimeStatsEntry.xaml
  Content.Client/_RMC14/RMCPlaytimeStats/RMCPlaytimeStatsHeader.xaml
  Content.Client/_RMC14/RMCPlaytimeStats/RMCPlaytimeStatsWindow.cs
  Content.Client/_RMC14/RMCPlaytimeStats/RMCPlaytimeStatsWindow.xaml
  Resources/Locale/en-US/_RMC14/department.ftl
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/hudxenoupgrade2-ui.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/hudxenoupgrade3-ui.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/hudxenoupgrade4-ui.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/hudxenoupgrade5-ui.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: UI, Low Priority, size/M

#7424 tacmap saves
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/_RMC14/TacticalMap/TacticalMapComputerBui.cs
  Content.Client/_RMC14/TacticalMap/TacticalMapControl.xaml.cs
  Content.Client/_RMC14/TacticalMap/TacticalMapSettingsManager.cs
  Content.Client/_RMC14/TacticalMap/TacticalMapUserBui.cs
  Content.Client/_RMC14/TacticalMap/TacticalMapWindow.xaml.cs
  Content.Client/_RMC14/TacticalMap/TacticalMapWrapper.xaml.cs
  Content.Server/_RMC14/TacticalMap/TacticalMapSystem.cs
  Content.Shared/_RMC14/TacticalMap/TacticalMapUserUi.cs
Labels: S: Needs Review, Changes: UI, S: Untriaged, size/L

#7843 Acid blood fix
  Content.Server/_RMC14/Xenonids/AcidBloodSplash/AcidBloodSplashSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#7831 bro i dont know how it broke in the first place
  Content.Shared/_RMC14/Wheelchair/WheelchairSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/wheelchair.yml
Labels: S: Needs Review, S: Untriaged, size/XS

#7872 fix master
  Content.Client/_RMC14/Commendations/CommendationsManager.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/holdout_pistol.yml
Labels: S: Needs Review, URGENT, S: Untriaged, size/XS

#7877 Fix the playtime tracker window duplicating some playtimes, fix tacmap default mode
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Client/_RMC14/TacticalMap/TacticalMapSettingsManager.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Marines/Roles/JobPrototype.cs
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Base_Survs/civilian_survivor.yml
Labels: S: Needs Review, S: Untriaged, size/S

#7719 Adds SL (Squad Leader) guidebook entry
  Resources/Locale/en-US/_RMC14/guidebook/rmc-guides.ftl
  Resources/Prototypes/_RMC14/Guidebook/rmc_guidebook.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/squad_leader.yml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideSquadLeader.xml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/M

#7916 How build
  Resources/Prototypes/Entities/Tiles/water.yml
  Resources/Prototypes/_RMC14/Tiles/Planet/beach.yml
  Resources/Prototypes/_RMC14/Tiles/Planet/sorokyne_beach.yml
  Resources/Prototypes/_RMC14/Tiles/desert_water_shore.yml
Labels: S: Needs Review, Changes: No C#, size/S

#7925 Sorokyne Weedkiller LZ2: TComms
  Resources/Prototypes/_RMC14/Entities/Areas/areas_strata.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#7893 Valk healing area fix
  Content.Shared/_RMC14/Maths/RMCMathExtensions.cs
  Content.Shared/_RMC14/Xenonids/Fury/XenoFuryComponent.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7970 Requisitions Chair Automatic Dispense
  Content.Shared/_RMC14/Vendors/RMCRequisitionsChairComponent.cs
  Content.Shared/_RMC14/Vendors/RMCRequisitionsVendorComponent.cs
  Content.Shared/_RMC14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Prototypes/_RMC14/Entities/Markers/rmc_requisitions_markers.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
Labels: S: Needs Review, Low Priority, Parity, size/M, Map: Almayer

#7960 Fixing Supply Headset channels not being tuned out properly.
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
Labels: S: Needs Review, Low Priority, size/XS, Changes: No C#

#7987 admin drag to possess
  Content.Shared/_RMC14/Admin/AdminGhost/RMCAdminGhostComponent.cs
  Content.Shared/_RMC14/Mobs/GhostPossessionConfirmEvent.cs
  Content.Shared/_RMC14/Mobs/RMCAdminGhostDragPossessionSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7885 Kutjevo Survivors
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Resources/Locale/en-US/_RMC14/job/survivor.ftl
  Resources/Prototypes/_RMC14/Entities/rmc_planets.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Kutjevo/kutjevo_chaplain.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Kutjevo/kutjevo_cmb.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Kutjevo/kutjevo_corporate.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Kutjevo/kutjevo_doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Kutjevo/kutjevo_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Kutjevo/kutjevo_goon.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Kutjevo/kutjevo_researcher.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Kutjevo/kutjevo_trucker.yml
Labels: S: Needs Review, S: Untriaged, size/M

#7931 Obstacles between a climb target or a buckle target can block the action
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Content.Shared/_RMC14/Movement/RMCMovementSystem.cs
  Resources/Locale/en-US/_RMC14/climb/rmc-climb.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#7469 Sets Mortar FireDelay to 0
  Content.Shared/_RMC14/Mortar/MortarComponent.cs
Labels: S: Needs Review, Low Priority, Parity, size/XS

#7932 fix thermal tarps breaking
  Content.Shared/_RMC14/Stealth/RMCPassiveStealthSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S
