Repository RMC-14/RMC-14, pull requests merged in 2025-07, with the labels that each got.

#6828 SetOperationName command
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Server/_RMC14/Rules/SetOperationNameCommand.cs
  Resources/Locale/en-US/_RMC14/commands/rmc-toolshed-commands.ftl
Labels: S: Needs Review, Low Priority, size/S

#6868 Fix biosuit spawns
  Resources/Prototypes/_RMC14/Catalog/Fills/Lockers/biohazard.yml
  Resources/migration.yml
Labels: Changes: No C#, size/S

#6888 Made belts layer over outerclothing
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: S: Needs Review, Changes: No C#

#6885 Remove praetorian spray acid do-after
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6876 Fix most xeno spit cooldowns being 0.5 secs too short
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6841 Fix green fire not reducing the armor of fortified defenders and the queen
  Content.Shared/_RMC14/Atmos/SharedRMCFlammableSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6808 Fix some actions knocking back too far and slamming entities into objects when they shouldn't
  Content.Shared/_RMC14/Damage/ObstacleSlamming/RMCObstacleSlammingSystem.cs
  Content.Shared/_RMC14/Explosion/SharedRMCExplosionSystem.cs
  Content.Shared/_RMC14/Projectiles/StoppingPower/RMCStoppingPowerComponent.cs
  Content.Shared/_RMC14/Projectiles/StoppingPower/RMCStoppingPowerSystem.cs
  Content.Shared/_RMC14/Stun/RMCSizeStunSystem.cs
  Content.Shared/_RMC14/Stun/RMCStunOnHitComponent.cs
  Content.Shared/_RMC14/Xenonids/Abduct/XenoAbductSystem.cs
  Content.Shared/_RMC14/Xenonids/Charge/XenoChargeSystem.cs
  Content.Shared/_RMC14/Xenonids/Cleave/XenoCleaveComponent.cs
  Content.Shared/_RMC14/Xenonids/Cleave/XenoCleaveSystem.cs
  Content.Shared/_RMC14/Xenonids/Dislocate/XenoDislocateComponent.cs
  Content.Shared/_RMC14/Xenonids/Dislocate/XenoDislocateSystem.cs
  Content.Shared/_RMC14/Xenonids/Empower/XenoEmpowerSystem.cs
  Content.Shared/_RMC14/Xenonids/Empower/XenoSuperEmpoweredComponent.cs
  Content.Shared/_RMC14/Xenonids/Fling/XenoFlingComponent.cs
  Content.Shared/_RMC14/Xenonids/Fling/XenoFlingSystem.cs
  Content.Shared/_RMC14/Xenonids/Headbutt/XenoHeadbuttComponent.cs
  Content.Shared/_RMC14/Xenonids/Headbutt/XenoHeadbuttSystem.cs
  Content.Shared/_RMC14/Xenonids/HighGallop/XenoHighGallopComponent.cs
  Content.Shared/_RMC14/Xenonids/HighGallop/XenoHighGallopSystem.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
  Content.Shared/_RMC14/Xenonids/Lunge/XenoLungeSystem.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
  Content.Shared/_RMC14/Xenonids/Punch/XenoPunchComponent.cs
  Content.Shared/_RMC14/Xenonids/Punch/XenoPunchSystem.cs
  Content.Shared/_RMC14/Xenonids/Sweep/XenoTailSweepComponent.cs
  Content.Shared/_RMC14/Xenonids/Sweep/XenoTailSweepSystem.cs
  Content.Shared/_RMC14/Xenonids/TailJab/XenoTailJabComponent.cs
  Content.Shared/_RMC14/Xenonids/TailJab/XenoTailJabSystem.cs
  Content.Shared/_RMC14/Xenonids/TailLash/XenoTailLashComponent.cs
  Content.Shared/_RMC14/Xenonids/TailLash/XenoTailLashSystem.cs
  Content.Shared/_RMC14/Xenonids/TailSeize/XenoTailSeizeSystem.cs
  Content.Shared/_RMC14/Xenonids/Tumble/XenoTumbleComponent.cs
  Content.Shared/_RMC14/Xenonids/Tumble/XenoTumbleSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
Labels: S: Needs Review, S: Untriaged, size/M

#6908 More biohazard closet migrations
  Resources/migration.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6896 SL Headset now has req channel
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/EncryptionKeys/marine.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6916 adds .5 range to headbutt
  Content.Shared/_RMC14/Xenonids/Headbutt/XenoHeadbuttComponent.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: S: Needs Review, S: Untriaged, size/XS

#6864 XM51 Stock gives Burst
  Content.Client/_RMC14/Weapons/Ranged/PumpActionSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/SharedPumpActionSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/xm51_shotgun.yml
Labels: S: Needs Review, Low Priority, Parity, size/S

#6670 Access Pass
  Resources/Prototypes/_RMC14/Access/Groups/auxiliary_support_access_groups.yml
  Resources/Prototypes/_RMC14/Access/Groups/command_access_group.yml
  Resources/Prototypes/_RMC14/Access/Groups/engineering_access_groups.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/alamo_doors.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/shuttle_console.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/staff_officer.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6776 Make synths be known as fake hosts to xenos with the identity stuff
  Content.Shared/_RMC14/Synth/SharedSynthSystem.cs
  Content.Shared/_RMC14/Synth/SynthComponent.cs
  Resources/Locale/en-US/_RMC14/cm-chatsan.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#6749 Lathe recipe material cost adjustments
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/armylathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/armylathe_recipes.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe_recipes.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/medilathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/medilathe_recipes.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6899 Disable looc while unconscious
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6907 Allow Forecon spotter whitelist
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/commander.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/marksman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/support_technician.yml
Labels: No C#, S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6878 Lesser drones can only plant weeds nearby other nodes
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6830 Adds the stethoscope.
  Content.Shared/_RMC14/Medical/Scanner/RMCStethoscopeComponent.cs
  Content.Shared/_RMC14/Medical/Scanner/RMCStethoscopeSystem.cs
  Resources/Locale/en-US/_RMC14/medical/rmc-stethoscope.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/stethoscope.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/synthetic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
  Resources/Textures/_RMC14/Objects/Medical/stethoscope.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Medical/stethoscope.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medical/stethoscope.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Medical/stethoscope.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Medical/stethoscope.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#6862 Floor resin, resin constructs and resin structures now take burn damage over time.
  Resources/Prototypes/_RMC14/Entities/Structures/Base/base_structure.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_base_hive.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_floor_resin.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: S: Untriaged, Changes: No C#, size/S

#6753 [QOL/Fix] ChemMaster Eject Beaker
  Content.Shared/_RMC14/Chemistry/ChemMaster/SharedRMCChemMasterSystem.cs
  Resources/Locale/en-US/_RMC14/chemistry/rmc-chem-master.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#6867 Gun sound update
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_shotgun_heavy.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/p90_shot.ogg
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/p90.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m357_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m890_guardshotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m890_riotshotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m890_shotgun.yml
  Resources/Prototypes/_RMC14/SoundCollections/gunshots.yml
Labels: Parity, Changes: No C#, size/S, Changes: Audio

#6877 Give IMP racks the ability to store empty and full sandbags, give IO headsets access to the req channel and fit the underbarrel extinguisher on more guns.
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/EncryptionKeys/ship.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_heavy_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/m63_smg.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/mp5_smg.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/mou53_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/xm51_shotgun.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6887 Gardener update
  Content.Shared/_RMC14/Xenonids/Fruit/Components/XenoFruitComponent.cs
  Content.Shared/_RMC14/Xenonids/Fruit/Components/XenoFruitPlanterComponent.cs
  Content.Shared/_RMC14/Xenonids/Fruit/SharedXenoFruitSystem.cs
  Content.Shared/_RMC14/Xenonids/ResinSurge/SharedXenoResinSurgeSystem.cs
  Content.Shared/_RMC14/Xenonids/ResinSurge/XenoResinSurgeActionComponent.cs
  Content.Shared/_RMC14/Xenonids/ResinSurge/XenoResinSurgeComponent.cs
  Content.Shared/_RMC14/Xenonids/Weeds/SharedXenoWeedsSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-fruit.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-strains.ftl
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_utility_actions.yml
  Resources/Prototypes/_RMC14/Effects/xeno_structures.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_fruit.yml
  Resources/Textures/_RMC14/Structures/Xenos/xeno_surge_glow.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Xenos/xeno_surge_glow.rsi/surge-door.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_surge_glow.rsi/surge-wall.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#6914 Add uniform accessories
  Content.Client/UserInterface/Systems/Inventory/InventoryUIController.cs
  Content.Client/_RMC14/Medal/PlaytimeMedalSystem.cs
  Content.Client/_RMC14/UniformAccessories/UniformAccessoryBui.cs
  Content.Client/_RMC14/UniformAccessories/UniformAccessoryMenu.xaml
  Content.Client/_RMC14/UniformAccessories/UniformAccessoryMenu.xaml.cs
  Content.Client/_RMC14/UniformAccessories/UniformAccessorySystem.cs
  Content.Server/_RMC14/Medal/PlaytimeMedalSystem.cs
  Content.Server/_RMC14/UniformAccessories/UniformAccessorySystem.cs
  Content.Shared/_RMC14/Medal/PlaytimeMedalComponent.cs
  Content.Shared/_RMC14/Medal/PlaytimeMedalHolderComponent.cs
  Content.Shared/_RMC14/Medal/PlaytimeMedalUserComponent.cs
  Content.Shared/_RMC14/Medal/SharedPlaytimeMedalSystem.cs
  Content.Shared/_RMC14/UniformAccessories/MedalVisualLayers.cs
  Content.Shared/_RMC14/UniformAccessories/SharedUniformAccessorySystem.cs
  Content.Shared/_RMC14/UniformAccessories/UniformAccessoryComponent.cs
  Content.Shared/_RMC14/UniformAccessories/UniformAccessoryHolderComponent.cs
  Content.Shared/_RMC14/UniformAccessories/UniformAccessoryLayers.cs
  Content.Shared/_RMC14/UniformAccessories/UniformAccessoryUI.cs
  Resources/Locale/en-US/_RMC14/accessories/uniform.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/base.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/helmet_garbs.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/patches.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/webbing.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/armored_vest.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/base.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Objects/medals.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/forecon_patch.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/forecon_patch.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/forecon_patch.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/forecon_patch.rsi/patch.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/un_patch.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/un_patch.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/un_patch.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/un_patch.rsi/patch.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/unmc_patch.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/unmc_patch.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/unmc_patch.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/unmc_patch.rsi/patch.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/weya_patch.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/weya_patch.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/weya_patch.rsi/patch.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/weya_patch_black.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/weya_patch_black.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/weya_patch_black.rsi/patch.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/weya_patch_square.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/weya_patch_square.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/weya_patch_square.rsi/patch.png
Labels: Changes: Sprites, S: Needs Review, Changes: UI, Parity, size/L

#6915 Lore inspect system
  Content.Shared/_RMC14/Lore/RMCLoreExaminableComponent.cs
  Content.Shared/_RMC14/Lore/RMCLoreExaminableSystem.cs
  Resources/Locale/en-US/_RMC14/lore-examine/lore-examinable.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/rail_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
Labels: S: Needs Review, Low Priority, Parity, size/S

#6889 Unloading unchambered warheads and fuel from the orbital cannon.
  Content.Shared/_RMC14/OrbitalCannon/OrbitalCannonSystem.cs
  Content.Shared/_RMC14/PowerLoader/PowerLoaderGrabEvent.cs
  Content.Shared/_RMC14/PowerLoader/PowerLoaderSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6767 Drop pouches for medical + name refactor
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/clothing.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/webbing.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/medical.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/pilot.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/synthetic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
  Resources/migration.yml
Labels: S: Needs Review, Changes: Map, Changes: No C#, size/S

#6788 I eep, therefore I am. [xenonid rest keybind]
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_RMC14/Xenonids/Rest/XenoRestKeybindSystem.cs
  Content.Shared/_RMC14/Input/CMKeyFunctions.cs
  Resources/Locale/en-US/_RMC14/escape-menu/options-menu.ftl
  Resources/keybinds.yml
Labels: S: Needs Review, Changes: UI, S: Untriaged, size/S

#6931 Fix some obstacle slamming stuff
  Content.Shared/_RMC14/Damage/ObstacleSlamming/RMCObstacleSlammingComponent.cs
  Content.Shared/_RMC14/Damage/ObstacleSlamming/RMCObstacleSlammingSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lurker.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6801 Recycling dropship parts and ammo
  Content.Shared/_RMC14/Dropship/Fabricator/DropshipFabricatorComponent.cs
  Content.Shared/_RMC14/Dropship/Fabricator/DropshipFabricatorPrintableComponent.cs
  Content.Shared/_RMC14/Dropship/Fabricator/DropshipFabricatorSystem.cs
  Content.Shared/_RMC14/PowerLoader/PowerLoaderSystem.cs
  Resources/Audio/_RMC14/Machines/attributions.yml
  Resources/Audio/_RMC14/Machines/fax.ogg
  Resources/Prototypes/_RMC14/Entities/Objects/PowerLoader/Dropship/rmc_dropship_fabricator.yml
Labels: S: Needs Review, S: Untriaged, size/S, Changes: Audio

#6912 Foldable chairs
  Content.Shared/_RMC14/Stamina/RMCStaminaDamageOnHitComponent.cs
  Content.Shared/_RMC14/Stamina/RMCStaminaSystem.cs
  Resources/Audio/_RMC14/Items/attributions.yml
  Resources/Audio/_RMC14/Items/metal_chair_clang.ogg
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/chairs.yml
  Resources/Textures/_RMC14/Structures/Furniture/folding_chair.rsi/chair.png
  Resources/Textures/_RMC14/Structures/Furniture/folding_chair.rsi/chair_folded.png
  Resources/Textures/_RMC14/Structures/Furniture/folding_chair.rsi/inhand-left.png
  Resources/Textures/_RMC14/Structures/Furniture/folding_chair.rsi/inhand-right.png
  Resources/Textures/_RMC14/Structures/Furniture/folding_chair.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Furniture/folding_chair.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Structures/Furniture/folding_chair.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Needs Review, Parity, size/M, Changes: Audio

#6780 Some attachments resprite
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/ebarrel.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/ebarrel_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/hbarrel.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/hbarrel_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/under.rsi/lasersight.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/under.rsi/lasersight_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/under.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Merge Conflict, Changes: No C#, size/S

#6928 Motivation Moth Plushie, Map Blacklist
  .github/map_checker/matchers.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Fun/toys.yml
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/plushie_wawa.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#6634 impstation slime changes port
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Resources/Locale/en-US/_RMC14/markings/slimeperson.ftl
  Resources/Locale/en-US/_RMC14/preferences/ui/markings-picker.ftl
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Customization/Markings/slime.yml
  Resources/Textures/Mobs/Species/Slime/parts.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Slimes/chest.rsi/bone.png
  Resources/Textures/_RMC14/Mobs/Slimes/chest.rsi/core.png
  Resources/Textures/_RMC14/Mobs/Slimes/chest.rsi/lungs.png
  Resources/Textures/_RMC14/Mobs/Slimes/chest.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Slimes/eyes.rsi/cyclops.png
  Resources/Textures/_RMC14/Mobs/Slimes/eyes.rsi/droopy.png
  Resources/Textures/_RMC14/Mobs/Slimes/eyes.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Slimes/head.rsi/bone.png
  Resources/Textures/_RMC14/Mobs/Slimes/head.rsi/brain.png
  Resources/Textures/_RMC14/Mobs/Slimes/head.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Slimes/head.rsi/mouth.png
  Resources/Textures/_RMC14/Mobs/Slimes/head.rsi/nose.png
  Resources/Textures/_RMC14/Mobs/Slimes/larm.rsi/bone.png
  Resources/Textures/_RMC14/Mobs/Slimes/larm.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Slimes/lfoot.rsi/bone.png
  Resources/Textures/_RMC14/Mobs/Slimes/lfoot.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Slimes/lhand.rsi/bone.png
  Resources/Textures/_RMC14/Mobs/Slimes/lhand.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Slimes/lleg.rsi/bone.png
  Resources/Textures/_RMC14/Mobs/Slimes/lleg.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/eyes.png
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/full.png
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/head_f.png
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/head_m.png
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/l_arm.png
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/l_foot.png
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/l_hand.png
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/l_leg.png
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/r_arm.png
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/r_foot.png
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/r_hand.png
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/r_leg.png
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/torso_f.png
  Resources/Textures/_RMC14/Mobs/Slimes/parts.rsi/torso_m.png
  Resources/Textures/_RMC14/Mobs/Slimes/rarm.rsi/bone.png
  Resources/Textures/_RMC14/Mobs/Slimes/rarm.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Slimes/rfoot.rsi/bone.png
  Resources/Textures/_RMC14/Mobs/Slimes/rfoot.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Slimes/rhand.rsi/bone.png
  Resources/Textures/_RMC14/Mobs/Slimes/rhand.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Slimes/rleg.rsi/bone.png
  Resources/Textures/_RMC14/Mobs/Slimes/rleg.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#6852 ASO Drip (But real)
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/aso/black.rsi/equipped-OUTERCLOTHING-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/aso/black.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/aso/black.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/aso/black.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/aso/black_alt.rsi/equipped-OUTERCLOTHING-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/aso/black_alt.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/aso/black_alt.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/aso/black_alt.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/aso/white.rsi/equipped-OUTERCLOTHING-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/aso/white.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/aso/white.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/aso/white.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_black.rsi/equipped-INNERCLOTHING-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_black.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_black.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_black.rsi/jacket-equipped-INNERCLOTHING-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_black.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_black.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_black_alt.rsi/equipped-INNERCLOTHING-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_black_alt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_black_alt.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_black_alt.rsi/jacket-equipped-INNERCLOTHING-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_black_alt.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_black_alt.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_formal.rsi/equipped-INNERCLOTHING-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_formal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_formal.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_formal.rsi/jacket-equipped-INNERCLOTHING-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_formal.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_formal.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_operations.rsi/equipped-INNERCLOTHING-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_operations.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_operations.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_operations.rsi/jacket-equipped-INNERCLOTHING-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_operations.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Command/ASO/aso_operations.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#6792 Orbital Communications Platform-583
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_RMC14/OCP-583.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_OCP-583.yml
  Resources/Prototypes/_RMC14/Maps/OCP-583.yml
  Resources/Textures/_RMC14/Areas/areas_OCP-583.rsi/OCP-583.png
  Resources/Textures/_RMC14/Areas/areas_OCP-583.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, S: Untriaged, size/XL

#6943 Fix hive cluster and hive pylon repair times being too long
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Weeds/XenoWeedsSpreadingComponent.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_cluster.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_core.yml
Labels: S: Needs Review, Parity, size/S

#6949 Make nurse spawn with RMC white shoes
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/nurse.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6952 Fix deafness not hiding radio chatter
  Content.Server/_RMC14/Deafness/DeafnessSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6805 Adds a new alert that shows area information
  Content.Shared/_RMC14/TacticalMap/AreaInfoComponent.cs
  Content.Shared/_RMC14/TacticalMap/AreaInfoSystem.cs
  Content.Shared/_RMC14/TacticalMap/GrantAreaInfoComponent.cs
  Content.Shared/_RMC14/TacticalMap/TacMapMarineAlertComponent.cs
  Content.Shared/_RMC14/TacticalMap/TacMapMarineAlertSystem.cs
  Content.Shared/_RMC14/TacticalMap/TacMapXenoAlertComponent.cs
  Content.Shared/_RMC14/TacticalMap/TacMapXenoAlertSystem.cs
  Resources/Locale/en-US/_RMC14/ui.ftl
  Resources/Prototypes/Alerts/categories.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_RMC14/Alerts/alerts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/marine_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Textures/_RMC14/Structures/Machines/ceiling.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/ceiling.rsi/roof0.png
  Resources/Textures/_RMC14/Structures/Machines/ceiling.rsi/roof1.png
  Resources/Textures/_RMC14/Structures/Machines/ceiling.rsi/roof2.png
  Resources/Textures/_RMC14/Structures/Machines/ceiling.rsi/roof3.png
  Resources/Textures/_RMC14/Structures/Machines/ceiling.rsi/roof3b.png
  Resources/Textures/_RMC14/Structures/Machines/ceiling.rsi/roof4.png
  Resources/Textures/_RMC14/Structures/Machines/ceiling.rsi/roof4b.png
Labels: Changes: Sprites, S: Needs Review, size/M

#6971 Fix FORECON Radio
  Resources/Locale/en-US/_RMC14/radio-channels.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/distress_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_base_id.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/squads.yml
  Resources/Prototypes/_RMC14/radio_channels.yml
Labels: S: Needs Review, Parity, Changes: No C#, size/S

#6967 Escape pod fixes
  Content.Shared/_RMC14/Evacuation/SharedEvacuationSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/rmc_communications_console.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6901 Add paradropping from the dropship using parachutes
  Content.Client/_RMC14/CrashLand/CrashLandSystem.cs
  Content.Client/_RMC14/Dropship/Weapon/DropshipWeaponsBui.cs
  Content.Client/_RMC14/Marines/MarineOverlay.cs
  Content.Client/_RMC14/ParaDrop/ParaDropSystem.cs
  Content.Client/_RMC14/Sprite/RMCSpriteSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_RMC14/CrashLand/CrashLandSystem.cs
  Content.Server/_RMC14/Evacuation/EvacuationSystem.cs
  Content.Server/_RMC14/ParaDrop/ParaDropSystem.cs
  Content.Shared/ParaDrop/ActiveParaDropComponent.cs
  Content.Shared/ParaDrop/GrantParaDroppableComponent.cs
  Content.Shared/ParaDrop/ParaDroppableComponent.cs
  Content.Shared/ParaDrop/ParaDroppingComponent.cs
  Content.Shared/ParaDrop/RMCParaDropComponent.cs
  Content.Shared/ParaDrop/SharedParaDropSystem.cs
  Content.Shared/ParaDrop/SkyFallingComponent.cs
  Content.Shared/Shuttles/Components/FTLComponent.cs
  Content.Shared/_RMC14/CrashLand/CrashLandOnTouchComponent.cs
  Content.Shared/_RMC14/CrashLand/CrashLandSystem.cs
  Content.Shared/_RMC14/CrashLand/CrashLandableComponent.cs
  Content.Shared/_RMC14/CrashLand/CrashLandingComponent.cs
  Content.Shared/_RMC14/CrashLand/DeleteCrashLandableOnTouchComponent.cs
  Content.Shared/_RMC14/CrashLand/SharedCrashLandSystem.cs
  Content.Shared/_RMC14/Doors/RMCDoorComponent.cs
  Content.Shared/_RMC14/Dropship/Weapon/DropshipTerminalWeaponsUi.cs
  Content.Shared/_RMC14/Dropship/Weapon/SharedDropshipWeaponSystem.cs
  Content.Shared/_RMC14/Sprite/RMCUpdateClientLocationComponent.cs
  Content.Shared/_RMC14/Storage/RMCStorageSystem.cs
  Resources/Locale/en-US/_RMC14/dropship/rmc-dropship.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/utility.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bodybags.yml
  Resources/Prototypes/_RMC14/Entities/Objects/PowerLoader/Dropship/rmc_dropship_utility.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/alamo_doors.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Dropships/normandy_doors.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/crates.yml
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/Parachute/parachute.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/Parachute/parachute.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/Parachute/parachute.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/Parachute/parachute.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/Parachute/parachute.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/Parachute/parachute_deployed.rsi/cables.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/Parachute/parachute_deployed.rsi/chute_animated.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/Parachute/parachute_deployed.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/Parachute/parachute_deployed.rsi/meta.json
  Resources/Textures/_RMC14/Objects/dropship_utility_attachments.rsi/meta.json
  Resources/Textures/_RMC14/Objects/dropship_utility_attachments.rsi/paradrop_system.png
  Resources/Textures/_RMC14/Objects/dropship_utility_attachments.rsi/paradrop_system_deployed.png
Labels: Changes: Sprites, S: Needs Review, Parity, size/L

#6996 Fixes issues with new area alert and some parity
  Content.Shared/_RMC14/TacticalMap/AreaInfoSystem.cs
  Resources/Locale/en-US/_RMC14/ui.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Alerts/categories.yml
  Resources/Prototypes/_RMC14/Alerts/Xeno/xeno_armor_alerts.yml
  Resources/Prototypes/_RMC14/Alerts/Xeno/xeno_energy_alerts.yml
  Resources/Prototypes/_RMC14/Alerts/Xeno/xeno_night_vision_alerts.yml
  Resources/Prototypes/_RMC14/Alerts/Xeno/xeno_plasma_alerts.yml
  Resources/Prototypes/_RMC14/Alerts/alerts.yml
  Resources/Textures/_RMC14/Structures/Machines/ceiling.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/ceiling.rsi/roofnull.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/S

#6966 The Lorefication
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/cmb.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Drinks/cans.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/condiments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/surgery.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/hjra_12_rocket_launcher.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/ar10_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m16_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/xm88_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/type64.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/eyewear.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/trimax_black_glasses.rsi/equipped-EYES.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/trimax_black_glasses.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/trimax_black_glasses.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/trimax_black_glasses.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/trimax_bronze_glasses.rsi/equipped-EYES.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/trimax_bronze_glasses.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/trimax_bronze_glasses.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/trimax_bronze_glasses.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/trimax_yellow_glasses.rsi/equipped-EYES.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/trimax_yellow_glasses.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/trimax_yellow_glasses.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/trimax_yellow_glasses.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#6977 Turns Stethoscope into an accessory
  Content.Shared/_RMC14/Medical/Scanner/RMCStethoscopeSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/base.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/utility.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/stethoscope.yml
  Resources/Textures/_RMC14/Objects/Medical/stethoscope.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medical/stethoscope.rsi/utility.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#6699 Barricades block leaps, lunges, melee attacks and tackles from the front
  Content.Client/_RMC14/Barricade/DirectionalAttackBlockSystem.cs
  Content.Server/_RMC14/Barricade/BarbedSystem.cs
  Content.Server/_RMC14/Barricade/DirectionalAttackBlockSystem.cs
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_RMC14/Barricade/Components/BarbedComponent.cs
  Content.Shared/_RMC14/Barricade/DirectionalAttackBlockerComponent.cs
  Content.Shared/_RMC14/Barricade/SharedBarbedSystem.cs
  Content.Shared/_RMC14/Barricade/SharedDirectionalAttackBlockSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Damage/ObstacleSlamming/RMCObstacleSlammingSystem.cs
  Content.Shared/_RMC14/Weapons/Melee/MeleeAttackAttemptEvent.cs
  Content.Shared/_RMC14/Weapons/Melee/SharedRMCMeleeWeaponSystem.cs
  Content.Shared/_RMC14/Xenonids/Leap/RMCLeapProtectionComponent.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapComponent.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapingComponent.cs
  Content.Shared/_RMC14/Xenonids/Lunge/RMCLungeProtectionComponent.cs
  Content.Shared/_RMC14/Xenonids/Lunge/XenoLungeComponent.cs
  Content.Shared/_RMC14/Xenonids/Lunge/XenoLungeSystem.cs
  Content.Shared/_RMC14/Xenonids/Stab/SharedXenoTailStabSystem.cs
  Content.Shared/_RMC14/Xenonids/Stab/XenoTailStabEvent.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
Labels: S: Needs Review, S: Merge Conflict, Parity, size/M

#6891 Add a short cooldown to Dancer abilities and Warrior's Lunge when they are used on an invalid target
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Shared/_RMC14/Actions/RMCActionsSystem.cs
  Content.Shared/_RMC14/Actions/RMCCooldownOnMissComponent.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: S: Needs Review, Parity, size/S

#6990 Paradrop fixes
  Content.Client/Overlays/EntityHealthBarOverlay.cs
  Content.Client/StatusIcon/StatusIconOverlay.cs
  Content.Client/_RMC14/CrashLand/CrashLandSystem.cs
  Content.Client/_RMC14/ParaDrop/ParaDropSystem.cs
  Content.Client/_RMC14/Sprite/RMCSpriteSystem.cs
  Content.Server/_RMC14/CrashLand/CrashLandSystem.cs
  Content.Server/_RMC14/ParaDrop/ParaDropSystem.cs
  Content.Shared/ParaDrop/SharedParaDropSystem.cs
  Content.Shared/_RMC14/CrashLand/SharedCrashLandSystem.cs
  Content.Shared/_RMC14/Dropship/Weapon/SharedDropshipWeaponSystem.cs
  Resources/Locale/en-US/_RMC14/dropship/rmc-dropship.ftl
Labels: S: Needs Review, S: Merge Conflict, S: Untriaged, size/M

#6992 Prevent airburst grenade projectiles from colliding with dead bodies
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m74_airburst_grenades.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6991 Fix oppressor abilities going through things they shouldn't
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Base/base_structure.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6629 Fixed not being able to give gibbed marines medals
  Content.Server/_RMC14/Commendations/CommendationSystem.cs
  Content.Server/_RMC14/Marines/ControlComputer/MarineControlComputerSystem.cs
  Content.Shared/_RMC14/Commendations/SharedCommendationSystem.cs
  Content.Shared/_RMC14/Marines/ControlComputer/MarineControlComputerComponent.cs
  Content.Shared/_RMC14/Marines/ControlComputer/MarineControlComputerMedalMarineEvent.cs
  Content.Shared/_RMC14/Marines/ControlComputer/MarineControlComputerMedalMessageEvent.cs
  Content.Shared/_RMC14/Marines/ControlComputer/MarineControlComputerMedalNameEvent.cs
  Content.Shared/_RMC14/Marines/ControlComputer/SharedMarineControlComputerSystem.cs
  Content.Shared/_RMC14/Xenonids/ManageHive/ManageHiveSystem.cs
  Resources/Locale/en-US/_RMC14/jellies.ftl
  Resources/Locale/en-US/_RMC14/medals.ftl
  Resources/Prototypes/_RMC14/Datasets/jellies.yml
  Resources/Prototypes/_RMC14/Datasets/medals.yml
Labels: S: Needs Review, size/M

#6985 Civilian survivor rare item + even more survivor fixes
  Content.Shared/_RMC14/MotionDetector/MotionDetectorComponent.cs
  Content.Shared/_RMC14/MotionDetector/MotionDetectorSystem.cs
  Content.Shared/_RMC14/Survivor/SurvivorPresetComponent.cs
  Content.Shared/_RMC14/Survivor/SurvivorSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/motion_detector.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/civilian.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/civilian_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/priest_survivor.yml
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector_blip.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector_blip_dir.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector_long_switch.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector_on_0.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector_on_1.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector_on_2.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector_on_3.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector_on_4.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector_on_5.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector_on_6.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector_on_7.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector_on_8.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector_on_9.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/detector_short_switch.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/queen_eye_blip.png
  Resources/Textures/_RMC14/Objects/Tools/compact_motion_detector.rsi/queen_eye_blip_dir.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#6979 Add always powered field for areas
  Content.Shared/_RMC14/Areas/AreaComponent.cs
  Content.Shared/_RMC14/Power/SharedRMCPowerSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6986 Small parity additions to synth loadout
  Resources/Locale/en-US/_RMC14/roles/loadouts.ftl
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/RoleSpecific/synthetic.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/role_loadouts.yml
Labels: S: Needs Review, Changes: No C#, size/M

#6960 Shotgun Choke
  Content.Shared/_RMC14/Attachable/Components/GrantProjectileStunAdjustComponent.cs
  Content.Shared/_RMC14/Attachable/Components/ProjectileStunAdjustComponent.cs
  Content.Shared/_RMC14/Attachable/Systems/AttachableHolderSystem.cs
  Content.Shared/_RMC14/Attachable/Systems/AttachableModifiersSystem.Ranged.cs
  Content.Shared/_RMC14/Attachable/Systems/ProjectileStunAdjustSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/barrel_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/pump_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/choke.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/choke_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Parity, size/M

#6176 Fire Sentries
  Content.Shared/_RMC14/Damage/SharedRMCDamageableSystem.cs
  Content.Shared/_RMC14/Projectiles/RMCFireProjectileComponent.cs
  Content.Shared/_RMC14/Projectiles/RMCProjectileSystem.cs
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Markers/Spawners/Random/sentries.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/sentry.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/sentry.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/sentries.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Tiles/tile_fire.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/sentry_flametank.rsi/flametank.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/sentry_flametank.rsi/flametank_strip.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/sentry_flametank.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/sentry_flametank.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Projectiles/firesentry_projectile.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Projectiles/firesentry_projectile.rsi/pulse0.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/mini_uac_flamer.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/mini_uac_flamer_destroyed.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/mini_uac_flamer_handheld.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/mini_uac_flamer_noammo.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/mini_uac_flamer_on.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/normal_uac_flamer.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/normal_uac_flamer_destroyed.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/normal_uac_flamer_handheld.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/normal_uac_flamer_noammo.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/normal_uac_flamer_on.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/plasma_uac_flamer.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/plasma_uac_flamer_destroyed.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/plasma_uac_flamer_handheld.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/plasma_uac_flamer_noammo.png
  Resources/Textures/_RMC14/Objects/Weapons/Sentries/sentry.rsi/plasma_uac_flamer_on.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6934 adding FORECON synthetic
  Resources/Locale/en-US/_RMC14/job/survivor.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/JobIcons/other_job_icons.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/recon-synth.yml
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_syn_forecon.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/meta.json
  Resources/Textures/_RMC14/Interface/map_blips.rsi/forecon_synth.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/L

#6827 Zombies
  .github/map_checker/matchers.yml
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/_RMC14/Zombies/RMCZombieSystem.cs
  Resources/Locale/en-US/_RMC14/medical/medicine.ftl
  Resources/Locale/en-US/_RMC14/medical/toxins.ftl
  Resources/Locale/en-US/_RMC14/pills/pill-examine.ftl
  Resources/Locale/en-US/_RMC14/rmc-accent.ftl
  Resources/Prototypes/_RMC14/Accents/rmc_accents.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/NPCs/zombies.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Drinks/black_goo.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bottles.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/pills.yml
  Resources/Prototypes/_RMC14/Reagents/medicine.yml
  Resources/Prototypes/_RMC14/Reagents/toxins.yml
  Resources/Textures/_RMC14/Objects/Chemistry/bottles.rsi/label-1.png
  Resources/Textures/_RMC14/Objects/Chemistry/bottles.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medical/black_goo.rsi/icon-0.png
  Resources/Textures/_RMC14/Objects/Medical/black_goo.rsi/icon-1.png
  Resources/Textures/_RMC14/Objects/Medical/black_goo.rsi/icon-2.png
  Resources/Textures/_RMC14/Objects/Medical/black_goo.rsi/icon-3.png
  Resources/Textures/_RMC14/Objects/Medical/black_goo.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Low Priority, Parity, size/M

#6562 MEGAPHONE
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/_RMC14/Dialog/DialogBui.cs
  Content.Server/_RMC14/Megaphone/RMCServerMegaphoneSystem.cs
  Content.Shared/_RMC14/Chat/RMCSpeechBubbleSpecificStyleComponent.cs
  Content.Shared/_RMC14/Dialog/DialogComponent.cs
  Content.Shared/_RMC14/Dialog/DialogSystem.cs
  Content.Shared/_RMC14/Megaphone/RMCMegaphoneComponent.cs
  Content.Shared/_RMC14/Megaphone/RMCMegaphoneSystem.cs
  Content.Shared/_RMC14/Megaphone/RMCMegaphoneUserComponent.cs
  Resources/Audio/_RMC14/Items/attributions.yml
  Resources/Audio/_RMC14/Items/megaphone.ogg
  Resources/Locale/en-US/_RMC14/chat/speech.ftl
  Resources/Locale/en-US/_RMC14/megaphone.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/megaphone.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/lockers.yml
  Resources/Prototypes/_RMC14/Voice/megaphone_speech_sounds.yml
  Resources/Prototypes/_RMC14/Voice/speech_verbs.yml
  Resources/Textures/_RMC14/Objects/Tools/megaphone.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tools/megaphone.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tools/megaphone.rsi/megaphone.png
  Resources/Textures/_RMC14/Objects/Tools/megaphone.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M, Changes: Audio

#6688 Tunnel live update
  Content.Client/_RMC14/Xenonids/Construction/Tunnel/SelectDestinationTunnelBui.cs
  Content.Client/_RMC14/Xenonids/Construction/Tunnel/SelectDestinationTunnelWindow.xaml.cs
  Content.Server/_RMC14/TacticalMap/TacticalMapSystem.cs
  Content.Shared/_RMC14/TacticalMap/TunnelUIUserComponent.cs
  Content.Shared/_RMC14/Xenonids/Construction/Tunnel/XenoTunnelSystem.cs
Labels: S: Needs Review, Changes: UI, size/S

#6903 just some minor fixes
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/synthetic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/closets.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6814 tacmap tactical
  Content.Client/_RMC14/TacticalMap/LabelTextDialog.xaml
  Content.Client/_RMC14/TacticalMap/LabelTextDialog.xaml.cs
  Content.Client/_RMC14/TacticalMap/TacticalMapComputerBui.cs
  Content.Client/_RMC14/TacticalMap/TacticalMapControl.xaml.cs
  Content.Client/_RMC14/TacticalMap/TacticalMapSystem.cs
  Content.Client/_RMC14/TacticalMap/TacticalMapUserBui.cs
  Content.Client/_RMC14/TacticalMap/TacticalMapWindow.xaml
  Content.Client/_RMC14/TacticalMap/TacticalMapWrapper.xaml
  Content.Client/_RMC14/TacticalMap/TacticalMapWrapper.xaml.cs
  Content.Client/_RMC14/Xenonids/Construction/Tunnel/SelectDestinationTunnelWindow.xaml
  Content.Server/_RMC14/TacticalMap/TacticalMapSystem.cs
  Content.Shared/_RMC14/TacticalMap/TacticalMapComponent.cs
  Content.Shared/_RMC14/TacticalMap/TacticalMapComputerUi.cs
  Content.Shared/_RMC14/TacticalMap/TacticalMapLabelsComponent.cs
  Resources/Locale/en-US/_RMC14/tacmap/tacmap.ftl
Labels: S: Needs Review, Changes: UI, S: Untriaged, size/L

#6684 Makes corpo survivors rank up from their own playtime, instead of liaison playtime.
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/corporate_survivor.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#7002 YML linter fix
  Resources/Prototypes/_RMC14/Reagents/medicine.yml
  Resources/Prototypes/_RMC14/Reagents/narcotics.yml
  Resources/Prototypes/_RMC14/Reagents/toxins.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#7003 StatusEffectSeeingRainbow
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Reagents/medicine.yml
  Resources/Prototypes/_RMC14/Reagents/narcotics.yml
  Resources/Prototypes/_RMC14/Reagents/toxins.yml
Labels: S: Needs Review, Changes: No C#, size/S

#7013 Hive tracker fix
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml.cs
  Content.Shared/Alert/AlertsSystem.cs
Labels: S: Needs Review, Changes: UI, High Priority, size/XS

#7010 Parity lighting colours
  Resources/Prototypes/_RMC14/Entities/Objects/Power/light_bulb.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Power/light_tube.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Lighting/lighting.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#7014 Prevent hitting yourself with tail stab
  Content.Shared/_RMC14/Xenonids/Stab/SharedXenoTailStabSystem.cs
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7012 Survivor fixes 23523523
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/commander_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/cosmos_exploration_corps.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/civilian_survivor.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#7004 fix alert?
  Resources/Prototypes/Alerts/alerts.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#7016 Flamethrowers now ignite the tile that blocks their fire spray
  Content.Shared/_RMC14/Line/LineSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/Flamer/SharedRMCFlamerSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7015 Show transfer direction when examining reagent tanks.
  Content.Shared/_RMC14/Chemistry/RMCToggleableSolutionTransferComponent.cs
  Content.Shared/_RMC14/Chemistry/SharedRMCChemistrySystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6983 FN FP9000 and MP5A5 / Fixes to Mar50-HG3712-Type23
  Resources/Prototypes/_RMC14/Entities/Markers/Spawners/Random/guns.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/rail_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/LMGs/mar50.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/fp9000.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/mp5alt_smg.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/hg3712.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/type23.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/fp9000.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/fp9000.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/fp9000.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/mp5_stock-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/mp5_stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/mp5_stock_a-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/mp5_stock_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000pmc.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000pmc.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000pmc.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000pmc.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000pmc.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000pmc.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000pmc.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000pmc.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/fp9000pmc.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mp5alt.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mp5alt.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mp5alt.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mp5alt.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mp5alt.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mp5alt.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mp5alt.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mp5alt.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mp5alt.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mp5alt.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/M

#7006 Upstream merge EmoteSoundsPrototype
  Content.Shared/Chat/Prototypes/EmoteSoundsPrototype.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#7028 Make the flare gun only accept unused flares
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#7025 Folded keffiyehs no longer make you bald
  Resources/Prototypes/_RMC14/Entities/Clothing/Masks/masks.yml
Labels: S: Needs Review, Low Priority, Parity, size/XS, Changes: No C#

#7029 Fix the disarm sound effect not playing #2
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#7074 Adds cooldown to xeno emotes
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: S: Needs Review, Changes: No C#

#7089 Remove 'case' from xeno chatsan
  Resources/Locale/en-US/_RMC14/cm-chatsan.ftl
  Resources/Prototypes/_RMC14/Accents/cm_word_replacements.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#7066 xen order construction fix
  Content.Client/_RMC14/Xenonids/Construction/XenoChooseStructureSystem.cs
  Content.Client/_RMC14/Xenonids/Construction/XenoConstructionGhostSystem.cs
  Content.Client/_RMC14/Xenonids/Construction/XenoOrderConstructionBui.cs
  Content.Shared/_RMC14/Xenonids/Construction/Events/XenoOrderConstructionCancelEvent .cs
  Content.Shared/_RMC14/Xenonids/Construction/Events/XenoOrderConstructionClickEvent.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
Labels: S: Needs Review, S: Untriaged, size/M

#6820 Freelancer Fixes
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/explosive_pouch.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Freelancers/leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Freelancers/medic.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Freelancers/standard.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/Other/freelancer.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/M

#7030 Let admin ghost see a live tacmap
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#7032 Shotgun choke fix
  Content.Shared/_RMC14/Attachable/Systems/AttachableModifiersSystem.Ranged.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/barrel_attachments.yml
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS

#7024 New pistol mag visuals
  Content.Shared/_RMC14/Weapons/Ranged/Magazine/RMCMagazineSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/Magazine/RMCMagazineVisualsComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m79_grenade_launcher.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/b92fs.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/holdout_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/hummingbird.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m1984_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m77_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m82f.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/mk45_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/mk80_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/np92_pistol.yml.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/peregrine_handcannon.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/t73_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/m44_revolver.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/mateba.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/rs9.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/spearhead.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/zhnk72.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/cm_base_gun.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/b92fs.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/b92fs.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/b92fs.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/b92fs.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#6956 Add scientist surv gear and fixes
  Content.Server/Fluids/EntitySystems/SmokeSystem.cs
  Content.Shared/_RMC14/Intel/Detector/IntelDetectorSystem.cs
  Content.Shared/_RMC14/MotionDetector/MotionDetectorSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Resources/Audio/_RMC14/Effects/attributions.yml
  Resources/Audio/_RMC14/Effects/meteorimpact.ogg
  Resources/Prototypes/_RMC14/Damage/marine_modifier_sets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/Electronics/triggers.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/chem_grenades.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/engineering.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/foamed_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/Weapons/custom_grenade.yml
  Resources/Prototypes/_RMC14/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/cosmos_exploration_corps.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/scientist_survivor.yml
  Resources/Textures/_RMC14/Effects/transparent_smoke.rsi/meta.json
  Resources/Textures/_RMC14/Effects/transparent_smoke.rsi/smoke.png
  Resources/Textures/_RMC14/Effects/transparent_smoke.rsi/smoke2.png
  Resources/Textures/_RMC14/Objects/Devices/timer.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Devices/timer.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Devices/timer.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Devices/timer.rsi/timer.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/custom_grenade.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/custom_grenade.rsi/locked.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/custom_grenade.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/custom_grenade.rsi/primed.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/custom_grenade.rsi/unfinished.png
  Resources/migration.yml
Labels: Changes: Sprites, S: Needs Review, Parity, size/M, Changes: Audio

#7022 Overwatch console UI update
  Content.Client/_RMC14/Overwatch/OverwatchConsoleBui.cs
  Content.Client/_RMC14/Overwatch/OverwatchConsoleWindow.xaml
  Content.Client/_RMC14/Overwatch/OverwatchSquadView.xaml
  Content.Client/_RMC14/Overwatch/OverwatchSquadView.xaml.cs
  Content.Client/_RMC14/Overwatch/OverwatchTextInputWindow.xaml
  Content.Shared/_RMC14/Overwatch/OverwatchConsoleUI.cs
  Content.Shared/_RMC14/Overwatch/SharedOverwatchConsoleSystem.cs
  Resources/Locale/en-US/_RMC14/overwatch/overwatch.ftl
Labels: S: Needs Review, Changes: UI, Low Priority, Parity, size/M

#6399 Add animation when resisting fire/stop dropping and rolling
  Content.Client/_RMC14/Atmos/RMCFlammableSystem.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Shared/_RMC14/Atmos/RMCStopDropRollVisualsComponent.cs
  Content.Shared/_RMC14/Atmos/RMCStopDropRollVisualsNetworkEvent.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
Labels: S: Needs Review, S: Untriaged, S: Awaiting Changes, size/M

#7047 Unhardcode playtime medals
  Content.Server/_RMC14/Medal/PlaytimeMedalSystem.cs
  Content.Shared/_RMC14/Marines/Roles/JobPrototype.cs
  Content.Shared/_RMC14/Medal/RMCPlaytimeMedalType.cs
  Content.Shared/_RMC14/Ribbon/RibbonComponent.cs
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/clf_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/cmb_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/free_press_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/we-ya_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/correspondent.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/beachbum.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/cargo_technician_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/icb_liaison_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/medical_technician_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/technician_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/un_peacekeeper_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/armed_police_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/army_reservist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/civilian.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/cosmos_exploration_corps.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/fire_protection_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/infrastructure_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/miner.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/reactor_technician.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/civilian_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/colony_synth.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/corporate_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/doctor_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/engineer_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/miner_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/priest_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/scientist_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/security_survivor.yml
  Resources/Prototypes/_RMC14/Roles/cm_jobs_base.yml
Labels: S: Needs Review, S: Untriaged, size/M

#7048 Allow botany spades to fill tunnels
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/botany_tools.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7051 Adds form submission and sign tags
  Content.Client/Paper/UI/PaperBoundUserInterface.cs
  Content.Client/Paper/UI/PaperWindow.xaml
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Client/UserInterface/RichText/FormTagHandler.cs
  Content.Client/UserInterface/RichText/SignatureTagHandler.cs
  Content.Shared/Paper/PaperComponent.cs
  Content.Shared/Paper/PaperSystem.cs
  Resources/Locale/en-US/paper/paper-component.ftl
Labels: S: Needs Review, Changes: UI, S: Untriaged

#7071 Make plastic explosives and breaching charges require engineer skill
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Explosives/breaching_charge.yml
Labels: S: Needs Review, Parity, size/XS, Changes: No C#

#7054 Fix liaison gear, make weya headsets use the correct sprite
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/distress_headsets.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/liaison.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/We-Ya/corporate.yml
Labels: S: Needs Review, Parity, Changes: No C#, size/S

#7061 Gun fixes + Gun sound update 2
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_cmb_2.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_cmb_rattle.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_kt42.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Reload/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Reload/gun_44mag_open_chamber.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Reload/gun_44mag_speed_loader.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Reload/gun_m16_reload.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Reload/gun_m16_unload.ogg
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/LMGs/base_lmg.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/base_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/mk45_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/base_revolver.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/spearhead.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/base_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m16_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/xm88_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/cm_base_gun.yml
  Resources/Prototypes/_RMC14/SoundCollections/gunshots.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S, Changes: Audio

#7063 CMB Deputy ID cards + fixes
  Resources/Locale/en-US/_RMC14/job/bureau.ftl
  Resources/Prototypes/_RMC14/Entities/Markers/Spawners/Corpses/civilians.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Corpses/civilians.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_id_other.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/rmc_id_cmb.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CMB/bureau_deputy.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CMB/bureau_marshal.yml
  Resources/Textures/_RMC14/Objects/CMIDs/cmb_deputy.png
  Resources/Textures/_RMC14/Objects/CMIDs/cmb_deputy.rsi/default-inhand-left.png
  Resources/Textures/_RMC14/Objects/CMIDs/cmb_deputy.rsi/default-inhand-right.png
  Resources/Textures/_RMC14/Objects/CMIDs/cmb_deputy.rsi/equipped-IDCARD.png
  Resources/Textures/_RMC14/Objects/CMIDs/cmb_deputy.rsi/icon.png
  Resources/Textures/_RMC14/Objects/CMIDs/cmb_deputy.rsi/meta.json
  Resources/Textures/_RMC14/Objects/CMIDs/cmb_marshal.png
  Resources/Textures/_RMC14/Objects/CMIDs/cmb_marshal.rsi/default-inhand-left.png
  Resources/Textures/_RMC14/Objects/CMIDs/cmb_marshal.rsi/default-inhand-right.png
  Resources/Textures/_RMC14/Objects/CMIDs/cmb_marshal.rsi/equipped-IDCARD.png
  Resources/Textures/_RMC14/Objects/CMIDs/cmb_marshal.rsi/icon.png
  Resources/Textures/_RMC14/Objects/CMIDs/cmb_marshal.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#

#7065 Airlock assembly fix
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Airlocks/assembly.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#7046 Kutjevo Update
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Entities/Markers/Spawners/Random/guns.yml
  Resources/Prototypes/_RMC14/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_id_other.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/rmc_id_spp.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m3717.yml
  Resources/Prototypes/_RMC14/Entities/Structures/prop_vehicles.yml
  Resources/Prototypes/_RMC14/Entities/Structures/prop_vehicles2.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CMB/bureau_deputy.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CMB/bureau_marshal.yml
  Resources/Textures/_RMC14/Objects/CMIDs/corporate_liaison.png
  Resources/Textures/_RMC14/Objects/CMIDs/silver_id.rsi/corporate_liaison.png
  Resources/Textures/_RMC14/Objects/CMIDs/silver_id.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m3717/m3717_icon.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m3717/m3717_icon.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m3717/m3717_icon.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m3717/m3717_inhands.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m3717/m3717_inhands.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m3717/m3717_inhands.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m3717/m3717_inhands.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m3717/m3717_inhands.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m3717/m3717_inhands.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m3717/m3717_inhands.rsi/wielded-inhand-right.png
  Resources/migration.yml
Labels: Changes: Sprites, S: Needs Review, S: Merge Conflict, Changes: Map, Changes: No C#, size/XL

#7080 Money stack fix
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/spacecash.yml
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash.png
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash_10.png
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash_100.png
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash_1000.png
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash_20.png
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash_200.png
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash_50.png
  Resources/Textures/_RMC14/Objects/Misc/spacecash.rsi/spacecash_500.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6938 Adds civilian loadouts
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/_RMC14/Marines/Roles/JobPrototype.cs
  Resources/Locale/en-US/_RMC14/roles/loadouts.ftl
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/base_forecon.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/commander.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/beachbum.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/cargo_technician_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/commander_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/icb_liaison_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/medical_technician_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/new_varadero_researcher.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/technician_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/un_peacekeeper_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/armed_police_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/army_reservist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/civilian.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/cosmos_exploration_corps.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/fire_protection_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/infrastructure_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/reactor_technician.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/civilian_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/colony_synth.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/corporate_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/doctor_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/engineer_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/miner_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/priest_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/scientist_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/security_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/survivor_co.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/RoleSpecific/synthetic.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/civilian.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/eyewear.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/headwear.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/masks.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/plushies.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/role_loadouts.yml
Labels: S: Needs Review, Parity, size/S

#6290 ARES: Automatic appointment of acting Commander
  Content.Server/_RMC14/Roles/MarineCommandOverrideSystem.cs
  Content.Shared/_RMC14/Marines/Roles/JobPrototype.cs
  Content.Shared/_RMC14/Marines/Roles/Ranks/SharedRankSystem.cs
  Content.Shared/_RMC14/Marines/Squads/SquadSystem.cs
  Resources/Locale/en-US/_RMC14/roles/marine-command-override.ftl
  Resources/Prototypes/_RMC14/Datasets/rank_hierarchy.yml
  Resources/Prototypes/_RMC14/Datasets/squad_hierarchy.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/wall_lockers.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/gunship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/chief_military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/military_warden.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/quartermaster.yml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/RMCCommandChain.xml
Labels: S: Needs Review, S: Merge Conflict, S: Untriaged, size/M

#7092 fix m5-atl attachment offset
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m5_atl_rocket_launcher.yml
Labels: S: Untriaged, size/XS, Changes: No C#

#7101 Fix crash land audio playing twice
  Content.Shared/_RMC14/CrashLand/SharedCrashLandSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#7102 Fix throwing stuff into the disposal bin
  Resources/Prototypes/_RMC14/Entities/Structures/Piping/Disposal/disposal_unit.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7097 Prevent parasites from leaping, or being thrown, through doors.
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteThrowerSystem.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#7096 Fix world target events not having a target entity
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: S: Needs Review, High Priority, S: Untriaged, size/S

#7103 Fix Ship Security Camera Console's draw depth
  Resources/Prototypes/_RMC14/Entities/Structures/Wallmounts/surveillance_camera.yml
Labels: S: Needs Review, Low Priority, Changes: No C#

#7095 Make security helmet have armor
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/security.yml
Labels: S: Needs Review, Changes: No C#

#7099 figurines
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/kamiel_lancoaster.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/soft-paws_liona.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/valerie_hawkins.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#7108 fix
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/inhand-left-flame.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/inhand-right-flame.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tools/Lighters/execzippo.rsi/inhand-left-flame.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/execzippo.rsi/inhand-right-flame.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/execzippo.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tools/Lighters/goldzippo.rsi/inhand-left-flame.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/goldzippo.rsi/inhand-right-flame.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/goldzippo.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tools/Lighters/zippo.rsi/inhand-left-flame.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/zippo.rsi/inhand-right-flame.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/zippo.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#

#7107 Fix being buckled preventing you from falling to the planet
  Content.Shared/_RMC14/Buckle/RMCBuckleSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7111 Fix not being able to take uniform accessories from armor if theres more than 1
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#7112 Fix CT tesla in vendor
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7115 Make starting uniform accessories only spawn on the server
  Content.Shared/_RMC14/UniformAccessories/SharedUniformAccessorySystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#7117 Fix accesibility option not showing up
  Content.Client/Options/UI/OptionsMenu.xaml.cs
Labels: Changes: UI, Changes: Map, size/XL

#7118 Fix OW ui
  Content.Client/_RMC14/Overwatch/OverwatchSquadView.xaml.cs
  Resources/Locale/en-US/_RMC14/overwatch/overwatch.ftl
Labels: S: Needs Review, Changes: UI

#7119 Fix some roles not starting with a defib
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/Containers/ContainerFillSystem.cs
  Content.Shared/Item/SharedItemSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/_RMC14/Medical/Refill/CMRefillableSolutionSystem.cs
  Content.Shared/_RMC14/Power/SharedRMCPowerSystem.cs
  Content.Shared/_RMC14/Rules/CMDistressSignalRuleComponent.cs
  Resources/Changelog/RMC14.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Clothing/belt.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/gun_cases.yml
Labels: S: Needs Review, S: Untriaged, size/M

#7120 Some survivor fixes
  Content.Shared/_RMC14/Survivor/SurvivorSystem.cs
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/cosmos_exploration_corps.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/infrastructure_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/reactor_technician.yml
Labels: S: Needs Review, High Priority, S: Untriaged, size/S

#7121 Fix some xeno actions being permanently disabled at 0 charges
  Content.Shared/_RMC14/Stun/RMCDazedSystem.cs
Labels: S: Needs Review, size/XS

#7122 Fix survivors spawning with medkits in their bag if they don't have the skill for it
  Content.Shared/_RMC14/Storage/RMCStorageSystem.cs
  Content.Shared/_RMC14/Survivor/SurvivorSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#7124 Fix leaps being blocked by weeds
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
Labels: S: Needs Review, High Priority, URGENT, S: Untriaged, size/XS

#7127 pvs strikes again
  Content.Client/_RMC14/Xenonids/Construction/XenoConstructionGhostSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#7131 Fix burrowers not being able to burrow to location
  Content.Shared/_RMC14/Xenonids/Burrow/SharedXenoBurrowSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7130 Fix xeno tailstab not being 2.5 range
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7139 Fix forecon not spawning with medals
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/base_forecon.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7151 Dropship Access fix
  Resources/Prototypes/_RMC14/Access/Groups/marine_access_groups.yml
  Resources/Prototypes/_RMC14/Access/Groups/we_ya_access_groups.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/pilot.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/rmc_communications_console.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/shuttle_console.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#7169 Fix chatsan typos
  Resources/Locale/en-US/_RMC14/cm-chatsan.ftl
  Resources/Prototypes/_RMC14/Accents/cm_word_replacements.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#7153 fix WW belt fills and fire in sky
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/peregrine_handcannon.yml
Labels: S: Needs Review, Changes: No C#

#7164 Fix Executive supervisor paygrade being incorrect
  Resources/Prototypes/_RMC14/Roles/Ranks/We-Ya/corporate.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#7156 fix plating friction
  Resources/Prototypes/_RMC14/Tiles/Almayer/almayer.yml
  Resources/Prototypes/_RMC14/Tiles/Prison/prison.yml
  Resources/Prototypes/_RMC14/Tiles/plating_tiles.yml
Labels: S: Needs Review, URGENT, S: Untriaged, Changes: No C#, size/S

#7158 remove dupe shotgun
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/M3714.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/M3714stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/M3714.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/M3714.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/M3714.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/M3714.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/M3714.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/M3714.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/M3714.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/M3714.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/M3714.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#7161 Fix thunderdome being unpowered
  Resources/Maps/_RMC14/thunderdome.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#, size/M

#7125 Returns Plushies to the people
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/civilian.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/plushies.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/role_loadouts.yml
Labels: S: Needs Review, Changes: No C#

#7205 Fix shotgun accuracy values
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/base_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m357_sawn_off_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m357_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/mou53_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/pump_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/xm38_shotgun.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#7204 Signal flares get renamed to their CAS identifier
  Content.Shared/_RMC14/Dropship/Weapon/SharedDropshipWeaponSystem.cs
  Resources/Locale/en-US/_RMC14/rangefinder/rmc-rangefinder.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#7181 LV-624 Surv fixes + headset fixes
  Resources/Locale/en-US/_RMC14/job/survivor.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/distress_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_rifle.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Base_Survs/cmb_deputy_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/LV624/cargo_technician_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/LV624/corporate_liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Multi_Map/goon_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/new_varadero_researcher.yml
Labels: S: Needs Review, Changes: No C#, size/S

#7200 fix new varadero plating
  Resources/Prototypes/_RMC14/Tiles/asteroid.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7175 sorokyne survivor rank fixes
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/cosmos_exploration_corps.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Sorokyne_Strata/liaison.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#7178 Fix flamer examine not wokring
  Content.Shared/_RMC14/Chemistry/SharedRMCChemistrySystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#7177 Reagent scanner name description fix
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#7208 Soro update fixes 4
  Content.Server/_RMC14/Roles/MarineCommandOverrideSystem.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Chemistry/Effects/RMCChemicalEffect.cs
  Resources/ConfigPresets/Build/development.toml
Labels: S: Needs Review, S: Untriaged, size/S

#7062 Make 175 hour DCC rank Warrant Officer
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#7246 Department SOP for Dropship/Gunship + minor improvements
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawArresting.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawCOProvisions.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawDefinitions.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawRanks.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/RMCOverview.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPDepartment.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPGeneral.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPNONModDeployment.xml
Labels: S: Needs Review, Changes: No C#, size/S

#7329 Renames USCM to UNMC in several places
  Resources/Locale/en-US/_RMC14/lore-examine/lore-examinable.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bodybags.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/GunRacks/misc.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/GunRacks/shotguns.yml
Labels: S: Untriaged, Changes: No C#

#7275 Fix spp army armour
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/spp.yml
Labels: S: Untriaged, size/XS, Changes: No C#

#7262 ASO access and skill parity
  Resources/Prototypes/_RMC14/Access/Groups/auxiliary_support_access_groups.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7266 Diona typing indicator
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/diona.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#
