Repository RMC-14/RMC-14, pull requests merged in 2025-10, with the labels that each got.

#7750 Guidebook updates and MP guide
  Resources/Locale/en-US/guidebook/guidebook.ftl
  Resources/Prototypes/_RMC14/Actions/Marines/marine_smartgun_actions.yml
  Resources/Prototypes/_RMC14/Guidebook/rmc_guidebook.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/chief_military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/military_warden.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Provost/provost_marshal.yml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleMilitaryPolice.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleSGO.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCMedical.xml
  Resources/Textures/_RMC14/Markers/cm_jobs.rsi/chief_military_police.png
  Resources/Textures/_RMC14/Markers/cm_jobs.rsi/hospital_corpsman.png
  Resources/Textures/_RMC14/Markers/cm_jobs.rsi/meta.json
  Resources/Textures/_RMC14/Markers/cm_jobs.rsi/military_police.png
  Resources/Textures/_RMC14/Markers/cm_jobs.rsi/provost_marshal.png
  Resources/Textures/_RMC14/Markers/cm_jobs.rsi/warden.png
Labels: Changes: Sprites, S: Needs Review, Issue: Feature Request, Low Priority, Changes: No C#, size/M

#7948 Panic Room Hold (No survivor spawners)
  Resources/Maps/_RMC14/Inserts/Fiorina/podholder.yml
  Resources/Maps/_RMC14/Inserts/Shiva/panic_room_hold.yml
  Resources/Prototypes/_RMC14/Entities/Markers/Inserts/fiorina.yml
  Resources/Prototypes/_RMC14/Entities/Markers/Inserts/shiva.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#, size/L

#7951 SSV Deyneka
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_RMC14/ssv_deyneka.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Lockers/spp.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_deyneka.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/pve_cases.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Lighting/lighting.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/GunRacks/shotguns.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/closets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/lockers.yml
  Resources/Prototypes/_RMC14/Maps/ssv_deyneka.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/squad_lead.yml
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/aicore.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/armory.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/bridge.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/cargo.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/cryo.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/dorm.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/engi.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/hanger.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/kitchen.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/lowerhall.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/med.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/meta.json
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/oob.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/upperhall.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_64.rsi/base.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_64.rsi/gun.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_64.rsi/lid_closed.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_64.rsi/lid_open.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_64.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_88.rsi/base.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_88.rsi/gun.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_88.rsi/lid_closed.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_88.rsi/lid_open.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_88.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/modular_boxes.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/modular_boxes.rsi/pistol_box_73.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/modular_boxes.rsi/pistol_box_92.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/modular_boxes.rsi/rifle_box_88.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/modular_boxes.rsi/smg_box_64.png
Labels: Changes: Sprites, S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#, size/XL

#8039 figurines
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/hazel_skyfall_singh.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/john_rook_weller.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/minji_failsafe_kilgrim.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/roxanne_floppy_ears_dreams.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/silas_alatus.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/thrukia_longbow.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#7930 fix some storage oversights
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7929 Logistics Officer
  Resources/Locale/en-US/_RMC14/chat/highlights.ftl
  Resources/Locale/en-US/_RMC14/job/auxiliarysupport.ftl
  Resources/Locale/en-US/_RMC14/job/job-supervisors.ftl
  Resources/Locale/en-US/_RMC14/job/requisitions.ftl
  Resources/Locale/en-US/_RMC14/paper/stamp-component.ftl
  Resources/Locale/en-US/_RMC14/squad-info.ftl
  Resources/Prototypes/_RMC14/Access/Groups/auxiliary_support_access_groups.yml
  Resources/Prototypes/_RMC14/Access/Groups/command_access_group.yml
  Resources/Prototypes/_RMC14/Access/Groups/requisition_access_groups.yml
  Resources/Prototypes/_RMC14/Entities/Areas/savannah.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/faction_hats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/EncryptionKeys/ship.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_id_requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/stamps.yml
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Airlocks/accesses-command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/lockers.yml
  Resources/Prototypes/_RMC14/Entities/Structures/req_sign.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/gunship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/chief_military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/correspondent.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/synth.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/quartermaster.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/base_forecon.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/recon_synth.yml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideCommandRoles.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideMarineCommunications.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideRoleSGO.xml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCRequisitions.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawDefinitions.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/RMCOverview.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/RMCCommandChain.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPDepartment.xml
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_ct.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_ro.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/meta.json
  Resources/Textures/_RMC14/Interface/marine_hud.rsi/hudsquad_ct.png
  Resources/Textures/_RMC14/Interface/marine_hud.rsi/hudsquad_ro.png
  Resources/Textures/_RMC14/Interface/marine_hud.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#6806 Updated the requisitions section of the guidebook
  Resources/Prototypes/_RMC14/Entities/Objects/RMCreqguide/reqguidesymbols.yml
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCRequisitions.xml
  Resources/Textures/_RMC14/Objects/RMCreqguide/ASRSinterface.rsi/ASRSinterface.png
  Resources/Textures/_RMC14/Objects/RMCreqguide/ASRSinterface.rsi/meta.json
  Resources/Textures/_RMC14/Objects/RMCreqguide/linejpg.rsi/line.png
  Resources/Textures/_RMC14/Objects/RMCreqguide/linejpg.rsi/meta.json
  Resources/Textures/_RMC14/Objects/RMCreqguide/padsjpg.rsi/meta.json
  Resources/Textures/_RMC14/Objects/RMCreqguide/padsjpg.rsi/pads.png
  Resources/Textures/_RMC14/Objects/RMCreqguide/reqguidesymbols.rsi/invoiceapproved.png
  Resources/Textures/_RMC14/Objects/RMCreqguide/reqguidesymbols.rsi/invoiceblank.png
  Resources/Textures/_RMC14/Objects/RMCreqguide/reqguidesymbols.rsi/logistics officer.png
  Resources/Textures/_RMC14/Objects/RMCreqguide/reqguidesymbols.rsi/meta.json
  Resources/Textures/_RMC14/Objects/RMCreqguide/reqguidesymbols.rsi/pitlowerd.png
  Resources/Textures/_RMC14/Objects/RMCreqguide/reqguidesymbols.rsi/pitrased.png
  Resources/Textures/_RMC14/Objects/RMCreqguide/reqguidesymbols.rsi/stamp.png
  Resources/Textures/_RMC14/Objects/RMCreqguide/reqguidesymbols.rsi/tech.png
Labels: Changes: Sprites, S: Needs Review, S: Merge Conflict, Changes: No C#, size/M

#8044 Add police forms and also a Police locker containing them
  Resources/Locale/en-US/_RMC14/rmc-paper.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/prewritten_papers.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/paperwork_locker.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/M

#8012 Parasite watcher strain
  Content.Shared/_RMC14/Xenonids/Zoom/XenoZoomComponent.cs
  Content.Shared/_RMC14/Xenonids/Zoom/XenoZoomSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-strains.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
Labels: S: Needs Review, S: Untriaged, size/S

#7972 Bed and Chairs to RMC Construction
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_RMC14/Recipes/Materials/metal.yml
Labels: S: Needs Review, Low Priority, Changes: No C#, size/S

#7909 Adds Shio Royals (WEYA Cigars)
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/case.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/cigar.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/portable_vendor.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/smokables.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royal_box.rsi/cig1.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royal_box.rsi/cig2.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royal_box.rsi/cig3.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royal_box.rsi/cig4.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royal_box.rsi/cig5.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royal_box.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royal_box.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royal_box.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royal_box.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royal_box.rsi/open.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royals.rsi/burnt-icon.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royals.rsi/lit-icon.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royals.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royals.rsi/unlit-icon.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royals_tube.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royals_tube.rsi/shioroyalstube.png
  Resources/Textures/_RMC14/Objects/Consumable/Smokeables/Cigars/shio_royals_tube.rsi/shioroyalstube_empty.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#7928 remove walter white
  Resources/IgnoredPrototypes/cm_ignoredPrototypes.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
  Resources/Prototypes/_RMC14/Reagents/elements.yml
  Resources/Prototypes/_RMC14/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_RMC14/Recipes/Reactions/narcotics.yml
Labels: S: Needs Review, Changes: No C#, size/M

#7890 Add's Knockback to Basira
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/BoltAction/hunting_rifle.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7899 Makes the gas mask camo sensitive + fix inhands
  Resources/Prototypes/_RMC14/Entities/Clothing/Masks/masks.yml
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/base.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/camo.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/equipped-MASK-avali-color.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/equipped-MASK-avali.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/equipped-MASK-color.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/equipped-MASK-feroxi-color.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/equipped-MASK-feroxi.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/equipped-MASK-reptilian-color.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/equipped-MASK-rodentia-color.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/equipped-MASK-rodentia.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/equipped-MASK-vulpkanin-color.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/inhand-right-color.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/gas.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#8048 figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/gallagin_gc_addict_caitman.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/seth_xi.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/zeth_xi.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#7991 Liaison Safe
  Resources/Prototypes/_RMC14/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/defib.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/lockers.yml
Labels: S: Needs Review, Issue: Feature Request, Low Priority, Changes: No C#, size/S

#8008 Dupe overwatch roles fix
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/UNMC/corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/UNMC/section_sergeant.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/UNMC/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/UNMC/squad_leader.yml
Labels: S: Needs Review, Issue: Bug, High Priority, S: Untriaged, Changes: No C#

#8043 Read only Comms + Nuke Prerequisites
  Content.Client/_RMC14/Intel/TechControlConsoleBui.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Shared/Radio/Components/EncryptionKeyComponent.cs
  Content.Shared/Radio/Components/EncryptionKeyHolderComponent.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/_RMC14/Communications/CommunicationsTowerStateChangedEvent.cs
  Content.Shared/_RMC14/Communications/CommunicationsTowerSystem.cs
  Content.Shared/_RMC14/Dropship/SharedDropshipSystem.cs
  Content.Shared/_RMC14/Intel/Tech/TechLogisticsDeliveryEvent.cs
  Content.Shared/_RMC14/Intel/Tech/TechOption.cs
  Content.Shared/_RMC14/Intel/Tech/TechSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/EncryptionKeys/ship.yml
  Resources/Prototypes/_RMC14/Entities/Objects/rmc_intel.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/nuclear_device.yml
  Resources/Textures/_RMC14/Structures/Machines/Nuke.rsi/activation.png
  Resources/Textures/_RMC14/Structures/Machines/Nuke.rsi/deployed.png
  Resources/Textures/_RMC14/Structures/Machines/Nuke.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/Nuke.rsi/nuke.png
  Resources/Textures/_RMC14/Structures/Machines/Nuke.rsi/timing.png
  Resources/Textures/_RMC14/Structures/Machines/Nuke.rsi/unsafe.png
Labels: Changes: Sprites, S: Needs Review, Low Priority, size/M

#7481 3 New Liaison Uniforms, 2 New Liaison Jackets, and 2 New Patches
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/patches.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/corporate_jackets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/liaison.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/corporate_liaison.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/accessories.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/civilian.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/Misc/olive_branch_patch.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/Misc/olive_branch_patch.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/Misc/olive_branch_patch.rsi/patch.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/Misc/peace_patch.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/Misc/peace_patch.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/Patches/Misc/peace_patch.rsi/patch.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_duty_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_duty_jacket.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/corporate_duty_jacket.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/logistics_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/logistics_jacket.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/Corporate/logistics_jacket.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/cargo_shorts.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/cargo_shorts.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/cargo_shorts.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/disco_uniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/disco_uniform.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/disco_uniform.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/legal_uniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/legal_uniform.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/legal_uniform.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Low Priority, Changes: No C#, size/M

#6796 Increased IO playtime reqs
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#7436 Reverts #7318, brings back 'Classic' camo
  Resources/Prototypes/_RMC14/Entities/rmc_planets.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#8031 Haurchefant + PVE PMC Update
  Resources/Prototypes/_RMC14/Catalog/Fills/Lockers/pmc.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_haurchefant.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/distress_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/pmc.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/pmc.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/veteran.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/pve_cases.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Flamethrowers/fl3_flamer.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SmartGuns/smart_gun_pve.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/sentries.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/GunRacks/rifles.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/pve.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Maps/PVE/weya_haurchefant.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/PMC/overwatch.yml
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/PMC/standard.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/PMC/standard.rsi/sleeves-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/m5spr2_barrel.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/m5spr2_barrel_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m5spr2.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m5spr2.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m5spr2.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m5spr2.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m5spr2.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m5spr2.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m5spr2.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m5spr2.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m5spr2.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m5spr2.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m5spr2.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/GunRacks/m54c2_rack.rsi/empty.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/GunRacks/m54c2_rack.rsi/fill_1.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/GunRacks/m54c2_rack.rsi/fill_2.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/GunRacks/m54c2_rack.rsi/fill_3.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/GunRacks/m54c2_rack.rsi/fill_4.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/GunRacks/m54c2_rack.rsi/fill_5.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/GunRacks/m54c2_rack.rsi/meta.json
Labels: No C#, Changes: Sprites, Low Priority, Issue: Map, Changes: No C#, size/M, PVE

#8037 S'more chem properties!
  Content.Shared/_RMC14/Chemistry/Effects/Negative/Biocidic.cs
  Content.Shared/_RMC14/Chemistry/Effects/Negative/Hypoxemic.cs
  Content.Shared/_RMC14/Chemistry/Effects/Neutral/Antihallucinogenic.cs
  Content.Shared/_RMC14/Chemistry/Effects/Positive/Anticorrosive.cs
  Content.Shared/_RMC14/Chemistry/Effects/Positive/Antitoxic.cs
  Content.Shared/_RMC14/Chemistry/Effects/Positive/Neogenetic.cs
  Content.Shared/_RMC14/Chemistry/Effects/Positive/Oxygenating.cs
  Resources/Prototypes/_RMC14/Reagents/elements.yml
  Resources/Prototypes/_RMC14/Reagents/medicine.yml
  Resources/Prototypes/_RMC14/Reagents/toxins.yml
Labels: S: Needs Review, S: Untriaged, size/M

#8052 Pride Pins are now Uniform Accessories
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/base.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/general.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/M

#7201 Chances Claim Survs - PVE
  Resources/Locale/en-US/_RMC14/job/survivor.ftl
  Resources/Locale/en-US/_RMC14/lore-examine/lore-examinable.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/civilian.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/liaison.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/atmos_scanner.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/corporate_liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Chances_Claim_PVE/administrative_clerk.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Chances_Claim_PVE/atmos_process_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Chances_Claim_PVE/cargo_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Chances_Claim_PVE/catering_technician.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Chances_Claim_PVE/chances_goon.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Chances_Claim_PVE/chances_medic.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Chances_Claim_PVE/chances_miner.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Chances_Claim_PVE/chances_trucker.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Chances_Claim_PVE/colony_maint_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Chances_Claim_PVE/environmental_researcher.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Chances_Claim_PVE/operations_supervisor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Chances_Claim_PVE/paramedic.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Chances_Claim_PVE/terraforming_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/Chances_Claim_PVE/vehicle_repairman.yml
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/ChancesClaim/brown_iconcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/ChancesClaim/brown_iconcoat.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/ChancesClaim/brown_iconcoat.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/ChancesClaim/yellow_raincoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/ChancesClaim/yellow_raincoat.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/ChancesClaim/yellow_raincoat.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/bluegrey_admin.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/bluegrey_admin.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/bluegrey_admin.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/bluegrey_admin.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/bluegrey_admin.rsi/sleeves-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/research_director.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Devices/atmos_scanner.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Devices/atmos_scanner.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Devices/atmos_scanner.rsi/working.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/L

#6833 Automatic light offset
  Content.Shared/_RMC14/Light/RMCLightOffsetComponent.cs
  Content.Shared/_RMC14/Light/RMCLightOffsetSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Lighting/lighting.yml
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_bulb.rsi/bbulb-broken.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_bulb.rsi/bbulb-burned.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_bulb.rsi/bbulb-empty.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_bulb.rsi/bbulb0.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_bulb.rsi/bbulb1.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_bulb.rsi/bulb-broken.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_bulb.rsi/bulb-burned.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_bulb.rsi/bulb-empty.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_bulb.rsi/bulb0.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_bulb.rsi/bulb1.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_bulb.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/bptube-broken.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/bptube-burned.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/bptube-empty.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/bptube0.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/bptube1.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/bslight-broken.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/bslight-burned.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/bslight-empty.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/bslight0.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/bslight1.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/btube-broken.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/btube-burned.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/btube-empty.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/btube0.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/btube1.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/ptube-broken.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/ptube-burned.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/ptube-empty.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/ptube0.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/ptube1.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/slight-broken.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/slight-burned.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/slight-empty.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/slight0.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/slight1.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/tube-broken.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/tube-burned.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/tube-empty.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/tube0.png
  Resources/Textures/_RMC14/Structures/Wallmounts/LightingOffset/light_tube.rsi/tube1.png
Labels: Changes: Sprites, S: Needs Review, Low Priority, Parity, size/M

#8054 Revert "Revert "SSV Deyneka"", or "Fixing Shit I Should've Done Before"
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_RMC14/PVE/ssv_deyneka.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Lockers/spp.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_deyneka.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/pve_cases.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/GunRacks/shotguns.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/closets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/lockers.yml
  Resources/Prototypes/_RMC14/Maps/PVE/ssv_deyneka.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/SPP/squad_lead.yml
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/aicore.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/armory.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/bridge.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/cargo.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/cryo.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/dorm.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/engi.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/hanger.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/kitchen.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/lowerhall.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/med.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/meta.json
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/oob.png
  Resources/Textures/_RMC14/Areas/areas_deyneka.rsi/upperhall.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_64.rsi/base.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_64.rsi/gun.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_64.rsi/lid_closed.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_64.rsi/lid_open.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_64.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_88.rsi/base.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_88.rsi/gun.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_88.rsi/lid_closed.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_88.rsi/lid_open.png
  Resources/Textures/_RMC14/Objects/Storage/PVE_Cases/type_88.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/modular_boxes.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/modular_boxes.rsi/pistol_box_73.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/modular_boxes.rsi/pistol_box_92.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/modular_boxes.rsi/rifle_box_88.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Boxes/modular_boxes.rsi/smg_box_64.png
Labels: Changes: Sprites, Changes: Map, S: Untriaged, size/XL

#8051 [Fix] fixes trash bins not taking damage, and disposal units taking less dmg than intended
  Resources/Prototypes/_RMC14/Entities/Structures/Piping/Disposal/disposal_unit.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Piping/Disposal/trash_bin.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#8053 Black Shoulder Holster
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/clothing.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/webbing.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/pilot.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/police.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/synthetic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/pve.yml
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_holster_black.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_holster_black.rsi/holster.png
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_holster_black.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#8055 Better round end messages
  Resources/Locale/en-US/_RMC14/game-presets/distress-signal-preset.ftl
Labels: S: Needs Review, Changes: No C#, size/S

#7986 Combat Correspondent read-only channels added
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/EncryptionKeys/ship.yml
Labels: S: Needs Review, S: Awaiting Changes, Changes: No C#, size/S

#8063 [Fix] fixes windows taking an incorrect amount of damage
  Resources/Prototypes/_RMC14/Entities/Structures/Windows/windows.yml
Labels: No C#, S: Needs Review, Issue: Bug, High Priority, S: Untriaged, Parity, Changes: No C#

#8094 Slop
  .github/workflows/labeler-rereview.yml
  .github/workflows/labeler-reviewed.yml
  Content.GitHubActions/Content.GitHubActions.csproj
  Content.GitHubActions/Program.cs
  SpaceStation14.sln
Labels: S: Untriaged, size/M
