Repository RMC-14/RMC-14, pull requests merged in 2025-06, with the labels that each got.

#6578 Fixes survivors not spawning with a fireaxe
  Content.Shared/_RMC14/Survivor/SurvivorSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6591 Two Point Sling [PVE]
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/rail_attachments.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rifle_sling/classic-desert-jungle.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rifle_sling/classic-desert-jungle.rsi/pve-sling.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rifle_sling/classic-desert-jungle.rsi/pve-sling_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rifle_sling/snow-urban.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rifle_sling/snow-urban.rsi/pve-sling.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rifle_sling/snow-urban.rsi/pve-sling_a.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#6599 fix tail seize semi-working on melee cooldown
  Content.Shared/_RMC14/Xenonids/TailSeize/XenoTailSeizeSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6580 APC Colors + Weather fixes
  Content.Server/_RMC14/Power/RMCPowerSystem.cs
  Resources/Prototypes/_RMC14/Entities/Areas/areas_chances.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_fiorina.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_kutjevo.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_shiva.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_sulaco.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_varadero.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Power/apc.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6579 Fix acid ball use delay
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/XenoSpitSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: S: Needs Review, S: Untriaged, size/XS

#6606 Fix falloff for scout bullets
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_scout_rifle.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6576 Admin fax quick fix
  Resources/Maps/_RMC14/admin_fax.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#

#6623 White Neckerchief
  Resources/Prototypes/_RMC14/Entities/Clothing/Masks/scarfs.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/masks.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Neckerchief/white.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Neckerchief/white.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Neckerchief/white.rsi/flipped-equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Neckerchief/white.rsi/flipped-equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Neckerchief/white.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Neckerchief/white.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6598 Reduce the slow and stun durations of the Warrior's fling ability, and fix the Ravager's Clothesline ability applying the wrong effect
  Content.Shared/_RMC14/Xenonids/Fling/XenoFlingComponent.cs
  Content.Shared/_RMC14/Xenonids/Fling/XenoFlingSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6566 Commander Succession - Marine law
  Resources/Locale/en-US/_RMC14/guidebook/rmc-guides.ftl
  Resources/Locale/en-US/_RMC14/job/command.ftl
  Resources/ServerInfo/Guidebook/_RMC14/Guides/RMCGuideCommandRoles.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLaw.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawDefinitions.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawSpecialProvisions.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Core/RMCCommandRoles.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/RMCOverview.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/RMCRulesRoleplay.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/RMCCommandChain.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/RMCCommandRoleplay.xml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6556 Fix lifesaver bags storing blood packs
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/lifesaver_bag.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Masks/masks.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6529 reword forecon commander
  Resources/Locale/en-US/_RMC14/job/command.ftl
  Resources/Locale/en-US/_RMC14/job/survivor.ftl
  Resources/Prototypes/_RMC14/Entities/rmc_planets.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/commander.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6540 Add unconscious status
  Content.Client/_RMC14/Deafness/DeafnessSystem.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
  Content.Shared/_RMC14/Explosion/SharedRMCExplosionSystem.cs
  Content.Shared/_RMC14/ShakeStun/StunShakeableSystem.cs
  Content.Shared/_RMC14/Stamina/RMCStaminaSystem.cs
  Content.Shared/_RMC14/StatusEffect/RMCStatusEffectSystem.cs
  Content.Shared/_RMC14/Stun/RMCKnockOutOnCollideComponent.cs
  Content.Shared/_RMC14/Stun/RMCSizeStunSystem.cs
  Content.Shared/_RMC14/Stun/RMCStunOnTriggerComponent.cs
  Content.Shared/_RMC14/Stun/RMCUnconsciousComponent.cs
  Content.Shared/_RMC14/Xenonids/Headbite/XenoHeadbiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Resources/Locale/en-US/_RMC14/shake/rmc-shake.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/_RMC14/Alerts/alerts.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m5_atl_rocket_launcher.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_RMC14/StatusEffects/deaf.yml
  Resources/Prototypes/_RMC14/StatusEffects/status_effects.yml
  Resources/Prototypes/status_effects.yml
  Resources/Textures/_RMC14/Interface/Alerts/status.rsi/meta.json
  Resources/Textures/_RMC14/Interface/Alerts/status.rsi/sleeping.png
Labels: Changes: Sprites, size/M

#6527 Reduce abduct's range by 1
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6521 FIX THERE BEING ABLE TO BE INFINITE FORECON COMMANDERS
  Resources/Prototypes/_RMC14/Entities/rmc_planets.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#6592 Added the WEYA cup.
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Drinks/weyacup.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/portable_vendor.yml
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/weyacup.rsi/base.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/weyacup.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/weyacup.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6555 Colony Synth Fixes
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/colony_synth.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6625 Prevent hive clusters being plantable on non-weedable surfaces
  Content.Shared/_RMC14/Xenonids/Construction/HiveConstructionRequiresWeedableSurfaceComponent.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_cluster.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6631 fix test
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/GunRacks/rifles.yml
Labels: S: Needs Review, High Priority, size/XS, Changes: No C#

#6546 Spec bug fix
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS

#6535 Make all FORECON marine icons visible
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/base_forecon.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/commander.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/sniper.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/squad_leader.yml
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_rifleman.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6597 Grenadier armor now provides frontal leap protection.
  Content.Shared/_RMC14/Xenonids/Leap/RMCGrantLeapProtectionComponent.cs
  Content.Shared/_RMC14/Xenonids/Leap/RMCLeapProtectionComponent.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
  Resources/Audio/_RMC14/Machines/attributions.yml
  Resources/Audio/_RMC14/Machines/bonk.ogg
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/synth.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/colony_synth.yml
Labels: S: Needs Review, Parity, size/M, Changes: Audio

#6557 Add Burrowed larva cooldown
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Xenonids/JoinXeno/JoinXenoSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-ui.ftl
Labels: S: Needs Review, Parity, size/S

#6544 Injector + Reagent Canister Tweaks
  Content.Client/_RMC14/Medical/StorageRefillContainerVisualizerSystem.cs
  Content.Shared/_RMC14/Medical/Refill/CMRefillableSolutionSystem.cs
  Content.Shared/_RMC14/Medical/Refill/ContainerFlushDoAfterEvent.cs
  Content.Shared/_RMC14/Medical/Refill/RMCPressurizedSolutionComponent.cs
  Content.Shared/_RMC14/Medical/Refill/RMCRefillSolutionFromContainerOnStoreComponent.cs
  Content.Shared/_RMC14/Medical/Refill/RMCRefillSolutionOnStoreComponent.cs
  Content.Shared/_RMC14/Medical/Refill/SolutionStorageFillableComponent.cs
  Resources/Locale/en-US/_RMC14/medical/refillable.ftl
  Resources/Locale/en-US/_RMC14/medical/rmc-autoinjectors.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/rmc_reagent_canister.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/auto_injectors.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/beaker.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Flamethrowers/m34_flamer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/medilathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/medilathe_recipes.yml
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/pressurized_reagent_canister.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/pressurized_reagent_canister.rsi/reagent.png
  Resources/Textures/_RMC14/Objects/Medical/auto_injectors.rsi/autoinjector_tag.png
  Resources/Textures/_RMC14/Objects/Medical/auto_injectors.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medical/auto_injectors.rsi/tricord.png
  Resources/Textures/_RMC14/Objects/Medical/ez_medic_auto_injector.rsi/autoinjector_tag.png
  Resources/Textures/_RMC14/Objects/Medical/ez_medic_auto_injector.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medical/medic_auto_injector.rsi/autoinjector_tag.png
  Resources/Textures/_RMC14/Objects/Medical/medic_auto_injector.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tanks/ammonia.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tanks/ammonia.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tanks/ammonia.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tanks/anesthetic.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tanks/anesthetic.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tanks/anesthetic.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tanks/hydrogen.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tanks/hydrogen.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tanks/hydrogen.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tanks/methane.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tanks/methane.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tanks/methane.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tanks/oxygen.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tanks/oxygen.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tanks/oxygen.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tanks/pacid.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tanks/pacid.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tanks/pacid.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tanks/pressurized_reagent_container.rsi/can1.png
  Resources/Textures/_RMC14/Objects/Tanks/pressurized_reagent_container.rsi/can2.png
  Resources/Textures/_RMC14/Objects/Tanks/pressurized_reagent_container.rsi/can3.png
  Resources/Textures/_RMC14/Objects/Tanks/pressurized_reagent_container.rsi/can4.png
  Resources/Textures/_RMC14/Objects/Tanks/pressurized_reagent_container.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tanks/pressurized_reagent_container.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tanks/pressurized_reagent_container.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, size/M

#6559 Mappable Tents
  Content.Client/_RMC14/Item/ItemCamouflageVisualizerSystem.cs
  Content.Shared/_RMC14/Item/ItemCamouflageLayers.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/tents.yml
  Resources/Textures/_RMC14/Objects/tents.rsi/extension_canvas.png
  Resources/Textures/_RMC14/Objects/tents.rsi/extension_frame.png
  Resources/Textures/_RMC14/Objects/tents.rsi/extension_roof.png
  Resources/Textures/_RMC14/Objects/tents.rsi/meta.json
  Resources/Textures/_RMC14/Objects/tents.rsi/standard_canvas.png
  Resources/Textures/_RMC14/Objects/tents.rsi/standard_frame.png
  Resources/Textures/_RMC14/Objects/tents.rsi/standard_roof.png
Labels: Changes: Sprites, Issue: Feature Request, Parity, size/M

#6632 Shuttle-maxing
  Resources/Maps/_RMC14/Shuttles/debug_alamo.yml
  Resources/Maps/_RMC14/Shuttles/debug_normandy.yml
  Resources/Maps/_RMC14/Shuttles/ert_pmc_shuttle.yml
  Resources/Maps/_RMC14/Shuttles/ert_response_shuttle.yml
  Resources/Maps/_RMC14/Shuttles/ert_spp_shuttle.yml
  Resources/Maps/_RMC14/Shuttles/ert_tse_shuttle.yml
  Resources/Maps/_RMC14/Shuttles/escape_pod_east.yml
  Resources/Maps/_RMC14/Shuttles/escape_pod_east_liaison.yml
  Resources/Maps/_RMC14/Shuttles/escape_pod_north.yml
  Resources/Maps/_RMC14/Shuttles/escape_pod_south.yml
  Resources/Maps/_RMC14/Shuttles/escape_pod_west.yml
  Resources/Maps/_RMC14/Shuttles/lifeboat.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/ert_machines.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/evacuation_machines.yml
Labels: Changes: Map, Parity, Changes: No C#, size/L

#6639 Fix FORECON CO spawn menu role name
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/commander.yml
Labels: S: Untriaged, Changes: No C#

#6536 Make FORECON squad names and prefixes better
  Resources/Locale/en-US/_RMC14/job/command.ftl
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/marksman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/sniper.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/support_technician.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/squads.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6569 Armylathe and prototypes for casings.
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/ordnancecasings.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/armylathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/armylathe_recipes.yml
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/80mmmortarshell.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/80mmmortarshell.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/80mmmortarwarhead.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/80mmmortarwarhead.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/84mmrockettube.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/84mmrockettube.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/84mmrocketwarhead.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/84mmrocketwarhead.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/c4plasticcasing.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/c4plasticcasing.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/m15grenadecasing.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/m15grenadecasing.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/m20minecasing.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/m20minecasing.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/m40grenadecasing.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/CustomOrdnance/m40grenadecasing.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/armylathe.rsi/armylathe.png
  Resources/Textures/_RMC14/Structures/Machines/armylathe.rsi/armylathe_n.png
  Resources/Textures/_RMC14/Structures/Machines/armylathe.rsi/armylathe_o.png
  Resources/Textures/_RMC14/Structures/Machines/armylathe.rsi/armylathe_r.png
  Resources/Textures/_RMC14/Structures/Machines/armylathe.rsi/armylathe_t.png
  Resources/Textures/_RMC14/Structures/Machines/armylathe.rsi/armylathe_u.png
  Resources/Textures/_RMC14/Structures/Machines/armylathe.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6589 OD Parity
  Resources/Prototypes/_RMC14/Reagents/medicine.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6567 Space drugs and Antidepressants
  Resources/Locale/en-US/_RMC14/medical/medicine.ftl
  Resources/Locale/en-US/_RMC14/medical/narcotics.ftl
  Resources/Locale/en-US/_RMC14/medical/toxins.ftl
  Resources/Prototypes/_RMC14/Reagents/medicine.yml
  Resources/Prototypes/_RMC14/Reagents/narcotics.yml
  Resources/Prototypes/_RMC14/Reagents/toxins.yml
  Resources/Prototypes/_RMC14/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_RMC14/Recipes/Reactions/narcotics.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6626 RMCLexorin!
  Resources/Locale/en-US/_RMC14/medical/toxins.ftl
  Resources/Prototypes/_RMC14/Reagents/medicine.yml
  Resources/Prototypes/_RMC14/Reagents/toxins.yml
  Resources/Prototypes/_RMC14/Recipes/Reactions/toxins.yml
Labels: S: Needs Review, Parity, Changes: No C#, size/S

#6487 HEFA bible and H2O
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/bible.yml
  Resources/Prototypes/_RMC14/Recipes/Reactions/other.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6604 Make weeds start with 5 HP and get 11 HP when they're done spreading
  Content.Server/_RMC14/Xenonids/Weeds/XenoWeedsSystem.cs
  Content.Shared/_RMC14/Xenonids/Weeds/XenoWeedsComponent.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6581 Russian red and Arithrazine parity damage.
  Resources/Locale/en-US/_RMC14/medical/medicine.ftl
  Resources/Locale/en-US/_RMC14/pills/pill-examine.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/firstaidkits.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/pill_canisters.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/pills.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/medilathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/medilathe_recipes.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/synthetic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
  Resources/Prototypes/_RMC14/Reagents/medicine.yml
Labels: S: Needs Review, Changes: No C#, size/M

#6624 Make colony WEYA Med and booze-o-mats start with less stock + Fix Chess-O-Mat
  Content.Shared/_RMC14/Medical/Refill/CMRefillableSolutionSystem.cs
  Content.Shared/_RMC14/Medical/Refill/CMSolutionRefillerComponent.cs
  Content.Shared/_RMC14/Vendors/CMAutomatedVendorComponent.cs
  Content.Shared/_RMC14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Locale/en-US/_RMC14/reagents/alcohol.ftl
  Resources/Locale/en-US/_RMC14/reagents/flavors.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Drinks/alcohol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Drinks/cans.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Drinks/chess_alcohol.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/food.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/medical.yml
  Resources/Prototypes/_RMC14/Flavors/flavors.yml
  Resources/Prototypes/_RMC14/Reagents/Consumable/Drink/alcohol.yml
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/blue_curacao.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/blue_curacao.rsi/inhand-LEFT.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/blue_curacao.rsi/inhand-RIGHT.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/blue_curacao.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/grenadine.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/grenadine.rsi/inhand-LEFT.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/grenadine.rsi/inhand-RIGHT.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/grenadine.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/tequila.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/tequila.rsi/inhand-LEFT.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/tequila.rsi/inhand-RIGHT.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/tequila.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/vermouth.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/vermouth.rsi/inhand-LEFT.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/vermouth.rsi/inhand-RIGHT.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/vermouth.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Parity, size/M

#6588 Add storage ejection to pill containers & nested storage
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/_RMC14/Hands/RMCHandsSystem.cs
  Content.Shared/_RMC14/Storage/RMCStorageSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/pill_canisters.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6615 Mateba burst fire. Golden Mateba rail and bslot barrel attachments.
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/barrel_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/mateba.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6642 Toxins yaml linter fix?
  Resources/Prototypes/_RMC14/Reagents/toxins.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6648 Swap medium and light armor explosion armor values
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6543 RMCKatana, M2100, HEFA Sword, and some scabbards.
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/scabbards.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/webbing.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/hefa_sword.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/katana.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/katana_sheath.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/katana_sheath.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/katana_sheath.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/katana_sheath.rsi/full-equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/katana_sheath.rsi/full-equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/katana_sheath.rsi/full-equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/katana_sheath.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/katana_sheath.rsi/sheath-katana.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/katana_sheath.rsi/sheath.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_qh20.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_qh20.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_qh20.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_qh20.rsi/full-equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_qh20.rsi/full-equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_qh20.rsi/full-equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_qh20.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_qh20.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_qh20.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_qh20.rsi/sheath-machete.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Scabbards/machete_qh20.rsi/sheath.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/M2100.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/M2100.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/M2100.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/M2100.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Melee/hefa_sword.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/hefa_sword.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/hefa_sword.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/hefa_sword.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Melee/katana.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/katana.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/katana.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/katana.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: Map, Changes: No C#, size/M

#6649 Asphyxiation to Airloss
  Resources/Prototypes/_RMC14/Reagents/medicine.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#6641 Syringe Case
  Content.Client/_RMC14/Vendors/CMAutomatedVendorBui.cs
  Content.Shared/_RMC14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/medical_kit_pouch.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/medical_pouch.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bottles.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/firstaidkits.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/syringe_case.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/medilathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/medilathe_recipes.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/medical.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
  Resources/Textures/_RMC14/Objects/Medical/syringe_case.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Medical/syringe_case.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Medical/syringe_case.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medical/syringe_case.rsi/syringe_case.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6651 Add new alcohol bottle map migrations
  Resources/migration.yml
Labels: S: Needs Review, Changes: No C#

#6593 Make Forecon require playtime requirements
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Resources/Locale/en-US/_RMC14/job/cm-role-timers.ftl
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/human_job_groups.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/marksman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/support_technician.yml
Labels: S: Needs Review, size/S

#6584 Additional Xeno Chatsan
  Resources/Locale/en-US/_RMC14/cm-chatsan.ftl
  Resources/Prototypes/_RMC14/Accents/cm_word_replacements.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6636 tunnel stuffs
  Content.Client/_RMC14/TacticalMap/TacticalMapControl.xaml.cs
  Content.Client/_RMC14/Xenonids/Construction/Tunnel/SelectDestinationTunnelBui.cs
  Content.Client/_RMC14/Xenonids/Construction/Tunnel/SelectDestinationTunnelWindow.xaml
  Content.Client/_RMC14/Xenonids/Construction/Tunnel/SelectDestinationTunnelWindow.xaml.cs
  Content.Server/_RMC14/TacticalMap/TacticalMapSystem.cs
  Content.Server/_RMC14/Xenonids/Construction/Tunnel/XenoTunnelSystem.cs
  Content.Shared/_RMC14/TacticalMap/TacticalMapAlwaysVisibleComponent .cs
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_tunnel.yml
Labels: S: Needs Review, Changes: UI, S: Untriaged, size/L

#6550 Make corporate survivor rank up from the sum of both corpo surv and corporate liaison.
  Resources/Locale/en-US/_RMC14/job/cm-role-timers.ftl
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/human_job_groups.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/corporate_survivor.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6575 Adding a max players limit to planetary maps
  Content.Shared/_RMC14/Rules/RMCPlanetMapPrototypeComponent.cs
  Content.Shared/_RMC14/Rules/RMCPlanetSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6088 Add security survivor playtime rank
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/corporate_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/security_survivor.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#6594 Add Construction System (New)
  Content.Client/Construction/UI/ConstructionMenu.xaml.cs
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
  Content.Client/_RMC14/Construction/RMCBuildChoiceControl.xaml
  Content.Client/_RMC14/Construction/RMCBuildChoiceControl.xaml.cs
  Content.Client/_RMC14/Construction/RMCConstructionBui.cs
  Content.Client/_RMC14/Construction/RMCConstructionWindow.xaml
  Content.Client/_RMC14/Construction/RMCConstructionWindow.xaml.cs
  Content.Client/_RMC14/Construction/Upgrades/RMCConstructionUpgradeBui.cs
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Shared/_RMC14/Construction/Prototypes/ConstructionPrototype.cs
  Content.Shared/_RMC14/Construction/Prototypes/RMCConstructionPrototype.cs
  Content.Shared/_RMC14/Construction/RMCConstructionBuildDoAfterEvent.cs
  Content.Shared/_RMC14/Construction/RMCConstructionItemComponent.cs
  Content.Shared/_RMC14/Construction/RMCConstructionPreventCollideComponent.cs
  Content.Shared/_RMC14/Construction/RMCConstructionSystem.cs
  Content.Shared/_RMC14/Construction/RMCConstructionUI.cs
  Resources/Locale/en-US/_RMC14/construction/rmc-construction.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/crates.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/Misc/flashlight.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/flashlight.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/furniture.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/materials.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/structures.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/utilities.yml
  Resources/Prototypes/_RMC14/Recipes/Materials/metal.yml
  Resources/Prototypes/_RMC14/Recipes/Materials/plasteel.yml
  Resources/Prototypes/_RMC14/Recipes/Materials/rods.yml
  Resources/Prototypes/_RMC14/Recipes/Materials/wood.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/combat_tech.yml
Labels: S: Needs Review, Changes: UI, Parity, size/L

#6654 FIX
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6656 Made medical skills impact CPR
  Content.Shared/_RMC14/Medical/CPR/CPRSystem.cs
  Content.Shared/_RMC14/Medical/CPR/ReceivingCPRComponent.cs
  Resources/Prototypes/_RMC14/Entities/skills.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6657 Revert "Make corporate survivor rank up from the sum of both corpo surv and corporate liaison."
  Resources/Locale/en-US/_RMC14/job/cm-role-timers.ftl
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/human_job_groups.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/corporate_survivor.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6669 Spawn job names
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Freelancers/leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Freelancers/medic.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Freelancers/standard.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Provost/provost_enforcer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Provost/provost_team_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Royal/royal_smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SOF/sof_raider.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/medic.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/sapper.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/goon.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/goon_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/gunner.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/lawyer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/lawyer_supervisor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/medic.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/site_director.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/sniper.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6676 Onigiri Recipe Fix
  Resources/Prototypes/_RMC14/Recipes/Cooking/meal_recipes.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6674 AEGIS items name fix.
  Content.Server/Administration/Commands/AegisEventCommand.cs
  Content.Shared/_RMC14/AegisEvent/AegisSharedAnnouncement.cs
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_id_other.yml
  Resources/Prototypes/_RMC14/Entities/Structures/orbital_cannon.yml
  Resources/Prototypes/_RMC14/Entities/aegisCrate.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6680 fix not being able to draw vertical lines
  Content.Client/_RMC14/TacticalMap/TacticalMapControl.xaml.cs
Labels: S: Needs Review, Changes: UI, S: Untriaged

#6681 QOL: New ChemMaster - Label Flexi Width
  Content.Client/_RMC14/Chemistry/Master/RMCChemMasterPillBottleRow.xaml
  Content.Client/_RMC14/Chemistry/Master/RMCChemMasterWindow.xaml
Labels: S: Needs Review, Changes: UI, Changes: No C#

#6682 Fix some identity popups, examine, tunnel popup spam
  Content.Server/_RMC14/TacticalMap/TacticalMapSystem.cs
  Content.Shared/DetailExaminable/DetailExaminableystem.cs
  Content.Shared/_RMC14/Damage/ObstacleSlamming/RMCObstacleSlammingSystem.cs
  Content.Shared/_RMC14/TacticalMap/SharedTacticalMapSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/Tunnel/XenoTunnelSystem.cs
Labels: S: Needs Review, S: Untriaged, size/M

#6687 Fix Queen sometimes not getting plasma regen while on weeds in ovi
  Content.Server/_RMC14/Toolshed/EntProtoIdTTypeParser.cs
  Content.Shared/_RMC14/Chemistry/ChemMaster/SharedRMCChemMasterSystem.cs
  Content.Shared/_RMC14/Xenonids/Weeds/SharedXenoWeedsSystem.cs
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6685 Normal crusher charge now instant destroys doors, racks, and lockers
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/cm_door.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/lockers.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/rack.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#6759 New Fax Responder map + Overwatch Console sprites
  Resources/Maps/_RMC14/admin_fax.yml
  Resources/Textures/_RMC14/Structures/Machines/computer.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/computer.rsi/overwatch.png
Labels: No C#, Changes: Sprites, S: Needs Review, Changes: Map, Changes: No C#, size/XL

#6782 Fix CLF headset
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/distress_headsets.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6783 Provost MP requirement fixes
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Provost/provost_enforcer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Provost/provost_team_leader.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6691 Barbed wire fixes
  Content.Server/_RMC14/Barricade/BarbedSystem.cs
  Content.Shared/_RMC14/Barricade/Components/BarbedComponent.cs
  Content.Shared/_RMC14/Barricade/SharedBarbedSystem.cs
  Resources/Audio/_RMC14/Items/attributions.yml
  Resources/Audio/_RMC14/Items/barbed_wire_movement.ogg
Labels: S: Needs Review, S: Untriaged, size/S, Changes: Audio

#6755 Fix bayonet pouch being empty in surplus and armaments vendors
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6810 Fail-maxing
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_RMC14/admin_fax.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Science/chem_master.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, size/S

#6799 Fix EZs having a doafter
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/auto_injectors.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#6732 Adds surgical case to the medilathe
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/medilathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/medilathe_recipes.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6747 Fix the bipod's scatter and slow values.
  Content.Shared/_RMC14/Attachable/Components/AttachableTemporarySpeedModsComponent.cs
  Content.Shared/_RMC14/Attachable/Systems/AttachableModifiersSystem.Ranged.cs
  Content.Shared/_RMC14/Attachable/Systems/AttachableTemporarySpeedModsSystem.cs
  Content.Shared/_RMC14/Attachable/Systems/AttachableToggleableSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6766 Fix LACN mention in MRE cig mini packs.
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/cigarettes.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6758 Synth fixes
  Content.Shared/_RMC14/Synth/SharedSynthSystem.cs
  Content.Shared/_RMC14/Synth/SynthComponent.cs
  Content.Shared/_RMC14/Xenonids/Paralyzing/XenoParalyzingSlashSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/XenoSpitSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
Labels: S: Needs Review, Parity, size/S

#6775 Allowed Syringe Cases in CMWebbing, CMWebbingBlack and CMWebbingBrown
  Resources/Prototypes/_RMC14/Entities/Clothing/webbing.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6811 [HideSpawnMenu]
  Resources/Prototypes/_RMC14/Actions/Marines/marine_action_base.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_action_base.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hive.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_base_id.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_id_other.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/rmc_id_royal.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/rmc_id_spp.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/riotammo.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/BoltAction/hunting_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/base_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/co_d50_winter_wyvern.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/holdout_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m1984_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m77_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/mk45_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/mk80_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/np92_pistol.yml.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/su6_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/t73_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/m44_revolver.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/mateba.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/rs9.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/spearhead.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/zhnk72.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/l83a2_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m16_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/type71.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/mp5_smg.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/nailgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/p90.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/shotgun_pellets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Flora/Trees/trees.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/mappings.yml
  Resources/Prototypes/_RMC14/Entities/Surgery/cm_surgeries.yml
  Resources/Prototypes/_RMC14/Entities/Surgery/cm_surgery_steps.yml
  Resources/Prototypes/_RMC14/Entities/flora.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/human_job_groups.yml
  Resources/Prototypes/_RMC14/Roles/Xeno/Departments/xeno_job_groups.yml
Labels: Changes: No C#, size/S

#6793 decrease minimum usable range by mortar, by taking from maximum range
  Content.Shared/_RMC14/Mortar/MortarComponent.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6718 Fix corporate colonist icon and headset,
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/distress_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ert_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Corpses/civilians.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/corporate_executives.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/corporate_survivor.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#6719 Adds M1984 AP to dropship crew weapon vendors
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/pilot.yml
Labels: S: Needs Review, Changes: No C#

#6717 Remove the User IFF setting in distress signal
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/Communications/CommunicationsTowerSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/IFF/GunIFFSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6716 More alcohol migrations
  Resources/migration.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6711 Fix vanguard cleave abilities not being weaker without shield
  Content.Shared/_RMC14/Shields/VanguardShieldSystem.cs
  Content.Shared/_RMC14/Xenonids/Cleave/XenoCleaveSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6704 Fixes rotations on tents and vehicles
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/tents.yml
  Resources/Prototypes/_RMC14/Entities/Structures/prop_vehicles.yml
Labels: No C#, S: Needs Review, Low Priority, size/XS, Changes: No C#

#6692 Fix fire and spray acid spamming emotes
  Content.Server/_RMC14/OnCollide/OnCollideSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6754 Increase the Combat Technician's engineering skill level
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/combat_tech.yml
Labels: S: Needs Review, Changes: No C#

#6694 Fix forecon rifleman not having medical skill
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/ForceRecon/rifleman.yml
Labels: S: Needs Review, Parity, size/XS, Changes: No C#

#6541 Various Faction Assignment Fixes
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/EncryptionKeys/ship.yml
  Resources/Prototypes/_RMC14/Factions/rmc_factions.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CLF/clf_soldier.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CMB/bureau_liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/clf_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/cmb_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/free_press_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/spp_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/tse_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Fax_Responders/we-ya_responder.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/HybrisaColony/dynagrid_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/HybrisaColony/hybrisa_civilian.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PVE/HybrisaColony/novamedica_doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/TSE/Royal/royal_smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/corporate_executives.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/pizza.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/civilian_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/colony_synth.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/corporate_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/doctor_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/engineer_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/security_survivor.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6690 fix: tesla bullet targeting
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Sentries/tesla.yml
Labels: S: Needs Review, Changes: No C#

#6672 Adds surgical webbing vests for synthetics and field doctors
  Resources/Prototypes/_RMC14/Entities/Clothing/webbing.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/synthetic.yml
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_surgical_blue.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_surgical_blue.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_surgical_blue.rsi/webbing.png
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_surgical_green.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_surgical_green.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Webbing/webbing_surgical_green.rsi/webbing.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6705 Synth support jumpsuit can now be rolled and the jacket taken off
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/standard/classic.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/synthetic_support.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/synthetic_support.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/synthetic_support.rsi/sleeveless-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Synthetic/synthetic_support.rsi/sleeves-equipped-INNERCLOTHING.png
Labels: Changes: Sprites, Changes: No C#, size/S

#6721 [Bug Fix] Fix the pills being made with the wrong pill colour selected.
  Content.Client/Chemistry/EntitySystems/PillSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6734 Fix consecutive tackle chances being too high and low tackle streak chances being too low for most castes
  Content.Shared/_RMC14/Tackle/TackleSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6745 Added INDUSTRIAL WELDER
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/civilian_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/engineer_survivor.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6706 Adds black insulated gloves
  Resources/Prototypes/_RMC14/Entities/Clothing/Hands/color.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/pilot.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/synthetic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/insulated_black.rsi/equipped-HAND.png
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/insulated_black.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/insulated_black.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6703 AEGIS OB Changes
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/aegis_crate.yml
  Resources/Textures/_RMC14/Interface/power_loader_clamps.rsi/meta.json
  Resources/Textures/_RMC14/Interface/power_loader_clamps.rsi/ob_warhead_aegis.png
  Resources/Textures/_RMC14/Interface/power_loader_clamps.rsi/ob_warhead_aegis_right.png
  Resources/Textures/_RMC14/Objects/secure_box.rsi/aegis_crate.png
  Resources/Textures/_RMC14/Objects/secure_box.rsi/aegis_crate_open.png
  Resources/Textures/_RMC14/Objects/secure_box.rsi/aegis_crate_opening.png
  Resources/Textures/_RMC14/Objects/secure_box.rsi/meta.json
  Resources/Textures/_RMC14/Structures/ob_warhead_aegis.rsi/meta.json
  Resources/Textures/_RMC14/Structures/ob_warhead_aegis.rsi/ob_warhead_aegis.png
Labels: No C#, Changes: Sprites, S: Needs Review, Low Priority, Changes: No C#, size/S

#6770 changes gunship pilot description to better match what the role is supposed to do
  Resources/Locale/en-US/_RMC14/job/auxiliarysupport.ftl
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6781 CLF Adjustments
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/LMGs/mar50.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/mar40_rifle.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CLF/clf_cell_commander.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CLF/clf_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CLF/clf_medic.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CLF/clf_soldier.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CLF/clf_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/squads.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/M

#6746 Change some corpse's loadouts
  Resources/Prototypes/_RMC14/Entities/Mobs/Corpses/civilians.yml
Labels: Parity, Changes: No C#, size/S

#6800 Fix fire immune xenos from taking fire cross damage
  Content.Shared/_RMC14/OnCollide/DamageOnCollideComponent.cs
  Content.Shared/_RMC14/OnCollide/SharedOnCollideSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_RMC14/Entities/Tiles/tile_fire.yml
Labels: S: Needs Review, S: Untriaged, size/S

#6707 Fix close queen scream stacking with far scream effects
  Content.Shared/_RMC14/Xenonids/Screech/SharedXenoScreechSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#6822 Pooled -> burrowed change
  Resources/Locale/en-US/_RMC14/xeno/xeno-surge.ftl
Labels: S: Needs Review, size/XS, Changes: No C#

#6829 Update Savannah: Better Medical, Better Prep
  Resources/Maps/_RMC14/savannah.yml
  Resources/Prototypes/_RMC14/Entities/Areas/savannah.yml
Labels: Changes: Map, S: Untriaged, Changes: No C#, size/XL

#6835 Fix synth test fails
  Content.Shared/_RMC14/Synth/SharedSynthSystem.cs
Labels: S: Needs Review, Issue: Bug, size/XS

#6724 Add Neuro hallucinations + fix process time + other fixes
  Content.Shared/_RMC14/Stamina/RMCStaminaSystem.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/NeurotoxinComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/NeurotoxinLingeringHallucinationComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
  Resources/Audio/_RMC14/Weapons/attributions.yml
  Resources/Audio/_RMC14/Weapons/dropship_sonic_boom.ogg
  Resources/Locale/en-US/_RMC14/dropship/rmc-dropship.ftl
Labels: S: Needs Review, S: Untriaged, size/M, Changes: Audio

#6816 Fixing a role spawn menu typo.
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/New_Varadero/icb_liaison_survivor.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6812 Additional soro content
  Resources/Prototypes/_RMC14/Entities/Structures/Flora/tallgrass.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/walls.yml
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_cigs.rsi/broken.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_cigs.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_cigs.rsi/normal-unshaded.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_cigs.rsi/off.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_cigs.rsi/panel.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_cola.rsi/broken.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_cola.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_cola.rsi/normal-unshaded.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_cola.rsi/off.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_cola.rsi/panel.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_snack.rsi/broken.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_snack.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_snack.rsi/normal-unshaded.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_snack.rsi/off.png
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/spp_snack.rsi/panel.png
  Resources/Textures/_RMC14/Structures/Walls/strata_jungle.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Walls/strata_jungle.rsi/strata_jungle.png
  Resources/Textures/_RMC14/Structures/Walls/strata_jungle.rsi/strata_jungle0.png
  Resources/Textures/_RMC14/Structures/Walls/strata_jungle.rsi/strata_jungle1.png
  Resources/Textures/_RMC14/Structures/Walls/strata_jungle.rsi/strata_jungle2.png
  Resources/Textures/_RMC14/Structures/Walls/strata_jungle.rsi/strata_jungle3.png
  Resources/Textures/_RMC14/Structures/Walls/strata_jungle.rsi/strata_jungle4.png
  Resources/Textures/_RMC14/Structures/Walls/strata_jungle.rsi/strata_jungle5.png
  Resources/Textures/_RMC14/Structures/Walls/strata_jungle.rsi/strata_jungle6.png
  Resources/Textures/_RMC14/Structures/Walls/strata_jungle.rsi/strata_jungle7.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_tunnel.rsi/hole.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_tunnel.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#6804 vase*
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/flower_vase.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#6837 Make CLF and the UNMC factions hostile to eachother
  Content.Shared/_RMC14/Marines/MarineComponent.cs
  Resources/Prototypes/_RMC14/Factions/rmc_factions.yml
Labels: S: Needs Review, S: Untriaged, size/XS

#6846 Savannah Map Fixes: Vendors, APCs, Areas, Shutters
  Resources/Maps/_RMC14/savannah.yml
  Resources/Prototypes/_RMC14/Entities/Areas/savannah.yml
Labels: Changes: Map, Changes: No C#, size/L

#6838 Fix roles that have leadership skill not having move/focus/hold orders
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CLF/clf_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/goon_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/site_director.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/priest_survivor.yml
Labels: S: Needs Review, Parity, size/XS, Changes: No C#

#6831 M13 pistol holster in the vendors.
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/pilot.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6762 Add RMC biosuits
  Resources/Prototypes/_RMC14/Catalog/Fills/Lockers/biohazard.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/biohoods.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/biosuits.yml
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/biohelmet.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/biohelmet.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/biohelmet.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Misc/biosuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Misc/biosuit.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Misc/biosuit.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Misc/biosuit.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Misc/biosuit.rsi/meta.json
  Resources/migration.yml
Labels: Changes: Sprites, S: Needs Review, Parity, Changes: No C#, size/S

#6825 Smokables loadout category
  Resources/Locale/en-US/_RMC14/roles/loadouts.ftl
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/smokables.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/role_loadouts.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#6702 Fixes Layer with key 'HUD' does not exist! my beloathed
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Windoors/windoor.yml
Labels: No C#, S: Needs Review, Low Priority, Changes: No C#, size/M

#6773 Dogtags are hideable
  Resources/Locale/en-US/_RMC14/foldable.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_base_id.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_dogtags_marine.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/rmc_id_royal.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/rmc_id_spp.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SOF/sof_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SOF/sof_raider.yml
  Resources/Textures/_RMC14/Objects/CMIDs/dogtags.rsi/equipped-IDCARD-hidden.png
  Resources/Textures/_RMC14/Objects/CMIDs/dogtags.rsi/equipped-NECK-hidden.png
  Resources/Textures/_RMC14/Objects/CMIDs/dogtags.rsi/meta.json
Labels: No C#, Changes: Sprites, S: Needs Review, Low Priority, Parity, Changes: No C#, size/M

#6832 Fixed DCC CWO rankup time requirement
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#6809 Pryable Asphalt, in this economy?
  Resources/Prototypes/_RMC14/Tiles/asphalt.yml
Labels: S: Needs Review, Changes: No C#, size/S

#6850 Tests fix for pill0 issue
  Content.Client/Chemistry/EntitySystems/PillSystem.cs
  Content.Shared/_RMC14/Chemistry/ChemMaster/SharedRMCChemMasterSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#6817 AGhost QoL
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_id_command.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Fun/rmc_admin_ghost.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6813 Add playtime reward CMP peaked cap, fix warden cap.
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/RoleSpecific/chief_mp.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/role_loadouts.yml
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/cap_peaked_cmp.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/cap_peaked_cmp.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/cap_peaked_cmp.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/warden.rsi/equipped-HELMET.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S
