Repository RMC-14/RMC-14, pull requests merged in 2025-02, with the labels that each got.

#5514 Add M1984 AP ammo to Rifleman vendor. Move m77 ammo from m1984 file
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m1984_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m77_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
Labels: S: Needs Review, S: Untriaged, Parity, Changes: No C#, size/S

#5513 Fix weed killer effects
  Content.Shared/_RMC14/WeedKiller/WeedKillerSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5509 Fix slows sometimes not wearing off
  Content.Shared/_RMC14/Slow/RMCSlowSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5507 Give CE their shotgun and M54C Mk2 case
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/gun_cases.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/pump_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5495 Add burrower unburrow stun
  Content.Server/_RMC14/Xenonids/Burrow/XenoBurrowSystem.cs
  Content.Shared/_RMC14/Xenonids/Burrow/XenoBurrowComponent.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5511 Add radio tuning/filter
  Content.Client/_RMC14/Radio/RMCRadioFilterBui.cs
  Content.Client/_RMC14/Radio/RMCRadioFilterWindow.xaml
  Content.Client/_RMC14/Radio/RMCRadioFilterWindow.xaml.cs
  Content.Server/_RMC14/Telephone/RMCTelephoneSystem.cs
  Content.Shared/_RMC14/Radio/RMCRadioFilterComponent.cs
  Content.Shared/_RMC14/Radio/RMCRadioFilterUI.cs
  Content.Shared/_RMC14/Radio/SharedRMCRadioFilterSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
Labels: S: Needs Review, Changes: UI, S: Untriaged, size/M

#5498 Alec plushie (god help me)
  Resources/Prototypes/_RMC14/Entities/Objects/Fun/toys.yml
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/alec_plushie.png
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5492 figurines
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/eric_rasczak.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/kamiel_lancoaster.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5500 Resin surge fixes + weed layering revert
  Content.Shared/_RMC14/Xenonids/ResinSurge/ResinSurgeReinforcableComponent.cs
  Content.Shared/_RMC14/Xenonids/ResinSurge/SharedXenoResinSurgeSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Base/base_structure.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5505 increase volume of dropship landing and startup
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Resources/Audio/_RMC14/Machines/Shuttle/engine_landing.ogg
  Resources/Audio/_RMC14/Machines/Shuttle/engine_startup.ogg
Labels: S: Untriaged, size/XS, Changes: No C#, Changes: Audio

#5510 SOP ship modifications clarification
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPGeneral.xml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5503 Add Avali laugh
  Resources/Audio/_RMC14/Voice/Avali/attributions.yml
  Resources/Audio/_RMC14/Voice/Avali/avali_laugh.ogg
  Resources/Prototypes/_RMC14/Voice/Avali/avali_emote_sounds.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S, Changes: Audio

#5522 Fixed SG Vendor Vending an Empty Belt
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/smart_gun_operator.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#5523 Make senior enlisted advisor an auxiliary support job
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/other_department.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Departments/support_department.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5517 Add selectable sounds system
  Content.Shared/_RMC14/SelectableSounds/RMCSelectableSoundsComponent.cs
  Content.Shared/_RMC14/SelectableSounds/RMCSelectableSoundsSystem.cs
  Resources/Locale/en-US/_RMC14/selectable_sounds.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Fun/misc.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5532 Give XO service peaked cap in loadout
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/executive_officer.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#5524 Add provost stamp + Admin suffix to admin stamps
  Resources/Locale/en-US/_RMC14/paper/stamp-component.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/stamps.yml
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/paper_stamp-provost.png
  Resources/Textures/_RMC14/Objects/Misc/paper.rsi/stamp-provost.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5528 Fix hypo tactical reload not working
  Content.Server/_RMC14/Medical/RMCHypospraySystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5531 fix mou53 being too loud
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_mou53.ogg
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#, Changes: Audio

#5530 Remove M54C MK1 camo
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_mk1_rifle.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5529 Some misc changes to item names and descriptions
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_mk1_rifle.yml
Labels: S: Needs Review, Changes: No C#, size/S

#5491 Instant chair deconstruction
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/furniture/seats.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5407 Accessory Scarves - Take 2
  Resources/Prototypes/_RMC14/Entities/Clothing/Masks/scarfs.yml
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/alpha.rsi/equipped-NECK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/alpha.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/alpha.rsi/flipped-equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/alpha.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/black.rsi/equipped-NECK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/black.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/black.rsi/flipped-equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/black.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/bravo.rsi/equipped-NECK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/bravo.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/bravo.rsi/flipped-equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/bravo.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/charlie.rsi/equipped-NECK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/charlie.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/charlie.rsi/flipped-equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/charlie.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/delta.rsi/equipped-NECK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/delta.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/delta.rsi/flipped-equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/delta.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/echo.rsi/equipped-NECK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/echo.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/echo.rsi/flipped-equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/echo.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/foxtrot.rsi/equipped-NECK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/foxtrot.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/foxtrot.rsi/flipped-equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/foxtrot.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/gray.rsi/equipped-NECK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/gray.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/gray.rsi/flipped-equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/gray.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/green.rsi/equipped-NECK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/green.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/green.rsi/flipped-equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/green.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/equipped-NECK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/flipped-equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/tan.rsi/equipped-NECK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/tan.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/tan.rsi/flipped-equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/tan.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/black.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/black.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/desert.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/desert.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/green.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/green.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/grey.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/grey.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/snow.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/urban.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/urban.rsi/meta.json
Labels: No C#, Changes: Sprites

#5442 You can now dig graves with e-tool (Alpha rifleman gaming)
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/etool.yml
Labels: No C#, S: Needs Review

#5512 Add radio send sound
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Audio/_RMC14/Effects/attributions.yml
  Resources/Audio/_RMC14/Effects/radiostatic.ogg
Labels: S: Needs Review, S: Untriaged, size/S, Changes: Audio

#5254 Larva reanimation
  Content.Server/_RMC14/Xenonids/Construction/XenoHiveCoreSystem.cs
  Content.Shared/_RMC14/Pulling/IgnoreBlockPullingDeadComponent.cs
  Content.Shared/_RMC14/Pulling/RMCPullingSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/larva.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_hive.yml
  Resources/Prototypes/_RMC14/tags.yml
Labels: S: Needs Review

#5535 Make rotary phones emote when ringing
  Content.Server/_RMC14/Telephone/RMCTelephoneSystem.cs
  Content.Shared/_RMC14/Telephone/RMCTelephoneRingEvent.cs
  Content.Shared/_RMC14/Telephone/SharedRMCTelephoneSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5534 Make some headsets have disabled channels by default
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/EncryptionKeys/ship.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5536 Evac string fix
  Content.Shared/_RMC14/Evacuation/SharedEvacuationSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5484 Add night vision film grain
  Resources/Textures/_RMC14/Shaders/night_vision.swsl
Labels: S: Needs Review, S: Untriaged, Changes: Shaders

#5097 UNS Savannah: Episode IV An Old Hope
  Resources/Maps/_RMC14/savannah.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_RMC14/Entities/Areas/savannah.yml
  Resources/Prototypes/_RMC14/Maps/savannah.yml
Labels: No C#, S: Needs Review, Changes: Map, Changes: No C#, size/XL

#5525 Add fistbumping and highfiving
  Content.Shared/_RMC14/Emote/RMCHandEmotesComponent.cs
  Content.Shared/_RMC14/Emote/SharedRMCEmoteSystem.cs
  Resources/Locale/en-US/_RMC14/chat/emotes.ftl
  Resources/Prototypes/_RMC14/Effects/emotes.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Textures/_RMC14/Effects/emotes.rsi/emote_fistbump.png
  Resources/Textures/_RMC14/Effects/emotes.rsi/emote_highfive.png
  Resources/Textures/_RMC14/Effects/emotes.rsi/emote_tailswipe.png
  Resources/Textures/_RMC14/Effects/emotes.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#5538 Add Queer and Autism Pins to loadout
  Resources/Locale/en-US/_RMC14/roles/loadouts.ftl
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/pins.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/role_loadouts.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#5539 Allow marine uniforms to toggle both sleeves and jacket
  Content.Shared/_RMC14/Clothing/RMCClothingFoldableComponent.cs
  Content.Shared/_RMC14/Clothing/RMCClothingSystem.cs
  Resources/Locale/en-US/_RMC14/foldable.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/base.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Engineering/mt.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Engineering/mt.rsi/sleeves-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Engineering/ot.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Engineering/ot.rsi/sleeves-equipped-INNERCLOTHING.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#5541 Make ME3 hand welder not blind you
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/welders.yml
Labels: S: Needs Review, Changes: No C#, size/M

#5548 Fix Acid Traps detection around open corners
  Content.Server/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5542 Fix welder backpacks not refueling welders by just clicking on them
  Content.Shared/Tools/Systems/SharedToolSystem.Welder.cs
  Content.Shared/_RMC14/Repairable/RMCRepairableSystem.cs
  Resources/Locale/en-US/_RMC14/tools/welder-component.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#5549 Stop dead people triggering para traps
  Content.Server/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5430 Added Freelancers and ERT satchels
  Resources/Locale/en-US/_RMC14/ghost-roles/freelancer.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/distress_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/EncryptionKeys/distress.yml
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_id_other.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Freelancers/leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Freelancers/medic.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Freelancers/standard.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PMC/leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PMC/standard.yml
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Other/lightpack.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Other/lightpack.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Other/lightpack.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Other/lightpack.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Other/lightpack.rsi/open.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Other/lightpack_welder.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Other/lightpack_welder.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Other/lightpack_welder.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Other/lightpack_welder.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Back/Satchels/Other/lightpack_welder.rsi/open.png
Labels: No C#, Changes: Sprites, S: Needs Review, Parity, Changes: No C#, size/M

#5170 Long Ears
  Resources/Locale/en-US/markings/ears.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/ears.yml
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears.png
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears_small.png
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears_standard.png
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears_tall.png
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears_thin.png
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears_upwards.png
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears_wide.png
  Resources/Textures/Mobs/Customization/ears.rsi/meta.json
Labels: No C#, Changes: Sprites, S: Needs Review

#5556 Add Nan 'Snow Bunny' Mazu figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/nan_snow_bunny_mazu.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#

#5559 fix IO not being able to pick armor AND backback
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5557 Fix intelligence officer uniform not being foldable
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5562 Fix ghost roles crashing the server
  Content.Server/EUI/BaseEui.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/mortars.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5560 Fix freelancer ftl file
  Resources/Locale/en-US/_RMC14/ghost-roles/freelancer.ftl
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5568 Fix ghost role menu sometimes not showing any ghost roles
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Resources/Prototypes/_RMC14/Roles/Jobs/squads.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5565 Stop burrower unburrower stun stunning allies
  Content.Server/_RMC14/Xenonids/Burrow/XenoBurrowSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5564 Add mortar knocking over
  Content.Shared/_RMC14/Mortar/MortarComponent.cs
  Content.Shared/_RMC14/Mortar/SharedMortarSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/mortars.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5570 Fixed CT, SL, SGO, Specs and FTLs not being able to buy fultons
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
Labels: S: Needs Review, Changes: No C#, size/S

#5578 Actually fix weed killer effects
  Content.Shared/_RMC14/WeedKiller/WeedKillerComponent.cs
  Content.Shared/_RMC14/WeedKiller/WeedKillerSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5577 takeOne field for vendor sections
  Content.Client/_RMC14/Vendors/CMAutomatedVendorBui.cs
  Content.Shared/_RMC14/Vendors/CMVendorSection.cs
  Content.Shared/_RMC14/Vendors/CMVendorUserComponent.cs
  Content.Shared/_RMC14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5576 Add dummy IO starting gear
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
Labels: S: Needs Review, Changes: No C#

#5574 Fix shiva's snowballs marine uniforms being invisible while sleeves are toggled
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/engineer/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/engineer/snow.rsi/sleeves-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/medic/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/medic/snow.rsi/sleeves-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/rto/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/rto/snow.rsi/sleeves-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/standard/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/standard/snow.rsi/sleeves-equipped-INNERCLOTHING.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5579 fix dots in ids
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/holdout_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m16_rifle.yml
  Resources/migration.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5571 Fix slows for real maybe
  Content.Shared/_RMC14/Slow/RMCSlowSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5575 guide on intel
  Resources/Prototypes/_RMC14/Guidebook/rmc_guidebook.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/survivor.yml
  Resources/ServerInfo/Guidebook/_RMC14/RMCIntel.xml
Labels: S: Needs Review, Changes: No C#, size/M

#5591 make the clues in the intel window readable
  Content.Client/_RMC14/Intel/ViewIntelObjectivesWindow.xaml
Labels: Changes: UI, S: Untriaged, Changes: No C#

#5580 Update RMCMutinies.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Mutiny/RMCMutinies.xml
Labels: S: Untriaged, size/XS, Changes: No C#

#5592 Fix intel light armor appearing as medium armor
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5583 Survivors can no longer interact with intel
  Content.Shared/_RMC14/Intel/IntelSystem.cs
  Resources/ServerInfo/Guidebook/_RMC14/Rules/RMCOverview.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/RMCSurvivorRoleplay.xml
Labels: S: Needs Review, S: Untriaged, size/S

#5588 make undeployed mortars un-damagable
  Content.Shared/_RMC14/Mortar/SharedMortarSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5593 Fix scout and sniper invis going on long cooldowns randomly
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5595 fix another id
  Resources/Prototypes/_RMC14/Entities/Areas/savannah.yml
  Resources/migration.yml
Labels: S: Untriaged, size/XS, Changes: No C#

#5611 adjust clothing size when webbing is attached
  Content.Shared/_RMC14/Webbing/SharedWebbingSystem.cs
  Content.Shared/_RMC14/Webbing/WebbingClothingComponent.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5632 Fixes UNMC Logo attribution
  Resources/Textures/_RMC14/Decals/unmc.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5643 cancel powerloader doafter on exit
  Content.Shared/_RMC14/PowerLoader/PowerLoaderComponent.cs
  Content.Shared/_RMC14/PowerLoader/PowerLoaderSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5644 Xenos can now pat fire from marines
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#5626 Minor locale fix
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-parasite.ftl
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5637 Fix intel headband and squad beret
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/headband.yml
Labels: S: Untriaged, size/XS, Changes: No C#

#5634 A few more xeno chatsans
  Resources/Locale/en-US/_RMC14/cm-chatsan.ftl
  Resources/Prototypes/_RMC14/Accents/cm_word_replacements.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5606 First Sergeant Prefix Tweak (1Sgt -> 1st Sgt)
  Resources/Prototypes/_RMC14/Roles/Ranks/UNMC/enlisted.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#5627 Make it possible for marines to shoot resin holes under objects
  Content.Shared/Damage/Components/RequireProjectileTargetComponent.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
  Content.Shared/Weapons/Ranged/Components/TargetedProjectileComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_resin_hole.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5636 Add tall grass and large boulders
  Resources/Prototypes/_RMC14/Entities/Structures/Flora/boulder.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Flora/tallgrass.yml
  Resources/Textures/_RMC14/Structures/Flora/large_boulder.rsi/boulder_large1.png
  Resources/Textures/_RMC14/Structures/Flora/large_boulder.rsi/boulder_large2.png
  Resources/Textures/_RMC14/Structures/Flora/large_boulder.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Flora/tallgrass.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Flora/tallgrass.rsi/tallgrass.png
  Resources/Textures/_RMC14/Structures/Flora/tallgrass.rsi/tallgrass_corner.png
  Resources/Textures/_RMC14/Structures/Flora/tallgrass.rsi/tallgrass_overlay.png
  Resources/Textures/_RMC14/Structures/Flora/tallgrass.rsi/tallgrass_overlay_corner.png
  Resources/Textures/_RMC14/Structures/Flora/tallgrass.rsi/tallgrass_sides.png
  Resources/Textures/_RMC14/Structures/Flora/tallgrass_desert.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Flora/tallgrass_desert.rsi/tallgrass.png
  Resources/Textures/_RMC14/Structures/Flora/tallgrass_desert.rsi/tallgrass_corner.png
  Resources/Textures/_RMC14/Structures/Flora/tallgrass_desert.rsi/tallgrass_overlay.png
  Resources/Textures/_RMC14/Structures/Flora/tallgrass_desert.rsi/tallgrass_overlay_corner.png
  Resources/Textures/_RMC14/Structures/Flora/tallgrass_desert.rsi/tallgrass_sides.png
  Resources/Textures/_RMC14/Structures/Flora/wide_boulder.rsi/boulder1.png
  Resources/Textures/_RMC14/Structures/Flora/wide_boulder.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#5633 Add visor visuals + NVG visuals
  Content.Shared/_RMC14/Visor/VisorComponent.cs
  Content.Shared/_RMC14/Visor/VisorSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/visors.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/moth.yml
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/goon_weld_visor.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/hud_sight_left.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/hud_sight_right.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/med_sight_left.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/med_sight_right.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/meson_sight_left.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/meson_sight_right.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/nvg_sight_right.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/nvg_sight_right_raider.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/sec_sight_left.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/sec_sight_right.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/tanker_weld_visor.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/huds.rsi/weld_visor.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#5594 allow saved survivors to pick up documents
  Content.Shared/_RMC14/Intel/IntelSystem.cs
  Resources/Locale/en-US/_RMC14/intel.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#5609 figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/zver_nemesis.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#5601 Dollars are now UN minted and not US.
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/portable_vendor.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/spacecash.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5620 Replaces UA in Fiorina LZ sign with UN
  Resources/Textures/_RMC14/Structures/landing_signs.rsi/prison_sign.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5597 multiple test fixes
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleComponent.cs
  Content.Shared/_RMC14/Communications/CommunicationsTowerSpawnerComponent.cs
  Content.Shared/_RMC14/Intel/IntelSpawnerComponent.cs
  Content.Shared/_RMC14/OrbitalCannon/OrbitalCannonExplosion.cs
  Content.Shared/_RMC14/OrbitalCannon/OrbitalCannonExplosionComponent.cs
  Content.Shared/_RMC14/OrbitalCannon/OrbitalCannonSystem.cs
  Resources/ConfigPresets/RMC14/rmc.toml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/base_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/rmc_intel.yml
  Resources/Prototypes/_RMC14/Entities/Structures/orbital_cannon.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/Provost/provost_team_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/security.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/survivor.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/UNMC/provost.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5629 Resin surge now works through windows/membrane
  Content.Shared/_RMC14/Xenonids/ResinSurge/SharedXenoResinSurgeSystem.cs
  Content.Shared/_RMC14/Xenonids/ResinSurge/XenoResinSurgeComponent.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_utility_actions.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5596 alway (Full), also add missing full to CMOs belt
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
Labels: S: Untriaged, Changes: No C#, size/S

#5621 Fix resin walls and doors not being reinforceable
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_doors.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_walls.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#5615 Add area names to tacmap alert tooltips
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/TacticalMap/TacMapMarineAlertComponent.cs
  Content.Shared/_RMC14/TacticalMap/TacMapMarineAlertSystem.cs
  Content.Shared/_RMC14/TacticalMap/TacMapXenoAlertComponent.cs
  Content.Shared/_RMC14/TacticalMap/TacMapXenoAlertSystem.cs
  Resources/Locale/en-US/_RMC14/ui.ftl
Labels: S: Needs Review, S: Untriaged, size/M

#5569 Wrap Take 3
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/alpha.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/alpha.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/alpha.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/black.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/black.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/black.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/bravo.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/bravo.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/bravo.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/charlie.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/charlie.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/charlie.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/delta.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/delta.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/delta.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/echo.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/echo.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/echo.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/foxtrot.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/foxtrot.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/foxtrot.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/gray.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/gray.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/gray.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/green.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/green.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/green.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/tan.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/tan.rsi/equipped-NECK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/tan.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#5550 Update Savannah: Requi, Medical, Intel, Pilot refit
  Resources/Maps/_RMC14/savannah.yml
  Resources/Prototypes/_RMC14/Entities/Areas/savannah.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#, size/XL

#5645 figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/kazi_priestess.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#2754 Rework storage interaction
  Content.Client/UserInterface/Systems/Storage/StorageUIController.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/backpacks.yml
Labels: S: Needs Review, Needs Upstreaming, size/XS

#5616 fix the improper deletion of tunnels
  Content.Server/_RMC14/Xenonids/Construction/Tunnel/XenoTunnelSystem.cs
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/explosives.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_tunnel.yml
  Resources/Prototypes/_RMC14/Entities/Structures/orbital_cannon.yml
  Resources/Prototypes/_RMC14/explosion.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5613 Hivelord ranged + fast transfer plasma
  Content.Shared/_RMC14/Xenonids/Plasma/XenoPlasmaComponent.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_utility_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hivelord.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5555 Add M203 grenade launcher, add it to Mp5 and M16
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m16_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/mp5_smg.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/under.rsi/grenade-m203_a.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5439 Fixed: CMHealthAnalyzer closed the window while it was not in hand
  Content.Client/_RMC14/Medical/Scanner/HealthScannerBui.cs
  Content.Server/_RMC14/Medical/Scanner/HealthScannerSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/health_analyzer.yml
Labels: No C#, S: Needs Review, size/S

#5646 Fix burrower doafter cancel text
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5631 fix arbitrage
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/beaker.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Power/light_bulb.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Power/light_tube.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5648 fixed the yaml error
  Resources/Locale/en-US/_RMC14/cm-chatsan.ftl
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5652 Fix fultons, burrows, and supply drops keeping pulls
  Content.Shared/_RMC14/Dropship/Utility/Systems/RMCFultonSystem.cs
  Content.Shared/_RMC14/SupplyDrop/SharedSupplyDropSystem.cs
  Content.Shared/_RMC14/Xenonids/Burrow/SharedXenoBurrowSystem.cs
  Resources/Locale/en-US/_RMC14/supplydrop.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#5649 Misc. Mess Tech stuff
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/mess_tech.yml
Labels: S: Needs Review, Changes: No C#, size/S

#5660 Update Trijent: Trees, Grass and Boulders
  Resources/Prototypes/_RMC14/Entities/Structures/Flora/Grass/desert_grass.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Flora/Trees/joshua.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Flora/Trees/trees.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Flora/cactus.yml
  Resources/Prototypes/_RMC14/Entities/Structures/trees.yml
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_1.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_10.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_11.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_12.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_13.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_14.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_15.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_16.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_2.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_3.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_4.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_5.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_6.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_7.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_8.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/heavygrass_9.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_heavygrass.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_lightgrass.rsi/lightgrass_1.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_lightgrass.rsi/lightgrass_10.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_lightgrass.rsi/lightgrass_11.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_lightgrass.rsi/lightgrass_12.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_lightgrass.rsi/lightgrass_2.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_lightgrass.rsi/lightgrass_3.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_lightgrass.rsi/lightgrass_4.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_lightgrass.rsi/lightgrass_5.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_lightgrass.rsi/lightgrass_6.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_lightgrass.rsi/lightgrass_7.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_lightgrass.rsi/lightgrass_8.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_lightgrass.rsi/lightgrass_9.png
  Resources/Textures/_RMC14/Structures/Flora/Grass/desert_lightgrass.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Flora/Trees/joshua.rsi/joshua_1.png
  Resources/Textures/_RMC14/Structures/Flora/Trees/joshua.rsi/joshua_2.png
  Resources/Textures/_RMC14/Structures/Flora/Trees/joshua.rsi/joshua_3.png
  Resources/Textures/_RMC14/Structures/Flora/Trees/joshua.rsi/joshua_4.png
  Resources/Textures/_RMC14/Structures/Flora/Trees/joshua.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Flora/cactus.rsi/cacti_1.png
  Resources/Textures/_RMC14/Structures/Flora/cactus.rsi/cacti_10.png
  Resources/Textures/_RMC14/Structures/Flora/cactus.rsi/cacti_11.png
  Resources/Textures/_RMC14/Structures/Flora/cactus.rsi/cacti_12.png
  Resources/Textures/_RMC14/Structures/Flora/cactus.rsi/cacti_2.png
  Resources/Textures/_RMC14/Structures/Flora/cactus.rsi/cacti_7.png
  Resources/Textures/_RMC14/Structures/Flora/cactus.rsi/cacti_8.png
  Resources/Textures/_RMC14/Structures/Flora/cactus.rsi/cacti_9.png
  Resources/Textures/_RMC14/Structures/Flora/cactus.rsi/cactus_3.png
  Resources/Textures/_RMC14/Structures/Flora/cactus.rsi/cactus_4.png
  Resources/Textures/_RMC14/Structures/Flora/cactus.rsi/cactus_7.png
  Resources/Textures/_RMC14/Structures/Flora/cactus.rsi/cactus_8.png
  Resources/Textures/_RMC14/Structures/Flora/cactus.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#, size/XL

#4872 fix accents that weren't intended to be added
  Content.Server/Speech/Components/MobsterAccentComponent.cs
  Content.Server/Speech/EntitySystems/MobsterAccentSystem.cs
  Content.Server/Speech/EntitySystems/RussianAccentSystem.cs
  Resources/IgnoredPrototypes/cm_ignoredPrototypes.yml
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Traits/quirks.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Prototypes/_RMC14/Traits/accents.yml
  Resources/Prototypes/_RMC14/Traits/inconveniences.yml
Labels: S: Needs Review, size/M

#5668 Fix fence smoothing
  Resources/Prototypes/_RMC14/Entities/Structures/fence.yml
Labels: S: Needs Review, Changes: No C#

#5653 Fix burrower pulls for real
  Content.Shared/_RMC14/Xenonids/Burrow/SharedXenoBurrowSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5663 Add Pizza and Pizza Boxes (Pizza Delivery Boy Gaming)
  Resources/Prototypes/_RMC14/Catalog/Fills/Clothing/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/pizza.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/pizza.yml
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/margherita.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/margherita.rsi/pizza-inhand-left.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/margherita.rsi/pizza-inhand-right.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/margherita.rsi/pizza.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/margherita.rsi/slice-inhand-left.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/margherita.rsi/slice-inhand-right.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/margherita.rsi/slice.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/meat.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/meat.rsi/pizza-inhand-left.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/meat.rsi/pizza-inhand-right.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/meat.rsi/pizza.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/meat.rsi/slice-inhand-left.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/meat.rsi/slice-inhand-right.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/meat.rsi/slice.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/mushroom.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/mushroom.rsi/pizza-inhand-left.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/mushroom.rsi/pizza-inhand-right.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/mushroom.rsi/pizza.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/mushroom.rsi/slice-inhand-left.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/mushroom.rsi/slice-inhand-right.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/mushroom.rsi/slice.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/vegetable.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/vegetable.rsi/pizza-inhand-left.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/vegetable.rsi/pizza-inhand-right.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/vegetable.rsi/pizza.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/vegetable.rsi/slice-inhand-left.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/vegetable.rsi/slice-inhand-right.png
  Resources/Textures/_RMC14/Objects/Consumable/Food/Pizza/vegetable.rsi/slice.png
  Resources/Textures/_RMC14/Objects/Storage/pizza_box.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Storage/pizza_box.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Storage/pizza_box.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Storage/pizza_box.rsi/pizzabox1.png
  Resources/Textures/_RMC14/Objects/Storage/pizza_box.rsi/pizzabox2.png
  Resources/Textures/_RMC14/Objects/Storage/pizza_box.rsi/pizzabox3.png
  Resources/Textures/_RMC14/Objects/Storage/pizza_box.rsi/pizzabox4.png
  Resources/Textures/_RMC14/Objects/Storage/pizza_box.rsi/pizzabox5.png
  Resources/Textures/_RMC14/Objects/Storage/pizza_box.rsi/pizzabox_messy.png
  Resources/Textures/_RMC14/Objects/Storage/pizza_box.rsi/pizzabox_open.png
  Resources/Textures/_RMC14/Objects/Storage/pizza_box.rsi/pizzabox_tag.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#5664 Add engineer kit pouch + engi fixes
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/storage.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/Electronics/base_electronics.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/engineerkit.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/engineerpouch.rsi/closed.png
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/engineerpouch.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/engineerpouch.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Pouches/engineerpouch.rsi/open.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5610 Valkyrie
  Content.Client/_RMC14/Aura/AuraSystem.cs
  Content.Server/_RMC14/Aura/AuraSystem.cs
  Content.Shared/_RMC14/Aura/AuraComponent.cs
  Content.Shared/_RMC14/Aura/SharedAuraSystem.cs
  Content.Shared/_RMC14/Xenonids/Crippling/XenoCripplingStrikeSystem.cs
  Content.Shared/_RMC14/Xenonids/FightOrFlight/XenoFightOrFlightActionEvent.cs
  Content.Shared/_RMC14/Xenonids/FightOrFlight/XenoFightOrFlightComponent.cs
  Content.Shared/_RMC14/Xenonids/FightOrFlight/XenoFightOrFlightSystem.cs
  Content.Shared/_RMC14/Xenonids/Fruit/Components/XenoFruitComponent.cs
  Content.Shared/_RMC14/Xenonids/Fruit/SharedXenoFruitSystem.cs
  Content.Shared/_RMC14/Xenonids/Fury/XenoFuryComponent.cs
  Content.Shared/_RMC14/Xenonids/Fury/XenoFurySystem.cs
  Content.Shared/_RMC14/Xenonids/Headbutt/XenoHeadbuttSystem.cs
  Content.Shared/_RMC14/Xenonids/HighGallop/XenoHighGallopActionEvent.cs
  Content.Shared/_RMC14/Xenonids/HighGallop/XenoHighGallopComponent.cs
  Content.Shared/_RMC14/Xenonids/HighGallop/XenoHighGallopSystem.cs
  Content.Shared/_RMC14/Xenonids/Impale/XenoImpaleSystem.cs
  Content.Shared/_RMC14/Xenonids/Lifesteal/XenoLifestealComponent.cs
  Content.Shared/_RMC14/Xenonids/Lifesteal/XenoLifestealSystem.cs
  Content.Shared/_RMC14/Xenonids/Paralyzing/XenoParalyzingSlashSystem.cs
  Content.Shared/_RMC14/Xenonids/Pierce/XenoPierceSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/XenoSpitSystem.cs
  Content.Shared/_RMC14/Xenonids/Retrieve/XenoRetrieveSystem.cs
  Content.Shared/_RMC14/Xenonids/Soak/XenoSoakComponent.cs
  Content.Shared/_RMC14/Xenonids/Soak/XenoSoakSystem.cs
  Content.Shared/_RMC14/Xenonids/Soak/XenoSoakingDamageComponent.cs
  Content.Shared/_RMC14/Xenonids/TailFountain/XenoTailFountainActionEvent.cs
  Content.Shared/_RMC14/Xenonids/TailFountain/XenoTailFountainComponent.cs
  Content.Shared/_RMC14/Xenonids/TailFountain/XenoTailFountainSystem.cs
  Content.Shared/_RMC14/Xenonids/TailTrip/XenoTailTripSystem.cs
  Content.Shared/_RMC14/Xenonids/Tantrum/TantrumSpeedBuffComponent.cs
  Content.Shared/_RMC14/Xenonids/Tantrum/TantrumingComponent.cs
  Content.Shared/_RMC14/Xenonids/Tantrum/XenoTantrumActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Tantrum/XenoTantrumComponent.cs
  Content.Shared/_RMC14/Xenonids/Tantrum/XenoTantrumSystem.cs
  Resources/Audio/_RMC14/Xeno/attributions.yml
  Resources/Audio/_RMC14/Xeno/xenos_roaring.ogg
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-strains.ftl
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_utility_actions.yml
  Resources/Prototypes/_RMC14/Alerts/Xeno/xeno_energy_alerts.yml
  Resources/Prototypes/_RMC14/Effects/empower.yml
  Resources/Prototypes/_RMC14/Effects/green.yml
  Resources/Prototypes/_RMC14/Effects/heal.yml
  Resources/Prototypes/_RMC14/Effects/screech.yml
  Resources/Prototypes/_RMC14/Effects/xeno_acid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_fruit.yml
  Resources/Prototypes/_RMC14/Shaders/shaders.yml
  Resources/Textures/_RMC14/Effects/xeno_acid.rsi/acid-extinguish.png
  Resources/Textures/_RMC14/Effects/xeno_acid.rsi/meta.json
  Resources/Textures/_RMC14/Effects/xeno_telegraph.rsi/meta.json
  Resources/Textures/_RMC14/Effects/xeno_telegraph.rsi/xeno_telegraph_base_small.png
Labels: Changes: Sprites, S: Needs Review, S: Merge Conflict, S: Untriaged, size/M, Changes: Audio

#5659 Fix IO access
  Resources/Prototypes/_RMC14/Access/Groups/auxiliary_support_access_groups.yml
Labels: S: Needs Review, S: Untriaged, Parity, Changes: No C#

#5654 Add Helmet Accessory System
  Content.Shared/_RMC14/Clothing/HelmetAccessoriesSystem.cs
  Content.Shared/_RMC14/Clothing/HelmetAccesssoryComponent.cs
  Content.Shared/_RMC14/Clothing/HelmetAccesssoryHolderComponent.cs
  Resources/Locale/en-US/_RMC14/storage/storage.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/basic_helmets.yml
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/M1A1_Ballistic_goggles.rsi/helmet-down.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/M1A1_Ballistic_goggles.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/M1A1_Ballistic_goggles.rsi/meta.json
Labels: Changes: Sprites

#5665 Replaced intel machete pouch with filled variant
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5673 Gives intel the correct service jacket.
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5264 mac-15, mar40
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_mar40.ogg
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/mar40_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/mac15.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mac15.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mac15.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mac15.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mac15e.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mac15e.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mac15e.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mar40.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mar40.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mar40.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mar40e.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mar40e.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mar40e.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/mar40.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/mar40.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/mar40.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/mar40.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/mar40.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/mar40.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/mar40.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/mar40.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/mac15.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, S: Needs Review, Changes: No C#, size/M, Changes: Audio

#5680 Flare Colour Parity
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/flares.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5683 M890 Riot Resprite
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m890_riotshotgun.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_riot.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_riot.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_riot.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_riot.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_riot.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_riot.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_riot.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_riot.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#, size/S

#5671 makes larva unable to evolve off weeds roundstart
  Content.Shared/_RMC14/Xenonids/Evolution/RestrictEvolveOffWeedsComponent.cs
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/larva.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5690 rules clarification
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/RMCGeneralRoleplayStandards.xml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#5688 Update Signal Flares
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/flares.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5684 Adding requirements for cargotech
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/cargo_tech.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5676 Acid Gen Cap parity
  Content.Client/_RMC14/Xenonids/Acider/XenoAciderGenerationVisualsSystem.cs
  Content.Client/_RMC14/Xenonids/Hud/XenoHudOverlay.cs
  Content.Shared/_RMC14/Xenonids/AciderGeneration/XenoAciderGenerationComponent.cs
  Content.Shared/_RMC14/Xenonids/AciderGeneration/XenoAciderGenerationSystem.cs
  Content.Shared/_RMC14/Xenonids/Energy/XenoEnergyComponent.cs
  Content.Shared/_RMC14/Xenonids/Energy/XenoEnergySystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-strains.ftl
  Resources/Prototypes/_RMC14/Alerts/Xeno/xeno_energy_alerts.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/cap0.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/cap10.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/cap100.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/cap20.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/cap30.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/cap40.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/cap50.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/cap60.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/cap70.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/cap80.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/cap90.png
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/OldXenonids/Runner/acider_runner.rsi/acid.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Runner/acider_runner.rsi/acid_downed.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Runner/acider_runner.rsi/acid_rest.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Runner/acider_runner.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/OldXenonids/Runner/acider_runner_primed.rsi/acid.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Runner/acider_runner_primed.rsi/acid_downed.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Runner/acider_runner_primed.rsi/acid_rest.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Runner/acider_runner_primed.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner.rsi/acid.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner.rsi/acid_downed.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner.rsi/acid_rest.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner_primed.rsi/acid.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner_primed.rsi/acid_downed.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner_primed.rsi/acid_rest.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner_primed.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#5687 Adds the Commander's Smart Gun
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/smartgunner_loadouts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SmartGuns/smart_gun.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/Icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/CO.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#4635 UN and UNMC plantable flags
  Resources/Textures/_RMC14/Objects/Flags/un_flag.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Flags/un_flag.rsi/un_deploy.png
  Resources/Textures/_RMC14/Objects/Flags/un_flag.rsi/un_icon.png
  Resources/Textures/_RMC14/Objects/Flags/un_flag.rsi/un_inhand_left.png
  Resources/Textures/_RMC14/Objects/Flags/un_flag.rsi/un_inhand_right.png
  Resources/Textures/_RMC14/Objects/Flags/unmc_flag.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Flags/unmc_flag.rsi/unmc_deploy.png
  Resources/Textures/_RMC14/Objects/Flags/unmc_flag.rsi/unmc_icon.png
  Resources/Textures/_RMC14/Objects/Flags/unmc_flag.rsi/unmc_inhand_left.png
  Resources/Textures/_RMC14/Objects/Flags/unmc_flag.rsi/unmc_inhand_right.png
Labels: No C#, Changes: Sprites, S: Needs Review

#5694 delta pilled the plush
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/alec_plushie.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#

#5693 Fix rangefinder inhands
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/binoculars.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#5691 Fix acid generation when off the timer
  Content.Shared/_RMC14/Xenonids/AciderGeneration/XenoAciderGenerationSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5701 New valk sprites, ability sprites, empower cooldown fix
  Content.Shared/_RMC14/Xenonids/Empower/XenoEmpowerSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_self_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_utility_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Textures/_RMC14/Actions/xeno_actions.rsi/charge.png
  Resources/Textures/_RMC14/Actions/xeno_actions.rsi/meta.json
  Resources/Textures/_RMC14/Actions/xeno_actions.rsi/prae_tail_fountain.png
  Resources/Textures/_RMC14/Actions/xeno_actions.rsi/rav_empower.png
  Resources/Textures/_RMC14/Actions/xeno_actions.rsi/rav_scissor_cut.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/alive.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/boiler_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/boiler_downed_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/boiler_downed_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/boiler_downed_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/boiler_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/boiler_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/boiler_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/boiler_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/boiler_walk_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/boiler_walk_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/boiler_walk_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/boiler_walk_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/crit.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/dead.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Boiler/boiler.rsi/sleeping.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/alive.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/crit.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/dead.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/praetorian_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/praetorian_downed_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/praetorian_downed_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/praetorian_downed_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/praetorian_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/praetorian_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/praetorian_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/praetorian_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/praetorian_walk_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/praetorian_walk_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/praetorian_walk_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/praetorian_walk_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Praetorian/valkyrie_praetorian.rsi/sleeping.png
Labels: Changes: Sprites, S: Needs Review

#5724 Map Insert Part 2
  Content.Server/_RMC14/MapInsert/MapInsertComponent.cs
  Content.Server/_RMC14/MapInsert/MapInsertSystem.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Resources/Maps/_RMC14/Inserts/Shiva/builtup_lz2-south-caves.yml
  Resources/Maps/_RMC14/Inserts/Shiva/destroyed_lz2-south-caves.yml
  Resources/Maps/_RMC14/shiva.yml
  Resources/Prototypes/_RMC14/Entities/Markers/Inserts/kutjevo.yml
  Resources/Prototypes/_RMC14/Entities/Markers/Inserts/shiva.yml
  Resources/Prototypes/_RMC14/Entities/Markers/Inserts/solaris.yml
Labels: Changes: Sprites, S: Needs Review, Changes: Map, S: Untriaged, size/L

#5743 FIX HELMET ACCESSORIES
  Content.Shared/_RMC14/Clothing/HelmetAccessoriesSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5726 Fix desert grass layering over mobs
  Resources/Prototypes/_RMC14/Entities/Structures/Flora/Grass/desert_grass.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#5745 Ceremonial Sabre proto
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/scabbards.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Textures/_RMC14/Objects/Clothing/Belt/co_sabre_sheath.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/co_sabre_sheath.rsi/full.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/co_sabre_sheath.rsi/half.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/co_sabre_sheath.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/co_sabre_sheath.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/co_sabre_sheath.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/co_sabre_sheath.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Belt/co_sabre_sheath.rsi/sheath_on.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/co_sabre_sheath/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Melee/co_sabre.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/co_sabre.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/co_sabre.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Melee/co_sabre.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Melee/co_sabre/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Melee/co_sabre/saber.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#5737 Increase neuro from boiler tailstab
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5736 Adds Commanding Officer Essentials Kit
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
Labels: S: Needs Review, Changes: No C#, size/S

#5734 fixed the speedloader box for M44 marksman
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5759 Nerf sent paralyzing slash + scatterspit
  Content.Shared/_RMC14/Xenonids/Paralyzing/XenoParalyzingSlashComponent.cs
  Content.Shared/_RMC14/Xenonids/Paralyzing/XenoParalyzingSlashSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5750 Add missing mk1s and belts to shivas
  Resources/Maps/_RMC14/shiva.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, Changes: No C#, size/M
