Repository RMC-14/RMC-14, pull requests merged in 2025-03, with the labels that each got.

#5769 New HUD pheromone sprites
  Content.Client/_RMC14/Xenonids/Pheromones/XenoPheromonesBui.cs
  Content.Shared/_RMC14/Xenonids/Pheromones/SharedXenoPheromonesSystem.cs
  Content.Shared/_RMC14/Xenonids/Pheromones/XenoPheromonesComponent.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/frenzy.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/frenzy_hivelord.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/frenzy_king.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/frenzy_queen.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/frenzy_strong.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/frenzy_weak.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/meta.json
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/recovery.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/recovery_hivelord.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/recovery_king.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/recovery_queen.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/recovery_strong.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/recovery_weak.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/warding.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/warding_hivelord.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/warding_king.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/warding_queen.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/warding_strong.png
  Resources/Textures/_RMC14/Interface/xeno_pheromones.rsi/warding_weak.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/S

#5735 Mortar parity changes
  Content.Server/_RMC14/Mortar/MortarSystem.cs
  Content.Shared/_RMC14/Mortar/MortarComponent.cs
  Resources/Locale/en-US/_RMC14/mortar.ftl
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/pamphlets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/mortar_kit.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/mortars.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/requisitions.yml
  Resources/Textures/_RMC14/Objects/Misc/pamphlets.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/pamphlets.rsi/pamphlet_mortar.png
  Resources/Textures/_RMC14/Objects/loadout_kits.rsi/meta.json
  Resources/Textures/_RMC14/Objects/loadout_kits.rsi/mortar.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/S

#5753 Kutjevo OB protection removal and Area name fix
  Resources/Prototypes/_RMC14/Entities/Areas/areas_kutjevo.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5767 Fix neuro and ammo knockback being too slow.
  Content.Shared/_RMC14/Stun/RMCSizeStunSystem.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5760 Jacket fixes + CO beret fix
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/CO/bomber.rsi/jacket-equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/CO/bomber.rsi/jacket-icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/CO/bomber.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/coat_formal.rsi/jacket-equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/coat_formal.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/mp.rsi/jacket-equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/mp.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5757 Add pointblank cooldown
  Content.Shared/_RMC14/Weapons/Ranged/CMGunSystem.cs
  Content.Shared/_RMC14/Weapons/Ranged/UserPointblankCooldownComponent.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5764 Allow m81 riot to use smoke nades
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5731 Parity Engi and Requi doors.
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Airlocks/accesses-almayer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/migration.yml
Labels: S: Needs Review, Changes: No C#, size/S

#5766 Fix xeno pheromone UI spawning in screen corners when watching other xenos.
  Content.Client/_RMC14/Xenonids/Pheromones/XenoPheromonesBui.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5756 Fulton and data detector inhands
  Resources/Textures/_RMC14/Objects/Tools/fulton.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tools/fulton.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tools/fulton.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tools/intel_detector.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tools/intel_detector.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tools/intel_detector.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5720 add display of delay between flamethrower shots
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Flamethrowers/m34_flamer.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5717 Engineering skill reduces tool use delay
  Content.Shared/Tools/Components/RMCToolComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.cs
  Content.Shared/_RMC14/Power/SharedRMCPowerSystem.cs
  Content.Shared/_RMC14/Repairable/RMCRepairableSystem.cs
  Content.Shared/_RMC14/Sensor/SensorTowerSystem.cs
  Content.Shared/_RMC14/Tools/RMCToolSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5755 Fix healer damage values
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#5722 Player controlled parasite round time requirement and mute on spawn
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Ghost/Roles/RMCGhostRoleSystem.cs
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteRoleSystem.cs
  Content.Shared/Ghost/Roles/Raffles/GhostRoleRaffleSettings.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Xenonids/XenoComponent.cs
  Content.Shared/_RMC14/Xenonids/XenoSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-eggs.ftl
  Resources/Prototypes/GhostRoleRaffles/rms_settings.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/parasite.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5728 Makes warning cone wearable on head (PARITY©®™️)
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/janitor.yml
  Resources/Textures/_RMC14/Objects/Misc/Janitorial/cone.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Misc/Janitorial/cone.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#5708 Add early evolution point boost
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionComponent.cs
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionSystem.cs
Labels: S: Needs Review, S: Merge Conflict, S: Untriaged, size/S

#5754 Add automatic General Quarters announcement on hijack
  Content.Server/_RMC14/Dropship/DropshipSystem.cs
  Content.Shared/_RMC14/AlertLevel/RMCAlertLevelSystem.cs
  Content.Shared/_RMC14/Dropship/DropshipComponent.cs
  Resources/Audio/_RMC14/Announcements/ARES/GQfullcall.ogg
  Resources/Audio/_RMC14/Announcements/ARES/attributions.yml
  Resources/Locale/en-US/_RMC14/chat/announcement.ftl
Labels: S: Needs Review, S: Untriaged, Changes: Audio

#5707 Fix being able to drop intel and continue to read
  Content.Shared/_RMC14/Intel/IntelSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5702 Fix rav empower messages showing to others
  Content.Shared/_RMC14/Xenonids/Empower/XenoEmpowerSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5704 All tier 1s can now evolve into the queen
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/sentinel.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5725 Pierce is no longer a straight line
  Content.Shared/_RMC14/Xenonids/Blitz/XenoBlitzSystem.cs
  Content.Shared/_RMC14/Xenonids/Pierce/XenoPierceComponent.cs
  Content.Shared/_RMC14/Xenonids/Pierce/XenoPierceSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Effects/green.yml
Labels: S: Needs Review, S: Untriaged, size/M

#5772 Fix oppressor error
  Content.Shared/_RMC14/Xenonids/TailSeize/XenoTailSeizeSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5709 Fix blitz and lunge not checking stun/death on hit
  Content.Shared/_RMC14/Xenonids/Blitz/XenoBlitzSystem.cs
  Content.Shared/_RMC14/Xenonids/Lunge/XenoLungeSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5774 New fast/sticky resin sprites
  Resources/Textures/_RMC14/Structures/Xenos/xeno_floor_resins.rsi/fast.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_floor_resins.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Xenos/xeno_floor_resins.rsi/sticky.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_floor_resins.rsi/sticky_weak.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5773 M79 vendor fixes + daze duration multiplier
  Content.Server/Explosion/Components/RMCProjectileGrenadeComponent.cs
  Content.Server/Explosion/EntitySystems/RMCProjectileGrenadeSystem.cs
  Content.Shared/_RMC14/Stun/RMCSizeStunSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5712 make dogtags not corrodible
  Resources/Prototypes/_RMC14/Entities/Objects/IdCards/cm_base_id.yml
Labels: S: Untriaged, Changes: No C#

#5552 Port M5 Camera Gear
  Content.Client/_RMC14/Overwatch/OverwatchConsoleBui.cs
  Content.Shared/_RMC14/Overwatch/OverwatchCameraComponent.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/marine.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/tags.yml
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/camera_gear.rsi/equipped-EARS.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/camera_gear.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/camera_gear.rsi/icon-on.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/camera_gear.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Accessory/camera_gear.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, size/M

#5692 M890 Honorification
  Resources/Prototypes/_RMC14/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/misc.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m890_guardshotgun.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/lockers.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_guard.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_guard.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_guard.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_guard.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_guard.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_guard.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_guard.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Shotguns/m890_guard.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Structures/Storage/Lockers/safe.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Lockers/safe.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Storage/Lockers/safe.rsi/locked.png
  Resources/Textures/_RMC14/Structures/Storage/Lockers/safe.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/Lockers/safe.rsi/open.png
  Resources/Textures/_RMC14/Structures/Storage/Lockers/safe.rsi/unlocked.png
  Resources/Textures/_RMC14/Structures/Storage/Lockers/safe.rsi/welded.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#5758 ChemMaster QOL
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/_RMC14/Chemistry/ChemMaster/RMCChemMasterSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Locale/en-US/_RMC14/medical/ui.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/pill_canisters.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Science/chem_master.yml
Labels: S: Needs Review, Changes: UI, S: Untriaged, size/S

#5587 removes DumpableSolution from chemmaster :trollface:
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Science/chem_master.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5749 Adds 3 new suitskirt options to the CL vendor
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/liaison.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/corporate_liaison.yml
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/corporate_black_suitskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/corporate_black_suitskirt.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/corporate_black_suitskirt.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/corporate_field_suitskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/corporate_field_suitskirt.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/corporate_field_suitskirt.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/liaison_charcoal_suitskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/liaison_charcoal_suitskirt.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Liaison/liaison_charcoal_suitskirt.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5729 implemented foxtrot
  Content.Server/_RMC14/Ghost/GhostRoleApplySpecialComponent.cs
  Content.Server/_RMC14/Ghost/GhostRoleApplySpecialSystem.cs
  Content.Server/_RMC14/Ghost/GhostRolePreventCryoSleepComponent.cs
  Content.Server/_RMC14/Ghost/GhostRolePreventCryoSleepSystem.cs
  Content.Server/_RMC14/Intel/Tech/TechSystem.cs
  Content.Shared/_RMC14/Intel/Tech/TechCryoMarinesEvent.cs
  Content.Shared/_RMC14/Intel/Tech/TechCryoSpecEvent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/portable_vendor.yml
  Resources/Prototypes/_RMC14/Entities/Objects/rmc_intel.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/mappings.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/ghosts/alpha.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/ghosts/bravo.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/ghosts/charlie.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/ghosts/delta.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/ghosts/echo.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/ghosts/foxtrot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/ghosts/intel.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/ghosts.yml
Labels: S: Needs Review, S: Untriaged, size/L

#5732 WS vendor fix
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5771 D50 Winter Wyvern for CO
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_DE50.ogg
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/co_d50_winter_wyvern.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/d50winterwyvern.rsi/ammo_band.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/d50winterwyvern.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/d50winterwyvern.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/d50winterwyvern.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvern.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvern.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvern.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvern.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvern.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvern.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvern.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvern.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvern.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvernvintage.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvernvintage.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvernvintage.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvernvintage.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvernvintage.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvernvintage.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvernvintage.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvernvintage.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/d50winterwyvernvintage.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M, Changes: Audio

#5783 Baton slugs stun on landing
  Content.Shared/_RMC14/Stun/RMCSizeStunSystem.cs
  Content.Shared/_RMC14/Stun/RMCStunOnHitComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m74_airburst_grenades.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5782 fix all yml errors
  Resources/Prototypes/_RMC14/Entities/Clothing/helmet_garbs.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5779 Mark intel toolbelt as full
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5787 Fixes CMJobSquaderLeader
  Resources/Locale/en-US/_RMC14/job/marines.ftl
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#5788 Fix tacmap show area labels setting not saving, fix oppressor abduct target cap
  Content.Client/_RMC14/TacticalMap/TacticalMapWindow.xaml.cs
  Content.Shared/_RMC14/Xenonids/Abduct/XenoAbductComponent.cs
  Content.Shared/_RMC14/Xenonids/Abduct/XenoAbductSystem.cs
Labels: S: Needs Review, Changes: UI, S: Untriaged, size/S

#5791 fixed missing icons on foxtrot
  Content.Server/_RMC14/Ghost/GhostRoleApplySpecialSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5789 Fix sentient paras being eggmorphable, AI now works with egg morphers
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/_RMC14/NPC/TargetAvailibleEggMorpherCon.cs
  Content.Shared/_RMC14/Xenonids/Construction/EggMorpher/EggMorpherSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.AI.cs
  Resources/Prototypes/_RMC14/NPC/parasite.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5790 Fix woyer wound downed sprites
  Resources/Textures/_RMC14/Mobs/Xenonids/Warrior/warrior.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Xenonids/Warrior/warrior.rsi/warrior_downed_0.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5786 Oppressor ability icons
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Textures/_RMC14/Actions/xeno_actions.rsi/abduct.png
  Resources/Textures/_RMC14/Actions/xeno_actions.rsi/dislocate.png
  Resources/Textures/_RMC14/Actions/xeno_actions.rsi/meta.json
  Resources/Textures/_RMC14/Actions/xeno_actions.rsi/prae_tail_lash.png
  Resources/Textures/_RMC14/Actions/xeno_actions.rsi/tail_seize.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5793 Fix mortar locale being wrong
  Resources/Locale/en-US/_RMC14/mortar.ftl
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5792 Stun ammo changes for real
  Content.Shared/_RMC14/Stun/RMCStunOnHitComponent.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5796 Fix warding appearing after death
  Content.Shared/_RMC14/Xenonids/Pheromones/SharedXenoPheromonesSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5806 Allow baseball caps to fit accessories
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/hats.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#5809 Fix yaml error
  Resources/Prototypes/_RMC14/NPC/parasite.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5814 Recovery node doafter
  Content.Shared/_RMC14/Xenonids/Construction/RecoveryNode/RecoveryNodeComponent.cs
  Content.Shared/_RMC14/Xenonids/Construction/RecoveryNode/RecoveryNodeRecoverDoAfterEvent.cs
  Content.Shared/_RMC14/Xenonids/Construction/RecoveryNode/RecoveryNodeSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-construction.ftl
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_recovery.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5815 M5 camera gear now works as overwatch camera
  Resources/Prototypes/_RMC14/Entities/Clothing/Accessory/marine.yml
Labels: S: Untriaged, Changes: No C#

#5818 Fix shotgun shells slowing big xenos
  Content.Shared/_RMC14/Stun/RMCSizeStunSystem.cs
  Content.Shared/_RMC14/Stun/RMCStunOnHitComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m74_airburst_grenades.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m79_grenade_launcher.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5825 Disables BreakOnDamage on prying
  Content.Shared/Prying/Systems/PryingSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5288 New IFF Scope Sprites
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rail.rsi/iffbarrel.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rail.rsi/iffbarrel_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rail.rsi/meta.json
Labels: No C#, Changes: Sprites

#5777 DCC rank up fix
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5798 Spawn Map Insert Command + Some solaris fixes
  Content.Server/_RMC14/MapInsert/MapInsertCommand.cs
  Content.Server/_RMC14/MapInsert/MapInsertComponent.cs
  Content.Server/_RMC14/MapInsert/MapInsertSystem.cs
  Resources/Locale/en-US/_RMC14/commands/rmc-toolshed-commands.ftl
  Resources/Maps/_RMC14/Inserts/Solaris/etatunnel_open.yml
  Resources/Maps/_RMC14/Inserts/Solaris/vault_v2.yml
  Resources/Prototypes/_RMC14/Entities/Markers/Inserts/solaris.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, size/XL

#5852 Fix yaml again
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m79_grenade_launcher.yml
Labels: S: Untriaged, Changes: No C#

#5823 Corpsman M10 White Medical Helmet
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/marine_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/medic_white.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/medic_white.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/medic_white.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/medic_white.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Helmets/m10/medic_white.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5874 Mortar operator and loader pamphlets now change your job title and job icon
  Content.Server/_RMC14/TacticalMap/TacticalMapSystem.cs
  Content.Shared/_RMC14/Marines/Skills/Pamphlets/SkillPamphletComponent.cs
  Content.Shared/_RMC14/Marines/Skills/Pamphlets/SkillPamphletSystem.cs
  Content.Shared/_RMC14/Marines/Skills/Pamphlets/UsedSkillPamphletComponent.cs
  Content.Shared/_RMC14/Marines/Squads/GetMarineSquadNameEvent.cs
  Content.Shared/_RMC14/Marines/Squads/SquadSystem.cs
  Content.Shared/_RMC14/TacticalMap/MapBlipIconOverrideComponent.cs
  Resources/Locale/en-US/_RMC14/job/marines.ftl
  Resources/Locale/en-US/_RMC14/pamphlet/rmc-pamphlets.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/pamphlets.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/JobIcons/marines_job_icons.yml
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_load.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_mortar.png
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/meta.json
  Resources/Textures/_RMC14/Interface/map_blips.rsi/loader.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/meta.json
  Resources/Textures/_RMC14/Interface/map_blips.rsi/mortar.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#5877 Fix Commanding Officer Colonel ID
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/role_specific.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5822 new fruit sprites + fruit leftovers + ui changes
  Content.Client/_RMC14/Xenonids/Fruit/XenoFruitChooseBui.cs
  Content.Client/_RMC14/Xenonids/Fruit/XenoFruitVisualizerSystem.cs
  Content.Shared/_RMC14/Xenonids/Fruit/Components/XenoFruitComponent.cs
  Content.Shared/_RMC14/Xenonids/Fruit/SharedXenoFruitSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-fruit.ftl
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_fruit.yml
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_greater.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_greater_immature.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_greater_item.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_greater_spent.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_lesser.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_lesser_immature.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_lesser_item.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_lesser_spent.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_plasma.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_plasma_immature.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_plasma_item.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_plasma_spent.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_speed.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_speed_immature.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_speed_item.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_speed_spent.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_spent.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_spent_2.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_spore.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_spore_immature.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_spore_item.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_spore_spent.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_unstable.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_unstable_immature.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_unstable_item.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/fruit_unstable_spent.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_fruit.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/S

#5803 Hive structure bug fixes
  Content.Server/_RMC14/Announce/XenoAnnounceSystem.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/Xenonids/Announce/SharedXenoAnnounceSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/EggMorpher/EggMorpherSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/Events/XenoRepairStructureDoAfterEvent.cs
  Content.Shared/_RMC14/Xenonids/Construction/Events/XenoStructureRepairedEvent.cs
  Content.Shared/_RMC14/Xenonids/Construction/HiveConstructionRequiresHiveCoreComponent.cs
  Content.Shared/_RMC14/Xenonids/Construction/RepairableXenoStructureComponent.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Evolution/XenoEvolutionSystem.cs
  Content.Shared/_RMC14/Xenonids/Hive/SharedXenoHiveSystem.cs
  Content.Shared/_RMC14/Xenonids/Weeds/XenoWeedsSpreadingComponent.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-abilities.ftl
  Resources/Locale/en-US/_RMC14/xeno/xeno-construction.ftl
  Resources/Prototypes/_RMC14/Entities/Structures/Base/base_structure.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_base_hive.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_egg_morpher.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_cluster.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_core.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_recovery.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/meta.json
  Resources/Textures/_RMC14/Interface/xeno_hud.rsi/xeno_structure_node_indicator.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#5811 Make neck slot layered over facial hair and ID slots.
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/moth.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5858 UL6 personal armor description fix
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/spp.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5866 Prevent "Find Parasite" action from opening standard UI if the user cannot take a parasite role at that time.
  Content.Server/_RMC14/Roles/FindParasiteSystem.cs
  Content.Server/_RMC14/Xenonids/Parasite/XenoParasiteRoleSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5807 Fix tackle stacks getting reset on every knockdown, fix infected not staying down
  Content.Shared/_RMC14/Tackle/TackleSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5733 Adds more clothing options for CO
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5843 New smartgun sounds
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_ml66a_2.ogg
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SmartGuns/smart_gun.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#, Changes: Audio

#5837 Crates
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/crates.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/securecrates.yml
  Resources/Textures/_RMC14/Structures/Storage/Crates/case.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/case.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/Crates/casedouble.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/casedouble.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/Crates/casesmall.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/casesmall.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/Crates/chest.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/chest.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/Crates/chestwhite.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/chestwhite.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/Crates/minicase.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/minicase.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/Crates/minichest.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/minichest.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/Crates/minichestb.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/minichestb.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/Crates/minichestc.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/minichestc.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/Crates/minimedcase.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/minimedcase.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Storage/Crates/securecrate.rsi/base.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/securecrate.rsi/base_unstrapped.png
  Resources/Textures/_RMC14/Structures/Storage/Crates/securecrate.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#5805 ASO Command Requirement
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5808 Fix reinforced tables dropping 60 rods when rav assault is used
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/tables.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5821 Pistol Holster camo, and holstered visuals
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/b92fs.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/mk45_pistol.yml
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol.rsi/full-equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol.rsi/full-equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol.rsi/full.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol.rsi/half.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol.rsi/icon-front.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/classic-jungle-urban.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/classic-jungle-urban.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/classic-jungle-urban.rsi/full-equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/classic-jungle-urban.rsi/full-equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/classic-jungle-urban.rsi/full.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/classic-jungle-urban.rsi/half.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/classic-jungle-urban.rsi/icon-front.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/classic-jungle-urban.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/classic-jungle-urban.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/classic-jungle-urban.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/classic-jungle-urban.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/desert.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/desert.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/desert.rsi/full-equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/desert.rsi/full-equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/desert.rsi/full.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/desert.rsi/half.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/desert.rsi/icon-front.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/desert.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/desert.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/desert.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/desert.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/snow.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/snow.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/snow.rsi/full-equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/snow.rsi/full-equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/snow.rsi/full.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/snow.rsi/half.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/snow.rsi/icon-front.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/snow.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/snow.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/snow.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/holster_pistol/snow.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#5813 Fix wyvern stats
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/co_d50_winter_wyvern.yml
Labels: S: Needs Review, Changes: No C#, size/S

#5795 Fix mortar kit spawning empty
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/mortar_kit.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5804 Port Draconic Wings from Cosmatic Drift
  Resources/Locale/en-US/_RMC14/markings/reptilian.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/_RMC14/Mobs/Customization/reptilian.rsi/body_dragonwings.png
  Resources/Textures/_RMC14/Mobs/Customization/reptilian.rsi/body_dragonwings_membrane.png
  Resources/Textures/_RMC14/Mobs/Customization/reptilian.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5826 Sidearm pouch holstered gun visuals.
  Resources/Prototypes/_RMC14/Entities/Clothing/Pouches/weapons.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/mateba.yml
Labels: S: Needs Review, S: Merge Conflict, Changes: No C#, size/S

#5889 Make effects render over xenos and humans in night vision
  Resources/Prototypes/Entities/Markers/pointing.yml
  Resources/Prototypes/_RMC14/Effects/attack.yml
  Resources/Prototypes/_RMC14/Effects/base.yml
  Resources/Prototypes/_RMC14/Effects/disarm.yml
  Resources/Prototypes/_RMC14/Effects/emotes.yml
  Resources/Prototypes/_RMC14/Effects/empower.yml
  Resources/Prototypes/_RMC14/Effects/heal.yml
  Resources/Prototypes/_RMC14/Effects/screech.yml
  Resources/Prototypes/_RMC14/Effects/slam.yml
  Resources/Prototypes/_RMC14/Effects/slash.yml
Labels: S: Needs Review, Changes: No C#, size/S

#5888 Fix healer appearing twice in evolve menu
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
Labels: S: Needs Review, Changes: No C#

#5887 Ports Corporate Weapons for Exterminators and PMCs
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/pmc.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c2_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/m63_smg.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/m63b2_smg.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SmartGuns/smart_gun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Textures/_RMC14/Objects/Clothing/Head/PMC/commando.rsi/equipped-HELMET-Layer.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/PMC/commando.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m12blast.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m12blast.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Grenades/m12blast.rsi/primed.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/SmartGuns/magazine_smart_gun_deplated.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/SmartGuns/magazine_smart_gun_deplated.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/SmartGuns/magazine_smart_gun_deplated.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m54c2_stocks.rsi/m54c-col-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m54c2_stocks.rsi/m54c-col.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m54c2_stocks.rsi/m54c-col_a-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m54c2_stocks.rsi/m54c-col_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m54c2_stocks.rsi/m54c-solid.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m54c2_stocks.rsi/m54c-solid_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/m54c2_stocks.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c2.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c2.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c2.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c2.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c2.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c2.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c2.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c2.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c2.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c2.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54c2.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63b2.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63b2.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63b2.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63b2.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63b2.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63b2.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63b2.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63b2.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63b2.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63b2.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/m63b2.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/Icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml79a.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#5886 Stupid mini fixes
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/mateba.yml
  Resources/Textures/_RMC14/Structures/Storage/Crates/securecrate.rsi/meta.json
Labels: S: Untriaged, Changes: No C#

#5819 Burrower icon update + more map blip ports
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/liaison.yml
  Resources/Textures/_RMC14/Interface/cm_job_icons.rsi/hudsquad_researcher.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/ass_man.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/background_nspa.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/background_spp_alpha.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/background_spp_bravo.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/background_spp_charlie.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/background_spp_delta.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/background_visit_command.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/background_wy_management.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/burrower.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/chief_man.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/cmb_spc.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/defibbable.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/defibbable2.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/defibbable3.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/defibbable4.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/dep_director.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/director.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/div_man.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/exec_spec.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/exec_super.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/facehugger.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/field_doctor.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/goon_med.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/goon_sci_lead.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/junior_exec.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/loader.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/meta.json
  Resources/Textures/_RMC14/Interface/map_blips.rsi/mortar.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/placeholder.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/pmc_gun.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/pmc_handler.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/pmc_mi.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/pmc_mp.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/pmc_spec.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/pmc_vc.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/rmc_commander.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/rmc_major.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/rmc_medic.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/senior_exec.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/sensor_tower.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/spotter.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/trainee.png
  Resources/Textures/_RMC14/Interface/map_blips.rsi/undefibbable.png
Labels: Changes: Sprites, Changes: No C#, size/M

#5865 Hive structures retexture
  Content.Client/_RMC14/Xenonids/Construction/EggmorpherVisualizerSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/EggMorpher/EggMorpherComponent.cs
  Content.Shared/_RMC14/Xenonids/Construction/EggMorpher/EggMorpherSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-construction.ftl
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_egg_morpher.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_cluster.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_core.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
  Resources/Textures/_RMC14/Structures/Xenos/hive_cluster.rsi/hive_cluster.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_cluster.rsi/hive_cluster_idle.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_cluster.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures.rsi/core.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures.rsi/eggmorph.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures.rsi/eggmorph_0.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures.rsi/eggmorph_1.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures.rsi/eggmorph_2.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures.rsi/eggmorph_3.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures.rsi/eggmorph_overlay.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures.rsi/eggmorph_preview.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures.rsi/eggmorph_underlay.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures.rsi/pylon.png
  Resources/Textures/_RMC14/Structures/Xenos/hive_structures.rsi/recovery.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#5880 Make attacking/tackling cause a delay for pulling
  Content.Shared/_RMC14/Pulling/RMCPullingSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5763 Senior officer vendor parity. + QM jacket
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/qm.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/qm.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Coats/qm.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#5885 Add external webbing
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/webbing.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Misc/external_webbing.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Misc/external_webbing.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Misc/external_webbing.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5873 Joke Plushies
  Resources/Prototypes/_RMC14/Entities/Objects/Fun/toys.yml
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/plushie_moth.png
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/xippy.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#4221 add more underwear variants + new sprites
  Resources/Locale/en-US/_RMC14/markings/undershirt.ftl
  Resources/Locale/en-US/_RMC14/markings/underwear.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Textures/_RMC14/Mobs/Customization/undershirt.rsi/c_strapless.png
  Resources/Textures/_RMC14/Mobs/Customization/undershirt.rsi/d_strapless.png
  Resources/Textures/_RMC14/Mobs/Customization/undershirt.rsi/j_strapless.png
  Resources/Textures/_RMC14/Mobs/Customization/undershirt.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Customization/undershirt.rsi/s_strapless.png
  Resources/Textures/_RMC14/Mobs/Customization/undershirt.rsi/u_bra.png
  Resources/Textures/_RMC14/Mobs/Customization/undershirt.rsi/u_sports.png
  Resources/Textures/_RMC14/Mobs/Customization/undershirt.rsi/u_strapless.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/c_boxers.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/c_briefs.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/c_lowriders.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/c_satin.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/c_tanga.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/classic_tanga.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/d_boxers.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/d_briefs.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/d_lowriders.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/d_satin.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/d_tanga.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/desert_tanga.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/j_boxers.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/j_briefs.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/j_lowriders.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/j_satin.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/j_tanga.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/jungle_tanga.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/s_boxers.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/s_briefs.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/s_lowriders.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/s_satin.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/s_tanga.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/snow_tanga.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/urban_boxers.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/urban_briefs.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/urban_lowriders.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/urban_satin.png
  Resources/Textures/_RMC14/Mobs/Customization/underwear.rsi/urban_tanga.png
Labels: No C#, Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#5893 Fix runner outrunning entity render range
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/runner.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#5894 figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/rosalind_hex_volkov.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/stella_cowabunga__stewart.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5902 Flag fix
  Resources/Textures/_RMC14/Objects/Flags/un_flag.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Flags/un_flag.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Flags/un_flag.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Flags/un_flag.rsi/un_deploy.png
  Resources/Textures/_RMC14/Objects/Flags/un_flag.rsi/un_icon.png
  Resources/Textures/_RMC14/Objects/Flags/un_flag.rsi/un_inhand_left.png
  Resources/Textures/_RMC14/Objects/Flags/un_flag.rsi/un_inhand_right.png
  Resources/Textures/_RMC14/Objects/Flags/unmc_flag.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Flags/unmc_flag.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Flags/unmc_flag.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Flags/unmc_flag.rsi/unmc_deploy.png
  Resources/Textures/_RMC14/Objects/Flags/unmc_flag.rsi/unmc_icon.png
  Resources/Textures/_RMC14/Objects/Flags/unmc_flag.rsi/unmc_inhand_left.png
  Resources/Textures/_RMC14/Objects/Flags/unmc_flag.rsi/unmc_inhand_right.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#

#5903 Mateba and Rifle HEAP Stat fixes
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/mateba.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_rifle.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5904 Atmospherics Update (Real)
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/washing_machine.yml
  Resources/Prototypes/_RMC14/Entities/Structures/canisters.yml
  Resources/Prototypes/_RMC14/Entities/Structures/rmc_atmos_props.yml
  Resources/Textures/_RMC14/Structures/atmos.rsi/black-1.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/black.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/blue-1.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/blue.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/can-connector.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/can-o0.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/can-o1.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/can-o2.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/can-o3.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/can-oa1.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/can-open.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/grey-1.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/grey.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/meta.json
  Resources/Textures/_RMC14/Structures/atmos.rsi/orange-1.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/orange.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/pscrubber_0.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/pscrubber_1.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/psiphon_0.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/psiphon_1.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/radiator-r.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/radiator.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/red-1.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/red.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/redws-1.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/redws.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/scrubber-connector.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/scrubber-open.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/scrubber_0.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/scrubber_1.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/scrubber_T.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/sheater-open.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/sheater0.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/sheater1.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/siphon-connector.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/siphon-open.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/siphon_0.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/siphon_1.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/siphon_T.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/yellow-1.png
  Resources/Textures/_RMC14/Structures/atmos.rsi/yellow.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#5898 Boonies hats
  Resources/Locale/en-US/foldable/components/foldable-component.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/boonie.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/headwear.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/classic.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/classic.rsi/flipped-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/classic.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/classic.rsi/icon_flipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/classic.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/desert.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/desert.rsi/flipped-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/desert.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/desert.rsi/icon_flipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/desert.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/jungle.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/jungle.rsi/flipped-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/jungle.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/jungle.rsi/icon_flipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/jungle.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/snow.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/snow.rsi/flipped-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/snow.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/snow.rsi/icon_flipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/urban.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/urban.rsi/flipped-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/urban.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/urban.rsi/icon_flipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie/urban.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/classic.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/classic.rsi/flipped-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/classic.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/classic.rsi/icon_flipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/classic.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/desert.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/desert.rsi/flipped-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/desert.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/desert.rsi/icon_flipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/desert.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/jungle.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/jungle.rsi/flipped-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/jungle.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/jungle.rsi/icon_flipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/jungle.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/snow.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/snow.rsi/flipped-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/snow.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/snow.rsi/icon_flipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/urban.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/urban.rsi/flipped-equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/urban.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/urban.rsi/icon_flipped.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/boonie_tan/urban.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#5900 Fix helmet accessory limit
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/basic_helmets.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#5897 Change M54C MK1 suit-storage sprite to appear with the hip
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54cmk1.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54cmk1.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5896 Adds missing ranks
  Resources/Prototypes/_RMC14/Roles/Ranks/Colony/cmb.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/Other/contractors.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/Other/freelancer.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/Other/misc.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/SPP/socialist.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/TSE/tsemarines.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/UNMC/navy.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/We-Ya/corporate.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/We-Ya/liaison.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/We-Ya/pmc.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/M

#5875 Remove intel squad stripes
  Content.Shared/_RMC14/Marines/Squads/SquadMemberComponent.cs
  Content.Shared/_RMC14/Marines/Squads/SquadSystem.cs
  Content.Shared/_RMC14/Marines/Squads/SquadTeamComponent.cs
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/squads.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5838 Add new M54C sounds
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_m54c_1.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_m54c_2.ogg
  Resources/Prototypes/_RMC14/Audio/gun_sound_collections.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S, Changes: Audio

#5905 Adds TSEPA ranks
  Resources/Prototypes/_RMC14/Roles/Ranks/Colony/TSEpolice.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5908 Fix helmet accessory patrol caps
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/hats.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#5909 Fix racks being improperly placed
  Content.Shared/_RMC14/Weapons/Melee/SharedRMCMeleeWeaponSystem.cs
  Content.Shared/_RMC14/Xenonids/Lunge/XenoLungeSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/rack.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5932 Fix Bodybags not being able to Buckle onto Rollerbeds/Medevac.
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bodybags.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5950 Fix cash sprites
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/spacecash.yml
Labels: S: Untriaged, Changes: No C#, size/S

#5952 fixed yml errors
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Science/Dispensers/chem.yml
  Resources/Textures/_RMC14/Objects/Flags/un_flag.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Flags/unmc_flag.rsi/meta.json
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/M

#5942 Fix marine operations uniform camo not working
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#5937 New spit sprit
  Resources/Textures/_RMC14/Objects/Xeno/xeno_projectiles.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Xeno/xeno_projectiles.rsi/xeno_acid_normal.png
  Resources/Textures/_RMC14/Objects/Xeno/xeno_projectiles.rsi/xeno_acid_strong.png
  Resources/Textures/_RMC14/Objects/Xeno/xeno_projectiles.rsi/xeno_acid_weak.png
Labels: Changes: Sprites, S: Needs Review, size/XS, Changes: No C#

#5966 Fixes M15 grenades not fitting in M79 and fixes UGL not fitting airburst
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m74_airburst_grenades.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_RMC14/tags.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5974 Fix species names and add 58 more Avali names
  Resources/Locale/en-US/_RMC14/avali/avali.ftl
  Resources/Locale/en-US/_RMC14/rodentia/rodentia.ftl
  Resources/Locale/en-US/_RMC14/vulpkanin/vulpkanin.ftl
  Resources/Prototypes/Entities/Structures/Furniture/carpets.yml
  Resources/Prototypes/_RMC14/Datasets/avali_names.yml
  Resources/Prototypes/_RMC14/Datasets/rodentia_female.yml
  Resources/Prototypes/_RMC14/Datasets/rodentia_last.yml
  Resources/Prototypes/_RMC14/Datasets/rodentia_male.yml
  Resources/Prototypes/_RMC14/Datasets/vulpkanin_female.yml
  Resources/Prototypes/_RMC14/Datasets/vulpkanin_last.yml
  Resources/Prototypes/_RMC14/Datasets/vulpkanin_male.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/carpets.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/medilathe.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/L

#5920 moves mess tech from planned to complete in the roadmap
  Content.Client/_RMC14/Roadmap/RoadmapWindow.xaml
Labels: S: Needs Review, Changes: UI, S: Untriaged, size/XS, Changes: No C#

#5994 Add new xeno tackle effects
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_RMC14/Tackle/TackleSystem.cs
  Content.Shared/_RMC14/Tackle/TackleableComponent.cs
  Resources/Audio/_RMC14/Weapons/alien_knockdown.ogg
  Resources/Audio/_RMC14/Weapons/attributions.yml
  Resources/Prototypes/_RMC14/Effects/disarm.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: S: Needs Review, S: Untriaged, size/S, Changes: Audio

#5993 Add obstacle slamming
  Content.Shared/_RMC14/Damage/ObstacleSlamming/RMCObstacleSlammingComponent.cs
  Content.Shared/_RMC14/Damage/ObstacleSlamming/RMCObstacleSlammingSystem.cs
  Resources/Locale/en-US/_RMC14/mobs/obstacles.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: S: Needs Review, S: Untriaged, size/M

#5978 Fix fruit beer sprite
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/fruit_beer.rsi/crushed.png
  Resources/Textures/_RMC14/Objects/Consumable/Drinks/fruit_beer.rsi/icon.png
Labels: Changes: Sprites, S: Untriaged, Changes: No C#

#5984 Hivecore and pylon roof area fix
  Content.Shared/_RMC14/Areas/RoofingEntityComponent.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_core.yml
Labels: S: Needs Review, S: Untriaged, size/XS

#5954 added M74 grenate packs to req
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
Labels: S: Needs Review, Changes: No C#, size/S

#5971 Fix game breaking mess tech bug (make freezer crate actually a freezer)
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/crates.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5969 Fixes PassThrough on map inserts
  Content.Server/_RMC14/MapInsert/MapInsertSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5995 Corpses now spawn as any species
  Content.Server/_RMC14/Spawners/CorpseSpawnerComponent.cs
  Content.Server/_RMC14/Spawners/RMCSpawnerSystem.cs
  Resources/Prototypes/_RMC14/Entities/Markers/Spawners/Corpses/base.yml
  Resources/Prototypes/_RMC14/Entities/Markers/Spawners/Corpses/civilians.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Corpses/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Corpses/civilians.yml
Labels: S: Needs Review, S: Untriaged, size/M

#5987 Fix underwear
  Resources/Prototypes/_RMC14/Entities/Mobs/Customization/Markings/undershirt.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#6001 AI Core and Many Props
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/aicore.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/telecommunications.yml
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicore.rsi/hydra-off.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicore.rsi/hydra.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicore.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicoremachinery.rsi/apollo_processor.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicoremachinery.rsi/apollo_processor_off.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicoremachinery.rsi/bio_processor.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicoremachinery.rsi/bio_processor_off.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicoremachinery.rsi/console.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicoremachinery.rsi/cpu.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicoremachinery.rsi/cpu_off.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicoremachinery.rsi/int_processor.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicoremachinery.rsi/int_processor_off.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicoremachinery.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicoremachinery.rsi/processor.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicoremachinery.rsi/processor_off.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicoremachinery.rsi/substrate.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/aicoremachinery.rsi/substrate_off.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/WY_server_broken.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/WY_server_off.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/WY_server_on.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/blackbox.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/blackbox_empty.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/broadcast_receiver.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/broadcast_receiver_off.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/broadcaster.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/broadcaster_off.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/broadcaster_send.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/bus.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/bus_off.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/hub.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/hub_off.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/laptop-gun.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/laptop_closed.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/laptop_off.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/laptop_on.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/processor.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/processor_off.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/rackframe.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/rackframe_broken.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/relay.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/relay_broken.png
  Resources/Textures/_RMC14/Structures/Machines/AIStuff/telecommunication.rsi/relay_off.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#5976 Minor Hybrisa Fixes
  Resources/Prototypes/_RMC14/Entities/Structures/fence.yml
  Resources/Prototypes/_RMC14/Entities/Structures/prop_vehicles.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/hybrisa_fence.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/hybrisa_fence_electric.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5941 Fix bipod not slowing on break + fix drop not breaking it
  Content.Shared/_RMC14/Attachable/Components/AttachableToggleableComponent.cs
  Content.Shared/_RMC14/Attachable/Systems/AttachableHolderSystem.cs
  Content.Shared/_RMC14/Attachable/Systems/AttachableToggleableSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/rail_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5955 Hive Structure Fixed Pt.2
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Hive/SharedXenoHiveSystem.cs
  Content.Shared/_RMC14/Xenonids/Weeds/SharedXenoWeedsSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5938 Add Gnarp Gnarp plush
  Resources/Prototypes/_RMC14/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/plushies.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/gnarp.png
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/gnarp_alt.png
  Resources/Textures/_RMC14/Objects/Fun/plushies.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5996 M54CE2 HT Band Colour Change
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_heavy_rifle.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5988 Vanguard shield no longer decays from very low damage
  Content.Shared/_RMC14/Shields/VanguardShieldComponent.cs
  Content.Shared/_RMC14/Shields/VanguardShieldSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5997 Grass landing radius for small drone is limited
  Content.Shared/_RMC14/Xenonids/Construction/Events/XenoPlantWeedsActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Weeds/SharedXenoWeedsSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_construction_actions.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lesser_drone.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5979 Resprite Nailgun
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/nailgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/nailgun.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/nailgun.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/nailgun.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/nailgun.rsi/mag-2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/nailgun.rsi/mag-3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/nailgun.rsi/mag-4.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/nailgun.rsi/mag-5.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/nailgun.rsi/mag-6.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/nailgun.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/mag-2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/mag-3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/mag-4.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/mag-2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/mag-3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/mag-4.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/mag-2.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/mag-3.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/mag-4.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/S

#5973 increase tailstab range by .5
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#5970 Helmet Garb 2: Garboogaloo
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/basic_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/helmet_garbs.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/cigar.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/cigarettes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/matchbooks.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Smokeables/matches.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/head_garbs.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather_blue.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather_blue.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather_blue.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather_purple.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather_purple.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather_purple.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather_red.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather_red.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather_red.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather_yellow.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather_yellow.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Feathers/feather_yellow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/CigPacks/exec.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/CigPacks/exec.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/CigPacks/sloths.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/CigPacks/sloths.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/CigPacks/weya.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/CigPacks/weya.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/Zippos/execzippo.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/Zippos/execzippo.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/Zippos/goldzippo.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/Zippos/goldzippo.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/Zippos/zippo.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/Zippos/zippo.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/cheap_lighter.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/cheap_lighter.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/cigar.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/cigar.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/matches/matches.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/matches/matches.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/matches/matches_mre.rsi/helmet.png
  Resources/Textures/_RMC14/Objects/Clothing/HelmetGarb/Smoking/matches/matches_mre.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M

#5946 New M54C Sounds 2: Electric Pulse Action Boogaloo
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_m54c_1.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_m54c_2.ogg
  Resources/Prototypes/_RMC14/Audio/gun_sound_collections.yml
Labels: S: Needs Review, size/XS, Changes: No C#, Changes: Audio

#5930 Fix Morgue/Crematorium capacity
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#5943 Fix acid melt times
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Xenonids/Acid/CorrodibleComponent.cs
  Content.Shared/_RMC14/Xenonids/Acid/SharedXenoAcidSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Base/base_structure.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5926 Removes PVE Map Table
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/rmc_pvemaptable.yml
  Resources/Textures/_RMC14/Structures/Machines/maptablepve.rsi/h_maptable1.png
  Resources/Textures/_RMC14/Structures/Machines/maptablepve.rsi/h_maptable1_e.png
  Resources/Textures/_RMC14/Structures/Machines/maptablepve.rsi/h_maptable2.png
  Resources/Textures/_RMC14/Structures/Machines/maptablepve.rsi/h_maptable2_e.png
  Resources/Textures/_RMC14/Structures/Machines/maptablepve.rsi/h_maptable3.png
  Resources/Textures/_RMC14/Structures/Machines/maptablepve.rsi/h_maptable3_e.png
  Resources/Textures/_RMC14/Structures/Machines/maptablepve.rsi/h_maptable4.png
  Resources/Textures/_RMC14/Structures/Machines/maptablepve.rsi/h_maptable4_e.png
  Resources/Textures/_RMC14/Structures/Machines/maptablepve.rsi/h_maptable5.png
  Resources/Textures/_RMC14/Structures/Machines/maptablepve.rsi/h_maptable5_e.png
  Resources/Textures/_RMC14/Structures/Machines/maptablepve.rsi/h_maptable6.png
  Resources/Textures/_RMC14/Structures/Machines/maptablepve.rsi/h_maptable6_e.png
  Resources/Textures/_RMC14/Structures/Machines/maptablepve.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#, size/M

#5929 aresannounce command for admins
  Content.Server/_RMC14/Marines/AresAnnounceCommand.cs
  Content.Server/_RMC14/Marines/MarineAnnounceSystem.cs
  Resources/Audio/_RMC14/AI/announce.ogg
  Resources/Audio/_RMC14/AI/attributions.yml
  Resources/Locale/en-US/_RMC14/chat/announcement.ftl
  Resources/Locale/en-US/_RMC14/commands/rmc-announce.ftl
Labels: S: Needs Review, S: Untriaged, size/S, Changes: Audio

#5949 show the current tech tier in the objectives window
  Content.Client/_RMC14/Intel/ViewIntelObjectivesBui.cs
  Content.Client/_RMC14/Intel/ViewIntelObjectivesWindow.xaml
Labels: S: Needs Review, Changes: UI, S: Untriaged, size/S

#5953 Ports Hunting Rifle & MAR 50
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_boltaction.ogg
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/barrel_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/rail_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/BoltAction/huntingrifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/LMGs/mar50.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/hunting.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/hunting.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/hunting.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mar50.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mar50.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mar50.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mar50ap.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mar50ap.rsi/mag-1.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/mar50ap.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/mar50barrel_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rail.rsi/huntingscope_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rail.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/huntingstock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/mar50.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/mar50.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/mar50.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/mar50.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/mar50.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/mar50.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/mar50.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/mar50.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/mar50.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/mar50.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/LMGs/mar50.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/hunting.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/hunting.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/hunting.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/hunting.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/hunting.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/hunting.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/hunting.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/hunting.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/hunting.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/hunting.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/hunting.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Needs Review, Changes: No C#, size/M, Changes: Audio

#5914 Hive weed sources can now actually spread on semi-weedable tiles
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_cluster.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/Hive/xeno_hive_core.yml
Labels: S: Needs Review, size/XS, Changes: No C#

#5960 decouple jackets and hats from armor
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/intel.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/senior_enlisted_advisor.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/S

#5842 build speed of queen fixed
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#6006 fixes the copyright of the nailgun ammo sprites
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/nailgun.rsi/meta.json
Labels: S: Untriaged, size/XS, Changes: No C#

#5989 Allow xenos to pull some infected dead + no dead body traps
  Content.Server/_RMC14/Xenonids/Construction/ResinHole/XenoResinHoleSystem.cs
  Content.Shared/_RMC14/Pulling/AllowPullWhileDeadAndInfectedComponent.cs
  Content.Shared/_RMC14/Pulling/RMCPullingSystem.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-construction.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5944 Split Brute Armor into three.
  Content.Shared/_RMC14/Armor/CMArmorComponent.cs
  Content.Shared/_RMC14/Armor/CMArmorSystem.cs
  Content.Shared/_RMC14/Armor/CMGetArmorEvent.cs
  Content.Shared/_RMC14/Weapons/Ranged/RMCBulletComponent.cs
  Content.Shared/_RMC14/Xenonids/Crest/XenoCrestSystem.cs
  Content.Shared/_RMC14/Xenonids/Fortify/XenoFortifySystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/XenoSpitSystem.cs
  Content.Shared/_RMC14/Xenonids/Tantrum/XenoTantrumSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/armored_vest.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/basic_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/cmb.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/detective_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/faction_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/faction_coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/pmc.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/provost.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/royal.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/security_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/spp.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/boiler.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/defender.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/ravager.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/spitter.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/warrior.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/cm_base_gun.yml
Labels: S: Needs Review, S: Untriaged, size/M

#6008 Changed sprites
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rail.rsi/magnetic.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rail.rsi/magnetic_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rail.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/under.rsi/flashgrip-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/under.rsi/flashgrip.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/under.rsi/flashgrip_a-on.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/under.rsi/flashgrip_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/under.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: No C#

#5992 Doafter bars now have the same opacity as the entity performing the action.
  Content.Client/DoAfter/DoAfterOverlay.cs
  Content.Client/_RMC14/Effect/RMCEffectSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/DoAfter/DoAfterArgs.cs
  Content.Shared/Prying/Systems/PryingSystem.cs
  Content.Shared/Sticky/Systems/StickySystem.cs
  Content.Shared/Strip/SharedStrippableSystem.cs
  Content.Shared/Whistle/WhistleSystem.cs
  Content.Shared/_RMC14/Effect/RMCEffectComponent.cs
  Content.Shared/_RMC14/Fireman/FiremanCarrySystem.cs
  Content.Shared/_RMC14/Mortar/SharedMortarSystem.cs
  Content.Shared/_RMC14/Pulling/RMCPullingSystem.cs
  Content.Shared/_RMC14/Sensor/SensorTowerSystem.cs
  Content.Shared/_RMC14/Suicide/RMCSuicideSystem.cs
  Content.Shared/_RMC14/Xenonids/Devour/XenoDevourSystem.cs
  Resources/Prototypes/_RMC14/Effects/base.yml
Labels: S: Needs Review, S: Untriaged, size/M

#5912 Highlighting the speech of squad and hive leaders in a speech bubble
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Client/Stylesheets/StyleNano.cs
Labels: S: Needs Review, S: Untriaged, size/S

#5959 Pilot lights were not hot. Added heat to Pilot lights!
  Content.Shared/_RMC14/Weapons/Ranged/Flamer/SharedRMCFlamerSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/paper.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5924 Increased text size in radio for commander headsets
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/Components/HeadsetComponent.cs
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/marine_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/provost_headsets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Ears/ship_headsets.yml
Labels: S: Needs Review, S: Untriaged, size/S

#5921 Add 20 minute setup period where NewCoreCooldown does not apply
  Content.Server/_RMC14/Xenonids/Construction/XenoPylonSystem.cs
  Content.Shared/_RMC14/Xenonids/Hive/HiveComponent.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#5928 CMB Revolver Resprite
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/equipped-BACKPACK.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, S: Needs Review, size/XS, Changes: No C#

#5781 added spam cans to the cargo munitions vendor
  Content.Shared/_RMC14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
Labels: S: Needs Review, S: Untriaged, size/S

#4682 Add set pose
  Content.Client/_RMC14/Examine/RMCSetPoseSystem.cs
  Content.Server/_RMC14/Examine/RMCSetPoseSystem.cs
  Content.Shared/_RMC14/Examine/Pose/RMCSetPoseComponent.cs
  Content.Shared/_RMC14/Examine/Pose/SharedRMCSetPoseSystem.cs
  Resources/Locale/en-US/_RMC14/pose/set-pose.ftl
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
Labels: S: Needs Review
