Repository RMC-14/RMC-14, pull requests merged in 2025-01, with the labels that each got.

#5295 M59 Attachment Fixes
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m59a_prototype_rifle.yml
Labels: No C#, Status: Needs Review

#5277 Fix healer drones surviving sacrifice
  Content.Shared/_RMC14/Xenonids/Heal/SharedXenoHealSystem.cs
Labels: Status: Needs Review

#5272 Makes Rods fit into the construction rig
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
Labels: No C#, Status: Needs Review

#5297 Adds RMCHolidaySystem
  Content.Client/_RMC14/Holiday/RMCHolidaySystem.cs
  Content.Client/_RMC14/Vendors/CMAutomatedVendorBui.cs
  Content.Server/_RMC14/Holiday/RMCHolidaySystem.cs
  Content.Shared/_RMC14/Holiday/RMCHolidaySystem.cs
  Content.Shared/_RMC14/Holiday/RMCHolidayTrackerComponent.cs
  Content.Shared/_RMC14/Vendors/CMVendorSection.cs
  Content.Shared/_RMC14/Vendors/SharedCMAutomatedVendorSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/prepared.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/food.yml
Labels: Status: Needs Review

#5286 M4SPR custom barrel fix
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_scout_rifle.yml
Labels: No C#, Status: Needs Review

#5276 Xeno wideswing keybind option
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/_RMC14/Input/CMKeyFunctions.cs
  Resources/Locale/en-US/_RMC14/escape-menu/options-menu.ftl
Labels: Status: Needs Review, Changes: UI

#5270 Nailgun Materials Fix
  Content.Shared/_RMC14/Repairable/RMCRepairableSystem.cs
Labels: Status: Needs Review

#5267 Fix extra sprite
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/flipped-equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#5247 figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/fae_petrovic.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/hexathele_hasselti.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/kasumi.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/kipped_kipper.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/muz.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/nova_stargazer.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5290 Fix missing names for tacwrap variations
  Resources/Prototypes/_RMC14/Entities/Clothing/Masks/scarfs.yml
Labels: No C#, Status: Needs Review

#5250 Salve sprites
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Textures/_RMC14/Mobs/OldXenonids/Drone/gardener_drone.rsi/gardener_rest.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Drone/gardener_drone.rsi/sleeping.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Drone/healer_drone.rsi/alive.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Drone/healer_drone.rsi/crit.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Drone/healer_drone.rsi/dead.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Drone/healer_drone.rsi/meta.json
  Resources/Textures/_RMC14/Mobs/OldXenonids/Drone/healer_drone.rsi/salved.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Drone/healer_drone.rsi/salved_downed.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Drone/healer_drone.rsi/salved_rest.png
  Resources/Textures/_RMC14/Mobs/OldXenonids/Drone/healer_drone.rsi/sleeping.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/salved.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/salved_downed.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Drone/healer_drone.rsi/salved_rest.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5307 Rack Parts can be Dismantled
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/rack_parts.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe_recipes.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/rack.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/furniture/rack.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/furniture.yml
  Resources/Textures/_RMC14/Objects/Materials/rack_parts.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Materials/rack_parts.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#5322 Placing tunnels cost plasma (even when not on a node)
  Content.Server/_RMC14/Xenonids/Construction/Tunnel/XenoTunnelSystem.cs
Labels: Status: Needs Review

#5317 Broken fences
  Resources/Prototypes/_RMC14/Entities/Structures/fence.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/structures/fence.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/structures.yml
Labels: No C#, Status: Needs Review

#5315 Table part deconstruction
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/table_parts.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/furniture/tableparts.yml
Labels: No C#, Status: Needs Review

#5291 Adjust XM88 Hit stack stats
  Content.Shared/_RMC14/Weapons/Ranged/Stacks/GunStacksComponent.cs
Labels: Status: Needs Review

#5262 Fix welding tanks
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/reagent_tank.yml
Labels: No C#, Status: Needs Review

#5261 Add wallmount rotary phone
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Structures/rotary_phone.yml
  Resources/Textures/_RMC14/Structures/wallmount_phone.rsi/meta.json
  Resources/Textures/_RMC14/Structures/wallmount_phone.rsi/wall_phone.png
  Resources/Textures/_RMC14/Structures/wallmount_phone.rsi/wall_phone_ear.png
  Resources/Textures/_RMC14/Structures/wallmount_phone.rsi/wall_phone_ring.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5269 Prae spit fix
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
Labels: No C#

#5244 Fixes Devouring Already Nested Hosts
  Content.Shared/_RMC14/Xenonids/Devour/XenoDevourSystem.cs
Labels: Status: Needs Review

#5287 M4SPR Barrel Attachment Tweak
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_rifle.yml
Labels: No C#, Status: Needs Review

#5330 Fix XM88's Gun Stacks System
  Content.Shared/_RMC14/Weapons/Ranged/Stacks/GunStacksActiveComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Stacks/GunStacksComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Stacks/GunStacksSystem.cs
  Resources/Locale/en-US/_RMC14/weapons/guns.ftl
Labels: Status: Needs Review

#5329 New defense icons + updates on changes
  Content.Shared/_RMC14/Armor/CMArmorSystem.cs
  Content.Shared/_RMC14/Atmos/SharedRMCFlammableSystem.cs
  Content.Shared/_RMC14/Xenonids/Crest/XenoCrestSystem.cs
  Content.Shared/_RMC14/Xenonids/Fortify/XenoFortifySystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/XenoSpitSystem.cs
  Resources/Prototypes/_RMC14/Alerts/Xeno/xeno_armor_alerts.yml
  Resources/Textures/_RMC14/Interface/Alerts/xeno_armor.rsi/armor_10.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_armor.rsi/armor_100.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_armor.rsi/armor_20.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_armor.rsi/armor_30.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_armor.rsi/armor_40.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_armor.rsi/armor_50.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_armor.rsi/armor_60.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_armor.rsi/armor_70.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_armor.rsi/armor_80.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_armor.rsi/armor_90.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_armor.rsi/armor_max.png
  Resources/Textures/_RMC14/Interface/Alerts/xeno_armor.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#5334 Fix idle outgoing telephone sound not playing
  Content.Shared/_RMC14/Telephone/SharedTelephoneSystem.cs
Labels: Status: Needs Review

#5331 Destroy fueltanks upon detonation
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/reagent_tank.yml
Labels: No C#, Status: Needs Review

#5319 figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/kyrus.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/taleryn_vogsburg.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5345 Finish eyewear loadouts, change some eyewear sprites
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/eyewear.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/M1A1_Ballistic_goggles.rsi/equipped-EYES.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/M1A1_Ballistic_goggles.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/M1A1_Ballistic_goggles.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/Prescription_ballistic_goggles.rsi/equipped-EYES.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/Prescription_ballistic_goggles.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/Prescription_ballistic_goggles.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/ballistic_goggles.rsi/equipped-EYES.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/ballistic_goggles.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/black_ballistic_goggles.rsi/equipped-EYES.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/black_ballistic_goggles.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/black_ballistic_goggles.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/black_ballistic_goggles.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/black_ballistic_goggles.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/black_ballistic_goggles.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/orange_ballistic_goggles.rsi/equipped-EYES.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/orange_ballistic_goggles.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/orange_ballistic_goggles.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/orange_ballistic_goggles.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/orange_ballistic_goggles.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/orange_ballistic_goggles.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/rpglasses.rsi/equipped-EYES.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/rpglasses.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/rpglasses.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/rpglasses.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/rpglasses.rsi/inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5346 Add squad headbands, berets, and scarves
  Content.Shared/_RMC14/Marines/Squads/RMCMapToSquadComponent.cs
  Content.Shared/_RMC14/Marines/Squads/SquadSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/headband.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Masks/scarfs.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/headwear.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/masks.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/alpha.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/alpha.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/alpha.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/base.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/base.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/base.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/bravo.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/bravo.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/bravo.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/charlie.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/charlie.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/charlie.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/delta.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/delta.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/delta.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/echo.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/echo.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/echo.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/foxtrot.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/foxtrot.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/foxtrot.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/intel.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/intel.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/SquadBeret/intel.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/beret_squad.rsi/badge.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/beret_squad.rsi/icon-badge.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/beret_squad.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/headband/squad.rsi/equipped-HELMET.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/headband/squad.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Head/Hats/headband/squad.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/flipped-equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/Scarfs/squad.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#5342 Add phone voicemail
  Content.Shared/_RMC14/Telephone/RotaryPhoneComponent.cs
  Content.Shared/_RMC14/Telephone/RotaryPhoneDialingComponent.cs
  Content.Shared/_RMC14/Telephone/SharedTelephoneSystem.cs
  Resources/Audio/_RMC14/Machines/Phone/attributions.yml
  Resources/Audio/_RMC14/Machines/Phone/voicemail.ogg
Labels: Status: Needs Review

#5344 Add more words to xeno chat san
  Resources/Locale/en-US/_RMC14/cm-chatsan.ftl
  Resources/Prototypes/_RMC14/Accents/cm_word_replacements.yml
Labels: No C#, Status: Needs Review

#5338 New spit sprites for diff damages
  Resources/Prototypes/_RMC14/Entities/Objects/Xeno/xeno_projectiles.yml
  Resources/Textures/_RMC14/Objects/Xeno/xeno_projectiles.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Xeno/xeno_projectiles.rsi/neurotoxin.png
  Resources/Textures/_RMC14/Objects/Xeno/xeno_projectiles.rsi/xeno_acid.png
  Resources/Textures/_RMC14/Objects/Xeno/xeno_projectiles.rsi/xeno_acid_normal.png
  Resources/Textures/_RMC14/Objects/Xeno/xeno_projectiles.rsi/xeno_acid_strong.png
  Resources/Textures/_RMC14/Objects/Xeno/xeno_projectiles.rsi/xeno_acid_weak.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5326 XM88 Attachment Fixes
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/xm88_rifle.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rail.rsi/boomslang-scope_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rail.rsi/c_boomslang-scope_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rail.rsi/d_boomslang-scope_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rail.rsi/s_boomslang-scope_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/rail.rsi/u_boomslang-scope_a.png
Labels: No C#, Changes: Sprites

#5343 Make pickup dropped items hotkey more accurate
  Content.Shared/_RMC14/Inventory/SharedCMInventorySystem.cs
Labels: Status: Needs Review

#5253 Adds press armor light
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
Labels: No C#, Status: Needs Review

#5251 Emergency autoinjector sound
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/auto_injectors.yml
Labels: No C#, Status: Needs Review

#5101 Parity starting gear for some roles
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/quartermaster.yml
Labels: No C#, Status: Needs Review

#5221 Remove Explosion Recoil
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
Labels: Status: Needs Review

#5220 Removes the option for players to disable recoil their own recoil.
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review, Changes: UI

#5263 Starting headset adjustments
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/maint_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/nurse.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/survivor.yml
Labels: No C#, Status: Needs Review

#5081 Civilian Award Ribbons
  Content.Server/_RMC14/Medal/PlaytimeMedalSystem.cs
  Resources/Prototypes/_RMC14/Entities/Objects/medals.yml
  Resources/Textures/_RMC14/Objects/Medals/blue_ribbon.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Medals/blue_ribbon.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medals/blue_ribbon.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medals/red_ribbon.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Medals/red_ribbon.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medals/red_ribbon.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medals/white_ribbon.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Medals/white_ribbon.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medals/white_ribbon.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Medals/yellow_ribbon.rsi/equipped.png
  Resources/Textures/_RMC14/Objects/Medals/yellow_ribbon.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Medals/yellow_ribbon.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#5347 rules update
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Mutiny/CMMutinies.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Overview.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/CMCommandRoleplay.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/CMGeneralRoleplayStandards.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/CMSurvivorRoleplay.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/CMXenoRoleplay.xml
Labels: No C#

#5248 UGL Parity
  Content.Server/_RMC14/Trigger/OnShootTriggerAmmoTimerComponent.cs
  Content.Server/_RMC14/Trigger/RMCTriggerSystem.cs
  Content.Server/_RMC14/Trigger/TriggerOnThrowEndComponent.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/under_attachments.yml
Labels: Status: Needs Review

#5348 Fully complete facewear loadouts, add torn scarves, more coifs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/Clothing/EntitySystems/FoldableClothingSystem.cs
  Resources/Prototypes/_RMC14/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Masks/scarfs.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/Items/masks.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/loadout_groups.yml
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/black.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/black.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/black.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/desert.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/desert.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/desert.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/green.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/green.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/green.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/grey.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/grey.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/grey.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/snow.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/snow.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/urban.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/urban.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/TornScarfs/urban.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/balaclava.rsi/equipped-MASK-monkey.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/balaclava.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/balaclava.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/balaclava.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/coif.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/green_coif.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/green_coif.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/green_coif.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/green_coif.rsi/up-equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/grey_coif.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/grey_coif.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/grey_coif.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/grey_coif.rsi/up-equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/skull_coif.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/skull_coif.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/skull_coif.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/skull_coif_blue.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/skull_coif_blue.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/skull_coif_blue.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/swatclava.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/swatclava.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/swatclava.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/tan_coif.rsi/equipped-MASK.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/tan_coif.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Mask/tan_coif.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Mask/tan_coif.rsi/up-equipped-MASK.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5353 Make pickup dropped items hotkey smarter
  Content.Shared/_RMC14/Inventory/SharedCMInventorySystem.cs
Labels: Status: Needs Review

#5355 Update senior officer vendor
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
Labels: No C#, Status: Needs Review

#5351 Fix coif/balaclava toggling not showing snouts correctly
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/Clothing/EntitySystems/FoldableClothingSystem.cs
Labels: Status: Needs Review

#5349 3 New Lobby Backgrounds
  Resources/Prototypes/_RMC14/Lobby/lobbyscreens.yml
  Resources/Textures/_RMC14/Lobby/Fly_the_Friendly_Skies.png
  Resources/Textures/_RMC14/Lobby/Lone_Medevac.png
  Resources/Textures/_RMC14/Lobby/Move_Out.png
  Resources/Textures/_RMC14/Lobby/attributions.yml
Labels: No C#, Status: Needs Review

#5236 Port No EORG popup from Delta-V
  Content.Client/_RMC14/RoundEnd/NoEorgPopup.xaml
  Content.Client/_RMC14/RoundEnd/NoEorgPopup.xaml.cs
  Content.Client/_RMC14/RoundEnd/NoEorgPopupSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Resources/Locale/en-US/_RMC14/roundend/no-eorg-popup.ftl
Labels: Status: Needs Review, Changes: UI

#5246 Digital Clocks
  Content.Shared/_RMC14/RMCClock/RMCClockComponent.cs
  Content.Shared/_RMC14/RMCClock/RMCClockSystem.cs
  Resources/Locale/en-US/_RMC14/devices/clock.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/clock.yml
  Resources/Textures/_RMC14/Objects/Devices/clocks.rsi/cat_clock_motion.png
  Resources/Textures/_RMC14/Objects/Devices/clocks.rsi/cat_clock_stare.png
  Resources/Textures/_RMC14/Objects/Devices/clocks.rsi/cat_clock_stopped.png
  Resources/Textures/_RMC14/Objects/Devices/clocks.rsi/digital_clock.png
  Resources/Textures/_RMC14/Objects/Devices/clocks.rsi/meta.json
Labels: Changes: Sprites

#5364 Fireteam update fixes
  Content.Client/_RMC14/Tracker/SquadLeader/SquadInfoWindow.xaml
  Resources/Prototypes/_RMC14/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/basic_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Magazines/riotammo.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/vending_machines.yml
Labels: No C#, Status: Needs Review, Changes: UI

#5363 Fix carrier stray pixel
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_0.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5360 Updated Asteroid Tiles
  Resources/Textures/_RMC14/Tiles/planet/asteroid/floor.png
  Resources/Textures/_RMC14/Tiles/planet/asteroid/meta.json
  Resources/Textures/_RMC14/Tiles/planet/asteroid/plating.png
  Resources/Textures/_RMC14/Tiles/planet/asteroid/warning.png
  Resources/Textures/_RMC14/Tiles/planet/asteroid/warning_0.png
  Resources/Textures/_RMC14/Tiles/planet/asteroid/warning_1.png
  Resources/Textures/_RMC14/Tiles/planet/asteroid/warning_2.png
  Resources/Textures/_RMC14/Tiles/planet/asteroid/warning_3.png
  Resources/Textures/_RMC14/Tiles/planet/asteroid/warning_4.png
  Resources/Textures/_RMC14/Tiles/planet/asteroid/warning_5.png
  Resources/Textures/_RMC14/Tiles/planet/asteroid/warning_6.png
  Resources/Textures/_RMC14/Tiles/planet/asteroid/warning_7.png
Labels: No C#, Status: Needs Review

#5376 Primed UGL nades actually beep and show primed status
  Content.Server/_RMC14/Trigger/RMCTriggerSystem.cs
  Content.Server/_RMC14/Trigger/TriggerOnThrowEndComponent.cs
Labels: Status: Needs Review

#5377 Add more visual effects to xeno abilities
  Content.Shared/_RMC14/Xenonids/Cleave/XenoCleaveSystem.cs
  Content.Shared/_RMC14/Xenonids/Fling/XenoFlingSystem.cs
  Content.Shared/_RMC14/Xenonids/Heal/SharedXenoHealSystem.cs
  Content.Shared/_RMC14/Xenonids/Heal/XenoApplySalveActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Heal/XenoSacrificeHealActionEvent.cs
  Content.Shared/_RMC14/Xenonids/Impale/XenoImpaleSystem.cs
  Content.Shared/_RMC14/Xenonids/Pierce/XenoPierceSystem.cs
  Content.Shared/_RMC14/Xenonids/Plasma/XenoPlasmaSystem.cs
  Content.Shared/_RMC14/Xenonids/Punch/XenoPunchSystem.cs
  Resources/Prototypes/_RMC14/Effects/heal.yml
Labels: Status: Needs Review

#5374 Fix issues introduced by the new camouflage system
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/Helmets/marine_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/faction_helmets.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/pmc.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/spp.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/pmc.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/provost.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/spp.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/other.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/police.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/provost.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/spp.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/veteran.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Devices/binoculars.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/camotest.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/specialist_loadouts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/rail_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m83_grenade_launcher.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/mateba.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_scout_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_heavy_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/xm88_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/m63_smg.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/mou53_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/pump_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/xm51_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SmartGuns/smart_gun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Snipers/m96s_sniper.yml
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/engineer/snow.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/engineer/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/medic/snow.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/medic/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/rto/snow.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/rto/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/standard/snow.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/Uniforms/Marine/standard/snow.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#5372 Fix shields not taking fire and explosion damage
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/_RMC14/Damage/DamageModifyAfterResistEvent.cs
  Content.Shared/_RMC14/Shields/CrusherShieldSystem.cs
  Content.Shared/_RMC14/Shields/VanguardShieldSystem.cs
  Content.Shared/_RMC14/Shields/XenoShieldSystem.cs
Labels: Status: Needs Review

#5378 Fix voicemail sometimes appearing when it shouldn't
  Content.Shared/_RMC14/Telephone/SharedTelephoneSystem.cs
Labels: Status: Needs Review

#5365 Fix Ribbon Order
  Content.Server/_RMC14/Medal/PlaytimeMedalSystem.cs
Labels: Status: Needs Review

#5371 Command tablet cabinet
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/wall_lockers.yml
  Resources/Textures/_RMC14/Structures/Wallmounts/cmdcabinet.rsi/base.png
  Resources/Textures/_RMC14/Structures/Wallmounts/cmdcabinet.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Wallmounts/cmdcabinet.rsi/locked.png
  Resources/Textures/_RMC14/Structures/Wallmounts/cmdcabinet.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Wallmounts/cmdcabinet.rsi/open.png
  Resources/Textures/_RMC14/Structures/Wallmounts/cmdcabinet.rsi/unlocked.png
  Resources/Textures/_RMC14/Structures/Wallmounts/cmdcabinet.rsi/welded.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5366 Update Mp armor description and warden armor stats
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/marine_armor.yml
Labels: No C#, Status: Needs Review

#5379 Fireteam update fixes 2
  Content.Client/_RMC14/Tracker/SquadLeader/SquadInfoBui.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/_RMC14/Visor/VisorSystem.cs
  Resources/Prototypes/_RMC14/Actions/Marines/marine_order_actions.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/base_armor.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/visors.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Attachables/rmc_attachable_base.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/MRE/mre_main.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/MRE/mre_side.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/bar.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/prepared.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/rotary_phone.yml
Labels: Status: Needs Review

#5380 Fix salve overlay being wrong sometimes
  Content.Shared/_RMC14/Xenonids/Salve/XenoSalveSystem.cs
Labels: Status: Needs Review

#5381 Add guides for the Communications Tower, Sensor Tower, Combat Tech and Maint Tech, by Kynthos on Discord
  Resources/Prototypes/_RMC14/Guidebook/RMC14Guidebook.yml
  Resources/ServerInfo/Guidebook/_RMC14/NewPlayerGuide/RMCGuideCommunicationsTowers.xml
  Resources/ServerInfo/Guidebook/_RMC14/NewPlayerGuide/RMCGuideRoleCombatTechnician.xml
  Resources/ServerInfo/Guidebook/_RMC14/NewPlayerGuide/RMCGuideRoleMaintenanceTechnician.xml
  Resources/ServerInfo/Guidebook/_RMC14/RMCGuideNewPlayer.xml
Labels: No C#

#5390 More xeno sprite fixes
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Carrier/carrier.rsi/para_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_crest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_crest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_crest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_crest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_downed_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_downed_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_downed_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_fortify_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_fortify_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_fortify_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_fortify_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_walk_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_walk_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_walk_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/defender.rsi/defender_walk_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_crest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_crest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_crest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_crest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_downed_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_downed_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_downed_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_downed_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_fortify_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_fortify_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_fortify_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_fortify_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_walk_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_walk_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_walk_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Defender/steelcrest_defender.rsi/defender_walk_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner.rsi/runner_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner.rsi/runner_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner.rsi/runner_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner.rsi/runner_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner_primed.rsi/runner_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner_primed.rsi/runner_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner_primed.rsi/runner_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/acider_runner_primed.rsi/runner_rest_3.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/runner.rsi/runner_rest_0.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/runner.rsi/runner_rest_1.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/runner.rsi/runner_rest_2.png
  Resources/Textures/_RMC14/Mobs/Xenonids/Runner/runner.rsi/runner_rest_3.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5385 Fix phone busy sound
  Content.Shared/_RMC14/Telephone/SharedTelephoneSystem.cs
Labels: Status: Needs Review

#5399 Fix burrower damage sprite
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/burrower.yml
Labels: No C#, Status: Needs Review

#5395 Clock Date Fix
  Content.Server/Clock/ClockSystem.cs
  Content.Shared/Clock/GlobalTimeManagerComponent.cs
  Content.Shared/_RMC14/RMCClock/RMCClockSystem.cs
  Resources/Locale/en-US/_RMC14/devices/clock.ftl
Labels: Status: Needs Review

#5413 Fix ballistics goggles sprite
  Resources/Textures/_RMC14/Objects/Clothing/Eyes/Glasses/ballistic_goggles.rsi/equipped-MASK.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5412 Healing lesser drones don't give you energy
  Content.Shared/_RMC14/Xenonids/Heal/SharedXenoHealSystem.cs
Labels: Status: Needs Review

#5410 Minor M54CE2 Visual Tweak
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_heavy_rifle.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/classic.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/classic.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/classic.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/desert.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/desert.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/desert.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/jungle.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/jungle.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/jungle.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/snow.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/snow.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/snow.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/urban.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/urban.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Rifles/m54ce2/urban.rsi/icon.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5409 Flashlight Grip Sprite Fix
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/under.rsi/flashgrip_a-on.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5417 Fix vulp hair not hiding with helmets
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/vulpkanin.yml
Labels: No C#, Status: Needs Review

#5414 Update and fix some vendor contents
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
Labels: No C#, Status: Needs Review

#5415 Fix armor variants not being patreon named
  Content.Server/_RMC14/Armor/RMCArmorSystem.cs
  Content.Server/_RMC14/NamedItems/RMCNamedItemSystem.cs
  Content.Shared/_RMC14/Armor/RMCArmorVariantCreatedEvent.cs
Labels: Status: Needs Review

#5416 Finally fix burst visuals
  Content.Client/_RMC14/Xenonids/Infected/VictimBurstVisualizerSystem.cs
  Content.Client/_RMC14/Xenonids/Infected/XenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/BurstVisuals.cs
  Content.Shared/_RMC14/Xenonids/Parasite/SharedXenoParasiteSystem.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimBurstComponent.cs
  Content.Shared/_RMC14/Xenonids/Parasite/VictimBurstStateChangedEvent.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Corpses/civilians.yml
Labels: Status: Needs Review

#5405 Add labcoats and medical aprons
  Resources/Locale/en-US/_RMC14/button_clothing.FTL
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/OuterClothing/crew_coats.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/beaker.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/bottles.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/dropper.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/healing.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/hypospray.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/pill_canisters.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/pill_packets.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/pills.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/surgery.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/syringes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Medical/iv.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/medical.yml
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/cmolabcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/cmolabcoat.rsi/icon-open.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/cmolabcoat.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/cmolabcoat.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/cmolabcoat.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/labcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/labcoat.rsi/icon-open.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/labcoat.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/labcoat.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/labcoat.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/labcoat.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/labcoat.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/medicalapron.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/medicalapron.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/OuterClothing/Labcoats/medicalapron.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#5419 figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/penelope_cyclops_david.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5411 M77 Underbarrel Attachment Tweak
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m77_pistol.yml
Labels: No C#, Status: Needs Review

#5278 Tunnels cant be placed on the alymer
  Content.Server/_RMC14/Xenonids/Construction/Tunnel/XenoTunnelSystem.cs
  Content.Shared/_RMC14/Entrenching/ContentTileDefinition.cs
  Resources/Locale/en-US/_RMC14/xeno/xeno-construction.ftl
  Resources/Prototypes/_RMC14/Tiles/Almayer/almayer.yml
  Resources/Prototypes/_RMC14/Tiles/escape_pod_tiles.yml
  Resources/Prototypes/_RMC14/Tiles/shuttle_tiles.yml
Labels: Status: Needs Review

#5392 Prevent parasites from filling up xeno tunnels
  Content.Server/_RMC14/Xenonids/Construction/Tunnel/XenoTunnelSystem.cs
Labels: Status: Needs Review

#5404 xm88 nerf parity
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/xm88_rifle.yml
Labels: No C#, Status: Needs Review

#5391 FlashBang xeno stun remove
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
Labels: Status: Needs Review

#5352 Fixes "d-stock" to "d_stock"
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Attachments/stock_attachments.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/d_stock.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/stock.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#5389 Add some more parity starting gear
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/maint_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/mess_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/cargo_tech.yml
Labels: No C#, Status: Needs Review

#5401 Remove acid from dancer praetorian
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
Labels: No C#, Status: Needs Review

#5327 Assorted Barrel Attachment Fix
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/m44_revolver.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_heavy_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SMGs/m63_smg.yml
Labels: No C#, Status: Needs Review

#5252 M1984 AP magazine & 9mm misc
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_box_crafting.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/base_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m1984_pistol.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Pistols/m77_pistol.yml
Labels: No C#, Status: Needs Review

#5394 paint.dmi port and crayon parity~
  Resources/Prototypes/_RMC14/Catalog/Fills/Crates/supplies.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Fun/crayons.yml
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/black_camo.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/blue.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/brown_camo.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/camo.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayonace.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayonbi.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayonblue.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayonbox.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayonenby.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayonfluid.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayongay.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayongreen.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayonlesbian.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayonmime.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayonorange.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayonpan.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayonpurple.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayonrainbow.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayonred.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayontrans.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/crayonyellow.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/full_camo.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/green.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/green_camo.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/lipstick.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/lipstick_jade.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/lipstick_maroon.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/lipstick_purple.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/lipstick_red.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/orange.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/paint_black.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/paint_blue.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/paint_empty.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/paint_green.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/paint_neutral.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/paint_red.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/paint_violet.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/paint_white.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/paint_yellow.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/purple.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/red.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/skull_camo.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/sunscreen_stick.png
  Resources/Textures/_RMC14/Objects/Misc/paint.rsi/yellow.png
  Resources/migration.yml
Labels: No C#, Changes: Sprites, Status: Needs Review

#5274 [QoL] Xeno auto attack
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
Labels: Status: Needs Review

#5397 Add dropship crashing effects and explosion
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_RMC14/Dropship/DropshipSystem.cs
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/Dropship/DropshipComponent.cs
  Content.Shared/_RMC14/Dropship/SharedDropshipSystem.cs
  Resources/Audio/_RMC14/Dropship/attributions.yml
  Resources/Audio/_RMC14/Dropship/dropship_crash.ogg
  Resources/Audio/_RMC14/Dropship/dropship_incoming.ogg
  Resources/Maps/_RMC14/debug_alamo.yml
  Resources/Maps/_RMC14/debug_normandy.yml
Labels: Status: Needs Review, Changes: Map

#5423 Prevent client side deconstruct copies of barrels
  Content.Shared/_RMC14/Crate/CrateOpenableSystem.cs
Labels: Status: Needs Review

#5424 Fix MK1 mags not being transferable between each other and M54C/M54CE2, fix bullet boxes not updating appearance and examine, rto pack inhands
  Content.Shared/_RMC14/BulletBox/BulletBoxSystem.cs
  Content.Shared/_RMC14/Crate/CrateOpenableSystem.cs
  Resources/Locale/en-US/_RMC14/bullet-box.ftl
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_mk1_rifle.yml
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/rto.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Back/Backpacks/Marines/rto.rsi/inhand-right.png
Labels: Changes: Sprites, Status: Needs Review

#5425 Fix hijack dropship crash sound not playing
  Content.Server/_RMC14/Dropship/DropshipSystem.cs
Labels: Status: Needs Review

#5426 Underbarrel grenade launcher fixes, CO M59A stock fix
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m59a_prototype_rifle.yml
Labels: Changes: Sprites, Status: Needs Review

#5437 Give XO their Mk1 and tactical shotgun in weapons vendor
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
Labels: No C#, Status: Needs Review

#5453 Fix Kutjevo areas
  Resources/Prototypes/_RMC14/Entities/Areas/areas_kutjevo.yml
Labels: No C#, Status: Needs Review

#5460 Fixed Evac Pod door sprite
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Airlocks/evacuation_airlocks.yml
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/escape_pod_door.rsi/closed.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/escape_pod_door.rsi/closing.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/escape_pod_door.rsi/deny.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/escape_pod_door.rsi/locked.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/escape_pod_door.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/escape_pod_door.rsi/o_door_closing.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/escape_pod_door.rsi/o_door_opening.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/escape_pod_door.rsi/open.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/escape_pod_door.rsi/opening.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/escape_pod_door.rsi/panel_open.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/escape_pod_door.rsi/spark.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/escape_pod_door.rsi/unlit.png
  Resources/Textures/_RMC14/Structures/Doors/Airlocks/escape_pod_door.rsi/welded.png
  Resources/Textures/_RMC14/Structures/EscapePod/escape_pod_door.rsi/unlit.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5461 SEA Vendor Update (More Parity/Cleanup)
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/senior_enlisted_advisor.yml
Labels: No C#, Status: Needs Review

#5457 Sentinel neuro drains 2u instead of 1.75u on hit
  Content.Shared/_RMC14/Xenonids/Projectile/DrainOnHitComponent.cs
Labels: Status: Needs Review

#5459 Fixed typo in fluent file name, removed doubled "the"
  Resources/Locale/en-US/_RMC14/medical/medevac.ftl
  Resources/Locale/en-US/_RMC14/rmc-memorial.ftl
Labels: No C#, Status: Needs Review

#5450 Parity: Change table deconstruct doafter
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/furniture/rack.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/furniture/tableparts.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/furniture/tables.yml
Labels: No C#, Status: Needs Review, Parity

#5447 Fix uniforms
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/other.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/provost.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/spp.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/veteran.yml
Labels: No C#, Status: Needs Review

#5449 figurine
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/sips-on-puddles.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4844 Make sniper and scout cloaks turn off when the user is the last human left
  Content.Server/_RMC14/Rules/CMDistressSignalRuleSystem.cs
  Content.Shared/_RMC14/Armor/ThermalCloak/ThermalCloakSystem.cs
Labels: Status: Needs Review, Merge Conflict, Parity

#5367 localization of job prefixes
  Content.Shared/_RMC14/Marines/JobPrefixComponent.cs
  Content.Shared/_RMC14/Telephone/SharedRMCTelephoneSystem.cs
  Resources/Locale/en-US/_RMC14/ghost-roles/icb.ftl
  Resources/Locale/en-US/_RMC14/job/auxiliarysupport.ftl
  Resources/Locale/en-US/_RMC14/job/civilians.ftl
  Resources/Locale/en-US/_RMC14/job/command.ftl
  Resources/Locale/en-US/_RMC14/job/engineering.ftl
  Resources/Locale/en-US/_RMC14/job/marines.ftl
  Resources/Locale/en-US/_RMC14/job/medical.ftl
  Resources/Locale/en-US/_RMC14/job/militarypolice.ftl
  Resources/Locale/en-US/_RMC14/job/requisitions.ftl
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/gunship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/maint_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/ordnance_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/nurse.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/researcher.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/chief_military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/military_warden.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/correspondent.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/interstellar_commerce_bureau_liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/mess_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/cargo_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/quartermaster.yml
Labels: Status: Needs Review

#5452 Add new vendor content and change names
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/command.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/medical.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/pilot.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/engineer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/leader.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/medic.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/rifleman.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/specialist.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/team_leader.yml
Labels: No C#, Status: Needs Review

#3797 Add playtime marine ranks!
  Content.Client/_RMC14/Marines/Roles/Ranks/RankSystem.cs
  Content.Server/_RMC14/Marines/MarineAnnounceSystem.cs
  Content.Server/_RMC14/Marines/Roles/Ranks/RankSystem.cs
  Content.Shared/_RMC14/Marines/Roles/JobPrototype.cs
  Content.Shared/_RMC14/Marines/Roles/Ranks/RankComponent.cs
  Content.Shared/_RMC14/Marines/Roles/Ranks/RankPrototype.cs
  Content.Shared/_RMC14/Marines/Roles/Ranks/SharedRankSystem.cs
  Resources/Locale/en-US/_RMC14/chat/announcement.ftl
  Resources/Locale/en-US/_RMC14/roles/rank-component.ftl
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/auxiliary_support_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/gunship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/intel_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/maint_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/ordnance_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/doctor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/nurse.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/researcher.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/chief_military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/military_warden.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/correspondent.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/senior_enlisted_advisor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/cargo_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/quartermaster.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/survivor.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/Colony/civilian.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/UNMC/enlisted.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/UNMC/officers.yml
  Resources/Prototypes/_RMC14/Roles/Ranks/We-Ya/liaison.yml
Labels: Status: Needs Review

#5448 Make Food, Engineering and Medical vendors pullable.
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/base.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/engineering.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/food.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/general.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/medical.yml
Labels: No C#, Status: Needs Review, Parity

#5440 fix "nap" in vox prototype
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: No C#, Status: Needs Review

#5441 Update drop ship SFX volume
  Content.Shared/_RMC14/Dropship/DropshipComponent.cs
Labels: Status: Needs Review

#3752 Abilities with shared cooldowns disables all other actions until the doAfter is completed
  Content.Shared/_RMC14/Actions/RMCActionsSystem.cs
  Content.Shared/_RMC14/Xenonids/AcidShroud/XenoAcidShroudSystem.cs
  Content.Shared/_RMC14/Xenonids/Bombard/XenoBombardSystem.cs
Labels: Status: Needs Review

#5028 Compact and Tactical Nailgun
  Content.Shared/_RMC14/Repairable/RMCRepairableComponent.cs
  Content.Shared/_RMC14/Repairable/RMCRepairableSystem.cs
  Resources/Locale/en-US/_RMC14/rmc-repairable.ftl
  Resources/Prototypes/_RMC14/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/webbing.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/nailgun.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Crew/requisitions.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/bundles.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_plasteel.yml
  Resources/Prototypes/_RMC14/Entities/Survivor/survivor_preset.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_compact.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SMGs/nailgun_tactical.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#5422 Add new MOU53 sounds + case fix
  Resources/Audio/_RMC14/Weapons/Guns/Breech/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Breech/pkd_close_chamber.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Breech/pkd_open_chamber.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_mou53.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Reload/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Reload/gun_mou_reload.ogg
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/gun_cases.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/mou53_shotgun.yml
Labels: No C#, Changes: Sprites, Status: Needs Review

#5328 Misc shells, m4spr, mataba parity fixes
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m4spr_scout_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/shotgun_pellets.yml
Labels: No C#, Status: Needs Review

#5341 Autolathe Recipes and T-ray Scanner
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe_recipes.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/engineering.yml
  Resources/Textures/_RMC14/Objects/Tools/t-ray.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Tools/t-ray.rsi/tray-off.png
  Resources/Textures/_RMC14/Objects/Tools/t-ray.rsi/tray-on.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#5435 UNMC Logo Decal
  Resources/Prototypes/_RMC14/Decals/unmc.yml
  Resources/Textures/_RMC14/Decals/unmc.rsi/meta.json
  Resources/Textures/_RMC14/Decals/unmc.rsi/unmc1.png
  Resources/Textures/_RMC14/Decals/unmc.rsi/unmc2.png
  Resources/Textures/_RMC14/Decals/unmc.rsi/unmc3.png
  Resources/Textures/_RMC14/Decals/unmc.rsi/unmc4.png
  Resources/Textures/_RMC14/Decals/unmc.rsi/unmc5.png
  Resources/Textures/_RMC14/Decals/unmc.rsi/unmc6.png
  Resources/Textures/_RMC14/Decals/unmc.rsi/unmc7.png
  Resources/Textures/_RMC14/Decals/unmc.rsi/unmc8.png
  Resources/Textures/_RMC14/Decals/unmc.rsi/unmc9.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#4773 Lighter adjustment
  Resources/Prototypes/_RMC14/Entities/Objects/Tools/lighters.yml
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/lighter_u.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/lighter_u_on.png
  Resources/Textures/_RMC14/Objects/Tools/Lighters/basic.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#5429 Added skills to CMBs, PMCs and pizza guy
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PMC/leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/PMC/standard.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/bureau.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/pizza.yml
Labels: No C#, Status: Needs Review

#5402 Sticky and Fast resin + construction fixes
  Content.Shared/_RMC14/Xenonids/Construction/Events/XenoHiveStructureConstructionFinishedEvent.cs
  Content.Shared/_RMC14/Xenonids/Construction/FloorResin/FloorResinSpeedModifierComponent.cs
  Content.Shared/_RMC14/Xenonids/Construction/FloorResin/StickyResinSurgeBlockerComponent.cs
  Content.Shared/_RMC14/Xenonids/Construction/SharedXenoConstructionSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/XenoConstructionBuildSpeedComponent.cs
  Content.Shared/_RMC14/Xenonids/ResinSurge/ResinSurgeStickyResinDoafter.cs
  Content.Shared/_RMC14/Xenonids/ResinSurge/SharedXenoResinSurgeSystem.cs
  Content.Shared/_RMC14/Xenonids/ResinSurge/XenoResinSurgeActionComponent.cs
  Content.Shared/_RMC14/Xenonids/ResinSurge/XenoResinSurgeComponent.cs
  Content.Shared/_RMC14/Xenonids/Weeds/SharedXenoWeedsSystem.cs
  Content.Shared/_RMC14/Xenonids/Weeds/XenoWeedsComponent.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_utility_actions.yml
  Resources/Prototypes/_RMC14/Audio/xeno_sound_collections.yml
  Resources/Prototypes/_RMC14/Effects/xeno_structures.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/hivelord.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/lesser_drone.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/queen.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_floor_resin.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_weeds.yml
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/meta.json
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete0.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete1.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete10.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete11.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete12.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete13.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete14.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete15.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete2.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete3.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete4.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete5.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete6.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete7.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete8.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete9.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_base.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_dir1.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_dir10.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_dir11.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_dir12.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_dir13.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_dir14.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_dir2.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_dir3.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_dir4.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_dir5.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_dir6.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_dir7.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_dir8.png
  Resources/Textures/_RMC14/Effects/xeno_secrete.rsi/secrete_dir9.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_floor_resins.rsi/fast.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_floor_resins.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Xenos/xeno_floor_resins.rsi/sticky.png
  Resources/Textures/_RMC14/Structures/Xenos/xeno_floor_resins.rsi/sticky_weak.png
Labels: Changes: Sprites, S: Needs Review

#3751 update roletime requirements for high experience requiring roles
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/maint_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/combat_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/chief_military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/MilitaryPolice/military_police.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/senior_enlisted_advisor.yml
Labels: No C#

#5467 Fix crafted M1984 AP magazine boxes not fitting any mags
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magazine_boxes.yml
Labels: S: Needs Review, S: Untriaged

#5469 Add Duke 'Big Boss' Morris figurine
  Content.Client/Lobby/UI/CharacterSetupGui.xaml
  Resources/Prototypes/_RMC14/Entities/Objects/patron_figurines.yml
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/duke_big_boss_morris.png
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/meta.json
  Resources/Textures/_RMC14/Objects/patron_figurines.rsi/mizuno_kitty_drakonovisch.png
Labels: Changes: Sprites, S: Needs Review, Changes: UI, S: Untriaged

#5470 sop wording fixes
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPDepartment.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPEquipment.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPGeneral.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPNONModDepartment.xml
Labels: S: Untriaged

#5471 Fix speed sticky/fast resin off weeds not going away
  Content.Shared/_RMC14/Xenonids/Construction/FloorResin/ResinSlowdownModifierComponent.cs
  Content.Shared/_RMC14/Xenonids/Construction/FloorResin/ResinSpeedupModifierComponent.cs
  Content.Shared/_RMC14/Xenonids/Weeds/AffectableByWeedsComponent.cs
  Content.Shared/_RMC14/Xenonids/Weeds/SharedXenoWeedsSystem.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_floor_resin.yml
Labels: S: Needs Review, S: Untriaged

#5474 Remove xenos ability to examine ranks
  Content.Shared/_RMC14/Marines/Roles/Ranks/SharedRankSystem.cs
Labels: S: Needs Review, S: Untriaged

#5472 Boiler bombard/shroud does not get stuck disabled after stun during a doafter
  Content.Shared/_RMC14/Actions/RMCActionsSystem.cs
Labels: S: Needs Review, S: Untriaged

#5477 Cleanup all slowing effects + minor fixes
  Content.Client/_RMC14/Xenonids/Hud/XenoHudOverlay.cs
  Content.Shared/_RMC14/Explosion/SharedRMCExplosionSystem.cs
  Content.Shared/_RMC14/Slow/RMCRootedComponent.cs
  Content.Shared/_RMC14/Slow/RMCSlowSystem.cs
  Content.Shared/_RMC14/Slow/RMCSlowdownComponent.cs
  Content.Shared/_RMC14/Slow/RMCSpeciesSlowdownModifierComponent.cs
  Content.Shared/_RMC14/Slow/RMCSuperSlowdownComponent.cs
  Content.Shared/_RMC14/Slow/XenoImmobileVisualsComponent.cs
  Content.Shared/_RMC14/Slow/XenoSlowVisualsComponent.cs
  Content.Shared/_RMC14/Stun/AmmoSlowedComponent.cs
  Content.Shared/_RMC14/Stun/RMCSizeStunSystem.cs
  Content.Shared/_RMC14/Xenonids/Aid/XenoAidComponent.cs
  Content.Shared/_RMC14/Xenonids/Blitz/XenoBlitzSystem.cs
  Content.Shared/_RMC14/Xenonids/Charge/XenoChargeComponent.cs
  Content.Shared/_RMC14/Xenonids/Charge/XenoChargeSystem.cs
  Content.Shared/_RMC14/Xenonids/Cleave/CleaveRootedComponent.cs
  Content.Shared/_RMC14/Xenonids/Cleave/XenoCleaveComponent.cs
  Content.Shared/_RMC14/Xenonids/Cleave/XenoCleaveSystem.cs
  Content.Shared/_RMC14/Xenonids/Crippling/VictimCripplingStrikeDamageComponent.cs
  Content.Shared/_RMC14/Xenonids/Crippling/VictimCripplingStrikeSlowedComponent.cs
  Content.Shared/_RMC14/Xenonids/Crippling/XenoActiveCripplingStrikeComponent.cs
  Content.Shared/_RMC14/Xenonids/Crippling/XenoCripplingStrikeComponent.cs
  Content.Shared/_RMC14/Xenonids/Crippling/XenoCripplingStrikeSystem.cs
  Content.Shared/_RMC14/Xenonids/Devour/XenoDevourComponent.cs
  Content.Shared/_RMC14/Xenonids/Devour/XenoDevourSystem.cs
  Content.Shared/_RMC14/Xenonids/Headbutt/XenoHeadbuttSystem.cs
  Content.Shared/_RMC14/Xenonids/Impale/XenoImpaleSystem.cs
  Content.Shared/_RMC14/Xenonids/Leap/XenoLeapSystem.cs
  Content.Shared/_RMC14/Xenonids/MeleeSlow/XenoMeleeSlowComponent.cs
  Content.Shared/_RMC14/Xenonids/MeleeSlow/XenoMeleeSlowSystem.cs
  Content.Shared/_RMC14/Xenonids/MeleeSlow/XenoSlowedComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/CoughedBloodComponent.cs
  Content.Shared/_RMC14/Xenonids/Neurotoxin/SharedNeurotoxinSystem.cs
  Content.Shared/_RMC14/Xenonids/Paralyzing/XenoParalyzingSlashComponent.cs
  Content.Shared/_RMC14/Xenonids/Paralyzing/XenoParalyzingSlashSystem.cs
  Content.Shared/_RMC14/Xenonids/Pierce/XenoPierceComponent.cs
  Content.Shared/_RMC14/Xenonids/Pierce/XenoPierceSystem.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/Slowing/SlowedBySpitComponent.cs
  Content.Shared/_RMC14/Xenonids/Projectile/Spit/XenoSpitSystem.cs
  Content.Shared/_RMC14/Xenonids/Punch/PunchSlowedComponent.cs
  Content.Shared/_RMC14/Xenonids/Punch/XenoPunchSystem.cs
  Content.Shared/_RMC14/Xenonids/Screech/SharedXenoScreechSystem.cs
  Content.Shared/_RMC14/Xenonids/Stomp/SharedXenoStompSystem.cs
  Content.Shared/_RMC14/Xenonids/Stomp/XenoStompComponent.cs
  Content.Shared/_RMC14/Xenonids/Sweep/XenoTailSweepComponent.cs
  Content.Shared/_RMC14/Xenonids/Sweep/XenoTailSweepSystem.cs
  Content.Shared/_RMC14/Xenonids/TailTrip/TailTripSlowedComponent.cs
  Content.Shared/_RMC14/Xenonids/TailTrip/XenoTailTripComponent.cs
  Content.Shared/_RMC14/Xenonids/TailTrip/XenoTailTripSystem.cs
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_offense_actions.yml
  Resources/Prototypes/_RMC14/Actions/Xeno/xeno_utility_actions.yml
  Resources/Prototypes/_RMC14/Effects/freeze.yml
  Resources/Prototypes/_RMC14/Effects/xeno_sloweffects.yml
  Resources/Prototypes/_RMC14/Effects/xeno_stomp.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/base_xeno.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/burrower.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/crusher.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Xeno/praetorian.yml
Labels: S: Needs Review, S: Untriaged

#5479 Fix M44 Marksman Speed Loader
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Revolvers/m44_revolver.yml
Labels: S: Needs Review, S: Untriaged

#5476 Sensor tower fixes
  Content.Shared/_RMC14/Sensor/SensorTowerSystem.cs
Labels: S: Needs Review, S: Untriaged

#5478 misc fixes
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/rsh9_fire.ogg
  Resources/Prototypes/_RMC14/Entities/Structures/Storage/reagent_tank.yml
Labels: S: Needs Review, S: Untriaged

#5482 Status display mission time
  Content.Client/_RMC14/AlertLevel/RMCAlertLevelDisplayVisualizerSystem.cs
  Content.Shared/_RMC14/AlertLevel/RMCAlertLevelDisplayComponent.cs
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/status_display.yml
Labels: S: Needs Review, S: Untriaged

#5485 Fix blitz not hitting anything
  Content.Shared/_RMC14/Xenonids/Blitz/XenoBlitzSystem.cs
Labels: S: Needs Review, S: Untriaged

#5489 Fixed welderpacks
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
Labels: S: Needs Review, S: Untriaged, size/XS, Changes: No C#

#5490 Weed killer fixes
  Content.Server/_RMC14/Mortar/MortarSystem.cs
  Content.Server/_RMC14/Requisitions/RequisitionsSystem.cs
  Content.Server/_RMC14/Roles/FindParasiteSystem.cs
  Content.Server/_RMC14/WeedKiller/WeedKillerCommand.cs
  Content.Server/_RMC14/Xenonids/Burrow/XenoBurrowSystem.cs
  Content.Server/_RMC14/Xenonids/Construction/Tunnel/XenoTunnelSystem.cs
  Content.Shared/_RMC14/Areas/AreaComponent.cs
  Content.Shared/_RMC14/Areas/AreaSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Camera/SharedRMCCameraSystem.cs
  Content.Shared/_RMC14/Medical/MedevacStretcher/MedevacStretcherSystem.cs
  Content.Shared/_RMC14/OrbitalCannon/OrbitalCannonSystem.cs
  Content.Shared/_RMC14/Power/SharedRMCPowerSystem.cs
  Content.Shared/_RMC14/WeedKiller/WeedKillerComponent.cs
  Content.Shared/_RMC14/WeedKiller/WeedKillerSystem.cs
  Content.Shared/_RMC14/Xenonids/Announce/SharedXenoAnnounceSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/ResinHole/SharedXenoResinHoleSystem.cs
  Content.Shared/_RMC14/Xenonids/Construction/Tunnel/SharedXenoTunnelSystem.cs
  Resources/Locale/en-US/_RMC14/commands/rmc-toolshed-commands.ftl
  Resources/Maps/_RMC14/shiva.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Objects/poison_gas.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_floor_resin.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Xeno/xeno_resin_hole.yml
Labels: S: Needs Review, Changes: Map, S: Untriaged, size/L
